[2017-04-04 13:58] kingthorin commented on #3362
What OS?
What browser?
Do you have an outbound proxy specified (i.e.: upstream of ZAP)?

[2017-04-04 14:14] thc202 commented on #3359
@kingthorin could this issue be closed with the changes merged? Or, it's still something missing?

[2017-04-04 14:18] kingthorin commented on #3359
Seems good to me, thanks!

[2017-04-04 14:18] #3359 closed

[2017-04-04 14:27] thc202 commented on #3359
Great, will regenerate the wiki pages once zaproxy/zap-core-help#86 gets merged (to add the option included in 2.6.0).

[2017-04-04 15:27] thc202 commented on #3359
Wiki should show the latest updates.

[2017-04-04 16:58] kingthorin opened #3365 "Enhancement: Additional Global Exclude default patterns"
Food for thought ... re: <sub>https://github.com/zaproxy/zaproxy/blob/efce236ddf6f89516de6cd0592e22372149e0e05/src/org/zaproxy/zap/extension/globalexcludeurl/GlobalExcludeURLParam.java#L63</sub>

- [x] `^https?://detectportal\.firefox\.com.*$` Firefox mechanism for detecting captive portals.
- [x] `^https?://www\.google-analytics\.com.*$` Google analytics....nuff said.
- [x] `^https?://ciscobinary

[2017-04-04 18:57] kingthorin commented on #3362
http://stackoverflow.com/questions/43206239/ssl-handshake-error-for-a-specific-url-only-when-using-a-proxy

[2017-04-04 19:06] thc202 commented on #3362
I'm able to reproduce the issue only when "SSLv2Hello" is selected. Do you have that selected?

[2017-04-04 19:39] ChrisFernandez commented on #3051
I am still having this issue when I run it using the wrapper... ... very weird.

[2017-04-04 21:32] kingthorin commented on #3051
You can report issues re: BlackArch Linux over here: https://github.com/BlackArch/blackarch/issues

[2017-04-05 12:49] Captain-Kludge opened #3369 "AJAX Spider via Firefox closes immediately after upgrade to ZAP 2.6.0"
Everything was running properly with Firefox 45.8 ESR (Selenium 2.9.1) and ZAP 2.5.0 when I would use the AJAX Spider.

I upgraded to ZAP 2.6.0 yesterday and now the Firefox window closes almost immediately, though I can tell that it says  "your connection is not secure", fails to load/browse and then closes automatically. Based on that error, I am guessing that the Firefox instance started by the

[2017-04-05 13:06] thc202 commented on #3369
That Firefox version is not supported with geckodriver (bundled in ZAP 2.6.0), if you want to keep using that version you need to remove the "WebDrivers" add-on corresponding to your OS ("Linux WebDrivers", "MacOS WebDrivers" or "Windows WebDrivers").

For known supported versions of Firefox and which ones require geckodriver:
https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsSeleniumIntro

[2017-04-05 13:11] Radio commented on #1313
Faced the same issue, trying to scan https://theatres.kh.ua
The response size is 770724 bytes.
Is the parseable size limit documented anywhere? Is there any ability to increase this size?
512k seems quite a low limit.

[2017-04-05 13:21] thc202 commented on #1313
It's not documented in the user guide (just in the code [1]), it's currently hardcoded. Guess we could remove the limit or expose an option to control it?

[1] https://github.com/zaproxy/zaproxy/blob/8e4d34f3a1b57290ff651c5df547ce6f6ec63e29/src/org/zaproxy/zap/spider/filters/DefaultParseFilter.java#L31-L32

[2017-04-05 13:24] psiinon commented on #1313
+1 for significantly increasing it and adding an option allowing it to be changed.
Are there any db tables that could be affected?

[2017-04-05 13:35] thc202 commented on #1313
I don't think so (we have already a specific limit for the tables [1]).

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsDatabase

[2017-04-05 13:46] thc202 commented on #1313
Issue updated, an option will be added to configure the limit and it will be increased to 2.5M.

[2017-04-05 14:14] Captain-Kludge commented on #3369
Removing the WebDrivers add-on (and restarting ZAP) had the same result as before. Dang!

However, I am not married to that version of Firefox, so I will now attempt to switch to one of the known supported versions that doesn't have problems with self-signed certs (version 52, if I read mozilla Bug 1103196 correctly).

Addition: ZAP 2.6.0 works fine with Firefox 52, sorry for being a bother!

[2017-04-05 15:41] kingthorin commented on #3365
I've definitely going to do a PR for the first 3. What are everyone's thoughts on the 4th one? Since they're user enable-able does it matter that it might be too broad?

[2017-04-05 15:44] psiinon commented on #3365
I'm fine with the fonts one:)

[2017-04-05 15:50] thc202 commented on #3365
Same here.

[2017-04-05 16:46] psiinon commented on #37
SOAP and OpenAPI both now supported by add-ons: https://zaproxy.blogspot.co.uk/2017/04/exploring-apis-with-zap.html

[2017-04-05 16:46] #37 closed

[2017-04-05 22:29] JordanGS opened #3371 "Command Line Help"
New feature request per IRC conversation to be able to get important ZAP information such as the Home Directory for the system from the command line without initialization ZAP.

And any other information we deem could be useful.

[2017-04-06 01:27] kingthorin commented on #3362
@khalidse have you resolved your issue?

[2017-04-06 07:36] thc202 commented on #1393
Closing, the downloads are now offered over HTTPS:

[2017-04-06 07:36] #1393 closed

[2017-04-06 07:49] thc202 commented on #3316
@swatihpatil any info on this?

[2017-04-06 07:55] #3365 closed

[2017-04-06 08:57] psiinon commented on #3371
This could include things like OS and Java versions, and could be really useful for generating diagnostics for issues. We could also give access to this via the UI so people can cut-n-paste it into issues if we need it.

[2017-04-06 09:53] psiinon opened #3377 "ZAP can no longer load non UTF8 scripts"
An example is https://github.com/mozilla/zest/blob/develop/examples/BodgeIt_Register_XSS.zst

Likely to be an unintended side effect of #2773

We should be able to cope with scripts that have been created with previous versions of ZAP :/

[2017-04-06 10:24] thc202 commented on #3377
Exception:
[code]

Worth noting that the example script does not load correctly in 2.5.0:
[code]
but that's another (unrelated) issue.

[2017-04-06 12:14] angshujit opened #3378 "Cannot open https website for semi automatic testing"
Hello,
I just installed ZAP Version 2.6.0 for Windows. I want to test our application which is hosted in server with https. Steps that I have taken so far are as follows:

1. Open ZAP. From menu, open Tools -> Options -> Dynamic SSL Certificate. Here it is already showing a certificate. I save the certificate in my desktop.
2. I am trying to use Chrome Version 57.0.2987.133 to test the application

[2017-04-06 12:23] srirambk commented on #2634
Please let me know is anyone looking into this issue? Even I encountered the same problem.

[2017-04-06 13:06] kingthorin commented on #3378
Chrome on Windows uses the OS certificate store.
https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsDynsslcert#windows--internet-explorer

[2017-04-06 14:04] thc202 commented on #2634
Yes, I uploaded a test version [1] along time ago to obtain some feedback. Apparently it works in some cases, others don't. I'll have to take a look at it again.

You're more than welcome to try it, note that it's old (some features/fixes might be missing).

[1] https://github.com/thc202/zap-extensions/releases/tag/zest-test-version

[2017-04-06 20:52] thc202 commented on #3065
Released in version 26 of Active scanner rules add-on (bundled in ZAP 2.6.0).

[2017-04-06 20:52] thc202 commented on #2973
Released in version 26 of Active scanner rules add-on (bundled in ZAP 2.6.0).

[2017-04-06 22:37] JordanGS commented on #3371
@psiinon per discussion with Jenkins developer on [google group](https://groups.google.com/forum/#!topic/jenkinsci-dev/_SC7dwWpIb8) and irc. When Jenkins is configured to be on a Master (Jenkins) and slave (ZAP), the job configuration page is solely on the master and does not have access to the slave.

The first instance that the ZAP Home directory is requires is on the Job Configuration page whic

[2017-04-07 07:49] srirambk commented on #2634
Yes.  I tried it and still getting the same issue. Glad to know that you are going to look at it.

[2017-04-07 08:17] thc202 commented on #2634
Thanks for giving it a try.

How did you start the sequence scanning? With Active Scan dialogue or through the context menu "Active scan sequence"? With the test version no cookie was being sent at all?

[2017-04-07 09:00] thc202 commented on #3377
The example was fixed in the meantime, it can be opened in ZAP without problems.

To reproduce the (charset) issue it needs to be used the older version:
https://raw.githubusercontent.com/mozilla/zest/6b16c95efb7784b99b89d033a3fce0a3c1006a5f/examples/BodgeIt_Register_XSS.zst

[2017-04-07 11:50] angshujit commented on #3378
Thank you for this. It worked. I then tried with Firefox. Setting up in Firefox is much easy.

[2017-04-07 11:50] #3378 closed

[2017-04-07 12:25] thc202 commented on #3378
Thanks for letting us know.

[2017-04-07 15:00] thc202 commented on #2983
@psiinon can this issue be closed? Tags of main releases are already being signed (per 2.6.0), for the installers we have #3337.

[2017-04-07 15:04] psiinon commented on #2983
yeah :)

[2017-04-07 15:04] #2983 closed

[2017-04-07 21:29] thc202 opened #3383 "Prompt the user for a charset when failed to read the script file"
From and depends on #3377, change Script Console add-on to prompt the user if both UTF-8 and default charset fails to read the file.

Add-on:
Script Console

[2017-04-08 13:15] gmaran23 opened #3384 "typo in the install4j installation wizard"
Uninstall Old Version
Uninstall Old Version

An older version was detected. The older version must be installed before continuing with installation. Press uninstall to unistak and continue...

-----------------------------------

I doubt the work unistak was put there intentionally.

![image](https://cloud.githubusercontent.com/assets/7804480/24829213/8ad34de6-1c8b-11e7-8397-dcf20e70db4c.png)

[2017-04-08 14:20] thc202 commented on #3384
Thanks, it should be `uninstall`.

[2017-04-09 01:56] kingthorin commented on #1681
Does this really need a limit anymore? Spiders don't appear to have a limit.

[2017-04-09 18:01] kerberosmansour commented on #2990
@thc202 do you see this done in May or April?

[2017-04-09 19:29] kingthorin commented on #2990
If someone decides to tackle it :-) All PRs welcome.

https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/bugtracker

[2017-04-10 08:10] psiinon commented on #2990
This could be a good student project...

[2017-04-10 08:24] psiinon commented on #1681
This was introduced after some investigations showed that the Active Scan tab was significantly slowing down very large scans. We will be sending a lot more requests via an Active Scan than the Spider. I'd be happy if we could remove this limit (or change it to show the most recent requests) but we would need to make sure it no longer impacts performance.

[2017-04-10 08:27] thc202 commented on #2990
@kerberosmansour since it does not depend on me (not assigned to me, just raised the issue) it's hard to predict...

[2017-04-10 08:31] #3353 closed

[2017-04-10 08:32] thc202 commented on #1681
Yes, the limit is still needed, we can only remove the limit once the results are properly (#1661) paginated. The spiders should also have a limit but not as evident because they usually (#1288) send/show less messages.

[2017-04-10 08:45] #3377 closed

[2017-04-10 17:10] g-k opened #3388 "push python api client 0.0.9 tag"
The download URL from https://pypi.python.org/pypi/python-owasp-zap-v2.4 points to:

https://github.com/zaproxy/zap-api-python/releases/tag/0.0.9

which 404s

Should be able to fix it by running the following in zap-api-python:

[code]

[2017-04-10 17:24] thc202 commented on #3388
I'd suggest `64fae0ff4b092bcfe70de3e389dc9e9274aaffd4`, when the changes landed in the main branch.

[2017-04-10 18:05] thc202 commented on #3388
Tag pushed.

[2017-04-10 18:05] #3388 closed

[2017-04-10 19:26] kingthorin opened #3389 "Enhancement: Relative Path Confusion - Dynamic Risk?"
I'd like to suggest that the Relative Path Confusion scanner be adjusted as follows.

The "solution" is:

Within the application, the correct use of the "&lt;base&gt;" HTML tag in the HTTP response will unambiguously specify the base URL for all relative URLs in the document.
Use the "Content-Type" HTTP response header to make it harder for the attacker to force the web browser to mis-interpret th

[2017-04-10 19:58] thc202 commented on #2990
#2991 might be a good addition to the project.

[2017-04-10 21:31] g-k opened #3390 "GPG sign zap-api-python releases"
Allow users to detect tampering.

https://pypi.python.org/security

can check via has_sig field on releases in https://pypi.python.org/pypi/python-owasp-zap-v2.4/json

[2017-04-11 01:11] JordanGS commented on #3027
@thc202

Per IRC discussion. It would be good to be able to support the import/export of alert filter files but it would also be good to be able to allow users to add one or more override filters. Since this is done on the Job Config Page, i would need access to a publically accessible list of Alerts and their associated codes so that i can populate the drop down list. Is this information availabl

[2017-04-11 01:58] kingthorin commented on #3027
Is this what you're looking for?
https://github.com/zaproxy/zaproxy/blob/develop/src/doc/scanners.md

[2017-04-11 04:01] JordanGS commented on #3027
@kingthorin yes and no, seems like that is the full list. I need the one being used by Alert Filters. So i was wondering where that was, was it accessible outside of the API?

Also the list you linked, is that updated the moment that one of those numbers changes or something is added/deprecated?

[2017-04-11 07:33] thc202 commented on #3027
That's the closest to what the Alert Filters add-on uses, the add-on obtains the names/IDs directly from the scanners at runtime. We could generate a XML(?) file with that info (which would contain the same info as scanners.md, except for the deprecated scanners/IDs).

Yes, that file is kept up-to-date.

[2017-04-11 10:25] thc202 opened #3392 "Show all messages sent by the Spider"
The Spider does not show (under Messages tab) the messages that were sent but not parsed. Those messages should be shown as well, preferably with the indication that they were not parsed and the reason why.

[2017-04-11 10:39] thc202 opened #3393 "JxBrowser - Browser prematurely closed while AJAX Spidering"
Steps to reproduce the issue:
1. Run ZAP with JxBrowser (core and OS specific) and AJAX Spider add-ons installed;
2. Run the AJAX Spider against WIVET; [1]
3. Note that the browser is closed prematurely and some exceptions are logged when spidering the page 4.php.
[code]

Add-on:
JxBrowser (Linux/macOS/Windows) version 1.

[1] https://github.com/bedirhan/wivet

[2017-04-11 14:53] psiinon opened #3394 "Enable Session Tracking (Cookie) option not persisted"
This is accessed via the Edit menu, and as its not persisted it cant be set from the command line :(

[2017-04-11 14:57] psiinon opened #3395 "Add option to spider anonymously with a session"
The spider (trad, maybe ajax too?) by default makes completely new requests, ie it does not maintain any session. It will only maintain a session if you spider as a user, force the session or enable session tracking (which cant be set from the cmdline #3394 )
A new option to spider anonymously while maintaining the session (just in the spider) would be very useful.
It should probably even be the d

[2017-04-11 15:32] kingthorin opened #3396 "Enhance DOM XSS scanner addon to use Selenium addon"
Ref: https://groups.google.com/forum/#!topic/zaproxy-develop/-CmXy0Zl7LU

The DOM XSS scanner doesn't work with up-to-date versions of Firefox (ESR 45 still works). It should be enhanced to use the Selenium Addon like the Ajax Spider does.

[2017-04-12 20:57] kingthorin commented on #3362
@khalidse have you resolved your issue?

[2017-04-12 20:59] kingthorin commented on #3248
@pasaf any luck doing the jvm stuff @thc202 suggested a month ago? Is there something more we can do here? Can this issue be closed?

[2017-04-12 21:00] kingthorin commented on #3247
@prakhash any further details?

[2017-04-12 22:00] thc202 opened #3399 "Do not uninstall files that are declared by other add-ons"
Steps to reproduce the issue:
1. Run ZAP with Zest and Fuzzer add-ons installed;
2. Uninstall Fuzzer add-on;
3. Create a new (default) Stand Alone Zest script;
4. Try to add a "Loop File" statement and note that nothing happens. In the log there's an exception:
[code]
Caused by the missing file "fuzzers.jbrf" that was removed when the Fuzzer add-on was uninstalled (both add-ons use that file).

[2017-04-12 22:02] thc202 opened #3400 "Zest add-on should cope better with missing file fuzzers.jbrf"
From #3399, Zest add-on should cope better with the missing file fuzzers.jbrf. It should either inform the user about the missing file and/or just continue and allow to add other files.

Add-on:
Zest version 23.

[2017-04-12 22:02] thc202 opened #3401 "Unable to remove Zest scripts"
Steps to reproduce the issue:
1. Run ZAP with Zest add-on installed;
2. Create a Zest Stand Alone script and save it;
3. Restart ZAP and notice that the script is loaded, as expected;
4. Remove the script (and notice that's no longer in the tree);
5. Restart ZAP and notice that the script is there again.

Add-on:
Zest version 23.

[2017-04-12 22:07] thc202 commented on #3362
Going to change ZAP to retry the connection with SSLv2Hello disabled. That will prevent this issue.

[2017-04-13 02:00] kingthorin commented on #3358
Some code refs I dug up tonight:
http://blue-walrus.com/2011/03/swing-filtered-tree-just-like-in-eclipse/
https://github.com/zaproxy/zaproxy/pull/2341/files
http://www.adrianwalker.org/2012/04/filtered-jtree.html

Also note `AbstractParamPanel.getJSplitPane()` returns an `AbstractParamContainerPanel` which has methods such as `printTree()` which uses an enumeration to iterate and print.

[2017-04-13 05:24] Prakhash commented on #3247
@kingthorin  Sorry for the late response.

Yes I was using the released version. But now I tried the same scenario with the latest ZAP 2.6 release and it worked perfectly(Identified the issue), But still I was able to figure out some issues which were identified by some other tools and not by ZAP(2.6).

But when further analyzed I have figured out these tools use some ML mechanism to identify issu

[2017-04-13 10:50] psiinon commented on #184
Non alpha components without any API support:

- [ ] Forced Browse
- [ ] Fuzzing
- [ ] Websockets
- [ ] Applications
- [ ] Replacer
- [ ] Port scanner
- [ ] Token generator

Please add to the above any I've missed...

[2017-04-13 11:15] psiinon commented on #3188
Note that the sloe maintainer is now stepping down due to Headless Chrome coming soon https://groups.google.com/forum/m/#!topic/phantomjs/9aI5d-LDuNE
A Headless Chrome add-on would be a good alternative ;)

[2017-04-13 11:40] comibat opened #3402 "Share custom variables between scripts"
I want to be able to share some custom variables between scripts.
usecase:
I'm using Active Rules script to place a payload, and i want to be able to detect it using HTTP Sender.
ATM there is no other way to share the data between those two scripts except for using global ScriptVars.
I'd like to be able to use custom variables between those two (and the rest of the scripts as well) like strings, l

[2017-04-13 11:43] thc202 commented on #3402
Thanks for raising the issue.

[2017-04-13 11:47] comibat commented on #3402
np. I'll see if i find some time to suggest the solution as well (or even commit something); for not the issue it is.

[2017-04-13 12:23] #2638 closed

[2017-04-13 12:23] psiinon commented on #2638
This should now be fixed in 2.6.0 with the default API security settings.

[2017-04-13 13:16] psiinon opened #3403 "User customizable toolbar"
Change the Swing UI toolbar so that it is fully customizable by the user.
Users should be able to specify whichever of the supported controls they want on the toolbar and where they want them.
Hopefully the core and add-ons will still be able to register controls in exactly the same way as now, but the toolbar layout will be controlled by code driven off configs defined by the user.
Drag and drop

[2017-04-13 13:41] psiinon commented on #3403
Could also allow the code to configure 'non default' toolbar controls, ie ones that are available for the user to choose but arent enabled by default.
That would allow us to expand the controls available without overloading the (majority of) users who wont configure the toolbar.

[2017-04-13 20:57] thc202 opened #3405 "Allow to add marketplace locations"
Allow to add/manage marketplace locations (i.e. endpoints that contain ZAP add-ons), so that 3rd-party entities can deploy/distribute its add-ons more easily.

[2017-04-13 21:01] thc202 commented on #3405
@psiinon, @kingthorin, anyone, let me know if you have any objections regarding this issue.

[2017-04-13 21:17] kingthorin commented on #3405
I think it makes sense. However I think there needs to be either a column or dialog or something that warns of or highlights the fact that the 3rd parties are 3rd party. Also the directory or whatever of known market sources should be controlled by the team and checked on every use so that we can desist sources if necessary.

[2017-04-13 21:28] thc202 commented on #3405
OK, I was thinking in allowing the user to add the locations "at their own risk" (like we allow to manually install add-ons), but, that might be better.

[2017-04-14 02:39] kingthorin commented on #2411
Does anyone happen to have an expired cert or know an easy way of generating one?
Or, should I just implement this initially with `after(new Date())` which should be true for valid certs, and then just change it to `before` when I'm happy with the warning and logging (or whatever)?

[2017-04-14 08:24] thc202 commented on #2411
The dates of the cert can be changed in: https://github.com/zaproxy/zaproxy/blob/1b8ea631f514835eee02123dfc91d44ff1c427ca/src/org/zaproxy/zap/extension/dynssl/SslCertificateUtils.java#L115-L116

But changing the logic for testing the warn/log is just fine.

[2017-04-14 20:50] clydevassallo opened #3412 "Ajax Spider closes the browser when an alert box is triggered"
**Client java API version** -  1.0.0
**OWASP ZAP version** - weekly ZAP_D-2017-02-27
**Browser Driver** - Chrome
**Web Application Under Test** - Schoolmate

Given that OWASP ZAP's Ajax Spider is used to crawl a web application,
When an alert box is displayed ( alert() function in JavaScript ), the browser window is closed and the crawling process is terminated.

33206023 [pool-16-thread-2] WARN c

[2017-04-14 21:24] thc202 commented on #3412
Is that the first exception logged?

[2017-04-15 10:38] thc202 commented on #3412
Which versions of ChromeDriver and Chrome are you using?

[2017-04-15 11:36] thc202 commented on #3351
Reopening per https://github.com/zaproxy/zaproxy/pull/3376#issuecomment-294286944.

[2017-04-15 18:14] JordanGS commented on #3371
@psiinon @thc202 I was thinking about this more and more and this would actually be a good way to do a sanity check. If something isn't properly configured, i can fail the build before ZAP ever executes.

ZAP Home directory
ZAP Base version + ZAP weekly version being comparable for a compatibility check
It would also be good to be able to retrieve directory information via the API, the path to scr

[2017-04-15 23:38] kingthorin commented on #1681
@thc202 @psiinon I've got [code together that does this.](https://github.com/kingthorin/zaproxy/blob/issue-1681-activescan-table-fifo/src/org/zaproxy/zap/extension/ascan/ActiveScan.java#L267-L278) Do I need to be handling the removals [more like the additions?](https://github.com/kingthorin/zaproxy/blob/issue-1681-activescan-table-fifo/src/org/zaproxy/zap/extension/ascan/ActiveScan.java#L287-L299)

[2017-04-16 09:09] thc202 commented on #1681
Yes, the removal should also be done in the EDT (preferably both the addition and removal in the same event).

Regarding the changes, the model already takes care to notify that the row was removed.

[2017-04-16 09:35] clydevassallo commented on #3412
ChromeDriver version: 2.27.440174
Chrome version: 57.0.2987.133

And yes, it is the first exception logged.

Below is some more information extracted from the console:

Build info: version: 'unknown', revision: 'unknown', time: 'unknown'
System info: os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_111'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilitie

[2017-04-16 09:53] thc202 commented on #3412
Thanks!

[2017-04-16 16:32] clydevassallo opened #3416 "Ajax Spider not detecting input fields of type password"
**Client java API version** - 1.0.0
**OWASP ZAP version** - weekly ZAP_D-2017-02-27
**Browser Driver** - Chrome
**Web Application Under Test** - Schoolmate, WebChess
**ChromeDriver version** - 2.27.440174
**Chrome version** - 57.0.2987.133
**Other** -
System info: os.name: 'Windows 7', os.arch: 'amd64', os.version: '6.1', java.version: '1.8.0_111'
Driver info: org.openqa.selenium.chrome.ChromeDriv

[2017-04-17 15:42] thc202 commented on #3395
The AJAX Spider accepts cookies by default (from default behaviour of the browsers).

[2017-04-18 08:08] #1681 closed

[2017-04-18 08:14] #2411 closed

[2017-04-18 08:14] #3351 closed

[2017-04-18 08:17] #3395 closed

[2017-04-18 08:27] #1620 closed

[2017-04-18 08:27] #2615 closed

[2017-04-18 08:59] thc202 commented on #3316
Closing, insufficient evidence.

[2017-04-18 08:59] #3316 closed

[2017-04-18 14:08] wasp33b opened #3421 "ZAP Version 2.6.0 installs but fails to launch when selected in macOS Sierra."
ZAP Version 2.6.0
macOS Sierra Version 10.12.4
Java Version 8 Update 121 (build 1.8.0_121-b13)

ZAP installs but fails to launch when selected. A question mark appears on the dock.

[2017-04-18 14:24] kingthorin commented on #3421
Unfortunately this is a known issue:
https://twitter.com/psiinon/status/851388447428403200
https://groups.google.com/forum/#!topic/zaproxy-users/joB-I0qfnWs

[2017-04-18 14:56] psiinon commented on #3421
Did you get a message about the installer not being signed?

What happens if you run:

    /Applications/ZAP\ 2.6.0.0.app/Contents/MacOS/OWASP\ ZAP.sh

All help with this issue appreciated - we're not Mac experts and only have one system to test on (a Mac Mini on which ZAP installs fine:/)

[2017-04-18 15:03] psiinon commented on #3405
I was thinking this would be "at their own risk" - do we really want to get involved in policing ZAP Marketplaces?

[2017-04-18 20:30] wasp33b commented on #3421
I didn't get a message about the installer not being signed when installing.

After running:
/Applications/ZAP\ 2.6.0.app/Contents/MacOS/OWASP\ ZAP.sh

I got:
/Applications/ZAP 2.6.0.app/Contents/Java/zap.sh: line 19: Get: command not found
Exiting: ZAP requires a minimum of Java 7 to run, found 1.6.0_65

Which was strange because I had a newer Java version. I also checked the updates and there wa

[2017-04-19 07:45] thc202 commented on #3400
Fixed in zaproxy/zap-extensions#845.

[2017-04-19 07:45] #3400 closed

[2017-04-19 08:19] thc202 commented on #3401
Fixed in zaproxy/zap-extensions#844.

[2017-04-19 08:19] #3401 closed

[2017-04-19 08:24] psiinon commented on #3421
Thanks - thats really helpful.
We've found 2 problems, one minor and one which we think is the main one.
The minor one is a missing '#' at the start on line 19 of /Applications/ZAP\ 2.6.0.app/Contents/MacOS/OWASP\ ZAP.sh
The major problem is that the exe bit hasnt been set on the bundled java exes :(
Can you try running the following command as root:

`chmod +x /Applications/ZAP\ 2.6.0.app/Content

[2017-04-19 09:11] wasp33b commented on #3421
It works now!

Did the major fix first and it ran from the app icon.
Did the minor fix and it ran by running the zap.sh file.

Reinstalled it and did the minor fix first and it gave me the same error
but after adding the major fix both the app icon and the zap.sh file work.

The question mark still appears in the dock but you can select 'Remove from Dock'.

Thanks, good job!

[2017-04-19 09:12] psiinon commented on #3421
Thanks for letting us know! We'll fix those things and generate a new Mac installer.

[2017-04-19 10:23] waeller commented on #2756
I had the same problem. It helped to define variables at the beginning of the script for all Java classes used by the script  instead of using them "inline". E.g.:

    var ScriptVars = Java.type('org.zaproxy.zap.extension.script.ScriptVars');
    function sendingRequest(...) {
      ScriptVars.setGlobalVar(...)
    }

instead of

    function sendingRequest(...) {
        org.zaproxy.zap.extensio

[2017-04-19 12:05] psiinon commented on #3421
We have a new version of the installer: https://github.com/zaproxy/zaproxy/releases/download/2.6.0-mac-test/ZAP_2_6_0_macos.dmg - can you give it a go and let us know if that works? Many thanks

[2017-04-19 18:21] thc202 commented on #3383
Adding to 2.7.0 milestone, requires new core features (#3380, allows to load a script with a given charset).

[2017-04-19 18:31] thc202 commented on #3351
There's confirmation that the issue is fixed, https://github.com/zaproxy/zaproxy/pull/3420#issuecomment-295377299.

[2017-04-20 00:04] kingthorin commented on #2332
https://groups.google.com/forum/m/?pli=1#!topic/zaproxy-develop/wwyjhaP-QUU

[2017-04-20 08:05] wasp33b commented on #3421
It installs and ZAP boots up.

Only thing is after the installation a question mark (referring to zap.sh) appears and remains in the dock even after quitting ZAP (I can right click it and select 'Remove from Dock' to remove it though).

[2017-04-20 10:49] #1313 closed

[2017-04-20 11:13] kingthorin commented on #2532
FYI for anyone that cares, I've started working on item 3 (the SSLServer to DeepViolet switch).

[2017-04-20 11:17] thc202 commented on #2532
Great :)

[2017-04-20 13:21] psiinon commented on #3421
This is hopefully now fixed in the new version of the Mac installer.
If there are any other problems with the new installer (like the question mark) then please raise new issues.
Thanks.

[2017-04-20 13:21] #3421 closed

[2017-04-20 18:05] thc202 commented on #3369
Thanks for letting us know. The help pages will be updated to recommend using newer browser versions with the bundled WebDrivers.

[2017-04-20 18:05] #3369 closed

[2017-04-21 05:37] robertofpaf opened #3433 "OpenAPI: Parsing of JSON downloaded from a URL fails if no schemes element is present"
The current version of OpenAPI add-on supports only yaml format as it uses version 1.0.19 of swagger-parser. Looking at the release notes for that project in version 1.0.23 support for JSON format has been added, so it would be nice if that one (or the latest 1.0.26) could be taken into use as springfox (an add-on for spring-boot that generates OpenAPI documentation) doesn't support the yaml forma

[2017-04-21 07:45] psiinon commented on #3433
I'm confused.
The OpenAPI add-on seems to work fine with JSON - we have regression tests for both: https://github.com/zaproxy/zap-extensions/tree/alpha/test/resources/org/zaproxy/zap/extension/openapi and https://github.com/zaproxy/zap-extensions/blob/alpha/test/org/zaproxy/zap/extension/openapi/OpenApiUnitTest.java and I've tested it manually with JSON as well.
Unless I'm missing something ;)
I'm

[2017-04-21 08:07] robertofpaf commented on #3433
Ah my bad, I misread the release notes for swagger-parser 1.0.23, they didn't add support for JSON but for JSON References. Actually the problem I'm facing is more subtle: springfox doesn't generate a "schemes" element in the JSON file, and that's according to specs (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md):
schemes 	[string] 	The transfer protocol of the API. Valu

[2017-04-21 08:11] psiinon commented on #3433
Np :) Yeah, should definitely fix this asap.
Thanks for reporting it.

[2017-04-21 11:15] sbattistin opened #3434 "RPM - Java package name in required dependencies seems wrong"
It seems that the requirement for Java JDK 1.8.0 is wrong in the REQUIRES entry of the RPM file.

Java 1.8.0 (OpenJDK) is installed in my machine but the package name has dots and not underscores.

The package name in the REQUIRES probably needs to be changed from **java-1_8_0-openjdk** to **java-1.8.0-openjdk**.

In particular when trying to install the package on Fedora 25 this is the error:
[co

[2017-04-21 12:20] thc202 commented on #3434
Thanks.

[2017-04-21 22:34] thc202 commented on #3433
Fixed in zaproxy/zap-extensions#851.

[2017-04-21 22:34] #3433 closed

[2017-04-21 22:37] thc202 commented on #3433
Released in version 4 of OpenAPI Support add-on.

[2017-04-23 17:32] cabelo commented on #3434
Repaired and tested in Fedora 25. Sorry, there are too many distributions for .

[2017-04-24 08:08] thc202 commented on #3434
@cabelo thanks!

@sbattistin could you try the new package?

[2017-04-24 09:58] sbattistin commented on #3434
@thc202, @cabelo: Now the package installed without issues.

Thanks both! :)

[2017-04-24 09:58] #3434 closed

[2017-04-24 10:03] thc202 commented on #3434
Cool, thanks for letting us know!

[2017-04-24 11:47] sbattistin opened #3436 "HTTPS (SSL) Exception - Could not initialize class sun.security.ssl.SupportedEllipticCurvesExtension"
When trying to analyse an HTTPS connection through the local proxy I got an exception and the connection will be immediately closed.

The local proxy works fine with HTTP connections, but it seems something crashes with SSL connections.

The application is running on Fedora 25

----

This is the full log of the application:

Available memory: 16001 MB
Setting jvm heap size: -Xmx4000m
0 [main] INFO

[2017-04-24 11:49] kingthorin commented on #3436
What version of ZAP?

[2017-04-24 11:50] sbattistin commented on #3436
ZAP version is 2.6.0

[2017-04-24 11:54] kingthorin commented on #3436
Are you running on RedHat by any chance?

[2017-04-24 11:55] sbattistin commented on #3436
Running on Fedora 25, is there an issue with that distribution?

[2017-04-24 11:59] kingthorin commented on #3436
Was just asking because of:
https://tickets.puppetlabs.com/browse/SERVER-1720

When did you install? Could also be related to: https://github.com/zaproxy/zaproxy/issues/3434

[2017-04-24 12:58] sbattistin commented on #3436
The latest build available is b14 at the moment (**java-openjdk-1.8.0.121-10.b14**). Probably that is the cause then.

[2017-04-24 13:49] sbattistin commented on #3436
The problem fixes with Oracle JDK **1.8.0_131-b11**.

I will wait for an official Fedora release on OpenJDK 1.8.0 and will update the issue.

Thanks for the help.

[2017-04-24 13:49] kingthorin commented on #3436
You tried with Oracle JDK? Or you read that it's fixed in that version?

[2017-04-24 13:52] sbattistin commented on #3436
There was a reference to the bug you cited before:

http://www.oracle.com/technetwork/java/javase/8u131-relnotes-3565278.html

End of the page.

[2017-04-24 14:01] kingthorin commented on #3436
Great, thanks. I'm going to mark this 3rd party. I'll leave it open for the time being.

You're only encountering the problem with some HTTPS destinations right? Are any of the problem destinations public?

[2017-04-24 14:08] sbattistin commented on #3436
Yes, only HTTPS destinations. I tried to connect Google in order to check and it crashed immediately as for any other HTTPS connection.

[2017-04-24 14:09] thc202 commented on #3436
@kingthorin it seems the problem is happening in ZAP's client side.

@sbattistin

Which client application are you using (if you can share that)?

[2017-04-24 14:13] sbattistin commented on #3436
@thc202 I used Chrome

[2017-04-24 14:21] kingthorin commented on #3436
Version?

[2017-04-24 14:25] sbattistin commented on #3436
Chrome 58.0.3029.81

[2017-04-24 14:46] kingthorin commented on #3436
@thc202 I meant 3rd party in that it's a java issue, not that it's a destination issue.

[2017-04-24 15:13] thc202 commented on #3436
@kingthorin I know, I was referring to/answering `You're only encountering the problem with some HTTPS destinations right?`.

[2017-04-24 15:24] kingthorin commented on #3436
Oh ok, now I understand. Sorry if I caused any confusion.

[2017-04-24 22:38] thc202 commented on #3348
@AntiGov version 2.6.0 is now available in Kali, although this issue is most likely caused by the JRE, would you mind trying the new version?
In any case raising an issue in Kali would greatly increase the chances of getting fixed (based on past Kali/JRE issues that affected ZAP).

[2017-04-25 14:59] rain0r opened #3440 "Log Exception when the provided config file could not be parsed"
Currently, when the exisiting config file `config.xml` could not be parsed, ZAP uses its own config file as it copies a default `config.xml` in the working directory (this can be provided by `-dir`).

That's fine, the problem is, the user won't get informed about that. I suggesst logging this exception and present the user a warning message.

This is the [corresponding code](https://github.com/zap

[2017-04-25 18:10] thc202 commented on #2871
This was fixed in the Zest library mozilla/zest#80 (which needs to be updated in Zest add-on once the new version is available).

[2017-04-25 18:10] thc202 commented on #2859
This was fixed in the Zest library mozilla/zest#77 (which needs to be updated in Zest add-on once the new version is available).

[2017-04-25 22:56] thc202 commented on #2914
Closing, insufficient evidence, also, latest Python API client version is no longer using urllib. If you still have issues with the latest version, please, let us know through the [User Group](https://groups.google.com/group/zaproxy-users). Thank you.

For reference, https://github.com/zaproxy/zaproxy/wiki/FAQapikey (which might help address connection problems).

[2017-04-25 22:56] #2914 closed

[2017-04-26 10:33] sbattistin commented on #3436
@thc202, @kingthorin
I updated OpenJDK to 1.8.0-131. The HTTPS connections are now correctly analysed and added to the Sites list.

[2017-04-26 10:37] thc202 commented on #3436
Thanks for lettings us know!

Closing, per previous comment.

[2017-04-26 10:37] #3436 closed

[2017-04-26 13:51] kingthorin commented on #2000
Few items I noticed this morning.

![caps_needed](https://cloud.githubusercontent.com/assets/7570458/25437908/d8a2feb2-2a65-11e7-9919-4f1b1a927dce.png)

[2017-04-26 17:32] kingthorin opened #3441 "ProxyDisclosure Rule References Issue"
It would be great if the ProxyDisclosure scan rule had some actually references instead of `???`. Or the `getReference()` method should be reworked.

<sub>Ref:
https://github.com/zaproxy/zap-extensions/blob/alpha/src/org/zaproxy/zap/extension/ascanrulesAlpha/resources/Messages.properties#L109
https://github.com/zaproxy/zap-extensions/blob/alpha/src/org/zaproxy/zap/extension/ascanrulesAlpha/ProxyDi

[2017-04-27 15:41] thc202 opened #3443 "Expose Alerts options through the ZAP API"
From OWASP ZAP User Group:
https://groups.google.com/d/topic/zaproxy-users/gjdNNJ8d2cQ/discussion

The options in Options > Alerts should also be accessible through the ZAP API.

[2017-04-27 16:08] davewichers opened #3446 "Enhancement: Add ability to export a Site Map via Context Menu"
I don't see any easy/good way to export a sitemap from within ZAP's UI.

I.e., I want to click on a folder in the sitemap and export it and ALL the URLs below it.

I see there is a Copy URLs to clipboard function, but it doesn't get all the lower level entries. Just the ones that are selected (i.e., if you select multiples you get those, but still not ALL of the leaves in the tree).

I would like/

[2017-04-27 16:12] kingthorin commented on #3446
Check the report menu, there are URL export items there

[2017-04-27 16:15] thc202 commented on #3446
This one should do that:
https://github.com/zaproxy/zap-core-help/wiki/HelpUiTlmenuReport#export-selected-urls-to-file

I guess we could add that to the context menu too (to export to File and to clipboard).

[2017-04-27 16:37] #3443 closed

[2017-04-27 21:56] davewichers commented on #3446
Ah yes. This is exactly what I want, and simply couldn't find it. Can we a)
add it to the right click menu in the SiteMap and b) is it available as an
API? I couldn't find it in the built in WebApp that comes with ZAP.

Thanks, Dave

On Thu, Apr 27, 2017 at 12:16 PM, thc202 <notifications@github.com> wrote:

[2017-04-28 10:48] RomHartmann opened #3447 "Memory errors when running active scan"
Seems to be partially identical to https://github.com/zaproxy/zaproxy/issues/1283

Steps to create error:

1)  Use docker image [`owasp/zap2docker-stable`](https://github.com/zaproxy/zaproxy/blob/develop/build/docker/Dockerfile-stable)
2)  `zap.sh -daemon -port 8090 -host 127.0.0.1 -config api.disablekey=true`
3)  `zap-cli -p 8090 open-url http://www.plumblink.co.za/`
4)  `zap-cli -p 8090 spider h

[2017-04-28 11:22] thc202 commented on #2802
Fixed zaproxy/zap-extensions#536.

[2017-04-28 11:22] #2802 closed

[2017-04-28 11:23] thc202 commented on #2802
@yetmorecode please let us know your Bountysource username. You should be able to claim the bounty in:
https://www.bountysource.com/issues/37164952-unit-tests-for-informationdisclosuredebugerrors

[2017-04-28 11:30] #2500 closed

[2017-04-28 12:09] kingthorin commented on #1365
Fixed in https://github.com/zaproxy/zap-extensions/pull/515

[2017-04-28 12:09] #1365 closed

[2017-04-28 13:01] tuotempo commented on #1318
What is the status of the current issue?

[2017-04-28 13:03] paulbaboo opened #3448 "How to handle multiple request sequentially in OWASP ZAP"
How to handle multiple request sequentially in OWASP ZAP

1.i need to test a functionality which involves 2 URL
2.the 2 url dependent on each other  and result of the first url response is required for the submission of the second so to cover the complete cycle of that fucntionality
3.when i run Security scan, only 1 url is been scanned ie the frst one where no validation is present,all the valida

[2017-04-28 13:08] kingthorin commented on #3448
Goto the marketplace:
![](https://github.com/zaproxy/zap-extensions/wiki/images/zap-screenshot-browse-addons.png)

Install the Sequence addon.

Unfortunately there isn't currently any help resources for the addon (there's an outstanding [issue](https://github.com/zaproxy/zaproxy/issues/2191) for that), however, this might help: https://zapmultistep.wordpress.com/

If you have further questions ple

[2017-04-28 13:08] #3448 closed

[2017-04-28 13:58] thc202 commented on #2799
Fixed in zaproxy/zap-extensions#543.

[2017-04-28 13:58] #2799 closed

[2017-04-28 14:09] yetmorecode commented on #2802
Can you just add it to some other open bounty on my behalf? I don't think I need it anymore.

[2017-04-28 14:28] kingthorin opened #3449 "CSRFcountermeasures scanner handling multiple forms"
Review: https://github.com/zaproxy/zap-extensions/pull/570/files consider `shouldPassWhenSecondFormHasAKnownCSRFToken()` the form without should probably cause an alert.

https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/pscanrulesBeta/CSRFCountermeasures.java

[2017-04-28 14:51] thc202 commented on #2799
@rscipien please let us know your Bountysource username. You should be able to claim the bounty in:
https://www.bountysource.com/issues/37164894-unit-tests-for-charsetmismatchscanner

[2017-04-28 14:58] thc202 commented on #2802
I'd suggest claiming the bounty (so that it's properly closed) and then just donate back to ZAP? If not, I'll see if we can move the bounty to other issue.

[2017-04-28 20:19] thc202 commented on #2800
Fixed in zaproxy/zap-extensions#539.

[2017-04-28 20:26] thc202 commented on #2800
Reopening, we need to create the bounty :)

[2017-04-28 20:28] thc202 commented on #2800
@psiinon would you mind creating a bounty for this issue?

[2017-04-28 20:58] gitDimaA opened #3450 "nodejs zap.ascan.scan errors related to \node_modules\zaproxy\index.js:93"
Hi,
I started to automating security testcases with nodejs and zap api. .
[code]

Result: when running the script:
[code]

Is there any workaround this issue?  If there is an example of using zapproxy api with nodejs for main functionalities such as ascan and spider please share it.

Thank you!

<sub>Edit: By @kingthorin for formatting and content.</sub>

[2017-04-29 02:08] thc202 commented on #2809
Fixed in zaproxy/zap-extensions#578.

[2017-04-29 02:08] #2809 closed

[2017-04-29 02:10] thc202 commented on #2809
@peterschuler you should be able to claim the bounty in:
https://www.bountysource.com/issues/37165053-unit-tests-for-viewstatescanner

[2017-04-29 16:41] yetmorecode commented on #2802
Ok, I think I claimed it? Please let me know if there is more for me to do.

[2017-04-30 06:31] NVolcz opened #3452 "Add "Remove from site tree" in search"
Currently the only way to remove nodes in the sites tree is to select/multi-select. This becomes cumbersome when trying to trim error nodes.

[2017-04-30 10:39] thc202 commented on #2802
No, that's all, thank you! The claim will be accepted soon.

[2017-04-30 10:50] thc202 commented on #3441
Fixed in zaproxy/zap-extensions#864.

[2017-04-30 10:50] #3441 closed

[2017-04-30 19:21] MostafaSoliman commented on #29
Hello,
is this feature not supported in zaproxy 2.6 , because i receive "unsupported -DsocksProxyHost option"
error on start.
i run with this command. ./zap.sh -DsocksProxyHost=127.0.0.1-DsocksProxyPort=9050

[2017-04-30 20:14] thc202 commented on #29
That needs to be set as JVM arguments, either by editing zap.sh script (e.g. setting before -jar arg) or adding them to Options > JVM. [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsJvm

[2017-05-01 15:14] davewichers opened #3454 "Enhancement: Make it easier to pause active scan, skip test categories"
When you are on the Scan Progress dialog of an active scan, it lists a row for each scan type to run (or that has run), but only has a Skip button for the current scan type being run. I'd like to see 2 simple enhancements:

1) There be a pause button in addition to a skip button for the current test category.
2) There be a skip button for every test category that has not run yet so you can skip in

[2017-05-01 15:17] davewichers opened #3455 "Minor Bug/Enhancement: Pause Active Scan Timer when Active Scan Paused"
I find it strange that the Active Scan timer keeps running when a scan is paused for 2 reasons.

1) I don't think it should count/consider time when the scan is paused.
2) Some users might think it has failed to pause the scan, because the timer is still running.

Can you change it so the timer pauses when an active scan is paused?

[2017-05-01 15:19] thc202 commented on #3455
It should be possible.

[2017-05-01 15:24] thc202 commented on #2616
Some of the points (2,3 and 5) have its own issues now: #3454 and #3455.

[2017-05-01 15:38] davewichers opened #3456 "Bug: Paused Scans Wiped Out when Persisting a Session"
If you pause a scan, and then Save a session with 'Persist Session' when the save is done, the paused scan is 'gone'. Seems like it shouldn't have any affect on an active scan. If there is no easy way to fix this, please at least warn the user that the currently active scan is going to get wiped out so they can make the correct choice for their situation.

[2017-05-01 15:42] thc202 commented on #3456
Same for the spider.

[2017-05-01 16:21] davewichers opened #3459 "Enhancement: Prescan Output is Confusing. Please Clarify."
When starting a big active scan, the scan starts to run, but you don't see the test categories be displayed for a long while (like 5+ minutes). So you simply see the counter counting up, but not in any category as no categories are displayed yet. This is confusing. Can this be improved to be more clear and/or make sure all the scan categories get displayed immediately before this is shown and anot

[2017-05-01 16:57] davewichers opened #3460 "Enhancement: Provide help finding the Log directory in the UI"
I know this page exists: https://github.com/zaproxy/zaproxy/wiki/FAQconfig
But when I look for the Win 7/8 directory it says ZAP's logs are supposed to be in, there is no such directory. To make it easier for users, can you add a command to the Help menu that tells the user the current Log directory that ZAP is using?

Maybe something like: Help-->Log Directory

And this opens a dialog that displa

[2017-05-01 17:20] thc202 commented on #3460
The API was changed to also expose that path (#3367).

[2017-05-01 17:23] kingthorin commented on #3460
@davewichers @thc202 `/core/view/zapHomePath` in weekly or dev (future 2.7.0).

[2017-05-01 17:25] davewichers commented on #3460
Excellent. So it should be easy to add that info to the Help Menu??  It turns out that my home directory was mapped to a network share, so even though the documentation says it should be in: C:\Users\<username>\OWASP ZAP - it was actually somewhere like Y:\dwichers\OWASP ZAP. Its situations like this that making it easy to get from the GUI would be very helpful. Plus it would presumably 'just work

[2017-05-01 17:36] thc202 commented on #3460
Yeah, we need to update the wiki page to mention that ZAP uses the home directory of the user running ZAP.

(Also, in weekly/dev ZAP's home directory is logged/outputted during start up.)

[2017-05-01 17:40] davewichers opened #3461 "Enhancement: Browse API Doesn't work when browser isn't using ZAP as proxy"
When you select Tools-->Browse API, ZAP opens your browser at: zap/. But this doesn't work if you don't have your browser configured to use ZAP as its proxy.

Can this function be enhanced to figure out where ZAP is actively listening and direct your browser there? That way it will work either way.

[2017-05-01 17:55] kingthorin commented on #3461
Ref: https://groups.google.com/forum/#!topic/zaproxy-users/Glro_PlsJLU

[2017-05-01 18:03] kingthorin commented on #3460
- [ ] Add help menu item to display ZAP's home directory.
- [ ] Update the core help.

[2017-05-01 22:09] stephendonner opened #3462 "Passing in -config params without quotes throws "ValueError: need more than 1 value to unpack" exception"
Steps to Reproduce:

Invoke the zap-baseline script without quotes for the -config param, and you'll get an error:

WRONG:
```sdonner-17447:zaproxy sdonner$ docker run -v $(pwd):/zap/wrk/:rw -t stephendonner/zaproxy:1.0 zap-baseline.py --active_scan -t http://petstore.swagger.io -d -z -config api.disablekey=true```

CORRECT:
```sdonner-17447:zaproxy sdonner$ docker run -v $(pwd):/zap/wrk/:rw -t st

[2017-05-01 22:14] thc202 commented on #3462
@g-k would you be available to address this one? It seems to be the same problem as #3347 (although different cause).

[2017-05-01 22:21] g-k commented on #3462
Yep, I can pick this up.

On Mon, May 1, 2017 at 3:14 PM, thc202 <notifications@github.com> wrote:

[2017-05-01 22:28] thc202 commented on #3462
Thanks!

[2017-05-01 22:33] g-k commented on #3462
@stephendonner what version of the python zap api client library do you have installed?

you can check with:

```python -c "import pkg_resources; print(pkg_resources.get_distribution('python_owasp_zap_v2.4').version)"```

[2017-05-01 22:44] stephendonner commented on #3462
@g-k:

[code]

[2017-05-01 22:50] stephendonner opened #3464 "Lots of WARN PropertyDeserializer - no property from null, null warnings, using the OpenAPI add-on (via import, Python API)"
Running:
```sdonner-17447:zaproxy sdonner$ docker run -v $(pwd):/zap/wrk/:rw -t stephendonner/zaproxy:1.0 zap-baseline.py --active_scan -t http://petstore.swagger.io -d -j -z "-config api.disablekey=true" -m 8```

With the following forked changes (to introduce active scanning + OpenAPI support): https://github.com/zaproxy/zaproxy/compare/zaproxy:d263fcf...stephendonner:fd74dd5, I am seeing a lot

[2017-05-01 22:52] stephendonner commented on #3464
[zap-log.txt](https://github.com/zaproxy/zaproxy/files/968968/zap-log.txt)

[2017-05-01 22:53] g-k commented on #3462
Thanks!

[2017-05-02 02:13] stephendonner commented on #3464
Any ideas, @psiinon?

[2017-05-02 05:18] paulbaboo opened #3466 "Sequence option is not working properly"
![1](https://cloud.githubusercontent.com/assets/28147044/25605191/d0cd7bfc-2f26-11e7-87bc-7aa262177fdf.jpg)
I have 4 urls which has to be executed sequentially to get a proper output and I have added these 4 url to the sequence script ,but when I run active scan by checking the sequence option in the advance active scan, the OWASP ZAP is not executing the script sequentially.

Could you please hel

[2017-05-02 05:33] paulbaboo commented on #3466
It would be really appreciable if someone could help me on this?

[2017-05-02 07:53] #3040 closed

[2017-05-02 07:55] #3446 closed

[2017-05-02 08:11] psiinon commented on #3464
@stephendonner Unfortunately the OpenAPI lib we use doesnt produce very helpful error messages :( However I was using http://petstore.swagger.io/v2/swagger.json to test the add-on and didnt notice these warnings. I'll have another look...

[2017-05-02 08:19] thc202 commented on #3466
You need to create just one script, with all requests that belong to the sequence.

[2017-05-02 08:28] psiinon commented on #3460
@davewichers So your home directory was mapped to a network share? We should update the FAQ to note that as thats something thats out of our control

[2017-05-02 08:33] psiinon commented on #3459
I guess we could flag this as a 'Prescan' or something similar?

[2017-05-02 08:39] thc202 commented on #3459
Yeah, we can add a new entry for that.

[2017-05-02 09:05] paulbaboo commented on #3466
Thank you very much for your prompt response, but i need some clarifications .

these scripts which I have added are recorded via proxy and haven't done modification to it.is that ok? can i do sequence operation with the recorded script or do i need to do any manual configuration.
Steps
1.Recorded the request via proxy settings
2.right clicked on the request and added to sequence operation under z

[2017-05-02 10:25] thc202 commented on #2801
Fixed in zaproxy/zap-extensions#570.

[2017-05-02 10:25] #2801 closed

[2017-05-02 10:27] thc202 commented on #2801
@peterschuler you should be able to claim the bounty in:
https://www.bountysource.com/issues/37164938-unit-tests-for-csrfcountermeasures

[2017-05-02 10:34] psiinon commented on #2802
@yetmorecode Many thanks!

[2017-05-02 10:43] psiinon commented on #2800
We already have one :)
https://www.bountysource.com/issues/37164921-unit-tests-for-cookielooselyscopedscanner

[2017-05-02 10:46] thc202 commented on #2800
Yeah, I missed it :/

@vahidR you should be able to claim the bounty.

[2017-05-02 10:46] #2800 closed

[2017-05-02 11:27] psiinon opened #3468 "PathTraversal rule performance issue"
https://github.com/zaproxy/zap-extensions/pull/515 changed the PathTraversal rule to make more requests.
Unfortunately these are now significantly outside of the recommendations :(
https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/ascanrules/TestPathTraversal.java#L271-L302
It look like it can now make up to 28 reqs at Medium which is way over the 12 recommended,

[2017-05-02 11:34] psiinon commented on #2809
@peterschuler I'm assuming you've just submitted your claim, but just double checking here to make sure :)

[2017-05-02 11:34] psiinon commented on #2801
@peterschuler I'm assuming you've just submitted your claim, but just double checking here to make sure :)

[2017-05-02 11:40] vahidR commented on #2800
Hi Guys...
Alright.. Thanks for letting me know that :)

[2017-05-02 11:41] peterschuler commented on #2801
it was me. Thanks for al the rework guys.

[2017-05-02 11:41] peterschuler commented on #2809
it was me. Thanks for al the rework guys.

[2017-05-02 12:05] psiinon commented on #2800
Many thanks!

[2017-05-02 12:10] vahidR commented on #2800
Thank you :)

[2017-05-02 12:41] yhawke commented on #3468
Dear all, the trouble is related in the way the original PathTraversal plugin hasa been engineered and the combination of this with the issue thta has been set and solved with this implementation.
During a discussion made two years ago, the trouble was: "is possible to cut the number of tests for this plugin so that there could be some results but the quality still remains good enough?".
The probl

[2017-05-02 12:45] yhawke commented on #3468
Another thing that could be limited is the depth of ../ that can be appended to the Java/PHP standad files to find relative Path Traversal...

[2017-05-02 12:49] psiinon commented on #3468
I'm all for ZAP doing well against tests like Wavsep, but it shouldnt be at the expense of doing well against real world applications.
This means we shouldnt favor one type of test just to get a better score.
We have recommendations for the expected number of requests, we must stick to them.
I have no problem changing the recommendations but that must be agreed and applied to all rules.
Spending 2

[2017-05-02 13:00] yhawke commented on #3468
This is exactly the point. Testing against Wavesep was the first step, then we tested on real cases and for this reason we incremented the number of checks to supply with the huge number of "possibilites" for this vulnerability. We can reduce the groups of tests to the most frequent ones and reamins under the constraints but we'll suffer by the fact that corrently the number of checks is strictly

[2017-05-02 13:10] yhawke commented on #3468
To remain under 6 requests we can check only for 2 patterns (8 total), for 12 requests we can check only 3 patterns (exactly 12), then for 24 we can test for 6 requests (exactly 24) which is more or less the number we have now for medium....
The patterns are usually with backslashes and slashes (so doubled again for each possibility) so we've to cut very strongly on the current implementation. If

[2017-05-02 13:13] yhawke commented on #3468
A possibility is to shift current strenghts (low -> medium, medium -> high), leave insane as it is and then create a low whith a more limited number of checks.

[2017-05-02 13:25] psiinon commented on #3468
+1 for that option :)

[2017-05-02 14:16] psiinon opened #3470 "Move to using Java 8"
As per https://groups.google.com/d/msg/zaproxy-develop/O-dLbL0-qc8/puL1RKbOEQAJ

- [x] Change zaproxy build file
- [x] Change travis configs (for oraclejdk8)
- [x] Include in a weekly release
- [x] Update zap.sh script
- [x] Update .deb package
- [x] Update docs (eg Release Notes)
- [x] Update wiki
- [x] Warn upstream projects (like Kali)
- [x] Change zap-extension build files (just before 2.7.0)

[2017-05-02 15:20] psiinon commented on #3460
A menu just for the home directory is probably a bit over the top - I cant see that many people using it.
However a menu item for generating diagnostics (including the home dir) which people can use when submitting issues could be more widely useful :)
Unless I'm missing a really obvious reason as to why users might need to know the default ZAP dir?

[2017-05-02 15:38] kingthorin commented on #3460
Because that's where logs and configuration are stored.

Note: I've already put together a PR for this. It adds a menu item to the Help menu, when used it opens a dialog that displays the path with an Open button and an Ok button. The user can either "Open" the directory (tested Win and Kali) or highlight the value and use it however they see fit.

Future? If wanted this could be enhanced to inclu

[2017-05-02 15:40] davewichers commented on #3460
This sounds great. Thanks for implementing.

On Tue, May 2, 2017 at 11:38 AM, kingthorin <notifications@github.com>
wrote:

[2017-05-02 16:03] yhawke commented on #3468
Ok I'll do it in a while. Just a question, I suppose I've to raise a new pull request for this?

[2017-05-02 16:09] psiinon commented on #3468
Yeah, that ones been merged now :)

[2017-05-02 16:09] kingthorin commented on #3468
Essentially. Is there something we can do to help with that?

[2017-05-02 17:06] stephendonner commented on #3464
I just noticed I had passed in http://petstore.swagger.io/ to the command-line argument (target), but for the OpenAPI portion, I've hard-coded (for now) the Kinto dev Swagger/OpenAPI endpoint, here: https://github.com/stephendonner/zaproxy/blob/fd74dd5c51b4c009d72a88fda7849deb7f396ba8/build/docker/zap-baseline.py#L416

I've updated the attached logfile to reflect the new, correct run, of:

docker

[2017-05-02 17:32] davewichers commented on #3460
I wanted this for diagnostic purposes. I.e., I was trying to find the logs
for ZAP and couldn't find them. So if you want to add more diagnostic info
to that same thing, that's great.

On Tue, May 2, 2017 at 11:20 AM, Simon Bennetts <notifications@github.com>
wrote:

[2017-05-02 19:52] vatsal1991 commented on #768
Open ZAP, Tools--> Options --> local proxy
Change the default 8080 port and you should be good to run both tomcat (on 8080) and this tool for assessment

[2017-05-02 20:49] kingthorin commented on #137
https://www.nccgroup.trust/us/about-us/resources/amf-easy/

[2017-05-02 22:26] yhawke commented on #3468
Ok I've launched the pull request, please check if all the concepts map in the right way...

[2017-05-02 22:30] kingthorin commented on #3468
https://github.com/zaproxy/zap-extensions/pull/867

[2017-05-03 09:45] kingthorin commented on #2786
@adioss could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-05-03 09:47] kingthorin commented on #2801
@peterschuler could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-05-03 09:47] kingthorin commented on #2802
@yetmorecode could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-05-03 09:47] kingthorin commented on #2808
@adrianclay could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-05-03 09:49] kingthorin commented on #2799
@rscipien could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-05-03 16:06] rscipien commented on #2799
Hi

I have just claim bounty.

On Friday, April 28, 2017, thc202 <notifications@github.com> wrote:

[2017-05-03 16:09] thc202 commented on #2799
@rscipien thanks, it will be accepted soon.

[2017-05-03 16:33] thc202 commented on #2807
Fixed in zaproxy/zap-extensions#547.

[2017-05-03 16:33] #2807 closed

[2017-05-03 16:34] thc202 commented on #2807
@rscipien you should be able to claim the bounty in:
https://www.bountysource.com/issues/37165027-unit-tests-for-insecurejsfviewstatepassivescanner

[2017-05-03 16:35] thc202 commented on #2806
Fixed in zaproxy/zap-extensions#565.

[2017-05-03 16:35] #2806 closed

[2017-05-03 16:35] thc202 commented on #2806
@rscipien you should be able to claim the bounty in:
https://www.bountysource.com/issues/37165010-unit-tests-for-insecureauthenticationscan

[2017-05-03 20:45] peterschuler commented on #2801
Peter Schuler will work for me.
-------- Oorspronkelijk bericht --------Van: kingthorin <notifications@github.com> Datum: 03-05-17  11:47  (GMT+01:00) Aan: zaproxy/zaproxy <zaproxy@noreply.github.com> Cc: peterschuler <peter.schuler@gmail.com>, Mention <mention@noreply.github.com> Onderwerp: Re: [zaproxy/zaproxy] Unit tests for CSRFCountermeasures (#2801)
@peterschuler could you let us know how yo

[2017-05-03 20:46] peterschuler commented on #2801
But I am already there 😊
-------- Oorspronkelijk bericht --------Van: kingthorin <notifications@github.com> Datum: 03-05-17  11:47  (GMT+01:00) Aan: zaproxy/zaproxy <zaproxy@noreply.github.com> Cc: peterschuler <peter.schuler@gmail.com>, Mention <mention@noreply.github.com> Onderwerp: Re: [zaproxy/zaproxy] Unit tests for CSRFCountermeasures (#2801)
@peterschuler could you let us know how you'd lik

[2017-05-03 20:48] kingthorin commented on #2801
Thanks. I think I searched username not first or last, my bad.

[2017-05-03 23:20] adioss commented on #2786
@kingthorin you can put Adrien PAILHES

[2017-05-04 04:54] peterschuler commented on #2801
Never mind .. my previous contribution was very long ago.
-------- Oorspronkelijk bericht --------Van: kingthorin <notifications@github.com> Datum: 03-05-17  22:48  (GMT+01:00) Aan: zaproxy/zaproxy <zaproxy@noreply.github.com> Cc: peterschuler <peter.schuler@gmail.com>, Mention <mention@noreply.github.com> Onderwerp: Re: [zaproxy/zaproxy] Unit tests for CSRFCountermeasures (#2801)
Thanks. I think

[2017-05-04 06:29] stephendonner opened #3479 "Unclear "attribute type is unexpected" warning when importing OpenAPI definition"
Steps to Reproduce:

1. Launch ZAP and then File | New Session
2. Import and OpenAPI definition from a URL
3. Input http://petstore.swagger.io/v2/swagger.json and click "import"

Actual Results:

"attribute type is unexpected" appears in the Output tab

Expected Results:

Clearer error message: which attribute?
<img width="1680" alt="screen shot 2017-05-03 at 11 22 20 pm" src="https://cloud.github

[2017-05-04 06:45] stephendonner commented on #3479
[zap-log.txt](https://github.com/zaproxy/zaproxy/files/975339/zap-log.txt)

[2017-05-04 08:20] #3363 closed

[2017-05-04 09:46] psiinon opened #3480 "Add NoSQL scan rule(s)"
One or more NoSQL scan rules would be very useful, as per the thread https://groups.google.com/d/msg/zaproxy-users/A0nVzx3OiSs/jYV-JcUJBwAJ

"If someone is going to start building a NoSQL Injection scanner; you could use this as a test platform https://digi.ninja/projects/nosqli_lab.php.

Also OWASP has some NoSQL testing info here: https://www.owasp.org/index.php/Testing_for_NoSQL_injection" c/o

[2017-05-04 09:49] psiinon commented on #3480
Referred to from this post: https://groups.google.com/d/msg/zaproxy-develop/g4Eu1GOHfBc/sbmfyOexAgAJ

[2017-05-04 12:52] rain0r opened #3481 "Export Tables via UI"
Make the table data from the tab Spider → Messages available via UI.
This can / should also be done for tables in general, e.g. for the table under Active Scan.

Currently, it is possible to select entries and copy / export them via CTRL + C or to export them via API endpoint `http://zap:8080/UI/core/view/messages/`

[2017-05-04 13:14] #3461 closed

[2017-05-04 15:27] rain0r opened #3484 "Specify which fields the API returns"
At the moment, the API endpoint `core/view/message` returns the following data:

-
- id
- rtt
- type
- timestamp
- cookieParams
- note
- requestHeader
- requestBody
- responseHeader
- responseBody

It would be great if it was possible to either specify the fields the user would like to have or to exclude some fields.

[2017-05-04 16:10] davewichers opened #3485 "Minor Enhancement: Indicate amount of Java memory actually used in JVM Options Panel"
I've run out of Java Heap space when running ZAP for multiple days on a large site. So, I need to increase the amount of memory I provide to ZAP when I run it. Problem is that I don't know how much it's using currently.

It would be helpful if the Options-->JVM Panel displayed all of the current Java memory options to help guide the user as to what to increase them to. And to display them in the w

[2017-05-04 16:19] davewichers opened #3486 "Minor Enhancement: ZAP GUI Warn User When its out of Memory"
I ran out of memory using ZAP. It kept running but the history wouldn't update, and I was trying to figure out why. I went into the zap log and found lots of entries like the one below.  Seems like it would be helpful to the user if ZAP presented something in the UI that it was low on memory and you might want to do something about it. Like restart, restart with more memory, etc. Right now it sile

[2017-05-04 16:51] rscipien commented on #2799
Hi

By my full name Rafał Ścipień

I have just added unit test
On Wednesday, May 3, 2017, kingthorin <notifications@github.com> wrote:

[2017-05-04 17:24] thc202 commented on #2786
@adioss done in zaproxy/zap-core-help#98. Thanks!

[2017-05-04 17:28] thc202 commented on #2799
@rscipien great, the remaining claim will be accepted soon.

[2017-05-05 12:56] ilyaglow commented on #2705
Any updates on this? In addition it would be great to have shortcut to `Fuzz...` selected entry from history tab.

[2017-05-05 13:04] ilyaglow commented on #2705
We should definitely use an active one

[2017-05-05 13:41] psiinon commented on #3479
This isnt a ZAP error message. We'll need to work out where it comes from and raise an issue on the relevant project.

[2017-05-05 13:43] ckarul opened #3488 "Zest Script execution action fails on Windows"
The latest version (2.6.0) still has the Zest : Action : Script execution problem with Windows.
(Previously discussed here https://groups.google.com/forum/#!topic/zaproxy-users/8EdgqM8zSrQ )

Works fine on Linux

<sub>Edit: 20170505 by @kingthorin, minor formatting tweak.</sub>

[2017-05-05 14:03] ckarul opened #3489 "Zest script execution UI does not show the correct configuration"
To replicate:

- Create a Zest Script
- Right click on script,  Add Zest Action \  Action - Script
- On the UI select a script
![image](https://cloud.githubusercontent.com/assets/28444360/25748371/d06e1ef6-3178-11e7-8d84-7723499c12d4.png) - saveToken.js
- Click Save (close screen)
-  Also Save the Zest script
- At this point the selected script should be saveToken.js
- Double click on the Action -

[2017-05-05 16:22] ksdev-pl opened #3490 "Poor font rendering on linux"
Would it be possible to do something with font rendering in owasp zap on linux?

Please compare the request/response font rendering of owasp zap with burp:

![screenshot from 2017-05-05 18-02-25](https://cloud.githubusercontent.com/assets/4216259/25753951/c387df2a-31bd-11e7-8b7a-89a853929f2f.png)

![screenshot from 2017-05-05 18-00-44](https://cloud.githubusercontent.com/assets/4216259/25753961/ca

[2017-05-05 16:29] kingthorin commented on #3490
1. I don't see anything wrong in the images you attached.
2. Duplicate? https://github.com/zaproxy/zaproxy/issues/3051

[2017-05-05 16:43] psiinon commented on #3490
For info ZAP on Fedora looks fine to me :/
Certainly doesnt look worse than any of the other apps I use on it.

[2017-05-05 16:48] ksdev-pl commented on #3490
#3051 is related to the `Dawt.useSystemAAFontSettings`. Without it the font rendering is abysmal. But with each possible flag options - I'm using the `gasp` - the request/response font rendering in owasp zap is still bad, this is the problem I'm writing about.

Here I've placed the comparison on one screenshot:

![untitled](https://cloud.githubusercontent.com/assets/4216259/25755247/7f55f68e-31c2-

[2017-05-05 16:51] ksdev-pl commented on #3490
@psiinon Can you please post a screenshot of zap with request or response tab opened?

[2017-05-05 17:01] psiinon commented on #3490
Sure - could just be me not used to poor fonts ;) http://imgur.com/mjDNqsU

[2017-05-05 17:20] ksdev-pl commented on #3490
Or me being choosy ;)

It looks similar, if not the same with default font:

![screenshot from 2017-05-05 19-03-30](https://cloud.githubusercontent.com/assets/4216259/25756168/0b022204-31c6-11e7-80fa-92b6dc131997.png)

If it is not hard to you to read it for a long time (with this rendering) I'm afraid I will not convince you. I know that I should be happy that we have a graphical interface ;) But

[2017-05-05 17:38] ksdev-pl commented on #3490
Maybe if the font in the request/response window could be changed by the user it would be enough (because now only the font size is taken from the settings, font name is ignored in the source window) - maybe it's a problem visible especially with the default font? Just an idea.

[2017-05-05 19:02] JordanGS opened #3491 "Feature-Request: Select Multiple Contexts"
Hold Shift or Ctrl and select multiple context and delete them.

From a usability standpoint it makes sense but also zap jenkins will now create a new context each time. It would be quite useful to be able to bulk delete from the UI.

and/or

Allow the keyboard Delete button to be able to trigger the deletion and go straight to the "Are you sure you want to remove this context?" prompt.

[2017-05-06 20:12] adrianclay commented on #2808
Hi @kingthorin "Adrian Clay" works for me :+1:

[2017-05-08 08:14] psiinon commented on #3491
Can see the benefit in this, and it should be an easy one to implement, hence the IdealFirstBug tag.
For info the context delete functionality is here: https://github.com/zaproxy/zaproxy/blob/develop/src/org/zaproxy/zap/extension/stdmenus/ExtensionStdMenus.java#L195-L211

[2017-05-08 08:17] psiinon commented on #3490
I'm all for making ZAP as easy to use as possible, and that definitely includes improving font rendering and giving users extra choices (eg being able to choose fonts) :)

[2017-05-08 09:20] thc202 commented on #3489
Fixed in zaproxy/zap-extensions#878.

[2017-05-08 09:20] #3489 closed

[2017-05-08 09:40] paulbaboo opened #3493 "Is it possible to do parametrization in OWASP Zap"
Is it possible to do parametrization in OWASP Zap'

If Yes,could you exlain me in detail

I have a URl whose ID can be used only once.so is it possible for me do parametrization to sent proper request.

[2017-05-08 09:44] psiinon commented on #3493
Please ask questions like this on the ZAP User Group: https://groups.google.com/group/zaproxy-users
Issues should only be raised for bugs or enhancement requests.

[2017-05-08 09:44] #3493 closed

[2017-05-08 12:17] rain0r opened #3495 "getLevel() vs getAlertThreshold()"
I was confused when I learned that in an active scanner, the threshold can be get with `AbstractPlugin.getAlertThreshold()` and in a passive scanner, it is `PluginPassiveScanner.getLevel()`.
Both methods return an `org.parosproxy.paros.core.scanner.Plugin.AlertThreshold` object.

Wouldn't it be nice if these two methods had the same name?

[2017-05-08 12:20] thc202 commented on #3495
Yes, as long as we keep binary compatibility.

[2017-05-08 14:19] kingthorin commented on #3470
FYI I booted a Kali VM this morning and it "should" be fine:
[code]

[2017-05-08 14:22] psiinon commented on #3470
Thanks @kingthorin :)

[2017-05-08 14:23] thc202 commented on #2820
Merging into #2615 (see also #1620).

[2017-05-08 14:23] #2820 closed

[2017-05-08 15:34] rickyshelton opened #3496 "Trying to produce an xml/html report using Zap CLI gives Python TypeError"
When trying to produce an xml/html report using the ZAP CLI gives an the following error :

`TypeError: coercing to Unicode: need string or buffer, NoneType found`

Observed using :
[code]

I've tried with both the weekly and stable builds
[code]

Steps to reproduce :

[code]

The alerts will produce the following output :

`docker exec zap zap-cli -p 8080 alerts`

[code]

Producing a text report

[2017-05-08 15:42] Grunny commented on #3496
Hi @rickyshelton! This is because you're missing the output file name as well, so this should work (to save it to the file `report.html`):
[code]

It should definitely fail more gracefully when it's missing a valid file path, so I'll be sure to do that. Feel free to file `zap-cli` related issues in the [dedicated repo](https://github.com/Grunny/zap-cli). Hope that helps! :)

[2017-05-08 15:43] thc202 commented on #3496
Closing, 3rd party project, the issue should be reported in https://github.com/Grunny/zap-cli/

Please link back (for the record).

[2017-05-08 15:43] #3496 closed

[2017-05-08 15:44] thc202 commented on #3496
(Missed @Grunny's comment...)

[2017-05-08 15:55] rickyshelton commented on #3496
Ahhhhhhh - of course.

Thanks guys !

[2017-05-08 18:02] ryepesg opened #3497 "Guide is not clear about the API support in WebSwing"
I'm trying to use ZAP running on WebSwing (on top of Docker) following the instructions from:
https://github.com/zaproxy/zaproxy/wiki/WebSwing

I even try the instructions "Accessing the API from outside of the Docker container" from:
https://github.com/zaproxy/zaproxy/wiki/Docker

To me, ZAP over WebSwing doesn't support the ZAP API, even with the API Key disabled. It would be nice if the guide t

[2017-05-08 18:08] kingthorin commented on #3497
Try browsing to http://localhost:8090

[2017-05-08 18:17] ryepesg commented on #3497
This is the problem, I got "The connection was reset" with:
http://localhost:8090
http://127.0.0.1:8090
http://172.17.0.2:8090 (the Docker IP)

I tried with and without using the proxy from the browser.

[2017-05-08 18:22] thc202 commented on #3497
Right, the API is no longer accessible (per latest API changes [1]). We need to change the `webswing.config` to allow all(?) addresses.

[1] https://github.com/zaproxy/zaproxy/wiki/FAQapikey

[2017-05-08 18:35] ryepesg commented on #3497
Should it work if I try with owasp/zap2docker-stable:2.**5**.0 ?

[2017-05-08 18:47] thc202 commented on #3497
Yes, that one will work without further changes.

[2017-05-08 18:50] davewichers opened #3498 "Minor Enhancement: Support Same Columns in Search Results as History Tab"
I'd like to be able to see the same columns in the Search results tab as the History tab (except with the added Match column in the Search tab). I think the default visible columns are fine, but can you add the other columns as well, in the same order as the History tab and have them off by default? Then I can click on the little config widget on the far right and enable whichever columns I want.

[2017-05-08 18:50] ryepesg commented on #3497
Thank you, I will use it meanwhile.

[2017-05-08 22:07] garthoidQlik commented on #1661
+1

Version: OWASP Zap 2.6.0
OS: win10

1. Start OWASP Zap
2. Ensure websockets tab displayed
3. Allow traffic to fill beyond displayed area.
4. Click menu item timestamp
5. Websockets view tab flashes continuously making it unusable.

Work around:
- restart zap. Promise yourself yet again never to click the timestamp header.

[2017-05-09 08:00] #3498 closed

[2017-05-09 12:39] rain0r opened #3503 "Provide universal formatter / code formatting guidelines"
It would be great if the zap team could provide an eclipse code formatter file which can be imported to eclipse. So everyone has the same code style when doing Code -> Format in eclipse.

No more whitespace issues in pull requests!

[2017-05-09 15:27] ryepesg opened #3504 "Zap API for Docker WebSwing uses all ram available (3.5+ GB) and API Web interface never starts"
I am using owasp/zap2docker-stable:2.5.0 as was recomended at https://github.com/zaproxy/zaproxy/issues/3497. When I use it at localhost it works just fine, even the client API.

But when I use it in a server (DigitalOcean, Google Cloud), then ZAP starts fine at 8080, using just about 700mb. But when I connect to 8090, it consumes all ram available (3.5 GB in my case).

Then the API interface at 8

[2017-05-09 20:56] thc202 opened #3509 "Update Selenium library to version 3.x"
Update Selenium library, bundled in Selenium add-on, to latest version available. The update will require the add-on to target Java 8.

This is needed to have ZAP work properly with newer versions of geckodriver/Firefox (possibly other WebDrivers/browsers).

[2017-05-10 09:01] thc202 opened #3510 "Zest - URL re-encoded when sending requests"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/XaHmgEX50lk/discussion

Steps to reproduce the issue:
1. Run ZAP with Zest add-on installed;
2. Create a Stand Alone Zest script that sends a request with URL encoded char(s):
[code]
3. Run the Stand Alone script and note that the actual URL sent was encoded again, e.g. `http://example.com/%25C3%25A7`.

Remarks:
If the URL

[2017-05-10 09:02] thc202 opened #3511 "Zest - Replace variables when running Action Invoke"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/DpSEmlvsYmI/discussion

Steps to reproduce the issue:
1. Run ZAP with Zest add-on installed;
2. Create a Stand Alone Zest script, that invokes another script passing a variable:
[code]
3. Create another Stand Alone script (`ShowVar.js`), that shows the value of the variable passed in:
[code]
4. Run the Zest script and note

[2017-05-10 09:02] thc202 opened #3512 "Zest - Allow to set/get global variables"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/DpSEmlvsYmI/discussion

Allow to set (and get) global variables [1] directly from Zest scripts.

Add-on:
"Zest - Graphical Security Scripting Language".

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsScriptsScripts#global-variables

[2017-05-10 12:48] kingthorin opened #3513 "Port Scan Options UI Tweaks"
It would be really nice if the values were left aligned so that they are more visually associated with the labels.

It also seems that the port slider allows at value above 65535. It's unclear if this results in an error or warning, however it should be corrected.

![portscan_opt_ui](https://cloud.githubusercontent.com/assets/7570458/25899226/01fc6b0c-355d-11e7-9820-933bc229062e.png)

[2017-05-10 14:27] Synkrone opened #3514 "Allow to obtain multiple messages by ID"
Hi,

I asked a question in the zap proxy google group and was instructed to raise an issue. The question was posted here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/zaproxy-users/BRUJPXWp6Z8/QJ8D_h-CAwAJ

The messages view of the core component enables you to retrieve a list of request-response pairs, but rather than giving you the ability to start at a certain id, it

[2017-05-11 09:36] thc202 commented on #3513
Maybe it could use `ZapPortNumbeSpinner` instead?

[2017-05-11 10:53] Veronit opened #3516 "Problem importing OpenAPI definition file using OpenAPI support add-on"
I'm trying to import a swagger json file into ZAP using OpenAPI support add-on.
The problem I am getting is a StackOverflowError error.
Whole log of the error below.
[zap.txt](https://github.com/zaproxy/zaproxy/files/992744/zap.txt)

I tried increasing stack size with -Xss option and allocated more memory to Java but couldn't get ZAP to import the file.

The json file I'm importing has ~26000 rows

[2017-05-11 11:12] kingthorin commented on #3516
Ref: https://groups.google.com/forum/m/#!topic/zaproxy-users/-EgNsA9_-M4

[2017-05-11 11:22] psiinon commented on #3516
@Veronit are you able to share your swagger definition? Feel free to change any private details and/or email it to me directly.

[2017-05-11 11:26] Veronit commented on #3516
No, sorry.

[2017-05-11 11:30] psiinon commented on #3516
@Veronit OK, np.
Which version of the OpenAPI add-on are you using?

[2017-05-11 11:35] kingthorin opened #3517 "Add SRI check to X-Domain Script Inclusion Passive Rule"
If there's a cross domain inclusion that includes an integrity attribute then no alert or reduced severity...

https://bugs.webkit.org/show_bug.cgi?id=148363

[2017-05-11 11:36] Veronit commented on #3516
@psiinon: Version 5

[2017-05-11 11:42] psiinon commented on #3516
@Veronit I dont suppose your swagger definition has any "#/definitions/" which could result in loops?

[2017-05-11 11:46] Veronit commented on #3516
Could be. It has quite a few #/definitions/.
I need to check if there is loops.

[2017-05-11 11:49] psiinon commented on #3516
@Veronit  Without having an example to go on thats my best guess.
However I'll add debug statements to help us diagnose such problems.
Ideally ZAP should detect and handle loops, but without a test case I'm nervous about trying to add such functionality.

[2017-05-11 11:55] Veronit commented on #3516
@psiinon I'll go through the json file and try to find any loops. Swagger editor at least doesn't give warnings or error about them (don't know if it's supposed to do so).
I'm reluctant in sending the file since it contains so much sensitive data.

If I find the loop, I'll make some changes to the json and send it to you.

[2017-05-11 12:45] thc202 commented on #2756
Reopening, there's still one case that can lead to locks.

[2017-05-11 13:01] kingthorin opened #3519 "Keyboard Shortcuts Issue?"
Note this is not an exact transcript from IRC, but provides the parts relevant to this issue.

Steps to reproduce:
[code]

Follow-on discussion:
[code]

[2017-05-11 13:50] kingthorin opened #3521 "Enhancement Request: Add Filter To Passive Scan Rules Options Panel"
With all 3 passive scan rule sets installed (alpha, beta, release) [_+scripts, +a few other addons_] there are "currently" 55 entries. It would really user friendly if a filter field was added to the top of the dialog/panel (similar to that in the Marketplace).

[2017-05-11 13:58] #2756 closed

[2017-05-11 15:04] davewichers opened #3522 "Enhancement: Allow Search to be Case Sensitive"
I'd like all the search options to support case sensitive search. Insensitive by default is fine. This includes the search tab at the bottom, and search within a specific request/response or anywhere else search is supported.

On a related note, do we support regex based search? If not, that would be good too, but harder and probably deserves a separate ticket if we decide its worth it.

[2017-05-11 15:28] thc202 commented on #3522
Search tab supports regular expressions, the "Find" dialogues usually don't.

[2017-05-11 15:31] thc202 commented on #3522
(And some of the "Find" dialogues allow to specify if the match is case sensitive or not.)

[2017-05-11 17:17] davewichers commented on #3522
OK. Sounds like we are really close. Can we just then make sure that ALL the search functions allow the user to specify Case Sensitive search? Ideally, they'd all just use the same dialog where possible so they'd be the same by definition.

[2017-05-11 17:18] scannerwebs opened #3524 "'Parameter Tampering' alert has an invalid 'otherinfo' field value equals @"
I think I have found a minor level bug for alert 'Parameter Tampering' other info field using ZAP API 2.6 docker version.
The value of tag **otherinfo** is _@_ when it usually comes with some useful data. Notice as well there is not **reference** tag for this particular alert.

`...
<count>6</count>
<solution>
<p>Identify the cause of the error and fix it.  Do not trust client side input and enfor

[2017-05-11 17:42] thc202 commented on #3522
Sure. Right, we should normalise that.

[2017-05-11 17:44] thc202 commented on #3524
From https://groups.google.com/d/topic/zaproxy-users/fo_nTMnwGQc/discussion

[2017-05-11 18:42] kingthorin commented on #3517
"Cross-Domain JavaScript Source File Inclusion"

https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/pscanrules/CrossDomainScriptInclusionScanner.java

[2017-05-11 18:44] kingthorin commented on #2000
![filter_history](https://cloud.githubusercontent.com/assets/7570458/25966186/4f227c2c-3658-11e7-9d13-b1e1c125163d.png)

[2017-05-11 21:57] ahmed-MAE commented on #3490
i have aproblem with zap font to in manjaro linux, the font is really poor , i changed it and all fonts look the same , i open it withe `zaproxy` command in the command line,  i think i opend it the worong way or something like that, any help ?

[2017-05-12 09:39] psiinon opened #3527 "Update baseline script to support python 3"
The baseline script https://github.com/zaproxy/zaproxy/blob/develop/build/docker/zap-baseline.py currently only supports python 2.
It would be good for this to be python 3 compatible as well.
Hopefully that wont be too hard for a pythonista?

[2017-05-12 12:27] #3481 closed

[2017-05-12 12:50] kingthorin commented on #3462
Fixed in https://github.com/zaproxy/zaproxy/pull/3474

[2017-05-12 12:50] #3462 closed

[2017-05-12 13:15] thc202 commented on #3390
Closing, latest version (0.0.10) has signatures.

[2017-05-12 13:15] #3390 closed

[2017-05-12 13:17] beccyanne commented on #1604
Sorry if this is the wrong place to ask - I'm trying to use the ZAP API at the moment, and I'm looking to reduce the amount of "things" that are done during an active scan. My first thought was to pass a policy file in through the API, but based on this issue being open, I assume that's not possible at the moment. Is there a work around I can use in the meantime?

[2017-05-12 14:14] kingthorin commented on #1604
There are various API endpoints within `/ascan/` that support creating and manipulating policies.

http://127.0.0.1:8080/UI/ascan/
[code]

[2017-05-12 14:56] davewichers opened #3528 "Minor Enhancement: Add Date Format Preference"
I don't believe we have this feature. There are places within ZAP that use the DD-MM-YYYY date format, but in the U.S. we use MM-DD-YYYY. It's confusing to us to use the other format. Can we have a preference that allows us to switch this format everywhere it's used? Defaulting to European standard as it works now, is fine :-)

[2017-05-12 15:15] thc202 commented on #3528
Could you provide the name of the component/dialogue/tab that's showing the wrong date format?

[2017-05-12 15:26] davewichers commented on #3528
Timestamp column in the History tab is the only one I'm aware of. But I
haven't searched for other places where dates might be displayed.

On Fri, May 12, 2017 at 11:15 AM, thc202 <notifications@github.com> wrote:

[2017-05-12 16:50] thc202 commented on #2308
Fixed in zaproxy/zap-api-python#4.

[2017-05-12 16:50] #2308 closed

[2017-05-12 16:52] thc202 commented on #2308
Included in version 0.0.10.

[2017-05-12 16:55] psiinon commented on #3528
No way. The American date format is completely nonsensical and should never be encouraged!
Only joking ;) We should pick up the locale default and use that, but we can def have an option if that doesnt work for everyone.

[2017-05-12 16:56] thc202 commented on #2308
@Woolworths you should be able to claim the bounty.

[2017-05-12 17:01] davewichers commented on #3528
Both would be fantastic. If it automagically 'just works' that would be
great.

On Fri, May 12, 2017 at 12:55 PM, Simon Bennetts <notifications@github.com>
wrote:

[2017-05-12 17:07] kingthorin commented on #3528
Only joking ;)

Well we are talking about people that still care about the size of the King's foot 😀  I mean why go biggest unit to smallest, or smallest to biggest when you can do it completely jumbled up? Hahahahaha

Ok I'll stop with the joking, we'll see what we can do @davewichers

[2017-05-12 17:10] thc202 commented on #3528
We are already checking the locale and selecting the most appropriate language, which in this case ends up being en_GB :/

[2017-05-12 17:12] psiinon commented on #3528
As it should be :P

[2017-05-12 18:35] davewichers commented on #3528
Why would my locale by en_GB? I assume there is an en_US, which is what my
environ should resolve to, and so we could use that to select a default
date order that is more familiar to us?

On Fri, May 12, 2017 at 1:12 PM, Simon Bennetts <notifications@github.com>
wrote:

[2017-05-13 00:19] stephendonner opened #3531 "Unreleased zap-api-scan script gets stuck on "Records to passive scan" seemingly indefinitely"
Using the following revision of https://hub.docker.com/r/psiinon/zap2docker-api/ - which is built from https://github.com/psiinon/zaproxy/blob/418d4273716fb7f62bafc5cd5ebd6d40531eeadf/build/docker/zap-api-scan.py

Steps (for me) to Reproduce:

1. docker pull psiinon/zap2docker-api
2. docker run -t psiinon/zap2docker-api zap-api-scan.py -t http://petstore.swagger.io/v2/swagger.json -d
3. After you

[2017-05-13 08:52] rain0r opened #3534 "NPE while spider scan with HTTP State enabled"
This exception occurs when doing a spider scan with the option HTTP State enabled (branch develop):

[code]

[2017-05-13 10:43] thc202 commented on #3534
Thanks for raising the issue.

[2017-05-13 10:50] thc202 commented on #3531
Thanks for raising the issue.

Worth noting that this is not caused by the new functionality/script. It seems ZAP is stuck passive scanning a message (probably one with a big response), relevant thread/stack trace:
[code]

[2017-05-13 13:45] nslearnnerQ opened #3535 "False Negative-XSS"
Use the Default Policy to do Test.
Demo Site: http[ ://]testhtml5.vulnweb.com/

ZAP can't find this xss vul
How to configure to detect this issue?

A reflective XSS at Login parameter:
![image](https://cloud.githubusercontent.com/assets/28672906/26025933/81e871c0-3824-11e7-8a3d-cc1634364bec.png)
![image](https://cloud.githubusercontent.com/assets/28672906/26025956/e64979f2-3824-11e7-866a-21090a7b3

[2017-05-13 21:45] kingthorin opened #3536 "Sequence Addon "Active scan sequence" Doesn't Work From Scripts Tree"
Choosing to run an active scan by creating a new scan and selecting the sequence(s) from the list does (when starting from the Active Scan tab > New Scan button). However, starting from the scripts tree right click "Active scan sequence" does not. Active scan tab becomes active and immediately transitions from 0% to 100% displaying 0 requests sent.

[2017-05-14 10:00] thc202 commented on #3536
Could you attach/provide the (minimal) Zest script that reproduces the issue? Which versions of the add-ons are you using? Do you have the same options enabled in the main options panel and (advanced) Active Scan dialogue?

I'm not able to reproduce this issue.

[2017-05-14 12:13] kingthorin commented on #3536
This was my test target: https://github.com/silentsignal/damn-vulnerable-stateful-web-app I was running it under xampp portable on windows.  The following change is needed in ping.php (win vs. *nix):
`	system("ping -c $_SESSION[count] $_POST[host]");`
to
`	system("ping -n $_SESSION[count] $_POST[host]");`

[2017-05-14 12:25] kingthorin commented on #3536
Interestingly if I "Remvoe script" then re-open it, it works as expected.

[2017-05-14 13:09] kingthorin opened #3538 "Active Scan Advanced Options Tab Consistency"
If you run an active scan and tweak the advanced options for input vectors, technology, etc during the setup of a "new" scan everything seems to stick the next time you start a new scan except the policy selection.

This seems to be related to:
`resetAndSetPolicy(String scanPolicyName)` in `CustomScanDialog`. I propose a change like:
[code]

Does that make sense to everyone else? From my PoV if in

[2017-05-14 14:13] thc202 commented on #3536
Thanks!

[2017-05-14 15:29] kingthorin opened #3539 "Enhancement: Collect messages to scan before active scanning"
Prior to starting an active scan collect the message(s) to be scanned. So that any changes to those messages during the scan (such as an analyst or pen tester working with the same messages via the proxy etc) do not impact the messages being active scanned.

[2017-05-14 15:41] thc202 commented on #3538
Makes sense to me.

[2017-05-15 09:52] thc202 commented on #3536
Fixed in zaproxy/zap-extensions#887.

[2017-05-15 09:52] #3536 closed

[2017-05-15 17:33] thc202 commented on #3538
The DB tab is not "reset" (to what was before) when the dialogue is cancelled but Input Vector tab is. Should we reset the tabs DB and Policy as well?

[2017-05-15 17:38] kingthorin commented on #3538
I'll get some screenshots. I think things should stick between runs.

[2017-05-15 17:41] thc202 commented on #3538
Even when cancelled? (If started the options are kept in place.)

[2017-05-15 17:45] kingthorin commented on #3538
Can't do screenshots right now, but here's the flow. Start a new scan set input vectors, tech and policy ... run the scan. When that one is done (or maybe even while it runs...mine we're quick) Start another new scan, note tech and input vectors stuck from the previous scan, but policy didn't.

Cancel not implicated at all. However, I guess if you cancel it should go back to previous settings (not

[2017-05-15 18:21] thc202 commented on #3538
Right, the expected behaviour is clear when the scan is started (keep the same options). Just wanted to know/clarify the expected behaviour when the dialogue is cancelled, which is reset to previous settings(?).

[2017-05-15 18:45] kingthorin commented on #3538
I think that makes the most sense.

[2017-05-15 21:34] thc202 commented on #3032
Closing, duplicate of #2656 :/

[2017-05-15 21:34] #3032 closed

[2017-05-15 21:36] thc202 commented on #3511
This is being addressed in mozilla/zest#97.

[2017-05-15 21:40] thc202 commented on #3538
OK, will tweak that too.

[2017-05-15 22:22] thc202 commented on #3488
This is being addressed in mozilla/zest#98.

[2017-05-16 19:45] acaetano commented on #3110
Hello team, any advances on this request?

[2017-05-16 19:56] kingthorin commented on #3110
Unfortunately no.

We gladly accept contributions from new people though 👍

Alternatively if that's not your thing, you could try to push the item on bountysource and see if anyone takes it up: https://www.bountysource.com/teams/zap/issues [I don't seem to be able to find this issue on bountysource right now, but .....]

Other than that, it's a wait a see issue. Being Open Source and having a limi

[2017-05-16 20:23] acaetano commented on #3110
I could contribute with an example, but can someone show me where to begin with?

[2017-05-16 21:51] thc202 commented on #3110
Could you provide a concrete example of what you want?

For example, the following Stand Alone script creates a new pop up menu item in the Scripts tree:
[code]
but does nothing useful.

[2017-05-16 21:58] thc202 commented on #3110
We could add useful examples as Stand Alone(?) templates, or better create new script types? (With the latter we might end up having a lot of types.)

[2017-05-16 22:04] kingthorin commented on #3110
Standalone or Targetted makes sense to me depending on intended usage.

[2017-05-17 04:06] emanuelb opened #3549 "Private IP disclosure alerts on target IP with non default port"
when scanning:
http://IP:PORT/
it will report lots of 'Private IP disclosure' alerts when the response contain the same host that was scanned.

fix:
don't report 'Private IP disclosure' for IP that is used to browse the application.

[2017-05-17 04:39] Veronit commented on #3516
@psiinon After couple of days away from work I got back on this, I found a loop on the definitions. Removing that got rid of the error. Do you want an example of the loop?

[2017-05-17 06:16] emanuelb opened #3550 "missing webswing executable in weekly docker"
running:
[code]

work, while running
[code]

return:

[2017-05-17 06:49] kingthorin commented on #3549
Try setting the Threshold of the scan rule to LOW.

https://github.com/zaproxy/zap-extensions/commit/4573a04cc31ca637e1666a2ce7d66b21256560ee

[2017-05-17 08:23] thc202 commented on #3516
@Veronit yes, please, that would help address the issue.

[2017-05-17 08:28] thc202 commented on #3549
@emanuelb which version of the Passive scanner rules add-on are you using? Which alert threshold has the scanner?

@kingthorin setting to LOW would report those cases.

[2017-05-17 08:32] thc202 commented on #3550
This is because of the live image (weekly is based on live), which does not include WebSwing.

[2017-05-17 08:38] emanuelb commented on #3550
Ok, consider to add notice about it to documentation/wiki or have more useful error message that indicate the reason (unless it will be fixed)

[2017-05-17 08:40] thc202 commented on #3550
It will be fixed.

[2017-05-17 08:57] emanuelb commented on #3549
version of the Passive scanner rules: 19
zap version: 2.6.0
os: kali linux

The threshold was medium, changed to high/low. still report the issue.
The target IP scanned:
http://10.0.2.2:8081/
the result:
"10.0.2.2:8081" (under 'other info' in 'Private IP disclosure' alert)
Some of the reported alerts are real (that give other IP in private range) but not the one which report the IP scanned.

is th

[2017-05-17 10:11] kingthorin commented on #3549
Yup you're right of course, the previous change I linked compares for same host (which handles localhost loopback etc), not necessarily all private IPs.

[2017-05-17 10:15] kingthorin commented on #3549
You can always make a quick risk decision and disable the scan rule.

[2017-05-17 10:54] kingthorin commented on #3549
As a work around you could also add a hosts file entry then access the web app/site by name and leave the rule on to highlight issues.

[2017-05-17 14:58] acaetano commented on #3110
Standalone seems more suited for this, although targeted may be better with different use cases in the future...

As for the example you asked, a script that creates a top window menu root item (like "File","Edit",... ) that, when clicked, creates a new window that has a button (or text field) in it, maybe?

[2017-05-17 15:17] thc202 commented on #3550
Latest owasp/zap2docker-weekly image has Webswing.

[2017-05-17 15:17] #3550 closed

[2017-05-17 22:50] thc202 opened #3553 "Update Webswing in Docker images"
Update Webswing to version 2.5 to address the issues:
 - https://bitbucket.org/meszarv/webswing/issues/97 (fixed in 2.4, but following is a blocker)
 - https://bitbucket.org/meszarv/webswing/issues/214

that prevent some of the dialogues from being used (e.g. in Options > API, in Session Properties...).

(Pending release of version 2.5.)

[2017-05-18 07:56] #3534 closed

[2017-05-18 07:58] #3514 closed

[2017-05-18 09:55] kingthorin commented on #2452
Fixed in: https://github.com/zaproxy/zap-extensions/pull/868

[2017-05-18 09:55] #2452 closed

[2017-05-18 09:56] kingthorin commented on #3279
Fixed in: https://github.com/zaproxy/zap-extensions/pull/873

[2017-05-18 09:56] #3279 closed

[2017-05-18 11:42] egerod opened #3555 "Changing Session Name, doesn't Update the Window Name"
When updating the session name after opening the Session Properties view through a context, the window name is not updated to reflect the new session name.

Steps to reproduce: Open ZAP, double click default context to open Session Properties, navigate to general tab, change the session name, click ok.
Expected Outcome: Window name contains the new session name.
Outcome: The window still show the

[2017-05-18 11:52] kingthorin commented on #2000
![session_props_excl_ws](https://cloud.githubusercontent.com/assets/7570458/26201032/f9ff41a2-3b9e-11e7-91b2-2cfdb82792e9.png)

[2017-05-18 11:57] kingthorin commented on #3555
I agree that the behavior should be consistent but is it misleading if the window title is updated and the session is still not persisted (saved)?

[2017-05-18 12:54] thc202 commented on #3555
I don't think it would be misleading, we show both, the session name and file name (for the latter when persisted).

[2017-05-18 13:01] psiinon commented on #3516
@Veronit definitely - we've got some code which we hope will detect these sort of problems but it would be great to have more examples to test against.

[2017-05-18 13:30] kingthorin commented on #3555
Ok, perfect.

[2017-05-18 15:11] psiinon commented on #3468
Interestingly the rule is still taking a lot longer than expected, even with the reduced number of requests. Myself and @thc202 are investigating. In the meantime the release quality ascan rules shouldnt be published until we get to the bottom of this problem.

[2017-05-18 15:59] psiinon commented on #3468
For info its looking like its actually this regex that is killing performance: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/ascanrules/TestPathTraversal.java#L139
We're seeing a lot of locking and very high processor use.
I hacked a much simpler regex in (which obviously wont find all the right things) and it went from taking 11+ mins to scan Bodgeit with thi

[2017-05-18 16:13] kingthorin commented on #3468
Perhaps instead of OR'ing things just doing to two checks independently might be faster?
Actually it seems like half the pattern is meant for Win stuff and half for *nix stuff, so if the correct pattern is checked for the correct inputs things should....maybe.....get happier.

I'll dig into it a bit more.

[2017-05-18 16:15] yhawke commented on #3468
Ok this was the regex that has been suggested originally for the issue the review came from through a path for the overall implementation. I tried to split it in more regexes originally but then I re-assembled them together because I supposed the computation time should be  better in that way. The bad thng is that in my environment the plugin doesn't take so much time but probably that happened du

[2017-05-18 16:18] yhawke commented on #3468
An idea could be to check simply for the occurrence of the combination of the strings for Windows and Linux separately without any regex... because looking at the regex it seems to check only for this...

[2017-05-18 16:19] psiinon commented on #3468
I think @thc202 is looking into this now. We were thinking it would be better to split the check up to just look for Windows _or_ *Nix depending on the attack. Oh, and hopefully also change the add-on to use the techs ;)

[2017-05-18 16:21] yhawke commented on #3468
Well, some tests maybe should be performed, but I suppose we can also avoid to use regexes probably, simply checking for the specific presence of the single words for each tech....

[2017-05-18 18:49] kingthorin opened #3557 "Backport Export Changes to Fuzzer"
RE: discussion here: https://github.com/zaproxy/zaproxy/pull/3545#issuecomment-302499767
https://github.com/zaproxy/zaproxy/pull/3543

Original fuzzer export PR: https://github.com/zaproxy/zap-extensions/pull/284

[2017-05-19 08:34] #3460 closed

[2017-05-19 12:45] kingthorin commented on #3555
http://logs.glob.uno/?c=mozilla%23websectools&s=19+May+2017&e=19+May+2017

[2017-05-19 13:43] claudijd opened #3559 "ZAP API option to output report in JSON format"
I'd like to request a feature for adding JSON output to the ZAP API so that scripts can more easily present parsable data outputs for other automation purposes.

[2017-05-19 13:44] claudijd opened #3560 "zap scan (via container) that does both spider/active"
I've been playing with the baseline scan via the weekly docker containers and I'm finding kind of difficult to get a point and shoot setup working that includes spidering and active scanning.  If this doesn't exist already I think would be a great addition.

[2017-05-19 13:46] claudijd commented on #3560
I particularly would like the combination of this and #3559 to provide a point and shoot spider/active scan that produces JSON blobs.  IMO, that would be a really common use cases for someone looking to build a scan pipeline (which is essentially what I'm hoping to do here).

[2017-05-19 13:56] psiinon commented on #3559
Makes sense - we support XML, HTML and MD reports, not supporting JSON is an omission.

[2017-05-19 14:13] psiinon commented on #3560
I've been meaning to create a zap_fullscan.py script for some time...

[2017-05-19 14:20] claudijd commented on #3560
this ^

[2017-05-22 09:15] #3468 closed

[2017-05-22 09:23] #3524 closed

[2017-05-22 10:29] kingthorin opened #3563 "Enhancement: Add New Abstract Plugin Type"
I would be handy to have an active scan plugin type that runs once per directory (or once per node that could have children).

[2017-05-22 10:37] thc202 commented on #3563
Thanks for raising the issue :)

[2017-05-22 10:47] #3392 closed

[2017-05-22 15:40] psiinon opened #3566 "Packaged script tracker"
Changes proposed for packaged scripts like the zap-baseline.py and zap-api-scan.py

- [ ] Extract common features to a common script
- [ ] Control ascan rules via the config file
- [ ] Control strength and threshold via the config file
- [ ] Implement a new zap-full-scan.py script
- [ ] Use [argparse](https://docs.python.org/2/library/argparse.html) instead of getops (as per suggestion in #3561)
-

[2017-05-22 21:16] thc202 commented on #2191
Fixed in zaproxy/zap-extensions#885.

[2017-05-22 21:16] #2191 closed

[2017-05-23 07:30] stephendonner opened #3570 "Permission denied, failing to write HTML report in Docker, on Jenkins worker/slave node"
/cc @karlht with whom I had the hacking session, which led to this Issue filing

Problem:

Running any of the following variations (in Steps to Reproduce) of the zap-api-scan.py script, with -r zap_scan_report.html fails, with:

23:23:48 ERROR Permission denied
23:23:48 2017-05-23 06:21:37,957 I/O error(13): Permission denied
23:23:48 Traceback (most recent call last):
23:23:48   File "/zap//zap-a

[2017-05-23 08:22] thc202 opened #3571 "Require extension's dependencies during extension loading"
Reported by @kingthorin.

Steps to reproduce the issue:
1. Run ZAP with the following command line arguments: `-cmd -config extensions.extension.name=ExtensionAlert -config extensions.extension.enabled=false`
2. Note that in the log file there's an exception:
[code]
The passive scan extension should not be initialised since it depends on alert extension (which is not enabled).

Remarks:
The extens

[2017-05-23 09:37] anandumdas commented on #29
Please make it changeable from UI itself. This would be the update many are waiting for

[2017-05-23 11:31] psiinon commented on #3570
I dont _think_ this is a ZAP issue.
When you run docker with: `docker run -v $(pwd):/zap/wrk/:rw ...` you are mapping the /zap/wrk/ directory in the docker image to the cwd of the machine in which you are running docker, in this case the jenkins slave.
I think the problem is that your current jenkins  user doesnt have write access to the cwd.
Using `-e` on the call to `docker run` wont help you. T

[2017-05-23 11:40] psiinon commented on #3570
FYI

`docker run -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-live zap-api-scan.py -t http://example.com/ -f openapi -d -r sdonner_report.html`

works fine when run here in a directory in which the user has write access and fails in a similar way to the above if I remove write access to the sdonner_report.html file.

[2017-05-23 17:47] kingthorin opened #3572 "Add XSLT Injection Scanner"
Add an active scanner for XSLT Injection issues. See https://www.owasp.org/images/a/ae/OWASP_Switzerland_Meeting_2015-06-17_XSLT_SSRF_ENG.pdf for further details.

[2017-05-23 23:03] acaetano commented on #3110
All right guys, i came up with a crude example that has a label and a menu.
`
var frame = Java.type("javax.swing.JFrame");
var tela = Java.extend(frame);
var jpanel = Java.type("javax.swing.JPanel");
var jlabel = Java.type("javax.swing.JLabel");
var jmenubar = Java.type("javax.swing.JMenuBar");
var jmenu = Java.type("javax.swing.JMenu");
var jmenuitem = Java.type("javax.swing.JMenuItem");
var wndw

[2017-05-24 08:46] thc202 commented on #3110
You need to "implement" the `AbstractFrame`, e.g.:
[code]

Do you still want the example for adding the top level menu to main ZAP window?

[2017-05-24 15:52] acaetano commented on #3110
Ok, those braces really escaped me...

Thanks for that, and yes, i could use that help with the main window menu too.

[2017-05-25 10:50] kingthorin commented on #3557
Fixed in https://github.com/zaproxy/zap-extensions/pull/902

[2017-05-25 10:50] #3557 closed

[2017-05-25 10:52] kingthorin commented on #3280
Fixed in https://github.com/zaproxy/zap-extensions/pull/897

[2017-05-25 10:52] #3280 closed

[2017-05-25 11:40] psiinon opened #3578 "Update add-ons to use new Import menu"
We are getting more and more Import* options under the Tools menu.
I suggest we introduce a Tools / Import submenu (or top level Import menu?) for things like:

- [x] Import files containing URLs add-on zaproxy/zap-extensions#1963
  - Import a file containing URLs
- [x] Log File Importer add-on zaproxy/zap-extensions#1964
  - Import Logs into Zap Site Tree...
- [x] OpenAPI Support add-on zaproxy/z

[2017-05-25 12:19] thc202 commented on #3578
Another menu item "Import Logs into Zap Site Tree..." (which is currently in Analyse).

[2017-05-25 13:33] kingthorin commented on #3578
I like this idea.

- Include Context Import?
- Do we also need an Export menu/sub-menu to unify those items as well? (There are definitely fewer: Context, and various URL export options...)

[2017-05-25 13:44] psiinon commented on #3578
I kind of think Context Import is more of a File menu type of thing? But happy to be persuaded otherwise.
So move all of the Report / Export* items to a top level Export menu? That would probably make more sense

[2017-05-25 17:14] acaetano opened #3579 "Release Fuzzer session allocated memory"
Fuzzer quickly takes up a lot of memory, leaving the system to a drag, as some fuzzing sessions may be quite long. Can we have a button to flush a Fuzzer Session ?

[2017-05-25 17:23] thc202 commented on #3579
You can remove the finished fuzzers with the broom icon in the Fuzzer tab. Does that help?

[2017-05-25 21:00] thc202 commented on #2452
Released in version 14 of Passive scanner rules (alpha) add-on.

[2017-05-25 22:16] thc202 commented on #3441
Released in version 19 of Active scanner rules (alpha) add-on.

[2017-05-25 22:16] thc202 commented on #3279
Released in version 19 of Active scanner rules (alpha) add-on.

[2017-05-25 22:16] thc202 commented on #3280
Released in version 19 of Active scanner rules (alpha) add-on.

[2017-05-25 22:41] thc202 commented on #2191
Released in version 4 of Sequence add-on.

[2017-05-25 23:20] stephendonner commented on #3570
Closing this out; @ckolos got a working shell script (you'll understand it better than I): https://gist.github.com/stephendonner/80f7bee6366b2eb151a1ed47c4dfe129

There might be a better/cleaner way to do this, and so I'll either move this into a Jenkinsfile or a shell script (so we can also track changes to it via SCM).

Thanks for your patience!

<img width="1792" alt="screen shot 2017-05-25 at

[2017-05-25 23:20] #3570 closed

[2017-05-25 23:53] kingthorin commented on #3570
@stephendonner thanks for letting us know

[2017-05-26 08:35] #3571 closed

[2017-05-26 13:40] jammasterj89 opened #3581 "False Positive with Secure Pages Include Mixed Content and JavaScript files"
In ZAP 2.6.0 it is reporting "Secure Pages Include Mixed Content" on a javascript file. However, the line it is reporting the vulnerability for is in a multi line comment, it looks like ZAP isn't registering it is in a comment. Inline comments with http in them seem to be fine. The comment looks like so (I've cropped it a bit):

[code]
<sub>Edited by @kingthorin 20170526, formatting tweak.</sub>

[2017-05-26 13:43] kingthorin commented on #3581
Code ref: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/pscanrules/MixedContentScanner.java

[2017-05-26 13:48] jammasterj89 commented on #3581
as per @thc202 requested the "other info"

Other information
tag=img src=http://www.gravatar.com/avatar/{{hash}}

[2017-05-26 13:49] kingthorin commented on #3581
Oh so that means what you quoted in the original issue isn't what the scanner picked up...

Are you able to provide the file or full response that triggered the alert?

[2017-05-26 14:29] jammasterj89 commented on #3581
Sorry I've used the wrong comment, that gravatar link is in about six places in the .js.

Here's the report:
[https://ibb.co/kHyLCa](url)

And here's the instance in the .js file:
[https://ibb.co/fGXxsa](url)

[2017-05-26 14:34] thc202 commented on #3581
Thanks!

[2017-05-26 22:55] spoofzu commented on #2532
I noticed in [Issue 2532 Part3 #911](https://github.com/zaproxy/zap-extensions/pull/911) there was some regard to the idea of a progress bar.  If your noticing a delay in DeepViolet it's likely where I enumerate the server ciphersuites.  Enumerating the ciphersuites is time consuming.  You could pop up a spinner animation in the application to keep the user occupied.  If you want a progress indica

[2017-05-26 23:03] thc202 commented on #2532
Having access to the state of the enumeration would be great, we can provide a more accurate state to the user (it could even allow cancellation? i.e. if it's taking too much time for whatever reason).

[2017-05-28 09:45] megh-2017 opened #3586 "Unable to download ZAP on Windows 8."
The download fails after sometime.
Error: Failed - Forbidden.

I tried downloading both 2.6.0 and 2.5.0.
https://github.com/zaproxy/zaproxy/releases/download/2.5.0/ZAP_2.5.0_Windows.exe

[2017-05-28 21:25] kingthorin commented on #3586
Seems like a network or browser issue.

1. What's your connection like? (Dialup, DSL, cable, etc)
2. What browser are you using?
3. Are you using a proxy?
4. Are you using VPN?
5. Are you using a download manager?
6. What's the error coming from?

[2017-05-29 10:33] thc202 commented on #3528
@davewichers per #3587, ZAP will use the system's locale by default when formatting (thus showing the expected date order/format).

[2017-05-29 13:55] davewichers commented on #3528
Excellent. Thank you.

On Mon, May 29, 2017 at 6:33 AM, thc202 <notifications@github.com> wrote:

[2017-05-29 17:24] kingthorin commented on #3240
Code ref: https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/cmss

[2017-05-29 17:36] kingthorin opened #3588 "Enhancement(s): Marketplace/Extension UI Ideas"
A few ideas that have been brain stormed via email, all of which have potential.

- [ ] Revise the Marketplace dialog to allow multi-line display for the description column/field.
- [ ] Add a button to the dialog that would open the corresponding help info (where help info is in place).
- [ ] Add some functionality to support a kind of "First Run" dialog to display info to the user. ZAP has extens

[2017-05-29 20:57] kingthorin commented on #3517
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script

[2017-05-30 06:33] ani2796 opened #3593 "ZAP active scanner in daemon mode skips all scripts"
I'm currently running ZAP in daemon mode by building it in IntelliJ. However, whenever I make calls to the ZAP API for the active scanner, it gives me the following errors:

121531 [ZAP-ProxyThread-51] INFO org.parosproxy.paros.core.scanner.Scanner  - scanner started
121604 [Thread-7] INFO org.parosproxy.paros.core.scanner.HostProcess  - Scanning 62 node(s) from http://localhost:8080
121615 [Threa

[2017-05-30 07:34] psiinon commented on #3593
The Active Scanner can only act on urls that it knows about. If you just run it without exploring your site then there will be no urls and therefore it will exit.
You either need to run one of the spiders or explore you site in another way, eg by proxying regression tests or manual requests.

[2017-05-30 07:42] #3495 closed

[2017-05-30 08:08] jammasterj89 commented on #3581
Hi @thc202, should this still be marked as false positive?

[2017-05-30 08:16] thc202 commented on #3581
Yes, the scanner should not be reporting that.

[2017-05-30 08:31] ani2796 commented on #3593
Thanks for the prompt reply! But the active scanner didn't work even after I had run the spider. That was the trace I had copied in my original post.

Also, is there a possible way to start ZAProxy server using java code without using system commands?

[2017-05-30 08:39] gavk34 opened #3594 "ZAP API Ability to specify domains/addresses that API will be served from"
Recently I have been attempting to setup ZAP Proxy on Kubernetes, which is behind a HAProxy(Synapse).
While I am able to use the Proxy this way and browse pages etc. accessing the API from outside of the machine results in an infinite loop, similar to what was reported in #2318
I realise that the fix for this, https://github.com/zaproxy/zap-core-help/pull/79, has been checked in but this only appl

[2017-05-30 08:51] jammasterj89 commented on #3581
Sorry @thc202 I thought it meant the issue was a false positive, nevermind :)

[2017-05-30 08:55] thc202 commented on #3593
When built from source ZAP does not include any add-ons by default, you either need to install the "Active scanner rules" add-ons (e.g. [1]) or build/copy the add-ons to src/plugin directory (and build ZAP again).

It's possible to do that as long ZAP jar and its dependencies are on the classpath (you can call ZAP main method, which starts ZAP), although it's probably better to use a JVM just for

[2017-05-30 11:09] ani2796 commented on #3593
Alright thanks! I tried including the ZAP jar and run the main() function of ZAP. However, I'm getting the following error:

Failed due to invalid parameters. Use '-h' for more details.

Process finished with exit code 1

It'd be great if you could give help out ASAP, thanks!

[2017-05-30 13:29] thc202 commented on #3593
It should be passed an empty array, if you don't want to specify any command line arguments.

[2017-05-30 17:19] acaetano commented on #3110
There is something else that i need help with. I've been trying to add a popup menu from a highlighted text withouch much success. I even tried to use this [PopupCopyMenu class](https://github.com/zaproxy/zaproxy/blob/cc58c9e73327cb8f8bc51b6afc3965ff6ab6901a/src/org/zaproxy/zap/extension/stdmenus/PopupCopyMenu.java), but i got nothing in return.

Can someone give me a hand?

[2017-05-30 17:21] thc202 commented on #3110
For which component do you want that? Request/Response tabs?

[2017-05-30 17:26] acaetano commented on #3110
Yes! Both of them.

[2017-05-30 18:14] thc202 commented on #2997
Fixed in zaproxy/zap-extensions#916 and zaproxy/zap-extensions#918.

[2017-05-30 18:14] #2997 closed

[2017-05-30 18:15] thc202 commented on #2996
Fixed in zaproxy/zap-extensions#917.

[2017-05-30 18:15] #2996 closed

[2017-05-31 04:15] ani2796 commented on #3593
Thanks. However, now, I think I have to change my build.xml file because I'm getting this error:

Defaulting ZAP install dir to /C:/Users/asriram/.m2/repository/org/zaproxy/zap/2.6.0/zap-2.6.0.jar
Warning: failed to load language files from C:\Users\asriram\.m2\repository\org\zaproxy\zap\2.6.0\zap-2.6.0.jar\lang
Warning: failed to load jar files from C:\Users\asriram\.m2\repository\org\zaproxy\zap

[2017-05-31 08:33] psiinon commented on #3344
For info - have got this working, just need to tidy up:)

[2017-05-31 08:36] psiinon opened #3598 "OpenAPI: Support older swagger formats"
It looks like the libs we use do support this, if told to: https://github.com/swagger-api/swagger-parser#adding-to-your-project

[2017-05-31 08:40] psiinon opened #3599 "Always attack Data Driven Nodes"
Data Driven nodes are not attacked unless the option to attack paths is selected.
As these are really data rather than structure I think we should always attack them, especially as attacking all paths significantly increases the time a scan takes.
We could have an additional option but I'm not sure that will provide any real benefit and could just confuse matters.
@thc202 @kingthorin - thoughts?

[2017-05-31 08:49] thc202 commented on #3599
I think it's OK to split that from "URL Path" but instead of attack always I'd associate that with an existing option, "URL Query String" and rename to "URL Query/DDN"(?).

[2017-05-31 09:08] psiinon commented on #3599
+1

[2017-05-31 09:22] kingthorin commented on #3599
I'm good with @thc202's suggestion.

[2017-05-31 09:56] thc202 commented on #3110
Adding a top level menu to main ZAP window:
[code]

Adding a pop up menu that obtains the selected text from any text component (that uses the main context menu):
[code]

It depends on the component that's being accessed, but it should be.

[2017-05-31 10:00] thc202 commented on #3593
That means the lang directory (and its Messages.properties files) are not accessible or don't exist. Are you providing them? (Note that ZAP also needs some other config files.)
You can use the `-installdir` command line argument to indicate ZAP where the directory that contains those dirs is located.

[2017-06-01 01:47] kingthorin commented on #3555
Ok so just to make sure I'm taking the right direction on this:

1. `setTitle()` will be removed from MenuFileControl.
2. The functionality from MenuFileControl will be added to `MainFrame.setTitle()`.
3. `ExtensionUiUtils.sessionChangedEventHandler()` should call `View.getSingleton().getMainFrame().setTitle("")` [or something like that].
4. Remove title handling from `Control`.

That's what I too

[2017-06-01 13:10] thc202 commented on #3344
Fixed in zaproxy/zap-extensions#924.

[2017-06-01 13:10] #3344 closed

[2017-06-01 18:31] thc202 commented on #3598
Fixed in zaproxy/zap-extensions#925.

[2017-06-01 18:31] #3598 closed

[2017-06-01 18:33] thc202 commented on #3516
Fixed in zaproxy/zap-extensions#905.

[2017-06-01 18:33] #3516 closed

[2017-06-02 20:08] jeannotteb opened #3608 "ZAP Python API - Authentication"
I'd like to start off by saying that I love this tool and the API is written in a very easy to follow way if you are familiar with Zap. The only troubles I've had is that I can't find much documentation on the python API, so I've gone off of the source code and verifying how it works against the app. I've been able to pull of scans and set contexts, but I can't seem to be able to correctly call an

[2017-06-02 23:56] kingthorin commented on #3586
@megh-2017 anything further on this?

[2017-06-03 02:10] kingthorin commented on #78
https://groups.google.com/forum/#!topic/zaproxy-develop/eeaY9FshU8s

[2017-06-03 02:15] kingthorin commented on #119
Does any of this code still exist anywhere?

[2017-06-03 02:29] kingthorin commented on #125
Won't that just end up taking a crazy amount of time?

How would we accomplish that exactly? Fuzzer results require analysis by a human. Also there is script functionality now which could be leveraged to analyze the responses and raise alerts if a static pattern can be discerned ahead of time....

This can be done. Is the item still relevant.

Fuzzer results can be export as CSV currently. I guess

[2017-06-03 02:39] kingthorin commented on #137
@ElColmo can you attach whatever code you've put together for this so it doesn't get lost?

Does the new ValueGenerator functionality help at all? (https://github.com/zaproxy/zaproxy/pull/3028 etc)

[2017-06-03 02:51] kingthorin commented on #244
Updated wiki ref: https://github.com/zaproxy/zaproxy/wiki/WatcherRules

[2017-06-03 02:57] kingthorin commented on #265
https://github.com/zaproxy/zaproxy/pull/2556

[2017-06-03 02:59] kingthorin commented on #292
There seem to be a number of options now in place to address this (security annotations, form exclusions, etc...) Can this issue be closed?

[2017-06-03 03:02] kingthorin commented on #293
Updated source:
https://github.com/cure53/H5SC

[2017-06-03 03:05] kingthorin commented on #343
@Drag0s did you ever get anywhere with this?

[2017-06-03 03:06] kingthorin commented on #347
Was this ever investigated further?

[2017-06-03 03:24] kingthorin commented on #682
Does Replacer (https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsReplacerReplacer) address this?

[2017-06-03 03:29] kingthorin commented on #739
Can this issue be closed as duplicate of Issue zaproxy/zaproxy#1353?

[2017-06-03 03:31] kingthorin commented on #765
Right-click (context) does display and allow "Find...."

[2017-06-03 11:09] thc202 commented on #3549
The problem is not with the IPs but the port, it's not being taking into account when doing the check.

[2017-06-03 11:28] thc202 commented on #739
Closing, addressed by #1353.

[2017-06-03 11:28] #739 closed

[2017-06-03 11:36] thc202 commented on #682
It does allow to workaround the issue (as with a HTTP Sender script).

[2017-06-03 11:47] thc202 commented on #347
The scans are (now) stopped before saving the session (it's possible that a scanner that has not fully stopped fails to persist a message but that shouldn't affect the session being saved).

Closing, as insufficient evidence.

[2017-06-03 11:47] #347 closed

[2017-06-03 11:48] thc202 commented on #343
There were some talks in IRC (iirc) about the development, but I don't think it was finished.

[2017-06-03 11:53] thc202 commented on #292
I'm OK with that.

[2017-06-03 11:55] thc202 commented on #244
That needs to be updated...

[2017-06-03 12:01] thc202 commented on #119
The code is still attached in https://github.com/zaproxy/zaproxy/issues/119#issuecomment-108895759.

[2017-06-03 12:03] thc202 commented on #3593
Closing, all questions seem to be answered. Any other question, please, let us know through the [User Group](https://groups.google.com/group/zaproxy-users). Thank you.

[2017-06-03 12:03] #3593 closed

[2017-06-03 12:09] thc202 commented on #257
The User-Agent header is no longer added, some headers might still be added/reorder though.

[2017-06-03 12:17] thc202 commented on #127
Closing, insufficient evidence. If you have this issue, please, provide some steps and more details on how to reproduce it.

[2017-06-03 12:17] #127 closed

[2017-06-03 12:23] thc202 commented on #325
Merging into #235.

[2017-06-03 12:23] #325 closed

[2017-06-03 12:24] thc202 commented on #235
See #325 for more comments about the expected functionality.

[2017-06-03 12:25] #292 closed

[2017-06-03 12:26] kingthorin commented on #244
Yup, on my list ...

[2017-06-03 12:40] thc202 commented on #78
@kingthorin do we really need to tag them? We could use the history type as mentioned in https://github.com/zaproxy/zaproxy/issues/78#issuecomment-108866592.

[2017-06-03 12:43] thc202 commented on #244
OK, I'll remove from mine then ;)

[2017-06-03 12:52] kingthorin commented on #78
Good point, totally lost track of that.

[2017-06-03 12:53] thc202 commented on #3440
Fixed in #3483.

[2017-06-03 12:53] #3440 closed

[2017-06-03 15:08] AnamikaD commented on #3491
@psiinon where is the "Contexts" part (when clicked it displays default context)?

[2017-06-03 16:00] thc202 commented on #3491
The idea is to be able to select more than one context from the Contexts tree, shown in the Sites tab (currently only one of them can be selected at any given time, the Contexts tree needs to be changed to allow multiple selections [1], and then the pop up updated to handle them).

[1] https://github.com/zaproxy/zaproxy/blob/6eb3229e060b3e551dfaca52b7453429ea905adc/src/org/parosproxy/paros/view/Si

[2017-06-03 16:15] kingthorin commented on #3491
The context related URL export functionality will need to be tweaked as well to accommodate multi-select.

[2017-06-04 02:54] kingthorin commented on #244
Updated: https://github.com/zaproxy/zaproxy/wiki/WatcherRules/_compare/6552935%5E...6552935

[2017-06-05 01:18] kingthorin commented on #765
I thought this was going to be as simple as adding the accelerator to `getPopupMenuFind()` https://github.com/zaproxy/zaproxy/blob/d76e69ace9e7d20346070f0d457c11f60054caea/src/org/parosproxy/paros/extension/edit/ExtensionEdit.java#L109-L122 but I'm not having any luck.

The other hotkeys in the text fields seem to be related to default swing functionality (text selection/editing), so there's not s

[2017-06-05 07:14] psiinon commented on #292
👍

[2017-06-05 07:23] psiinon commented on #119
Spurious thought - we could support adding TODOs in notes - just add a line starting TODO and that then gets added to the TODO tab, as per IDEs.

[2017-06-05 07:57] Salinka opened #3615 "ZAP Report lack of data"
Out of 27 alerts raport with only 16 is generated.

![image 1](https://cloud.githubusercontent.com/assets/9210304/26775462/131f974c-49a3-11e7-8cf2-5a3f835f2913.png)
![image](https://cloud.githubusercontent.com/assets/9210304/26775463/132e50c0-49a3-11e7-80f7-2e4ebc23d1f4.png)

[2017-06-05 08:29] #2788 closed

[2017-06-05 08:29] #3581 closed

[2017-06-05 08:43] thc202 commented on #3615
Which ZAP version are you using?

[2017-06-05 09:18] Salinka commented on #3615
Sorry, I missed the update. It was for version 2.5

[2017-06-05 09:19] #3615 closed

[2017-06-05 09:24] thc202 commented on #3615
Can you confirm that's working as expected with latest version?

[2017-06-05 10:06] Salinka commented on #3615
I have it changed already, but now there is sth strange shown.
There are some high risks in raport when in OWASP there are no high risks (they turned out to be false positives)

![1](https://cloud.githubusercontent.com/assets/9210304/26779847/5f1bec60-49e7-11e7-94c3-44a55e0e92bb.PNG)
![2](https://cloud.githubusercontent.com/assets/9210304/26779849/5f34008e-49e7-11e7-9e42-78551279e631.PNG)

[2017-06-05 10:11] kingthorin commented on #3517
Closing, wontfix.

Seems this is aleady in place and I'd forgotten that someone had added it: https://github.com/zaproxy/zap-extensions/pull/473/files#diff-61439a4dbd11d8e5534cffe309c71cb4

[2017-06-05 10:11] #3517 closed

[2017-06-05 10:21] thc202 commented on #3517
Removed the `wonfix` (it was fixed/implemented).

[2017-06-05 10:28] kingthorin commented on #3517
Fair enough, I guess it's more like `wasfixed` :grinning:

[2017-06-05 13:53] AnamikaD commented on #3491
@thc202 and @kingthorin Thank you for the explanation!! I am new to ZAP. What is the functionality of the context? Since you are talking about multiple context. How do we generate "multiple" context?

[2017-06-05 14:17] thc202 commented on #3608
For `set_logged_in_indicator`, `set_logged_out_indicator`, and `set_authentication_method` you need to pass the ID of the context not the name. You can check more details of the API calls in the wiki [ApiGen_authentication](https://github.com/zaproxy/zaproxy/wiki/ApiGen_authentication) or using the [API UI]( https://github.com/zaproxy/zaproxy/wiki/ApiDetailsUI).

There's a typo when specifying the

[2017-06-05 14:56] jeannotteb commented on #3608
Thanks a bunch for your time and help! I figured I was misinterpreting a few things. The errors gone away, it still gets hung up on the loggin page but that's something I can fix now that I can actually correctly call the functions.

I'm doing some basic scripting from a terminal while having the application up to see how my scripts affect the application and one thing I have noticed is that calli

[2017-06-05 14:56] #3608 closed

[2017-06-05 16:42] kingthorin commented on #3348
Closing, InsufficientEvidence

[2017-06-05 16:42] #3348 closed

[2017-06-06 08:44] thc202 commented on #3615
Thanks for the information. That's issue #2593, setting as duplicate of that one.

[2017-06-06 09:01] #3555 closed

[2017-06-06 09:01] thc202 commented on #3608
There are some changes (#3620) to fix some of the returned errors, it should no longer return "missing parameter" when invalid. Note that running the same script again will not work correctly, since it's not possible to have contexts with the same name. You could create a new session (`zap.core.new_session()`) at the start of the script to ensure it works always the same.

[2017-06-06 09:13] thc202 commented on #3491
More details about what a context is in:
https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsContexts

You can create/add more contexts with the button "New Context..." (its icon is a dialogue/window with a green plus in bottom right corner) in the Sites tab.

[2017-06-06 21:18] jagipas commented on #3412
Same here, more concretely in wivet framework link http://wivet.herokuapp.com/pages/10.php.

Build info: version: 'unknown', revision: 'unknown', time: 'unknown'
System info: host: 'MacBook-Pro-de-Javi.local', ip: '192.168.79.101', os.name: 'Mac OS X', os.arch: 'x86_64', os.version: '10.12.4', java.version: '1.8.0_91'
Driver info: org.openqa.selenium.chrome.ChromeDriver
Capabilities [{applicationC

[2017-06-07 11:51] hkesharia opened #3624 "ERR_CONTENT_LENGTH_MISMATCH"
Hi all,

In our organization, we have many internal/external applications. I am using OWASP ZAP to verify vulnerabilities in all of them. It works fine for most of the pages except few. It does not behave as expected when web server sends the data in chunk. Say example, web server set the Content-Length 12345, but flushes 1000 chars first and remaining data later. In this case, browser is showing

[2017-06-07 11:54] thc202 commented on #3624
Thanks for the report, I'll take a look at it.

[2017-06-07 13:53] psiinon opened #3625 "openapi fails with java.lang.NoClassDefFoundError"
Only happens with some older examples (and not all).
Exception in thread "ZAP-Import-OpenAPI-1"
java.lang.NoClassDefFoundError: com/google/common/collect/ImmutableList
	at com.github.fge.jackson.jsonpointer.JsonPointer.<clinit>(JsonPointer.java:46)
	at io.swagger.transform.util.MutableJsonTree.<init>(MutableJsonTree.java:36)
	at io.swagger.transform.migrate.V11ResourceListingMigrator.migrate(V11Re

[2017-06-07 14:10] oresundstrandpark-etape2 opened #3626 "Allow to delete messages with keyboard shortcut"
Please enable the delete key to delete items. Also when deleting it sometimes removes too many items, very annoying really...

[2017-06-07 14:17] psiinon commented on #3625
Also trying to import https://raw.githubusercontent.com/zaproxy/zap-extensions/alpha/test/resources/org/zaproxy/zap/extension/openapi/PetStore_1_2_defn.json just imports the url - but this _could_ be due to the fact that the content type is wrong?
http://petstore.swagger.io/v2/swagger.json (which has the right content type) imports fine.

[2017-06-07 14:34] thc202 commented on #3626
Could you provide more details about "removes too many items"? Is that when a parent node is deleted it deletes its child nodes?

[2017-06-07 14:52] thc202 commented on #3625
It should be version 18.0, there are other dependencies missing (not sure if they are required or not).

[2017-06-07 19:56] oresundstrandpark-etape2 opened #3627 "ZAP does not warn if port already in use in macOS"
zap does not check if port is already in use, by e.g. mitmproxy - can you add this ?

[2017-06-07 20:02] thc202 commented on #3627
ZAP already informs when it can't listen on the specified port (when run in daemon mode and with GUI). What other check should it have?

[2017-06-07 20:56] thc202 opened #3628 "Unable to remove script with missing script type"
From OWASP ZAP User Group: https://groups.google.com/d/msg/zaproxy-users/4Fulnrhd8kQ/-hA04FTZCAAJ

Steps to reproduce the issue:
1. Start ZAP adding a script with command line arguments, but with a script type that does not exist. [1]
2. Once started, ZAP informs/warns that the script type is missing, as expected.
3. Note that it's not possible to remove the script (e.g. it's not shown in the Scri

[2017-06-07 20:58] oresundstrandpark-etape2 opened #3629 "Delete function"
Can you add an easy function to delete history ?

[2017-06-07 21:03] kingthorin commented on #3629
Right click and select delete isn't easy enough?

[2017-06-07 21:37] thc202 commented on #3629
Please, comment on existing issues. Closing as duplicate of #3626.

[2017-06-07 21:37] #3629 closed

[2017-06-07 22:46] #3110 closed

[2017-06-08 00:44] ArunObappa opened #3633 ""Generate Anti-CSRF Test Form" not working"
Hi ,

I upgraded to ZAP 2.6.0 from ZAP 2.5.0
When I try to "Generate Anti-CSRF Test Form" . I get below error.
Please let me know how to revert back to ZAP 2.5.0
It was working fine in ZAP 2.5.0

http://www.localhost.com:8080/OTHER/acsrf/other/genForm//?apinonce=83ee9cbf3294dd53&hrefId=4

ZAP Error [java.net.UnknownHostException]: www.localhost.com

Stack Trace:
java.net.UnknownHostException: www.

[2017-06-08 02:28] kingthorin commented on #3633
You should be able to get it manually via: http://localhost:8080/UI/acsrf/other/genForm/

hrefId will be the messageId of the history item for which you want the form made.

Are you using Windows?

[2017-06-08 02:31] kingthorin commented on #3633
I just did a quick bit of testing with this. It seems like a few bugs might be in play here.
1. The nonce is rejected because the PATHs don't match due to a missing leading slash:

When Firefox (that's what I was using) gets this reset/rejection from ZAP it tries hard to resolve localhost and ends up with www.localhost.com (I think).

2. The URL contains a double slash due to this code: https://gi

[2017-06-08 03:03] ArunObappa commented on #3633
http://www.localhost.com:8080/OTHER/acsrf/other/genForm/?apikey=myapikey&hrefId=4

Changing URL as per point 4 above did not help

[2017-06-08 08:20] thc202 commented on #3633
Did you also change the hostname (to localhost)?

[2017-06-08 10:45] thc202 commented on #1546
Closing, per changes done in #2032. Quick Start add-on "now" (since version 17) informs about the reason why the URL was not attacked.

[2017-06-08 10:45] #1546 closed

[2017-06-08 12:08] jjgh commented on #1546
Good job guys! 👍

[2017-06-08 12:48] ArunObappa commented on #3633
my post request have the URL http://servername/mitcsrf/Default.aspx

"Generate Anti-CSRF Test Form" I changed as below. I still have same problem.
http://www.localhost.com:8080/OTHER/acsrf/other/genForm/?apikey=myapikey&hrefId=16

Please let me know, if I need to do further changes to URL

Is there a way I can install 2.5.0

[2017-06-08 13:01] thc202 commented on #3633
You need to change the URL to match ZAP's address:
http://localhost:8080/OTHER/acsrf/other/genForm/?apikey=myapikey&hrefId=16
(Assuming that ZAP is listening on localhost:8080)

If that still fails you need to ensure that you are allowed to access the API (in case you are accessing ZAP remotely from other machine than the one that ZAP is running). [1]

Yes, you can still use an older version:
http

[2017-06-08 13:09] thc202 commented on #3633
@kingthorin regarding 3., that's the browser retrying the requests.

[2017-06-08 13:28] kingthorin commented on #3633
Ok thanks, that makes sense.

[2017-06-08 16:51] AnamikaD commented on #3491
@thc202 thank you for the information!

[2017-06-08 18:35] thc202 commented on #649
Reopening, we should log that as error, otherwise initialisation errors of add-on classes go unnoticed very easily. It's true that we can enable debug but better if we get that info by default (also, we already log as error other exceptions thrown by add-on classes).

[2017-06-09 03:32] ArunObappa commented on #3633
Thanks thc202 for older version !

Thanks kingthorin, works after dropping  "www." and ".com"

[2017-06-09 07:33] #649 closed

[2017-06-09 08:04] #3633 closed

[2017-06-09 09:07] #3539 closed

[2017-06-09 09:18] #3549 closed

[2017-06-11 07:26] rnehra01 commented on #3022
@psiinon Implementing this requires us to own a domain so that we can inject that in parameters and if server visits that URL, we get the request in the log. So how do you want to proceed? So either ZAP or the user should have a domain which can be used.

[2017-06-12 08:11] jammasterj89 opened #3644 "OpenAPI - unrecognized token"
When pulling Docker latest for the ZAP baseline script, the following error has been occurring since 06/06/17 and is still happening today:

[code]

[2017-06-12 08:26] psiinon commented on #3644
The error implies there is an issue with your OpenAPI definition on line 2 column 5: the token 'var' appears where the parser expects 'true', 'false' or 'null.
Can you check your definition and see if its valid?
Would it be possible to share it, or the relevant portion of it?

[2017-06-12 08:34] psiinon commented on #3022
@rnehra01 To start with we can depend on the user to set one up - they will then need to be able to configure ZAP with the relevant host name or IP address.

[2017-06-12 09:08] jammasterj89 commented on #3644
Hello, thanks @psiinon. Ah right that's interesting because this is a live system it doesn't have any OpenAPI info on there - I've just asked one of the developers and he said it was part of the source code so won't get compiled into the release.

Is that what ZAP is doing at that point, scanning the OpenAPI documentation? Because the rest of the baseline scan runs fine after that error.

[2017-06-12 09:24] psiinon commented on #3644
Yeah, if ZAP detects Open API or SOAP defns it will try to parse and import them when spidering.
The error should impact anything else ZAP is doing, so you can just ignore it :)

[2017-06-12 09:31] ani2796 opened #3645 "Starting ZAP server from source code"
Hi,

I'm able to call the ZAP client API to execute my scans successfully. However, I wish to start the ZAP server from the java source code without using any system commands. I tried to import the ZAP maven dependency and call the ZAP.main(String[]) method, using the following line of code:

`ZAP.main(new String[] {"-daemon", "-port 1234"});`

However, I keep getting the following error:

I'd app

[2017-06-12 09:37] psiinon commented on #3644
Ugh, updated comment to read 'shouldnt' ;)

[2017-06-12 09:40] thc202 commented on #3645
As mentioned in https://github.com/zaproxy/zaproxy/issues/3593#issuecomment-305144563 that happens if the files ZAP expects are not provided.

P.S. For questions like this it's better to use the User Group.

[2017-06-12 09:42] ani2796 commented on #3645
Alright, thanks. I'll ask any further questions related to this one on the user's group.

[2017-06-12 09:46] #3645 closed

[2017-06-12 10:45] jammasterj89 commented on #3644
Okay thank you! Just looking through the zap-baseline.py, is it specified in that script where it looks for the defns? Just thinking if I could look at the same file that ZAP is scanning I might be able to debug the error.

[2017-06-12 10:51] psiinon commented on #3644
No, its provided by this add-on: https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsOpenapiOpenapi
Debug logging might help, but the easiest option is probably to open the site in ZAP and spider it, which should cause the defn to be found and imported (or not as the case may be).
Then you can use the Search tab to look for "swagger"

[2017-06-12 11:02] thc202 commented on #3513
Fixed in zaproxy/zap-extensions#933.

[2017-06-12 11:02] #3513 closed

[2017-06-12 11:06] thc202 commented on #3491
Yes, it should/could be accessible with a keyboard shortcut.

[2017-06-12 14:14] jammasterj89 commented on #3644
Thanks for the help @psiinon. I've scanned a different site and got the same error (that site doesn't have any OpenAPI definitions either) and doing a manual spider with ZAP searching for "swagger" didn't return anything. Like you say the scanner still runs fine so its not a big deal, but I'll have a poke around and see if I can find out anything further and report back. Thanks again.

[2017-06-12 14:19] thc202 commented on #3644
Might be a response with "application" Content-Type (most likely "application/javascript"?). Worth searching for "var" (for you initial report).

[2017-06-13 08:15] #3289 closed

[2017-06-13 13:10] omerlh opened #3649 "Add docker health check"
Dockerfile allow you to declare [HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck) command. It would be great to add this command to the docker image, and report Zap as healthy when it complete loading. This could be useful when using Zap in CI environment (using `docker-compose`), and waiting to Zap to complete loading before starting the tests. The only problem is how w

[2017-06-13 13:24] thc202 commented on #3649
Using the API should be fine, since 2.6.0 (#3297) the API is available only after ZAP has finished starting.

[2017-06-13 13:25] omerlh commented on #3649
Ok, so I will try to create a PR with basic HEALTHCHECK - basically `curl`.

[2017-06-13 13:29] psiinon commented on #3649
I usually use core.version for this :)
https://github.com/zaproxy/zaproxy/blob/develop/build/docker/zap-baseline.py#L283-L289

[2017-06-13 13:32] omerlh commented on #3649
`zap-cli` is included in the image, so we can actually also use the `status` command. The only issue is to figure which port is used - as it is could be overridden. I think our best shot here is an environment variable. What do you think?

[2017-06-13 15:51] thc202 commented on #119
Sounds good.

[2017-06-13 22:52] thc202 commented on #984
Fixed in ZAP 2.4.0.

[2017-06-13 22:52] #984 closed

[2017-06-14 09:56] omerlh opened #3654 "Support for promises in Zaproxy nodejs client instead of callback"
Promises are already part of NodeJS, and it makes the development a lot easier, especially when using `async\await`.

[2017-06-14 10:28] thc202 commented on #3649
Using a environment variable sounds good to me, but we need to document that properly (in <https://github.com/zaproxy/zaproxy/wiki/Docker>?).

[2017-06-14 10:37] omerlh commented on #3649
You are correct, I am updating the documentation right now. I did not handle the case when Zaproxy is running with `apikey`, I think that in this case, the user should override the default health check. What do you think?

[2017-06-14 10:42] omerlh commented on #3649
Ok, I updated the documentation - appreciate feedback regarding the new section. Also, I think to change all the samples on how to run Zap to use `ZAP_PORT` instead of 8080.

[2017-06-14 10:52] omerlh commented on #3649
Ok, I updated the documentation. I was a bit surprised that I can just edit and save them, so I would like to hear your feedback.

[2017-06-14 12:49] thc202 commented on #3649
Thank you! Just a minor comment, the user does not need to specify the `ZAP_API_KEY` environment variable even if that's enabled (`zap-cli status` check does not use any API endpoint, it just tries to access the API UI which does not require the API key).

[2017-06-14 12:50] omerlh commented on #3649
Oh, I see. Thank you, I will update the documentation. Already waiting to use the new container :)

[2017-06-14 13:18] dbilling-mdsol opened #3655 "Error when opening session file"
I get this error in zap.log when opening a saved session file:

2017-06-14 09:12:14,446 [AWT-EventQueue-0] INFO  MenuFileControl - opening session file C:\Users\dbilling\Scans\zap_sm_im_q2_13062017-20170614-021906.session
2017-06-14 09:12:14,453 [AWT-EventQueue-0] INFO  Control - Open Session
2017-06-14 09:12:14,555 [Thread-24] INFO  ENGINE - dataFileCache commit start
2017-06-14 09:12:14,567 [Thr

[2017-06-14 13:27] thc202 commented on #3649
Looks good to me, thank you!

[2017-06-14 18:32] kingthorin commented on #3655
@dbilling-mdsol ZAP 2.6.0? Websockets extension v12?

As a test:

- Could you make a copy of the session files (to keep as your 'gold' standard).
- Open ZAP, un-install the WebSockets extension. (Restart ZAP if necessary.)
- Open the session.

[2017-06-14 19:26] #3649 closed

[2017-06-15 10:26] davewichers commented on #3528
Is this issue addressed now and should be closed??

[2017-06-15 10:30] thc202 commented on #3528
We don't allow the user to define its own format yet.

[2017-06-15 10:35] davewichers commented on #3528
Ah. But if it defaults to their location's standard format, that's probably
'good enough'. Thanks.

On Thu, Jun 15, 2017 at 11:30 AM, thc202 <notifications@github.com> wrote:

[2017-06-15 11:44] Dunnsk22 opened #3661 "Running Automated Security Scans in Daemon Mode"
Hi all,

First of all please forgive me if this issue is floating around elsewhere, but I cannot seem to find it. I am currently running selenium tests through ZAP and successfully executing security tests. However, to do this I need ZAP to be open, so that my code can create a connection.

Is there any way of running these tests through ZAP without the software being open on my computer? So as a

[2017-06-15 12:00] kingthorin commented on #3661
Check here (or the help that's packaged with ZAP):
https://github.com/zaproxy/zap-core-help/wiki/HelpCmdline#options
`-daemon`

You can then interact with ZAP via it's web API.
https://github.com/zaproxy/zaproxy/wiki/ApiDetails

If you have further questions the ZAP User Group https://groups.google.com/group/zaproxy-users and Developer Group https://groups.google.com/group/zaproxy-develop are much

[2017-06-15 12:00] #3661 closed

[2017-06-15 15:03] dbilling-mdsol commented on #3655
I'll have to run the scan again, but yes, I can do that.

[2017-06-15 21:41] JCWillard opened #3662 "SQL Injection false positive"
I'm using ZAP 2.6, Standard mode.
I have white-listed all the parameter inputs.
Running Active Scan, I get a SQL Injection Alert that I just cannot understand:

When GETing the original page
https://localhost:8443/rcrainfoweb/action/modules/br/interstateshiprecv/search , I get my standard error page, a blank html page, as expected. This page requires another missing parameter in order to run and r

[2017-06-16 08:05] #3459 closed

[2017-06-16 15:15] mqliang commented on #3281
@thc202 I'd like to pick this up since I have a good knowledge of Go. However, when I try run "ant build -f build-api.xml", I unfortunately get some errors:

[code]
Actually, I don't know how the client generation works. I look through the codebase, it seems  not OpenAPI. Could you please give me some instructions?

[2017-06-16 15:21] thc202 commented on #3281
The Go generator is at:
https://github.com/zaproxy/zaproxy/blob/1b8ea631f514835eee02123dfc91d44ff1c427ca/src/org/zaproxy/zap/extension/api/GoAPIGenerator.java
(You just need to run that class.)

[2017-06-16 16:10] mqliang commented on #3281
Successfully generate the client code(see generated client here https://github.com/mqliang/zap-api-go/commit/af5e52e7c3a7c1378bb05e1308194a2e4c2de14c).

But if IIUC the client will ***NOT*** work. Since the generated client actually use some dummy struct to send HTTP request to ZAP server, and the most important "Request" method implementation is missing.  So, I think I should hand write a "Client

[2017-06-16 16:37] clayball opened #3667 "Markdown report heading format issue"
The top of the markdown report is missing a space after the # in three places (see below).

#ZAP Scanning Report
...
##Summary of Alerts
...
##Alert Detail
...

I fixed this and will submit a PR.

[2017-06-16 17:23] JCWillard commented on #3662
Additional information: Here are the Request and Response

GET https://localhost:8443/rcrainfoweb/action/modules/br/interstateshiprecv/search?query=query+AND+1%3D1+--+ HTTP/1.1
User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; rv:39.0) Gecko/20100101 Firefox/39.0
Pragma: no-cache
Cache-Control: no-cache
Referer: https://localhost:8443/rcrainfoweb/action/modules/br/naics;jsessionid=B85BB70C2B1782BB8E

[2017-06-16 17:51] #3667 closed

[2017-06-16 17:56] thc202 commented on #3281
Correct, the generated code will not work by itself, it's missing some more code (that code should also allow to specify ZAP's address, port, and API key).

That implementation sounds reasonable to me (that's similar to other API implementations). The API expects GET requests (with query parameters), although we could send POST for the actions.

[2017-06-16 20:14] kingthorin commented on #3051
@chrisfernandez did you open a ticket for BlackArch?

[2017-06-16 23:00] kingthorin commented on #3017
User created an account to open this issue but doesn't have any other activity in 9mo.

I propose this be closed as a won't fix since we don't have enough detail to re-create.

[2017-06-17 00:02] kingthorin commented on #2989
I'm guessing this is different because:
- when it's proxied the browser is actually technically making 3 requests.
- when it's sent manually the apache http client takes care of the redirects and ZAP only "sees" the original request and final response.

Right?

So in order to overcome that we'd have to always set follow redirects false on the sendAndReceive but then check the state of the follow r

[2017-06-17 00:11] kingthorin commented on #2926
Closing. The JavaDoc was out of date and is no longer at the reported location.

Up-to-date java client api info is here: https://javadoc.io/doc/org.zaproxy/zap-clientapi/

[2017-06-17 00:11] #2926 closed

[2017-06-17 00:12] kingthorin commented on #2920
@Bsec did @thc202 address you concerns/ideas? Can this be closed?

[2017-06-17 00:15] kingthorin commented on #2762
@JordanGS any news?

[2017-06-17 00:16] JordanGS commented on #2762
Will test tomorrow and update thread accordingly.

Cheers, Jordan.

On Jun 16, 2017, 8:15 PM -0400, kingthorin <notifications@github.com>, wrote:

[2017-06-17 00:29] ChrisFernandez commented on #3051
Not yet :) got busy but I should... if I remember I will as soon I get home from work.

[2017-06-17 00:36] kingthorin commented on #2626
@fd0 did you ever get a chance to try Java 9?

[2017-06-17 00:53] kingthorin commented on #2543
@RaptorCZ Quick Start is just that, it's meant to be a quick point and shoot scan. If you need additional configuration (authentication, etc) then starting via other means (API, new active scan, etc) is the way to go.

[2017-06-17 01:13] kingthorin commented on #2077
@haseebeqx could you be more specific?

[2017-06-17 01:47] kingthorin commented on #1984
I've validated that there is a discrepancy with this. If [evidence returned is null](https://github.com/zaproxy/zaproxy/blob/2887f86fc7d0f4b74c31898dfabb52a432af17ad/src/org/zaproxy/zap/extension/api/CoreAPI.java#L1408) it isn't included. I verified this by listing 100 alerts, in which I encountered 70 occurrences of "evidence", when I changed that line to `String.valueOf(alert.getEvidence())` the

[2017-06-17 08:04] fd0 commented on #2626
Nop, but I'll try to do that next week. :)

[2017-06-17 09:20] thc202 commented on #3017
Agreed. Closing, insufficient evidence. If anyone happens to reproduce the issue, please, let us know.

[2017-06-17 09:35] thc202 commented on #3017
Reopening, this happens with binary payloads, they are currently not fuzzed. We should disallow fuzzing binary payloads (since it's not working) or just implement that.

[2017-06-17 10:29] thc202 commented on #3017
BTW, the title was updated to reflect the actual issue.

[2017-06-17 11:58] BSec commented on #2920
Will cross check it today and let you know. Thank you.

On 17 Jun 2017 5:42 a.m., "kingthorin" <notifications@github.com> wrote:

@BSec <https://github.com/bsec> did @thc202 <https://github.com/thc202>
address you concerns/ideas? Can this be closed?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/zaproxy/zaproxy/issues/2920#

[2017-06-17 15:11] thc202 commented on #2920
We should leave it open, the issue was not yet implemented (my suggestion was just where the new API endpoint(s) should be).

[2017-06-17 16:08] mqliang opened #3671 "Proposal: Generate client using template engine"
@thc202

Using template engine such velocity/freemarker will dramatically improve the readability/maintainability of client code generator.

Will do it first for go client generator if this idea sounds good to community.
cc @psiinon

[2017-06-17 16:54] kingthorin commented on #2920
Ok

[2017-06-18 16:29] stephendv1 opened #3673 "API: sendHarRequest results in error if redirects are true"
To reproduce through the API:
1. setMode to "attack"
2. sendHarRequest with a request and redirects set to true
3. Returns error: {"code":"mode_violation","message":"Operation not allowed for current mode"}

If step 2 is repeated but with redirects set to false, then the request succeeds.

[2017-06-18 17:27] thc202 commented on #3673
Issue introduced with the changes for #2546.

[2017-06-18 19:39] ErkanAksoy opened #3675 "Sites tree option Show only URLs in Scope not working"
Hello,
I am using ZAProxy in the latest version of Kali Linux with all updated packages. I browse a few sites using the proxy and then on the sites menu I add a site to the default context (https://ad.turn.com.* for example). Finally I select to "Show only URLS in Scope" but it does just nothing. I still see the every URL and the site list. I tried to renew the ZAProxy profile by deleting the /roo

[2017-06-18 19:51] #119 closed

[2017-06-18 19:55] kingthorin commented on #119
https://github.com/zaproxy/zap-extensions/pull/932

[2017-06-18 20:00] #3527 closed

[2017-06-18 20:01] kingthorin commented on #3527
https://github.com/zaproxy/zaproxy/pull/3617

[2017-06-18 20:32] i4s-pserrano opened #3676 "Enhancement: Delete single Alert using the api"
At this moment, using the Api you could delete all Alerts. When you are working with automatic environments like BDD or others, could be usefull to get the facility of delete specific alerts that you have verified that could be an false positive as you can do using the UI. Once you have deleted those possible false positives, you could generate the html or xml report with the real alerts

[2017-06-19 07:48] #3673 closed

[2017-06-19 07:59] #3521 closed

[2017-06-19 08:02] psiinon commented on #3675
@ErkanAksoy  Can you add screenshots of your Sites tree and Context definition screen?

[2017-06-19 08:11] psiinon commented on #3671
This is a great idea, although I'm a bit embarrassed that I didnt think of that myself :P

[2017-06-19 08:17] thc202 commented on #3671
Sounds good to me :)

[2017-06-19 09:32] #2955 closed

[2017-06-19 12:34] ErkanAksoy commented on #3675
Here are they @psiinon. I tried the same on my Ubuntu box as well.

![zap2](https://user-images.githubusercontent.com/10220856/27285215-98efccfe-5504-11e7-9782-ebca073c3853.png)

[2017-06-19 12:37] psiinon commented on #3675
Sorry, can you show us a screenshot of the "Include in Context" screen for the relevant context. Thanks

[2017-06-19 12:42] ErkanAksoy commented on #3675
It is what written default by the app when I pick a site to "Include in context". Even If I change it doesn't matter as following. (First line is default one, second is the one that I modify)
http://192.168.188.128.*
http://192.168.188.128*

![zap3](https://user-images.githubusercontent.com/10220856/27285496-9782e486-5505-11e7-9d76-0ff29086e556.png)

Thank you very much by the way. And my app vers

[2017-06-19 12:51] thc202 commented on #3675
Thanks for the information! The URLs are being included in context, it's the filtering/rendering of the tree that's not working properly.

[2017-06-19 12:57] ErkanAksoy commented on #3675
As I am quite new in ZAProxy, I hope that I didn't done anything wrong but found a bug. So It would be better If someone else can confirm this. Honestly I am quite new in web app pentesting and still confused If should go for it after 12 years of systems admin job.

Thanks and regards.

[2017-06-19 14:55] #3675 closed

[2017-06-19 19:05] JCWillard commented on #3662
Is my issue unclear?

[2017-06-19 19:11] psiinon commented on #3662
No, but we are all very busy and sometimes dont get to look at issues as quickly as we would like.
Can you post the full error details, including the description and 'other info' field - they should explain why this was flagged as a potential issue.

[2017-06-19 19:31] JCWillard commented on #3662
Thanks for responding.

Description: SQL injection may be possible
Other Info:
When GETing the page using the attack "query OR 1=1 -- " that is described in "Other Info" as:
"The page results were successfully manipulated using the boolean conditions [query AND 1=1 -- ] and [query OR 1=1 -- ]
The parameter value being modified was NOT stripped from the HTML output for the purposes of the compariso

[2017-06-19 19:54] ErkanAksoy commented on #3675
Here is the result of latest daily build, site tree doesn't populate site addresses anymore. Also filter is still not working according to number of sites in the tree.

![zap4](https://user-images.githubusercontent.com/10220856/27303056-1e4cedfe-5542-11e7-9b8d-2559a88c44e0.png)

[2017-06-19 19:56] thc202 commented on #3675
With latest daily build do you mean the weekly release? That version does not include the fix.

[2017-06-19 20:19] thc202 commented on #3662
Is the false positive happening always?

[2017-06-19 20:20] kingthorin commented on #3662
What's the exact name of the alert?

[2017-06-19 20:22] JCWillard commented on #3662
SQL Injection
Is that what you mean?

[2017-06-19 20:31] thc202 commented on #3662
Also, are you following the redirections when reproducing the attacks?

[2017-06-19 20:42] ErkanAksoy commented on #3675
Sorry for that @thc202, I meant latest weekly build. I now see that build doesn't fix the issue on this topic, just take it as a feedback for D-2017-06-19 :)

[2017-06-19 20:46] kingthorin commented on #3662
Is the response you quoted above the content of the 302 itself or the content of the redirect destination?

[2017-06-19 20:47] JCWillard commented on #3662
I'm no ZAP expert, so here's what I'm able to figure out to do:
Under the Alerts tab, under the SQL Injection Alert, I see many items listed. I'm right-clicking one of the items and clicking "Open URL in browser". The response I see is my custom error page.

kingthorin, the quote above is the content of the custom error page.

[2017-06-19 20:52] thc202 commented on #3675
No worries. I saw that behaviour with the weekly as well, that's why I was asking.

[2017-06-19 21:04] JCWillard commented on #3662
Also, Under the Sites tab, I find the Get:search and next the Get:search(query). Get:search(query) has a red flag.
The Request tab for Get:search is:
GET https://localhost:8443/rcrainfoweb/action/modules/br/interstateshiprecv/search HTTP/1.1
User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:53.0) Gecko/20100101 Firefox/53.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
A

[2017-06-20 05:53] Sravan-Apps opened #3682 "plug-n-hack installation error"
@psiinon
I am using Firefox  on Firefox 45.6.0.
I tried to install plug-n-hack but it failed with below error.
I did tried by disabling nounce in API, but that too did not work.

[code]
 I am using ZAP 2.6.0 on Debain 64 bit.

[code]

[2017-06-20 07:57] thc202 commented on #3682
Merging into #2069, the add-on is currently non-functional (e.g. the Firefox plugin is not signed yet). I'll remove the current version from the marketplace.

[2017-06-20 07:57] #3682 closed

[2017-06-20 08:01] thc202 commented on #1245
Merging into #2069.

[2017-06-20 08:01] #1245 closed

[2017-06-20 08:01] thc202 commented on #1682
Merging into #2069.

[2017-06-20 08:01] #1682 closed

[2017-06-20 08:14] thc202 commented on #3682
The add-on is no longer available in the marketplace. Please, subscribe to #2069 for updates about its state.

[2017-06-20 08:21] psiinon commented on #3682
However the client side aspects of PnH should still work (ie intercepting and changing PostMessages, which I think is why we kept it available.

[2017-06-20 08:29] #3676 closed

[2017-06-20 08:31] thc202 commented on #3682
Sorry, will restore it. Might worth releasing a new version? (To fix the binary incompatible changes.)

[2017-06-20 08:32] psiinon commented on #3682
yeah, we should do that

[2017-06-20 09:13] psiinon opened #3683 "NPE in ExtensionAlertFilters"
Reported via https://groups.google.com/d/msg/zaproxy-users/WLxf8IwSC-0/CsDMUxGbAQAJ
Looks like we should be checking for a null context at https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/alertFilters/ExtensionAlertFilters.java#L387

[code]

[2017-06-20 09:47] thc202 commented on #3682
New version released.

[2017-06-20 13:18] kingthorin commented on #2802
@yetmorecode could you let us know how you'd like to be added to the credits?
https://github.com/zaproxy/zap-core-help/wiki/HelpCredits#zap-extended-team

[2017-06-20 17:15] thc202 commented on #3324
I was not able to reproduce the issue with the payload provided.

I uploaded a test version of WebSocket add-on [1] that logs the contents of the payload when that happens, it would be great if any of you could check that and provide the log entry.

[1] https://github.com/thc202/zap-extensions/releases/tag/websocket-utf8

[2017-06-20 17:57] JordanGS commented on #2762
I haven't been able to replicate the issue with a new session. Not sure if that's because I only have bodgeit available for testing at the moment or because it's been fixed.

I'm trying to find my original sessions which had the issue and that's proving to be troublesome. I think I still have a copy at my old workplace but I won't be able to go there until Thursday/Friday.

On Jun 16, 2017, 8:15 P

[2017-06-20 19:38] thc202 commented on #3662
Are you able to consistently reproduce the issue?

[2017-06-20 20:25] ChrisFernandez commented on #3051
https://github.com/BlackArch/blackarch/issues/1698

[2017-06-20 20:30] thc202 commented on #3051
Thanks!

[2017-06-21 08:12] smichka commented on #3683
Steps to reproduce:
1) Start owasp zap in daemon mode (zap.sh -daemon -config api.disablekey=true -host localhost -port 8080)
2) Import context X over HTTP-API (http://localhost:8080/UI/context/action/importContext/)
3) Load a session, which references the exact same context X over HTTP-API (http://localhost:8080/UI/core/action/loadSession/) as imported before.

=> Exception:
217303 [ZAP-ProxyThre

[2017-06-21 08:18] thc202 commented on #3683
Thanks for the steps!

Note that the session contains the contexts, loading/creating a session will remove the contexts previously imported/added (if it's a new context you should load the session first then import the context).

[2017-06-21 08:22] #3456 closed

[2017-06-21 08:25] thc202 commented on #3654
AFAIK there's currently no one maintaining the NodeJS client API (there's a repo ready to receive the code https://github.com/zaproxy/zap-api-nodejs though). Pull requests very welcome!

[2017-06-21 08:28] thc202 commented on #3654
BTW, the current code is at:
https://github.com/zaproxy/zaproxy/tree/develop/nodejs/api/zapv2
and generator at:
https://github.com/zaproxy/zaproxy/blob/develop/src/org/zaproxy/zap/extension/api/NodeJSAPIGenerator.java

[2017-06-21 08:49] thc202 commented on #3456
ZAP will now inform of the active actions before applying the session change.

[2017-06-21 09:24] omerlh commented on #3654
Why Zap API does not have swagger? I will make client generation a lot more simplier...

[2017-06-21 09:30] thc202 commented on #3654
Indeed, no special reason, no one created it yet (that's on my TODO list but...).

[2017-06-21 09:31] psiinon commented on #3654
Because the API started off as a POC and has grown organically ;)
As @thc202 said, its something we'd like to add, and in fact we should be able to generate it...

[2017-06-21 09:33] omerlh commented on #3654
Yeah, I am looking into it now - I think this is better than fixing the exist NodeJS generator. Look like Swagger already support [promises](https://github.com/swagger-api/swagger-js/issues/207)
Anyway, it does not look easy, but I hope to have time and try that...

[2017-06-21 13:11] fd0 commented on #2626
I've just tried with the Debian `openjdk-9-jre` package with ZAP 2.6.0 and I can confirm that it works. It's just a hassle to install this package (don't get me started).

[code]

[2017-06-21 13:22] kingthorin commented on #2626
@fd0 thanks for checking and letting us know!

[2017-06-21 16:10] vdbaan opened #3689 "ZAP doesn't play nice with high-DPI displays"
After installing ZAP on windows 10 it shows tiny GUI elements, unlike other java products like Burp or Intellij IDEA.

[2017-06-21 16:23] psiinon commented on #3689
Yeah, this would be great to fix.
You can scale ZAP fonts, but thats not the right solution.
Confession time - I change my display properties just so that ZAP (and some other programs) look better :/
Anyone know the 'right' way to solve this?

[2017-06-21 16:38] thc202 commented on #3689
@vdbaan could you share some screenshots of IDEA and ZAP?

[2017-06-21 17:21] vdbaan commented on #3689
Sure,
here are three screenshots: ZAP, Burp and IntelliJ as demonstration.
![2017-06-21 18_14_38-owasp zap - owasp zap 2 6 0](https://user-images.githubusercontent.com/2207005/27397504-67b09fa0-56ae-11e7-9401-940218e975f1.png)
![2017-06-21 18_15_53-burp suite professional v1 7 23 - temporary project](https://user-images.githubusercontent.com/2207005/27397506-6a89c2a6-56ae-11e7-83d4-7f618b36276a.pn

[2017-06-21 17:53] thc202 commented on #3689
Thank you!

[2017-06-21 18:47] omerlh commented on #3654
Ok, I took a deeper look. I think the biggest challenge here is the response type: In my opinion, creating an Open API definition without the actual response type (and not generic response type), is a bit useless. Anyway, I will close this issue and open an issue about supporting Open API - so we could continue the discussion there.

[2017-06-21 18:47] #3654 closed

[2017-06-21 18:51] omerlh opened #3690 "Generate Open API spec for Zaproxy API"
It would be great to have Open API for the Zaproxy API as it make a lot of things (for example, client generation, API discovery)  pretty simple. The biggest issue here is the response type - currently, all the existing SDKs use a generic response type, and I think it is a bit useless to have Open API without the actual response type. By looking at the code, it seems pretty hard to support this an

[2017-06-21 19:13] kingthorin commented on #1136
I've looked at the docs, and re-read this a few times. I don't think anything further is needed. Closing - InsufficientEvidence.

[2017-06-21 19:13] #1136 closed

[2017-06-21 19:28] thc202 commented on #1136
@kingthorin thanks!

[2017-06-22 02:17] kingthorin commented on #765
Since there is no menu and hotkeys in popups only seem to work when the popup is displayed, I had the idea of adding a button the the toolbar and assigning the hot key to it.

So I've got this working. By adding the following in `org.parosproxy.paros.extension.manualrequest.http.impl.ManualHttpRequestEditorDialog` `getManualSendPanel()`:

[code]

It seems a bit kludgey. There's also an issue aroun

[2017-06-22 07:57] psiinon commented on #3690
There is another (non trivial) option - creating a v2 API defined by Open API that really is a REST one.
We will need to maintain the current one for the foreseeable future, but we can support both, eg via urls like https://localhost:8080/v2/... for the new one.
Not something to be rushed into, but it would allow us to significantly refactor the API and bring it up to modern standards.
Thoughts?

[2017-06-22 08:01] omerlh commented on #3690
Yeah, it is also might be a good time to use proper REST framework like Spring. Not sure about Spring, as I am not familiar with Java and REAS API development, but we should choose one and use it.
I think it will be easy to start with the alerts API, think it is the most useful now, and if it will work we can work on converting the others.

[2017-06-22 08:05] psiinon commented on #3690
Definitely agree with using a proper framework. The 2 APIs should still map to the same underlying code (ie what we are using now).
And yes, we should be able to come up with a core set of key endpoints (spider, scan, alerts) and then build it out from there.
Maybe one for 2.8.0?

[2017-06-22 08:14] omerlh commented on #3690
Yeah, I would like to help - but I could not do it alone, the task is pretty big.

[2017-06-22 08:17] psiinon commented on #3690
I think this is one that we can definitely distribute between a few of us :)
@thc202 @kingthorin what do you think? Is this something we should be looking at for 2.8.0?
If so we can start investigating & documenting suitable frameworks and approaches.

[2017-06-22 08:20] psiinon opened #3692 "zap-api-scan.py correct path handling"
As per https://groups.google.com/d/msg/zaproxy-users/tZbTqNMKtVQ/Z92fn_TxAAAJ

[2017-06-22 11:30] psiinon opened #3693 "Pscan rule to check for rel=noopener"
As per https://groups.google.com/d/msg/zaproxy-users/caDa9my443k/isWGNZhPAAAJ and https://mathiasbynens.github.io/rel-noopener/

For working out which links are 'external' can use something like this: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/pscanrules/CrossDomainScriptInclusionScanner.java#L136-L163

[2017-06-22 12:07] kingthorin commented on #3693
Ok so just to make sure we're all aligned, based on mathiasbynens site:

So the new passive should check for [crossdomain](https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/pscanrules/CrossDomainScriptInclusionScanner.java#L136-L163) links with `target="_blank"` and alert if `rel=noopener` and `rel=noreferrer` are not set for the same tag? I guess `rel=noopener no

[2017-06-22 14:29] #3692 closed

[2017-06-22 21:20] thc202 commented on #3683
Fixed in zaproxy/zap-extensions#937.

[2017-06-22 21:20] #3683 closed

[2017-06-22 21:25] ChrisFernandez commented on #3051
@thc202 turns out they pick up from upstream I have open a bug here:
https://bugs.archlinux.org/task/54551
but honestly I doub they will do anything about it.. :(

[2017-06-23 07:47] #1604 closed

[2017-06-23 11:39] vdbaan commented on #3689
Just a heads up, this might be actually a Nimbus issue. I build a small GUI myself and the only time that I have a problem is when I use Nimbus as laf, both Metal and System look 'normal'.
I have read that it could be fixed with jdk9, but will check and give you an update.

[2017-06-23 11:52] psiinon commented on #3689
@vdbaan oh thanks, if thats the case we should change our default from Nimbus :)

[2017-06-23 11:53] vdbaan commented on #3689
Or make it an 'Option' ;)

[2017-06-23 12:16] thc202 commented on #3689
What's default L&F in Windows? Metal?

[2017-06-23 12:17] thc202 commented on #3689
Regarding Java 9, it should work fine: https://bugs.openjdk.java.net/browse/JDK-8055212

[2017-06-23 12:17] vdbaan commented on #3689
Unfortunately yes, however UIManager.getSystemLookAndFeelClassName() does play nice.

[2017-06-23 13:04] vdbaan commented on #3689
my bad, I had 'Override high DPI scaling behaviour' set to system, that made all LAF versions seem to play nice.
Disabling that setting shows that:
- Nimbus still looks eny-tiny
- SystemLAF looks better, however not everything scales nicely as visible in the next screenshot
![image](https://user-images.githubusercontent.com/2207005/27483292-ac6fc19c-581c-11e7-9b2e-706840488a60.png)
also tables do

[2017-06-24 00:45] c676228 opened #3701 "The connection is reset when submit a request on api page"
when I click Browse API, the zap page is open, then I navigate to Core, view, alert, the url look like this:
http://zap/UI/core/view/alert/
the page opens ok. However when I try to submit the form.
![2017-06-23_connectionreset](https://user-images.githubusercontent.com/13107355/27504280-9a753034-583b-11e7-8cea-1dfc153c0c8f.png)
the following message is displayed. Can you help?

[2017-06-24 01:03] kingthorin commented on #3701
Details here:
https://github.com/zaproxy/zaproxy/wiki/FAQapikey
https://github.com/zaproxy/zap-core-help/wiki/HelpReleases2_6_0#api-security-changes

[2017-06-24 17:48] JordanGS commented on #2762
@kingthorin i don't have my original session and i currently don't have access to a site where i could replicate the issue. It was never an issue with bodgeit store. As such i can't verify if the issue was resolved or not.

I've requested access to a test site from a source where i discovered the issue but i have no eta on how long it will take to get access. Perhaps mark it as resolved but also f

[2017-06-24 21:12] kingthorin commented on #2762
We don't really have a forward followup mechanism. We can always revive via email thread or just search if necessary. Or, it can always become a brand new ticket.

[2017-06-24 21:12] #2762 closed

[2017-06-25 10:25] SyCode7 opened #3703 "org.parosproxy.paros.db.DatabaseException: java.sql.SQLException: Can not issue executeUpdate() or executeLargeUpdate() for SELECTs"
I have just tried to replace the default HSQL with MYSQL on my windows 10 machine. However, I have the following error in the terminal after making the necessary changes in the file "mysql.schema".
`12549 [AWT-EventQueue-0] ERROR org.parosproxy.paros.model.Session  - java.sql.SQLException: Can not issue executeUpdate() or executeLargeUpdate() for SELECTs
org.parosproxy.paros.db.DatabaseException:

[2017-06-25 11:25] kingthorin commented on #3703
Version of ZAP?
Version of MySQL?

[2017-06-25 11:52] thc202 commented on #3703
Can be reproduced with latest ZAP version (MySQL version does not matter, I think, ZAP is using wrong queries).

[2017-06-25 12:04] kingthorin commented on #3703
K

[2017-06-26 09:33] vdbaan opened #3705 "IPv6"
ZAP appears to be IPv6 unaware. When entering a IPv6 address it gives the error:
Failed to attack URL: IPv6Reference

This also has been mentioned at BSides LDN (see video: https://youtu.be/O0mniyVioJk?t=600)

[2017-06-26 10:31] thc202 commented on #3705
There are some issues when handling the IPv6 addresses (URI parsing/handling mostly).

[2017-06-27 07:39] #3703 closed

[2017-06-27 13:21] thc202 commented on #3671
Linking to related issue #3690.

[2017-06-27 13:31] thc202 commented on #3627
Closing (as insufficient evidence) still let us know if/how the current behaviour can be improved. Thank you.

[2017-06-27 14:07] acaetano commented on #3262
One functionality that i missed in fuzzer a few days ago was the possibility of injecting the same payload in two fields, or put some correlation between two fuzzing fields.

For example:

I have a soapaction header that needs to be accompanied by another value in a different header and each soapaction has a different value in that twin header.
Or if the soapaction header value has to be repeated

[2017-06-27 14:13] thc202 commented on #3262
@acaetano could you add that in #2967?

[2017-06-27 14:16] acaetano commented on #2967
One functionality that i missed in fuzzer a few days ago was the possibility of injecting the same payload in two fields, or put some correlation between two fuzzing fields.

For example:

I have a soapaction header that needs to be accompanied by another value in a different header and each soapaction has a different value in that twin header.
Or if the soapaction header value has to be repeated

[2017-06-27 14:17] acaetano commented on #3262
Done!

[2017-06-27 14:18] thc202 commented on #3262
Thank you!

[2017-06-27 17:10] oresundstrandpark-etape2 commented on #3627
Gosh, if you are closing all issues without changes, why bother having a
feedback button. Other proxies will detect this, and alert, if the port
is already in-use.

Peter

On 27-6-2017 15:31 PM, thc202 wrote:

[2017-06-27 17:15] thc202 commented on #3627
I closed the issue because no feedback was given after 20 days. As said in a previous comment ZAP already does that, it will inform if not able to listen to the specified port. Are you not seeing that? Which ZAP version are you using?

[2017-06-27 17:37] oresundstrandpark-etape2 commented on #3627
I am using latest version... No warning whatsoever when other proxy app
was started first... This is MAC version.

On 27-6-2017 19:15 PM, thc202 wrote:

[2017-06-27 17:48] thc202 commented on #3627
OK, thanks for the information. Reopening, I'll try check what's wrong (it works fine in Linux and Windows).

BTW, is there any error in the zap.log when that happens? [1]

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2017-06-27 18:01] oresundstrandpark-etape2 commented on #3627
I can check. Using ZAP to investigate app interface. A given post works
from the app, but shows Tags=JSON. If I duplicate this call it does not
work, although request is alike, but Tags shows Form, Hidden, Script -
is this coming from the server ?

Peter

On 27-6-2017 19:48 PM, thc202 wrote:

[2017-06-27 19:43] kiran-dp opened #3710 "Session Fixation scanner no longer available?"
Using ZAP through "owasp/zap2docker-stable" (https://github.com/zaproxy/zaproxy/wiki/Docker)
We are using modified version of za-baseline.py to invoke individual tests. Most of the tests are running fine except '40013 Session fixation' isn't working/loading.

40013 extension is listed at https://github.com/zaproxy/zaproxy/blob/develop/src/doc/scanners.md

Found old issue which indicated plugin-id

[2017-06-27 19:47] thc202 commented on #3710
Session Fixation scanner is bundled in the Active scanner rules (beta) add-on (scanner is in the beta branch).

[2017-06-27 19:58] kiran-dp commented on #3710
Appreciate quick response, will check beta branch.
Is there timeline for this to make it to master branch?

Thanks,
-Kiran

[2017-06-27 20:29] kingthorin commented on #3710
Scanner promotion is a long term goal, but not something that is terribly actively looked into.

If you have any interest in tackling some and contributing to open source let us know.

[2017-06-27 20:50] kingthorin commented on #3627
Tags are added by passively analyzing traffic. It is possible for two requests/responses for the same resource to be completely different depend on the app and tech involved.

Most of the default tags are based on simple regex patterns.

More info is available here, or in the help bundled with ZAP:  https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsTags

If you have further use/functi

[2017-06-27 21:35] thc202 commented on #2742
Closing as fixed in 2.6.0. Latest debug session showed that the option was being properly set and the DNS queries cached (although in some cases they were not used, exact cause is not yet known, as it happened in JRE classes).

[2017-06-27 21:35] #2742 closed

[2017-06-27 21:47] thc202 opened #3711 "Session snapshots might "break" running scans"
Steps to reproduce the issue:
1. Start ZAP and persist the session;
2. Run the spider;
3. Take a snapshot (while the spider is running);
4. Note a lot of exceptions in the log file, e.g.:
[code]

Remarks:
The issue might not happen always, it depends on the scanners accessing the session (while it's being copied).

ZAP version:
Version 2.6.0 (older versions are also affected).

[2017-06-27 21:51] thc202 opened #3712 "Allow to create reports with Ant tasks"
From OWASP ZAP Developer Group: https://groups.google.com/d/msg/zaproxy-develop/FvthljO7-T8/GOChpQj8DQAJ

Allow to create reports with Ant tasks. [1]

[1] https://github.com/zaproxy/zap-api-java

[2017-06-28 07:43] rain0r opened #3713 "CookieLooselyScopedScanner: ArrayIndexOutOfBoundsException"
This part of the [code ](https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/pscanrulesBeta/CookieLooselyScopedScanner.java#L142)raises an ArrayIndexOutOfBoundsException:

`		if (!cookieDomains[cookieDomains.length - 2].equalsIgnoreCase(hostDomains[hostDomains.length - 2])) {`

[code]

ZAP-Version: ZAP_WEEKLY_D-2017-06-27

[2017-06-28 09:33] thc202 opened #3714 "Spider - report # of new endpoints discovered"
From #2583:

[2017-06-28 09:33] thc202 opened #3715 "AJAX Spider - report # of new endpoints discovered"
From #2583:

[2017-06-28 09:36] thc202 commented on #2583
Splitting the issues (#3714 and #3715 to report number of new endpoints), to show the progress bar Crawljax needs to be changed (which is not being straightforward).

[2017-06-28 09:37] thc202 commented on #2583
(This should also be exposed through the API.)

[2017-06-28 09:58] zuBux commented on #2439
I ran into this use-case today, I agree this is really good to have :)

[2017-06-28 10:16] thc202 commented on #2439
I've the changes more or less ready, the form/dialogue is currently looking like:
![form-based with json](https://user-images.githubusercontent.com/4639210/27631997-51a15c6a-5bf2-11e7-90c7-a4a7580f8613.png)

[2017-06-28 13:06] JanPaulEttles opened #3716 "Lost focus on modal dialogs"
I've only just started looking at ZAP after years of genuinely thinking it was no longer an active project...

I quickly came across a bug that means I have to kill ZAP and restart it.

From the History panel context menu.
Attack->Fuzz...
Select location
Click Add...
Payloads Add...
Select File from the drop down.
ALT+TAB to your desktop
ALT+TAB back to ZAP and the modal dialogs are hidden, and it

[2017-06-28 13:08] thc202 commented on #3716
Which OS?

[2017-06-28 13:12] JanPaulEttles commented on #3716
ubuntu

[2017-06-28 13:22] thc202 commented on #3716
OK, which WM are you using?

[2017-06-28 13:22] psiinon commented on #3716
And why did you think ZAP was no longer an active project??
I would really like to know this - I'd hate for other people to be under the same misconception :/

[2017-06-28 13:26] JanPaulEttles commented on #3716
WM: Compiz

[2017-06-28 14:59] kiran-dp commented on #3710
Thanks. Looking into it, pulling https://github.com/zaproxy/zap-extensions/releases/download/2.5/ascanrulesBeta-beta-21.zap into docker, its loading 40013 now.

Will be happy to contribute back if I get this working.

[2017-06-28 21:09] thc202 commented on #3710
You can also install the add-on from within ZAP, using command line arguments (e.g. `-addoninstall ascanrulesBeta` [1]) or the ZAP API.

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpCmdline

[2017-06-29 00:55] kingthorin commented on #765
Anyone have thoughts/advice/alternatives?

[2017-06-29 09:22] #3559 closed

[2017-06-29 15:50] JKazma commented on #2439
Will the jenkins plugin support json authentication?

[2017-06-29 15:57] thc202 commented on #2439
The plan is to expose all the available authentication methods (there's already an issue to expose HTTP/NTLM).

[2017-06-29 22:38] thc202 opened #3718 "AJAX Spider - provide more progress details"
From #2583:

(See also #3715.)

[2017-06-29 22:38] thc202 opened #3719 "Spider - provide more progress details"
From #2583:

(See also #3714.)

[2017-06-29 22:39] thc202 commented on #2583
Moved the progress details to other issues #3718 and #3719.

[2017-06-30 09:32] #3714 closed

[2017-07-03 06:09] ChandanaShetty opened #3721 "Zap not working when running manually"
I set up the Zap for running application manually
Have done changes in Browser  set the proxy as localhost and port as 8095
And in zap tool also made the changes in connection and chose my ie driver
When I hit the google or other screens it reports in zap tool but when I hit my local application its not responding and not reporting it

[2017-07-03 08:13] thc202 commented on #3721
Which browser? Is the browser configured to proxy everything? (For example, Firefox will not proxy localhost and 127.0.0.1 by default.)

[2017-07-03 09:53] ChandanaShetty commented on #3721
Team,

Please find my Zap setting .

[cid:image001.png@01D2F410.44EB6FA0]

My Google chrome

[cid:image002.png@01D2F410.44EB6FA0]

Thanks & Regards,
Chandana Shetty

From: thc202 [mailto:notifications@github.com]
Sent: 03 July 2017 13:44
To: zaproxy/zaproxy
Cc: Chandana R. Shetty; Author
Subject: Re: [zaproxy/zaproxy] Zap not working when running manually (#3721)

Which browser? Is the browser con

[2017-07-03 10:01] thc202 commented on #3721
The attached images are not shown. Could you add them through GitHub website?

[2017-07-03 10:06] ChandanaShetty commented on #3721
[issue images.docx](https://github.com/zaproxy/zaproxy/files/1119143/issue.images.docx)

[2017-07-03 10:24] xandfury commented on #3721
I think chrome accepts system wide proxy. (This is, the proxy settings your operating system is using). Could you run the following snippet in **`cmd`** and share the results?

[code]

[2017-07-03 11:09] naveenjh23 opened #3722 "Spider scan status 0%"
Hi,

As I am new to the ZAP, I have few doubts

Can I scan any URL in jenkins using ZAP plugin.? (Any domain name)
Is it mandatory to use GIT while scanning.?
Is it possible to scan if application URL is in Intranet.?

Our application is in intranet, when I tried to scan in Jenkins, spider scan is going in loop and status will be 0% at the end, and ACTIVE scan also not able to scan, finally build

[2017-07-03 12:15] thc202 commented on #3722
We had reports of that in the past, but not enough information to know what's causing it. Following some questions:
 - Is ZAP running in a slave machine?
 - Could you provide the whole zap.log file? Just want to check if the spider is finishing or not. (In previous reports the spider finished but was still showing as 0% in Jenkins.)
 - Are you able to capture the network traffic between Jenkins an

[2017-07-03 12:18] thc202 commented on #3721
@xandfury right, that's most likely the reason (i.e. excluding local addresses).

[2017-07-03 18:13] thc202 opened #3724 "Wrong step in Getting Started Guide"
From OWASP ZAP User Group: https://groups.google.com/d/msg/zaproxy-users/6IRcGlKs1-w/Yz2S9xoZAwAJ

In the Getting Started Guide the section to import ZAP's Root CA cert into Firefox says:

Instead of `Trusted root certificates tab` it should say `Authorities tab`.

[2017-07-04 06:28] #3724 closed

[2017-07-04 06:30] #3284 closed

[2017-07-04 06:31] #2375 closed

[2017-07-04 06:32] AnamikaD commented on #1405
@psiinon @thc202 @kingthorin  We can give a user input to fill the characters that application filters out. We can generate attacks based on the filtered characters. I am not aware how do we generate this attack and mechanism to attack the application
Thanks :)

[2017-07-04 07:57] naveenjh23 commented on #3722
Hi,
Thank you for the response,

No, ZAP is running in Master
Yes, Spider finished but showing as 0% in Jenkins.
I have attached a file, which is a console output of Jenkins.
[ZAP.txt](https://github.com/zaproxy/zaproxy/files/1121317/ZAP.txt)

[2017-07-04 09:05] thc202 commented on #3713
Fixed in zaproxy/zap-extensions#942.

[2017-07-04 09:05] #3713 closed

[2017-07-04 09:11] thc202 commented on #3722
The odd thing is that the Jenkins plugin continues after a while (it should wait if not 100%). Which Jenkins version are you using?

Could you add the following line to log4j.properties file (in the same
dir as the zap.log file) and provide the log/output again?
`log4j.logger.org.zaproxy.zap.extension.api=DEBUG`

[2017-07-04 09:26] thc202 commented on #3722
It seems the spider is not finding anything(?), when attempting to active scan it ends up with: `URL Not Found in the Scan Tree (url_not_found)`.

[2017-07-04 13:31] naveenjh23 commented on #3722
Thank you, now I am able to scan for the URL for the welcome page only.
I am facing issue in the authentication, can you please guide me, where to pass URL's username & password in what format. coz there are two Username & Password section.

![zap11](https://user-images.githubusercontent.com/25816027/27832021-ba52e934-60ea-11e7-9728-60678112c35d.JPG)

[2017-07-04 13:35] naveenjh23 commented on #3722
I tried, while building it will open the target URL, but in the username it is taking some different username, not what I mentioned in the authentication section.

[2017-07-05 10:25] naveenjh23 commented on #3722
Hi can you please suggest me on this.

[2017-07-05 10:28] thc202 commented on #3722
Is the authentication working correctly when just using ZAP?

[2017-07-05 11:24] naveenjh23 commented on #3722
Without authentication its working fine, only login page it is scanning.
when I pass username and password, URL (which I mentioned in jenkins) will open in a browser, but it wont login.
Can you guide me, where should I pass the username and pass, and what should I pass in 'Logged in indicator', Username parameter etc.

[2017-07-05 11:43] psiinon commented on #3722
Have a look at https://github.com/zaproxy/zaproxy/wiki/FAQformauth, particularly the 'Diagnosing problems' section.
As far as I can tell from this discussion it look like this is a configuration question rather than an issue with ZAP.
As such it would be better discussed on the ZAP User Group: https://groups.google.com/group/zaproxy-users so please ask any more questions there.

[2017-07-05 11:43] #3722 closed

[2017-07-05 18:50] davewichers opened #3727 "Sites Tree Alpha Sort should ignore HTTP Method"
A while ago, you addressed my request to alphabetically sort the Sites Tree with: #1800. However, I just now noticed that the sort includes the HTTP Method in its analysis. This causes all URLs accessed with a GET to be listed before all the URLs accessed with a POST inside the same folder, which is non-intuitive/confusing. Please change the default behavior to ignore the HTTP method when sorting

[2017-07-06 22:41] thc202 opened #3734 "Allow add-ons without extensions to have help pages"
Allow add-ons without extensions (e.g. WebDrivers, FuzzDB files, SVN Digger files) to specify the help pages (currently the help pages are only loaded if the add-on has at least one extension).

[2017-07-06 23:20] PaulCanfield commented on #3662
I'm encountering what appears to be the same issue. When I run an active scan against any of my sites it will often trigger alerts indicating a potential SQL injection. Upon examination of the page I'm unable to find any evidence of vulnerability.

Quite vexing, as this has been happening quite frequently of late.

The alerts tab does not highlight or flag any of the response as indicative of a po

[2017-07-07 11:38] mikedouglasdev opened #3735 "ZAP seems to incorrectly report path traversal vulnerability in Angular app"
I'm running OWASP ZAP as part of an automated CI/CD process. I am doing a spider and active scan. The report showed that there is a Path Traversal vulnerability.

This is an Angular 2 site and the javascript application is downloaded and runs in the local web browser so there wouldn't be anything revealed on the server. When I view the URL in question with and without the "attack", the results are

[2017-07-07 13:55] thc202 commented on #3735
Yes, seems to be a false positive. Does the file have also `bin` and `boot`? (The match is case sensitive.)

[2017-07-07 14:19] mikedouglasdev commented on #3735
It doesn't have them as whole word.  It only has them as part of other words.  bootstrap is in the file several times.  bin is only part of other words like bind.

[2017-07-07 14:53] thc202 commented on #3735
Thanks! Yes, that leads to a false positive.

[2017-07-09 13:22] kingthorin opened #3738 "Enhancement: SiteTree Get Info"
Per: https://github.com/zaproxy/zaproxy/issues/3727

Quote @davewichers

[2017-07-09 14:11] thc202 commented on #3721
@ChandanaShetty any news about this?

[2017-07-09 14:18] thc202 opened #3739 "Allow to skip pending scanners"
From #3454:

(1. being handled in #3454.)

[2017-07-09 14:18] thc202 commented on #3454
Split the skip functionality into other issue #3739.

Could you provide more details on the pause functionality? Do you want the same behaviour as the main pause button (but being in the Scan Progress dialogue)?

[2017-07-10 06:32] #3281 closed

[2017-07-10 09:30] #3727 closed

[2017-07-10 09:41] thc202 commented on #765
The button is not really required, one could add the action into the dialogue/component itself (instead of the button). Although from other issues about the find/search functionality it should be added one.
I'd suggest adding the action/button at the low level class `HttpPanel` (probably as first button of `toolBarMoreOptions`), as that ensures the button/action is visible/enabled for all the pane

[2017-07-10 09:59] kingthorin commented on #765
Thanks @thc202

[2017-07-10 11:15] #3712 closed

[2017-07-10 14:51] PaulCanfield commented on #3662
This is still and issue and I'm able to reproduce is consistently, is this a known issue, is there already a resolution for it?

[2017-07-10 18:41] davewichers commented on #3454
Yes. I simply want the pause button to also be displayed on the current row
where the scan is active, to make it easier to find/use. But it should
behave exactly the same, i.e., pause the current scan. And then be a play
button to continue the scan if its paused.

On Sun, Jul 9, 2017 at 10:18 AM, thc202 <notifications@github.com> wrote:

[2017-07-10 21:51] thc202 commented on #2989
@kingthorin the `HttpSender` now allows to obtain all the redirections followed, it's just a matter of showing them (per #3741).

[2017-07-10 21:54] thc202 commented on #2989
Regarding the original question:

Yes, that was the expected behaviour (since Paros days?).

[2017-07-10 21:55] kingthorin commented on #2989
@thc202 thanks

[2017-07-10 21:57] kingthorin commented on #3586
Closing - InaufficientEvidence

[2017-07-10 21:57] #3586 closed

[2017-07-10 21:58] thc202 commented on #3454
Thanks for the explanation!

[2017-07-11 06:21] #2989 closed

[2017-07-11 06:30] psiinon opened #3742 "Retire.js add-on issues tracker"
Tracker issues for changes we'd like to see to https://github.com/h3xstream/burp-retire-js#zap-plugin
Feel free to add to this list...

- [ ] Use ZAP code to retrieve config file - so that it works with fwd proxy + appears in History
- [x] Rename alerts to be more consistent with others, eg "JavaScript library with known vulnerabilities" [ ~~Edit: This seems to have been raised and partially addre

[2017-07-11 13:39] thc202 commented on #2078
Closing, insufficient evidence (but see #2132 and #2757, which could be the cause).