[2018-02-22 11:47] jamatute opened #4427 "Chrome not included in Docker images"
Hi, I'm trying to launch the chrome browser from within zap but it doesn't work. I've tried with several versions of Zap

* owasp/zap2docker-stable
[code]

* owasp/zap2docker-weekly

[code]

* owasp/zap2docker-live

[code]

And when I clik on `Chrome` `Launch Browser` I get the following trace on all versions:

[code]
And chrome never opens

[2018-02-22 11:53] kingthorin commented on #4427
I suspect that’s expected, from within the docket container ZAP likely can’t find Chrome (or any browser?) on your local host system.

[2018-02-22 12:13] thc202 commented on #4427
How is docker/ZAP being started?

[2018-02-22 13:07] jamatute commented on #4427
@kingthorin it is able to launch firefox and jxbrowser.

@thc202 with this alias:
[code]

[2018-02-22 13:08] kingthorin commented on #4427
@jamatute thanks for the update.

[2018-02-22 13:21] thc202 commented on #4427
Chrome is not being installed in the images (just Firefox).

[2018-02-22 13:39] groulot opened #4428 "Zap waiting for Spider endlessly when it crashed."
I have an example reposity that has ZAP waiting for the Spider to end at 96% done. The spider never ends because apparently it crashes. Hitting CTRL-C displays an exception. In this case it is a HSQLDB problem:
`org.hsqldb.HsqlException: Data cache size limit is reached: 10000`

The issue is that ZAP doesn't detect this and just waits for the spider forever instead of failling or displaying an err

[2018-02-22 17:06] speedyuk commented on #4227
Hi, Sorry I'm not a coder but I just found and started to try and use ZAProxy in the Docker environment. I followed an online video tutorial on how to set it up to attack DVWA. Unfortunately I hit the same issue with not being able to bring up the add user dialogue. This I understand throws up a Java error in the Webswing environment. Could someone please say what the latest news is regarding a ne

[2018-02-22 17:09] speedyuk commented on #3553
Hi, is there any news regarding integrating Webswing 2.5? I hit the brick wall regarding adding users for authentication. Do we know if Webswing 2.5 will address the Java environment issue?

[2018-02-22 17:13] thc202 commented on #3553
Yes, 2.5 is already released and it fixes the above issues, I have the changes more or less ready but need to try them in the docker image.

[2018-02-22 17:14] thc202 commented on #4227
Answered in #3553.

[2018-02-22 17:18] speedyuk commented on #3553
Fab, thanks thc202 for the quick reply. I'll pass on the info to my colleague who takes the docker images and packages for use in our environment will be great to get this working.

[2018-02-22 18:48] kingthorin commented on #3480
It would be great if this included some functionality like:
https://github.com/zaproxy/zap-extensions/blob/a1f3468c083c1f60a28375bd5333f73daad5550c/src/org/zaproxy/zap/extension/ascanrules/TestSQLInjection.java#L1239-L1298

As a test target you could setup pixi: https://hub.docker.com/r/deadrobots/pixi/
The Mongo login bypass injection is discussed around the 28:20 mark: https://www.youtube.com/wa

[2018-02-22 20:43] LuigiCasciaro commented on #3480
Yes, that's great! I'll try.

2018-02-22 19:48 GMT+01:00 kingthorin <notifications@github.com>:

[2018-02-22 23:29] setzamora commented on #4417
Nothing in the zap.log except the usual daemon startup logs.

I think it has something to do with the python api.

Here are the details:

[code]

[2018-02-23 03:20] veggiespam commented on #4295
I have discovered that I suck at Gradle.  I'll ping @kingthorin offline for a little bit of help soon.

@thc202 - Upcoming:

1. Future funky code optimization that will make enhancements quicker, easier, and scanning much faster.
2. Saved configuration options.
3. Feature Request: alerts only within certain geographies; such as scanning for images occurring in country XYZ or in abc km of certain l

[2018-02-23 05:56] setzamora commented on #4427
If you really want Google Chrome, do this. I'm assuming you need Selenium as well.

[code]

[2018-02-23 09:03] psiinon commented on #4427
ZAP already bundles selenium and chrome driver.
Do we want to include chrome in any of the docker images? That will no doubt make them bigger.
Alternatively we could provide a script that correctly installs it and configures ZAP to know where it is?

[2018-02-23 11:51] kingthorin commented on #4295
@veggiespam sorry to say but I have no graddle experience :(

[2018-02-23 12:15] #1640 closed

[2018-02-23 12:17] psiinon opened #4433 "Investigate support for new protocols"
Eg see https://www.theinquirer.net/inquirer/news/3025478/firefox-59-will-support-decentralised-internet-protocols

If anyone is interested in working on any of the specific protocols then we can raise specific bugs for each of them - the is more of a placeholder / reminder.

[2018-02-23 12:23] kingthorin commented on #2464
Similar to websockets?

Would also probably require: [Enhancement: Add support for raising alerts for other than HTTP/1.x interactions](https://github.com/zaproxy/zaproxy/issues/2464)

[2018-02-23 12:24] kingthorin commented on #4276
Would also probably require: [Enhancement: Add support for raising alerts for other than HTTP/1.x interactions](https://github.com/zaproxy/zaproxy/issues/2464)

[2018-02-23 13:49] palash25 commented on #4433
Is this a potential project for Code Sprint?

[2018-02-23 13:49] thc202 commented on #2464
@kingthorin was that comment for 4433?

[2018-02-23 13:56] psiinon commented on #4433
Google Summer of Code or anything similar, yes :)

[2018-02-23 13:59] palash25 commented on #4433
Thanks for the prompt reply. Will OWASP be organizing Code Sprint this summer?

[2018-02-23 14:07] psiinon commented on #4433
I suspect not, as its been accepted for GSoC.

[2018-02-23 14:21] kingthorin commented on #2464
Oops, yup. Thanks, will fix.

[2018-02-23 14:21] kingthorin commented on #4433
Similar to websockets?

Would also probably require: [Enhancement: Add support for raising alerts for other than HTTP/1.x interactions](https://github.com/zaproxy/zaproxy/issues/2464)

[2018-02-23 14:39] psiinon commented on #4433
Yeah. The first part of any project would be working our the full set of changes we'd need for any specific protocol, and then we can prioritize the features e.g:

1. Proxy the protocol
1. Show the protocol in the GUI
1. Expose the protocol via the API
1. Support break
1. Support fuzzing
1. Support manually raising alerts
1. Support scanning

[2018-02-23 15:05] thc202 commented on #4428
Thanks, yes, this should be handled better.

[2018-02-23 20:39] juhakivekas commented on #4433
There’s been a recent rise in things using WebRTC (mostly integrations in my experience). I don’t know if this is relevant in the usual testing scenarios, but at the moment not all apps using WebRTC work through zap, which means not even all HTTP traffic is testable with zap because some areas of the app are out of reach. This is a bit unfortunate, but either way simply proxying a protocol already

[2018-02-23 21:05] kingthorin commented on #3778
I'm unable to recreate this. Will try to find a old 1.8 version and see if it behaves differently.

[2018-02-23 22:28] thc202 commented on #3778
@kingthorin when you say "unable to recreate", it means that ZAP is able to detect the XSS vuln, right?

[2018-02-23 22:59] kingthorin commented on #3778
No I mean with dvwa 1.9 I am both unable to scan the issue and manually (via breakpoint) unable to cause the injection to happen as outlined in the original post.

[2018-02-24 20:14] nhegde610 commented on #2964
Thank you @thc202. I have managed to create a config options in Display Options panel. While I was testing my solution, I noticed a UI bug. When I switch the look to native system look, the option for changing look  disappears. I have to resize the options window to be able to view it. This issue also arises if the user changes the font size and font name. Here are pics for better understanding.
B

[2018-02-25 15:28] thc202 commented on #3778
OK, did you try just scan the cookie (when low)? It seems that all pages that allow to see the source a have the same issue (easier to reproduce with the other ones).

[2018-02-25 15:31] thc202 commented on #2964
Yes, the panel needs a scroll pane :) That can be fixed in the same pull request if you want.

IMO it should allow to select all available, it's not necessary to restrict to just some.

[2018-02-25 15:38] kingthorin commented on #3778
K, I'll try elsewhere. Yes I did have it on low.

[2018-02-25 16:44] kingthorin commented on #3778
Ok got it to work manually but it doesn't seem to be an actual XSS, the injection breaks the page and the JS isn't executable.... at least that's where I ended up.

In fact if you save the response originally provided and drop it in the correct location within DVWA the same happens.

I'll work on manipulating it further into something that is impacting.....

[2018-02-25 18:13] nhegde610 commented on #2964
@thc202 I would like to submit a new pull request with added scroll pane code.

[2018-02-25 18:28] kingthorin commented on #2964
You can amend the existing one, just push to the same origin branch

[2018-02-26 08:12] juhakivekas commented on #3939
This is back for some reason since 2018-02-19.
Java 1.8.0_152
OSX 10.13.3
ZAP weekly 2018-02-19

[2018-02-26 09:12] #4391 closed

[2018-02-26 14:53] p3r1c0 commented on #3594
Hi,
Could you check this issue @thc202 ?
Regards.

[2018-02-26 18:35] kingthorin commented on #343
Check it out: https://github.com/zaproxy/community-scripts/blob/master/variant/param_name_variant.js

[2018-02-26 19:13] juhakivekas commented on #343
Looks good :) I didn't try it yet, but it does not seem to delete the original parameter, does it overwrite it based on position?

Instead of switching on GET and POST, you could be switching on the size of the sets returned by getUrlParams() and getFormParams(). This way DELETE, PUT, and PATCH will also get scanned of they have form params. Surely they have interesting form parameters to scan too

[2018-02-26 19:24] kingthorin commented on #343
The new "name" value gets set on [L53](https://github.com/zaproxy/community-scripts/blob/21454b102fffce0be0f94db4ca27e845fe318288/variant/param_name_variant.js#L53) (currently) . It is based on position, becoming: name+injection=value

Hmmm that's an interesting idea, I'd have to look more at how `org.parosproxy.paros.core.scanner.VariantFormQuery` behaves.

[2018-02-26 19:44] setzamora commented on #4427
@psiinon that would be great and it makes sense to just reuse ZAP's selenium and chrome driver bundle.

This is the error we get when we don't _re_install Selenium and Chrome Driver:

[code]

A separate official zap docker image with Google Chrome might make sense as some web apps support Google Chrome only; it doesn't hurt to roll your own Dockerfile either.

[2018-02-26 21:12] thc202 commented on #4427
The `chromedriver` is not added to the `PATH`, it's just copied to `<ZAP-home>/webdriver/linux/64/chromedriver`.

[2018-02-26 21:41] setzamora commented on #4417
Error log:

[code]

[2018-02-26 21:50] thc202 commented on #4417
The API request is indeed malformed it should be something like:
`http://zap/JSON/context/action/newContext/?contextName=Test`
Missing the format. `JSON`. The parameters `zapapiformat` and `formMethod` could be removed, not used by the ZAP API. (Note that the ampersands should be escaped.)

[2018-02-26 22:06] thc202 commented on #4417
That does not give useful response though, `JSON` or `XML` should.

[2018-02-27 13:18] kingthorin commented on #4295
Per [IRC discussion today](https://mozilla.logbot.info/websectools/20180227) this could be released without the jar. The jar is still preferable for future iterations though.

[2018-02-27 15:58] #4428 closed

[2018-02-27 15:58] #2528 closed

[2018-02-27 16:42] setzamora commented on #4417
We can now close this issue.

How the problem was solved:

- Set the system HTTP proxy to ZAP
`ENV http_proxy http://127.0.0.1:80`
- Reuse chromedriver / geckodriver
`ENV PATH $PATH:/root/.ZAP/webdriver/linux/64/`

- Set webdriver's HTTP proxy to ZAP
[code]
- Set Python ZAPv2 proxy to ZAP
[code]

[2018-02-27 16:48] kingthorin commented on #4417
Thanks for letting us know.

[2018-02-27 16:48] #4417 closed

[2018-02-27 16:49] thc202 commented on #4417
Cool, thanks for letting us know!

[2018-02-27 16:49] thc202 commented on #4417
Oops! :)

[2018-02-27 16:56] thc202 commented on #4295
The new add-on, Image Location and Privacy Scanner, is now available in the marketplace.

[2018-02-27 17:04] setzamora commented on #4427
FROM owasp/zap2docker-stable

USER root
WORKDIR /root/

# Set environment variables
ENV LC_ALL C.UTF-8
ENV LANG C.UTF-8
ENV HOME /root/
ENV OLDPWD /root/.ZAP
ENV PWD /root

RUN apt-get update -y
# Add Google Chrome Repo
RUN curl -sS -o - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add
RUN echo "deb https://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/

[2018-02-27 22:06] nhegde610 commented on #2964
I have amended the existing PR. The changes includes scrollbar too. Please review the code and let me know if I have to make any changes.

[2018-02-28 02:26] kingthorin commented on #1205
I propose this be closed based on tue original changes/activities and lack of user response. Further, WP is essentially the most common CMS in the wild, chances are if further WP false positives persisted we'd likely have heard from other users.
@psiinon @thc202 good with that?

[2018-02-28 09:19] psiinon commented on #1205
Yeah

[2018-02-28 09:19] #1205 closed

[2018-02-28 10:34] kingthorin opened #4448 "Promote "SourceCodeDisclosureWEBINF" Beta -> Release"
Promote the scanner [`SourceCodeDisclosureWEBINF`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/ascanrulesBeta/src/main/java/org/zaproxy/zap/extension/ascanrulesBeta/SourceCodeDisclosureWEBINF.java) from beta to release status ([`ascanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/ascanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new locati

[2018-02-28 11:03] kingthorin commented on #3778
Ok it seems ZAP does find this issue when DVWA is on Low, I don't think I had it set properly (or I had conflicting cookies) when I originally active scanned a few days ago.

After removing cookies, setting security Low (per original example), proxying the page/requests and scanning an alert is raised (see attached). This is based on Active Scan Rules 31, so perhaps some of the FP/FN work on the X

[2018-02-28 11:34] thc202 commented on #3778
Good to close then?

[2018-02-28 11:36] kingthorin commented on #3778
I think so :+1:  :zap:

[2018-02-28 11:36] #3778 closed

[2018-02-28 13:40] psiinon commented on #2803
For info: https://www.bountysource.com/issues/37164963-unit-tests-for-informationdisclosureinurl

[2018-02-28 14:21] psiinon commented on #1900
This has now been implemented :)

[2018-02-28 14:21] #1900 closed

[2018-02-28 14:25] thc202 commented on #1900
Released in version 15 of WebSockets add-on.

[2018-02-28 14:53] psiinon commented on #2950
I think there are 3 use cases here, and in each case a script has been edited outside of ZAP:

- The script is not in the script console tab, in which case we can just use the new one
- The script is in the console but hasnt been changed, in which case we should replace the one in the script console with the new one and use that
- The script is in the console and has been changed, in which case we

[2018-02-28 15:01] kingthorin commented on #2950
I think so. Would it be better to checksum/hash the content instead of depending on modification timestamp? That would address changes and reversions (when new timestamp isn't new content), and might also provide a mechanism to address (https://github.com/zaproxy/zaproxy/issues/2189)?

[2018-02-28 15:14] psiinon commented on #2950
I'd rather not have to checksum script files every time they run, that could impact performance.
How useful will checksumming be? That would just be if someone touched the file on filestore but didnt change its contents? If we reload it then its no problem, and if its in the console and we prompt the user then they can just keep their current changes?

[2018-02-28 15:21] kingthorin commented on #2950
Ya ok :+1:

[2018-02-28 15:38] thc202 commented on #2950
Will the user be able to enable/disable this? Or, is it enabled (by default?) for all scripts?

[2018-02-28 15:58] psiinon commented on #2950
I was thinking it would be enabled by default and not configurable. But if anyone can suggest reasons why people might not want this then happy to make it an option...
I am planning on looking at this, but havnt assigned it to myself yet just in case I dont get round to it ;)

[2018-02-28 18:14] psiinon opened #4450 "Script Console should handle scripts changed on disk"
Related to https://github.com/zaproxy/zaproxy/issues/2950
If https://github.com/zaproxy/zaproxy/pull/4449 is merged then the Script Console will need to change to handle scripts that have changed on disk.
The code also needs to handle scripts that have been changed but not saved - these might not be the currently displayed script.
The script currently being displayed should also be handled if its

[2018-03-01 00:47] kingthorin opened #4453 "Promote "ViewstateScanner" Beta -> Release"
Promote the scanner [`ViewstateScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/ViewstateScanner.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location
- [x] Move UnitTe

[2018-03-01 00:48] kingthorin opened #4454 ""ServletParameterPollutionScanner" FP reduction changes"
Edit 20190425:
After the discussion here and on IRC we have decided not to promote this passive scanner.

TODO:

- [ ] Add Tech handling once zap-extensions are targeting 2.9.0.
- [x] Only enable the scan rule only on Low Threshold (https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsPscanrules#threshold)

[2018-03-01 00:48] kingthorin opened #4455 "Promote "InsecureJSFViewStatePassiveScanner" Beta -> Release"
Promote the scanner [`InsecureJSFViewStatePassiveScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/InsecureJSFViewStatePassiveScanner.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner co

[2018-03-01 00:49] kingthorin opened #4456 "Promote "InsecureAuthenticationScan" Beta -> Release"
Promote the scanner [`InsecureAuthenticationScan`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/InsecureAuthenticationScan.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new locati

[2018-03-01 00:49] kingthorin opened #4457 "Promote "InformationDisclosureDebugErrors" Beta -> Release"
Promote the scanner [`InformationDisclosureDebugErrors`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/InformationDisclosureDebugErrors.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code t

[2018-03-01 00:50] kingthorin opened #4458 "Promote "CSRFCountermeasures" Beta -> Release"
Promote the scanner [`CSRFCountermeasures`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/CSRFCountermeasures.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location
- [x] Move

[2018-03-01 00:50] kingthorin opened #4459 "Promote "CookieLooselyScopedScanner" Beta -> Release"
Promote the scanner [`CookieLooselyScopedScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/CookieLooselyScopedScanner.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new locati

[2018-03-01 00:51] kingthorin opened #4460 "Promote "CharsetMismatchScanner" Beta -> Release"
Promote the scanner [`CharsetMismatchScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesBeta/src/main/java/org/zaproxy/zap/extension/pscanrulesBeta/CharsetMismatchScanner.java) from beta to release status ([`pscanrules`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrules/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location
- [x]

[2018-03-01 08:22] HUssain14 opened #4462 "ZAP Jenkins plugin does not obtain latest spider status"
[jenkins_logs.txt](https://github.com/zaproxy/zaproxy/files/1770333/jenkins_logs.txt)
Logs attached Debug mode is on already. Looking for suggestions.

Issue:
Jenkins plugin become unresponsive while running the zap and failed after a while.

[2018-03-01 09:14] #4422 closed

[2018-03-01 10:05] thc202 commented on #4462
Thanks for providing the logs, this is a recurrent issue. Seems more an issue in the client side (Jenkins plugin or ZAP API client) than ZAP, after a while ZAP is no longer receiving any API requests.

[2018-03-01 10:57] HUssain14 commented on #4462
Thank you for your response. But this is a show stopper for performing testing. what is the solution for this?. I'm clueless.

[2018-03-01 10:57] thc202 commented on #4462
Are you able to get the traffic sent by Jenkins? (e.g. with Wireshark) It would be great to confirm if the API requests are not reaching ZAP.

[2018-03-01 13:01] kingthorin opened #4464 "Promote "CookieSameSiteScanner" Alpha -> Beta"
Promote the scanner [`CookieSameSiteScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/CookieSameSiteScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location

[2018-03-01 13:02] kingthorin opened #4465 "Promote "CrossDomainMisconfiguration" Alpha -> Beta"
Promote the scanner [`CrossDomainMisconfiguration`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/CrossDomainMisconfiguration.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to

[2018-03-01 13:02] kingthorin opened #4466 "Promote "TimestampDisclosureScanner" Alpha -> Beta"
Promote the scanner [`TimestampDisclosureScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/TimestampDisclosureScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to ne

[2018-03-01 13:03] kingthorin opened #4467 "Promote "UsernameIdorScanner" Alpha -> Beta"
Promote the scanner [`UsernameIdorScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/UsernameIdorScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location
- [

[2018-03-01 13:04] kingthorin opened #4468 "Promote "XAspNetVersionScanner" Alpha -> Beta"
Promote the scanner [`XAspNetVersionScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/XAspNetVersionScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location

[2018-03-01 13:04] kingthorin opened #4469 "Promote "XDebugTokenScanner" Alpha -> Beta"
Promote the scanner [`XDebugTokenScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/XDebugTokenScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner code to new location
- [x]

[2018-03-01 13:05] kingthorin opened #4470 "Promote "XPoweredByHeaderInfoLeakScanner" Alpha -> Beta"
Promote the scanner [`XPoweredByHeaderInfoLeakScanner`](https://github.com/zaproxy/zap-extensions/blob/master/addOns/pscanrulesAlpha/src/main/java/org/zaproxy/zap/extension/pscanrulesAlpha/XPoweredByHeaderInfoLeakScanner.java) from alpha to beta status ([`pscanrulesBeta`](https://github.com/zaproxy/zap-extensions/tree/master/addOns/pscanrulesBeta/) add-on).

**Promo Checklist**
- [x] Move scanner

[2018-03-01 13:55] #4331 closed

[2018-03-01 14:03] juhakivekas commented on #3939
not back after all :)

[2018-03-01 14:05] thc202 commented on #3939
Cool, thanks for letting us know :)

[2018-03-01 15:54] speedyuk commented on #3553
Hi I'm back again - My colleague has been creating various different combinations of ZAP and webswing to try and come up with a working combination for the entering username and password dialogue issue. He did try to create a 2.7 ZAP with webswing 2.5 build but had problems. So far have to go back to 2.5 ZAP with webswing 2.4 to have a working dialogue box. With ZAP 2.6 and webswing 2.4 only have

[2018-03-01 19:07] thc202 commented on #4450
Being handled in zaproxy/zap-extensions#1441.

[2018-03-01 23:33] thc202 commented on #3553
Thanks for the bump and sorry for the delay, a pull request has been open to update Webswing in all images, #4471.

[2018-03-02 06:23] tanhengyeow commented on #601
Hi, I'm a new contributor. May I get some advice on how to get started? Thank you 😄

[2018-03-02 09:14] #3553 closed

[2018-03-02 10:21] HUssain14 commented on #4462
Traffic is getting to the machine and proxy gets working i check on browser Zap starts successfully but where it is getting lost im still clueless

[2018-03-02 10:28] thc202 commented on #4462
Does that include the API requests that don't appear in the ZAP log? I was wondering if something was caching those.

[2018-03-02 10:35] HUssain14 commented on #4462
I haven't seen any api request hitting the machine but it triggers the ZAP only with proxy. Else i try to run with cmd and that works fine so where is the issue still unclear.

[2018-03-02 11:18] thc202 commented on #4462
What happens if you shutdown/kill ZAP while the job outputs:
[code]
Does it fail? If so could you provide the stack trace?

Which JRE is used for Jenkins?

[2018-03-02 11:25] HUssain14 commented on #4462
ERROR: java.lang.InterruptedException
	at java.lang.Object.wait(Native Method)
	at hudson.remoting.Request.call(Request.java:167)
	at hudson.remoting.Channel.call(Channel.java:908)
	at hudson.FilePath.act(FilePath.java:998)
	at hudson.FilePath.act(FilePath.java:987)
	at org.jenkinsci.plugins.zap.ZAPBuilder.perform(ZAPBuilder.java:292)
	at hudson.tasks.BuildStepMonitor$1.perform(BuildStepMonitor.ja

[2018-03-02 17:19] speedyuk commented on #3553
Hi I'm sorry I'm sure this isn't the correct place to put this now, but I'm not sure on the process of finding relevant thread. Anyway my developer produced a new docker image with 2.7 and 2.5 webswing using the info in the update post. The interface works and I'm able to add the user name and password, but when I go to replay the POST I get a CSRF token is incorrect error as per the attached scre

[2018-03-02 18:12] thc202 commented on #3553
Not that I'm aware of, manual request editor does not handle anti-CSRF tokens automatically (#111), how were you sending the request before? (script?)

Usage questions are usually handled in the OWASP ZAP User Group: https://groups.google.com/group/zaproxy-users

[2018-03-02 19:11] AmandaBSobrinho opened #4475 "Reports aren't generated on the selected language"
When selecting Brazilian Portuguese as language, the XML report generated after an attack is in English, not in Portuguese. I'm aware that there is a project in Crowdin to translate ZAP to portuguese, and that the translation is far from complete, but I would like to know which files I would have to translate so that the XML report is also generated in Portuguese.

[2018-03-02 19:37] kingthorin commented on #2290
Thanks, bad push :-1:

[2018-03-03 08:33] speedyuk commented on #3553
Hi thc202 many thanks for the support. I'm attaching an image of the response for ZAP 2.5. As you can see I'm basically following through the basic tutorial of setting up an attack to DVWA. All I'm doing is right clicking on the login.php POST and choosing the resend option after previously flagging this as a Forms based login. In 2.5 the login is successful and I'm able to mark logged in identifi

[2018-03-03 13:51] thc202 commented on #4475
That would be the alerts' data, which are mainly in the active/passive scanner rules add-ons, in Crowdin those can be shown by filtering with `scanrules`. [1]

https://crowdin.com/project/owasp-zap/pt-BR#filter-files

[2018-03-03 13:53] thc202 commented on #4462
Thanks! Would you be available to try the Jenkins plugin with more debug or possible fix?

[2018-03-03 14:31] thc202 commented on #3553
In 2.7.0 are you also resending the latest successful login request? I see the same behaviour (resend shows the logged in response) with 2.5.0 and 2.7.0, if using a still logged in session and resending latest login request.

[2018-03-05 01:48] kingthorin commented on #2577
I've been unable to recreate this issue. Even setting the XSS scanner to High/Insane. The following php code includes the test cases I tried.

[code]

As can be seen in the screenshot below the eye-catcher is injected but ZAP does not proceed to test further:
![image](https://user-images.githubusercontent.com/7570458/36954035-26814418-1fed-11e8-92aa-db0f26c2af6a.png)

Perhaps the issue has been co

[2018-03-05 13:56] speedyuk commented on #3553
Hi, sorry for delay, resetting up environment in the office. I have been able to do a successful login resend. I think it must have been as you said the session it was replaying was logged out. I've been able to reproduce that by actively logging out on the browser. Thanks again.

[2018-03-05 14:14] thc202 opened #4482 "Pretty-print WebSocket JSON messages"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/m92sKPxZuFQ/discussion

Same as #4124 but for WebSocket messages.

Add-on:
Json view

[2018-03-05 14:30] #1161 closed

[2018-03-05 14:44] davewichers commented on #2577
The above appears to test the Content-Disposition header. But what about the HTTP Response Title? That was the originally reported issue. e.g., create a server response with a 1st line like this:
HTTP/1.1 400 SomeStringWithSomeContentThatIsReflectedFromTheRequest

[2018-03-05 14:51] kingthorin commented on #2577
Thanks @davewichers I'll give that a shot too and provide an update.

[2018-03-05 14:57] #2290 closed

[2018-03-05 15:08] p3r1c0 commented on #3594
Hi @thc202,

I tested this and it's not working for me. I attach evidences:
OK:
![localhostok](https://user-images.githubusercontent.com/19948149/36982081-32618f0c-208f-11e8-8f5f-c0d1e2b63fa5.PNG)
OK:
![dockeripwork](https://user-images.githubusercontent.com/19948149/36982096-415e7344-208f-11e8-839a-86ba79c4f8a0.PNG)
NOT OK:
![directipnotwork](https://user-images.githubusercontent.com/19948149/369

[2018-03-05 15:25] thc202 commented on #3594
Hmm, are you sure the address `172.26.0.1` is the container? (and not the host)

[2018-03-05 15:27] thc202 commented on #3553
Thanks for letting us know!

[2018-03-05 15:33] p3r1c0 commented on #3594
Hi @thc202 ,

Although you are right, I tested with the correct IP and I also receive the same error:
![new](https://user-images.githubusercontent.com/19948149/36983556-f068f80c-2092-11e8-8258-34fa4f673f1b.PNG)

[2018-03-05 15:51] kingthorin commented on #2577
Same for the prime header. The eye-catcher is injected but ZAP doesn't scan further.:
[code]

![image](https://user-images.githubusercontent.com/7570458/36984393-c9c9b7fc-2062-11e8-9c7f-f4b214354dc1.png)

[2018-03-05 16:27] davewichers commented on #2577
OK. I reported this so long ago that I have no idea what app I found this
issue in. If I notice it again, I'll let you know. So I guess you can close
this for now.

-Dave

On Mon, Mar 5, 2018 at 10:51 AM, kingthorin <notifications@github.com>
wrote:

[2018-03-05 16:31] kingthorin commented on #2577
Thanks @davewichers

[2018-03-05 16:31] #2577 closed

[2018-03-05 16:46] juhakivekas commented on #4482
I might have started this but then I had a hard time navigating the websocket adding code to find the place to add the new view. Are here any other addons so far that add a view to websockets? If not then I’ll figure this out :)

[2018-03-05 16:49] kingthorin commented on #1438
The 'Edit Alert' dialog is as a whole resizable. However, individual components are not dynamically sized or user resizable. The user's complaint about L&F (_horrible graphical rounded box/border_) might be addressed by the inbound changes (PR) allowing the user the select the L&F.

[2018-03-05 16:54] thc202 commented on #4482
The views are added the same way as the HTTP ones (but using the WebSocket component names), WebSocket add-on is a good example :)
https://github.com/zaproxy/zap-extensions/blob/70872b338caf064056ebe725be66baf94732f078/src/org/zaproxy/zap/extension/websocket/ExtensionWebSocket.java#L1137

The Json view add-on would have to depend on the WebSockets add-on, better if optionally (through another exte

[2018-03-05 16:59] kingthorin commented on #635
I've just attempted to reproduce this issue and was unable. Saving and loading from the API vs. the GUI seems to work as expected.

[2018-03-05 17:02] thc202 commented on #635
Agreed, this seems to be working as expected (at least now).

[2018-03-05 17:02] #635 closed

[2018-03-05 18:06] thc202 commented on #1640
Released in version 31 of Active scanner rules add-on.

[2018-03-05 18:06] thc202 commented on #1852
Released in version 31 of Active scanner rules add-on.

[2018-03-06 09:27] psiinon commented on #3188
Closing this as phantom.js is being archived: https://github.com/ariya/phantomjs/issues/15344
TBH headless options for Firefox and Chrome make this less of a priority in any case.

[2018-03-06 09:27] #3188 closed

[2018-03-06 10:11] #2950 closed

[2018-03-06 17:25] V1Reddy opened #4485 "Having trouble accessing ZAP (2.7.0) API through browser while hosting in a Docker container on mac"
Hi,
(Sorry, re-posting the same from zap google groups for the larger audience)

I am still struggling with accessing the ZAP API through UI while hosting the ZAP in a Docker container on my mac.

Here's the command that I am using -

`docker run -p 8090:8090 -i owasp/zap2docker-stable zap.sh -daemon -port 8090 -host 0.0.0.0 -config api.disablekey=true`

Also, tried this command -

`docker run -p

[2018-03-06 17:41] thc202 commented on #4485
Could you provide the latest command used to start ZAP? I guess it needs some debug logging to know better what's happening, add the following to `docker run` command:
-v /path/to/log4j.properties:/home/zap/.ZAP/log4j.properties

with `/path/to/log4j.properties` having:
[code]

Reference:
https://groups.google.com/d/topic/zaproxy-users/vIFDtfQNCI8/discussion

[2018-03-06 18:09] V1Reddy commented on #4485
Here's the new one (included the Log4j props)
`docker run -v /<pathToNewLog4Props>/log4j.properties:/home/zap/.ZAP/log4j.properties -p 8093:8093 -i owasp/zap2docker-stable zap.sh -daemon -port 8093 -host 0.0.0.0 -config api.disablekey=true -config api.addrs.addr.name=172.17.0.* -config api.addrs.addr.regex=true`

I checked the log4 file in that docker container and it reflected the new Log props -

[2018-03-06 18:13] thc202 commented on #4485
Just when trying to access the ZAP API, it should log more info.

[2018-03-06 18:24] V1Reddy commented on #4485
Unfortunately, it's not logging anything for http://172.17.0.2:8093/UI until the connection times out eventually.

[2018-03-06 18:35] thc202 commented on #4485
Not even something like `DEBUG org.parosproxy.paros.core.proxy.ProxyThread  - Timed out while reading a new HTTP request.`?

It seems that ZAP is not being accessed at all, is the container still using that IP address?

[2018-03-07 01:12] thc202 commented on #4485
OK, odd. @psiinon have you seen this in macOS?

[2018-03-07 09:22] ch1c0hacker commented on #4363
Apologies if its a dumb question....
Don't we have any test cases to identify any of the vulnerabilities listed in CVE or NVD.
Ex: https://www.cvedetails.com/vulnerability-list/vendor_id-93/product_id-14534/Oracle-Weblogic-Server.html
At least in cases if the server default error messages [or] stack traces are returned with server version details etc...

[2018-03-07 09:35] ch1c0hacker opened #4490 "Does ZAP scan for Input Validation vulnerabilities in API calls using JSON, SOAP, XML"
POST body of a JSON request would look like
{param1:value1,param2:value2,param3:{param4:value4,param5:value5},param6:value6}

POST body of a SOAP/XML request would look like
`<?xml version="1.0" encoding="UTF-8"?>
<request   param1=value1 param2=value2>
<app param3=value3>
<app_string1>string1</app_string1>
<app_string2>string2</app_string2>
</app>
...`

Can ZAP scan for Input Validation issues li

[2018-03-07 09:45] psiinon commented on #4490
Please ask questions on the ZAP User Group: https://groups.google.com/group/zaproxy-users.
We like to keep issues for problems and enhancement requests.

[2018-03-07 09:45] #4490 closed

[2018-03-07 09:48] psiinon commented on #4363
Not at the moment, but would be very happy if someone added them :)
ZAP is more focussed on finding new vulnerabilities in custom apps, rather than known vulnerabilities in existing products. We're always happy if anyone submits PRs adding such checks but thats not really the focus of the ZAP core team.

[2018-03-07 09:51] ch1c0hacker commented on #4490
Okay, Thank you.

[2018-03-07 11:06] Naramsim commented on #4485
Mmm, 172... never worked for me. I always use 10.0.75.2:port

[2018-03-07 11:09] thc202 commented on #4485
Was that also in a mac? (Works fine here in Linux.)

[2018-03-07 11:42] thc202 commented on #2917
Fixed in zaproxy/zap-extensions#1403.

[2018-03-07 11:42] #2917 closed

[2018-03-07 13:54] thc202 commented on #2917
Released in version 7 of DOM XSS Active scanner rule add-on.

[2018-03-07 16:23] V1Reddy commented on #4485
@Naramsim
How do you set it up to 10.0.75.2? I ask since the docker is setting these containers IPs to 172.17.0.*
Can you please provide few more details?

[2018-03-07 16:47] Naramsim commented on #4485
Hi, in theory, 172... are the internal address of the container in the docker network. In windows, you should browse localhost or if it does not work you should try 10.0.75.2. This IP in Windows can be found in the Docker settings

[2018-03-07 16:51] Naramsim commented on #4485
I can see anyway that here you manage to contact successfully ZAP. It is ZAP that drops the request. Try drop this part `-config api.addrs.addr.name=172.17.0.* ` I dont use it on windows

[2018-03-07 16:58] V1Reddy commented on #4485
@Naramsim
I tried starting ZAP without the `-config api.addrs.addr.name=172.17.0.*` and still couldn't reach the container from the host browser and I am running this on mac.

[2018-03-07 19:19] varshav21 commented on #519
Hi I'd like to take up this project as part of Gsoc. Is anyone already working on it?

[2018-03-07 19:41] kingthorin commented on #519
There was some work done, see this thread for info:
https://groups.google.com/forum/#!searchin/zaproxy-develop/generator%7Csort:date/zaproxy-develop/7U0oA8S58Ww/F9I2xVR3AwAJ

I don't think it got finished though.

[2018-03-07 19:53] nhegde610 commented on #2990
Hi, I would love to take this project as my GSOC project. Is anyone working on this?

[2018-03-08 04:28] omerlh commented on #2990
This is already supported when using [OWASP Glue](https://github.com/owasp/glue) to run Zap, including filtering of existing items and many other cool features. What do you think?

[2018-03-08 06:46] rezen commented on #3866
Looks like the proxy + cert issue has been resolved possibly in Chromium?

[2018-03-08 09:40] thc202 commented on #3866
Yes, Zest library was already changed, still changing Selenium add-on (adding other changes).

[2018-03-08 09:47] omerlh commented on #2990
I was trying to say that the benefit of Glue is the fact you can do such things once and enjoy them all over the place, with any security tool. Also, there are many other CI utilities (alert filtering, TeamCity reporting etc) - and it might not be right to add all of them to Zap.

[2018-03-08 10:00] psiinon commented on #2990
I have no problem with that :)
Do you know how many installations Glue has? I suspect that the vast majority of ZAP users wont be using it right now, but I could be wrong.

[2018-03-08 10:06] thc202 commented on #2990
This would also be used by the Jenkins plugin (currently relying on 3rd party add-on, unmaintained I think).

[2018-03-08 10:11] omerlh commented on #2990
@psiinon that the main problem with Glue right now - the project seemed unmaintained, I maintain our own fork (and not happy to do that) and trying to gain some popularity to it as I think it could help the community with many things. It could also maybe replace the Jenkins plugin if it is unmaintained (as @thc202 mentioned). Currently, Jenkins is not supported - but this could be added easily I g

[2018-03-08 10:13] psiinon commented on #2990
Thats a shame. I dont really want to recommend that people should use an unmaintained project. All the more reason to support it within ZAP then :)

[2018-03-08 10:16] omerlh commented on #2990
Well, the fork is maintained - but I agree with you. I just think that Glue can help with so many things, and this is the reason I keep pushing it. I also believe that part of the fact it is unmaintained is related to the lack of users - it's a chicken and egg situation...

[2018-03-08 10:19] psiinon commented on #2990
Maintaining projects is hard work, as you know ;)
However it looks like Glue is the second most popular OWASP project on dockerhub: https://hub.docker.com/u/owasp/dashboard/ so it might be getting a fair amount of use.

[2018-03-08 10:20] omerlh commented on #2990
Yep, I've also noticed that. It already supports many good security tools (Snyk, Checkmarx, and others) so this might be the reason.
On the other hand, no new issues for last half year besides mine...

[2018-03-08 14:32] ManosMagnus commented on #1382
Hello,
This is the first issue I am going to implement. I finished the UI and I'll start to implement the logic behind what. Please let me know if you find proper the UI.

[2018-03-08 14:50] xBowns opened #4492 "Mapping between ASVS and ZAP"
Hi,

currently I use a few tools to perform automated security test. One of these tools is ZAP. Since I have to cover as many ASVS requirements as possible with these tools, I am interested in how many requirements only ZAP can cover. Has someone already created a mapping or something similar? Unfortunately I don't have the necessary knowledge about ZAP to create an exact mapping.
Can someone plea

[2018-03-08 15:16] thc202 commented on #1382
The break point dialogue already allows to specify a regular expression (field "Payload Pattern"), adding two more set of fields does not seem to be necessary (it's possible to have more than one break point if a different regex is needed for each direction), although the existing one can be improved to allow to choose if it's a regular expression, case sensitive, or negative. For consistency I th

[2018-03-08 17:19] V1Reddy commented on #4485
Looks like this is a known issue with Docker on Mac - https://docs.docker.com/docker-for-mac/networking/#known-limitations-use-cases-and-workarounds

I am trying some workarounds using the reverse proxy through Nginx, not sure if that will work.

Meanwhile, if anyone knows of an alternative, pls do share.

[2018-03-08 20:58] kingthorin commented on #4249
Closing, this seems to be a duplicate of #1190 which I just discovered.

[2018-03-08 21:02] #4249 closed

[2018-03-09 13:39] ManosMagnus commented on #1382
That true about break point dialogue, it is completely useless. I keep check boxes with appropriate changes as you mentioned.

I thought that if I want to monitor a specific conversation maybe the outgoing and incoming messages have completely different structure so i'm not be able filter them clearly with one regex. In the other hand, why we do something with two field when we can do it with one.

[2018-03-09 19:40] varshav21 commented on #519
I've been researching this problem and have discovered many helpful links. I'm creating an add on that generates skeleton add ons. How should I approach the issue and what are the options I should offer?

[2018-03-09 20:46] sello4354 opened #4496 "Spider scan status 0%"
Here are the softwares and versions I am using :
 ZAP : 2.7.0
 ZAP PLUGIN:1.1.0
JENKIN:2.32.2
JAVA : Jdk 1.8
OS : Windows Server 2012 R2

ZAP is running on a slave machine . I have followed the steps required to run ZAP as part of selenium tests .  Below Jenkins console output  :
[EnvInject] - Loading node environment variables.
Building remotely on StaticVM-QA-windows (QA-windows-10.3.3.166) in w

[2018-03-09 20:51] thc202 commented on #4496
Merging into #4462. Please let us know (in the other issue) if you are available to try debug versions of the plugin. I'm not able to reproduce the issue and the logs provided so far don't tell much other than ZAP not receiving any API requests.

[2018-03-09 20:51] #4496 closed

[2018-03-09 20:58] sello4354 commented on #4462
Yes I am available to try

[2018-03-12 05:12] r8tor opened #4500 "Manual Request Editor submits original request instead of edited values"
Hi ZAP Team,

I thinks I discovered an issue when trying to test for privilege escalation by manipulating a request and swapping an unprivileged session ID into a request that was originally from a application admin.

I found it weird that all my tests worked without exception(it is never that easy :P)

The issue is as the title describes, ZAP does not submit an edited request when you try to tamp

[2018-03-12 08:25] p3r1c0 commented on #3594
Hi @thc202 ,
Could you check this issue?
Regards.

[2018-03-12 08:30] thc202 commented on #4500
Any exception in the log/output? It could be #4235, if not it seems to me this is caused by the cookie jar in use in the Manual Request Editor, which overwrites the changes done to the cookies. I believe there's already an issue for this... I'll recheck.
You could try enable the option "Connection > Enable (Global) HTTP Sate " and try resending it, that should disable the cookie jar (if the cookie

[2018-03-12 08:35] thc202 commented on #4475
Closing, the question seems to be answered.

[2018-03-12 08:35] #4475 closed

[2018-03-12 08:38] thc202 commented on #3594
Yes, silly me, the workaround suggested will not work as I was expecting, sorry for misleading you. So, your case does require the changes from this issue (it's almost finished though, will tidy up/polish and PR).

[2018-03-12 08:52] p3r1c0 commented on #3594
Hi @thc202 ,
Many thanks!
Regards.

[2018-03-12 13:11] thc202 commented on #4450
Fixed in zaproxy/zap-extensions#1441.

[2018-03-12 13:11] #4450 closed

[2018-03-12 22:39] randomvoids commented on #2439
@thc202 any update on when this feature might be added? Or anything I can do to help make this feature happen?

[2018-03-13 10:59] thc202 commented on #2964
Fixed in #4438.

[2018-03-13 10:59] #2964 closed

[2018-03-13 14:33] kingthorin commented on #562
@CaptainFreak go for it.

As for a todo list, here's something "off the top of my head":
Working in the extensions alpha branch (look at any other extension for tips, CSP Scanner and HttpsInfo are pretty simple):
- Create the new directory structure.
- Edit the manifest (ZapAddOn.xml)
- Create the Extension____.java class, and whatever else is required.
- Add the ant build tasks to build.xml (in t

[2018-03-13 14:33] kingthorin commented on #562
For consideration: https://franccesco.github.io/getaltname/

[2018-03-13 18:41] r8tor commented on #4500
So I tried playing with the "Use Current Tracking Session" after enabling
"Global HTTP State" without much success.

I couldn't notice any difference between having that enabled or disabled.

One thing that is important to notice is that the application I'm working
on will set a new cookie value for every request..(Every response has a
Set-Cookie header), so this might be throwing the cookie track

[2018-03-13 18:46] thc202 commented on #4500
I should have mentioned that you need to close/open the dialogue for the option to take effect, the issue (#1161) was fixed recently though. It's available in the weekly releases:
https://github.com/zaproxy/zaproxy/wiki/Downloads#zap-weekly

[2018-03-13 22:42] thc202 commented on #1679
The dialogues are now (2.7.0, #3820) using the same name. Can be closed?

[2018-03-14 01:35] KajanM commented on #2332
Hello, I am Kajan, a final year Computer Science and Engineering Undergraduate at University of Moratuwa, Sri Lanka.
I am new to open-source and web security.
I am applying for GSoC18 and would like to get started with this issue.
I have done the requirement studies and found the approach needed to be implemented is almost similar to Reflected-XSS active scan rule (`[TestCrossSiteScriptV2.java](ht

[2018-03-14 01:42] kingthorin commented on #2332
Seems like a good start to me. I'd suggest that the behavior be checked multiple times looking for the result in the same contexts (for example do 7x7, 8x8, 5x6 or something like that).

[2018-03-14 01:49] thc202 commented on #2332
Actually this issue is already being worked on, we forgot to update it.

[2018-03-14 01:51] KajanM commented on #2332
@thc202 then I will look into other issues.

[2018-03-14 01:58] thc202 commented on #2332
Thanks, and sorry for not update it sooner.

[2018-03-14 02:29] KajanM commented on #2332
@thc202 that is okay, I learned so much by looking into it :)

[2018-03-14 05:09] cubewise-tryan commented on #3689
There is a workaround, you can provide a "manifest" file to fix the DPI issues. I can't get it to work using ZAP.exe but it works with zap.bat. The manifest file must be called java.exe.mainfest, use Task Manager to find the location of java.exe that Zap is using.

![image](https://user-images.githubusercontent.com/22929868/37384275-fd62a1be-27a1-11e8-937a-4b8ec8fb8ff4.png)

See this article for d

[2018-03-14 09:00] psiinon commented on #1679
Yeah, I think so too :)

[2018-03-14 09:00] #1679 closed

[2018-03-14 09:02] KajanM commented on #1190
the first comment in  #4249 says

As we are still on 2.7, I am confused whether to start with this issue or not. Little guidance will be helpful. @kingthorin @thc202

[2018-03-14 09:41] kingthorin commented on #1190
IMHO it makes more sense to wait.

[2018-03-14 10:29] psiinon commented on #519
I'd definitely have a look at https://github.com/blay12cedric/gen - that was showing a lot of promise, and so it would be good to build on that.
Maybe also start a list of the options that you think it should support, and then we can comment on those and add to them?

[2018-03-14 10:36] psiinon opened #4504 "JxBrowser 6.20 released"
Release notes: https://jxbrowser.support.teamdev.com/support/discussions/topics/9000041742

:zap: https://mozilla.logbot.info/websectools/20180307#c14416643

[2018-03-14 11:29] KajanM commented on #173
Hi, I would like to start with this issue. Please give some guidelines to follow.

[2018-03-14 11:41] thc202 opened #4505 "Not all data is persisted for manual authentication method"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/3cJBTzer-HU/discussion

Steps to reproduce the issue:
1. Start ZAP;
2. Create a context that uses manual authentication;
3. Persist the session;
4. Create a new session then load the persisted session. Check the log file or output, there should be some exceptions:
[code]

Remarks:
This is a known limitation of the authentic

[2018-03-14 11:57] thc202 commented on #173
The best would be to run DirBuster [1] and check which options are not currently provided by ZAP (i.e. Forced Browse add-on, sources in [2][3]). (Maybe `HTML Parsing Options` > `File extensions to not process` or `Scan Options` > `Fail Case String`?)

[1] https://www.owasp.org/index.php/Category:OWASP_DirBuster_Project#Download
[2] https://github.com/zaproxy/zap-extensions/tree/477c1904f213cfea80a

[2018-03-14 12:50] psiinon opened #4506 "ChromeDriver 2.36 released"
https://sites.google.com/a/chromium.org/chromedriver/downloads

[2018-03-14 19:09] kingthorin commented on #1919
No further user input. Closing, per @yhawke's previous update it seems very likely that this is #1871

[2018-03-14 19:09] #1919 closed

[2018-03-14 19:14] kingthorin commented on #4231
@brittag are you still able to look into this?

[2018-03-15 08:03] sello4354 commented on #4462
How do i capture traffic on the loop back address ? and i am still waiting for build post

[2018-03-15 10:13] thc202 commented on #4506
Done in zaproxy/zap-extensions#1484.

[2018-03-15 10:13] #4506 closed

[2018-03-15 16:42] jonvel commented on #4485
The following works for me:
`docker run -i -d -p 8080:8080 -e ZAP_KEY=foobarbaz owasp/zap2docker-bare sh -c "./zap.sh -cmd -addonupdate > zapoutput.out && ./zap.sh -daemon -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -config api.key=\${ZAP_KEY} -host 0.0.0.0 -port 8080 >> zapoutput.out 2>&1"`
on my Mac (10.12.x) with docker `Docker version 17.12.0-ce, build c97c6d6`.  Note the

[2018-03-15 16:54] thc202 commented on #4485
It might have to do with Docker configurations then, because in the initial logs it did log accesses but not in the latest reports. (The problem does not seem related to configurations in ZAP.)

It's possible to add multiple entries, e.g.:
`-config api.addrs.addr(0).name=172.17.0.* -config api.addrs.addr(0).regex=true`
`-config api.addrs.addr(1).name=127.0.0.1`

But it's also possible to add one t

[2018-03-15 17:01] JStyle21 opened #4509 "Java Serialization Handling"
Opening this issue per Simon's suggestion regarding my discussion regarding some kind of add on \ plugin to handle java serialization in Zap.

[2018-03-15 17:04] psiinon commented on #4509
Thanks @JStyle21 - I've just sent you an invite to colaberate on this project, let me know when you've accepted it and we can assign this issue to you :)

[2018-03-15 17:04] JStyle21 commented on #4509
@psiinon Accepted

[2018-03-15 17:05] thc202 commented on #4509
Assigned :)

[2018-03-15 17:09] thc202 commented on #4509
Let us know if you have any questions (e.g. where to start).

[2018-03-15 17:17] psiinon commented on #4509
Yeah - its a big code base, so dont hesitate to ask for pointers...

[2018-03-15 17:28] kingthorin commented on #4509
Ref: https://groups.google.com/forum/#!topic/zaproxy-users/QQgE6JqLiRM

If I understand correctly this is to be a new request/response view addon?
In which case you might want to look at:
https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/jsonview
https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/viewstate

[2018-03-15 17:39] thc202 commented on #4509
That and a `Variant`?

[2018-03-15 18:04] JStyle21 commented on #4509
I was thinking something that not only gives you the ability to view
req\res but also modify and re-serialize from there one can also make some
scripts for automation.

Appreciate the help so far and any help in general.

Thanks :)

On Thu, Mar 15, 2018 at 7:39 PM, thc202 <notifications@github.com> wrote:

[2018-03-15 20:31] V1Reddy commented on #4485
Hi @jonvel ,
Thanks for your reply!
`docker run -i -d -p 8080:8080 -e ZAP_KEY=foobarbaz owasp/zap2docker-bare sh -c "./zap.sh -cmd -addonupdate > zapoutput.out && ./zap.sh -daemon -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -config api.key=\${ZAP_KEY} -host 0.0.0.0 -port 8080 >> zapoutput.out 2>&1"`
The above command lets the mac access the API through the localhost and 127.0.

[2018-03-15 22:39] thc202 commented on #4509
The views normally allow to modify the contents shown (e.g. in Break panel, Manual Request Editor), so the de/serialisation would be implied I guess.

The add-ons linked earlier by @kingthorin allow to view and modify the contents (`viewstate` is more interesting since it de/encodes the contents, but in the end it's the same workflow for all of them).

[2018-03-16 05:25] KajanM commented on #4276
Hi, I am Kajan from University of Moratuwa, Sri Lanka, a final year Computer Science and Engineering undergraduate. I am familiar with java-ee and passionate about learning web-security. I am drafting a proposal for this project. I have done a lot of requirement studies by following Pluralsight courses [1, 2, 3] and playing with zap and OWASP BWA [4]. Previously I looked into #2332 . Currently, I

[2018-03-16 09:12] Naramsim opened #4512 "Allow to upload scripts through the API"
Hello,

first of all thanks for your software. I'm using it extensively at work.

I think that a nice feature to help us deploy Zaproxy in production in the cloud would be to allow the APIs to upload scripts (zest/nashorn/standalone/proxy...). Since, as of now, when we want to load a script into Zaproxy using the APIs it has to be on the same disk where Zaproxy is installed.

Thanks

[2018-03-16 12:19] kingthorin commented on #1142
I've been able to recreate this issue leveraging one of the examples from stackoverflow.

[2018-03-16 12:52] psiinon opened #4513 "Allow logging levels to be changed dynamically"
Initial suggestion is an Options panel which shows a list of all of the log4j loggers and allows their levels to be changed.
Looks like the current list of loggers can be found as per https://stackoverflow.com/questions/17511763/what-is-getcurrentloggerss-analog-in-log4j2

[2018-03-16 12:53] psiinon commented on #4513
Also see https://stackoverflow.com/questions/4598702/dynamically-changing-log4j-log-level

[2018-03-16 23:45] 3bhady commented on #562
Would like to tackle this issue as I'm familiar with it.
but i'd like some pointers in tackling the code base for this project where should i start?

[2018-03-16 23:48] 3bhady commented on #413
Hi , I would like to tackle this issue
any pointers on where to start with the code base?

[2018-03-17 12:52] kingthorin commented on #562
New addons should be added to the alpha branch of the extensions project.
https://github.com/zaproxy/zap-extensions/tree/alpha

[2018-03-17 12:56] kingthorin commented on #3877
@kepuss sorry I lost track of this thread, yes those seem logical.

[2018-03-17 12:57] kingthorin commented on #562
@CaptainFreak are you tackling this?

[2018-03-17 13:25] CaptainFreak commented on #562
Yes, half way through @kingthorin

[2018-03-17 13:53] denniskniep opened #4515 "AuthenticationScript (Python, Ruby, Groovy) does not work"
Creating a new AuthenticationScript (Python, Ruby or Groovy) that misses the Methods `getLoggedInIndicator` and `getLoggedOutIndicator`. Fails when it gets loaded.
Because it tries to first load `AuthenticationScriptV2`. Some ScriptEngines do not verify if all Interface Methods are contained in the script. Some ScriptEngines (Python, Ruby, Groovy) loads successfully AuthenticationScriptV2. But wit

[2018-03-17 13:53] denniskniep commented on #4515
@thc202 can you assign this to me?

[2018-03-17 13:56] daniel-schulz commented on #1382
Hi all,
Its funny I also started with this issue ~14 days ago.
But I couldn't spend that much time and forgot about writing a comment.

I thought about a bit more space saving alignment of the checkboxes like the following screenshot:
![websockets-ui-example](https://user-images.githubusercontent.com/8694700/37556109-75649234-29f1-11e8-807e-5aa2beb0802f.png)

What do you all think about it? If it

[2018-03-17 13:58] thc202 commented on #4515
Done.

[2018-03-17 14:14] 3bhady commented on #3877
@kingthorin is this issue still being tackled or should i go for it?

[2018-03-17 14:36] thc202 commented on #562
New add-ons no longer need to start in the alpha branch, master is fine (they can now declare its status).

[2018-03-17 14:51] thc202 commented on #1382
The size of the dialogue is more predictable (in all languages) if the check boxes are placed vertically, but I'm fine either way.

[2018-03-17 15:36] ManosMagnus commented on #1382
I prefer horizontal alignment for the payload pattern (not for direction), but I think @thc202 is right maybe it will cause problems with internationalization.

Either way, you could send me or comment your code may seem useful later on.

[2018-03-17 16:36] #4515 closed

[2018-03-17 23:28] kingthorin commented on #4295
@veggiespam are you still pursuing building a jar?

[2018-03-18 00:34] 3bhady commented on #174
I'd like to tackle this issue if no one is on it.

[2018-03-18 00:43] kingthorin commented on #174
You could look at this abandon PR and put something together: https://github.com/zaproxy/zap-extensions/pull/837

[2018-03-18 00:48] 3bhady commented on #174
Thanks @kingthorin  , I'm on it.

[2018-03-18 01:26] kingthorin commented on #3362
@thc202 can this be closed or were you still planning to change some SSLv2 behavior?

[2018-03-18 10:54] thc202 commented on #3362
Yes, will tweak that.

[2018-03-18 12:24] 3bhady commented on #174
@kingthorin,  He has already removed the fork
Should I start my own fork and use his code as guiding line?

[2018-03-18 12:58] kingthorin commented on #174
Yup. Just read through the discussion in the PR (so that you avoid any of the outstanding issues). Create your own local feature branch and implement some changes. Then create your own PR.

We will just close that original one when the new one is being reviewed or something...

[2018-03-19 09:24] thc202 commented on #1142
Fixed in zaproxy/zap-extensions#1491.

[2018-03-19 09:24] #1142 closed

[2018-03-19 13:37] ssnmworld opened #4519 "Headers"
Hi - I have a Spring boot application that uses JUnit test cases. I used the TestRestTemplate with Proxy to define the zap proxy server, to record the urls for test case.

  proxy = new Proxy(Type.HTTP, new InetSocketAddress(proxyServer, Integer.valueOf(proxyPort)));
  requestFactory.setProxy(proxy);
  RestTemplate template = new RestTemplate(requestFactory);
   template.setRequestFactory(requestF

[2018-03-19 13:50] thc202 commented on #4519
What are the actual contents of the response returned to the client? It seems that ZAP is not able to deliver the request to the target (`127.0.0.1:55545`).

[2018-03-19 14:49] ssnmworld commented on #4519
The actual content is the JSON response, coming back to the test case.

[2018-03-19 14:59] thc202 commented on #4519
Interesting, could you provide the whole response header?

[2018-03-19 17:43] ManosMagnus opened #4521 "Ajax Spider doesn't establish WebSocket connections"
I am trying to discover websocket connection in [DVWS](https://github.com/interference-security/DVWS/) but I can't.
Ajax Spider navigate and fill the fields properly in the Web app but nothing appears neither in site tab nor in WebSocket tab. I also checked the server I host DVWS and none of the messages and connections have been transmitted via websocket.

[2018-03-19 17:49] psiinon commented on #4521
Thanks for reporting this. Definitely something we need to look into soon.

[2018-03-19 17:50] kingthorin commented on #4521
Do you see WebSocket use in the browser dev tools when doing the same actions in DVWS?

[2018-03-19 17:53] thc202 commented on #4521
I think AJAX Spider's proxies are not wired with WebSocket's persistent connection handler.

[2018-03-19 18:01] kingthorin commented on #4521
@ManosMagnus did you try the normal spider? What if you just proxy while using the DVWS manually?

[2018-03-19 18:34] ManosMagnus commented on #4521
In console

[code]

In Network -> WS panel in firefox I get only requests and responses with status code 200

[2018-03-19 18:37] ManosMagnus commented on #4521
I tried also with normal spider but nothing at all. When I navigate manually in DVWS with proxy all works fine

[2018-03-19 20:03] ssnmworld commented on #4519
Here are the response headers..

Age →0
Cache-Control →no-cache, no-store, max-age=0, must-revalidate
Connection →Keep-Alive
Content-Type →application/json;charset=UTF-8
Date →Mon, 19 Mar 2018 20:00:07 GMT
Expires →0
Pragma →no-cache
Transfer-Encoding →chunked
X-Application-Context →api:test,default,unittest:8080
X-Content-Type-Options →nosniff
X-Frame-Options →DENY
X-XSS-Protection →1; mode=block

[2018-03-19 20:49] thc202 commented on #4519
And the status line? Just to confirm, that's what's returned by ZAP? (Not the application under test directly.)

[2018-03-19 21:31] ssnmworld commented on #4519
The status code returned was 502. If I remove the zap proxy from the test code resttemplate, it works fine.

[2018-03-19 21:37] thc202 commented on #4519
And the reason phrase? I'm still not sure what the issue is in ZAP, based on the logs provided it seems to be working as expected. The log `Could not read header!` is happening when reading a second request from the client, but fails because the client closes the connection (in this case ZAP does not return anything).
Do you know if ZAP has any replacer rule [1] or script [2] enabled that could be

[2018-03-19 21:50] thc202 commented on #4521
That's expected for the normal spider (it does not check for ws URIs, nor does it execute JavaScript).

[2018-03-20 02:59] 3bhady commented on #174
@kingthorin this is my first issue so excuse the time I've spent messing around to get everything working,
I've managed to get the old PR running and tested it a little bit,
what I've seen so far is that testing the methods is working fine except for PUT which is not handled with a file as a payload.
so what is needed to be done is
- handle files as a payload in PUT requests
is that correct or am

[2018-03-20 07:05] kingthorin commented on #174
That was one of the outstanding issues, I think some of the alert information might need to also be updated to reflect the realities of various verbs (methods) being used by web APIs.

[2018-03-20 11:04] juhakivekas opened #4522 "OSX: addable working tabs list not always visible"
The sites and work panel tab addition menus do not render on macbook built-in screen when external screens are attached (DELL screens attached with thunderbolt-DVI adapter). On external screens there are no rendering issues of any sort. The history panel always shows addable panels properly, even when on built-in screen. The issue is present in both the native OSX look and feel, as well as the Nim

[2018-03-20 22:35] daniel-schulz commented on #1382
@ManosMagnus now I have created a patch file with all of my UI changes. I also wrote comments for each added function for you. @thc202 or @kingthorin could you have a short look what you think about the implementation and if he could/should use it like this? :-)
[Download patch file zip](https://github.com/zaproxy/zaproxy/files/1831373/github-issue-1382-add_payload_filter_area_patch.zip)

@thc202

[2018-03-21 11:26] thc202 commented on #1382
Overall looks good to me, there some things that could be tweaked but nothing that would prevent it from being used as is. it's up to @ManosMagnus to integrate it with its own changes :)

I'd not worry too much about that but yeah other layout implementation would handle better those type of issues.

[2018-03-21 19:03] 3bhady commented on #174
@kingthorin I've fixed PUT and PATCH requests,
but I was wondering should i just send a `"dummyKey":"dummyVal"` as body message or should i try something like php code and see how the server would respond?

About the alerts can you tell me what kind of alerts that are wrong? like the description of the alert or the evidence?

Now should i create a pull request after finishing everything or should

[2018-03-21 19:51] kingthorin commented on #174
I'd go with safe values, and a randomly generated filename (so that nothing is accidentally clobbered or linked on the target/server).

I haven't looked at the alert content to see what might need to be changed. I was simply mentioning it in relation to this comment: https://github.com/zaproxy/zap-extensions/pull/837#issuecomment-372738299

I'd suggest that you read through the content of the aler

[2018-03-21 19:56] 3bhady commented on #174
@kingthorin I've encountered 429 , If the Spider runs for a while but not long enough to get a 429 , Running active scan after it causes 429.

I'll try to finish them as soon as possible so that i can deliver the issue before GSoC.

[2018-03-22 02:38] ssnmworld opened #4525 "ZAP HTML Report"
I am running the zap as gradle tasks and running active scans and spider scans.  The scans are completing successfully,  and a HTML report is generated fine using this URL.

http://zap/HTML/core/view/alerts/?zapapiformat=HTML&baseurl=http://127.0.0.1:55545/

But this report is not read correctly by the zap sonar plugin
https://github.com/pdsoftplan/sonar-zap

So I tried generating the htmlreport u

[2018-03-22 06:58] denniskniep opened #4526 "More Explicit Parameter Name in Vector JSON"
If I Active Scan a JSON-Request the prarameters get identified by the class `VariantJSONQuery`.
But the hierarchy is not represented. Nested Json Parameters can not be differentiated.

Example 1
[code]
Current parametername is "xyz", but parametername should be "foo.xyz"

Example 2
[code]
Current parametername is "abc", but parametername should be "foo.xyz[0].abc"

[2018-03-22 07:08] denniskniep opened #4527 "Active Scan Value Filter"
It should be possible to filter input vectors for active scanning by the value via RegEx.

My use case is that I have a really large amount of identified vectors on some sites, that are not really used in the server. While I am proxying through Zap I want to flag my vectors for the next scan with a prefix. Sending every Form/Request Parameter with a "_InjectHere_" Prefix (effectively typing this i

[2018-03-22 07:11] denniskniep commented on #4526
Any further or other thoughts about that? If everyone is fine with this I think I will implement it. Could anyone assign that issue to me.

[2018-03-22 07:12] denniskniep commented on #4527
Any further or other thoughts about that? If everyone is fine with this I think I will implement it. Could anyone assign that issue to me.

[2018-03-22 07:27] juhakivekas commented on #4526
@denniskniep It's worth checking out #3322 at the same time. I was supposed to do this last weekend, but ended up fixing some issues in some other project. There's a related [variant script](https://github.com/juhakivekas/community-scripts/blob/master/variant/JsonStrings.js) that might be a useful  reference. Also moving away form `VariantAbstractRPCQuery` would be worth it.

[2018-03-22 09:54] yannikinniger opened #4528 "Access-Control-Allow-Origin header missing"
Is there an option to specify an `Access-Control-Allow-Origin` Header when using the api?
I need it to parse the response in my react client.

[2018-03-22 09:58] thc202 commented on #4527
Done.

[2018-03-22 10:03] psiinon commented on #4528
Please ask questions on the ZAP User Group: https://groups.google.com/group/zaproxy-users rather than opening issues.
(btw, the answer is yes;)

[2018-03-22 10:03] #4528 closed

[2018-03-22 10:06] thc202 commented on #4526
There was some discussion in IRC:
https://mozilla.logbot.info/websectools/20180322

@juhakivekas should be assigned to you instead? same for #3322?

Worth noting that the name of the parameter is not intended to represent the position of the parameter in a structured content (it's just its name), if we are going to change this for JSON we should change other variants too (e.g. XML).

[2018-03-22 10:07] psiinon commented on #4525
Have you tried raising this as an issue on the sonar-zap project?
Thats a 3rd party app, and I dont know what format its expecting.

[2018-03-22 10:11] psiinon commented on #174
@3bhady what application are you testing this against? I'd use a local test application so that you are more in control.
I'm not aware of any of our existing rules explicitly handling 429 responses - if a app stops talking to use because we've made too many requests then theres not a great deal we can do.
We do have the global option to sleep between requests, you dont need to do anything to suppo

[2018-03-22 10:13] thc202 commented on #4525
There's also https://github.com/Coveros/zap-sonar-plugin/ which is maintained, probably better to try this one.

[2018-03-22 10:25] thc202 commented on #4519
@ssnmworld any more info on this one? Can be closed?

[2018-03-22 12:59] 3bhady commented on #174
@psiinon I was testing it against public programs in Hackerone like github.com itself.
But i can use DVWA if that would be better.
I was thinking of delaying the requests when getting 429 response and repeating the lost request untill the blocking period has passed, but if it's not handled by any of the existing rules then I think we should leave it like it is.
I'll try to finish the basics and ma

[2018-03-22 13:03] psiinon commented on #174
I wouldnt try to handle this in each rule, it would better for us to handle it in the core for all rules.
Get the basics done and we can worry about 429s later :)

[2018-03-22 13:30] psiinon opened #4529 "Allow user to add headers to the ZAP API"
As per https://groups.google.com/d/msg/zaproxy-users/UXzDPz9laA0/foAICdwFBgAJ
2 options come to mind:

1. Extending scripts to cover ZAP API responses
1. Adding the option for the user to explicitly set ZAP API headers

Its worth noting that changing the ZAP API security headers could make the API vulnerable to various attacks, which is why I'm a bit nervous about extending scripts to support them

[2018-03-22 13:36] thc202 commented on #4529
Based on the use case I'd go with option 2.

[2018-03-22 13:38] psiinon commented on #4529
Yeah, then we can add explicit warnings - "Make sure you really know what you're doing" ;)

[2018-03-22 17:41] kingthorin opened #4530 "Site Tree XML POST Parameter Name Issue"
I just encountered this when sending a Manual Request:
![image](https://user-images.githubusercontent.com/7570458/37787922-8a2c17a8-2dd6-11e8-9e4a-42cd26de385c.png)

Perhaps we should use some kind of placeholder for the param name when it's an XML payload? Like "(XML Body)"?

[2018-03-22 17:46] thc202 commented on #4530
This is not specific to XML, same happens with other content types "unrecognised" by the Sites tree (e.g. JSON). IMO if changed it should be handled in a more generic way.

[2018-03-22 19:34] nkyadav4598 commented on #3023
hey I have seen it has the same issue for more than one year, I think I can contribute to this project as a summer project for GSoC, I have a sound knowledge of javascript as well as react, so, I can contribute well, it will be helpful if you can guide me how to proceed.

[2018-03-22 20:52] 3bhady commented on #174
@psiinon @kingthorin I've submitted a Pull Request, please let me know if there is something wrong so that i can change it.

[2018-03-23 09:35] psiinon commented on #3023
Well, we like to see contributions from students who apply to GSoC, but its getting pretty late for that :/
Try to put a draft proposal together asap and share it via the GSoC site and we can give feedback.
But to be honest you might be better off starting to plan for next years GSoC...

[2018-03-23 13:40] setzamora commented on #3683
I'm getting this error on zap2docker-stable. Is there a way to clear the alert filters explicitly after creating a new session?

[2018-03-23 13:45] thc202 commented on #3683
Which image (ID)?

[2018-03-23 13:47] setzamora commented on #3683
owasp/zap2docker-stable 2.7.0

![image](https://user-images.githubusercontent.com/18208623/37832525-3ced53a4-2e7f-11e8-8ead-ac3504b8ae66.png)

[2018-03-23 14:03] thc202 commented on #3683
OK, that's #4405. You would have to start ZAP with `-addoninstall alertFilters` to pick the latest version of the add-on.

[2018-03-23 14:07] setzamora commented on #3683
Perfect. Thank you @thc202 .

[2018-03-23 15:18] thc202 commented on #3683
No problem.

[2018-03-23 18:35] ssnmworld commented on #4525
I tried the Coveros project and used it against the XML report
 http://127.0.0.1:9001/XML/core/view/alerts/?zapapiformat=XML&baseurl=http://127.0.0.1:55545/

pdsoft report plugin for html.
http://127.0.0.1:9001/HTML/core/view/alerts/?zapapiformat=HTML&baseurl=http://127.0.0.1:55545/

Both seem to be incompatible with the sonar zap plugins.  I compared the report, they seem to be different than wha

[2018-03-23 18:44] thc202 commented on #4525
Ah, I didn't notice that, the API being accessed (`/core/view/alerts/`) does not generate a report (just returns the alerts). The plugins are probably consuming the result from `/OTHER/core/other/xmlreport/` or `/OTHER/core/other/htmlreport/`.

[2018-03-25 19:54] AppSecBloke opened #4536 "A couple of issues: False positives and NTLM"
ZAP sends a normal HTTP request to a web application and gauges the response time: 325ms

ZAP sends a modified HTTP request to the same web application and gets a different response time: 14ms (This is because ZAP hits a WAF)

ZAP reports a time base SQLi vulnerability, which is a false positive, because...

The normal HTTP request gets a proper (HTTP 200 response), i.e. a served page, whereas the

[2018-03-26 07:29] leisipeisi opened #4537 "Basic HTTP Authentication using Python API"
Hi everyone,

for reference: I already posted my question [here](https://groups.google.com/forum/#!topic/zaproxy-users/h3o5LO38U-s) but it seems that nobody could help me.

I am currently trying to spider a Website which uses a Basic HTTP Authentication. When I am doing this via the GUI and using a HTTP Request from the proxy which uses the authentication already as a starting point to set my cont

[2018-03-26 08:37] psiinon commented on #4536
Please dont report multiple problems in one issue - it makes it really hard to track them and understand whats fixed and what isnt.
I've updated this issue to just apply to the SQLi / WAF issue.

[2018-03-26 08:40] thc202 commented on #4537
Sometimes the posts go unnoticed, feel free to bump them when that happens.

The problem is most likely in the URL included in scope, it should also have the scheme, e.g.:
`scope = "http://\Q"+ dst + "\E.*"`

Yes, it should be selected that authentication session management method.

The URL specified when starting the spider must have the scheme too.
(Note that you don't need to enable Forced User

[2018-03-26 09:38] leisipeisi commented on #4537
Thank you so much for your fast reply and help!

I changed my code to
[code]
Now it says the following, even if I included the same url in the context using
[code]
[code]

[2018-03-26 09:44] thc202 commented on #4537
When starting the spider it should be just the URL, `"http://" + dst`.

[2018-03-26 12:02] leisipeisi commented on #4537
I believe I am not able to follow you, sorry. I now have the following settings:

[code]
And:
[code]

The result is, that I see the info in the log that the user is used and that it has been authenticated, but the credentials are not used for the spider process. Is it possible that I am including too much things in the context?
Thank you for your help!

[2018-03-26 13:59] thc202 commented on #4537
It should be enough with:
`my_zap.context.include_in_context(context_name, "http://\Q" + dst + "\E.*", api_key)`
but adding the other entries would not prevent the user from authenticating correctly.

Assuming the user credentials are correct it should be already working.
Could you enable debug logging in ZAP?
In `log4j.properties` file in ZAP home dir[1] change the line:
`log4j.logger.org.apache.

[2018-03-26 14:25] leisipeisi commented on #4537
Thank you for this suggestion, I will try it tomorrow!

[2018-03-26 15:16] sello4354 commented on #4462
Hi I was able to solve the capturing of traffic by installing npcap , which needs to be installed on windows if you want to capture traffic on loopback address .
After doing so , I have confirmed that there is only  one request sent from ZAP plugin to ZAP regarding the numberOfAlerts .

[2018-03-26 19:15] ssnmworld opened #4539 "Spider/Active scans on Rest APIs"
Hi - I am trying to run scans on Rest APIs - Basically using the Junit test cases to record the URLs and runs the spider/active scans on them.

https://github.com/zaproxy/zaproxy/wiki/ApiDetailsActions - I am using the URL approach using the zap gradle plugin.

But is there any way to tell the scans, the url is a REST API url, rather than a web site - so the vectors can be applied accordingly ?

T

[2018-03-26 19:21] psiinon commented on #4539
Please dont ask question as issues, the User Group is a much better place for them: https://groups.google.com/group/zaproxy-users

[2018-03-26 19:21] #4539 closed

[2018-03-27 06:39] amitcsknit commented on #3722
I am facing exactly same issue of while using zap plugin with jenkins .
[ZAP Jenkins Plugin] SPIDER SCAN STATUS [ 0% ]
[ZAP Jenkins Plugin] ALERTS COUNT [ 0 ]

@naveenjh23 how did you solve it. plz help.

[2018-03-27 07:12] leisipeisi commented on #4537
Thank you for your help, with the debug mode I found the problem: When setting the authentication method, I had given the URL including http:// and not the ip address. After changing this, it works. Thanks again!

[2018-03-27 07:12] #4537 closed

[2018-03-27 08:02] thc202 commented on #3722
@amitcsknit use #4462 instead, but (afaik) there's no workaround.

[2018-03-27 08:03] thc202 commented on #4537
Great, thanks for letting us know!

[2018-03-27 09:48] thc202 commented on #4462
Thanks for the info. Attached a modified ZAP Jenkins plugin, [zap.zip](https://github.com/zaproxy/zaproxy/files/1851397/zap.zip) (the extension needs to be changed to `hpi`), it logs the URLs that the API client requests and it also has the HTTP cache disabled...

Let me know if that makes any difference.

[2018-03-27 09:50] thc202 commented on #4462
@amitcsknit could you try that as well?

[2018-03-27 10:06] amitcsknit commented on #4462
@thc202  do you mean i should install zap jenkins client & install from give zip?.

Just for information as of now: I am running zap as slave in windows machine & jenkins in Ubuntu machine. In case i set proxy in slave windows machine lan settings and browse google in browser it tracks in logs but still its keep running & running untill i kill it. if i kill no report generated. if i dont kill it k

[2018-03-27 10:34] thc202 commented on #4462
The "zap.zip" (which really should be "zap.hpi", but GitHub does not allow to upload with that extension) is the ZAP Jenkins plugin, you would have to install it in Jenkins and try running the job again.

You don't need the browser, ZAP Jenkins plugin can access/spider the target, so it's enough to configure the job to get it working.

[2018-03-27 11:50] amitcsknit commented on #4462
@thc202   i checked as you suggested from given build from ZAP.
[Jenkins_Error_log_ZAP_HIP.txt](https://github.com/zaproxy/zaproxy/files/1851808/Jenkins_Error_log_ZAP_HIP.txt)
Your ZAP.zip works & i made progress but not sure how much. I have attached logs. it seems spide scan is completed which was not happening earlier. But Active scan is going on & one. Process is keep running .. I think i have

[2018-03-27 14:00] thc202 commented on #4462
Thank for trying it! Could you confirm that using the older version the issue is back?

The active scanner takes more time to finish, so that might be normal (the message count is not always the same so ZAP and the Jenkins plugin seem to be working as expected). There's some suggestions on how to improve the time the active scanner takes:
https://blog.mozilla.org/security/2013/07/10/how-to-speed-u

[2018-03-27 15:07] ferdasonmez commented on #2303
Hi,
I am using the ZAP JAVA API for the first time. I am getting this error.

Spider : http://www.xxxxxx.com/
Open URL: http://zap/xml/spider/action/scan/?contextName=Default+Context&apikey=apikey&url=http%3A%2F%2Fwww.milliyet.com%2F&maxChildren=10000&
Exception : java.net.SocketException: Unexpected end of file from server
org.zaproxy.clientapi.core.ClientApiException: java.net.SocketException: U

[2018-03-27 15:11] thc202 commented on #2303
Most likely the API is not correct or the source address is not allowed. [1] [2]

[1] https://github.com/zaproxy/zaproxy/wiki/FAQapikey
[2] https://github.com/zaproxy/zaproxy/wiki/FAQremote

[2018-03-27 15:12] psiinon commented on #2303
Please dont ask questions in issues, and especially not closed ones.
The ZAP User Group is a more suitable place for questions: https://groups.google.com/group/zaproxy-users

[2018-03-27 15:29] sello4354 commented on #4462
Thank you and I will update once I finish testing

[2018-03-28 02:16] davewichers commented on #3715
Hey. This issue has been open about 9 months. Any chance this could be implemented? Its really cool to see this feature now in the standard Spider.

[2018-03-28 02:26] davewichers commented on #3881
Its been 7 months since this issue was reported. I'd like this issue to just focus on improving the efficiency of updating the Alerts tree when LOTS of issues are found in a short period of time. And not make it more complex by adding configuration options to anything.  I have to believe it can't be that hard to figure out a way to update the Alerts tree more efficiently in this situation. It's ea

[2018-03-28 02:44] davewichers opened #4546 "Sites Tree Attack Menu grayed out when selecting folder/single URL at same level"
If my Sites Tree has a single URL and then a folder at the same level in the tree right before or after that URL and I multiselect both and then Right-Click to select the Attack menu, all the items in that menu are grayed out. I don't see why they should be grayed out. I should be able to multi-select any non-overlapping entries in the sites tree and be able to spider/scan/whatever them.

I can se

[2018-03-28 07:44] kingthorin commented on #3715
Hi Dave, as you know this is an open source project. We have issues dating back 6 years. We'd love for them to all be addressed in short order but with a limited pool of regular contributors that just isn't possible.

We're happy to see new contributors any time. If this is something you or someone at your company would be interested in tackling let us know.

[2018-03-28 07:45] kingthorin commented on #3881
Hi Dave, as you know this is an open source project. We have issues dating back 6 years. We'd love for them to all be addressed in short order but with a limited pool of regular contributors that just isn't possible.

We're happy to see new contributors any time. If this is something you or someone at your company would be interested in tackling let us know.

[2018-03-28 08:34] thc202 commented on #4546
Do you want to scan both the folder and the URL then?

The menus are disabled because the scans expect just one starting point.

[2018-03-28 10:15] thc202 commented on #4462
Thanks for trying it!

That means the AJAX Spider add-on is not installed in ZAP.

[2018-03-28 11:37] davewichers commented on #4546
Yes. I want all the selected items to be scanned/attacked. Whatever the user has selected.

[2018-03-28 11:39] davewichers commented on #3881
I understand and appreciate the entire ZAP team’s hard work. I’m just trying to give this particular issue a ‘nudge’.

[2018-03-28 11:50] davewichers opened #4547 "New Feature: Count the # of Nodes Selected in Site Tree"
One of the challenges of getting a good ZAP attack scan is first identifying all the endpoints in a web app. To help the analyst determine how much of the target site has been discovered by ZAP, I think it would be helpful to have a feature that allows a user to select a folder, or set of folders/nodes in the site tree, and then have ZAP count all the nodes in those part(s) of the tree on down.

T

[2018-03-28 11:54] davewichers opened #4548 "ATTACK Mode Enablement Suggestion"
I like the idea of this new feature but find it a bit confusing. When you enable it, it essentially asks if you want it to be enabled, and that's fine. But if you say 'no', it still looks like it is enabled, but I don't think it actually is. Am I understanding this right?

I would think it would be more clear if the warning language was essentially: "Do you want to enable ATTACK Mode? This means .

[2018-03-28 12:03] thc202 commented on #4548
The attack mode is always enabled when selected (it's only disabled when changed back to other mode). That question is to know if you want existing nodes to be rescanned when the scope changes.

[2018-03-28 12:21] thc202 commented on #4547
Subset of #3738.

[2018-03-28 12:45] davewichers commented on #4547
Yes. You are right. This is a piece of what I requested before. I think it
is the easiest and most important piece. Any chance we can get just this
one part implemented? I can totally understand why #3738 has not been
addressed as its complicated.

On Wed, Mar 28, 2018 at 8:21 AM thc202 <notifications@github.com> wrote:

[2018-03-28 13:31] davewichers commented on #4548
OK. Thanks for the explanation but I'm still unclear on a few things. The
actual text is: "Rescan all of the nodes when scope changes? If you select
this option then ZAP will scan all nodes current in scope and will rescan
all of the nodes in scope if the scope changes."  I think the main issue is
that I simply don't understand what Scope is.  Scope isn't mentioned
directly in any of the main menu

[2018-03-28 13:34] thomasdejagere opened #4549 "Add support for OpenAPI 3.0"
When trying to import an OpenAPI 3.0 .json file, using the OpenAPI extension, I receive the error 'Failed to parse OpenAPI definition'. Is there support for the OpenAPI 3.0 type?

[2018-03-28 13:45] thc202 commented on #4549
As mentioned in the PR, version 3.0 is not yet supported.

@kingthorin, @psiinon should we update to the RC or wait for final version of swagger-parser 2.0.0?

[2018-03-28 13:59] kingthorin commented on #4548
Yes, exactly.

The Default Context (scope) doesn't contain anything (unless the user has configured it), so there would be nothing to scan.

Scope == all resources that are part of configured Contexts

https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsScope

[2018-03-28 14:01] kingthorin commented on #4547
If someone decides to work on it.

[2018-03-28 14:05] davewichers opened #4550 "Minor Bug: Active Scan Input Vectors Changes via Options not picked up in Active Scan"
I just noticed the Active Scan Input Vectors feature under Options. When you make changes here and hit OK, and then go to an Active Scan, enable 'Show Advanced Options', and go to the Input Vector tab, the changes made via Options aren't reflected on this tab. However, if you close ZAP and reopen it, the changes under Options are persisted (which is good), and now these changes are also reflected

[2018-03-28 14:14] kingthorin commented on #4550
I was able to recreate this, however, it required changing things twice to make the behavior happen.

1. Launch ZAP.
2. Goto Options > Active Scan Input Vectors.
3. Uncheck something. (I chose GWT.)
4. Select something in the Sites tree, right click Attack > Active Scan
5. Check Input Vectors (GWT is unchecked as expected).
6. I had to repeat steps 2-5 to make this issue occur (at 3 check or unche

[2018-03-28 14:20] thc202 commented on #4550
IMO it seems to be working as expected, the "advanced options" is meant to override the main options, if you want to use the main options you either have to deselect "advanced options" or reset to pick the latest. Or am I missing something?

[2018-03-28 14:32] davewichers commented on #4550
As I said in my original comment, it was not intuitive to change the default options, and then go to Active scan, and see that these 'default' options were not reflected automatically (i.e., I had to 'reset' to pull the changes over). Seems to me that each 'new' Active scan should automatically pull over the 'defaults'.

[2018-03-28 15:06] davewichers opened #4551 "Bug?: Have to Spider same URL twice to find all nodes"
Using OWASP Benchmark, I noticed that I have to Spider the app twice to find all the nodes. Here is what I'm doing:

1) Launch the JxBrowser and navigate to: https://localhost:8443/benchmark/
2) In the ZAP Sites tree, Spider the node: https://localhost:8443/benchmark/
  - ZAP finds 5290 Nodes the first time.
3) Spider the same node again (https://localhost:8443/benchmark/)
 - ZAP finds another 200

[2018-03-28 15:16] thc202 commented on #4551
Some options prevent the spider for crawling further, for example, "Maximum depth to crawl". That's indicated in the Spider tab > Messages, under "Processed" column. Could you check that?

[2018-03-28 16:45] davewichers commented on #4548
OK. I played with this a bit, and your answers are helpful. I think when
switching to 'Attack' mode, it might be helpful if ZAP explained, when this
is the case, that there is nothing currently in the Active scope so
switching to this mode won't do anything. And then either explain how to
add something to the scope, or even better, take them through a little
wizard that helps them add the applicat

[2018-03-28 16:52] davewichers commented on #4551
That's not it. Benchmark has a maximum depth of like 4-5 links. The only
errors I see in that column are Timeouts (a few), and some marked 'Not
Text',  And I have no idea why those would be marked 'Not Text'. The
response is a 200 and the content is a simple HTML document.

On Wed, Mar 28, 2018 at 11:16 AM, thc202 <notifications@github.com> wrote:

[2018-03-28 18:06] sello4354 commented on #4462
what is that mean ? i was able to run manually using AJAX spider and did not face any problem . Can you please elaborate on what you said ?

[2018-03-28 18:22] thc202 commented on #4462
Were the same (ZAP) home [1] and installation [2] directories used in both cases? For example, it's possible that it's present in the home directory you used but not the one used by Jenkins.

Note that you can install it by passing the command line argument `-addoninstall spiderAjax` (it's enough once). [3]

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig
[2] https://github.com/zaproxy/zapro

[2018-03-29 06:17] thomasdejagere commented on #4549
@thc202  Do you have an idea when support for version 3.0 will be added?

[2018-03-29 08:15] kingthorin commented on #4549
I think it's a level of effort trade-off. If it's a 10min job then go for it I guess. If it's gonna take hours then it may as well wait. For my 2 cents anyway.

[2018-03-29 16:45] kingthorin commented on #4123
@penelopeFudd do you think it would be enough to provide for use of just the first capturing group?

For example:
Assume the following tag regex `(\d{3})` for the following Tag rule:
![image](https://user-images.githubusercontent.com/7570458/38101382-292e0e5c-334e-11e8-9f94-01c9242ab51e.png)

Given 3 inputs:
[code]

[code]

[code]

Would produce tags like:
![image](https://user-images.githubuserco

[2018-03-29 17:55] kingthorin commented on #4525
@ssnworld anything further on this or can it be closed?

[2018-03-29 17:56] kingthorin commented on #4525
@ssnmworld world anything further on this or can it be closed?

[2018-03-29 17:56] kingthorin commented on #4519
@ssnmworld any more info on this one? Can be closed?

[2018-03-29 18:00] kingthorin commented on #4492
I'm not aware of any effort to create a mapping, however, you might find some interest via the ZAP User Group https://groups.google.com/group/zaproxy-users.

This provides some mapping vs. the OWASP Top 10: https://www.owasp.org/index.php/ZAPpingTheTop10

[2018-03-29 18:04] kingthorin commented on #4348
@VorTechS are you able to answer the previous questions or can this be closed?

[2018-03-29 18:34] kingthorin commented on #4243
@thiscantbetaken are you able to provide further details or can this issue be closed?

[2018-03-29 18:42] kingthorin commented on #4074
@KuanCat are you able to answer the previous questions or should this ticket be closed?

[2018-03-29 18:46] kingthorin commented on #4195
Closing. After >3mo and no submitter feedback.

[2018-03-29 18:46] #4195 closed

[2018-03-29 18:47] kingthorin commented on #4172
@claudijd @brittag can you let us know if you're still encountering this with the latest versions of the Active Scan Rules addons?

[2018-03-29 18:47] thc202 commented on #4229
Closing, the weekly Docker image is already using a newer version of Webswing (#3553) which fixes the issue that prevented the configuration of allowed addresses through the UI.

[2018-03-29 18:47] #4229 closed

[2018-03-29 18:57] kingthorin commented on #4165
@thc202 any luck?

[2018-03-29 19:03] kingthorin commented on #4128
Closing. Nothing further from the user after >3mo.

[2018-03-29 19:03] #4128 closed

[2018-03-30 08:18] amitcsknit commented on #4462
@thc202  Thank you much for all your support.
your build given zap.zip ran successfully except one thing that i am using generate report.
If i use Export report in place of generate report option of plugin it doesn't work and gives plugin missing error not sure y. Anyways for me reporting workaround is don't use export report , just use generate report & use archive artifact plugin & Html Publishe

[2018-03-30 14:40] claudijd commented on #4169
@kingthorin I have not.  I've sort of switch gears onto a different project and I'm not doing those scans anymore.  The affected example case is a txt file and can be viewed directly here (https://webextensions.settings.services.mozilla.com/v1/robots.txt).  Even with a lack of evidence in the tool, this still feels pretty clear cut as a false positive to me.  Let me know if there is other context

[2018-03-30 15:48] brittag commented on #4172
@kingthorin Thanks for checking! I'm still getting this as of a scan a week ago, but with an updated name ("Cross Site Scripting Weakness (Reflected in JSON Response)"):

[code]

[2018-03-30 18:14] sello4354 commented on #4462
@thc202  i am still getting the same error
Here is the log from Jenkin
[Zed Attack Proxy] $ "C:\Program Files\OWASP\Zed Attack Proxy\zap.bat" -daemon -host localhost -port 8090 -config api.key=ZAPROXY-PLUGIN -dir "C:\Users\QAUser\OWASP ZAP" -installdir %ZAPROXY_HOME% "-addoninstall " spiderAjax

ZAP Jenkins Plugin] SPIDER SCAN THE SITE [ http://10.3.3.62/evi/prior-auth ]

Open URL: http://zap/xml/

[2018-03-31 11:05] juhakivekas commented on #4305
I used this tweak for some weeks and when I know to there it’s nice to have, but it’s definitely a well hidden feature. Also the small widget is not visible in all look-and-feels, such as the OSX one

[2018-04-01 14:03] Pamplemousse opened #4561 "Zest plugin fails to install"
Got into trouble trying to install the Zest plugin from the add-on Marketplace in Zap.

[code]

[2018-04-01 14:28] thc202 commented on #4561
Closing, duplicate of #2656.

[2018-04-01 14:28] #4561 closed

[2018-04-02 09:08] thc202 commented on #4462
@amitcsknit:
1. You need the add-on Export Report to use that option.
2. There's no exact date, but hopefully this week.
3. The following pages explain what those fields are:
https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsAuthentication
https://wiki.jenkins.io/display/JENKINS/zap-plugin+Form-Based+Auth
If you still have any question please let us know through the groups:
https://gr

[2018-04-02 13:42] sello4354 commented on #4462
@thc202
I believe the ZAP plugin added the quotation.  I did not configure it that way as you can see it in the below  log excerpts :
[ZAP Jenkins Plugin] START PRE-BUILD ENVIRONMENT VARIABLE REPLACEMENT
	HOST = [ localhost ]
	PORT = [ 8090 ]

	SESSION FILENAME = [ session_folder/spa ]
	INTERNAL SITES = [ http://10.3.3.62 ]

	CONTEXT NAME = [ spa_zap_105 ]

	INCLUDE IN CONTEXT = [ http://10.3.3.62

[2018-04-02 13:44] thc202 commented on #4462
OK, could you try remove the space after `-addoninstall`? I guess it's because of that.

[2018-04-02 14:11] sello4354 commented on #4462
i am still seeing the same error .

[2018-04-02 14:26] thc202 commented on #4462
btw, what is the ZAP home logged by ZAP?

[2018-04-02 15:05] sello4354 commented on #4462
[ZAP Jenkins Plugin] CLEAR LOGS IN SETTINGS...
	ZAP HOME DIRECTORY [ C:\Users\QAUser\OWASP ZAP ]
	JENKINS WORKSPACE [ c:\Users\jenkins\workspace\QA_Automation_ZAP_sPA ]
	CLEARING ZAP HOME DIRECTORY/LOGS

	[ /opt/bitnami/apache-tomcat/logs/C:/Users/QAUser/OWASP ZAP/zap.log ] LOG HAS BEEN FOUND
	DELETE [zap.log] FROM [/opt/bitnami/apache-tomcat/logs/C:/Users/QAUser/OWASP ZAP/zap.log]

[2018-04-02 15:24] thc202 commented on #4462
That's from the Jenkins plugin, I was referring to the ZAP logs/output, something like:
[code]
And when installing the add-on:
[code]
or if already installed:
[code]

If you know exactly which dir ZAP is using you could copy the add-on to the `plugin` dir (if failing to install the add-on).

[2018-04-02 16:32] sello4354 commented on #4462
I did not see either of the logs in the logs/output file but I found out that ajaxSpider plugin is installed in ZAP home directory (i.e C:\Users\QAUser\OWASP ZAP .
I do not know how much this will help you  I opened zap program manually and kicked off my zap Jenkins job and everything works fine . ZAP Jenkins job was able to terminate the ZAP program after finishing the scanning . Can I conclude t

[2018-04-02 17:00] thc202 commented on #4462
Based on logs provided earlier ZAP and the Jenkins plugin are working fine, the problem is that the ZAP instance being run in the slave(?) machine does not have the AJAX spider add-on. Which package was used to install ZAP? Core? [1] This one does not have AJAX Spider, only the standard package (or weekly).

[1] https://github.com/zaproxy/zaproxy/wiki/Downloads#zap-270-core

[2018-04-02 17:37] sello4354 commented on #4462
I installed the standard version . i found this in zap log file . what is the requirement ?
2018-04-02 17:32:41,393 [ZAP-daemon] WARN  DaemonBootstrap - Add-on "jxbrowserwindows" or its extensions will no longer be run until its requirements are restored: [Add-On with ID "webdriverwindows"]
2018-04-02 17:32:41,393 [ZAP-daemon] WARN  DaemonBootstrap - Add-on "quickstart" or its extensions will no l

[2018-04-02 17:51] thc202 commented on #4462
It seems that several add-ons are no longer runnable or no longer installed (e.g. Selenium, Windows WebDrivers), from the log which add-ons are installed? e.g. ` [ZAP-daemon] INFO  ExtensionFactory - Installed add-ons: ...`
that explains why the AJAX Spider add-on was not started.

No problem :)

[2018-04-02 17:58] sello4354 commented on #4462
[ZAP-daemon] INFO org.zaproxy.zap.control.ExtensionFactory  - Installed add-ons: [[id=alertFilters, version=7.0.0], [id=ascanrules, version=31.0.0], [id=coreLang, version=13.0.0], [id=gettingStarted, version=9.0.0], [id=invoke, version=9.0.0], [id=jxbrowser, version=8.0.0], [id=pscanrules, version=22.0.0], [id=quickstart, version=23.0.0], [id=replacer, version=5.0.0], [id=scripts, version=24.0.0],

[2018-04-02 18:21] thc202 commented on #4462
Yeah, that confirms the Selenium add-on is not installed. Could you try download/install ZAP again? Hopefully that restores the add-ons (Selenium and AJAX Spider are included in the standard package).

[2018-04-02 19:38] sello4354 commented on #4462
I downloaded and installed the standard version ( ZAP-2.7.0) but I am still seeing the same above warnings

[2018-04-03 07:29] VorTechS commented on #4348
Sorry, I missed the previous notification.  The session was being persisted right at the end of the process.  It was started, setup and executed with no intermediate persistence.

Compact on Exit is not set.

[2018-04-03 08:25] psiinon commented on #4549
:+1:

[2018-04-03 08:33] psiinon commented on #3881
Always worth a try ;)

[2018-04-03 09:29] kingthorin commented on #4348
Thanks

[2018-04-03 15:32] jk-helpsys opened #4564 "AJAX spider should allow a 2nd URL to be passed to the browser after the AJAX application is loaded"
The AJAX spider has a Starting Point field for the url that will load the webapp's startup scripts.  But in a very large application it would be good to specify a 2nd url to start the AJAX spider in a particular place within the application.  Sequence would be:

1. load webapp scripts from Starting point
2. do whatever is needed for authentication
3. send browser to a 2nd URL
4. start the AJAX sca

[2018-04-03 17:31] sello4354 commented on #4462
it looks like something is wrong with zap standard version . It looks for the plugin and zapdb.script files under C:\Program folder instead ZAP home folder ( C:\QAUser\OWASP ZAP\ . I installed the cross platform distribution and i am not seeing any error . Everything is working perfectly fine

[2018-04-03 17:42] thc202 commented on #4564
Ref: https://groups.google.com/d/topic/zaproxy-users/F9tciuI44wA/discussion

[2018-04-03 21:58] brittag commented on #4231
Thanks for checking in! Generally what's happening for each of our false positives for SQL Injection is that it's triggering on a search results page of some kind, which is expected to provide different results for different queries, without that being a vulnerability.

I'm not sure how to demonstrate this with a good public-facing test case that you can use to try the scan to get more insight, so

[2018-04-03 23:53] thc202 opened #4566 "Investigate usage of RE2/J in Wappalyzer add-on"
Investigate if [RE2/J](https://github.com/google/re2j) works faster (and still accurate) than `java.util.regex.Pattern` in Wappalyzer add-on. There are 293 occurrences of the logical operator or (`|`) in the regular expressions...

From a quick check there's one entry that fails (it would have to keep using `java.util.regex.Pattern`):
[code]
with:
[code]

References:
 - https://github.com/zaproxy/

[2018-04-04 00:28] thc202 commented on #4566
Yes, that should work. The one in the extensions repo.

[2018-04-04 01:01] kingthorin commented on #4566
Oh then my first reply is wrong because I literally removed the one problem pattern.

[2018-04-04 10:50] satyamtanikella opened #4567 "Issue in using Zap proxy"
I tried to use Zap proxy using screen reader. I have java-8 jre with jabswitch enabled. I used both jaws 14.0 and jaws 18.0

[2018-04-04 10:57] psiinon commented on #4567
@satyamtanikella so whats the issue?

[2018-04-04 10:59] kingthorin commented on #4567
Ok, you tried to use it with a screen reader. Cool! What happened? What’s the issue?

[2018-04-04 15:00] kingthorin commented on #4270
@varshav21 sorry we missed your message. Are you still wanting to tackle this?

[2018-04-04 16:01] varshav21 commented on #4270
yes, I'd definitely like to work on it :)

[2018-04-04 17:04] kingthorin commented on #4270
The active scanner code is here: https://github.com/zaproxy/zaproxy/tree/develop/src/org/zaproxy/zap/extension/ascan
The spider code is here: https://github.com/zaproxy/zaproxy/tree/develop/src/org/zaproxy/zap/spider

This pull request might give you some insight:
https://github.com/zaproxy/zaproxy/pull/3685

[2018-04-04 17:14] thc202 commented on #4270
Issue title updated to reflect better what's tracked/intended with this issue.

It's probably better to dive into spider first, it's easier to tackle.

[2018-04-04 17:34] ssnmworld opened #4570 "zap docker API scan"
Hi - I am using this command for zap docker for Rest API scan, and would like to override the host parameter in the swagger json file.

docker run  -v "$(pwd)":/zap/wrk/:rw -t owasp/zap2docker-weekly  zap-api-scan.py -d -t abc.json -O http://test.com -r reports/index.html -f openapi

Is -O the option to do the same ? That does not seem to work. Is there any documentation for the same?

Thanks

[2018-04-04 17:41] thc202 commented on #4570
Only the description shown with the help of the script:
`-O                the hostname to override in the (remote) OpenAPI spec`

that's only intended to use with remote (URL) specs, if you have the file locally you are expected to change it.

[2018-04-04 20:25] thc202 commented on #2380
Fixed in zaproxy/zap-extensions#1521.

[2018-04-04 20:25] #2380 closed

[2018-04-05 13:50] thc202 commented on #4462
Strange, both packages use the same code, the only difference is in which add-ons are bundled in them (Windows installer includes just the Windows specific add-ons, JxBrowser, WebDrivers). In both cases ZAP should be looking in the installation directory for the session files and for the add-ons (although the the latter it also checks the home directory).

Glad it's working fine! Might be because

[2018-04-05 14:01] #3485 closed

[2018-04-06 12:58] ejpotter009 commented on #521
I'm starting work on this.  It'll be slow going at first, but I have good chance of arranging some employer-sponsored research time to accelerate progress in May or June.

[2018-04-06 13:07] thc202 commented on #521
Worth noting that ZAP already supports the HAR format (issue now updated to reflect that), this issue is about exposing that through the UI (which is just a matter of adding a dialogue to allow to export/import the files).

Let us know if you need any pointers where the key classes are and how better add this.

[2018-04-06 13:39] ejpotter009 commented on #521
Pointers to classes and suggestions for implementation would be much appreciated, as I'm just getting started.

[2018-04-06 16:02] ejpotter009 commented on #521
I can see that HARLib is imported into CoreAPI, so I'll start looking there.

[2018-04-06 16:09] thc202 commented on #521
The key class is `org.zaproxy.zap.utils.HarUtils` which allows to convert between the HAR format and `HttpMessage`. Other key (UI) class would be the pop up menu item `PopupMenuItemHttpMessageContainer`, although we should also add a top level menu item (under Tools?).

Right, `CoreAPI` (line 1341) is a good place to check how `HarUtils` is being used.

Note that this should be added as an add-on,

[2018-04-06 16:37] thc202 commented on #521
BTW, have you checked https://zaproxy.blogspot.pt/2014/03/hacking-zap-1-why-should-you.html ? Some links are outdated but good for an overview.

[2018-04-07 22:25] kingthorin commented on #4500
No further user input in over 3 weeks. Closing.

[2018-04-07 22:25] #4500 closed

[2018-04-07 22:26] kingthorin commented on #4492
No further user input in over a week, closing.

[2018-04-07 22:27] kingthorin commented on #4363
No further user input in over a month. Closing.

[2018-04-07 22:27] #4363 closed

[2018-04-07 22:29] kingthorin commented on #4243
No further input for months. Closing,

[2018-04-07 22:29] #4243 closed

[2018-04-07 22:30] kingthorin commented on #4172
This is now behaving as expected. An XSS payload reflected in JSON should raise an informational.

[2018-04-07 22:30] #4172 closed

[2018-04-07 22:31] kingthorin commented on #4165
Anyone?

[2018-04-07 22:34] kingthorin commented on #4123
@psiinon @thc202 what do you think about implementing just based on group 1 to provide some flexibility?

[2018-04-07 22:35] kingthorin commented on #4074
No further user input in months, closing.

[2018-04-07 22:35] #4074 closed

[2018-04-09 00:09] kingthorin commented on #3247
@Prakhash can you identify the tool or provide a link to some documentation or something. I'm unclear on what you're describing.

[2018-04-09 10:33] javixeneize opened #4580 "Problem with scanner when post parameters are json"
Hi

Some time ago, i asked how could i trigger scans with active scanner through ZAP API for a POST request. The answer was to use a command like this

ascan.scan(t.get("url"), "", "", "", t.get("type"), t.get("params"))

Where params is something like this:

name=test&id=1

However, im working with an application that sends POST parameters as a json.

{'name': 'test', 'id':1}

When running that c

[2018-04-09 10:42] thc202 commented on #4580
Related to #4530 (both have the same cause).

[2018-04-10 01:51] njfox commented on #3884
I'm experiencing this issue with zaproxy 2.7.0 on Arch Linux. No matter what I do, I cannot get a session to persist if ZAP crashes or is closed--the session is always completely empty when I restart zap and load the session file.

I'm not really sure what additional information I can provide, but let me know if there's something specific I can do to help diagnose.

[2018-04-10 10:08] kingthorin commented on #1516
I've found references on lists that suggest this is doable. However, this is the closest I found to a library: https://github.com/scijava/scripting-java

[2018-04-10 10:14] thc202 commented on #4123
How would that work? If there's a group it's automatically appended to the tag?
(Note that it can be used `Matcher.appendReplacement` to automatically replace the group references in the tag.)

[2018-04-10 10:27] thc202 commented on #4123
Sounds good.

[2018-04-10 10:54] kingthorin commented on #4123
Here's my initial code: https://github.com/zaproxy/zaproxy/compare/develop...kingthorin:tag-interpolation
It currently only applies to response bodies (but making it applicable to requests and headers isn't a big deal), it could maybe also use some clean up of the var/const names.

Now that I've done some [reading](https://docs.oracle.com/javase/7/docs/api/java/util/regex/Matcher.html#appendReplac

[2018-04-10 12:15] thc202 commented on #4123
The `matcher` could be passed to `matched` and do the group logic there (less changes overall).

Which ones?

The use of `appendReplacement` would allow the user to specify where the groups are added/replaced in the tag (instead of being always appended). The input sequence added to the result (`sb`) would have to be ignored but that can be easily done by getting the sub-string with the start of t

[2018-04-10 13:31] kingthorin commented on #4123
Just the stuff I added. PH should actually be PLACEHOLDER, like that.

I’m not following on the appendReplacement thing: The matcher is on the message part (eg response body) not the tag itself.

[2018-04-10 13:38] thc202 commented on #4123
OK.

That's fine/expected, the tag is the `replacement` (which gets the group references replaced in the result).

[2018-04-10 13:48] kingthorin commented on #4123
I’ll have to try it ;)

[2018-04-10 17:16] kingthorin commented on #562
Food for thought: https://mobile.twitter.com/jeff_foley/status/983200831007875072

[2018-04-10 19:43] kingthorin commented on #2224
I started to work on replacement scan rules, however, it quickly became apparent that something like a [Backslash Powered Scanner](https://github.com/zaproxy/zap-extensions/pull/1014) is necessary for the comparison of the test messages vs. the original. The Mutillidae test case is a poll applications so the response changes (minimally) on every submission. Which isn't very friendly for the Hirsch

[2018-04-11 00:03] kingthorin commented on #4123
I'm still not seeing it. All I end up with is whatever `getConf()` returns.

Are you picturing some change where the tag itself is also defined by a regex?

[2018-04-11 00:07] thc202 commented on #4123
Not a regex, but use of group references (like in the example provided earlier, `AmazonAPI $1`).

[2018-04-11 00:11] kingthorin commented on #4123
Bingo, ok that works :+1:

[2018-04-11 05:39] thinksabin opened #4584 "Data size limit exceed and Java heap memory size exceed"
hi,

I'm using owasp zap in the CI process using zap api and selenium. The problem i'm facing is the exceed of java memory and data size limit.
<img width="733" alt="screen shot 2018-04-11 at 11 11 35 am" src="https://user-images.githubusercontent.com/6102027/38597847-95d8564a-3d79-11e8-8983-459c886c224a.png">

i'm using python library zapv2 for api calls and scans. So far the case is I already ha

[2018-04-11 07:51] psiinon commented on #4584
How long are you running ZAP for?
Is it just for scanning one app or multiple ones?
FYI that limit is set here: https://github.com/zaproxy/zaproxy/blob/develop/src/db/zapdb.script#L25 so you could just try increasing it..

[2018-04-11 08:24] psiinon commented on #4584
ZAP isnt really designed for running for days on end.
Right now I'd recommend starting a new ZAP instance for every application that you scan.
We do have a 'low memory' mode but this is experimental so if you do want to use it make sure you test it to make sure it does what you need. And let us know if it does work for you :)

[2018-04-11 08:43] thinksabin commented on #4584
:)
thanks. I will check into it.

[2018-04-11 12:41] psiinon opened #4585 "Scan for more hidden files"
For example, see https://blog.hboeck.de/archives/892-Introducing-Snallygaster-a-Tool-to-Scan-for-Secrets-on-Web-Servers.html
We already scan for some of the files it looks for but not all.
We could have a new scan rule whcih just looks for files in fixed location (ie relative to the root) and have these defined in a text file to make it really easy to extend.
If we also had a policy just including

[2018-04-11 12:50] psiinon commented on #4585
Note that the config file (csv, tsv, xml, json?) should include info like:

- File path
- Contents regex (to confirm its valid, if possible)
- User friendly desc + links for reporting

[2018-04-11 14:26] thc202 commented on #2251
Closing, duplicate of #4105.

[2018-04-11 14:26] #2251 closed

[2018-04-11 19:28] RickTorresJr commented on #4106
Just had the same behavior when running the Fuzzer with rockyou.txt . The Fuzzer never kicks off.
OWASP ZAP version 2.7.0
Java Version 8 Update 161 (build 1.8.0_161-b12)
OS: Windows 7 Service Pack 1

[2018-04-12 17:16] adioss opened #4589 "Script Console tab freezes the UI when script is too big"
When a script is too big (if you record a zest script for auth, if you open a script, if you switch between scripts), the UI is stuck (or unusable anymore until long minutes?).
When you use a script, the content is shown on a tab called "Script Console". But if the script is big because data collected are huge (because multiple javascript are loaded or whatever), the textarea takes a lot of time t

[2018-04-12 17:18] adioss commented on #4589
I've got a small POC for that and it solves the issue. But I need to validate that:
* no other ticket is already open about that
* the way I've done is correct + discuss the enhancement
* it is relevant to do a pull request for that

[2018-04-12 17:24] adioss commented on #4589
https://github.com/adioss/zap-extensions/commit/1df024672bd39cf84ca89f9424b86bed3a97b6f9 (branch from zap-extensions/beta)

[2018-04-12 17:35] thc202 commented on #4589
I don't recall any, but it wouldn't be a problem if there was.

Does disabling the syntax highlight address the problem? That would probably be better in the long run, as it would still allow to edit big scripts (other than Zest).

[2018-04-13 10:04] thc202 commented on #4589
Cool, sounds good to me. We could also have the two, for example, between 500k and 1M disable the highlighting above 1M do not allow to edit and say that the script should be edited outside ZAP (given that ZAP now allows to pick external editions that's not a big problem either).

[2018-04-13 11:48] kingthorin commented on #3742
There's also this: https://github.com/nikmmy/retire/ which might be easier to adapt since it's already ZAP'ified and not trying to handle two platforms.

[2018-04-13 12:49] kingthorin commented on #749
I was unable to re-create this issue either in the GUI directly or leveraging the API.

Here's an up-to-date version of the test.py which implements the appropriate apikey handling:
[code]

You may need to: `pip install python-owasp-zap-v2.4` first.

@psiinon @thc202 have either of you experimented with this? Can I close this?

[2018-04-13 13:08] thc202 commented on #749
+1 to close, I'm not able to reproduce the issue either.

[2018-04-13 13:53] kingthorin commented on #749
Closing

[2018-04-13 13:53] #749 closed

[2018-04-13 15:14] javixeneize opened #4590 "ZAP API converts data to wrong format"
Hi

I did open a bug the other day about json compatibility in post requests #4580

I have seen another bug related to this. When the ZAP API (in python) returns that data, the JSON is formatted as a dictionary instead of having a JSON format

So, if the post body was {"name": "test", "id":"1"}

The API returns this data as {'name': 'test', 'id':'1'}

And therefore, it is not recognised as a JSON

[2018-04-13 15:33] thc202 commented on #4590
Which API endpoint did you use?

[2018-04-13 15:36] javixeneize commented on #4590
core.messages

[2018-04-13 15:37] thc202 commented on #4590
Thanks.

[2018-04-13 18:43] austbot opened #4591 "Sign Zaproxy docker image with notary using Docker Content Trust"
This will allow companies that require signed metadata to run it.
Happy to assist, but no code changes are needed.

[2018-04-15 23:36] kingthorin commented on #4016
https://github.com/zaproxy/zaproxy/pull/3975

[2018-04-15 23:38] kingthorin commented on #3976
@omerlh are you able to answer @thc202's question?

[2018-04-15 23:54] kingthorin commented on #3877
@kepuss are you working on this?

[2018-04-16 00:05] kingthorin commented on #3538
I understand there might be additional items along the same lines to be tweaked but can I go ahead and submit a PR for the original change? (It's really handy IMHO.)

[2018-04-16 01:30] kingthorin commented on #3447
I don't think there's much we can do about the memory error. It seems likely that doing some good modelling of the site (it seems to be an online store) might have helped issues.

However the truncation can probably be handled better. (Actually catching `SQLDataException` and maybe log a warning or info message that includes details of the param for which the update is failing):
https://github.com

[2018-04-16 01:38] kingthorin commented on #3331
Is anyone able to reproduce this? Can the issue be closed?

[2018-04-16 01:42] kingthorin commented on #3208
@alienatix were you ever able to figure out the preconditions to this issue? Aside from the container being up for a crazy long time (do you know what kind of usage there was over those 9wks?).

[2018-04-16 01:47] kingthorin commented on #3190
@almanda70 are you still experiencing this problem?

Do you have the JCE files installed?
https://github.com/zaproxy/zaproxy/wiki/FAQsslHandshake

[2018-04-16 01:54] kingthorin commented on #2843
Marking as duplicate of zaproxy/zaproxy#3503, and closing in favor of that other one which is currently assigned and being worked on.

[2018-04-16 01:54] #2843 closed

[2018-04-16 02:01] kingthorin commented on #2819
A Global Excludes option might be a good move, however it would be nice to optionally hide things in (from) the Sites Tree.

[2018-04-16 02:04] kingthorin commented on #2827
@davewichers have you done further testing allocating more memory?

[2018-04-16 10:19] rexjazz opened #4598 "False prediction over IP finding"
![owaspreport](https://user-images.githubusercontent.com/5547019/38803613-644c9f88-418d-11e8-8e20-5e6083a6234f.png)

Its stating issue in the report as IP if any number / names it stated in the website . Please check the image for a better understanding  of the issue.  Its falsely stating a file name as IP.

[2018-04-16 12:25] kingthorin commented on #4598
How about this:
At High Threshold impose a word boundary check at the start and end of the IP pattern (since you're indicating that false negatives are ok). At Medium & Low Threshold leave it as is (will match substrings), which may lead to a few false positives like this.

Keeping in mind that the user can always mark them as False Positive in ZAP or implement an Alert Filter for them (https://gi

[2018-04-16 14:50] davewichers commented on #2827
This is 2 years old. I haven't done anything with this in ages, so can't really comment on your question. I can say that I've been able to run ZAP against the full OWASP Benchmark now so I believe something in ZAP has improved to enable it to handily really large sites like Benchmark. I have no idea if this database sizing issue was something that was improved and helped.

[2018-04-16 14:54] kingthorin commented on #2827
@thc202 @psiinon good with closing this one?

[2018-04-17 05:26] omerlh opened #4602 "Enhancement: Passive scan rule for anonymous requests"
As all anonymous requests might be a security issue, I would like to have a rule to detect such requests and report them.
Later this rule could also check for insecure authentication (basic, OAuth 1 etc) and alert also on those.
What do you think?

[2018-04-17 07:48] kingthorin commented on #4602
You're going to need to be more specific.

[2018-04-17 07:49] kingthorin commented on #4602
Also there's already a weak auth passive scanner for basic and digest.

[2018-04-17 07:57] omerlh commented on #4602
I want to alert on request that does not have any authentication (missing `Authorization` header). Those request might indicate potential security issue, and ideally, people will have to white-list specific URLs that can be anonymous. My main hesitation is that this requirement might be only ours, and not globally.

[2018-04-17 08:04] kingthorin commented on #4602
Doable, however there's a huge percentage of the web that uses form based authentication with no auth header.

I'll knock together a passive script in a few hours. (Its 4am, I'm gonna try to get back to sleep for a bit ☺)

[2018-04-17 10:42] denniskniep opened #4603 "Provide ZAP as snap"
It would be nice if we could provide ZAP via snap package manager (https://snapcraft.io)

One benefit is, that we could provide different channels:
* weekly
* stable
....may be more

[2018-04-17 19:06] kingthorin commented on #4602
This is un-tested, but I said I'd knock something together today so here it is:

[code]

[2018-04-17 20:26] omerlh commented on #4602
That looks promising :) This is not a rule, like the regular one, right? I need to add this script to Zap?

Also, why not create a regular rule?

[2018-04-17 21:02] kingthorin commented on #4602
I was just putting something together to get you going. You could make a normal java based passive scanner and add it to the alpha branch.

Yes it’s a script you’d have to add it via the script tree and ensure it’s enabled. Then make sure Script Passive Scanner are enabled on options.

[2018-04-17 21:59] thc202 commented on #4602
Any reason not to use the Access Control Testing add-on? [1] (It also allows to raise alerts.) Seems more appropriate than a passive scanner (which will pretty much raise an alert on every page/site).

[1] https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsAccessControlConcepts

[2018-04-18 07:40] psiinon commented on #2827
yeah

[2018-04-18 07:40] #2827 closed

[2018-04-18 07:43] psiinon commented on #4598
👍

[2018-04-18 08:06] #4123 closed

[2018-04-18 08:12] psiinon commented on #4591
@austbot Assistance always greatfully received :)
This sounds like a good idea but its not something I've done before, so if you could let us know the right way to do this then that would be a great help.

[2018-04-18 08:15] psiinon commented on #3742
That looks interesting, although it hasnt been updated for a long time

[2018-04-18 08:36] psiinon commented on #4591
FYI the current process for the weekly release is defined here: https://github.com/zaproxy/zaproxy/wiki/GeneratingTheWeeklyRelease#update-the-docker-image

[2018-04-18 10:16] amitwer commented on #1318
Not sure how to upvote this one, but it took me way too long to even notice ZAP was auto-correcting the host header \ url relations for me.

[2018-04-18 10:27] psiinon commented on #1318
That comment will do - the more people who ping us on the status of an issue the more we appreciate how important those issues are.
You can also vote on issues here: https://www.bountysource.com/teams/zap/issues but not many people do. maybe I should ping the ZAP groups to remind people...

[2018-04-18 11:41] kingthorin commented on #4602
Another reason I implemented this as a script is because it seemed more like a minority case than the norm. I  _do not_ have stats to back me up, however, I _feel_ that there are more use of form/cookie based authentication than authorization header.

@thc202 is right though, may as well use the Access Control Testing extension.

[2018-04-18 12:05] psiinon commented on #4602
yeah, agree that this specific test is best as a script, and that hopefully the access control add-on is actually more useful :)

[2018-04-18 16:39] SeriyVol4ishe opened #4606 "Zaproxy in Docker - Badstatus Line"
I run zaproxy in Docker container with this command:
```docker run -i owasp/zap2docker-stable zap-cli quick-scan --self-contained --start-options '-config api.disablekey=true' http://testhtml5.vulnweb.com/ ```
But I have that output:
[code]

[2018-04-18 16:41] thc202 commented on #4606
I'd guess it's because of the address:
https://github.com/zaproxy/zaproxy/wiki/FAQremote

Could you try allow all?

[2018-04-19 06:08] su-ja commented on #4509
HI,
I am new to this group and would like to know whether I could use ZAP for testing Java Deserialization issue.
Also, I am interested in contributing some work/time to this project.

[2018-04-19 06:14] pqyptixa opened #4607 "Context menu in request and response text-areas behaves as if the mouse pointer was elsewhere"
In ZAP version D-2018-04-04, after resizing (maximizing) the application window and restarting it, when right-clicking in the text area under the "request" or "request and response" tab, the context menu will not respond correctly, and the program will behave as if the mouse pointer was elsewhere (noted by how, sometimes, some buttons in the program menu are highlighted when hovering over the cont

[2018-04-19 08:26] kingthorin commented on #4509
@su-ja we don't yet have an active scan rule to test for deserialization issues.

[2018-04-19 08:32] kingthorin commented on #4607
Seems like an LXQt issue, can you try a different desktop manager? (Like KDE...)

[2018-04-19 12:54] thc202 commented on #4509
@JStyle21 how are things progressing? Any tasks that can be split for @su-ja?

[2018-04-19 14:47] pqyptixa commented on #4607
Yes, it doesn't happen in KDE. It does happen in LXDE too, though.

[2018-04-19 15:38] kingthorin commented on #4607
Have you opened tickets for those projects?

[2018-04-19 15:39] kingthorin commented on #1452
Nope. It recently got a $50 bounty added on Bounty Source but I’m not aware of anyone working on the solution.

[2018-04-19 19:33] kingthorin commented on #943
https://docs.oracle.com/javase/tutorial/uiswing/misc/access.html#supporting

[2018-04-19 19:34] kingthorin commented on #1423
Related to: https://github.com/zaproxy/zaproxy/issues/943

[2018-04-19 23:17] JStyle21 commented on #4509
It's possible but first, @su-ja Are looking for something with a GUI? you plan to manually deserialize and send request to the server?

[2018-04-20 03:24] satyamtanikella commented on #4567
Hi,
Let me explain the issue.
I tried to use zap proxy on both windows7 and windows10 using a screen
reader called jaws.
But when I used a screen reader I was not able to read any of
application's menu or context menus.
so the problem is as a visually challenged user I am not in a position
to use zap proxy.
I hope I am clear with my details.
Appreciating your response.

On 4/20/18, kingthorin <not

[2018-04-20 04:03] pqyptixa commented on #4607
OK, nevermind then. As I was told in the IRC channel, this is probably a problem with the JVM, or the interaction between it and the system, so there isn't much to do.
Anyway, I hope this bug helps someone in the future...
Closing.

[2018-04-20 04:03] #4607 closed

[2018-04-20 07:55] kingthorin commented on #4567
Thanks @satyamtanikella

[2018-04-20 13:46] jk-helpsys opened #4612 "HTTP Sessions Tab Messages Matched - drill down to matched messages"
In the HTTP Sessions tab there is a column for Messages Matched.  I would like it if there was a way to drill-down to filter and see the matching messages.  Maybe this would open the Search tab with appropriate matching messages?  Or some other means.

[2018-04-20 14:08] kingthorin commented on #4612
Ref: https://groups.google.com/forum/m/?pli=1#!topic/zaproxy-users/AgkfJybQ3_I

[2018-04-20 17:42] yuniorb commented on #1071
I am seeing this issue again in 2.7.0. Has there been a regression?

[2018-04-20 17:56] thc202 commented on #1071
Not a regression but incomplete fix. Would you mind opening a new issue?

[2018-04-20 18:30] yuniorb opened #4613 "Zest "Replace in response-body" doesn't update the Content-Length header"
_What steps will reproduce the problem?_

1. Create a custom Zest Script from "Proxy > Replace in response body".
2. Choose a testing environment that sets the "Content-Length" header.
3. Choose some value to be replaced from one arbitrary value of length A with some
arbitrary value of length B (whereas the length differs [A!=B]).
4. As the request is routed through ZAP, the replacement occurs, bu

[2018-04-20 18:42] thc202 commented on #4613
Thanks for raising the issue.

In the steps you mention request, that one should be fine, it's the response body that's not, right?

[2018-04-20 18:46] yuniorb commented on #4613
Good catch, I updated the steps. The content length is the issue, copy pasta error.

[2018-04-20 21:25] thc202 commented on #4613
Thanks.

[2018-04-21 09:09] oxdef opened #4616 "Add option for custom font in work panels"
It will be great if ZAP has separate options for font name and font size in HTTP Panel/Editor. Because monospace family font looks better for such purpose.

[2018-04-23 07:20] omerlh opened #4620 "Enhancement: JWT fuzzer - for active scanner."
Many APIs using JWT for authZ/authN. I would like to be able to test how the API implement authN/authZ by fuzzing the JWT - Removing/adding/changing claims, and make sure the API return 401/403 for all invalid JWTs.
The hard part of this implementation is exposing the well-known endpoint. This is required for modifying the JWT - so Zap can sign them, and the API will accept Zap's signature as a va

[2018-04-23 07:30] psiinon commented on #4620
Sounds very useful. Is this something you might be able to look at?
If not then any extra details you could supply would be very useful.

[2018-04-23 07:39] omerlh commented on #4620
I hope to, this is something that is really important to us.

[2018-04-23 07:48] psiinon commented on #4620
:+1:

[2018-04-23 08:37] thc202 commented on #4613
Fixed in zaproxy/zap-extensions#1552.

[2018-04-23 08:37] #4613 closed

[2018-04-23 12:49] thc202 commented on #4616
Would make sense to apply this to other works panels (e.g. Script Console)?

[2018-04-23 14:17] thc202 commented on #4589
Fixed in zaproxy/zap-extensions#1543.

[2018-04-23 14:17] #4589 closed

[2018-04-23 15:10] aiddroid opened #4621 "Is there any details about the ZAP API?"
Only a simple page https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsApi, no further information?

[2018-04-23 15:11] psiinon commented on #4621
Please dont ask questions as issues, the User Group is a much better forum for those: https://groups.google.com/group/zaproxy-users

[2018-04-23 15:11] #4621 closed

[2018-04-23 15:17] aiddroid commented on #4621
ok

[2018-04-23 15:48] SeriyVol4ishe commented on #4606
nothing happend=( the same output

[2018-04-23 16:04] ssnmworld opened #4622 "Zap Attack vectors"
Hi - I am using zap using the zap urls as follows

Spider Scan
http://zap/JSON/spider/action/scan/?zapapiformat=JSON&url=127.0.0.1:8080&recurse=true&inScopeOnly=
http://zap/JSON/spider/view/status/?zapapiformat=JSON

Active Scan
http://zap/JSON/ascan/action/scan/?zapapiformat=JSON&url=127.0.0.1:8080&recurse=true&inScopeOnly=
http://zap/JSON/ascan/view/status/?zapapiformat=JSON

URLs scanned
And fi

[2018-04-23 16:18] psiinon commented on #4622
Please dont ask questions as issues, the User Group is a much better forum for those: https://groups.google.com/group/zaproxy-users

[2018-04-23 16:18] #4622 closed

[2018-04-23 16:53] kingthorin commented on #4606
Can you be specific please. What did you change and how did you set it?

[2018-04-23 21:47] thc202 opened #4623 "Message caught in Break tab but break buttons remain disabled"
Steps to reproduce the issue:
1. Run ZAP with WebSockets add-on;
2. Enable Options > WebSockets > Break on enabled 'all request/response break buttons';
3. Establish a WebSocket connection, e.g. `http://www.websocket.org/echo.html`
4. Start breaking on all requests and responses;
5. Send two WebSocket messages from the client (that end up being echoed by the server);
6. Start stepping (slowly to g

[2018-04-24 00:49] kingthorin commented on #4598
Won't work as I suggested. The regex is already checking word boundaries. I'll try something else.

[2018-04-24 01:15] kingthorin commented on #4598
Ok I'm open to ideas. I thought about checking the character at `start()-1` and `end()+1` but that isn't really solid. It _might_ be arguably ok at HIGH to check if the preceding character is a period, which is unlikely unless the content is malformed or the match is part of a longer dotted string (as seen here). That can't as easily be argued on the end (it's likely to be a simple period).

I gue

[2018-04-25 07:53] #2439 closed

[2018-04-25 10:33] omerlh opened #4626 "Enhancement - load scripts using the`-cmd` option"
Currently (unless I'm missing something, my knowledge is based on what I read in the code), the only way to load new script is via the API. It might be easier to load them using the `-cmd` option, in case you want to load a whole folder (which is similar to what the UI is doing).
Ideally, I want to be able to do:
[code]

[2018-04-25 10:55] psiinon commented on #4626
You can do this via:
zap-sh -config dirs=<path_to_folder>

https://github.com/zaproxy/zaproxy/wiki/FAQconfigValues is your friend here :)
Ok to close this?

[2018-04-25 10:56] omerlh commented on #4626
Just to make sure I'll follow, because it was not clear from the documentation - any script in this folder will be loaded?

[2018-04-25 10:57] thc202 commented on #4626
Help page for the option: https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsScript

[2018-04-25 10:59] omerlh commented on #4626
Yes, that I've already read. So the format should be:
[code]
for example?

[2018-04-25 11:01] psiinon commented on #4626
I think it should be:
[code]
etc

[2018-04-25 11:11] omerlh commented on #4626
I'll try and reopen and if I'll encounter an issue

[2018-04-25 11:11] #4626 closed

[2018-04-25 12:08] Ali-Razmjoo commented on #1689
Hey guys,

Since the issue created in 2015, I don't it's that complicated to add this feature. even it is, it could be done and by now many reported possible bugs were fixed. @psiinon said a few items that should be done so for the first step, let's finish the items, let me know if I miss something.

* define request structure (GET/POST/HEAD/ANY) (Could be select by Request ID in history and edit

[2018-04-25 12:16] kingthorin commented on #1689
@Ali-Razmjoo thanks for the response. This ticket is specifically for leveraging the Fuzzer from the Web API (I've updated the subject to make that more clear).

It's your second bullet and the end result that are the major hurdles. Having the user define 27 required/optional parameters times _n_ positions and expecting it to be  user friendly isn't really practical. Then there's the issue of how

[2018-04-25 12:25] psiinon commented on #4626
Strange - I tried it out with a test dir and that appeared in the desktop GUI, but I didnt try with a real dir containing real scripts. I suggest using the desktop UI for testing - you can still use the API but you can also see whats going on much more easily.

[2018-04-25 12:34] Ali-Razmjoo commented on #1689
@kingthorin

I was making a point to show it's not that complicated,

it's called an API for a reason! if it was sposed to be human readable it was called something like UI. as a user I will decide how to manage the result (e.g. JSON Result) otherwise I will use the ZAP GUI.

I do, I would like to develop any opensource projects, especially ZAP, I believe it's the greatest in its path!

Regards.

[2018-04-25 12:41] Ali-Razmjoo commented on #1689
I want to add a suggestion in here, In my new project (which is its start period) I setup a WebUI to demonstrate the API better! when the API starts, if anyone opens the index.html, they can use API in a nice UI (using bootstrap, jquery, etc..) or they can write their one app to interact with the API. It's really cool!

[2018-04-25 12:45] psiinon commented on #1689
Great :)
@Ali-Razmjoo - could you try to define the minimal set of API calls that would allow someone to do the absolute basics?
They should fit in with the rest of the ZAP API, but there isnt anything quite like this, so you'll have a fair amount of leeway.
We can then provide our feedback and once we have a good definition then we can help you translate that into code.
My initial thoughts are th

[2018-04-25 12:46] kingthorin commented on #1689
What's the suggestion? The Web API already has a web UI (granted it's very simple) just browse to it when ZAP is running. (http://localhost:8080 or whatever IP and port you have ZAP bound to).

@psiinon sounds like a good plan to me.

[2018-04-25 12:49] Ali-Razmjoo commented on #1689
@kingthorin I am aware of that, but it cannot be used by a normal human with that UI. my university website has better one :D

[2018-04-25 12:50] Ali-Razmjoo commented on #1689
@psiinon let me try, I will let you know if I've any question.

[2018-04-25 13:01] omerlh commented on #4626
I managed to make it work on the GUI version by putting the scripts under `community-scripts`. It's not working on the docker, probably because the addon is not installed. Anyway, even if I was able to load the script - to enable it I still need an API call...

[2018-04-25 13:09] thc202 commented on #1689
@psiinon I'd prefer having everything defined in one go than multiple endpoints to set up the fuzzer, keep it stateless.

[2018-04-25 13:09] thc202 commented on #4626
Wouldn't it require an API call in all cases? Or, the scripts would be enabled by default?

[2018-04-25 13:51] omerlh commented on #4626
Well, I imagine it as one `-cmd` option that load and enable all scripts.
As I see it, scripts will allow us to easily extend Zap, with rules that are relevant only for us at Soluto. It will be a lot harder if each new script will be loaded by the API, as this will not be part of the docker image...

[2018-04-25 14:02] psiinon commented on #4626
Yeah, the idea of the scripts dir was to allow people to add a load of scripts they always use.
Would an option to enable them all on startup do the trick?

[2018-04-25 14:10] omerlh commented on #4626
Yeah, but I would like to only enable my script, not all the community scripts. Does that makes sense?

[2018-04-25 15:12] psiinon commented on #4602
Yes, you can definitely create an add-on :)
If it could be of interest to other people (and is free open source) then we're happy to add it to the marketplace, or you can distribute it yourselves in any way you see fit. Either fine with us.

[2018-04-25 15:12] kingthorin commented on #4602
You can create a Active Scan policy and re-use it, via the API. You can also choose which passive scanners you want enabled or disabled and set that via the API. Which would include enabled Active or Passive scan scripts.

[2018-04-25 15:15] psiinon commented on #4626
Ah, right. I was thinking about the case where you bundle a set of scripts.
We could add a cmdline option something like:
[code]
Thoughts anyone?

[2018-04-25 15:17] psiinon commented on #4602
The problem is the enabled part - by default they wont be enabled.
I actually hit this problem with the API scanner and ended up adding them via the API: https://github.com/zaproxy/zaproxy/blob/develop/docker/zap-api-scan.py#L308-L345
Thats a bit nasty, so I think we should try to make this much easier...

[2018-04-25 15:25] kingthorin commented on #4602
`zap.script.enable` isn't too bad, if you know the directory of the scripts you can just programmatically list it's contents and enable them in a loop. A one step solution would be great, but in the mean time a loop doesn't seem bad.

[2018-04-25 15:31] psiinon commented on #4626
good point - if we go down this route then a different separator should be used. '|' maybe?

[2018-04-25 16:00] SeriyVol4ishe commented on #4606
so, a pulled your docker image and run container in my program using aiodocker. all parameters are correct (saw it in portainer). today tried running with terminal and all works... but with aiodocker doesn't.

[2018-04-25 17:33] omerlh commented on #4626
Yep, or escaping, both can work. But that seems like a good direction :)

[2018-04-25 17:36] omerlh commented on #4602
My problem is that I want to have Zap running on any micro-services at Soluto. That is where I want to get to, and because of that - I want to do most of the customization on the Docker image, because there I have more control. All of them will use the same Docker image (which is this [one](https://github.com/Soluto/owasp-zap-glue-ci-images)) - and then, if I add a role all the services will get i

[2018-04-25 17:36] omerlh commented on #4602
My problem is that I want to have Zap running on any micro-services at Soluto. That is where I want to get to, and because of that - I want to do most of the customization on the Docker image, because there I have more control. All of them will use the same Docker image (which is this [one](https://github.com/Soluto/owasp-zap-glue-ci-images)) - and then, if I add a role all the services will get i

[2018-04-25 17:40] thc202 commented on #4602
If you are using a custom docker image you could configure ZAP to your needs as well (e.g. bundle the scripts and tweak ZAP config.xml file to include/enable it)? Or that's not flexible enough?

[2018-04-25 17:42] omerlh commented on #4602
That what I tried (see the discussion on #4626), but it wasn't that simple. Basically, I need to choice what I prefer to implement - addon, or cmd option to load a script :)

[2018-04-25 17:44] thc202 commented on #4602
I meant when building the image include the scripts and the custom config.xml to add/enable the script.

[2018-04-25 17:45] omerlh commented on #4602
oh, I didn't know about that option - can you post on the other issue how to do that? Or a link to the wiki?

[2018-04-25 18:02] thc202 commented on #4602
This is more a Docker change than ZAP, once you have the scripts and the config.xml file (e.g. created with the GUI) you can copy them when building the image to override the ones of the base image.

[2018-04-25 18:07] omerlh commented on #4602
That was a good hint, looking on the file generating by the GUI, look like I need something like that:
[code]

[2018-04-25 18:07] omerlh commented on #4626
Thanks to @thc202, look like simply changing `config.xml` to include something like that:
[code]
Could work, I'll try that tomorrow and update.

[2018-04-25 19:35] kingthorin commented on #4626
Can't use pipe because that's a redirector `ps -ef|grep fred` :zap: But ya I'm sure we can land on something if it's needed.

[2018-04-26 08:03] psiinon commented on #4602
I should have mentioned this option as well :)
At Mozilla we extend the ZAP Live docker image and add additional configs.
Let us know if you have any problems doing this and we should be able to sort them out.

[2018-04-26 08:41] sujeet-ssv commented on #2079
Same observation , I am using ZAP version 2.7.0 . I have followed the exactly same steps as mentioned @ "https://github.com/zaproxy/zaproxy/wiki/FAQformauth" . Whenever I try to initiate spider scan I could see the post request which has been flagged for form based authentication send incorrect credentials as "userName=ZAP&password=ZAP". I tried restarting the ZAP etc nothing to help here.

[2018-04-26 09:29] kingthorin commented on #1478
Are we good closing this one?

[2018-04-26 10:36] psiinon commented on #1478
Yeah

[2018-04-26 10:36] #1478 closed

[2018-04-26 19:52] kingthorin commented on #3883
I've added a note about potential usage for A10 and the outstanding items related to A8 have been documented.

Closing.

[2018-04-26 19:52] #3883 closed

[2018-04-27 00:34] kingthorin commented on #2169
Did a quick test, with a single URL being Active Scanned:
[code]
So currently 36 reqs per URL at Medium strength. Which actually seems to align with:
https://github.com/zaproxy/zap-extensions/wiki/AddOnsBeta
<hr>

  * Active Scan rules will conform to the recommended strength settings (where relevant):
    * Low: up to around 6 requests / param / page
    * Medium: up to around 12 requests / param

[2018-04-27 07:47] thc202 commented on #2169
What URL did you scan? Would you mind adding tests (similar to the ones in `TestPathTraversalUnitTest`)?

[2018-04-27 08:01] kingthorin commented on #2169
It was like http://localhost/test/index.html

Sure I can look into that.

[2018-04-27 08:09] thc202 commented on #2169
Thanks!

[2018-04-27 12:57] kingthorin commented on #2169
Ok so the issue mentions a Medium-Medium run, which does result in 36 which I _think_ meets the guideline. However, the guidelines isn't specific enough or is misleading: If the page rule definition is 6 params (eg 36) is that Low strength?

Currently:
Low == 13
Medium == 36
High == 75
Insane == 457

[2018-04-27 13:08] thc202 commented on #2169
Yes, the example seems to be for low.

Right, those numbers meet the guidelines, but in WAVSEP scan it doesn't (for 1240 URLs it should got to 135k?), it might have been changed in the meantime.

[2018-04-27 14:11] kingthorin commented on #2169
None of the wavsep weeklies seem to be running successfully anymore:
* https://github.com/zapbot/zap-mgmt-scripts/tree/gh-pages/reports
* http://zapbot.github.io/zap-mgmt-scripts/scans.html

[2018-04-27 14:52] thc202 commented on #1382
Fixed in zaproxy/zap-extensions#1506.

[2018-04-27 14:52] #1382 closed

[2018-04-27 15:28] spasche opened #4630 "JavaScript gets corrupted (newline removed after trailing tabs)"
Hello,

I'm using Zap on an application that outputs JavaScript inside the index page. The proxy changes the original JavaScript in a way that breaks it. I tested with Zap for Windows version 2.7.0 and also the latest weekly release ZAP_WEEKLY_D-2018-04-23.

Here's the request done by the browser:
[code]

Original response from server, without ZAP
[code]

Response when going through ZAP:
[code]

T

[2018-04-27 15:39] thc202 commented on #4630
Are there any replacer rules [1] or scripts [2] (or other functionality) enabled that could be changing the body?

Does that also happen when sending the request directly from ZAP? [3]

[1] https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsReplacerReplacer
[2] https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsScriptsScripts
[3] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialo

[2018-04-27 19:37] kingthorin commented on #2634
@srirambk are you able to answer the outstanding questions?

[2018-04-27 19:41] kingthorin commented on #2595
I'm not sure that scrollifying of long fields is still necessary with the wordwrap changes recently implemented for the alert components.

[2018-04-27 19:44] #2543 closed

[2018-04-27 19:44] thc202 commented on #2595
Agreed.

[2018-04-28 11:20] TedBusto opened #4631 "Enhancement - Colorblind mode - Alert Flags"
I'm color blind and the small alert flags are difficult to differentiate between the colors.

Solution 1: Offer an option to change flags to icons, blue pencil (or checkmark) yellow caution triangle, orange hand and red "X"

Solution 2: Change colors to better differentiate. Unfortunately there are 3 types of color blindness that all have different colors which are troublesome.

[2018-04-28 16:40] JStyle21 commented on #4509
@su-ja
Hi,
Sorry for the late response.
At this point what i've so far is equal to nothing and i'm fairly busy in the next few weeks.
Apart from that i'm not sure our goals are aligned as i require an API solution and the GUI option is optimal.

Therefore i suggest you either start on your own or lead this ticket and if needed we will separate into 2 threads.

[2018-04-30 02:50] thethirdlink commented on #4606
i got the same error below it's just that i'm using ZAP-CLI

root@kali:~# zap-cli quick-scan --self-contained --start-options '-config api.disablekey=true' http://123.456.789.123/
[INFO]            Starting ZAP daemon
[WARNING]         ZAP is already running on port 8090
[INFO]            Running a quick scan for http://123.456.789.123/
Traceback (most recent call last):
  File "/usr/local/bin/zap

[2018-04-30 08:33] thc202 commented on #4606
@SeriyVol4ishe and @thethirdlink could you check the ZAP log/output? [1] ZAP should be logging the reason why the API request was not accepted (if that's the problem).

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2018-04-30 09:45] sebastien-prudhomme opened #4633 "Do not install/update add-ons if -silent is passed to ZAP in packaged scans"
zap-api-scan.py, zap-baseline.py and zap-full-scan.py all try to update and install addons.

When using them in a network without internet access, this cause timeouts:

[code]

Can you add an option to disable this behaviour?
Thanks

[2018-04-30 16:47] Gam-7 opened #4634 "unable to check update add ons - windows 7 - displays error"
when I go to manage add ons > Marketplace > check for updates , I get the following

![7](https://user-images.githubusercontent.com/38298059/39439117-6b9f4c60-4c9e-11e8-8626-3964253e6dd1.png)

version 2.7.0
works fine on kali

[2018-04-30 16:50] kingthorin commented on #4634
Is that as soon as you open the Marketplace? Of when you click "Check for Updates"?

[2018-04-30 16:50] thc202 commented on #4634
Worth taking a look at zap.log file. [1]

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2018-04-30 16:52] Gam-7 commented on #4634
when i click check for updates

[2018-04-30 16:54] Gam-7 commented on #4634
2018-04-30 17:37:20,050 [ZAP-cfu] WARN  ExtensionAutoUpdate - Failed to check for updates using: https://raw.githubusercontent.com/zaproxy/zap-admin/master/ZapVersions-2.7.xml
java.net.ConnectException: Connection refused: connect
	at java.base/java.net.DualStackPlainSocketImpl.connect0(Native Method)
	at java.base/java.net.DualStackPlainSocketImpl.socketConnect(Unknown Source)
	at java.base/java.

[2018-04-30 16:56] kingthorin commented on #4634
Is this the first time you've run ZAP on that system? Is Windows firewall running? Did you allow java access when prompted?

[2018-04-30 16:57] Gam-7 commented on #4634
[Solved] The error was becasue I was using a proxy chain to burp but did not have burp open. Silly me. working fine now thanks

[2018-04-30 16:58] kingthorin commented on #4634
Thanks for letting us know.

[2018-04-30 16:58] #4634 closed

[2018-05-01 10:00] digitalhuman opened #4635 "Error during SonarQube Scanner execution Caused by: The rule 'ZAProxy:10094' does not exist."
I have no idea what this is about but hopefully you can help me out.

The command executed:
`C:\Users\vangelier\Downloads\sonar-scanner-msbuild-4.0.2.892\sonar-scanner-3.0.3.778\bin\sonar-scanner.bat -e -Dsonar.host.url=http://localhost:9000 -Dsonar.dependencyCheck.severity.critical=7.0 -Dsonar.sourceEncoding=UTF-8 -Dsonar.sources=. -Dsonar.login=3863330d43ae262f582b2a6e062a583d15b31da7 "-Dsonar.e

[2018-05-01 10:13] Etienne-Lebrard opened #4636 "Error during the start"
Hi,

I got an issue during the start of the program

When I launch it with .\zap.bat I  got the following error message :

Error: Unable to access jarfile "zap-dev.jar"

[2018-05-01 10:16] thc202 commented on #4635
This should be reported in: https://github.com/Coveros/zap-sonar-plugin

That's caused by missing definition of the rule in: https://github.com/Coveros/zap-sonar-plugin/blob/develop/sonar-zap-plugin/src/main/resources/org/sonar/zaproxy/rules.xml
The rules (IDs) can be found in https://github.com/zaproxy/zaproxy/blob/develop/src/doc/scanners.md so that's because of Base64 Disclosure.

Note that you

[2018-05-01 10:16] kingthorin commented on #4635
10094 is Base64 disclosure.
https://github.com/zaproxy/zaproxy/blob/develop/src/doc/scanners.md

Which is a Passive scanner in the alpha package.
https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/pscanrulesAlpha

You'll have to install the appropriate extension to use it.

https://github.com/Coveros/zap-sonar-plugin

[2018-05-01 10:33] digitalhuman commented on #4635
@kingthorin Am I missing a Sonar plugin or a Zap plugin?

[2018-05-01 10:36] kingthorin commented on #4635
ZAP

[2018-05-01 10:40] thc202 commented on #4635
None, what's missing is the definition of the rule in the Sonar plugin.

[2018-05-01 10:54] digitalhuman commented on #4635
@thc202 nope, its there:

[2018-05-01 10:58] kingthorin commented on #4635
That’s the details from a report, not the SonarQube definition.

BTW you might want to enable some of the global excludes or define a context you probably don’t want or need results for Firefox’s initiated requests like detectportal (as seen in your example).

[2018-05-01 11:00] kingthorin commented on #4635
As @thc202 suggested earlier, you’re probably better off taking this up with the maintainers of the DonarQube plugin: https://github.com/Coveros/zap-sonar-plugin

[2018-05-01 11:00] digitalhuman commented on #4635
Yeah probably yes. @kingthorin Thanks I will take it up to the Sonar stuff. Thanks anyway;)

[2018-05-01 11:30] thc202 commented on #4635
Thanks for raising the issue! Closing, being handled in Coveros/zap-sonar-plugin#21.

[2018-05-01 11:30] #4635 closed

[2018-05-01 13:41] Etienne-Lebrard commented on #4636
How can I know which packet am I using ?

Yhea i'm building it from zaproxy-zaproxy-dcec5e1\src

[2018-05-01 14:14] thc202 commented on #4636
I was suggesting one of the packages available in the downloads page. [1]

Which tasks are you running to build ZAP? From where are you running the zap.bat file?

[1] https://github.com/zaproxy/zaproxy/wiki/Downloads

[2018-05-02 07:10] spasche commented on #4630
I forgot to mention that I ran Zap with its default configuration (proxy in standard mode).
So I don't have any replacer rules or scripts loaded that are changing the body.
The issue also happens if I run the request from the manual request editor dialog.

[2018-05-02 15:08] kingthorin commented on #78
FYI I've finally started to look at implementing this (as an optional Icon column in the History table).

I've currently got the Type ID column showing, that was a quick change. I'll probably remove that before committing. I'm thinking of setting up a class that Maps between IDs and Icons to display and using a question mark icon if the match fails.

[2018-05-02 15:59] kingthorin commented on #178
FYI I started working on this one. So far I've got it going for Apache and Tomcat. I'll add a few more patterns and then it'll be good to go (as a start).

I'm currently thinking:
- [x] Apache
- [x] Tomcat
- [ ] nginx > http://nginx.org/en/CHANGES & https://www.google.com/search?q=nginx+error+page&tbm=isch
- [ ] jetty > https://github.com/eclipse/jetty.project/releases (https://api.github.com/repo

[2018-05-02 19:38] thc202 commented on #78
I'd leave it empty if there's no mapping.

[2018-05-02 19:38] thc202 commented on #178
Sounds good to me.

[2018-05-02 19:48] kingthorin commented on #78
Ok I'm good with that too :+1:

[2018-05-02 20:34] oxdef commented on #4616
Why not...let's rename the option to  "Work Panels Font Name" and apply this  to other works panels. I can do it in https://github.com/zaproxy/zaproxy/pull/4617

[2018-05-03 09:05] afatac commented on #1976
I think making the report showing all scanned vulnerabilities (not just those being alerted) will be very important for using it as a proof when going through a security audition.

[2018-05-03 11:35] purpleroc opened #4640 "Can't get the alerts, when i use python api -- zapv2."
At first spider the target: zap.spider.scan(target)
and then scan zap.ascan.scan(target)
and after that, when i use zap.core.alerts() to get all results, I got a problem, some times it return 'Internal Error', and some times just can't get the result, looks like stucked.

[2018-05-03 12:05] thc202 commented on #4640
Could you check the zap.log file? [1]

You might need to get the alerts in batches (depending on how many were raised).

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2018-05-04 03:38] purpleroc commented on #4640
Seems filled with Exception like this:
looks like can't read content from /root/.ZAP/session/untitled1.data.
and when I check this file, found it full filled with \x00.

My working environment is like this:
I will startup ZAP every minute and listening different ports from 80 to 90, and when i got a job I will chose one of the port, and after get alerts I will shutdown this process.

It seems I wi

[2018-05-04 08:30] purpleroc commented on #4640
found that:
158567 [ZAP-SpiderThreadPool-0-thread-1] ERROR org.zaproxy.zap.extension.spider.SpiderThread  - java.sql.SQLException: Data cache size limit is reached: 10000
158571 [ZAP-SpiderThreadPool-0-thread-1] ERROR org.zaproxy.zap.ZAP$UncaughtExceptionLogger  - Exception in thread "ZAP-SpiderThreadPool-0-thread-1"

[2018-05-04 11:37] kingthorin commented on #178
Addressed in https://github.com/zaproxy/zap-extensions/pull/1597

[2018-05-04 11:37] #178 closed

[2018-05-04 13:49] kingthorin opened #4641 "Active Scan Dialog - Context Applicability"
If a user starts an active scan from a URL that is in a context by default the context should be selected (and it's details apply to the scan) when the Active Scan dialog is displayed. However the user should be able to deselect the Context (or select another applicable Context if there's overlap for a given URL).

[2018-05-04 14:05] kingthorin opened #4642 "Strange Site Tree behavior with root node params"
Consider the following screenshot:

![image](https://user-images.githubusercontent.com/7570458/39632125-31aacda4-4f82-11e8-8f77-06248fc5e93f.png)

When message 1 was originally access it appeared in the site tree. Until /test/index.html was accessed then it disappeared. Shouldn't both:
/?foo=bar and /test/index.html appear in the site tree?

Note: This only seems to happen at the root node, if a a

[2018-05-05 01:48] kurobeats opened #4643 "Packaging request - flatpak"
Just wondering if the project would consider packaging in flatpak format and adding to flathub.org.

Instructions found here: https://github.com/flathub/flathub/wiki/App-Submission

[2018-05-07 02:43] deadstar1 opened #4646 "Allow to specify higher values for delay while scanning through the UI"
![](https://i.imgur.com/iynCHS0.png)
 ##
The delay is only limited to 1 second. Text box should be used here instead

[2018-05-07 03:06] kingthorin commented on #4646
Why shoukd it be a text box? The scale could just be increased on the max end _if_ necessary
end if necessary.

https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsAscan#delay-when-scanning-in-milliseconds

[2018-05-07 08:02] deadstar1 commented on #4646
Is there a way to setup delay/throttle,something between 3-4 seconds, for active scan HTTP request? Some bug bounty program requires researchers to limit their tool, auto scanner, HTTP request. e.g. 1 request per 3 secs. As a result, text box allows tester to set delay they preferred.

[2018-05-07 08:33] thc202 commented on #4646
Yes, through the API or command line you can specify higher values:
http://zap/JSON/ascan/action/setOptionDelayInMs/?Integer=3000
or
`-config scanner.delayInMs=3000`

Issue title updated.

[2018-05-07 09:28] thc202 commented on #4616
Cool, issue title updated. Note that some of the work panels are added by add-ons (e.g. Script Console) so they will have to wait for those changes.

[2018-05-07 10:10] kingthorin commented on #1689
@Ali-Razmjoo any progress?

[2018-05-07 14:39] kingthorin commented on #2000
![image](https://user-images.githubusercontent.com/7570458/39707568-ce4e673a-51e2-11e8-90a1-d73840ca6dc2.png)

- [ ] Sequence addon active scan dialog

[2018-05-07 14:40] kingthorin commented on #2000
![image](https://user-images.githubusercontent.com/7570458/39707674-07fcef88-51e3-11e8-884e-d477f771c42f.png)

- [ ] Forced Browse - Attack context menu

[2018-05-07 14:43] kingthorin commented on #2000
![image](https://user-images.githubusercontent.com/7570458/39707811-727e502c-51e3-11e8-9d8d-05a9ec51badf.png)

- [ ] Plug'n'hack - Monitor clients

[2018-05-07 14:45] kingthorin commented on #2000
![image](https://user-images.githubusercontent.com/7570458/39707882-9d675c7a-51e3-11e8-9aae-93ace6e9fc15.png)

- [ ] Zest - Context menu item ... Should be: `Record Zest Client Script from Node...`

[2018-05-07 14:52] Ali-Razmjoo commented on #1689
@kingthorin probably I didn't work on this yet, I was busy with planning for GSoC students, let you if I start working on this to prevent duplicate/conflicts. (Y)

[2018-05-07 22:06] thc202 opened #4651 "UI hang during start after setting module path for Python Scripting"
From OWASP ZAP Scripts: https://groups.google.com/d/msg/zaproxy-scripts/k0trKMHBxQk/6ne7wE8AAQAJ

Steps to reproduce the issue:
1. Start ZAP with Python Scripting add-on installed;
2. Set a path to a Python module (in Options > Jython);
3. Restart ZAP;
4. Note that ZAP hangs.

Remarks:
Even if the module path is set while ZAP is running it's not being properly applied (broke after Jython update?).

[2018-05-08 08:05] #4646 closed

[2018-05-08 09:00] thc202 commented on #4651
Fixed in zaproxy/zap-extensions#1606.

[2018-05-08 09:00] #4651 closed

[2018-05-08 10:26] vinayadi opened #4652 "ZAP- Request to API URL not permitted in server"
Hi,

I am trying to run Jenkins job using OWSAP ZAP, but getting below error that server is not permitting the API URL. Please assist how to fix this.

**3725 [ZAP-ProxyThread-2] WARN org.zaproxy.zap.extension.api.API  - Request to API URL http://zap/xml/core/action/saveSession/?apikey=ZAPROXY-PLUGIN&name=C%3A%5CJenkins%5Cworkspace%5Test&overwrite=true& from 10.21.30.101 not permitted**

[2018-05-08 10:29] kingthorin commented on #4652
You need to set 10.21.30.101 as a permitted host: https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsApi#addresses-permitted-to-use-the-api

[2018-05-08 10:29] thc202 commented on #4652
For command line argument:
https://github.com/zaproxy/zaproxy/wiki/FAQremote

[2018-05-08 10:50] vinayadi commented on #4652
Hi,

I tried all this options, still same issue.

[2018-05-09 08:14] deadstar1 opened #4656 "Presistent XSS plugin (prime and spider) does not work properly"
I have 2 PHP pages, one for updating information and for showing information, simple CRUD APP which is vulnerable to STORED XSS. The first page updates information and the information is showed by viewing the second page where stored XSS payload executes.

I scan(*active scan tool > Presistent XSS plugin prime and spider*) the first page for STORED XSS, and no alert is showed.

Here what I noticed

[2018-05-09 08:48] thc202 commented on #4656
Were the two pages included in the starting point?

[2018-05-09 09:04] deadstar1 commented on #4656
the 2 pages are in the same domain

[2018-05-09 09:05] kingthorin commented on #4656
What was the starting point for the active scan?

[2018-05-09 09:19] deadstar1 commented on #4656
POST  http://host/todos/user.php?action=update&id=97539708371861504 is the starting point and one of its parameter is the custom vector, and `http://host/todos/user.php?action=index` where payload is executed. The action parameter specifies what page to view.

[2018-05-09 09:34] kingthorin commented on #4656
https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsStructparams

[2018-05-09 10:32] deadstar1 commented on #4656
did not work :(
![image](https://user-images.githubusercontent.com/6646675/39810356-448af596-53b7-11e8-91bc-18d7bdc97db2.png)

[2018-05-09 10:41] thc202 commented on #4656
@deadstar1 the starting point would have to include `index` as well for the scanner to be able to check it. Could you try using `http://host/todos/user.php` as starting point?

@kingthorin for structural parameters it's not needed.

[2018-05-09 10:45] kingthorin commented on #4656
ACK guess I’m thinking DDN or something.

[2018-05-09 12:41] ManosMagnus opened #4657 "Manual Websocket Send Editor Fails to sent Close Opcode"
**Describe the bug**
I am trying to close manual a websocket connection from Manual Websocket Editor. ZAP display an empty dialog and fails to send a close message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'WebSocket Panel'
2. Left Click on any WebSocket message
3. Click 'Open/Resent with message editor..'
4. Select on Opcode List 'Close'
5. Type appropriate Closing payload
6. C

[2018-05-09 15:53] jpparsons opened #4658 "ZAP chromedriver is not up to date"
I am running ZAP in CircleCI using a their docker images (circleci/ruby:2.5.1-node-browsers to be exact). The chromedriver and googlechrome browser is already installed in these docker images and CircleCI also updates these images to keep the driver and browser current.

The issue I am having is ZAP already bundles and uses it's own chromedriver (currently version 2.33) which is out of date and wi

[2018-05-09 15:58] thc202 commented on #4658
Weekly releases do use a newer ChromeDriver version (2.36), we need to release that.

Yes, you can override the paths:
https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsSeleniumOptions
Command line:
`-config selenium.chromeDriver=/path/to/chromedriver`
(also available through the ZAP API)

[2018-05-09 16:07] jpparsons commented on #4658
Thank you!

[2018-05-09 16:08] #4658 closed

[2018-05-09 17:41] thc202 commented on #4658
No problem.

For the record, the new versions of the WebDrivers add-ons are now available in the marketplace.

[2018-05-09 22:14] q2dg opened #4659 "ZAProxy installer *and zap.sh script* crashes because I'm in Wayland"
When I simply execute (as root) Linux's ZAP Proxy installer (that is to say, https://github.com/zaproxy/zaproxy/releases/download/2.7.0/ZAP_2_7_0_unix.sh file ) in my Wayland session (I'm using Fedora 28) I get these error messages:

_java.lang.NoClassDefFoundError: Could not initialize class sun.awt.X11GraphicsEnvironment
	at java.lang.Class.forName0(Native Method)
	at java.lang.Class.forName(Cla

[2018-05-10 07:00] psiinon commented on #4105
Kajans blog: https://kajanm.github.io/gsoc.html
Doc detailing Web App Auth Schemes: https://docs.google.com/document/d/1LSg8CMb4LI5yP-8jYDTVJw1ZIJD2W_WDWXLtJNk3rsQ/edit

[2018-05-10 07:14] psiinon commented on #4659
We use Install4J for our installer.
Have you searched for this error?
I've found the following links that look like they might be relevant:

- https://stackoverflow.com/questions/21131855/could-not-initialize-class-sun-awt-x11graphicsenvironment-on-solaris?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
- https://confluence.atlassian.com/bitbucketserverkb/linux-installer-f

[2018-05-10 07:48] psiinon commented on #4643
Fine by me :)
Do you (or anyone else) have any experience creating flatpak manifests?
Other PRs on that repo dont look too bad but these things take time to put together - if someone can put together a good first attempt then theres a good chance we'll be able to tweak it into something we're happy with.
But I cant see myself haing time to come up with the first version for a while :/

[2018-05-10 07:58] psiinon commented on #4276
https://manosmagnus.github.io/

[2018-05-10 08:42] deadstar1 commented on #4656
@thc202 OK,  the action=index is now scanned, but it does not trigger the alert.
What I saw here is the XSS plugin (prime) insert a unique value in any part of the HTTP request, one at a time, and after that the XSS plugin spider searches for the unique value. As a result, the last inserted unique value  is the only remaining payload when the XSS plugin spider searches. The flow should be:
1. inse

[2018-05-10 08:51] psiinon commented on #4656
"As a result, the last inserted unique value is the only remaining payload when the XSS plugin spider searches"
Why is that?
We're looking for persisted XSSs - if the XSSs are not really being persisted than this rule wont find them :)
It sounds like you have an XSS that is reflected (but not persisted) in another page, is that correct?

[2018-05-10 18:13] kirksl opened #4662 "Add session management method to extract auth token from the response body"
**Describe the bug**
ZAP session management is failing to extract auth token from response body and utilize in downstream requests.

Please see the following user group discussion for details and screenshots:
https://groups.google.com/forum/#!topic/zaproxy-users/klDn2eIEiHE

**To Reproduce**
Steps to reproduce the behavior:
1. Startup a weekly release of ZAP in desktop mode.  We're using D-2018-05

[2018-05-11 11:28] syndy1989 opened #4664 "ZAP Session Properties is failing to include the context URL through Environment Inject Plugin"
I'm a newbie, trying to automate security testing using Official OWASP ZAP Plugin for Jenkins. I need to pass dynamic URL to perform security scan using ZAP. In order to achieve this i'm using Environment Injector  Plugin for jenkins (to pass the URL dynamically to ZAP plugin during execution). Everything works perfectly without injecting variables to ZAP Plugin. But when when a variable(URL) is i

[2018-05-11 11:42] kingthorin commented on #4664
For support of the Jenkins ZAP Plugin please see:
https://plugins.jenkins.io/zap#zapplugin-IssueTracking
https://groups.google.com/forum/#%21forum/zaproxy-jenkins

[2018-05-11 16:46] kingthorin commented on #4598
Anyone have feedback or thoughts on this?

[2018-05-11 16:52] psiinon commented on #4598
This might be one where we have to access false positives can happen.
If the string that really is a valid internal IP address but just doesnt happen to be in the context its used then thats where we need a human to validate it.

[2018-05-11 16:57] kingthorin commented on #4598
I'm good with that. :+1:

[2018-05-12 13:13] kirksl commented on #4662
@thc202 @psiinon @kingthorin is it possible to add a 'blocked' label to expedite or post workaround notes to this issue.  right now we have no way to use ZAP and are approaching release dates for our products.  Appreciate any help.

[2018-05-12 14:15] kingthorin commented on #4662
Unfortunately all of the devs are volunteers. They decide what to work on and when time permits. We’re always happy to welcome new contributors.

As an alternative it might be possible for you to record a zest script for logins or otherwise script the login necessities.

https://www.coveros.com/scripting-authenticated-login-within-zap-vulnerability-scanner/

https://github.com/zaproxy/community-sc

[2018-05-12 14:49] kingthorin commented on #4662
@kirksl can you confirm that in just proxied traffic (when you’re using the app and proxyin through zap) one of the tokens in the auth reponse does become the bearer token in the authorization header?

[2018-05-12 16:50] kirksl commented on #4662
@kingthorin confirmed.  token handed down in the login response is being used in the authorization header for downstream requests.
https://pasteboard.co/HkRpRlg.png
https://pasteboard.co/HkRq1Wo.png

if you can let us know based on this what our options are(the ones you were just mentioning like zest, etc) to get unblocked we would greatly appreciate it.

[2018-05-12 19:04] kingthorin commented on #4662
You could do something like the script in this issue: https://github.com/zaproxy/zaproxy/issues/2614

On responses check for json (old value/new value, URL, etc) parse for the token, set it into a global var. Then on request set that global value into the auth header.

[2018-05-13 16:03] oxdef commented on #4616
It's becoming not small improvement :) Please, assign this ticket on me.

[2018-05-13 18:12] thc202 commented on #4616
Invite sent, you need to accept it to assign the issue to you.

[2018-05-14 00:48] #4598 closed

[2018-05-14 04:43] kirksl commented on #4662
@kingthorin thank you for all of the links and suggestions.

i tried a zest script and it works perfect during playback.
https://pasteboard.co/Hl5pieo.png
https://pasteboard.co/Hl5o74P.png

unfortunately when spidering new pages coming in not part of the zest script failed because they were not associated with the global variable setup to hold the auth token.

next i tried to additionally add in a

[2018-05-14 09:17] kingthorin commented on #4598
Will do.

[2018-05-14 09:27] thc202 commented on #4598
Thanks.

[2018-05-14 12:59] jammasterj89 opened #4667 "Error feedback for failed openAPI definitions"
**Is your feature request related to a problem? Please describe.**
When importing openAPI / swagger definitions sometimes they don't work. The error is reported in zap.log as to why it has failed. However, the same generic message is always shown to the user (that it failed to parse).

**Describe the solution you'd like**
Use the title of the exception from openAPI in the front end, e.g. the error

[2018-05-14 13:08] kingthorin commented on #4667
Can you provide an example file that manifests this issue?

[2018-05-14 14:16] jammasterj89 commented on #4667
Sure, steps to reproduce

Successful parse:
1. Save [this ](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-expanded.json)file
2. Tools -> Import openAPI from local file system
3. Success message.

Failed to parse:
1. Delete _"host": "petstore.swagger.io"_, from previously downloaded .json
2. Tools -> Import openAPI from local file system
3. "Failed to parse" e

[2018-05-14 19:20] andrew7711 opened #4669 "Unable to launch ZAP from Mac OS High Sierra"
**To Reproduce**
Steps to reproduce the behavior:
1. Install java jdk-8u172-macosx-x64.dmg
2. Download ZAP 2.7.0 (Cross Platform Package)
3. Extract zip
4. Move ZAP folder to Users/xxxx/Documents/ZAP
5. Open Terminal.
6. cd Document/ZAP
7. type sudo -s ./zap.sh
8. type password

Output:
Found Java version 1.8.0_172
Available memory: 16384 MB
Setting jvm heap size: -Xmx4096m
0 [main] INFO org.zapro

[2018-05-14 19:39] kingthorin commented on #4669
When was the last time the system had a clean boot? (From power off, not resume from sleep)

[2018-05-14 19:41] andrew7711 commented on #4669
This morning.

On Mon, May 14, 2018 at 3:39 PM, kingthorin <notifications@github.com>
wrote:

--
--------------------------------------------------
This e-mail transmission
contains information intended only for the use of the recipient(s) named
above. Further, it contains information that may be privileged and
confidential.  If you are not the intended recipient, you are hereby
notified that any

[2018-05-14 19:44] thc202 commented on #4669
This is an issue in the JRE, as a possible workaround you could try starting ZAP with other L&F, e.g.`-config view.lookAndFeel=javax.swing.plaf.nimbus.NimbusLookAndFeel`.

[2018-05-14 19:45] andrew7711 commented on #4669
Shutdown.  Start, same...

Found Java version 1.8.0_172

Available memory: 16384 MB

Setting jvm heap size: -Xmx4096m

0 [main] INFO org.zaproxy.zap.GuiBootstrap  - OWASP ZAP D-2018-05-08
started 14/05/18 15:43:14 with home /var/root/Library/Application
Support/ZAP_D/

272 [AWT-EventQueue-0] INFO org.parosproxy.paros.network.SSLConnector  -
Reading supported SSL/TLS protocols...

272 [AWT-EventQue

[2018-05-14 19:48] andrew7711 commented on #4669
Used:

sudo -s ./zap.sh -config
view.lookAndFeel=javax.swing.plaf.nimbus.NimbusLookAndFeel

EUSADMINSs-MacBook-Pro:ZAP JMFCIOV$ sudo -s ./zap.sh -config
view.lookAndFeel=javax.swing.plaf.nimbus.NimbusLookAndFeel

Found Java version 1.8.0_172

Available memory: 16384 MB

Setting jvm heap size: -Xmx4096m

0 [main] INFO org.zaproxy.zap.GuiBootstrap  - OWASP ZAP D-2018-05-08
started 14/05/18 15:46:44

[2018-05-14 20:32] matthewD-AVI opened #4670 "Submitting the Attack Surface Detector plugin to the Marketplace"
**Add-on repo**
https://github.com/secdec/attack-surface-detector-zap

**Your contact details**
matthew.deletto@securedecisions.com

**Are you one of the authors**
Yes

**Licence**
in repo

**Build instructions**
    Install Maven: https://maven.apache.org/install.html
    Clone Attack Surface Detector repository: https://github.com/secdec/attack-surface-detector-zap
    Navigate to the source cod

[2018-05-15 01:29] binarymist commented on #4105
May also be worth updating (https://github.com/zaproxy/zap-core-help/wiki/HelpStartConceptsAuthentication) as work progresses

[2018-05-15 06:15] juhakivekas opened #4671 "Tag changes in Search tab not reflected in History tab"
**Describe the bug**
Managing message tags with the "Manage Tags..." dialog in Search view does not affect message tags in History view. This might not be a bug, but actually just a missing feature, not sure though.

**To Reproduce**
1. find message in "Search" tab
2. got to "Manage Tags"
3. add a new tag and finish the dialogue
4. there is no new tag in the tag column of search view. This will ap

[2018-05-15 07:15] kingthorin commented on #4671
Yes it's part of the core https://github.com/zaproxy/zaproxy/tree/develop/src/org/zaproxy/zap/extension/search

[2018-05-15 07:44] psiinon commented on #4105
@binarymist the zap-core-help wiki is generated from the help pages when we do a full release.
The help pages should definitely be updated but the wiki will only be updated when those changes are part of a full release.

[2018-05-15 08:28] kingthorin commented on #4671
Search only provides point in time results. It doesn't update in real time (with spider, proxying, etc)

The update of the history table is probably just a missing call to:
`notifyHistoryItemChanged(historyReference);` like https://github.com/zaproxy/community-scripts/blob/a3c762166a8a0161ac8d87dc8a91cc8d16093842/standalone/historySourceTagger.js#L36

[2018-05-15 08:29] thc202 commented on #4669
Is there a newer JRE (Java 9 or 10?) available for macOS?

[2018-05-15 08:35] thc202 commented on #4671
Note that the History tab is now using events to update its state.

[2018-05-15 08:46] thc202 commented on #4667
Fixed in zaproxy/zap-extensions#1622.

[2018-05-15 08:46] #4667 closed

[2018-05-15 09:19] jammasterj89 commented on #4667
Thank you for such a quick fix @kingthorin @thc202 !

[2018-05-15 10:15] ziogibom commented on #2023
@Calbrilliant any progress on that?

[2018-05-15 11:06] andrew7711 commented on #4669
Yes, both.  I actually installed 10.0.1 first.  Got the same error message.
In case it was a java issue I uninstalled 10.0.1 and installed 8u172 and
received the same error...

On Tue, May 15, 2018 at 4:29 AM, thc202 <notifications@github.com> wrote:

--
--------------------------------------------------
This e-mail transmission
contains information intended only for the use of the recipient(s) na

[2018-05-15 11:46] kingthorin commented on #4667
In the end it looks like this:
![image](https://user-images.githubusercontent.com/7570458/40054805-125a2892-5814-11e8-8fdf-4bfa713bbee7.png)

[2018-05-15 12:03] psiinon commented on #4667
:+1:

[2018-05-15 13:27] deadstar1 commented on #4656
@psiinon I am sure that this one is stored XSS https://i.imgur.com/yzZhwgX.gifv

[2018-05-15 13:50] thc202 commented on #4667
The new version is already available in the marketplace.

[2018-05-15 13:51] q2dg commented on #4659
The problem is I'm not using X. I'm using Wayland.

[2018-05-15 14:01] psiinon commented on #4659
I'm afraid I know nothing about Wayland. Have you tried using the Linux Package? - thats just a tar.gz

[2018-05-15 14:11] q2dg commented on #4659
Yes, yes. I think the problem is explained here: https://stackoverflow.com/questions/45200281/install-xsdk-on-fedora-java-lang-noclassdeffounderror-could-not-initialize-clas . As  ZAP installer must be executed as root, it can't use XWayland wrapper so it can't go through X subsystem. Well...it´s a problem of Install4J...so there's little to solve here, unfortunately. Thanks, anyway.
I let this is

[2018-05-15 14:17] psiinon commented on #4659
So the tar.gz works ok for you? That doesnt need to be run as root.

[2018-05-16 05:30] sbzo commented on #232
Hi,

The highlighter addon is increasing and cannot resize the tabs pane  (history, search, fuzzer, access control, etc).

I shared an gif with the issue. https://file.io/KVzeOd

Thanks.

RLobo.

[2018-05-16 08:12] kingthorin commented on #232
@sbzo can you edit that URL, currently 404.

[2018-05-16 12:04] andrew7711 commented on #4669
Any updates?  I honestly appreciate your assistance to get this working!

Thank you,

Andrew

On Tue, May 15, 2018 at 4:29 AM, thc202 <notifications@github.com> wrote:

--
--------------------------------------------------
This e-mail transmission
contains information intended only for the use of the recipient(s) named
above. Further, it contains information that may be privileged and
confidential

[2018-05-16 13:11] andrew7711 commented on #4669
Installed dmg package, still will not launch. :(

On Wed, May 16, 2018 at 8:24 AM, kingthorin <notifications@github.com>
wrote:

--
--------------------------------------------------
This e-mail transmission
contains information intended only for the use of the recipient(s) named
above. Further, it contains information that may be privileged and
confidential.  If you are not the intended recipient

[2018-05-16 16:06] q2dg commented on #4659
Yes, it works. Running ./zap.sh script shows ZAP without any issue

[2018-05-16 16:50] psiinon commented on #4670
A few issues from me:

- Its using the ZAP [2.2.2](https://github.com/secdec/attack-surface-detector-zap/tree/master/zaproxy/lib/com/owasp/zap/zap/2.2.2) jar - that will need updating to 2.7.0
- The [file](https://github.com/secdec/attack-surface-detector-zap/blob/master/zaproxy/src/org/zaproxy/zap/extension/attacksurfacedetector/ZapAddOn.xml#L18) should be ...alpha-1.zap not ..release-1.10.zap
-

[2018-05-16 17:02] thc202 commented on #4670
Worth noting that ZAP is already available in Maven Central:
http://search.maven.org/#search|gav|1|g%3A%22org.zaproxy%22%20AND%20a%3A%22zap%22

[2018-05-16 17:44] andrew7711 commented on #4669
What are you using that is null?

https://www.daniweb.com/programming/software-development/threads/253370/exception-in-thread-awt-eventqueue-0-java-lang-nullpointerexception

https://stackoverflow.com/questions/44269496/reason-forexception-in-thread-awt-eventqueue-0-java-lang-nullpointerexception

On Wed, May 16, 2018 at 9:16 AM, thc202 <notifications@github.com> wrote:

--
-----------------------

[2018-05-16 18:07] kingthorin commented on #4669
Either macOS is failing to report font information correctly or java is failing to receive it `at sun.font.FontDesignMetrics.getDefaultFrc(FontDesignMetrics.java:157)` this is completely outside of ZAP's control.

[2018-05-16 18:14] thc202 commented on #4669
Another report of the same problem http://astah.net/support/questions/475, so this seems to be related to macOS High Sierra which the JRE does not handle well. The best is to report to Oracle.

(For the curious the code is here: http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/43cb25339b55/src/share/classes/sun/font/FontDesignMetrics.java#l146)

[2018-05-16 18:29] andrew7711 commented on #4669
Would you recommend going back to Mac OS Sierra?

On Wed, May 16, 2018 at 2:14 PM, thc202 <notifications@github.com> wrote:

--
--------------------------------------------------
This e-mail transmission
contains information intended only for the use of the recipient(s) named
above. Further, it contains information that may be privileged and
confidential.  If you are not the intended recipient, yo

[2018-05-16 20:54] marc-whil opened #4673 "Dynamic SSL sub-certificate expirations too long"
When I use dynamic ssl certificates for mitm, I'm getting expirations that go out over 8 years, which is causing Android Chrome to complain with NET::ERR_CERT_VALIDITY_TOO_LONG.

I don't see an option to configure the expiration date in the zap options.

The zap root certificate has a proper expiration of 1 year, but the sub-certificates per site have the inappropriately long expiration.  The zap

[2018-05-16 20:56] thc202 commented on #4673
Thanks for raising the issue!

[2018-05-17 09:40] gvolluz commented on #1603
I concur, this would be much appreciated!

[2018-05-17 13:03] jammasterj89 commented on #4667
Unfortunately I'm now seeing an error when importing a swagger.json file that was working before. The exception from the zap.log is below. Should I open a separate issue?

      2018-05-17 13:53:37,516 [ZAP-Import-OpenAPI-2] DEBUG SwaggerConverter - Examining defn
      2018-05-17 13:53:38,461 [ZAP-Import-OpenAPI-2] WARN  ExtensionOpenApi - mapping values are not allowed here
    in 'string', line

[2018-05-17 13:13] thc202 commented on #4667
Yes, that's a different issue. Which version are you using? Does not seem to be the latest.

[2018-05-17 13:14] thc202 commented on #4667
Never mind the last question, the lines match.

[2018-05-17 13:27] jammasterj89 opened #4676 "openAPI import error"
I'm now seeing an error when importing a swagger.json file that was working before upgrading my openAPI plugin to the latest version as of 17/05/18 (ZAP 2.7.0). However, I can import [this ](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/json/petstore-expanded.json) example .json without error.

My zap.log contains:

      2018-05-17 13:53:37,516 [ZAP-Import-OpenAPI-2] DEBU

[2018-05-17 13:34] thc202 commented on #4676
It's falling back to YAML parser, does the file start with `{`?

[2018-05-17 14:27] thc202 commented on #4670
Is that the whole error, no stack trace? Is the code pushed (to take a look)?

[2018-05-17 14:35] matthewD-AVI commented on #4670
There is no stack trace for that error.
The code is not pushed since it is not working and I did not want to upload broken code. The only changes made where to the
        <dependency>
            <groupId>com.owasp.zap</groupId>
            <artifactId>zap</artifactId>
            <version>${zap.version}</version>
            <scope>provided</scope>
        </dependency>
in the pom files which we

[2018-05-17 14:43] matthewD-AVI commented on #4670
I was no longer providing the Jar file and was pulling directly from maven. I have never needed a scope before when the jar file is not provided.
https://mvnrepository.com/artifact/org.zaproxy/zap/2.7.0
That is what I used

[2018-05-17 16:42] jammasterj89 commented on #4676
Thanks, just checked and no whitespace at the start, the file starts like so:

     {
        "swagger" : "2.0",
        "info" : {
        "version" : "1.0.1",

[2018-05-17 16:48] kingthorin commented on #4676
Using version 11 of the addon it imports fine for me....

[2018-05-17 17:20] matthewD-AVI commented on #4670
commit: a9d466415ecd7f3e3051d36d913a1b561973a7b6 should address all of @psiinon concerns.

[2018-05-18 08:50] thc202 commented on #4670
In the `AttackThread` it should use the new API instead, something like:
[code]
this way it avoids conflicts with other running spider scans.

I think most if not all (except ZAP) of the provided dependencies could be removed, they seem to be transitive dependencies of ZAP (which are already being included). (Not that it matters for the release to marketplace, just tidy up.)

[2018-05-18 08:57] thc202 commented on #4669
I don't use macOS so can't advice on that. @psiinon do you know if that works fine with Java?

[2018-05-18 09:02] thc202 commented on #4676
@jammasterj89 that should work then, could you share the file or a trimmed/redacted version that reproduces the issue?

[2018-05-18 09:18] thc202 commented on #4670
Note that the spider will fail to start when the Mode does not allow spider scans. A check before starting the ASD would be better but catching the exception (`IllegalStateException`) is fine as well.

[2018-05-18 12:34] kingthorin commented on #78
Looked at this more this morning. It's quite a lot of GUI work, which I'm not great with.

What do you think about using an Icon Highlighter similar to the Highest Alert column and applying it to the history reference type ID column?

Since the tools (Active Scan, Fuzzer, etc) don't really add to the history table is this really something that is actually needed? If the type IDs are exposed as an

[2018-05-18 13:53] thc202 commented on #78
Sounds good to me either way, although we should probably show something more than just the number, to be easier/obvious for the user to know what the ID means.

[2018-05-18 13:54] #4590 closed

[2018-05-18 13:55] psiinon commented on #78
How about the relevant icon? :) Could always have a hoverover to give the full component name

[2018-05-18 13:57] javixeneize commented on #4590
Great news! Any idea when will this be released?

Thanks

[2018-05-18 14:06] thc202 commented on #78
Yeah, that would work.

[2018-05-18 14:08] thc202 commented on #4590
No exact data for the main release (2.8.0), but it will be included in the next weekly.

[2018-05-18 14:10] thc202 commented on #4676
Fixed in zaproxy/zap-extensions#1628.

[2018-05-18 14:10] #4676 closed

[2018-05-18 14:20] psiinon commented on #4580
Note that this is partially addressed by https://github.com/zaproxy/zaproxy/pull/4677
If your JSON requests are already normalised then it should now be possible to scan them via the API.
If they are not normalised then theres still a chance that they wont be found - we need to normalise them in the sites tree.

[2018-05-18 15:28] thc202 commented on #4676
The new version (12) is available in the marketplace.

[2018-05-18 15:32] cesarga commented on #4529
For the CORS issue in particular, a checkbox toggle would be really helpful and more than enough.

You don't even have to use the "*" wildcard. If the request comes from one of the "Addresses permitted to use the API" it should set the _Access-Control-Allow-Origin_ header value to that origin.

For the moment I'm using these extensions for [Firefox](https://addons.mozilla.org/en-US/firefox/addon/c

[2018-05-18 15:59] thc202 commented on #4670
Another thing worth doing now, is declare that the extension can be unloaded (e.g. override `canUnload` in `AttackSurfaceDetector` to return `true`), it seems to me that it can (from ZAP side it's removing everything from core, worth checking if the dependencies (e.g. `com.github.secdec.astam-correlator`) can also be GC'ed). It makes life easier to the user as it does not need to restart ZAP after

[2018-05-18 16:08] matthewD-AVI commented on #4670
@thc202 I am currently rewriting the spider to use the new API and sleeps. I am also overridding canUnload, but can you clarify what is meant by "worth checking if the dependencies (e.g. com.github.secdec.astam-correlator) can also be GC'ed)." So I can properly address that concern.

[2018-05-18 17:27] thc202 commented on #4670
I'm referring to the usual features that might lead to memory leaks (e.g. use of `ThreadLocal` in a long lived thread, EDT or passive scan thread, would be the main ones to be careful with).

[2018-05-21 00:34] kingthorin commented on #1866
@xeno6696 did you mean for the fuzzer?

[2018-05-21 00:35] kingthorin commented on #1851
@alexandersolovey are you able to provide the example and setup info?

[2018-05-21 00:51] kingthorin commented on #1845
This is easy to recreate. It's unclear what the "message" param is supposed to be?

[2018-05-21 00:55] kingthorin commented on #1797
Is this issue still relevant?

[2018-05-21 00:57] kingthorin commented on #1774
Is this still an issue?

[2018-05-21 01:00] kingthorin commented on #1734
Are there still scanners for which this is an issue?

[2018-05-21 01:25] kingthorin commented on #1623
Is this still happening? Is anyone able to re-create? (If so, how?)

[2018-05-21 01:29] kingthorin commented on #1609
Closing. This can be accomplished via the Export Report Addon. https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsExportreportExportreport#alert-details

[2018-05-21 01:29] #1609 closed

[2018-05-21 01:31] #1599 closed

[2018-05-21 01:32] kingthorin commented on #1591
Closing. This is based on SVN and GoogleCode which is no longer applicable.

[2018-05-21 01:32] #1591 closed

[2018-05-21 01:35] kingthorin commented on #1579
Can this ticket be closed?

[2018-05-21 01:38] kingthorin commented on #1564
Has anyone been able to re-create this?

[2018-05-21 01:43] kingthorin commented on #1517
I'd like to close this.

1) ZAP does allow for greater injection within headers now.
2) ZAP is ZAP it isn't Burp, so different findings are un-surprising.
3) This ticket is based on 2.3.1 and does not provide any details of addons (active/passive) in use.

[2018-05-21 01:46] kingthorin commented on #1477
@freakyclown are you still experiencing this?

We've never been able to recreate.

[2018-05-21 01:55] kingthorin commented on #1410
Does anyone have an example of this?

[2018-05-21 02:31] xeno6696 commented on #1866
Yes, yes I did!

[2018-05-21 09:08] thc202 commented on #1866
If this is for the fuzzer then the Tag Creator processor (feature implemented in zaproxy/zap-extensions#49) addresses this?

[2018-05-21 09:31] thc202 commented on #1845
I don't think it needs to be clear this is an "internal" endpoint (but one can check it in `pnh_probe.js`), we just need to fix the exception handling.

[2018-05-21 09:34] thc202 commented on #1734
That would require a review (I noticed this the other day this, but it might not be possible to improve more).

[2018-05-21 09:46] thc202 commented on #1288
Increasing the heap is a workaround, we still need to change `SpiderController` to not keep the URLs/bodies in memory.

[2018-05-21 09:50] thc202 commented on #1591
This is still applicable to current repo, anyway, the `version.txt` should not have any newlines.

[2018-05-21 09:53] thc202 commented on #1774
Lets close it, https://github.com/zaproxy/zaproxy/wiki/Building#ant-no-ide has the minimum to build ZAP with Ant (moreover the macOS JRE is automatically downloaded from zap-libs).

[2018-05-21 09:53] #1774 closed

[2018-05-21 10:06] thc202 commented on #1517
Makes send, closing.

[2018-05-21 10:06] #1517 closed

[2018-05-21 10:19] thc202 commented on #1623
This can be reproduced with a custom/empty keystore.

[2018-05-21 10:29] thc202 commented on #1564
This was already fixed, the Active Scan tab now shows the scans themselves not just the site (which can have multiple scans) and the Scan Progress dialogue shows the progress of just one/selected scan (so the duplicated entries don't happen any more).

[2018-05-21 10:29] #1564 closed

[2018-05-21 14:57] april commented on #1797
I think it can probably be closed.