[2022-04-14 08:45] psiinon commented on #7155
Assigned to you :)
I'll update the tracker issue...

[2022-04-14 08:47] psiinon opened #7209 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

Comment on this issue with the URLs you would like to be assigned - they must not alr

[2022-04-14 10:03] irsdl opened #7210 "Syntax highlighting for Custom Vectors in Active Scan"
### Is your feature request related to a problem? Please describe.

Custom Vectors in Active Scan do not have any syntax highlighting (similar to normal http requests); therefore, it is hard to find the details there. I am not sure how it also displays non-readable byte codes there either. There is also no `find` option there so the process is totally manual and frustrating.

### Describe the solu

[2022-04-14 10:16] rethab commented on #7201
I have created a PR which should support substitution anywhere in `jobs: `: https://github.com/zaproxy/zap-extensions/pull/3724

I have not looked at integer substitution though. Could you please give an example of something that doesn't work @psiinon ?

[2022-04-14 10:20] psiinon commented on #7210
Is this just the header? If so then it could be #1907

[2022-04-14 10:51] psiinon commented on #7201
Many thanks!
I did a quick grep for `Integer.parseInt` and `Long.parseLong` - the main uses that worry me are in JobUtils.objectToType( ..) but if the substitutions have always been applied at that point then we should be ok...

[2022-04-14 11:25] globeone opened #7211 "Accented characters mangled in non-English reports"
### Describe the bug

When running a French language "Traditional Report with HTML requests and Responses" the titles in the report with accented characters are getting mangled. I'm guessing either due to an incorrect codepage in the database or report page not hinting to the browser to use UTF8.  Yet the full text descriptions are displaying the accented characters correctly.

### Steps to reprod

[2022-04-14 11:58] globeone commented on #7211
Here is another screenshot that shows that the description part is accented correctly. Just the titles aren't.

![image](https://user-images.githubusercontent.com/10052587/163386077-25f012f5-abc2-45ec-aa87-28db56e32a4f.png)

[2022-04-14 12:10] globeone commented on #7211
Looking in the source of the report the mangled characters are inserted on report creation. Which screams database to me, but I have no idea how these titles are created.

![image](https://user-images.githubusercontent.com/10052587/163387617-08093f69-0615-4ab6-a1f0-f950816e9db0.png)

vs in the same report

![image](https://user-images.githubusercontent.com/10052587/163387741-794011b3-bc5c-49f8-91b

[2022-04-14 13:22] psiinon opened #7212 "Webseclab: Fix any 5 Reflected JavaScript issues"
Fix any 5 of the currently failing Reflected JavaScript results on https://www.zaproxy.org/docs/scans/webseclab/

If you would like to 'reserve' up to 5 of the failures (there are currently 7) then add them in a comment and we will not accept any PRs fixing them for a 'reasonable period of time' - the exact definition of we'll need to work out in practice.

[2022-04-14 14:18] psiinon commented on #7139
Its unlikely that we will have an embedded browser again.
We did bundle JxBrowser but they changed the licence agreement.
Right now ZAP can use any modern browser thats installed.
We can start them with Firefox or Chrome plugins - we do that for Eval Villian: https://www.zaproxy.org/docs/desktop/addons/eval-villain/

[2022-04-14 14:34] Jeeppler commented on #6980
What @psiinon did not explain in his [statement](https://groups.google.com/g/zaproxy-users/c/Wg-fKIZ2w6I/m/fPbI8wxuAwAJ) why it is so difficult and time consuming to create a new release for OWASP ZAP?

Especially, in regards to log4j:

- [CVE-2021-45046](https://logging.apache.org/log4j/2.x/security.html#CVE-2021-45046)
- [CVE-2021-45105](https://logging.apache.org/log4j/2.x/security.html#CVE-202

[2022-04-14 14:44] levihackerman-102 commented on #7139
Ahh, so basically in this project the add-on will attach whichever extension we use to the browser when launched form ZAP?
If we go the extension route that is

[2022-04-14 14:54] kingthorin commented on #6980
The dependencies are already upgraded, feel free to use a weekly or support ZAP as discussed earlier.

[2022-04-14 14:58] Jeeppler commented on #6980
What is the price tag? 200 $ worth in money or time and we get the log4j release?

I do understand and I agree, the companies using OWASP ZAP should give back in time or money. However, there are two aspects to consider:

1. How to balance the influence of money and the community?
2. How do you measure given time in money?

Furthermore, if I invest time or money personally or as an organization my

[2022-04-14 15:05] Jeeppler commented on #6980
@kingthorin

Your answer is not helpful at all. I read the discussion and still decided to comment on this issue. Try again, maybe you can give me a better answer on the question: Why it is so time consuming to create a new release?

I really do not understand, why you are easily able to release every week, but creating full release is such a huge issue.

[2022-04-14 15:10] levihackerman-102 commented on #7139
Also, headless-recorder doesn't support automatic cookie handling as of now, would this feature be required for our use case?

[2022-04-14 15:13] kingthorin commented on #6980
The real question is why you feel entitled to an answer?

We've stated it's a time sink, you can trust that or not. We would rather you do, but if you don't then okay.....

We're all volunteers with other jobs.

To give you a bit of insight. Doing a full release requires:
- Co-ordination and ticketing with other parties.
- Updating of documentation.
- A bunch of testing.
- Updating API clients.
-

[2022-04-14 16:02] psiinon commented on #7139
So headless recorder doesnt handle cookies? I'd expect that to be a significant problem for authentication flows, which are a key usecase for this development. We could inject them in ZAP but it would be a pain...

[2022-04-14 16:13] tspearconquest commented on #6980
@Jeeppler IMHO, we should discuss more about this on the user list rather than in this closed issue. It will definitely gain more visibility on the user list.

[2022-04-14 16:20] psiinon commented on #6980
Thats what the groups are for - much better than discussions on closed issues :D

[2022-04-14 18:19] Jeeppler commented on #6875
We have an update on this topic:

Daimler is now Mercedes-Benz. With the name change the GitHub repository changed it's name as well: https://github.com/mercedes-benz/sechub.

Furthermore, it is now possible to use SecHub and Owasp Zap together. We made this available to everybody: https://github.com/mercedes-benz/sechub/tree/develop/sechub-pds-solutions/owasp-zap

In addition, we have renewed int

[2022-04-14 19:10] Jeeppler commented on #6980
@psiinon and @kingthorin thank you for the explanation. To summarize your explanation, the problems releasing a new version of Owasp Zap with an updated Log4j dependency is non-trivial as it requires a huge effort for the following reasons:

- coordination with other parties
- testing
- lack of human resources
- publishing several artifacts
- updating documentation

Furthermore, I would like @psii

[2022-04-14 19:14] thc202 commented on #6980
Issues are closed once the changes that address them are merged, as is the case.

[2022-04-14 19:15] Jeeppler commented on #6980
@thc202 can you link to the pull request?

[2022-04-14 19:16] thc202 commented on #6980
The pull requests are linked above.

[2022-04-14 19:23] kingthorin commented on #6980
If you can prove some relevant impact from these details please submit it via [BugCrowd](https://bugcrowd.com/owaspzap).

[2022-04-14 19:28] Jeeppler commented on #6980
@thc202 if you are referring to is most likely: https://github.com/zaproxy/zaproxy/pull/6979. This only upgrades log4j to 2.16 not to log4j 2.17.

[2022-04-14 19:36] kingthorin commented on #6980
There the two latest have been linked 🔼

The 2.17.1 set are linked earlier in this issue. (They might be in a hidden comment block....GitHub Web UI folds things up at various points when there's lots of activity.)

[2022-04-15 06:44] rethab commented on #7201
Thanks @psiinon . Reading @thc202 comment in the PR about applying the substitutions only right before running the job (which I think makes sense), I'll have to think about this again :)

[2022-04-15 22:45] levihackerman-102 commented on #7139
Selenium does provide options to set cookies so I guess we could make that work that way...

[2022-04-16 14:56] SkypLabs commented on #2033
Hi,

I was thinking about writing an OpenAPI definition from scratch for ZAP's own web API. After some research on a precedent initiative, I stubbled upon this GH issue but I am not sure to fully understand it. Am I wrong to say that the efforts tracked by this issue aim to generate an OpenAPI definition directly from the implementation?

Many thanks.

[2022-04-16 19:32] thc202 commented on #2033
That's the intention, and it's already being done to some extent: https://github.com/zaproxy/zap-api-docs/blob/master/openapi.yaml

[2022-04-17 09:39] njmulsqb commented on #6917
Hi,

I spent some time today on this issue and I have some concerns, I first assumed that requestor job is handled using cmd line so in order to see the flags/switches that are used to configure requestor job I checked the documentation https://www.zaproxy.org/docs/desktop/addons/requester/
https://www.zaproxy.org/docs/desktop/addons/automation-framework/job-requestor/
but no such information is p

[2022-04-17 11:16] psiinon commented on #6917
Ideally the GUI would be supported as well. We can point you to the relevant files, but tbh its good experience to learn to find what needs to be changed yourself. For anything involving the GUI then you can search for strings that appear in the relevant dialogs - you should find them in a language file, from which you'll get a key which you can search for in the code. You should be able to work b

[2022-04-18 06:24] #6001 closed

[2022-04-18 08:15] aenagy opened #7217 "java.awt.AWTError: Assistive Technology not found: org.GNOME.Accessibility.AtkWrapper [ZAP 2.11.1, Ubuntu 20.04.4 LTS]"
### Describe the bug

(1) Running "ZAP_2_11_1_unix.sh" did not display GUI window. Install ran in terminal.
(2) zap.sh generates error "java.awt.AWTError: Assistive Technology not found: org.GNOME.Accessibility.AtkWrapper"
(3) Launching ZAP from desktop does nothing.

### Steps to reproduce the behavior

[code]

### Expected behavior

(1) Running "ZAP_2_11_1_unix.sh" should launch GUI installer.
(

[2022-04-18 11:08] kingthorin commented on #7217
Remove the headless jre you have installed and install a normal jre with gui support.

[2022-04-19 06:03] thc202 commented on #7217
@aenagy did you try reinstall the JRE? We can't address this from within ZAP (nor from the installer, that one is maintained by a 3rd party), the most we can do is show a different error.

[2022-04-19 07:01] aenagy commented on #7217
It looks like I was able to solve the problem.

[code]

As a suggestion it would be helpful if ZAP would detect that the current Java is headless and produce a clearer error message.

https://www.baeldung.com/java-headless-mode

Thanks for your suggestion.

[2022-04-19 07:01] #7217 closed

[2022-04-19 09:04] psiinon commented on #6875
@Jeeppler email sent :D

[2022-04-19 11:11] psiinon commented on #7197
Yeah, would definitely good to support this.
For reference: https://developer.mozilla.org/en-US/docs/Web/API/HTMLFormElement/enctype

[2022-04-19 15:49] ArkaprabhaChakraborty commented on #7157
[/serverside/encodeUrl/attribute_name](https://public-firing-range.appspot.com/escape/serverside/encodeUrl/attribute_name) is non issue
I'll suggest a new failed test later.

[2022-04-19 15:52] psiinon commented on #7157
Have discussed this and I agree. If anyone can exploit it then please let us know :D

[2022-04-19 16:57] ArkaprabhaChakraborty commented on #7157
[/serverside/encodeUrl/attribute_script](https://public-firing-range.appspot.com/escape/serverside/encodeUrl/attribute_script) is non issue too :)

[2022-04-19 17:53] ArkaprabhaChakraborty commented on #7157
attribute single-quoted and quoted are the same :) too No clear way on how to bypass or exploit them :)

[2022-04-19 21:18] JohnStarich opened #7218 "Container image scanner started failing today with ApiException: does_not_exist"
### Describe the bug

We use the Docker image and `zap-api-scan.py` shipped inside it.

Our automated Zap scanners started failing today (a few hours ago) with exceptions like these:

[code]

And a Python traceback like this:
[code]
I'm not sure if these are related.

Using the old image version (`:w2022-04-11`) resolves the issue.

I suspect this cropped up somewhere in the past week's diff: http

[2022-04-19 21:49] ricekot commented on #7218
The changes introduced in #7206 result in a proper error message being returned when an incorrect scan rule ID is supplied.

This means that although your scanners were not throwing this error before, they were also not doing what you wanted them to do (they were failing silently).

In this case, it looks like the scan rule ID being supplied to the setScannerAlertThreshold endpoint does not exist.

[2022-04-19 21:56] JohnStarich commented on #7218
Thanks for the quick reply @ricekot. I think I'm following, but I don't believe this is something we configured?
We're using primarily default scan settings for this built-in Python script per my above docker command. Looks like the Python traceback I mentioned may contain a relevant clue – but I'm certainly not an expert on it.

[2022-04-19 21:58] JohnStarich commented on #7218
To clarify: I agree, looks like they could have failed silently before. I'm not certain that their failing is something we configured though. I could be mistaken. Let me know if there's anything else I can provide.

[2022-04-19 22:56] thc202 commented on #7218
@ricekot the problem is that the packaged scans don't differentiate between passive and active scan rules, it tries to disable them all in the active scan policy. We need to rollback that commit or change the packaged scans to handle the new validation error.

[2022-04-20 06:13] barbeque-squared opened #7219 "Make it faster to get the default config file"
### Is your feature request related to a problem? Please describe.

In our CI, we need to place certain items out of scope. Currently, the only way (that I've found) to use this functionality is to first generate the default config with `-g default-config.tsv`, then `cat default-config.tsv outofscope.tsv > actual-config.tsv`, and then do the actual scan with `-c actual-config.tsv`

The full comman

[2022-04-20 06:18] barbeque-squared opened #7220 "Docker full scan fails with ApiException: illegal_parameter"
### Describe the bug

This is probably a near-duplicate of #7218, but we are using `zap-full-scan.py` and the exception is slightly different.

The final exception is this one:
[code]

and the Python traceback is:
[code]

### Steps to reproduce the behavior

We run it like this in CI: `zap-full-scan.py -j -a -t <APPLICATION_URL> -c config.tsv -r report.html`

The `config.tsv` is generated from thi

[2022-04-20 07:07] kingthorin commented on #7220
Closing as duplicate of zaproxy/zaproxy#7218

[2022-04-20 07:07] #7220 closed

[2022-04-20 08:28] jhowlett96 opened #7221 "Default policy on start up not using edited policy rules"
### Describe the bug

modified rules of the auto selected scan policy are not used. 'Default' is shown and used for the active scans.

### Steps to reproduce the behavior

Change the rules of the default policy, then close zap and restart.

Attempt an active scan, the default policy is used however the edited rules that I changed are not shown. It states 'Default' for all rules.

If reselect defau

[2022-04-20 10:37] #7221 closed

[2022-04-20 11:19] psiinon commented on #7219
I'm actually surprised its taken someone so long to ask for this ;)

[2022-04-20 12:25] thc202 commented on #7218
While the previous comment is correct (in that it tries to disable them all) it's not the cause of the failure.

[2022-04-20 12:25] #7163 closed

[2022-04-20 12:26] #6891 closed

[2022-04-20 12:27] kingthorin commented on #6229
@thc202 ^ ? 😉

[2022-04-20 12:28] #5853 closed

[2022-04-20 12:29] #6921 closed

[2022-04-20 12:54] thc202 commented on #3113
There are ongoing PRs to the spider parsers though.

[2022-04-20 13:05] kingthorin commented on #3113
It's okay, it won't be instant.

[2022-04-20 13:06] #7218 closed

[2022-04-20 14:24] JohnStarich commented on #7218
Thanks all for the really quick turn-around. 🚀

Is it possible to use this version from the Docker image before next week's release?

[2022-04-20 14:32] thc202 commented on #7218
That's the plan, but the release is still pending, we'll update once done.

[2022-04-20 14:33] JohnStarich commented on #7218
Thanks! Much appreciated ❤️

[2022-04-20 15:50] psiinon commented on #7218
The weekly and live docker images now have this fix. Thanks for your patience.

[2022-04-21 06:19] RajatGupta16197 opened #7225 "ZAP getting stuck during active scan in daemon mode"
### Describe the bug

ZAP  when running in daemon mode is getting stuck while running active scan for 15+hrs, but when running in non-daemon mode then ZAP is getting completed within an hour.
The target and scan policy being same while initiating the scan in daemon and non-daemon mode.

### Steps to reproduce the behavior

1. Start ZAP with daemon mode
2. Spider scan
3. Ajax Spider
4. Active scan

[2022-04-21 07:24] thc202 commented on #7225
Could you attach the whole log?

[2022-04-21 07:46] RajatGupta16197 commented on #7225
[zap.log](https://github.com/zaproxy/zaproxy/files/8528776/zap.log)

[2022-04-21 07:48] RajatGupta16197 commented on #7225
It was stuck, so we have terminated the ZAP session from the API.

[2022-04-21 08:24] thc202 commented on #7225
The provided log does not show ZAP running for the mentioned hours.

[2022-04-21 08:36] psiinon commented on #7225
@RajatGupta16197 why do you think the active scan was still running?
In daemon mode ZAP will keep running until you stop it.

[2022-04-21 10:00] anarang commented on #6944
I recently got a Mac M1 and have been facing trouble running the zaproxy container on mac m1, I reported the issues I am facing here: https://github.com/RedHatProductSecurity/rapidast/issues/12
@nigamelastic can you please suggest the base image to use and which Dockerfile https://github.com/zaproxy/zaproxy/tree/main/docker to make changes to. Looking for some help here. thanks.

[2022-04-21 10:07] mark-senne opened #7227 "Container image scanner started failing today with ScanNotStartedException"
### Describe the bug

We use the Docker image and zap-api-scan.py shipped inside it.

But our automated Zap scanner fails with this Exception:
[code]
Changing to weekly image zap-D-2022-04-11.jar:D-2022-04-11 as mentioned in https://github.com/zaproxy/zaproxy/issues/7218 deos not help.

The traceback is
[code]

To my mind the OpenAPI-json is read and fully parsed:
[code]

Sadly our cloud does not

[2022-04-21 10:12] thc202 commented on #7227
Are you using the latest images? Seems to be a duplicate of #7218.

[2022-04-21 10:16] RajatGupta16197 commented on #7225
Active scan because when I checked the status from ZAP from API, the overall status can be seen and the scan progress can be seen in ascan.

As soon as the active scan is getting completed we are stopping the daemon, but in this case active scan is getting stuck.

[2022-04-21 10:16] thc202 commented on #7227
Not a duplicate you are seeing other error, we'll need the whole zap.log to know what's wrong.

[2022-04-21 10:20] thc202 commented on #7225
So far there's no evidence that the scan is stuck.

[2022-04-21 10:25] mark-senne commented on #7227
Added zap.log

[zap.log](https://github.com/zaproxy/zaproxy/files/8530101/zap.log)

[2022-04-21 10:26] thc202 commented on #7225
Could you provide the log when running with GUI?

[2022-04-21 10:27] RajatGupta16197 commented on #7225
[zap.log](https://github.com/zaproxy/zaproxy/files/8530109/zap.log)
Since the scan was running for almost 24hrs+, so we had to kill the scan. I have attached the logs for the scan.

[2022-04-21 10:55] thc202 commented on #7227
Seems the scan policy is missing.

[2022-04-21 12:16] thc202 commented on #7227
It is for `zap` and `root` users, which one is being used?

[2022-04-21 12:19] globeone opened #7228 "Scan Rule with empty name in the Scan Progress window and Scan Policy window"
### Describe the bug

When viewing the Scan Progress window there is a mystery attack (blank title) between CORS Header and Spring Actuator Information Leak.
Also under Miscellaneous in the Scan Policy window

### Steps to reproduce the behavior

- Start an Active Scan
- Click on the Progress icon
-- ![image](https://user-images.githubusercontent.com/10052587/164455219-88058065-f8a2-4b80-a347-1931

[2022-04-21 12:22] #1623 closed

[2022-04-21 12:26] psiinon commented on #7225
If you are already using the API then call the endpoint to check the scan progress and let us know what it returns: https://www.zaproxy.org/docs/api/#ascanviewscanprogress

[2022-04-21 12:31] kingthorin commented on #7228
Could you run this standalone script and share the output?
https://github.com/zaproxy/community-scripts/blob/main/standalone/Active%20scan%20rule%20list.js

[2022-04-21 12:57] mark-senne commented on #7227
It's the default user from owasp/zap2docker-live.
Let me check by whoami...

[2022-04-21 13:08] ArkaprabhaChakraborty commented on #7157
Even attribute-unquoted is not exploitable

[2022-04-21 13:09] thc202 commented on #7227
That would be `zap`, could you also check that the file is present? Should be under `/home/zap/.ZAP_D/policies/`.

[2022-04-21 13:28] mark-senne commented on #7227
Oh, we got

15:24:22  + whoami
15:24:22  whoami: cannot find name for user ID 1002930000

I think this is not ok, or?

[2022-04-21 13:38] globeone commented on #7228
sure, can I run it directly in ZAP by adding it to the Scripts tab?

[2022-04-21 13:51] thc202 commented on #7228
Based on that it's the FileUpload scan rule that's missing all the info.

[2022-04-21 13:54] kingthorin commented on #7228
Thanks @globeone @thc202 I'll open an issue in the appropriate repo.

[2022-04-21 13:54] globeone commented on #7228
Could it have to do maybe with this description with these special characters? It stands out to me.

![image](https://user-images.githubusercontent.com/10052587/164472628-ffb62a50-1a48-415b-82a3-73940dcfaf2f.png)

[2022-04-21 13:56] globeone commented on #7228
Found it! This one is blank Plugin ID 40041

![image](https://user-images.githubusercontent.com/10052587/164473741-18c36417-2d76-4494-aa70-e90296f749ac.png)

[2022-04-21 13:58] thc202 commented on #7228
Reopening, we should change core to at least log a warning (and ideally fallback to the classname instead of leaving the name empty).

[2022-04-21 14:26] kingthorin commented on #7228
[code]

[2022-04-21 17:22] mark-senne commented on #7227
For everybody who cannot run zap-image with user 'zap':

From the sourcecode https://github.com/zaproxy/zaproxy/blob/152e60b5fe2711d6e589fe973c0bcadbbb74e93e/zap/src/main/java/org/parosproxy/paros/Constant.java#L412 zap uses the active directory as the fallback to missing property 'user.home'.

A symlink to /home/zap/.ZAP_D was not enough
but an easy **cp -R /home/zap/.ZAP_D .** solved my problem.

[2022-04-21 17:22] #7227 closed

[2022-04-21 17:28] thc202 commented on #7227
Instead of copying you can specify the home directory with `-dir` command line argument: https://www.zaproxy.org/docs/desktop/cmdline/

In any case we should log something if defaulting to the current working directory.

[2022-04-21 19:40] vahidaftahi opened #7230 "False positive *** EXPERIMENTAL *** This website uses ASP.NET’s Viewstate but maybe without any MAC."
MAC is set for all pages on this website that were alerted and despite the high alert is produced.
The .NET version in use is the 4.2.
Please check back as As investigating that ZAP may produces a false Positive for this flagged “Experimental (Unsure)” alert.

[2022-04-21 20:07] kingthorin commented on #7230
Please provide all the details of the alert.

[2022-04-21 20:10] vahidaftahi commented on #7230
correction: The .NET version in use is the 4.5.2.

[2022-04-21 20:12] kingthorin commented on #7230
Still need the full details.

[2022-04-21 20:22] kingthorin commented on #7230
It would still be really nice to have to details.

However, we could add a condition to: https://github.com/zaproxy/zap-extensions/blob/f3b38c7bec369b15fb4e99b229046881b7430797/addOns/pscanrules/src/main/java/org/zaproxy/zap/extension/pscanrules/ViewstateScanRule.java#L68 so that it's only raised if [threshold](https://www.zaproxy.org/docs/desktop/ui/dialogs/scanpolicy/#threshold) is low.

[2022-04-21 21:29] zesty commented on #5038
Is there somewhere interested folks can follow discussion/development on this?

[2022-04-21 21:34] kingthorin commented on #5038
Yup right here. Though there's really nothing to discuss. It is being actively worked on.

[2022-04-21 22:16] jokrhub commented on #7212
Hello, I want to work on the following issues

/backslash1
/enc2
/js3
/js3_fp
/js3_notags

[2022-04-22 05:30] RajatGupta16197 commented on #7225
[zap.log](https://github.com/zaproxy/zaproxy/files/8537189/zap.log)
[zap_response.txt](https://github.com/zaproxy/zaproxy/files/8537195/zap_response.txt)
I had initiated a scan yesterday and its still running, I have attached logs and the response from the  scan progress end point

[2022-04-22 08:31] psiinon commented on #7212
@jokrhub I've assigned this issue to you and you can consider those failures reserved for you :)
If you'd like any advise and guidance then just ask here (or on IRC).
Thanks for taking this on!

[2022-04-22 08:32] psiinon commented on #5038
@zesty is there anything in particular you like to know?

[2022-04-22 12:04] kingthorin commented on #7225
It seems to still be running. The log shows some scan rules are sending 10s of 1000s of requests so the site is obviously huge or not well explored/modeled.

Ex: ` PathTraversalScanRule in 30864.073s with 43602 message(s) sent and 1 alert(s) raised.` is almost 8hrs on it's own.

[2022-04-22 12:13] Syntax3r opened #7232 "Add Authorization header in Active Scan"
Hey All,
I'm trying to add the Authorization header while zap is doing the active Scan. In my case Authentication is done by JSON , I have done the following step to authenticate into the application.

*Note : I have selected the zest script because in my scenario some headers are required in the request. i.e (Origin, Content-Type, Authorizaton : Bearer undefined).*
1. Record a Zest Script while l

[2022-04-22 12:21] kingthorin commented on #7232
Please don't ask questions as issues - the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

https://www.zaproxy.org/docs/desktop/addons/replacer/

[2022-04-22 12:21] #7232 closed

[2022-04-22 12:37] kingthorin commented on #4732
As discussed via IRC: Standardize on use of "status" vs "quality" for add-ons and scan rules.

Todo:
- [ ] Core
- [ ] Core help

[2022-04-22 13:03] k3v3n commented on #7225
I'm experiencing similar issue with ZAP on long scan (+4hours). We curl the the localhost:8080/ui for our healthcheck and it does not respond over a long period of time. Using zap2docker-weekly image. Also tried the `docker run -u zap -p 8080:8080 -p 8090:8090 -i owasp/zap2docker-weekly zap-webswing.sh` on https://public-firing-range.appspot.com/ and I have the same behaviour. The API is not respo

[2022-04-22 13:08] thc202 commented on #7225
That's a different issue, could you provide a thread dump when that happens?

[2022-04-22 13:10] kingthorin commented on #7225
8080 != 8090

[2022-04-22 13:25] thc202 commented on #7225
The `zap-cli` processes are because of https://www.zaproxy.org/docs/docker/about/#healthcheck which are probably hitting the wrong port (8080 instead of 8090).

[2022-04-22 18:33] k3v3n commented on #7225
[zap-2022-04-22-thread-dump.txt](https://github.com/zaproxy/zaproxy/files/8543213/zap-2022-04-22-thread-dump.txt)

[2022-04-22 18:40] thc202 commented on #7225
Thank you, could you provide another one (if still running)? What is being done prior to that state?

[2022-04-22 18:42] k3v3n commented on #7225
Thanks for the reply. Still testing on firing range but it's not always the case. Also, we automate the process so the killed and restart at the end of the scan.

[2022-04-22 19:30] thc202 commented on #7225
How are you telling when the scan is done? I don't see anything wrong in that thread dump, maybe with `ZAP-IO-EventExecutor-3-1` but without knowing what's being done and if it's actually hanging there (it should timeout the connect). I assume that you are using the default connection settings?

Do you have the zap.log?

[2022-04-22 19:55] zesty commented on #5038
@psiinon nope, just curious

[2022-04-23 13:19] shankeerthan-kasilingam commented on #6683
Hi Team,
I'm working this issue now. I checked the current search implementation. The below are current filters (SQL and Java).

1. Filter by SessionID and HistTypes (SQL)
2. For Loop (Java)
- find HistoryReference (cache  => DB)
- searchInScope (Java)
- baseURL filter (Java)
- if URL Filter (reqType), pattern match against URI (Java)
- if Header Filter (reqType), pattern match against REQHEADER a

[2022-04-24 10:12] karsten-wagner commented on #6229
Note that overwriting the target host will only work for an OAS imported from a URL.
This seems to be the case for the issue, so just my 2 cents as I was facing missing overwrite from file as an issue before...

If you import the OAS from a local file, then host overwrite is ignored:
https://github.com/zaproxy/zaproxy/blob/d206743afce14ff2b0d702d82e7f6ff38e4b4525/docker/zap-api-scan.py#L406-L423

[2022-04-24 10:39] karsten-wagner opened #7234 "Docker based API scan not to report HTTP 400 to HTTP 404?"
### Is your feature request related to a problem? Please describe.

The docker container based API scan contains additional scripts that aim to alert on certain problematic conditions specific to APIs.
One of the scripts will add an "informational" log entry to the report for any HTTP response code between 400 and 599 (all client and all sever error codes). This typically leads to many of those in

[2022-04-24 10:48] karsten-wagner opened #7235 "Docker based API scan report to contain context and "passed" checks?"
### Is your feature request related to a problem? Please describe.

I would like to use the ZAP scan report as an evidence for other stakeholders that my APIs have been successfully scanned without any vulnerabilities found. For this purpose it would be good to describe the context in the report (which API has been scanned) and what scans have been performed.

### Describe the solution you'd like

[2022-04-24 10:52] karsten-wagner commented on #7235
This eventually has an overlap with #1976

[2022-04-24 11:09] thc202 commented on #6229
That's a known issue #5510.

[2022-04-24 13:12] thc202 commented on #7219
Closing as duplicate of #6409.

[2022-04-24 13:12] #7219 closed

[2022-04-24 23:22] zesty opened #7239 "Firefox tmp profile gets deleted during launch -> ff: Missing Profile -> zap: browser was not found"
### Describe the bug

fails to launch firefox (snap version on Ubuntu 22.04 LTS)

firefox /tmp/rust* profile gets created, but quickly deleted during startup (I was able to copy out the user.js file in a tight loop during launch)

ZAP_D-2022-04-20
ZAP_2.11.1

### Steps to reproduce the behavior

1. start zap using zap.sh
2. don't save session
3. click manual explore button
4. click launch browser

[2022-04-25 00:26] zesty commented on #7239
both weekly and stable:

[code]

[code]

[2022-04-25 00:30] kingthorin commented on #7239
Thanks, that gets us webdriber, quickStart, etc version numbers 😉

I suspect it’s something specific to the snap’d Firefox that’s outside ZAP’s control but we’ll look into it.

[2022-04-25 04:52] RajatGupta16197 commented on #7225
But when I am running it on the same target in non daemon mode then it is getting completed within an hour

[2022-04-25 04:56] zesty commented on #7239
Yep, confirmed no repro on regular flavor firefox. Fwiw, snap is the new default firefox for Ubuntu 22.04 LTS, so might be seeing more interest in this when the point release drops and everyone gets the update.

Workaround: manipulate PATH to put working firefox first and/or uninstall snap flavor of firefox

[2022-04-25 04:56] #7239 closed

[2022-04-25 05:03] zesty commented on #7239
missing long-option dashes in command (doesn't affect regular firefox, just fyi):

`"/usr/bin/firefox" "--marionette" "-no-remote" "-profile" "/tmp/rust_mozprofilehZwiEY"`

[code]

[2022-04-25 08:23] psiinon commented on #5106
Everyone ok to close this as we no longer support JxBrowser?

[2022-04-25 08:37] #5106 closed

[2022-04-25 13:18] rafaelszp opened #7241 "URL's get concatenated when reading automation yaml script"
### Describe the bug

When there are multiple URL's in contexts configured per context in automation file (yaml), all URL's get concatenated in ZAP UI box causing scan tests not to work properly because URL's are concatenated

### Steps to reproduce the behavior

1. Make an automation file (yaml).
2. Put mulple URL's inside any context
3. Load yaml file in ZAP UI through automation tab
4. Open env

[2022-04-25 13:43] kingthorin commented on #7241
Could you share the files or a screenshot?

[2022-04-25 13:45] kingthorin commented on #7241
Could you please provide full version information, so that we know which Automation add-on you have etc.

[2022-04-25 14:23] rafaelszp commented on #7241
Automation yaml file:

[code]

ZAP Support Info:

[code]

[2022-04-25 14:30] rafaelszp commented on #7241
I've just uploaded an screenshot as well. Thank you.

[2022-04-26 09:27] #7241 closed

[2022-04-26 09:35] psiinon commented on #7154
Fixed by #7160
Good work - pleas claim the bounty for this!
https://www.stackhawk.com/zap-fund/

[2022-04-26 09:35] #7154 closed

[2022-04-26 11:44] globeone commented on #6880
Not 100% sure if this is the same issue.
On OWASP_ZAP_D-2022-04-25 am getting the following error when doing the following.

- Ran a Spider and Active scan
- Report
- Generate Report
- Filled in the Report Title
- Choose the path to save the report
- Selected Default Context
- Selected the URL's that are in scope for the report
- Traditional HTML Report with Requests and Responses
- Turned off Pas

[2022-04-26 11:46] thc202 commented on #6880
That's not the same issue but not worth raising another one, thank you for reporting.

[2022-04-26 11:50] globeone commented on #6880
I'll raise a new ticket.

[2022-04-26 11:51] thc202 commented on #6880
It's not necessary.

[2022-04-26 13:19] globeone opened #7245 "Information Link for Integer Overflow is outdated (12 years old)"
### Describe the bug

When running a scan where an Integer Overflow is found a link with instructions is sent to:
This page was edited last 12 years old and when opened with with https:// has an invalid certificate.

http://projects.webappsec.org/w/page/13246946/Integer%20Overflows

As the rest of the site is so old (last updated 8 years ago), it's expected that the site is abandonware and the The

[2022-04-26 13:24] psiinon commented on #7245
Unfortunately WASC is still used quite a bit in this industry :((

[2022-04-26 13:25] kingthorin commented on #7245
We'll watch for your PR, should be a simple one :wink:

[2022-04-26 13:27] kingthorin commented on #7245
- https://github.com/zaproxy/zap-extensions/blob/main/addOns/ascanrulesBeta/src/main/resources/org/zaproxy/zap/extension/ascanrulesBeta/resources/Messages.properties#L132
- https://github.com/zaproxy/zap-extensions/blob/main/addOns/ascanrulesBeta/CHANGELOG.md

[2022-04-26 13:35] thc202 commented on #7245
Not against using more recent sources but that something was not edited in a long time does not mean the information is outdated.

[2022-04-26 13:53] globeone commented on #7245
The information may still be correct "for applications written 12 years ago" but things around the information have changed quite considerably. The information provided by the site also doesn't help a developer of a modern application actually solve the vulnerability as it (and MITRE, I admit) both only refer to the C language for examples.

Developers need more modern, useful examples, that refer

[2022-04-26 13:58] globeone commented on #7245
The Wikpedia page is even better, more clearly written, and covers more programming languages and backends:
https://en.wikipedia.org/wiki/Integer_overflow

[2022-04-26 14:12] globeone commented on #7245
I'll give it a go to try and add the two extra sources to the links provided by @kingthorin via a PR.

[2022-04-26 14:30] globeone commented on #7245
appologies for the uncertainty. Before I PR, Is this correct?

![image](https://user-images.githubusercontent.com/10052587/165323403-3b417f84-c05f-4765-ad44-0f94d6712890.png)

[2022-04-26 16:18] globeone commented on #7245
Continued in this pull request
https://github.com/zaproxy/zap-extensions/pull/3743

[2022-04-27 13:56] mphilipps opened #7248 "authentication not working with automation framework for api scan"
### Describe the bug

hi,
I am trying to scan an OpenAI using the automation framework, pretty much every route requires authentication, but I can't get the authentication to work. The documentation is unfortunately a bit poor. Would be nice to have some examples for common use cases.

I thought I would exclude the login and logout routes so that during the attack I don't lose my session. The sess

[2022-04-27 13:59] psiinon commented on #7248
Please don't raise issues for this sort of thing - the User Group is a much better forum: https://groups.google.com/group/zaproxy-users
Having said that, also see https://www.zaproxy.org/docs/authentication/diagnosing-auth-problems/

[2022-04-27 13:59] #7248 closed

[2022-04-27 14:10] mphilipps commented on #7248
@psiinon even if we ignore the part about authentication not working, shouldn't the exclude for the login/logout route at least work? Is that getting ignored also not a bug?

[2022-04-27 18:26] vahidaftahi commented on #7230
Hi Rick,

Thanks for your feedback – sorry for delay.
Per ZAP alert that is set to HIGH – “*** EXPERIMENTAL *** This website uses ASP.NET’s Viewstate but maybe without any MAC. (Issue #7230)”
The alert is coming up despite of MAC to be used.
Particularly puzzled with ““*** EXPERIMENTAL ***” as it may be a test and our products are struggling to fix this issue and have not been successful.

Unsure

[2022-04-27 19:10] kingthorin commented on #7230
"*** EXPERIMENTAL ***" is just part of the alert name, meant to indicate that part of the scan rule code (which raised this alert) is well experimental :grinning:

If you're team is positive that MAC is enabled for the viewstate in question then I would say don't worry about it too much.

I will be updating the scan rule to add Threshold handling for that particular alert/condition.

[2022-04-28 02:29] ruipimentel opened #7250 "Fuzzer seems to ignore "set-cookie" response header"
### Describe the bug

I performed a successful manual SQLi attack (using the Manual Explore feature). During this manual exploration, the History tab exhibits the following information regarding cookies and anti-CSRF:

---

![image](https://user-images.githubusercontent.com/4542150/165658266-123daaf9-77d0-467e-bdcc-d71feba9b424.png)

---

![image](https://user-images.githubusercontent.com/4542150/

[2022-04-28 02:42] kingthorin commented on #7250
Could you try running the fuzzer single threaded? https://www.zaproxy.org/docs/desktop/addons/fuzzer/options/#concurrent-scanning-threads-per-scan

[2022-04-28 03:06] ruipimentel commented on #7250
Hi, @kingthorin, thank you for your quick reply.

I did the following tweak (I believe this is what you suggested), but unfortunately to no avail. The behavior seems to be the same (the same session was sent in the request header for all Fuzzer requests).

![image](https://user-images.githubusercontent.com/4542150/165668361-3cb8bdf3-6980-4810-bac9-37a6f8e9908c.png)

[2022-04-28 03:13] kingthorin commented on #7250
Okay, thanks for trying.

[2022-04-28 09:01] psiinon commented on #4792
The suggested approach is to:

1. Identify all of the changes applied to our fork (would be good to add that list to a comment here)
2. Migrate those to Crawljax plugins
3. PR any updates that cannot be implemented as plugins to the main crawljax repo
4. Update to use the latest crawljax version - hopefully gutting this repo as our changes will all be plugins 😄

[2022-04-28 09:07] thc202 commented on #4792
https://github.com/zaproxy/crawljax/blob/8aba28d1d21fb777cfae2e1093d3fb0a6ad90b91/CHANGELOG.md mentions the relevant changes.

[2022-04-28 10:52] jhowlett96 opened #7251 "Spider to use multipart forms"
### Is your feature request related to a problem? Please describe.

Currently the spider uses standard forms for multipart forms. The reasoning is that no files are uploaded and so no need, found here: [SpiderHtmlFormParser.java#L181-L182](https://github.com/zaproxy/zaproxy/blob/03f922c739708bb8c2f1278e85f074180c4f17de/zap/src/main/java/org/zaproxy/zap/spider/parser/SpiderHtmlFormParser.java#L181-

[2022-04-28 11:02] thc202 commented on #7251
Closing as duplicate of #7197.

[2022-04-28 11:02] #7251 closed

[2022-04-28 11:24] mphilipps commented on #7248
@psiinon I have investigated the exclude Problem again, apparently the openapi job itself already sends one request per route/method. No idea why it does that, but that one at least is unaffected by the excludes.

[2022-04-28 11:26] thc202 commented on #7248
The excludes apply to contexts, the import is not done under a context.

[2022-04-28 14:53] ArkaprabhaChakraborty commented on #7148
@jan-ambroz are you still working on this issue?

[2022-04-28 16:43] jan-ambroz commented on #7148
yes, still working on it.

[2022-04-28 19:59] #7230 closed

[2022-04-29 02:45] kingthorin commented on #7211
https://groups.google.com/g/zaproxy-users/c/IXkNX5G76ls

Seems related

[2022-04-29 06:24] thc202 commented on #7211
This is a problem in on how the files are being exported from Crowdin, I think. In zaproxy they are escaped, e.g.:
https://github.com/zaproxy/zaproxy/blob/1715f68aaf90b97f6a0e55dcf53b73d4f20a5f9a/zap/src/main/dist/lang/Messages_fr_FR.properties#L2615
In zap-extensions they are in UTF-8 instead of being escaped:
https://github.com/zaproxy/zap-extensions/blob/7aed0f8b3205e2e0a3e4b22dd8624caaebf39890

[2022-04-29 10:34] thc202 commented on #7225
Most likely you are not using the same settings. You can use a lower attack strength to reduce the number of requests sent but better try make the target more responsive under load. There are also other options to reduce the time the scan or the scan rules are allowed to run: https://www.zaproxy.org/docs/desktop/ui/dialogs/options/ascan/

[2022-04-29 11:06] RajatGupta16197 commented on #7225
I tried with low strength as well but the result was same. Does anything change internally while running zap in daemon and non daemon mode. I am sharing the logs for the non daemon mode, where the scan got completed successfully with the same policy but it is failing continuously in the daemon mode.
[zap.log](https://github.com/zaproxy/zaproxy/files/8590271/zap.log)

![image](https://user-images.g

[2022-04-29 11:08] kingthorin commented on #7225
No.

[2022-04-29 14:16] sarahgibs opened #7254 "Current release for Python API is out of date"
### Describe the bug

The Python API wrapper has been updated over the past two years, but the last release was made on Dec 18, 2020. The version on pip does not contain all of the current functionality including the reports endpoints.

### Steps to reproduce the behavior

Follow the instructions to install the wrapper with pip, try and use the reports section of the API, encounter an error such a

[2022-04-29 14:34] thc202 commented on #7254
Latest release is 0.0.20 https://pypi.python.org/pypi/python-owasp-zap-v2.4
Python 2.7 is no longer supported.

[2022-04-29 14:45] sarahgibs commented on #7254
thank you, and sorry. I was sure I had run --upgrade while trying to get this to work. I had not.

[2022-04-29 14:47] #7254 closed

[2022-04-29 16:08] userdelroot commented on #1364
I haven't looked into the code as of yet, however, it appears to be a single thread reading the entire session data.
It should not take 30 minutes to load 1.5Gigs of data.
I will see what I can do, to help with this, time permitting. Unless the zap team already has a solution.

[2022-04-29 17:35] nigamelastic commented on #6944
Sorry for the late response, I somehow missed these comments.
@anarang  simply compile the sources or install it from homebrew that worked for me
@idontusenumbers sorry I did not get that, if its still not available please tell me how can I help

[2022-04-29 18:31] idontusenumbers commented on #6944
@nigamelastic I see the latest Dockerfile is still referencing the explicit platform in the JAVA_HOME (you can just remove that line) https://github.com/zaproxy/zaproxy/blob/main/docker/Dockerfile-stable#L74

After that, the multi arch builds would need to be enabled; see https://docs.docker.com/desktop/multi-arch/

[2022-04-29 20:46] thc202 commented on #7211
Even if the files are using UTF-8 they should still be loaded correctly in Java 9+, the `ResourceBundle` was changed to use that charset by default (JEP 226).

[2022-05-01 16:29] userdelroot commented on #1364
I have been reviewing the sessionOpen code. There are a few things of note,
In my saved session their was a charset "utf-8,text/html" which causes an illegalcharsetexception.
This caused the eventqueue to hang and never finish.
After fixing this, (it is a temp fix but Java only allows certain charsets and a switch of check should be done, to only allow these).
for now I am just removing ",text/htm

[2022-05-01 21:11] kingthorin commented on #30
@skyplabs any idea how to get some attention/movement on that? :wink:

[2022-05-02 02:55] DeLuca92 opened #7260 "Include Other Info per Alert instance in reports"
###  Is your feature request related to a problem?

The Traditional and Traditional Plus JSON reports treat "Other Info" as consistent between alerts which is not always the case. A new JSON report should be added which treats "Other Info" as potentially unique per alert instance.

As per the original issue a perfect way to test/experience this need is the Retire.JS passive scan alerts which inclu

[2022-05-02 02:57] kingthorin commented on #7260
It’s at the bottom of your second screenshot “otherinfo“

[2022-05-02 03:08] kingthorin commented on #7260
If you still feel you’re lacking details you may need to change: https://www.zaproxy.org/docs/desktop/ui/dialogs/options/alert/#merge-related-alerts-in-report

[2022-05-02 03:09] kingthorin commented on #7260
Or via the api: https://www.zaproxy.org/docs/api/#coreactionsetoptionmergerelatedalerts

[2022-05-02 03:10] DeLuca92 commented on #7260
But if you see it well, CVE-2020 does not appear in Json.

[2022-05-02 03:16] kingthorin commented on #7260
Because you’ve merged alerts, it’s only displaying the otherinfo from the first.

[2022-05-02 03:33] DeLuca92 commented on #7260
Ok, now I changed.

![image](https://user-images.githubusercontent.com/9082802/166180983-3e1e8881-254a-4054-8cad-0f7d4eab8819.png)

And I generated the report by ZAP itself and it still doesn't show the CVE-2020.

![image](https://user-images.githubusercontent.com/9082802/166181126-388af8b5-9178-4e59-82fa-5b5757de76cb.png)

[2022-05-02 04:14] kingthorin commented on #7260
I still think we’re overlooking something obvious/simple. But, I’ll re-open until I can investigate further.

[2022-05-02 13:11] DeLuca92 commented on #7260
Thx :).

[2022-05-02 18:35] userdelroot commented on #1364
While reviewing the code, "refreshAlert(session);" is super slow and most likely another reason the session takes forever to load if it loads at all.
This method, in my case has 27000 alertId's.
For each alertId, there is a executeQuery().
This  is excessive system I/O and causes the entire application to hang and or get stuck in this loop.
The loop spends excessive time in (ParosTableAlertTag.jav

[2022-05-02 19:03] njmulsqb commented on #1364
Does commenting this out has any ripple effects to rest of the functionality?

[2022-05-02 19:14] userdelroot commented on #1364
Not that I noticed, the Alerts generate on the fly as you are working through the site, so they should regenerate.
However, I am working on a way to correct this issue. If this can be sorted out. The enhancement request to load a session at started would be possible.

[2022-05-02 19:16] njmulsqb commented on #1364
Ahan. I hope you come up with a workaround. This issue has been sticking around for quite some time now.

[2022-05-02 19:25] kingthorin commented on #1364
Please stop quoting full messages unless it actually adds some clarity that people might miss from simply following the chronology of the messages.

[2022-05-03 07:17] winzj opened #7262 "Missing GraphQL attribute in ClientApi.java"
### Describe the bug

Hi everyone,

not sure if it is really a bug, but I'm currently automating some scans using the ZAP Java API, and I noticed that an attribute of [GraphQL.java](https://github.com/zaproxy/zap-api-java/blob/main/subprojects/zap-clientapi/src/main/java/org/zaproxy/clientapi/gen/Graphql.java) is missing [here](https://github.com/zaproxy/zap-api-java/blob/bf84fcf9ce9b3c8000d4e9875

[2022-05-03 08:08] derhecht opened #7263 "Alert Id 10055 - script-src unsafe-inline but in fact style-src is unsafe-inline"
I'm using ZAP Docker proxy to check an API and check results within Sonar.

Got results like:
CSP Scanner: script-src unsafe-inline
Vulnerability Minor
Tags cweid-16, owasp-a6, wascid-15, zaproxy
Available SinceJan 08, 2021
Solution :
Ensure that your web server, application server, load balancer, etc. is properly configured to set the Content-Security-Policy header.
References:
    https://www.w3

[2022-05-03 10:30] #7109 closed

[2022-05-03 10:45] kingthorin commented on #7263
Thanks for reporting this, I'll do some testing and look into it.

[2022-05-03 10:51] kingthorin commented on #7263
I'm unable to recreate. Please provide the full headers from the associated HTTP message.

[2022-05-03 10:52] kingthorin commented on #7263
Tested with:
[code]

[2022-05-03 11:11] kingthorin commented on #7260
I just noticed you're using a deprecated API.
![image](https://user-images.githubusercontent.com/7570458/166442323-eb7f7578-887b-4c52-a222-4759451ea5ef.png)

I can confirm that if you use the newer API it works as expected:
![image](https://user-images.githubusercontent.com/7570458/166442578-1c58beb1-2ada-41b1-b43c-210f1158b6d5.png)

`http://localhost:8082/JSON/reports/action/generate/?apikey=qs63

[2022-05-03 11:28] DeLuca92 commented on #7260
Ok, I will try make in python.
Other doubt, why your JSON show 3 errors:
"evidence": "jquery-1.10.2.min.js"
"evidence": "* Bootstrap v3.0.2"
"evidence": "jquery-2.0.2.min.js"

And my scan show only 2? :/

[2022-05-03 11:34] kingthorin commented on #7260
Could be different versions of the add-on.

[2022-05-03 11:41] thc202 commented on #7260
The deprecated endpoint calls the new endpoint, did you get different results?

[2022-05-03 11:43] kingthorin commented on #7260
Good question, I noticed it was deprecated and didn't proceed with it.

However, I do think there's something wrong going on here. The second jquery finding shouldn't be an instance of the bootstrap alert.... Will have to dig more :cry:

[2022-05-03 11:43] DeLuca92 commented on #7260
Same result :/
![image](https://user-images.githubusercontent.com/9082802/166446797-1f97a470-33f4-4aa9-86eb-cb0dcd54c8a4.png)
How u scan?

[2022-05-03 11:44] kingthorin commented on #7260
Run ZAP, launch a browser from ZAP, navigate to the homepage you mentioned. Let all resources load. Close the browser, generate the report.

[2022-05-03 11:45] DeLuca92 commented on #7260
@kingthorin , Ok.

[2022-05-03 11:49] kingthorin commented on #7260
Look closely one is an on-site reference one is an off-site reference.

[2022-05-03 12:12] derhecht commented on #7263
I will close this as it looks like this is an issue with the Sonar plugin. Just tested with another service. Same problems here. Sonar not equals log from ZAP execution. Sry.

[2022-05-03 12:12] #7263 closed

[2022-05-03 12:16] kingthorin commented on #7263
No problem, thanks for confirming.

[2022-05-03 13:10] DeLuca92 commented on #7260
Hi, thx.
Yes,   Bootstrap v3.0.2 and  jquery-2.0.2.min.js show only infos about Bootstrap :/

[2022-05-03 13:32] psiinon commented on #3566
Removed

* Control ascan rules via the config file
* Control strength and threshold via the config file

From first comment - no longer relevant with the move to the Automation Framework.

[2022-05-03 15:02] hahwul opened #7264 "The Request and Response tab bug intermittently during ActiveScan."
### Describe the bug

Hi team :D

Intermittently with ActiveScan running, the Req/Res tab forces the contents of ActiveScan to be rendered. This means that when you click an item in History, Alert, etc., you will not be able to verify the correct content.

![](https://user-images.githubusercontent.com/13212227/166475688-6f2a9e5f-d9cf-4494-94e5-aec6b4bf6241.gif)

However, it does not occur uncondit

[2022-05-03 15:07] thc202 commented on #7264
Closing as duplicate of #6404.

[2022-05-03 15:07] #7264 closed

[2022-05-04 08:19] #7262 closed

[2022-05-04 11:05] jhowlett96 opened #7265 "Spider: href="#" generating URLs in site tree"
### Describe the bug

The spider is finding href="#" links and registering them as URLs, a GET request with the same URL as the page it was present on without any URL parameters.

This isn't correct as a href="#" doesn't reload the page, it only sets the anchor point and therefore the GET request the spider is making should not be done.

This isn't just for empty element ids (href="#") but also fo

[2022-05-04 11:18] darunesh-RH commented on #6944
Building image and running by replacing https://github.com/zaproxy/zaproxy/blob/main/docker/Dockerfile-stable#L2 with **FROM bellsoft/liberica-openjdk-alpine:11 AS builder**  and removing java path at https://github.com/zaproxy/zaproxy/blob/main/docker/Dockerfile-stable#L74 in Dockerfile-stable, I am able to run zaproxy on Mac M1 arch.

[2022-05-04 11:33] kingthorin commented on #7265
Please provide some screenshots of the Sites Tree and actual HTML for the full tags.

Also is this the traditional Spider or the Ajax Spider?

[2022-05-04 12:57] jhowlett96 commented on #7265
I am using the traditional spider. While generating a small test case I found out that this only occurs when the form method is POST.

Example:
I have used ASP. This probably works on other files but is untested.

Page 1, where the spider should start from:
[code]

Page 2, the action of the form
[code]

See below the output from ZAP showing the GET and POST URLs of 2.asp in the site tree.

![ZAP o

[2022-05-04 13:40] k3v3n opened #7268 "Passing unknown codes with one that does not exist made the call fail"
### Describe the bug

When using the API to disabler scanners in batch, when one does not exist, it does apply the for the others.

https://www.zaproxy.org/docs/api/#ascanactiondisablescanners

### Steps to reproduce the behavior

[code]

Note that 10016 does not exist for the default policies for the weekly docker image.

This will return a warning

[code]

The curl to see if it 10017 was disable

[2022-05-04 13:49] anarang commented on #6944
I updated the comment on the original thread in rapiDAST repo here: https://github.com/RedHatProductSecurity/rapidast/issues/12#issuecomment-1117307233

In addition, I tried to run a basic scan using zap-baseline.py in the image provided by @darunesh-RH and here is the output:
Reference: https://www.zaproxy.org/docs/docker/baseline-scan/

[code]
What do you think can possibly be the issue here?
th

[2022-05-04 13:51] k3v3n commented on #7268
Probably related to https://github.com/zaproxy/zaproxy/pull/7206

[2022-05-04 13:55] k3v3n commented on #7268
I think it could be improved by returning the list of invalid codes, but still apply the one that are ?

[2022-05-04 14:00] thc202 commented on #6944
The issue is `A file based option has been specified but the directory '/zap/wrk' is not mounted`.

[2022-05-04 14:00] kingthorin commented on #6944
`A file based option has been specified but the directory '/zap/wrk' is not mounted` seems to cover it.

You need to write the report somewhere it can actually write.

[2022-05-04 14:01] thc202 commented on #7268
Yes.

[2022-05-04 14:11] psiinon commented on #6944
Read the docs? :)
If you run the command with `-h` you get lots more info along with a link to https://www.zaproxy.org/docs/docker/baseline-scan/ which has even more...

[2022-05-04 15:12] k3v3n commented on #7268
@thc202 any documentation on how to run the Java unit tests ?

[2022-05-04 17:12] userdelroot commented on #1364
Code has been redone to load a saved session in < 45 seconds for 1.5 gigs.
PR will be requested here shortly.

[2022-05-04 17:31] anarang commented on #6944
@psiinon thanks, it worked! sorry I missed it in the docs.

[2022-05-04 18:36] kingthorin commented on #1364
@kurobeats same username at gmail dot com? (For a shared folder for that 10G file)

[2022-05-05 06:59] thc202 commented on #7211
@globeone could you try with latest weekly release and indicate which charset is being used? (Should be shown in the support info.)

[2022-05-05 19:57] tkisason commented on #7178
Yeah, i got confused when i removed the file and still couldn't create a new job with a new filename. Not a bug, but if you are creating multiple automations, you need to either remove all elements or exit zap, since you can't change the filename. So, not a bug, but maybe a Save and Save As option could be better.  🤷 I can close this as resolved, or we can leave it as an idea to add a Save As opti

[2022-05-06 08:19] psiinon commented on #7178
I think a "Save As..." option would be very useful - if anyone fancies having a look at this we can give any guidance needed.

[2022-05-06 11:02] kingthorin commented on #7260
There is not currently an included JSON report which includes Other Info in a manner which would address this issue.

- https://www.zaproxy.org/docs/desktop/addons/report-generation/create/
- https://www.zaproxy.org/blog/2021-03-12-report-competition/

[2022-05-06 11:18] kingthorin commented on #7260
The team has discussed this and agreed to change this into an enhancement request.

[2022-05-06 11:38] globeone opened #7272 "Selenium not defaulting to bundled ChromeDriver"
### Describe the bug

For the last 3 versions of ZAP weekly when opening the Tools, Option.. Selenium panel the web driver for Chrome gets erased every time the panel is opened. Additionally on a fresh install ZAP is unable to find Chrome nor the webdriver even though both are in their default locations.

### Steps to reproduce the behavior

- Install a fresh copy of Zap Weekly 22-05-03
- tools
-

[2022-05-06 12:01] globeone commented on #7272
![image](https://user-images.githubusercontent.com/10052587/167127653-57f1feb0-3ade-4f43-8943-40ff7ccfb4b1.png)

[2022-05-06 12:02] thc202 commented on #7272
Yes, it's caused by a bug in the latest release.

[2022-05-06 14:36] #7272 closed

[2022-05-06 15:09] njmulsqb commented on #6917
Hi,

I have analyzed the code and it has started making some sense now, for example, as you asked each job has its own class under the `org/zaproxy/addon/automation/jobs` sections and here lives the `RequestorJob.java` file.

The solution I am preparing up in my mind looks something like, we should include the additional headers under some custom field in yaml file, and the file responsible for ha

[2022-05-06 15:38] psiinon opened #7273 "Fuzzer performance issues"
### Describe the bug

The ZAP desktop UI gets gradually more and more slugged when fuzzing a very large number of values.
This is more pronounced when passive scanning is used.

### Steps to reproduce the behavior

1. Fuzz a request on a local app
2. Select all of the fuzzdb / Discovery payloads
3. Fuzz

Optionally enable passive scanning on fuzz requests.

### Expected behavior

The UI shouldnt g

[2022-05-06 15:39] psiinon commented on #7273
Limiting the number of fuzz messages displayed (as per the active scan tab) and limiting the number of alert instances might be enough to fix this.
I'll start with those and see what happens then...

[2022-05-06 15:45] thc202 commented on #7272
The latest version of Selenium add-on (15.9.0) should address this.

[2022-05-06 17:00] psiinon commented on #6917
Thats the one and that sounds like a good plan :)
Note that the GUI for it is [RequestorJobDialog.java](https://github.com/zaproxy/zap-extensions/blob/main/addOns/automation/src/main/java/org/zaproxy/addon/automation/gui/RequestorJobDialog.java)

[2022-05-06 18:13] njmulsqb commented on #6917
Yes, I have seen the GUI directory as well but I am first planning to implement this on CLI and then I will see how can I deal with GUI.

The updated YAML file will look something like this
[code]
The custom headers will be in key:value pairs and will be comma separated.

Now, I would need a little help to locate the implementation point. I see that the function `runJob` is handling the requestor

[2022-05-06 18:24] njmulsqb commented on #6917
One more thing, it maybe is irrelevant but I am receiving quite a lot of emails stating.
![image](https://user-images.githubusercontent.com/47940898/167196298-7b267afb-96e3-4ac0-a102-a09dac3edfea.png)
How can I stop this?

[2022-05-06 18:26] kingthorin commented on #6917
Disable actions in your fork.

[2022-05-06 18:30] njmulsqb commented on #6917
haha sorry for being irrelevant, should have asked in IRC.
Disabled.

[2022-05-06 18:31] kingthorin commented on #6917
`    headers: "header1:value1,header2:value2,header3:value3"`

Why not use a standard yaml array?
[code]

[2022-05-06 18:32] njmulsqb commented on #6917
Sounds better.

[2022-05-06 21:25] thc202 commented on #7211
From other issue (#7272), the charset is `windows-1252` which should cause problems with Java 8 but not with newer Java versions.

[2022-05-07 05:59] njmulsqb commented on #6917
Hi @psiinon
Can you help with the queries? I want to work on this issue on this weekend

[2022-05-07 09:40] thc202 commented on #6917
The existing code already provides the data, you just need to process it (check`RequesterJob#verifyParameters`), the headers would have to be added to `Request`.

[2022-05-07 18:49] kingthorin commented on #3262
FYI editing requests before fuzzing is now available.

Having related or duplicate injections is supported via scripting (not optimal but usable).

[2022-05-09 04:20] RajatGupta16197 commented on #7225
Any updates ?

[2022-05-09 04:23] kingthorin commented on #7225
Only what’s above👆

[2022-05-09 06:37] thc202 commented on #7225
@RajatGupta16197 did you ensure that the same settings are in use in both cases?

[2022-05-09 06:43] RajatGupta16197 commented on #7225
Yes, we used the same settings in both the cases

[2022-05-09 10:55] RajatGupta16197 commented on #7225
Can we limit the number of request send per scan rule through ZAP on the target ?

[2022-05-09 11:12] thc202 commented on #7225
As mentioned in https://github.com/zaproxy/zaproxy/issues/7225#issuecomment-1113156927 you can use a lower attack strength to reduce the number of requests sent.

[2022-05-09 11:27] kingthorin commented on #7225
But really you should figure out what the delta is in daemon mode. Either your target is taking a performance hit or you don't have something setup the same.

[2022-05-09 14:08] andregasser commented on #244
Hello everyone, I wanted to dig in a bit into ZAP Proxy to eventually contribute a bit to the project. I had a look at this wiki page here https://github.com/zaproxy/zaproxy/wiki/WatcherRules but unfortunately all the links related to the tool / rules to be ported have become invalid. Nevertheless, I found a .zip file containing the source that looks promising: http://www.java2s.com/Open-Source/CS

[2022-05-09 20:48] security-companion opened #7278 "Add check for CVE-2022-1040"
### Is your feature request related to a problem? Please describe.

I would like to ask if it is possible to add a check for CVE-2022-1040.

### Describe the solution you'd like

There's an example script on github
https://github.com/CronUp/Vulnerabilidades/blob/main/CVE-2022-1040_checker
Perhaps this can be used or adapted within zaproxy.
What do you think?

### Describe alternatives you've consi

[2022-05-09 21:11] kingthorin commented on #7278
Seems straight forward enough. I'd suggest adding it as an Active Scan Script in the community repo: https://github.com/zaproxy/community-scripts

[2022-05-10 04:59] RajatGupta16197 commented on #7225
This we have already tried but the result was same

[2022-05-10 05:04] RajatGupta16197 commented on #7225
Everything remains the same, only thing we changed was daemon to non-daemon mode rest all was same but we found the duration and scan request different for both of them

[2022-05-10 08:56] thc202 commented on #7225
Are you using the API in both cases?

[2022-05-10 11:11] RajatGupta16197 commented on #7225
Yes

[2022-05-10 11:29] jhowlett96 commented on #7265
Similar outcomes, URLs with no arguments added to site tree but a different cause. You can distinguish between the two because #7161 doesn't add a referrer header but URLs generated with this method do have referrer headers.

[2022-05-11 17:07] thc202 commented on #5637
While they have the same name they do not represent the same options (the translation is not accurate).

[2022-05-11 17:21] kingthorin commented on #5637
Not that it mattes for this issue, but out of curiosity: Why are you still using 2.8.0?

[2022-05-11 17:32] thc202 commented on #5637
It's an old issue, probably the latest at the time.

[2022-05-11 17:46] kingthorin commented on #5637
Oops, sorry didn't notice the date(s).

[2022-05-11 18:19] kingthorin commented on #6579
How would we like to go about moving the core items over?

Do we need to deprecate them or can they just be (re)moved? If they're deprecated is there a way for the extension to unhook/unload them? (That might be a one-by-one question.)

[2022-05-11 19:11] thc202 commented on #6579
Safer if deprecated but they can be "moved" already.

[2022-05-11 19:13] kingthorin commented on #6579
If they're deprecated that's fine but how do we want to prevent duplicate entries int he menus?

[2022-05-11 19:17] thc202 commented on #6579
We talked about adding them to an Export menu (which does not exist yet). For the context menu items, we just need to check if the core class is deprecated to add them or not.

[2022-05-11 19:18] kingthorin commented on #6579
Perfect, thanks.

[2022-05-11 22:43] kingthorin commented on #6579
I've added four core items to the list above, let me know what you think. I'm not totally sold on the copy to clipboard one.

Do we want to include Import/Export Context (which is currently in the File menu).

I didn't see any others while I was looking, so let me know if I've missed something.

[2022-05-12 10:10] RealAlphaMan opened #7283 "Got error when build new add-on and start ZAP with Dev mode"
I want to create new add-on and run it in ZAP Dev mode.

I'm using Mac M1, when I use jdk 17 to build add-on, it's ok but cannot run ZAP in Dev mode (from source code), I got error:
[code]

If I use jdk8 (install adoptopenjdk8), I can run ZAP in Dev mode but cannot build add-on, I got error
`error listing module locations for SYSTEM_MODULES: java.io.IOException: can't find system classes Fatal Err

[2022-05-12 10:31] kingthorin commented on #7283
Please don't ask questions as issues - in this case the [ZAP Dev Group](https://groups.google.com/g/zaproxy-develop) is a much better place for such questions.

[2022-05-12 10:31] #7283 closed

[2022-05-12 10:32] #5637 closed

[2022-05-12 10:51] psiinon commented on #6579
They look good.
I dont think this add-on should handle the import/export of contexts - those are significantly different.

[2022-05-12 14:45] s23hck opened #7284 "Failed to generate report with Modern HTML template : Exception evaluating OGNL expression"
### Describe the bug

Hi !
I have a bug when i generate a report via gui on zap v2.11.1 :
I made some manual testing via HUD and generate some report without any issue last days.
Today, that's my error trace:

`14058232 [AWT-EventQueue-0] ERROR org.zaproxy.addon.reports.ReportDialog - Failed to generate a report using template org.zaproxy.addon.reports.Template@1ef16e75
org.thymeleaf.exceptions.Te

[2022-05-12 14:51] kingthorin commented on #7284
This seems to be a duplicate of: zaproxy/zaproxy#6880

I'll add the content over there.

[2022-05-12 14:54] kingthorin commented on #6880
From @s23hck

### Describe the bug

Hi !
I have a bug when i generate a report via gui on zap v2.11.1 :
I made some manual testing via HUD and generate some report without any issue last days.
Today, that's my error trace:

[code]

Have you got any recommendation to avoid this issue ?

Cheers

### Steps to reproduce the behavior

1. Insatll zaproxy on latest kali linux stable with xfce
2. Run zapr

[2022-05-13 07:30] true-hero commented on #2819
The filter feature already exists in "Filter History", we can filter by responce code/methods. And it will be cool to iplement these filter features to site treee section. Or maybe make a correlation between filtered elements in history and site tree and use just history filter.

[2022-05-13 10:48] njmulsqb commented on #6917
Hi all,
Here is the tweaks I have made so far in RequestorJob.java: https://github.com/njmulsqb/zap-extensions/blob/feature-custom-headers/addOns/automation/src/main/java/org/zaproxy/addon/automation/jobs/RequestorJob.java

I am stuck at a problem an would need a nudge. To understand the code flow I am using debugger to see what data is flowing around in the variables.
The method `verifyParameters

[2022-05-13 11:01] kingthorin commented on #6579
I found two more.

[2022-05-13 11:24] njmulsqb commented on #6917
Plus, I think things would have been easier if each file has a comment in the beginning about what is it doing, also in my fork, I am considering to write a comment with some function calls that needs explanation, is it okay? Can these comments be added to ZAP?

[2022-05-13 11:38] kingthorin commented on #6579
I have this bit of code in exim:
[code]

However when trying to load the add-on it bombs:
[code]

I've done the exact same thing for classes in zap packages without issue.

What am I missing?

[2022-05-13 11:50] thc202 commented on #6579
Unrelated to the error, you don't need to check each class individually, one is enough, they are all being deprecated at the same time (if one is the others are guaranteed to be).

[2022-05-13 11:52] kingthorin commented on #6579
Okay, well I can use that logic/assumption to get around the issue :wink:

[2022-05-13 11:55] thc202 commented on #6579
The cause of the error was mentioned in https://github.com/zaproxy/zaproxy/pull/7285#discussion_r872314711

[2022-05-15 09:15] njmulsqb commented on #7095
I am facing this error with my Ubuntu 22.04, it throws this error straightaway when opening firefox via manual explore whereas chrome opens but it also closes after few minutes itself stating "provided browser not found"

OS: Ubuntu 22.04
Version: 2.11.1

[2022-05-15 09:18] njmulsqb commented on #6709
This issue still exists in 2.11.1 The chromium browser crashes itself and yes chromium is installed via Snap

[2022-05-15 09:25] thc202 commented on #6709
If the issues are still open it means the issues were not addressed.

[2022-05-15 09:32] thc202 commented on #6709
Merging into #7095.

[2022-05-15 09:32] #6709 closed

[2022-05-15 09:35] thc202 commented on #7095
Tweaked the issue title to make it more generic. This is not an issue in ZAP but the WebDrivers which should cope with the browsers installed differently.

For geckodriver with snap that's mozilla/geckodriver#2010.

[2022-05-15 13:05] kingthorin commented on #3951
I think I’m going to break this into two tasks/PRs. One to simply respond okay when there are zero import issues. Another to allow setting response code of API responses in core.

[2022-05-15 19:16] andregasser commented on #244
@kingthorin @psiinon  See my comment before.

[2022-05-15 20:45] kingthorin commented on #244
Heya, sorry for the delay. I’m not sure what’s left to tackle here. A few of the TLS items can’t actually be done (not easily anyway). For the others we would have to go through and see if there are any rules they map to.

[2022-05-15 20:46] kingthorin commented on #244
If you see something outstanding that seems at all interesting to you then yes please feel free to put together a PR.

[2022-05-16 07:55] njmulsqb commented on #7095
The

The issue is, Ubuntu now by default is using snap to install packages, even if you run `sudo apt install chromium-browser` it instead of fetching from apt repository, runs snap process in the backend.
Firefox is also installed via Snap, so ZAP is unable to run both of these on Ubuntu 22.04

[2022-05-16 11:48] kingthorin commented on #7095
This likely applies to Firefox from the Windows store as well: https://github.com/zaproxy/zaproxy/issues/7095

[2022-05-16 13:37] kingthorin commented on #7134
1. Push to your fork not zaproxy's.
2. That would be perfect.

[2022-05-16 13:48] thc202 commented on #7134
Take into account that some file systems are case insensitive.

[2022-05-17 06:39] #4394 closed

[2022-05-17 23:35] kingthorin commented on #7095
I was finally able to test this on a Win 11 VM.

I was able to work around the issue by setting the path to the Firefox binary in ZAP's options:
`C:\Program Files\WindowsApps\Mozilla.Firefox_100.0.1.0_x64__n80bbvh6b1yt2\VFS\ProgramFiles\Firefox Package Root\Firefox.exe` it would be my guess that the middle part is not static/stable due to inclusion of version # and what I'm guessing is a profile I

[2022-05-17 23:52] kingthorin commented on #4024
I think the only thing remaining in the swag repo is the T-Shirts (I couldn't view the *.icns file so I'm not sure if it was replaced ... hopefully it is in sync with the icns task mentioned above).

[2022-05-18 07:28] meshiyo opened #7288 "Use swagger file in public S3 bucket at the target API definition"
### Is your feature request related to a problem? Please describe.

Hi,
I'm trying to run Zap API scan on a json swagger file, when I do it locally everything works fine but when I try to use URL of this specific file in a public S3 bucket it's trying to perform an API scan on the S3 URL itself.
Is there a feature for that ?

### Describe the solution you'd like

Check if the url provided is a rem

[2022-05-18 07:34] thc202 commented on #7288
What's the issue? Did you check the log/output?

[2022-05-18 07:36] meshiyo commented on #7288
The issue is that it trying to run API scan on the target url `https://www.bucket-name.s3.amazonaws.com/openapi.json` and not on the content of this swagger file.

[2022-05-18 07:43] thc202 commented on #7288
Use the `-O` argument: https://www.zaproxy.org/docs/docker/api-scan/

[2022-05-18 07:55] meshiyo commented on #7288
Thanks!!!

[2022-05-18 09:35] meshiyo opened #7289 "Can't Run Zap API scan with authentication on a remote target swagger file"
### Describe the bug

Hi,
I'm running Zap API scan on a remote swagger file (json format) in S3 bucket, here is the command:

`docker run -v $PWD:/zap/wrk/:rw -t owasp/zap2docker-weekly zap-api-scan.py \
  -t https://bucket-name.s3.amazonaws.com/openapi.json -f openapi -O "" \
  -z "-configfile /zap/wrk/conf" -J output-zap.json`

The config file contains this content:
`replacer.full_list(0).descri

[2022-05-18 09:45] #7289 closed

[2022-05-19 01:26] kingthorin commented on #4024
Closing all tasks complete

[2022-05-19 01:26] #4024 closed

[2022-05-19 11:48] jlbaum opened #7290 "How to send mail when high alert appear in scan"
### Is your feature request related to a problem? Please describe.

Hello I would like to send emails to an smtp to syslog when a critical alert is received

### Describe the solution you'd like

Could I use this to develop this feature to send mail when receive an alert?
https://www.zaproxy.org/docs/developer/creating-new-addon-in-zap-extensions/

### Describe alternatives you've considered

No

[2022-05-19 11:56] psiinon commented on #7290
Please dont ask questions as issues. The ZAP groups are a much better place for those: https://www.zaproxy.org/community/

[2022-05-19 11:56] #7290 closed

[2022-05-19 11:56] kingthorin commented on #7290
Go for it. Though you should develop it as a third party add-on not add it to zap-extensions.

Some examples of other third party add-ons:
- https://github.com/kingthorin/neonmarker
- https://github.com/SasanLabs/owasp-zap-jwt-addon

[2022-05-20 07:59] thc202 opened #7292 "Client connection kept open longer than it should after forwarding response"
The client side connection is kept open after forwarding a response without Content-Length making the client waiting for more data when there is none (and ZAP waiting for a new request), eventually ZAP times out and closes the connection.

From: https://groups.google.com/g/zaproxy-users/c/xmTsLCOLSvQ/m/ZAC_A_I2DAAJ

Happens in ZAP 2.11.x and weeklies.

[2022-05-20 10:42] vx-sec opened #7293 "Ability to provide values for OpenAPI schema types"
### Is your feature request related to a problem? Please describe.

The OpenAPI import add-on uses a predefined hashmap for default values to use if no values are specified as example.
That presents an issue for endpoints like `/accounts/{account_id}/remove` where an example value might change between each testing, and the default `10` for integers is most likely wrong.

### Describe the solution

[2022-05-20 10:46] psiinon commented on #7293
This is already supported as per https://www.zaproxy.org/docs/desktop/addons/openapi-support/#user-specified-values
Have you tried that?

[2022-05-20 10:51] vx-sec commented on #7293
Oh I somehow missed that point.

I am guessing this is how you specify values for types through Form Handler?

![image](https://user-images.githubusercontent.com/103114290/169512839-459302f9-7cbc-4df2-ae18-4b7e876cd088.png)

[2022-05-20 11:23] psiinon commented on #7293
Yeah, thats how you do it :)
Let us know how you get on with that...

[2022-05-20 11:41] vx-sec commented on #7293
Works like a charm, should have RTFM. :)
For example in case of `/accounts/{account_id}/remove`, you just specify `account_id` as a field name and give it a value in form handler.
Closing.

[2022-05-20 11:41] #7293 closed

[2022-05-20 15:27] kingthorin commented on #7278
@security-companion any news?

[2022-05-21 06:02] thc202 commented on #6094
Closing with zaproxy/zap-extensions#2916 and zaproxy/zap-extensions#2942.

[2022-05-21 06:02] #6094 closed

[2022-05-21 20:24] security-companion commented on #7278
Sorry for the delay, was busy with bugs in another project.
I'll let you know once I have something set up.

[2022-05-22 08:28] thc202 commented on #7268
@k3v3n were you able to look at this?

[2022-05-22 17:29] njmulsqb commented on #7095
![image](https://user-images.githubusercontent.com/47940898/169707808-957c4f3e-ce10-427f-b47d-d387cfd1738c.png)
I have provided locations for both chromium and firefox browser in selenium section but still its not working, currently I am unable to use both browsers in Zap on ubuntu. Any other workaround?

[2022-05-23 15:24] AgroDan opened #7296 "Response body showing blank content when data is confirmed there"
### Describe the bug

I discovered aberrant behavior after discovering a local file inclusion vulnerability. To exploit it further, I opened the request in the manual request editor and attempted fuzzing. Eventually I discovered the vulnerability was capable of reading arbitrary file contents. By dumping the contents of /etc/passwd of the remote server I confirmed that data was output to the reque

[2022-05-23 15:27] AgroDan commented on #7296
FYI -- all data posted here is not sensitive, it is part of a challenge on hack the box.

[2022-05-23 15:49] thc202 commented on #7296
The body is empty because of `Content-Length: 0`.

[2022-05-24 12:37] trevor-vaughan opened #7297 "I would like to be able to export and import alerts for post-processing"
### Is your feature request related to a problem? Please describe.

When working with other users, it would be nice to be able to share alert data in such a way that false positives, etc... can be reviewed offline and then re-imported into a running session.

This would also be useful when collaborating and needing to show someone exactly what you expect without needing to either take control of t

[2022-05-24 13:33] psiinon commented on #7297
The alerts can be retrieved via the ZAP API.
Does the HAR format support alert type data? I thought it was just for requests and responses :/
You could just create your own report in whatever format you like: https://www.zaproxy.org/docs/desktop/addons/report-generation/create/

[2022-05-24 13:35] trevor-vaughan commented on #7297
@psiinon I don't know that HAR does support alerts. It was a thought since it has all of the other data that is required.

The goal is to be able to use the context menu in the Alerts pane instead of needing to create an additional post-processing utility.

[2022-05-24 13:39] globeone opened #7298 "Feature Request: please add a check for alasql JavaScript vulnerability and/or integrate Snyk"
The alasql javascript library <0.7.0 contains a arbitrary code injection vulnerability with a validated Proof of Concept.

An example header string to regex against is:
`//! AlaSQL v0.4.5 | © 2014-2016 Andrey Gershun & Mathias Rangel Wulff | License: MIT
!function(e,t){"function"==typeof define&&define.amd?define([],t):"object"==typeof exports?module.exports=t():e.alasql=t()}`

Snyk has a good des

[2022-05-24 13:57] kingthorin commented on #7298
@globeone could you do an upstream PR and let us know once it's accepted, then we can easily update on our side.

[2022-05-24 14:20] globeone commented on #7298
@kingthorin apologies for being dense but, by upstream request do you mean request to RetireJS for them to add alasql to their vulnerability database? If so, sure. I'll get on that. or did you mean in ZAP?

[2022-05-24 14:22] kingthorin commented on #7298
No problem, it's a fair question. I meant for RetireJS.

[2022-05-24 14:23] kingthorin commented on #7298
Specifically it'd be a PR against: https://github.com/RetireJS/retire.js/blob/master/repository/jsrepository.json details for that file are here: https://github.com/RetireJS/retire.js/tree/master/repository#jsrepositoryjson

[2022-05-24 15:10] globeone commented on #7298
Started the upstream process here:
https://github.com/RetireJS/retire.js/issues/380

[2022-05-24 20:06] Leyart commented on #7155
Related PR: https://github.com/zaproxy/zaproxy/pull/7299

[2022-05-25 08:16] thc202 commented on #7296
That's the expected behaviour https://datatracker.ietf.org/doc/html/rfc7230#section-3.3.3 Now ZAP could try guess that the remaining data is part of the body.

[2022-05-25 08:22] psiinon commented on #7296
It would be nice to flag this in some way in the UI, and either display the data by default or allow it to be displayed.
Malformed data is what ZAP is all about ;)

[2022-05-25 14:23] mihaiursulego opened #7301 "ZAP API requests can be excluded from proxy"
### Describe the bug

Hello,

On current https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/authentication/HttpAuthenticationMethodType.java#L401 was introduced a bug which blocks things for http requests which aren't using a realm as the if was removed.

### Steps to reproduce the behavior

1. Take the variant before the PR 7085 and do a generic SCAN with proxy. Doesn'

[2022-05-25 14:46] kingthorin commented on #7301
What's the error you're encountering?

[2022-05-25 14:58] mihaiursulego commented on #7301
@kingthorin  ZAP Error [java.net.UnknownHostException]: zap
     | Stack Trace: java.net.UnknownHostException: zap  at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:184)  at
     | java.net.SocksSocketImpl.connect(SocksSocketImpl.java:392)  at java.net.Socket.connect(Socket.java:607)  at org.zaproxy.zap.ZAP$ProtocolSocketFactoryImpl.createSocket(ZAP.java:434)
     | at org.

[2022-05-25 17:00] mihaiursulego commented on #7301
@thc202 normal inside company security scanning. I've supplied  an external link because doesn't matter which link is added for scanning it will give the same error ... Which doesn't happen with versions before w2022-02-14. Could please you help me?

[2022-05-25 17:20] thc202 commented on #7301
The referenced pull request is unrelated to the steps and the exception provided. Are you accessing the ZAP API before calling that endpoint?
The realm is not taking into account unless the site requests HTTP authentication, which does not seem to be the case.

[2022-05-25 17:26] dracmic commented on #7301
@thc202  it isn't the single the call I am doing and they are successful only this failing. How I mentioned I've tested the one before the mentioned release and it works. I am running the zap scanner inside docker and I have some custom build this scripts which I also tested today all day, but the cause after testing weekly releases it is the PR mentioned in my case.

[2022-05-25 17:36] mihaiursulego commented on #7301
@thc202  it isn't the single the call I am doing and they are successful only this failing. How I mentioned I've tested the one before the mentioned release and it works. I am running the zap scanner inside docker and I have some custom build this scripts which I also tested today all day, but the cause after testing weekly releases it is the PR mentioned in my case.

[2022-05-25 17:40] thc202 commented on #7301
ZAP is composed of different codebases, given the date when the issue started and the exception provided most likely problem is in an add-on (i.e. Network) not the referenced pull request. I still need the details that lead to the issue.

[2022-05-25 18:15] mihaiursulego commented on #7301
@thc202 simply I've taken over the task to update the internal company zap scanner and the source code in the release was your latest stable release. As I prefer to be up to date and automate the things, I was trying to get the latest weekly and throw it inside the docker(entire directory of Zap unmodified). But I got bumped over this, and after investigating the internal scripts and checked all t

[2022-05-25 18:27] kingthorin commented on #7301
Details of exactly what API calls etc are being used, in what order, are necessary to re-create and troubleshoot the issue.

If you’re unable to provide the details we will be unable to assist further.

[2022-05-25 18:40] mihaiursulego commented on #7301
@kingthorin  as I am on EU region I will do a list of the calls and I will come to you tomorrow, which are all to your zap proxy.

[2022-05-25 22:00] SkypLabs commented on #30
I wish, but it seems the ticket finally got some traction from project members! :crossed_fingers:

[2022-05-26 05:38] mihaiursulego commented on #7301
@kingthorin  @thc202  can you please advise how to share the execution logs as they are kinda big to be shared as raw here. I've used a personal domain which I own instead of the company one.

[2022-05-26 05:58] thc202 commented on #7301
Are the logs with debug? Did you try attach them? Otherwise you can try send them directly I guess (same username at gmail).

[2022-05-26 06:14] mihaiursulego commented on #7301
With debug info from wrappers not from ZAP itself. I can't attach them here :)  only to raw paste :)

[2022-05-26 06:23] mihaiursulego commented on #7301
I've send them to your gmail @thc202.

[2022-05-26 06:26] thc202 commented on #7301
Thank you!

Have you tried with the latest weekly release? Could you if not?
There were more changes since then that could have address this (thinking of zaproxy/zap-extensions#3615).

[2022-05-26 06:32] mihaiursulego commented on #7301
@thc202  I'm sorry to announce you that from that I started to investigate and debug it so the latest release doesn't solve it. As I wanted to have a Dockerfile which will pull and copy the latest weekly and bake it in docker.

[2022-05-26 06:35] thc202 commented on #7301
That's ok, could you still provide the logs with the latest weekly? I'm interested in an up-to-date stacktrace.

[2022-05-26 06:38] mihaiursulego commented on #7301
@thc202  you have them in email :)

[2022-05-26 08:41] thc202 commented on #7301
Thank you for the details provided.

[2022-05-26 09:55] #7301 closed

[2022-05-26 10:11] #7298 closed

[2022-05-26 11:43] kingthorin commented on #7298
Version 0.12.0 of the `retire` add-on was just released which now includes a check for this.

[2022-05-27 12:40] globeone opened #7303 "False Positive ZAP doesn't detect the Content-Security-Policy header in the Meta tag"
### Describe the bug

Passive (10038 - Content Security Policy (CSP) Header Not Set)
is being triggered even though the Content Security Policy has been set in the `<meta>` tag which is valid usage according to Content-security-policy.com. Not all developers have access to the HTTP headers of their application, for example with proxies or microservices, so some will choose to set the tag in the `<

[2022-05-27 12:44] kingthorin commented on #7303
https://groups.google.com/g/zaproxy-users/c/kyle7Fe5ke8/m/vP78cYFhAQAJ

[2022-05-27 13:31] globeone commented on #7303
One note: the `frame-ancestors;`  and `sandbox;` tags are not supported in the `<meta>` tag version of the Content-Security-Policy header leaving a site open to clickjacking attacks without some type of counter-measure. So, wonder if it should still be flagged under Passive (10020 - Anti-clickjacking Header) when there is also no X-Frame-Options header, yet a Content-Security-Policy header set in

[2022-05-29 04:56] kingthorin commented on #6579
I think this can be closed now?

[2022-05-29 05:42] thc202 commented on #6579
There are still things that need to be moved at some point (e.g. core endpoints).

[2022-05-29 07:10] kingthorin commented on #6579
Do you mean API stuff?

[2022-05-29 07:24] thc202 commented on #6579
Yes.

[2022-05-30 10:54] slicedpan opened #7309 "Support throttling in Spider"
### Is your feature request related to a problem? Please describe.

The Spider does not support throttling, so is always set to make requests as fast as it can. In some cases this is undesirable, as this can cause availability issues with brittle targets.

### Describe the solution you'd like

The spider should support a *delayInMs* parameter (like the active scanner), which will delay requests by

[2022-05-30 10:57] psiinon commented on #7309
Sounds good to me :) Would you like to be assigned this issue?

[2022-05-30 10:59] slicedpan commented on #7309
Sure.

[2022-05-30 11:03] thc202 commented on #7309
Duplicate of #1314 but I guess we can keep this one.

[2022-05-30 11:04] thc202 commented on #1314
Tweaked to just cover one enhancement, the other is being tracked in #7309.

[2022-06-02 07:15] cn-fairy opened #7314 "Translation project transfer"
### Is your feature request related to a problem? Please describe.

Transfer translation to GitHub

### Describe the solution you'd like

Crowdin is not conducive to translation. Can you put translation on GitHub?

### Describe alternatives you've considered

Transfer translation to GitHub

### Screenshots

![image](https://user-images.githubusercontent.com/74580422/171574516-410b70e5-d500-4e18-95

[2022-06-02 08:19] psiinon commented on #7314
Crowdin is a platform focussed on traslation - I'm not sure how transfering to github will help.
Can you explain in detail why you think it would be better?
We have over 600 people translating zaproxy on Crowdin, we would need to be sure that the majority of active translators would prefer github over Crowdin, which tbh I think is unlikely.

[2022-06-02 09:56] cn-fairy commented on #7314
Crowdin's access is restricted in some countries (China). When there are multiple translations of a word, it can't be well communicated and confirmed to adopt that one.
Or both Crowdin and GitHub are adopted to avoid some inaccessible translation project being suspended.

[2022-06-02 11:06] ArkaprabhaChakraborty commented on #7140
Can I be assigned this issue? :)

[2022-06-03 07:28] #6547 closed

[2022-06-04 17:45] dies commented on #7314
Hi @cn-fairy

Crowdin is not banned in China. Crowdin uses AWS infrastructure to make it as fast as possible in China

[2022-06-05 00:58] cn-fairy commented on #7314
Yes, the inaccessible description error (only the company network test was used)

[2022-06-05 02:31] kingthorin commented on #7314
So you couldn’t access it from work and assumed that meant it was blocked across China?

[2022-06-05 23:04] kingthorin commented on #6579
Could you add them to the checklist? I'm not sure what I've overlooked.

[2022-06-06 06:59] #6959 closed

[2022-06-06 19:57] chivandikwa commented on #2819
This would be great as well to be able to do with the docker scans

[2022-06-08 05:17] zesty commented on #541
toolbar icons are too small; need an option to choose larger size or scale by X%

[2022-06-08 08:06] psiinon commented on #541
You can do this by changing the font size - this scales all of the icons accordingly.
We could have an additional control which just affects icons - thoughts anyone?

[2022-06-08 08:42] ricekot commented on #541
Sounds reasonable to me. I believe there have been requests for bigger icons in the past as well.

[2022-06-08 09:11] DiogoMRSilva commented on #541
Hi, just checked and break panel icons don't increase with the font size, but all the others increase. I think the fix should be to fix the break bar behavior instead because if someone can't see an icon he would also not be able to see the letters.

[2022-06-08 09:15] psiinon commented on #541
Oh! Thats a bug then. They do get resized in the main toolbar (which is where I use them) but I hadnt checked them in the break panel...

[2022-06-08 09:25] DiogoMRSilva commented on #541
![image](https://user-images.githubusercontent.com/6045401/172582213-c739544d-3a4b-4ea1-979b-4ca2958ce899.png)

[2022-06-08 09:31] psiinon commented on #541
Yep, thats a bug.
Should be a relatively quick fix, but its a core change so wont be available until the next full release / weekly after the fix has been done...

[2022-06-08 09:55] ricekot opened #7322 "graphql: Reduce size of the add-on"
### Describe the bug

The GraphQL Support add-on in the zap-extensions repository grew by more than 5 times its size between versions [0.6.0](https://github.com/zaproxy/zap-extensions/releases/tag/graphql-v0.6.0) and [0.7.0](https://github.com/zaproxy/zap-extensions/releases/tag/graphql-v0.7.0).

The cause for the size inflation is most probably the dependency updates that were done as part of htt

[2022-06-08 10:15] ricekot opened #7323 "graphql: Add integration test"
### Is your feature request related to a problem? Please describe.

Add an integration test that makes use of the graphql add-on similar to the [integration test with the openapi add-on](https://github.com/zaproxy/zaproxy/blob/11cad5b9498b590cbdcfffa8486768a689219e3e/docker/integration_tests/configs/plans/petstore-openapi.yaml).

This could be done with any public GraphQL API like the ones listed

[2022-06-08 11:00] ricekot opened #7324 "graphql: Add GraphQL-specific scan rules"
### Is your feature request related to a problem? Please describe.

Existing active scan rules in ZAP are able to inject payloads in GraphQL queries in the sites tree thanks to the GraphQL Input Vectors script. However, there is a lack of scan rules in ZAP that target _GraphQL-specific_ vulnerabilities.

Here are some attacks with references that could be used to write new scan rules that target G

[2022-06-08 11:33] zesty commented on #541
The font size change is a workaround, but I'd much prefer not to have the icon size and font size linked. Also, font/icon size changes don't take effect until restart: they should take effect immediately on changing the value, or at least after pressing OK on the dialog -- or is that a java thing?

[2022-06-08 11:38] psiinon commented on #541
When I looked last time changing the font and icon sizes dynamically proved too hard.
However we did manage to get the Look&Feel to change dynamically, so it might be possible.
There are quite a few dialogs that dont scale with the font - I've been meaning to address these for some time but no one else has complained so it wasnt high on my list - I use it for demos when sharing my screen but I was

[2022-06-08 15:06] psiinon opened #7326 "Allow icons to be scaled independently of the text"
As per #541 buttons are scaled when the default font is scaled.
Having an option to scale them independently would help some people.
I think keeping the current behaviour as the default would be best.

[2022-06-08 16:19] psiinon commented on #7326
If anyone else fancies having a go at this then the key class is https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/utils/DisplayUtils.java - esp the getScaledIcon(..) methods.
The options will also need changing as well as the relevant dialog...

[2022-06-09 03:07] surferjeff opened #7329 "Windows installer is not signed"
### Describe the bug

I downloaded the Windows 64 installer from:
https://www.zaproxy.org/download/

A box pops up and says, "Do you want to install this program from an _unknown_ publisher?"

No, I don't.

I never install software that isn't signed.  I especially expect a security tool to be signed.

### Steps to reproduce the behavior

Download and run https://github.com/zaproxy/zaproxy/releases

[2022-06-09 04:50] thc202 commented on #7329
Closing as duplicate of #3337.

[2022-06-09 04:50] #7329 closed

[2022-06-09 08:48] #541 closed

[2022-06-10 09:09] thc202 commented on #4633
The `-silent` just prevents automatic check for updates requests not the ones required to install the add-ons.

[2022-06-10 17:54] huornlmj commented on #6655
This issue is still present in 2.11.1

[2022-06-10 17:58] kingthorin commented on #6655
Please be more specific. Scan rules are not part of ZAP core. Add-ons (which contain scan rules) have their own version numbering.

[2022-06-11 07:36] thc202 commented on #1523
Should we merge this into #1523?

[2022-06-11 09:30] ricekot commented on #1523
This _is_ 1523 :).

[2022-06-11 09:49] thc202 commented on #1523
D'oh! This one #7140.

[2022-06-11 10:44] kingthorin commented on #1523
Duplicate zaproxy/zaproxy#7140

[2022-06-11 10:44] #1523 closed

[2022-06-12 12:52] aerosayan opened #7336 "Add "trashbin" for recent items deleted by mistake"
### Is your feature request related to a problem? Please describe.

Problem : When rightclicking on a request, the "Delete" option is right next to the "Note", and "Break" option. Thus it's easy to hit it. Accidentally deleting a critical request is problematic. Even in persistent sessions, the requests which get deleted seems impossible to recover.

### Describe the solution you'd like

1. "Trash

[2022-06-12 13:11] thc202 commented on #7336
Have you checked Neonmarker add-on?

[2022-06-13 06:21] aerosayan opened #7339 "Show zaproxy comments/note in history tab by default"
### Is your feature request related to a problem? Please describe.

Not being able to read the notes/comments directly in history tab hinders productivity. If we have 5,000 recorded responses, and only few hundred of them are critical for pentests, then it becomes difficult to figure out which ones are important as we scroll through the history tab. Currently the notes don't seem to be printed in

[2022-06-13 06:37] aerosayan commented on #7336
Since implementing this new requested feature will be time consuming, a temporary (but very effective) fix may be to create two empty dummy/inactive region (of 1 cm height) above and below the "Delete" option. This would improve visibility of the "Delete" option, and will *significantly* reduce accidental clicks on it.

[2022-06-13 08:07] knazanga commented on #4633
I tried using weekly release and I've same issue. This issue occurs only when I provide a custom config file with `-c` option, even if this config file is the default config generated when I use `-g` option.

[2022-06-13 08:37] aerosayan commented on #7339
One temporary workaround in the absence of this feature, seems to be to add comments in the form of "Tags" by using the "Manage History Tags" options. I don't know if it's the intended use of "Tags", but it works well enough for me now. I will leave the rest of the decision to the zaproxy team on how the "Note" feature can be improved.

Thanks

[2022-06-13 16:30] sgerlach commented on #7100
90028 Should be added here. Adds the method to the Title.

[2022-06-13 16:41] sgerlach opened #7341 "Break out Blind/Timing Based Injections To Separate Rules"
### Is your feature request related to a problem? Please describe.

In at least the SQL Injection (40018) and OS Command Injection (90020) plugins, there are definitive attack/response detections and non-definitive attack/responses usually assigned with blind injection attacks. Those attacks attempt to perform a sleep injection to control the applications timing and perform StdDev work on the resp

[2022-06-14 05:10] knilink commented on #6509
![image](https://user-images.githubusercontent.com/17878530/173497865-efd2c73a-698a-4167-a4e0-997b8fcbfcce.png)
my case was it took over 1min to scan a large bundle file

[2022-06-14 05:15] zesty opened #7343 "bad path for selenium webdrivers in weekly builds"
### Describe the bug

Weekly builds look for selenium webdrivers in $HOME/.ZAP/webdriver/linux/64/chromedriver and $HOME/.ZAP/webdriver/linux/64/geckodriver but those paths are created and used by stable/release builds which may not be installed on the system.

Weekly builds should look in $HOME/.ZAP_D.  There may be other such instances.

### Steps to reproduce the behavior

1. remove $HOME/.ZAP

[2022-06-14 05:20] zesty commented on #7343
workaround:

`$ ln -s ~/.ZAP_D ~/.ZAP`

[2022-06-14 05:58] thc202 commented on #7343
Could you provide the first log lines during start up? The weekly builds do use `.ZAP_D`.

[2022-06-14 06:08] thc202 commented on #6509
Could you try the weekly release without disabling the tag? Just to check how much difference #7270 does in this case.

[2022-06-14 06:11] zesty commented on #7343
They don't. That's why it's a bug. :-)

[code]

reconfirmed bug:
[code]

[2022-06-14 06:18] thc202 commented on #7343
Could you start with a clean directory? i.e. `-dir` https://www.zaproxy.org/docs/desktop/cmdline/#options

[2022-06-14 06:29] zesty commented on #7343
`-dir /tmp/clean` option works, but still gives profile error

[code]

[2022-06-14 06:33] karthikuj commented on #7209
I would like to reserve the following URLs:

/test/html/head/import/implementation.found
/test/html/head/meta/content-csp.found
/test/html/head/meta/content-pinned-websites.found
/test/html/misc/string/url-string.found
/test/html/misc/string/string-known-extension.pdf

[2022-06-14 07:18] thc202 commented on #7343
Which Firefox version and OS?

[2022-06-14 07:21] Samu7ai opened #7344 "How can I export the fuzz report with all the requests and respones"

[2022-06-14 07:25] Samu7ai commented on #7344
After I finish the Fuzz, I only can export the report with basic details, but I want to export the all the request and response body. I really don't know how to do it or ZAP has the function to export the result.

[2022-06-14 07:35] #7344 closed

[2022-06-14 07:39] thc202 commented on #7209
Reserved and issue assigned.

[2022-06-14 07:42] thc202 opened #7345 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

Comment on this issue with the URLs you would like to be assigned - they must not alr

[2022-06-14 09:00] cedricbu opened #7346 "ZAP fails to import recursive OpenAPI definitions"
### Describe the bug

When attempting to import an OAS definition which happens to have recursions, it causes a stack overflow in ZAP, and the import fails.

### Steps to reproduce the behavior

1. Create an OAS, that contains some recursions. e.g.:

[code]

2. Load it in ZAP ( "import" -> "Import an OpenAPI definition..."
3. Select the API you have created earlier, and click 'Import'
4. ... nothi

[2022-06-14 09:03] thc202 commented on #7346
Based on the stacktrace this seems to be a problem with the Swagger library.

[2022-06-14 09:11] zesty commented on #7343
Mozilla Firefox 101.0.1

Ubuntu 22.04 LTS
Linux darkstar 5.15.0-37-generic #39-Ubuntu SMP Wed Jun 1 19:16:45 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

[2022-06-14 09:19] kingthorin commented on #7343
How was Firefox installed? (Snap?)

[2022-06-14 09:20] thc202 commented on #7343
Based on their release notes Firefox is now provided as snap: https://discourse.ubuntu.com/t/jammy-jellyfish-release-notes/24668

That would be #7095.

[2022-06-14 09:22] kingthorin commented on #7343
Agreed, this can be closed as duplicate.

[2022-06-14 09:23] zesty commented on #7343
As previously stated, this is not a snap build.

[2022-06-14 09:27] thc202 commented on #7343
Did you manually install the deb package?

[2022-06-14 09:29] zesty commented on #7343
It's an tarball install, ala https://download.mozilla.org/?product=firefox-latest-ssl&os=linux64&lang=en-US

[2022-06-14 09:33] thc202 commented on #7343
`which firefox`? In any case the problem you are seeing is the same that happens with snap, unable to create the profile in the temporary directory.

[2022-06-14 09:53] zesty commented on #7343
OK, so the profile issue is not limited to snap builds, but this bug is primarily about the directory issue, which has two workarounds and no fix.

[2022-06-14 09:58] thc202 commented on #7343
With directory issue are you referring to use of `.ZAP` when running weekly?

[2022-06-14 15:22] kingthorin commented on #7140
Super short list?
https://github.com/lutfumertceylan/top25-parameter

Could also leverage the HUNT lists.
https://github.com/bugcrowd/HUNT/blob/master/Remix/ZAPRemix/src/main/kotlin/HuntData.kt

[2022-06-14 15:43] ArkaprabhaChakraborty commented on #7140
Thank you @. I'll try to use them too. This will speed up the bruteforce process and will also help to identify what type of attack can be carried out with these parameters.

[2022-06-14 16:46] kingthorin commented on #7140
Just ideas, don't let any of it interfere with actually finishing/progressing :wink:

[2022-06-14 23:55] knilink commented on #6509
can confirm it's the issue of `resBodyRegex`.
changing it to `/\shref\s*=\s*['"]?mailto:/` instead of disabling it also fixed the issue.

[2022-06-15 00:17] kingthorin commented on #6509
Didnyou t3st both positive and negative cases?

[2022-06-15 00:22] kingthorin commented on #6509
Please open another issue,  that new block of three items is unrelated. It's likely related to: https://groups.google.com/g/zaproxy-users/c/ywuxxTOZldE/m/uojkxKZXCwAJ

[2022-06-15 00:54] knilink commented on #6509
@kingthorin yeah, just want to say the threading didn't help solving this performance issue since weekly image was asked about in the comment above. What we saw was  `recordsToScan` stuck at 4 for 5 hours long which was confusing.

Ii'll open another issue after i do a double check when I have time because threading had been released in `w2022-05-23` but `recordsToScan` seemed to be normal with th

[2022-06-15 05:01] thc202 commented on #6509
Thank you. I didn't expect it to fix it, just wanted to see if it did any difference.

[2022-06-15 07:28] psiinon commented on #7341
I definitely like the idea of people being able to disable all of these checks in one go.
I do worry that moving them all into a new add-on will be difficult, but lets discuss what options we have.
One possibility would be to abuse the 'technology' configs - maybe having a new "Attacks" / "Timing" option which would then work with minimal changes. We might be able to use this for other things?

[2022-06-15 07:35] thc202 commented on #7341
Just splitting into their own scan rules and keeping them in the same add-ons sounds better.

[2022-06-15 10:48] psiinon commented on #7341
We could tag them as well?

[2022-06-15 11:29] thc202 commented on #7341
Definitely.

[2022-06-15 11:31] kingthorin commented on #7341
Do you mean with Alert tags? Or do you mean with Tech as you originally suggested?

If you mean Alert tags then yes definitely.

[2022-06-15 11:55] psiinon commented on #7339
I'd be good with a new "Note details" column which could display the first x characters - we probably wouldnt display that by default but it would be easy to add once its available.
We could also make the note visible in a hover over - I can see both helping in different situations...

[2022-06-15 11:58] psiinon commented on #7336
Or we could add a "Are you sure you want to delete this?" dialog with a "Do not show me this agin" checkbox option...

[2022-06-15 12:17] zesty commented on #7343
yes

[2022-06-15 12:35] #6509 closed

[2022-06-15 12:51] psiinon commented on #7341
We've discussed this on IRC and we like the idea of splitting the timing checks into different rules, but keeping them in the same add-ons. The alert tags would be a bonus...

[2022-06-15 14:15] notgreg opened #7348 "Path Traversal test false positive"
We are running zap on our website , and it is reporting that we are vulnerable to Path Traversal

but i cannot see how this is any thing to do with folder traversal , the page does not allow path names or deal with filenames and the attack is not even submitting any of the parameters that would cause a problem

URL | http://lor-c2dev-001/selenium/admin/strings/10?searchLanguage=10
Method | GET
Par

[2022-06-15 14:26] psiinon commented on #7341
I've updated the first comment with a list of all the rules that I could find which perform timing based attacks - anyone think of any that I've missed?

[2022-06-15 15:15] kingthorin commented on #7348
Seems like a duplicate. The behaviour of the rule/check is described here: https://github.com/zaproxy/zaproxy/issues/7031#issuecomment-1015809942

[2022-06-15 16:09] DiogoMRSilva commented on #7341
In my opinion that shouldn't be  the solution to the time attacks fps. My suggested solutions are: improving the time delay detection logic by making an unique method in the common lib that would deal with the maths and number of requests, don't run time based if confidence is high, use several detection methods (delay, reflection, error) simultaneously and if more than one work increase confidenc

[2022-06-15 16:18] kingthorin commented on #7348
It's probably also a FP in your case, as with the issue you've duplicated. The problem would be if a malicious user could reference the local file and thus get the source code or some other unwanted behaviour.

[2022-06-15 17:33] cedricbu commented on #7346
Reported to Swagger : https://github.com/swagger-api/swagger-parser/issues/1751

[2022-06-15 19:14] thc202 commented on #7346
Thank you.

[2022-06-16 05:53] aerosayan commented on #7336
@psiinon it's a good trade off. Yeah.

Although I've seen that people freak out when such a prompt props up by accident and they click enter without even thinking. It might be necessary to set the default action be "No", such that people don't click enter on "Yes" by mistake. Either they would have to use the mouse to click "Yes", or use the arrow keys to focus on "No" and then click enter.

Thank

[2022-06-16 05:54] aerosayan commented on #7339
@psiinon sounds like a good idea.

[2022-06-16 07:19] cedricbu commented on #7346
Although I tried to use the https://editor.swagger.io/ against the problematic OAS, and it doesn't seem to any cause problem there.
* I am not able to find which version of swagger-parser is being used by ZAP. Maybe ZAP uses an old version ? (there were known recursion bugs in the past, per swagger-parser git history)
* Or could it be that ZAP doesn't use the library correctly ?

I simplified as m

[2022-06-16 07:20] notgreg commented on #7348
Thanks for the replies. do you know a way to stop this FP from happening, My boss does not want any false positives in the report if possible as they just show as alerts on customers systems when they run it and we then have to explain that to them

[2022-06-16 08:15] thc202 commented on #7346
Yes, I did think that could have been fixed (there was a new release yesterday) and read the latest code, the lines that lead to the overflow still match. I did not actually try running with the latest version though will do that now. Worth noting that we were not using the latest version (prior the yesterday's release) because it introduced other issues.

1) The OpenAPI add-on is in zap-extension

[2022-06-16 08:51] thc202 commented on #7346
The stack overflow still happens with the latest version (tested in isolation and with ZAP).

[2022-06-16 09:16] kingthorin commented on #7348
You can set an Alert Filter to classify it FP and exclude FPS from reports. Or you could disable the rule.

https://www.zaproxy.org/docs/desktop/addons/alert-filters/

[2022-06-16 09:38] kingthorin commented on #7348
Duplicate of zaproxy/zaproxy#7031

[2022-06-16 09:38] #7348 closed

[2022-06-16 15:00] RubenPozoMolina opened #7349 "Add application/x-ndjson to avoid Unexpected Content-Type was returned"
### Is your feature request related to a problem? Please describe.

We are getting  Unexpected Content-Type was returned for application/x-ndjson type.

### Describe the solution you'd like

Add the type to expected types

### Describe alternatives you've considered

Modify code locally

### Screenshots

_No response_

### Additional context

_No response_

### Would you like to help fix this issu

[2022-06-16 16:06] thc202 commented on #4630
I was not able to reproduce this issue with 2.7.0 (nor with the latest network changes), I tried with no transfer encoding and with chunked, in either case the response was as expected (also tried with different newline variations `\r` `\n` `\r\n`, in case that was the problem but no success either).

Closing, if anyone is able to reproduce this, please, leave a comment with the steps to reproduce

[2022-06-16 16:06] #4630 closed

[2022-06-17 05:12] RubenPozoMolina commented on #7349
I created https://github.com/RubenPozoMolina/zaproxy/pull/1 pr to add this document type

[2022-06-17 06:21] thc202 commented on #7349
It was created in your repo, could you do the PR against this one? Could you also update the changelog?

[2022-06-17 17:22] sridhar1090 opened #7350 "Zap"

[2022-06-17 17:25] #7350 closed

[2022-06-19 10:44] ricekot commented on #7027
The message that is added to the alerts is actually the one received by the OAST service and forwarded to ZAP, right? We would not want to change those. Also, the poll request is not shown in the History tab so I think in that case a warning should be sufficient.

[2022-06-19 15:19] ArkaprabhaChakraborty commented on #7140
More projects to be considered during research!!
https://twitter.com/hahwul/status/1538539422437609472

[2022-06-19 15:20] ArkaprabhaChakraborty commented on #7140
Thanks @hahwul!

[2022-06-19 15:53] thc202 commented on #7027
No, the alert has the message crafted by the scan rule which is about to be sent, e.g.: https://github.com/zaproxy/zap-extensions/blob/13364a19d5f9d9d51b60a78a37329498a9b070e2/addOns/ascanrulesAlpha/src/main/java/org/zaproxy/zap/extension/ascanrulesAlpha/OutOfBandXssScanRule.java#L167-L175

[2022-06-20 10:48] ArkaprabhaChakraborty commented on #7140
Another sort of list https://wordlists.assetnote.io/
:)

[2022-06-21 10:55] kingthorin opened #7352 "pscan could be less chatty/loggy"
I deleted a bunch of stuff from the Sites Tree while there was still a passive scan queue.

1. The passive scanner probably doesn't need to log the full trace on these.
2. Could the queue be modified when things are deleted from the Sites Tree?

Versions:
Java: 11.0.13
ZAP: Dev

[code]

[2022-06-21 15:43] DeppLearning opened #7353 "Header `If-None-Match: *` removed for PUT requests"
### Describe the bug

This has been raised before: https://github.com/zaproxy/zaproxy/issues/1284

I am experiencing the same issue, however for a PUT request. Mozilla describes two use cases for the header, where the second reads:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/If-None-Match

From what I understood, ZAP strips the header since it's related to caching and one want's fre

[2022-06-21 16:34] karthikuj commented on #7209
Hello folks! The following test case is logically incorrect and should not be found by any crawler. The details are mentioned below:

Test case - `/test/html/misc/string/string-known-extension.pdf`
CrawlMaze link - https://security-crawl-maze.app/html/misc/string/string-known-extension.html

Since the base href is `/test/html/misc/string` and the string in body is `/string-known-extension.pdf`, it

[2022-06-21 23:01] thc202 commented on #7209
That's not a link but plain text, it can be resolved it in whatever way we want.

[2022-06-22 02:10] kingthorin commented on #7352
I can address no.1. Not sure I can address no.2 or if it's even practical.

[2022-06-22 07:35] psiinon commented on #7352
1. is a good start :)

[2022-06-22 08:48] thc202 commented on #7352
The passive scanner does not have a queue as such, it's just a counter for the history ID.

IMO it could just log as debug. If the user deleted the message it's safe to assume that the message will no longer be scanned.

[2022-06-22 13:17] stasha opened #7354 "SSE URL column size is small"
### Describe the bug

In SSE plugin, URL column is 255 char long, but it's not enough in some cases.

### Steps to reproduce the behavior

Example:
`https://my.domain.withsomesuperlargesubdomain.and.additional.subdomain/somecool/context/event/?X-Atmosphere-tracking-id=0&X-Atmosphere-Framework=2.3.2-javascript&X-Atmosphere-Transport=sse&X-Atmosphere-TrackMessageSize=true&Content-Type=application%2F

[2022-06-22 13:32] kingthorin commented on #7354
@stasha the code in question is here: https://github.com/zaproxy/zap-extensions/blob/main/addOns/sse/src/main/java/org/zaproxy/zap/extension/sse/db/TableEventStream.java

There's info on setting up a development environment, etc. here: https://www.zaproxy.org/docs/developer/

[2022-06-22 15:46] bepooley opened #7355 "Chrome issue when clicking Launch Browser"
### Describe the bug

Hello

We have installed OWASP ZAP 2.11.1 on our development network. We have selected the standard method of installation which includes the automatic updates. When selecting “Manual Explore”, adding in a URL and then when selecting Launch Browser it works when Firefox is selected, but it does not work when Chrome is selected. When Chrome is selected a window appears as if i

[2022-06-22 17:12] bepooley commented on #7355
![image](https://user-images.githubusercontent.com/108015165/175097450-8eb1e09b-a652-419e-b47a-1eeb6c9a97bd.png)

[2022-06-22 17:20] kingthorin commented on #7355
Please update it, you have 33 installed but 39 is available which includes ChromeDrive 102.x.x.x.

[2022-06-22 18:48] bepooley commented on #7355
I have performed the update but it is still not working it says "the provided browser was not found" Is there a way that I need to pre-configure it to proxy through ZAP?

[2022-06-22 18:51] kingthorin commented on #7355
Are you able to start Chrome from a command prompt?
Was Chrome installed from the Windows store or a Google provided installer?

[2022-06-22 19:00] kingthorin commented on #7355
Probably just `chrome.exe`

[2022-06-23 12:05] agroszer opened #7358 "alertRef 10054 seems to miss to fill evidence when SAMESITE set to None"
### Describe the bug

Response sets cookies like this:

![Screenshot_2022-06-23_13-56-59](https://user-images.githubusercontent.com/350912/175293206-8121c32d-1327-4d81-85f1-586c8028b89e.png)

I get results in JSON:
[code]

`evidence` gets filled when `SAMESITE` is unset, but not when `SAMESITE` in `None`

### Steps to reproduce the behavior

see above

### Expected behavior

I think `evidence` sho

[2022-06-23 12:19] psiinon commented on #7355
They have now been released.
@bepooley can you update and try again?

[2022-06-23 12:32] psiinon commented on #6175
@gdgd009xcd fancy looking at submitting your add-on to the ZAP Marketplace again?

[2022-06-23 12:43] kingthorin commented on #7358
The code in question is here:
- Scan rule > https://github.com/zaproxy/zap-extensions/blob/main/addOns/pscanrules/src/main/java/org/zaproxy/zap/extension/pscanrules/CookieSameSiteScanRule.java
- Unit tests > https://github.com/zaproxy/zap-extensions/blob/main/addOns/pscanrules/src/test/java/org/zaproxy/zap/extension/pscanrules/CookieSameSiteScanRuleUnitTest.java
- - CHANGELOG > https://github.com/

[2022-06-23 12:45] kingthorin commented on #7358
It should be as simple as looking at how the 'missing' code adds the evidence and make sure the 'none' code does the same thing. Update the 'none' unit tests to assert that evidence is properly set. Add a note to the 'Unreleased' section of the CHANGELOG, probably under the `### Changed` sub-heading.

[2022-06-24 07:45] agroszer commented on #7358
Apparently I filed the bug at the wrong repo... PR is up for review, what to do?

[2022-06-24 07:51] roisec opened #7360 "Add SSRF Scan Rule"
### Is your feature request related to a problem? Please describe.

I want the ability to do an active scan for only SSRF attacks, like SQL injection attacks.
The active scan will put oast URL on every parameter and wait for a request.

### Describe the solution you'd like

preconfigured tests for SSRF attacks

### Describe alternatives you've considered

I think it can be implemented with zap ext

[2022-06-24 07:54] roisec opened #7361 "Webhook alerts"
### Is your feature request related to a problem? Please describe.

When the active scan is finished,
I want the ability to send a summary of findings through the webhook URL.

### Describe the solution you'd like

Ability to configure it through the zap settings.

### Describe alternatives you've considered

Using an external extension

### Screenshots

_No response_

### Additional context

_No

[2022-06-24 08:00] thc202 commented on #7361
Did you try using the ZAP API?

[2022-06-24 08:59] aerosayan opened #7362 "ability to jump to any request id in history tab"
### Is your feature request related to a problem? Please describe.

When there are 5,000 of recorded requests, it's difficult to find interesting requests. Sometimes interesting request are at a very large distance from each other. As in, you're trying to login into a website, and 100 different requests get made by the website, completely cluttering your workspace history. It's not easy to filter

[2022-06-24 09:45] aerosayan commented on #7362
Multiple lists would be good. Of course development is hard, and adding new features take time, so it might be better to only focus on the simpler features first, while keeping the system flexible enough for future features.

With mulitple lists, I had the intention of grouping and jumping from one important section to another.

As in, we might be only interested in testing the differences of auth

[2022-06-24 10:43] kingthorin commented on #7362
Something like this should work: https://stackoverflow.com/questions/853020/jtable-scrolling-to-a-specified-row-index

[2022-06-24 13:15] aerosayan opened #7363 "ability to load and display small sections of a large response body, and not display everything at once"
### Is your feature request related to a problem? Please describe.

Large response body texts generally are tens of thousand words long, and compressed into single line, that gets highlighted and wrapped to fit the small response window. That absolutely makes the app unresponsive on a standard laptop (4GB RAM, Intel i3, GNU-Linux).

The syntax highlighting causes a little bit of slowdown, but the

[2022-06-24 13:17] thc202 commented on #7363
Which ZAP version?

[2022-06-24 13:17] kingthorin commented on #7363
Could you try switching to a weekly build and testing performance? Some changes have been made to address this.

https://www.zaproxy.org/download/#zap-weekly

[2022-06-24 13:19] aerosayan commented on #7363
@thc202 OWASP ZAP 2.11.1 is what I'm using. I installed it through snap on linux.

[2022-06-24 15:13] #7358 closed

[2022-06-26 11:36] #7314 closed

[2022-06-26 12:53] kingthorin commented on #7336
There is already a confirmation dialog, that isn't ignoreable on the Sites tree "Delete" menu item:
https://github.com/zaproxy/zaproxy/blob/393fed828496f8eb1cb4d7b1b0f690945171c8d8/zap/src/main/java/org/zaproxy/zap/extension/history/PopupMenuPurgeSites.java#L60-L69

The same could/should be one on the History table version:
https://github.com/zaproxy/zaproxy/blob/8ac4b10d3d9d816957985694c2b7cf127d

[2022-06-26 12:55] thc202 commented on #7336
That's being done to, but when deleting more than one.

[2022-06-26 13:01] kingthorin commented on #7336
Those classes/items seem to be used whether it's one or many.

[2022-06-26 13:08] kingthorin commented on #7336
Oh I see what you're referring to (in the extension not the popup).

[2022-06-27 03:51] Srujankumar99 opened #7366 "Import ZAP Alert Rules to a file"
Hi,

I'm working on Automating the Dynamic Scan Analysis and I would like to pass the a set of scan rules to the API's while doing the scan.

Instead of scanning the API's with all the ZAP rules - I would like to scan all the API with only few rules. Multiple API's will be scanned in parallel by passing set of rules in the scan.

How do we import the ZAP Alert rules ( https://www.zaproxy.org/docs/

[2022-06-27 04:30] thc202 commented on #7366
Depends on how you are automating ZAP, see: https://www.zaproxy.org/docs/automate/

Usage questions are better in the OWASP ZAP User group: https://groups.google.com/g/zaproxy-users

[2022-06-27 04:30] #7366 closed

[2022-06-27 07:53] ccmsi opened #7367 "Accessing remote daemon instance using local instance as UI"
### Is your feature request related to a problem? Please describe.

Operating a remote zaproxy instance running in daemon mode.

### Describe the solution you'd like

Being able to connect a locally running zaproxy instance as user interface to a proxy instance in daemon mode for remote control.

### Describe alternatives you've considered

The API interface is accessible programmatically, however

[2022-06-27 08:03] thc202 commented on #7367
You can start ZAP with GUI and still access the ZAP API, there's also Webswing.

[2022-06-27 09:16] aerosayan commented on #7362
I found another way to achieve a similar result, i.e jump to an interesting request ID in history tab.

We right click on the requests in "Sites" tab on the left pane, and click on "Show in History Tab".

It's a great feature!

Commenting this here in case someone in future has the same problem, and search engines send them here.

[2022-06-27 09:27] ccmsi commented on #7367
The given in this case would be that there is a backend,. daemonized (zap-)proxy that sits between user and application, running on a headless server.
The wish would be the ability to connect another interactive interface where a GUI is available and which happens to be implemented in the same code / binary to that other backend instance that is watching the traffic.

[2022-06-27 09:33] psiinon commented on #7367
I think theres zero chance of us changing the ZAP desktop to connect to a remote instance of ZAP.
I like the idea, but it would be way too much work for us to consider.
It will of course be possible to implement a web UI on top of the ZAP API - I think thats a better alternative.
Again, not something I can see any of the Core Team working on right now (unless they want to of course;).
But at least

[2022-06-27 09:34] psiinon commented on #7362
Oh yeah, I should have mentioned that ;)

[2022-06-27 14:13] thc202 commented on #7363
Did you try the weekly release? The line splitting and other tweaks are already being done in that release to workaround the performance issues.

[2022-06-27 14:18] thc202 commented on #7363
This seems to be a duplicate of #5791 .

[2022-06-27 14:23] aerosayan opened #7368 "ability to regex or diff and remove unnecessary things from response body"
### Is your feature request related to a problem? Please describe.

Response bodies are obviously sometimes very large. It becomes difficult to find interesting and different things.

Common things which don't help pentesters include embedded google analytics code, embedded css, 6-10 MB sized embedded js script libraries like jquery, embedded svg and other things.

Sometimes websites use a common

[2022-06-27 15:27] thc202 commented on #7368
Encode/Decode dialogue with custom scripts should allow to do this.

[2022-06-27 17:03] aerosayan commented on #7363
OK, my desktop setup is messed up, but I will try the weekly build somehow. Thanks!

[2022-06-27 17:57] kingthorin commented on #7363
The weekly can just be unzipped and used, if that helps. It’ll also use a different ZAP home so things should be more up-to-date and clean.

[2022-06-27 19:27] rm-star opened #7370 "OpenAPI error message on incorrect apiFile is misleading"
### Describe the bug

When the field apiFile is incorrect, as in the file can not be found, the error produced is of the form

Job openapi started
Job openapi cannot read file: https://<ULK>
Job openapi finished
Automation plan failures:
        Job openapi cannot read file: https://<URL>

which can cause confusion, I know it led me down the wrong path for quite a while.
The URL being output is th

[2022-06-27 21:29] kingthorin commented on #3113
Dev group announcement: https://groups.google.com/g/zaproxy-develop/c/51Kv1re45l8

[2022-06-28 07:29] psiinon commented on #7368
I think scripts are the way to go.
Have a look at https://github.com/zaproxy/community-scripts/blob/main/targeted/Find%20HTML%20comments.js - I think it could be the basis of something much more sophisticated. If you write anything that significantly enhances it then please contribute it back :)

[2022-06-28 09:16] TheDcoder opened #7371 "Add ability to add custom hosts with fixed addresses (à la /etc/hosts)"
### Is your feature request related to a problem? Please describe.

I'm always frustrated when I need to modify my `/etc/hosts` file to add a custom host with a fixed address to fool my web-browser to use a different host name for the same remote host.

### Describe the solution you'd like

Since ZAP operates as a proxy, it can easily intercept requests to certain hosts and then redirect them to f

[2022-06-28 09:25] TheDcoder commented on #7371
@thc202 My bad, I did a customary search but none of the keywords matched, oops.

By the way, you closed this as "not planned" but you've added the duplicate issue to a new milestone? The message is kind of confusing :)

[2022-06-28 09:29] thc202 commented on #7371
That's a GitHub UI thing, that "category" includes duplicates.

[2022-06-28 09:32] thc202 commented on #7371
We can't choose the actual reason of the "not planned".

[2022-06-28 09:32] #7371 closed

[2022-06-28 09:34] TheDcoder commented on #7371
Ah, I see. Thanks for checking.

[2022-06-28 10:44] psiinon commented on #7368
Thats the advantage of scripting - you can make it as simple or complicated as you like 😁

[2022-06-28 14:27] psiinon commented on #6040
All done :)

[2022-06-28 14:27] #6040 closed

[2022-06-28 17:11] sgerlach commented on #7341
Thanks for the conversation here. I'm going to bounty each of these tasks to get some 💵 associated with this work.

[2022-06-29 00:42] ruipimentel commented on #7250
Hi, @kingthorin, this is me again, hopefully with some good news, but also with a lot of questions... 🥲

So I've set up a local copy of the source code following [the quick start guide](https://www.zaproxy.org/docs/developer/quick-start-build/) (and also managed to do the same in Visual Studio Code, too, and was surprisingly amazed by how straightforward it was; in case anyone is interested, just

[2022-06-29 00:45] ruipimentel commented on #7250
Sorry, I forgot to ask: should this issue be moved to the `zap-extensions` GitHub project?

[2022-06-29 00:47] ruipimentel commented on #7250
And sorry again, but right now I think it would be safe to rename the thread from:

`Fuzzer seems to ignore "set-cookie" response header`

to:

`Fuzzer ignores "set-cookie" response header`

[2022-06-29 06:29] thc202 commented on #7250
This is the right issue tracker.

The cookies are not managed automatically by design (i.e. to not change the message being fuzzed unless the user really wants to).
You can have the cookies managed while fuzzing by selecting a user or using the Global HTTP State. The former does not seem to apply to this case so the latter would be the way to go (though might be problematic if you are doing other

[2022-06-29 07:09] #7354 closed

[2022-06-29 07:45] #7370 closed

[2022-06-29 10:53] TheDcoder opened #7372 "MITM proxy is being detected by CloudFlare (tested with Epic Games Store)"
### Describe the bug

CloudFlare is somehow able to detect ZAP's MITM proxy, it keeps asking me to verify that I'm a human and I can never get past this when using the proxy. I tested this with the [Epic Games Store](https://epicgames.com) website and I can reproduce it with 100% certainty.

I know that this isn't due to some other factor as I also tested with my regular Firefox browser which was

[2022-06-29 10:55] psiinon commented on #7372
Thanks for giving us a test case we can work on :)
We'll have a play...

[2022-06-29 12:07] kingthorin commented on #7363
@aerosayan any update?

[2022-06-29 13:26] bepooley commented on #7355
I am having an issue with receiving updates - when I go into Manage Add-ons I get an error as screenshotted below

[2022-06-29 13:28] bepooley commented on #7355
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/108015165/176448241-f5e5c653-2fc9-4260-9ad5-818c4c9e44e4.png)

[2022-06-29 14:33] ruipimentel commented on #7250
Hi, @thc202, thank you for your response.

Indeed, the user selection might not be applicable to my specific user case, but activating the Global HTTP State is, and it seems to have a positive effect. To be clear, I'm trying to fuzz an online lab application, where the goal is to break in an admin account via SQL Injection on an HTML form.

## With "Global HTTP State" disabled

![image](https://us

[2022-06-29 14:49] njmulsqb opened #7373 "Zaproxy not intercepting traffic from anbox"
### Describe the bug

I am trying to listen to apk installed in anbox using zaproxy, but its not intercepting the traffic. Same thing tried with burp works, burp intercepts the request successfuly and zap isn't

### Steps to reproduce the behavior

1. Install anbox and add any apk in it
2. Configure global proxy for adb
3. Go to zap and add 0.0.0.0 in local proxies
4. enable the breakpoint to fetc

[2022-06-29 15:47] kingthorin commented on #7373
Are there errors or is ZAP just not seeing the traffic?

If it's just not seeing traffic then the problem is how your routing/sending the traffic to ZAP.

[2022-06-29 16:33] njmulsqb commented on #7373
Hi @kingthorin

There are apparently no errors on ZAP GUI.
With same configuration, burp is catching the traffic so I dont think so there is any issue with sending traffic

Here's the version information
[code]

[2022-06-29 17:06] kingthorin commented on #7373
Fire up Wireshark and see if the traffic is arriving.

[2022-06-29 17:10] njmulsqb commented on #7373
![image](https://user-images.githubusercontent.com/47940898/176496025-08d73b0a-8aef-41f3-ad0c-4e1feb3a5192.png)
Yes, it is

[2022-06-29 17:14] kingthorin commented on #7373
If you manually connect to 192.168.250.1:8081 from another system on the network same what do you get? (Or even better the device/emulator you're using. [Or both])

Anything interesting in zap.log? https://www.zaproxy.org/faq/what-is-the-default-directory-that-zap-uses/

[2022-06-29 17:44] njmulsqb commented on #7373
I think, its already added. Isn't it?
![image](https://user-images.githubusercontent.com/47940898/176501878-94e63df7-7265-4ec8-88f5-076b44f7ab57.png)

[2022-06-29 17:51] njmulsqb commented on #7373
![image](https://user-images.githubusercontent.com/47940898/176503032-6d861f0d-b546-483a-a8d2-e6428b852c94.png)
No, it didnt help

[2022-06-29 18:04] kingthorin commented on #7373
Are you sure you got the right IP, etc because your log seems to suggest you're listening on 8080 and the client is .45:
`2022-06-28 22:38:50,122 [ZAP-ProxyThread-12] WARN  API - Request to API URL http://192.168.18.45:8080/ from 192.168.18.45 not permitted`

[2022-06-29 18:06] njmulsqb commented on #7373
Thats from yesterday, 8080 was by default then I tried changing it to 8081 to see if it works but it didnt

[2022-06-29 18:07] kingthorin commented on #7373
Another idea, when you specified 0.0.0.0 are you sure it bound to whatever LAN interface you were expecting? 0.0.0.0 should be 'all interfaces' however if there was already something listening on the particular port then it may have quietly failed (since loopback would likely still work). Or is there a FW or something else in the way.

[2022-06-29 18:08] njmulsqb commented on #7373
Now, I am not listening on 0.0.0.0, I have specified the exact IP. Also, burp is listening quite well on the same interface.

[2022-06-29 18:16] njmulsqb commented on #7373
What else can I help you with now?

[2022-06-29 18:48] kingthorin commented on #7373
Fire up another normal VM on the same network and configure a browser to proxy through ZAP (on the original system).

If that works the issue is your emulator or routing. If it doesn't then it still leaves a ton of questions:
- Host FW
- ZAP blocking due to a config we've missed
- etc

🤷‍♂️

[2022-06-29 22:01] ruipimentel commented on #7250
Hi, folks, I was able to successfully fuzz my application exactly 1 (ONE!) time with the unmodified version of OWASP ZAP, after some debugging of the original source code 🤣 🤣 🤣

However, the solution seems really hacky.

For short, while manually exploring the web app, not only did I submit the form (generating the `POST` URL which will be fuzzed later on), but also forced a page reload after that

[2022-06-30 10:19] aerosayan commented on #7363
@kingthorin the performance has improved. A "content modified" warning is shown.

The lines are a little bit long (moreover the response window is very small), and we need to scroll right to see everything, but it's a very good improvement in performance and useability.

I can open and see through files as large as 637,000 bytes, and 1,173,000 bytes, and 6,275,649 bytes.

I *can not* open the larg

[2022-06-30 11:27] thc202 commented on #7363
Closing as duplicate of #5791.

The issue was fixed in February and so far the feedback was that the issue (hanging) no longer happens.

Allowing to choose the line length is not better, too small value leads to issues as well (more time and memory is taken to split into smaller chunks than to just display the bigger line).

[2022-06-30 12:09] Bulky642 commented on #6162
adding another solution that worked for me, on MACos Monterey version 12.4:
Download the MACos installer from zapproxy.org --> move installer to Applications --> Open finder, right click on ZAP and choose open, you will get a warning click open anyway and you are off to the races.
( double clicking on ZAP didn't work for me in Applications).

[2022-06-30 17:41] njmulsqb commented on #7373
![image](https://user-images.githubusercontent.com/47940898/176742518-7e3aefa8-c5d4-4c0d-aac5-69cf26fd787e.png)
Ok now?

[2022-06-30 18:18] kingthorin commented on #7373
It should just be an address (or regex): that of the allowed client(s). [Not the proxy server.]

[2022-07-01 08:09] Siddharth3330 commented on #7178
I would like to work over it, can I get some pointers to start.

[2022-07-01 08:16] psiinon commented on #7178
Hiya @Siddharth3330 thanks for offering to help - I've assigned this to you :)

It should just be a UI change, so hopefully relatively straight forward.

I'd suggest adding a new button next to the "Save" one, same icon but with a plus or pen overlay (we can help with that).
The Save button is added here: https://github.com/zaproxy/zap-extensions/blob/main/addOns/automation/src/main/java/org/zapro

[2022-07-03 05:57] silverskyvicto opened #7376 "Support Apple Silicon"
### Is your feature request related to a problem? Please describe.

There is no ZAP desktop application that is compatible with Apple Silicon.

### Describe the solution you'd like

I would like to see official support for Apple Silicon.

If it can be run on an Apple Silicon-compatible application, better performance can be expected.

### Describe alternatives you've considered

When running ZAP o

[2022-07-03 06:16] Siddharth3330 commented on #7178
Hi @psiinon, in getSavePlanButton() method initially the button is not enabled I was unable to understand where exactly that button was getting enabled later on in that method. I made a similar method for making a save-as button, in that method if I put saveAsPlanButton.setEnabled(true); then button is working fine and saving the plan but if I put saveAsPlanButton.setEnabled(false); and make chang

[2022-07-03 06:24] thc202 commented on #7178
The save button enabled state is changed in `setCurrentPlan` and `updateSaveButton`, you'll have to change the save as in there as well.

[2022-07-03 07:33] Siddharth3330 commented on #7178
Thanks @thc202, I understand and its working now :)

[2022-07-03 14:06] #7352 closed

[2022-07-04 07:44] psiinon commented on #7376
As far as I'm aware none of the Core Team has access to an Apple Silicon box, which could prove problematic.
Oracle have released a version of Java for Arm 64 : https://www.oracle.com/java/technologies/downloads/#jdk17-mac
Try that and let us know if it works :)

[2022-07-04 08:17] DiogoMRSilva commented on #7376
Hi, I use a mac with M1 and have no issues. If you want it to run without Rosetta2 you can install an ARM JDK and run ZAP through the [ZAP_2.11.1_Crossplatform.zip](https://github.com/zaproxy/zaproxy/releases/download/v2.11.1/ZAP_2.11.1_Crossplatform.zip)

[2022-07-04 12:30] priyajaroli opened #7378 "OWASP ZAP plugin for TeamCity"
### Is your feature request related to a problem? Please describe.

We want to integrate ZAP in our CI/ CD pipeline, we have teamcity implemented for the same. Need OWASP ZAP plugin for TeamCity?

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Additional context

_No response_

### Would you like

[2022-07-04 13:02] kingthorin commented on #7378
Why is a plug-in needed?

[2022-07-04 23:39] thc202 commented on #7155
Done in #7299.

[2022-07-04 23:39] #7155 closed

[2022-07-05 08:17] priyajaroli commented on #7378
We want to integrate ZAP in our CI/CD pipeline and we are using TeamCity for CI/CD. I will look into the ways to automate ZAP . Thanks

[2022-07-05 08:54] thc202 commented on #7378
Closing, we don't have any plans to provide nor maintain a TeamCity plugin.

If you want to do that and coordinate efforts with others the dev group is a good place: https://groups.google.com/group/zaproxy-develop

[2022-07-05 08:54] #7378 closed

[2022-07-05 14:13] thc202 commented on #7309
This should be done in the add-on now, located in `zap-extensions` repo.

[2022-07-05 20:17] ArkaprabhaChakraborty commented on #7140
7 PRs merged! More incoming! Woohoo! :)

[2022-07-06 05:26] Siddharth3330 commented on #7326
Hi, I would like to work on it.

[2022-07-06 16:56] #7178 closed

[2022-07-06 18:30] tkisason commented on #7178
Thank you!

[2022-07-07 07:47] Siddharth3330 commented on #7326
Hi, I believe I didn't understand the problem statement correctly.
When I tried scaling font size the icon size remains the same. So do we require a similar block like "General Font" to scale the icon size within this display option?
![Screenshot (152)](https://user-images.githubusercontent.com/67500395/177720163-20d145fc-b3ec-43c5-aaab-905c74d8ce9d.png)

[2022-07-09 13:26] silverskyvicto commented on #7376
@psiinon
I ran the `copyMandatoryAddOns` task and ran it with just Mandatory Addon and it worked fine.

Also, when I ran the `copyZapAddOns` task and started it, the following warning message was displayed.
[code]

I excluded the BrowserView addon and it worked fine.

[2022-07-09 13:44] kingthorin commented on #7376
That’s normal.

[2022-07-09 19:36] balakrishnangithub opened #7379 "CSP Alert missing when there is invalid character in header"
## Version
ZAP 2.11.1

## Brief on issue
When the Content-Security-Policy header has an invalid character ZAP completely ignores the CSP alert.

#### Valid Header
[code]

#### Invalid Header
[code]
It's the invalid Unicode single quote.

#### ZAP Report with invalid header
![Screenshot 2022-07-10 002117](https://user-images.githubusercontent.com/4893873/178120048-05d19016-4f94-4e32-964e-047c1ff683

[2022-07-09 23:55] kingthorin commented on #7379
Please use the proper issue template in the future.

[2022-07-10 06:26] thc202 commented on #7373
Closing, no further info.

[2022-07-10 06:26] #7373 closed

[2022-07-10 06:29] thc202 commented on #7361
@RoiSec do you have more information?

[2022-07-10 06:36] thc202 commented on #7355
@bepooley any details?

[2022-07-10 15:33] bepooley commented on #7355
We downloaded and imported the certificate for OWASP into the browser. Then modified the proxy chain in OWASP to use an outgoing proxy servers and added our domain name and port. Once this was done, the updates came through :)

Thanks for your help all

[2022-07-10 16:48] #7355 closed

[2022-07-11 06:21] #7322 closed

[2022-07-12 19:23] rubiodamian commented on #1689
any updates about this or an alternative workthrough?

[2022-07-12 20:45] kingthorin commented on #1689
You could grab the unfinished PR branch from 2019 and build it. Aside from that no there isn’t any updates as you can plainly see.

[2022-07-12 21:15] binarymist commented on #1689
I think what @rubiodamian was meaning was perhaps, Is there likely to be any progress on this in the near future from the contributors?

It's a good thing this is an open source project, so everyone with some programming skills is able and welcome to contribute as well as consume :-)

[2022-07-12 22:12] rubiodamian commented on #1689
@kingthorin i was just asking as @binarymist said.
This issue have 7 years open so i assumed that maybe an alternative solution,  using other parts of the API or something.

[2022-07-12 22:34] kingthorin commented on #1689
K, nope none of the core team are assigned, and no one has brought it up recently.

Yes it’s old but there are plenty of old issues and not enough time to get to everything.

As binarymist mentioned it is Open Source and we are happy for new contributions/contributors.

[2022-07-13 10:16] psiinon commented on #1689
Yep, would love someone to offer to work on it, but not something thats going to get to the top of my list anytime soon (unless something changes)...

[2022-07-13 20:13] knassar702 opened #7381 "improve the xss scanner"
### Is your feature request related to a problem? Please describe.

your XSS scanner doesn't detect the Vulnerability in HTML attrname or value ,because it doesn't parse the location of the payload , so your scanner will not choose the correct payload to send!
Also, you're not matching with something like XPath or CSS selector so that's can case a lot of false positive reports

### Describe the so

[2022-07-13 21:00] kingthorin commented on #7381
There are a few other XSS PRs in-flight. Not sure if any address this.

[2022-07-13 23:45] knassar702 commented on #7381
hey @kingthorin , could you mention one of these PRS plz?
for the assign, I can code this in Python but the problem is I need some 3rd-party modules like parsel
it's possible to import it with zap scripts ?

[2022-07-14 00:07] kingthorin commented on #7381
- https://github.com/zaproxy/zap-extensions/pull/3590
- https://github.com/zaproxy/zap-extensions/pull/3838
- https://github.com/zaproxy/zap-extensions/pull/3872

If you do it in Python/Jython then the contribution would go to the community-scripts repo. Yes you can import other libraries you just have to specify it in ZAP’s options.

[2022-07-15 07:16] #7379 closed

[2022-07-18 10:31] sourabhsdeshpande opened #7384 "Incorrect canonical url formation prevents scanning when there is '#' in the url"
### Describe the bug

When a URL has **#** in it then, in the spidering process, canonical url formed is wrong. This prevents further scan..
Let's say, there is below url for one of the anchor tags. Note **#** in the url.
https://myserver/planningmodule/#?PId=110c162d-8956-40b2-bec7-fbdba8898a4a&id=1
In above case, when scan happens, canonical url formed is- https://myserver/planningmodule/
Note t

[2022-07-18 10:39] kingthorin commented on #7384
The URLs are malformed to begin with, everything after the # is considered part of the fragment and only relevant client side. If you wish to pass query parameters they should be before the fragment specifier.

[2022-07-18 10:43] kingthorin commented on #7384
https://www.rfc-editor.org/rfc/rfc3986#section-4.1

`relative-ref = relative-part [ "?" query ] [ "#" fragment ]`

[2022-07-18 10:48] psiinon commented on #7384
The traditional spider will not be able to handle URLs with a "#" in them for the reasons @kingthorin has given.
The Ajax Spider should be able to handle them much better - have you tried that?
If you still have problems then let us know - I am looking at how we can make ZAP handle modern web apps much more effectively.

[2022-07-18 10:53] #7384 closed

[2022-07-18 10:59] RoiSec commented on #7361
Hi @thc202 ,
I know the ZAP API,
I am using ZAP within CI/CD and I want to inform when scan is finished, I prefer to use it besides checking the API periodically.
In Addition, a feature that sends webhook with a summary of the result can be nice and makes life easy.

[2022-07-18 11:46] kingthorin commented on #7360
You can create any policy you like, with whatever combination f scan rules meets your needs.

[2022-07-18 11:49] kingthorin commented on #7361
So you want ZAP to initiate a specific request on specific events?

[2022-07-18 20:44] RoiSec commented on #7361
@kingthorin ,Yes

[2022-07-19 03:25] KT518 opened #7385 "owasp Zap y genymotion"
### Is your feature request related to a problem? Please describe.

Hola, soy nueva por aca....no se si sea la opción indicada.
Estoy emulando el celular con Genymotion y con owasp zap lo tengo como proxy para ver la emulación y los problemas de unas app.
Me funciona la sincronización de zap y genymotion, descargo la app de la tienda del celular virtualizado y cuando la abro me pide autenticación

[2022-07-19 04:30] KT518 commented on #7385
es OAuth 2

[2022-07-19 04:36] jeremychoi opened #7386 "when importing OpenAPI fails"
### Is your feature request related to a problem? Please describe.

OpenAPI Support version: 27.0.0

# TL;DR;
1. Is it possible to show(logging) a line number of an OpenAPI file when an error occurs?
2. Is it possible to continue importing the rest if only a certain parameter causes an error, rather than failing the import function completely?

# Details

When an error occurs during importing Open

[2022-07-19 06:23] thc202 commented on #7386
What versions are being used?

[2022-07-19 06:26] thc202 commented on #7385
These type of questions are better for the OWASP ZAP User Group: https://groups.google.com/group/zaproxy-users

[2022-07-19 07:04] #7385 closed

[2022-07-19 07:22] psiinon commented on #7361
This can be achieved by scripts.
How are you running ZAP?
Using the packages scans, the Automation Framework, daemon + API or ??

[2022-07-19 11:04] kingthorin commented on #7361
Relevant docs/resources:
- https://www.zaproxy.org/docs/internal-events/
- https://github.com/zaproxy/community-scripts/blob/main/extender/ZAP%20onEvent%20Handler.js

[2022-07-19 11:36] #7386 closed

[2022-07-19 16:51] Damuammu opened #7387 "ERROR org.zaproxy.addon.callhome.ExtensionCallHome - Expected '200 OK' but got '403 Forbidden'"
### Describe the bug

ERROR org.zaproxy.addon.callhome.ExtensionCallHome - Expected '200 OK' but got '403 Forbidden'
java.io.IOException: Expected '200 OK' but got '403 Forbidden'
        at org.zaproxy.addon.callhome.ExtensionCallHome.sendServiceRequest(ExtensionCallHome.java:230) ~[?:?]
        at org.zaproxy.addon.callhome.ExtensionCallHome.lambda$uploadTelemetryStartData$5(ExtensionCallHome.ja

[2022-07-19 17:03] thc202 commented on #7387
If you have an outgoing proxy configured in ZAP ensure that the details are correct.

Questions like this are better for the OWASP ZAP User Group: https://groups.google.com/group/zaproxy-users

[2022-07-19 17:27] Damuammu commented on #7387
i have configured proxy in both zap and browser
ip: 127.0.0.1
port: 8080

any thing mising

[2022-07-20 04:07] ricekot commented on #1198
We don't allow screenshots yet but other metadata can now be included with alert tags.

[2022-07-20 20:44] spinkham commented on #5948
I can confirm this issue still exists using ZAP 2.11.1 with both Oracle 11 and AdoptOpenJDK 11. FWIW, Burp also has the same issue: https://forum.portswigger.net/thread/pkcs11-authentication-with-intermediate-ca-e4f78d0c
Unfortunately, due to the nature of the types of sites that use hardware tokens, I can't provide much more information than the fact that this is confirmed to happen on a non-publ

[2022-07-20 21:01] thc202 commented on #5948
Could you check with the weekly? https://www.zaproxy.org/download/#weekly It should have the same issue but would be good to confirm.

[2022-07-21 13:14] RoiSec commented on #7361
@kingthorin
Do you mean to modify the script and use trigger actions for events?
How can I configure that automatically at the CI/CD pipeline?
Why do I need to write a script? I think it's a legitimate feature that needs to be out of the box.

[2022-07-21 13:16] RoiSec commented on #7360
@kingthorin ,
How can I do that?
Which rules is OAST support?

[2022-07-21 13:22] psiinon commented on #7361
You can write a script to do it now.
Or you can wait for us (or someone else) to implement it at some unspecified point in the future.
I personally dont think this needs to be supported out of the box, especially as I'd expect people to have different requirements.
Scripts can be added via the command line [scri](https://www.zaproxy.org/faq/how-do-you-add-a-script-to-zap-from-the-command-line/)
or

[2022-07-21 15:59] kingthorin commented on #7361
@RoiSec psiinon’s answer kind of covers it

[2022-07-21 21:32] RoiSec commented on #7360
@psiinon
I don’t see SSRF regular tests,
For example, I want the ZAP will trying to send on every get/post parameters value, link to oast server, if the oast service detect an access then alert that. (especially for requests with this parameters.
https://github.com/1ndianl33t/Gf-Patterns/blob/master/ssrf.json)
I am say this because we already see this behavior, this could bring interesting finding

[2022-07-21 23:14] kingthorin commented on #7360
I don’t think we would create a bundled rule to throw the payloads at every injection point.

You could look at the existing Java rules (as psiinon mentioned) and script something along with the community-script examples pretty easily though if you really think that’s what you want to do.

https://github.com/zaproxy/community-scripts/tree/main/active

[2022-07-21 23:31] kingthorin commented on #1703
I’m going to close this one.

Between the OAST adaptation of Dennis’ PR by @ricekot and some of the community-scripts I feel this is addressed.

[2022-07-21 23:31] #1703 closed

[2022-07-22 06:01] RoiSec commented on #7360
I'm sorry you think so, I think it's a very important issue and it could help to Zap project.
Today, SSRF vulnerabilities are very important because of the cloud environment.
BTW burp active scan does know how to do these OAST scans.
https://portswigger.net/burp/application-security-testing/oast#:~:text=the%20target%20domain.-,OAST%20the%20easy%20way,-With%20Burp%20Collaborator

[2022-07-22 07:24] psiinon commented on #7360
And ZAP can do them too - https://www.zaproxy.org/blog/2021-08-23-oast-with-owasp-zap/
We do think its important.
But we dont just throw every possible payload against every possible injection point, that would take way too long.
Our scan rules try to be as efficient as possible, and changing all of them to use OAST is a big task and one that would take a long time.
If you would like to work on so

[2022-07-22 08:15] RoiSec commented on #7360
I agree that it to be efficient as possible and sould not delayed the CI/CD pipeline,
but ZAP currently does not have an option to do a "full scan" as I mentioned for SSRF.
@psiinon How can I help/contribute to adding a new SSRF full scan rule?

[2022-07-22 08:29] RoiSec commented on #7361
@psiinon
My planning is to corporate ZAP during the CI, enrich the ZAP with HTTP requests and context and then start the active scan of several attacks.
I am pretty not fully understand how ZAP is built for CI/CD pipelines and there is no option to trigger a webhook or make an HTTP request when it is finished.
currently, I have 2 options, write a script wrapper that updates when something occurs o

[2022-07-22 09:15] psiinon commented on #7361
@RoiSec so you want a web hook to be invoked when the ZAP active scan completes?
What data would you like it to send?
Can you give an example interface?
If its not too complicated then we might be able to create an example for the Community Scripts repo - I'm sure other people would find this useful too...

[2022-07-22 09:16] psiinon commented on #7360
ZAP does have the option to run a "full scan" just using the rules that support SSRF, you just need to create a Scan Policy that only enables those rules :)
Re creating a new scan rule - see https://www.zaproxy.org/docs/contribute/scan-rules/

[2022-07-23 00:45] rhoekman commented on #7376
I was also able to compile it for M1 but the Firefox browser when launched from the toolbar or in headless spider crawl, it is still Intel. Any ideas on how to make those compile for the M1 aswell?
<img width="1184" alt="zap-macos-m1-screenshot" src="https://user-images.githubusercontent.com/9697537/180583778-57f5ad67-5c9f-430c-896b-6f77f5b2687f.png">

[2022-07-23 00:48] kingthorin commented on #7376
It’s using whatever you have installed.

We don’t bundle browsers.

[2022-07-23 00:56] rhoekman commented on #7376
Firefox that I have installed is a Univeral Binary. Pretty weird that it picks/uses an Intel version.

[2022-07-23 00:59] kingthorin commented on #7376
That’s probably a gecko driver thing. I don’t know for sure but it’s likely just a numbers assumption on Mozilla’s part, Intel’ish CPUs are likely easily 90 of their install base. If it isn’t a CPU decision it might be an install path one which also plays a numbers game :wink:

(Of course that’s all speculation on my part.)

[2022-07-23 01:26] rhoekman commented on #7376
Yeah you are right, gecko driver is still Intel. So that makes sense in this case. Firefox launched from the dock runs as Apple Silicon. I think the driver (or arch check) that ZAP uses in ~/Library/Application Support/ZAP/webdriver/macos/64/geckodriver needs te be updated?

[2022-07-23 06:26] thc202 commented on #7376
It should be already picking the appropriate arch. Under Options > Selenium click Bundled, and tell which one it selects.

[2022-07-23 09:43] rhoekman commented on #7376
<img width="881" alt="zap-selenium-webdrivers-screenshot" src="https://user-images.githubusercontent.com/9697537/180599778-f6a2977e-1722-4e3e-ba0c-aa4aa899c20a.png">

Also the drivers in the arm64 directory are not executable. It appears these are binaries for Linux with Arm processors. Apple Silicon seems to be **aarch64**

In _webdrivers.gradle.kts_ it seems to not picking up the correct arch ty

[2022-07-23 09:52] thc202 commented on #7376
Provide the value of the Java system property `os.arch`.

[2022-07-23 15:15] rhoekman commented on #7376
Not sure what you mean or what you want me to do? 😬

[2022-07-24 01:30] thc202 commented on #7376
Run the following as a Stand Alone JavaScript script:
[code]
https://www.zaproxy.org/docs/desktop/addons/script-console/

[2022-07-24 04:49] RoiSec commented on #7360
Hi @psiinon ,
I am not fully understanding, I don’t found ssrf scan rule/alert type, what I need to do?
I want the ability to scan specific SSRF attack on each parameter and not whole scan of all types of attacks.

[2022-07-24 06:26] rhoekman commented on #7376
Ah gotcha 🙂 It's indeed **aarch64**

<img width="390" alt="screenshot-arch-check" src="https://user-images.githubusercontent.com/9697537/180635161-23b16397-84b1-4154-853c-2d50263828d0.png">

[2022-07-24 09:37] thc202 commented on #7376
That's the expected architecture and the one used to determine the location of the binary.

Could you use the `file` command on the binary in the `arm64` directory?
Could you also check the logs to see if there's any warning related to the WebDriver?

[2022-07-24 09:56] rhoekman commented on #7376
Output of file command:
geckodriver: Mach-O 64-bit executable arm64

I'm not seeing any errors in the logs

[2022-07-24 11:16] rhoekman commented on #7376
When I go to Tools > Options > Selenium > Webdrivers and click on Bundled the path changes to:

`/Users/rickhoekman/Library/Application Support/ZAP_D/webdriver/macos/arm64/geckodriver`

And this works! 🙂

[2022-07-24 11:23] kingthorin commented on #7376
Perfect, that’s what @thc202 [suggested](https://github.com/zaproxy/zaproxy/issues/7376#issuecomment-1193070941) so we’re glad it worked.

[2022-07-24 11:36] rhoekman commented on #7376
Yeah, a bit of an oversight on my part.😬 What does Bundle do.. grabs/detects the right path?

btw. Running this now is blazing fast! 😃

[2022-07-24 12:31] rhoekman commented on #7376
Still after every build, I have to Bundle it otherwise it still uses the Intel version.

[2022-07-24 13:34] thc202 commented on #7376
What do you mean with "after every build"? Are you running ZAP from source?

[2022-07-24 14:16] rhoekman commented on #7376
Yes I do

[2022-07-24 14:37] thc202 commented on #7376
I'd suggest you use `-dir` then, to avoid using the configs from the main home.

[2022-07-24 16:18] RoiSec commented on #7361
Hi,
I would like to trigger actions when:
active scan started, finished, paused and etc.
Data:
I would like to send a summary of the findings when the scan is finished.
a number of alerts per severity, on every alert supply a link for more details, and support JSON output, ability to whitelist alerts by severity, status block/pass(want to use it for CICD checks), link to scanning report.
example u

[2022-07-24 18:44] kingthorin commented on #7361
That’s all stuff you can do via the API like everyone else that uses ZAP in CI/CD.

[2022-07-25 05:00] BlackTravel opened #7389 "Java 18 build fails with compilation warnings"
### Describe the bug

Hello ,   When I try to recreate the Zap project , I have  a  problem.

I runned this command : gradlew.bat   copyMandatoryAddOns.

My Computer JAVA_VERSION is openjdk 18.0.2 2022-07-19.

The commandline shows faliure   ,  details are as follows  :

<details>
<summary>Console output with failure</summary>

[code]

</details>

Please give me a help .  Thank You.

### Steps to

[2022-07-25 06:20] thc202 commented on #7389
Use one of the LTS versions, Java 8, 11, or 17.

[2022-07-25 07:45] psiinon commented on #7361
Yeah, thats way more than just a webhook :P
The Automation Framework is also an option: https://www.zaproxy.org/docs/automate/automation-framework/

We actually have an example script which handles events: https://github.com/zaproxy/community-scripts/blob/main/extender/ZAP%20onEvent%20Handler.js
We also give details of all the events that ZAP can raise here: https://www.zaproxy.org/docs/internal-e

[2022-07-25 07:51] psiinon commented on #7360
As I said before - these are the rules which support OAST: https://www.zaproxy.org/alerttags/out_of_band/
If you want to use a specific SSRF attack then you will need to write your own scan rule: https://www.zaproxy.org/docs/contribute/scan-rules/

[2022-07-25 07:56] RoiSec commented on #7361
It can all be done by API scripts, but it’s much more effort to handle. I think meant to be built-in feature beside develop such scripts.
I think product for CI/CD should have the capability of to send webhook triggers

[2022-07-25 10:02] kingthorin commented on #7361
I agree @psiinon .

This is the only time it’s ever come up. We know there are tons and tons of CI/CD invocations daily based on the existing functionality and our stats. There are options which have been presented.

[2022-07-26 09:10] JWebDev opened #7390 "zap.sh script stop working if JAVA_TOOL_OPTIONS variable set."
### Describe the bug

I use Owasp Zap as docker container. In this container runs my small java application.
If i set JAVA_TOOL_OPTIONS as Environment variable, then zap.sh script cannot detect JAVA_MAJOR_VERSION/JAVA_MINOR_VERSION or some other stuff and zap daemon does not starts.
Error is clear and easy reproducible.

### Steps to reproduce the behavior

Just set Env Variable to docker containe

[2022-07-26 09:13] JWebDev opened #7391 "Zap WebSwing does not start in owasp/zap2docker-stable:2.11.1"
### Describe the bug

[code]

### Steps to reproduce the behavior

just start script in container
[code]

### Expected behavior

Zap WebSwing will start in owasp/zap2docker-stable:2.11.1

### Software versions

owasp/zap2docker-stable:2.11.1

### Screenshots

_No response_

### Errors from the zap.log file

`xvfb-run: error: Xvfb failed to start`

### Additional context

_No response_

### Would y

[2022-07-26 10:01] knassar702 opened #7392 "use unstructured http request headers"
### Describe the bug

Hello team, when you trying to send unstructured http request headers to get an error response from the target app
zap will give you an error and it will not send the request

### Steps to reproduce the behavior

1. open re-send tab
2. send this request
[code]

### Expected behavior

send the request without parsing the value of the header `hello`

### Software versions

2.11

[2022-07-26 10:29] kingthorin commented on #7392
Closing as duplicate of #1318.

This is a known limitation of existing release versions of ZAP.

[2022-07-26 10:29] #7392 closed

[2022-07-26 10:46] thc202 commented on #4127
Update the title to be even more generic and cover other cases (e.g. header fields not just request-target).

[2022-07-26 10:47] thc202 commented on #7392
That's specific to the Host header though, #4127 covers this case.

[2022-07-26 11:33] psiinon commented on #7391
How are you starting your docker container?
I followed the instructions on https://www.zaproxy.org/docs/docker/webswing/ and it worked fine for me, ie

- `docker run -u zap -p 8080:8080 -p 8090:8090 -i owasp/zap2docker-stable zap-webswing.sh`

[2022-07-26 11:37] psiinon commented on #7391
I've also just started a bash shell in docker using:

- docker run -u zap -p 8080:8080 -p 8090:8090 -i -t owasp/zap2docker-stable bash

And then starting webswing using:

- ./zap-webswing.sh

That also worked fine for me.
This is on a MacBook. What OS are you using?

[2022-07-27 07:43] ParthibanSG opened #7393 "Unable to build zap image from source - ZIP Bomb Error"
Hello,

I am customizing ZAP image for our internal use in our organization and I had to include ENV step in Dockerfile-weekly for setting proxy to download the webswing zip file. However, when I build the image, webswing extract is failing with zip bomb error. Could you please help to resolve it?

[code]

I tried with all three weekly releases from today... Issue is same in Windows 10 and Linux O

[2022-07-27 07:46] psiinon commented on #7393
Do you need WebSwing?
If not I'd remove it :)
If you do then try unzipping that file on the command line with different tools / options and see what works.

[2022-07-27 07:58] ParthibanSG commented on #7393
I tried with 7z, zip, JAR and it fails in all cases... Any other extract tool suggestions please? :)

[2022-07-27 08:04] psiinon commented on #7393
No - you could try asking WebSwing - its their zip.
Or you could pay them for a full license...

[2022-07-27 09:24] JWebDev commented on #7391
Hi @psiinon ,
Thanks for the answer.

I'm starting container with docker-compose but container itself with entrypoint.
I am using Windows.
But with the previous version everything worked(Webswing) for me.

Dockerfile
[code]
entrypoint.sh
[code]

[2022-07-27 09:40] psiinon commented on #7391
Sorry, we can only support our docker images, not ones created by yourself or other people.
WebSwing appears to be working fine in our docker images so I dont think this is a ZAP problem.
However we will be happy to give help and advice on the ZAP User Group - so please start a thread there: https://groups.google.com/group/zaproxy-users

[2022-07-27 09:40] #7391 closed

[2022-07-28 11:53] kingthorin commented on #6619
[code]

[2022-07-28 15:36] kingthorin commented on #7140
This may also provide some ideas:
https://github.com/maK-/parameth

[2022-07-28 16:23] ArkaprabhaChakraborty commented on #7140
Wow, this tool is OLD :). It uses python 2 :).

[2022-07-28 16:51] ArkaprabhaChakraborty commented on #7140
So this one has deprecated hard :)  and I can't set this project up :). Taking ideas from this would be a tough one since I can't tinker with it :). But I'll try :).

[2022-07-28 16:53] kingthorin commented on #7140
I think their README includes details on using virtual env, also there's a PR you could review/pull that adds a docker'ized version.

Anyway don't get stuck on it, it just came up in my suggestions this morning so I passed it along.

[2022-07-28 16:56] ArkaprabhaChakraborty commented on #7140
I had a glance through the code :) it was a short one so didn't take much time [ Compared to mine.. ahem ahem :) ]. I can implement this as a final check If none of the dedicated guesses finds anything. Sort of like a final tactic hit.

[2022-07-29 14:37] kingthorin commented on #6930
Per above and the discussion on the associated PR this seem addressed.

[2022-07-29 14:37] #6930 closed

[2022-07-29 14:40] kingthorin commented on #6934
@ meetinthemiddle-be are you still experiencing this issue.

[2022-07-29 18:11] kingthorin commented on #7031
Per https://github.com/zaproxy/zaproxy/issues/7031#issuecomment-1015809942 check 5 is behaving as expected.

Per release [39](https://github.com/zaproxy/zap-extensions/releases/ascanrules-v39) and [45](https://github.com/zaproxy/zap-extensions/releases/ascanrules-v45) other on-topic improvements have been made. Check 5 is skipped at High threshold and the pattern was made case insensitive.

[2022-07-29 18:11] #7031 closed

[2022-07-29 18:15] kingthorin commented on #7020
@bettercalln1ck any news? Are you able to update the rule to account for this situation?

[2022-08-01 08:21] thc202 commented on #7393
The Webswing was updated to the latest version available, you should contact them if the error persists.

[2022-08-01 08:21] #7393 closed

[2022-08-01 15:55] malylemire1 opened #7396 "Set environement variable for automation using command line."
### Is your feature request related to a problem? Please describe.

I cannot use docker.

### Describe the solution you'd like

zap.bat -cmd -autorun scan.yaml -e variablename=value

### Describe alternatives you've considered

Using docker.

### Screenshots

_No response_

### Additional context

_No response_

### Would you like to help fix this issue?

- [ ] Yes

[2022-08-01 16:05] thc202 commented on #7396
That's being passed to ZAP, try setting it before `zap.bat`.

[2022-08-01 16:05] #7396 closed

[2022-08-01 16:15] kingthorin commented on #7396
Please don't ask questions as issues - the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

[2022-08-01 17:23] malylemire1 commented on #7396
Sorry I talk about Automation environment variables inside the yaml file.
---
env:
  vars:

[2022-08-02 07:00] psiinon commented on #7396
Same answer - ask on the [User Group](https://groups.google.com/group/zaproxy-users) :)

[2022-08-02 11:15] jimmy0435 opened #7397 "ZAP with webswing in docker will not start its proxy"
### Describe the bug

I was trying to use ZAP docker in my Windows 11.
However, ZAP with Webswing in docker will not start its proxy. The 8080 port will start properly, but the 8090 will not start. Both weekly and stable are the same.
The same image works properly on Ubuntu 20.04.

### Steps to reproduce the behavior

1. Install docker desktop on windows 11
2. Use `docker run -u zap -p 8080:8080 -

[2022-08-02 11:17] kingthorin commented on #7397
Sounds like a docker/windows 11 issue, not a ZAP issue.

[2022-08-02 11:21] kingthorin commented on #7397
Actually that’s not the correct way to start a secondary proxy.

I originally thought you were mapping 8080:8090 like most of the examples do.

Here are the API docs for adding an alternate proxy: https://www.zaproxy.org/docs/api/#localproxiesactionaddadditionalproxy

[2022-08-02 11:26] globeone opened #7398 "Regression: Host Labels in Context Scan Progress Dialog missing"
### Describe the bug

When viewing the Context Scan Dialog window to see the progress of the scan. Some of the labels for the scan types are missing. This was fixed in a previous release but has now shown up again.

### Steps to reproduce the behavior

* Start an Active Scan
* Click on
![image](https://user-images.githubusercontent.com/10052587/182362553-6641d3ef-004e-46b8-8b8d-3e610c58cd98.png)
*

[2022-08-02 11:38] thc202 commented on #7397
ZAP will not start until you access the Webswing page.

[2022-08-02 11:38] #7397 closed

[2022-08-02 11:39] thc202 commented on #7398
Closing as duplicate of #7228.

[2022-08-02 11:39] #7398 closed

[2022-08-02 11:40] kingthorin commented on #7398
This is due to an issue with some third party add-ins which have been fixed but not re-released by their maintainer.

[2022-08-02 11:50] globeone commented on #7228
@kingthorin
Here is the sanitized log file
[zap copy.log](https://github.com/zaproxy/zaproxy/files/9241888/zap.copy.log)

[2022-08-02 11:59] globeone commented on #7228
and here is the results from the Active Scan Rules script
[active_scan_rules.txt](https://github.com/zaproxy/zaproxy/files/9241951/active_scan_rules.txt)

Still showing the same plugin without a label
[code]

[2022-08-02 12:00] thc202 commented on #7228
As mentioned in the other issue the corresponding add-on was not yet released with the fix.

[2022-08-02 12:02] globeone commented on #7228
@thc202  oh, I thought I read that the fix was already implemented that would show the class of the plugin when no label was available. Was that not successful, or feasible ?

[2022-08-02 12:04] thc202 commented on #7228
There are two issues, one in ZAP itself which should show something always (this was not yet done) and the other in the add-on to properly load the scan rule name (fixed but not yet released).

[2022-08-02 12:10] globeone commented on #7228
@thc202 Okay sounds good. Patience is a virtue and it's only cosmetic. :-) thanks for taking a few moments to revisit this issue today, I appreciate it.

[2022-08-02 13:46] dflickema-r7 opened #7399 "Rest API to accept input to manual Request Editor"
Is there an input API method for interacting with the manual request editor?  There's a feature in the Burp API where I can send a request to the "sender" or replay functionality from outside Burp itself.

[2022-08-02 13:54] thc202 commented on #7399
There's `sendRequest` (https://www.zaproxy.org/docs/api/) which allows to send manually crafted requests (which can then be opened from within ZAP), but there's no API method to show the Manual Request Editor.

[2022-08-02 13:55] thc202 commented on #7399
The OWASP ZAP User Group is a better place to ask usage questions though: https://groups.google.com/group/zaproxy-users

[2022-08-02 13:57] #7399 closed

[2022-08-02 16:25] kingthorin commented on #6619
I propose we do something similar to: https://github.com/zaproxy/zap-extensions/blob/b22dad79e39e3248f5cfe09151002441c7febdb1/addOns/pscanrules/src/main/java/org/zaproxy/zap/extension/pscanrules/TimestampDisclosureScanRule.java#L76-L89

I'd suggest we start with `ETag` as noted here. Plus `Authorization` as well as `X-ChromeLogger-Data` and `X-ChromePhp-Data` because those are covered by other rul

[2022-08-03 05:30] craigmarksmith opened #7400 "ascan disableAllScanners API endpoint no longer disabled all scanners"
### Describe the bug

As of ZAP `w2022-03-07`, using the API endpoint `ascan/action/disableAllScanners/` with a policy file no longer disabled scanners that are identified in that policy file as enabled.

### Steps to reproduce the behavior

The issue is best demonstrated using the following scripts.

Create a file named `test.py`
[code]

create a bash script `run.sh` with the contents

[code]

Ma

[2022-08-03 13:23] thc202 commented on #7400
Unrelated to the issue, you can use `-host` and `-port` instead of the `mainProxy` configs.

[2022-08-04 07:33] #7400 closed

[2022-08-04 09:05] craigmarksmith commented on #7400
Thank you @thc202 for picking this up and dealing with it so quickly! And thank you for the [tip](https://github.com/zaproxy/zaproxy/issues/7400#issuecomment-1203945540), I tried it and it worked perfectly. 🙇

[2022-08-05 06:48] #7268 closed

[2022-08-05 08:12] kiranj2506 opened #7405 "Add text/plain to avoid Unexpected Content-Type was returned"
### Is your feature request related to a problem? Please describe.

We are getting Unexpected Content-Type was returned for text/plain type while running zap scanner.
We are using https://github.com/prometheus/client_golang/blob/main/prometheus/promhttp/http.go#L50 as a upstream service where text/plain is the default value.

### Describe the solution you'd like

Add the type to expected types

##

[2022-08-05 08:18] kiranj2506 commented on #7405
created PR https://github.com/zaproxy/zaproxy/pull/7406

[2022-08-05 08:27] #4788 closed

[2022-08-05 09:48] globeone opened #7407 "AngularJS reported as low vulnerability, should be higher due to deprecation and known exploits"
### Describe the bug

When passive scanning for Dangerous JavaScript Functions ZAP reports back that it found AngularJS but marks it as low.
AngularJS was deprecated December 31st, 2021 and no longer receives security patches or updates.
There are known exploits for AngularJS such as stealing data using the $SCOPE variable.
When AngularJS is found then ZAP should report this as high and give the a

[2022-08-05 10:05] psiinon commented on #7407
Can you check if the RetireJS add-on reports this? https://www.zaproxy.org/docs/desktop/addons/retire.js/
The Dangerous JS Functions rule will not have the context to understand that its AngularJS...

[2022-08-05 10:36] kingthorin commented on #7407
To be clear the Alert you quoted is about the use of that specific function, the place it was identified just happens to be in an angular JS file, NOT use of AngularJS itself.

[2022-08-05 10:44] kingthorin commented on #7407
@psiinon I've just checked the upstream data file, I don't see anything about EoL for AngularJS. I'll open an issue.

[2022-08-05 10:48] kingthorin commented on #7407
https://github.com/RetireJS/retire.js/issues/385

[2022-08-05 11:05] kingthorin commented on #7407
I've also created an upstream PR for the mentioned CVE: https://github.com/RetireJS/retire.js/pull/386

[2022-08-05 11:11] globeone commented on #7407
Thanks, I get lost in the complexity of what detects what sometimes.

[2022-08-05 16:09] #7405 closed

[2022-08-08 01:12] kingthorin commented on #7303
Code ref: https://github.com/zaproxy/zap-extensions/blob/bac6e458f35dfe58a9d0791c5fb88b3a345a9cc5/addOns/pscanrules/src/main/java/org/zaproxy/zap/extension/pscanrules/AntiClickjackingScanRule.java#L190-L212

[2022-08-08 07:00] thc202 commented on #7407
@globeone could you check zaproxy/zap-extensions#3743 ?

[2022-08-08 09:54] #6619 closed

[2022-08-08 20:55] Leyart commented on #7345
Reserving the following for the standard spider:

https://security-crawl-maze.app/test/javascript/frameworks/angular/event-handler.found
https://security-crawl-maze.app/test/javascript/frameworks/angular/router-outlet.found
https://security-crawl-maze.app/test/javascript/frameworks/angularjs/ng-href.found
https://security-crawl-maze.app/test/javascript/frameworks/react/route-path.found
https://sec

[2022-08-09 10:52] psiinon commented on #7345
@Leyart assigned :D
I'll be very interested to see how you implement this.
I also have a solution for these URLs which is WIP, but its as a side effect of very significant development, and so a simpler solution would be really good to have as well...

[2022-08-09 10:56] psiinon opened #7410 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

Comment on this issue with the URLs you would like to be assigned - they must not alr

[2022-08-09 16:50] Leyart commented on #7345
Biggest problem that I have to face before tackling this is how to make debugging of the spider module working in IntelliJ, spent already a fair amount of time without success so far.
In case I will manage, I will also update the documentation

[2022-08-09 16:59] thc202 commented on #7345
What's the problem?

[2022-08-09 17:16] psiinon commented on #7345
My working assumption is that these URLs will only be practical to find using the Ajax Spider, but I'll be very happy if you can prove me wrong 😉

[2022-08-10 10:13] DarshanAwachat opened #7411 "Zap Scan Freezes on marking Alert as false Positive"
### Describe the bug

Zap Scan freezes on marking alert as false positive after the automated scan is completed.

### Steps to reproduce the behavior

1. Run Automated Scan with both traditional and Ajax Spider
2. After Active Scan is compeleted
3. Zap Scan Freezes when Trying to mark error as false positive via left click. (Especially Marking an entire Alert with high instances as false positive)

[2022-08-10 10:16] thc202 commented on #7411
What's the size of the HTTP response?

[2022-08-10 10:22] DarshanAwachat commented on #7411
Is there a limit as such? I used to do it earlier on the same domain but didn't face this issue.

[2022-08-10 10:28] thc202 commented on #7411
There's no limit but with big messages the UI sometimes freezes (that was fixed in the weeklies).

[2022-08-10 10:38] DarshanAwachat commented on #7411
Okay, what is the expected release timeline for that bug fix.

[2022-08-10 10:39] psiinon commented on #7411
Its been fixed, in the weeklies :)
We do not have a date for the next full release yet.

[2022-08-11 07:05] gzhankh opened #7415 "Automatic scanning"
### Is your feature request related to a problem? Please describe.

In the process of using it, I found that automatic scanning could not scan out all the resources or requests of the website. I wonder if there is a function that can configure some fixed requests so that the crawler can climb the resources of the website through these requests

### Describe the solution you'd like

Maybe I mean, I

[2022-08-11 07:14] thc202 commented on #7415
There's a job to send custom requests: https://www.zaproxy.org/docs/desktop/addons/automation-framework/job-requestor/

Note that usage questions are better for the OWASP ZAP User Group: https://groups.google.com/group/zaproxy-users

[2022-08-11 07:14] #7415 closed

[2022-08-11 10:55] kingthorin commented on #7303
This is my current plan for this issue:

New handling:
- Meta: Extract it and run it through the existing analysis.

New alerts:
- Info: Found header and meta. Analyzed separately, not intersected.
- Low: Meta, if it contains one of the directives that isn’t allowed in meta (sandbox or frame related).

Please let me know if you can think of anything else.

[2022-08-11 17:42] loritempleton opened #7417 "HUD not working with FireFox recently"
We use Zap on a regular basis with FF, A few weeks ago I ran my scans fine.  But today, I can't get the "Heads Up Display" to work on Firefox.  It works on Chrome.  My whole QA team reported the same experience.  Upon further investigation seems Zap is throwing an error in the console for Firefox ( see image):

![8-11-22ZapError](https://user-images.githubusercontent.com/72763700/184198647-7f0b5b7

[2022-08-11 20:45] #7407 closed

[2022-08-12 08:43] thc202 commented on #7411
Closing as duplicate of #5791. If you still have problems with the weekly release, please, leave a comment.

[2022-08-12 08:43] #7411 closed

[2022-08-15 08:22] #5815 closed

[2022-08-15 10:12] kingthorin commented on #5815
@fd0 thanks very much for the details and PoC, I wish every bug report was like that!

[2022-08-15 18:28] karthikuj commented on #7410
Hey guys, I would like to reserve the following urls:

[/test/html/body/blockquote/cite.found](https://security-crawl-maze.app/test/html/body/blockquote/cite.found)
[/test/html/body/object/param/value.found](https://security-crawl-maze.app/test/html/body/object/param/value.found)
[/test/html/body/svg/image/xlink.found](https://security-crawl-maze.app/test/html/body/svg/image/xlink.found)
[/test/ht

[2022-08-15 18:43] kingthorin commented on #7410
I think [/test/html/body/svg/image/xlink.found](https://security-crawl-maze.app/test/html/body/svg/image/xlink.found) should already be done. Sorry if we didn't update the list properly. If it isn't done I'd like to fix it because I added the code that should have covered it :wink:  https://github.com/zaproxy/zap-extensions/pull/3474

Also please note that although your previous PR was against the

[2022-08-15 18:54] jsoref opened #7419 "Update add-ons flow is bumpy"
### Describe the bug

When I run `apt-get upgrade`, I choose "yes" to do you want to install the updates (and required dependencies). After I say "yes", I don't get prompted with "by the way, in order to upgrade those things you specified, we need to install these other things, do you want to continue?".

### Steps to reproduce the behavior

1. Run ZAProxy 2.1.1 for the first time in many months
2

[2022-08-15 19:03] thc202 commented on #7419
You are prompted just once to confirm the changes, if you don't want to be informed (not prompted) that there are updates available you can disable the corresponding option.

[2022-08-15 19:10] jsoref opened #7420 "Upgrading add-ons tossed up many transient dialogs and 3 modal dialogs"
### Describe the bug

1. Upgrading should not result in a bunch of modal dialogs
2. Upgrading should not result in a bunch of flashing dialogs

### Steps to reproduce the behavior

1. Help > Check for updates
2. Click `Update all`
3. Click `Yes`
4. Watch as a slew of tiny dialogs/windows appear / disappear in rapid succession
5. Stare in frustration at each successive modal dialog that's telling m

[2022-08-15 19:27] kingthorin commented on #7420
If your screen is flashing, that's a video issue not a ZAP issue. I've gone through what you're reporting numerous times on Linux and Windows without any screen flashing.

Also for the majority of users it's doubtful that they'd have all 3 add-ons which are being superseded installed.

I guess they could be made non-modal but then we'd run the risk of them being hidden and the user failing to reca

[2022-08-15 19:42] jsoref commented on #7420
The flashing was from other tiny dialogs appearing and disappearing. They were telling me about the progress of upgrading components. I think. But they ran away too fast for me to read/capture.

[2022-08-15 19:45] kingthorin commented on #7420
Oh okay, that makes more sense. I guess it isn't really flashing, just that you know something was displayed but it clears seemingly before it's useful.

I think Java has some sort of internally functionality for "only show this progress thing if the process has already taken 3 sec".....or something like that, perhaps our use just needs a little tweak. (Assuming it applies in this situation.)

[2022-08-15 19:59] jsoref commented on #7420
I'd argue it doesn't apply in this situation. These things shouldn't be dialogs. If you want to use a status line for a piece (x is installing/upgrading), that's fine, but otherwise the content should either be in a window (if someone wants to look, but probably not shown by default) or available after the fact (in a similar window) if someone wants to look.

[2022-08-15 20:03] jsoref opened #7421 "Import default context behavior is painful"
### Describe the bug

I had a session, and I liked its context, so I saved it. I created a new session and tried to import the default context. I got an error.

### Steps to reproduce the behavior

1. Have an existing session (from a long time ago)
2. File>Open Session...
3. File>Export context
4. Save
5. File>New session
6. File>Import Context...
7. Select the context
8. Click OK

### Expected be

[2022-08-15 22:15] jsoref opened #7422 "Timestamp Disclosure shouldn't flag the current useragent"
### Describe the bug

A web server responds w/ the current user's user agent.

Passive (10096 - Timestamp Disclosure)

Complains that `20100101` from:

[code]

Which the user-agent sent to the web server in the first place is "information disclosure"

### Steps to reproduce the behavior

1. Run https://github.com/GarnerCorp/nginx-debugging-backend/blob/main/debug.py (you can build a docker image i

[2022-08-15 22:28] jsoref commented on #7419
I don't mind being prompted for updates.

I mind that _after_ I've said _yes_ to updates, I'm asked if it's ok to install something else. That something else should have been included in the initial updates list, it's clearly part of the updates process and most systems have evolved to do that.

[2022-08-15 23:45] kingthorin commented on #7422
If you're only concerned with Timestamps +/- 1 year then you can set it to High threshold.
https://www.zaproxy.org/docs/desktop/addons/passive-scan-rules/#timestamp-disclosure

We could (perhaps should) identify a set of headers to be ignored.

[2022-08-16 05:54] thc202 commented on #7422
Closing as duplicate of #6741.

[2022-08-16 05:54] #7422 closed

[2022-08-16 06:02] thc202 commented on #7419
If it's an add-on that's not installed why should it be in the "initial updates"?

[2022-08-16 07:15] psiinon commented on #7421
All good suggestions 😄

[2022-08-16 07:21] psiinon commented on #7410
According to https://www.zaproxy.org/docs/scans/crawlmaze/ the standard spider still doesnt find those 2 URLs, and as that runs every night I think its the definitive list of what is found.

@karthikuj are there any others you'd like to fix instead?
Maybe:

[/test/html/misc/string/dot-dot-slash-prefix.found](https://security-crawl-maze.app/test/html/misc/string/dot-dot-slash-prefix.found)
[/test/h

[2022-08-16 11:32] jsoref commented on #7419
Because that's how everyone else does it. Once a user clicks the button to confirm performing an update, they should be able to go to dinner, to sleep, to do their day, and when they return, the update should be complete, there shouldn't be additional questions.

This is how Windows Update behaves, it's how macOS's update behaves, it's how Debian Apt behaves.

[2022-08-16 15:18] jsoref opened #7423 "`File`>`Persist Session...` should be disabled with open session"
### Describe the bug

If one creates a session and selects the option to persist (I can't recall what it's called) then the persist option does nothing remotely useful.

### Steps to reproduce the behavior

1. Create a default session (that will save its stuff)
2. Use `File`>`Persist Session...`

### Expected behavior

* It should not be possible to get a dialog saying "you can't do this"
* The me

[2022-08-16 16:13] karthikuj commented on #7410
Sure I can pick these two.

But [/test/html/body/svg/image/xlink.found](https://security-crawl-maze.app/test/html/body/svg/image/xlink.found) and [/test/html/body/svg/script/xlink.found](https://security-crawl-maze.app/test/html/body/svg/script/xlink.found) do need to fixed right?

[2022-08-16 17:22] kingthorin commented on #7410
Yes it does need to be fixed, but as I said I'd like to tackle it since I already implemented associated functionality.

If you're really set on it, let us know, I can let it go.

[2022-08-16 17:29] karthikuj commented on #7410
No, it's cool, :smile:

I'll pick up the ones @psiinon mentioned, it should be easy, since I tackled similar types last time too :)

[2022-08-16 17:36] kingthorin commented on #7410
Thanks [karthikuj](https://github.com/karthikuj)!

[2022-08-16 18:31] jsoref commented on #7422
No, the web server actively returns request headers in the response body. But the user-agent that's provided by the user is not confidential and it isn't disclosure of any internals of the application.

[2022-08-16 18:33] kingthorin commented on #7422
Okay, that makes sense.

[2022-08-17 07:06] psiinon commented on #7410
Its assigned to you @karthikuj 😁

[2022-08-17 17:10] karthikuj commented on #7410
Hey devs, I am trying to test my changes, everything works good and it is passing all unit tests when I build the spider add-on. But  the changes are not being reflected when I run it in ZAP GUI.

Here's what I am doing:

In the zap-extensions dir:
- Made the changes in spider add-on.
- ./gradlew addOns:spider:build
- ./gradlew addOns:spider:copyZapAddOn

In the zaproxy dir:
- ./gradlew build
- ./

[2022-08-17 17:22] thc202 commented on #7410
You need to deprecate (annotate) the core extension `ExtensionSpider` and it should work.

[2022-08-17 18:10] MayurVirkar opened #7425 "Not detecting response code as possible SQL Injection"
### Describe the bug

If an endpoint is crashing with 500 with a particular payload, such as ' or ? It should be flagged as a possible SQL injection endpoint

### Steps to reproduce the behavior

Run a scanner on an endpoint that has blind SQL injection vulnerability

### Expected behavior

To detect 500 as a possible SQL injection endpoint

### Software versions

2.1.1

### Screenshots

_No respo

[2022-08-17 18:14] kingthorin commented on #7425
Please be much more specific.

[2022-08-17 18:29] karthikuj commented on #7410
Thank you, fetched this -> https://github.com/zaproxy/zaproxy/pull/7335
It's working now :D

[2022-08-18 08:54] hideintheclouds opened #7426 "Enable the Alert_on_HTTP_Response_Code_Errors on zap-full-scan.py"
### Is your feature request related to a problem? Please describe.

The zap-api-scan.py script from the docker image loads and enables a httpsender .js script to report alerts for 4XX and 5XX HTTP Status codes.
https://github.com/zaproxy/zaproxy/blob/82bbffd6c6c4a95bb882eafef950e31617fbce6f/docker/zap-api-scan.py#L400

https://github.com/zaproxy/zaproxy/blob/82bbffd6c6c4a95bb882eafef950e31617fbce6

[2022-08-18 09:51] psiinon commented on #7426
I can see why this would be useful ... but I'm afraid I dont think we should implement it in the full scan.
I dont think everyone would want this which would mean yet another command line option, and we've already got lots of those.
My recommendation is to use the [Automation Framework](https://www.zaproxy.org/docs/automate/automation-framework/) - we are migrating the packaged scans to use this u

[2022-08-18 12:55] kingthorin opened #7427 "param miner: "Chunk SIze" seems misleading"
### Describe the bug

In the Param Miner add-on the "Chunk Size" doesn't really control the size of the chunks, but more the number of chunks.

### Steps to reproduce the behavior

1. Run ZAP w/ Param Miner installed.
2. Proxy a resource you want to param mine.
3. Start Param Miner, look at the "URL Guess" tab.
4. Note the default "Chunk Size" is two.
5. Run Param Miner.
6. Note that it divides th

[2022-08-18 19:46] ArkaprabhaChakraborty commented on #7427
Damn! I really need to learn this skill of creating good issues :)

[2022-08-19 09:29] globeone opened #7428 "Incorrect classification Informational for Information Disclosure - Sensitive Information in URL"
### Describe the bug

The Information Disclosure - Sensitive Information in URL is currently classified as Informational. Please change this classification to default Medium or High as this check actually shows that user enumeration is possible. We had two cases where it was possible to change the userID in the URL to someone else to see their data, that we ignored as the alert was only Informatio

[2022-08-19 09:30] thc202 commented on #7428
Please, check zaproxy/zap-extensions#3743.

[2022-08-19 09:33] thc202 commented on #7428
The scan rule can't tell if there's any issue or not.

[2022-08-19 09:33] thc202 commented on #7428
As for the other comment, there's already #1603.

[2022-08-19 09:39] psiinon commented on #6626
This has now been fixed by #7424 😄
The fix is in the live docker image and will be in the next weekly one too.

@adiffpirate thank you for the detailed instructions - it made testing this much easier!
I had to make a tweak to one of your files - loading scripts via config params can be "interesting" so I changed `hooks.py` to be:
[code]

Note the Engine name `python : jython` - thats also needed.

[2022-08-19 09:39] #6626 closed

[2022-08-19 10:12] kingthorin commented on #7428
If you can suggest some logic to differentiate an IDOR from a random/un-interesting param value please let us know.

[2022-08-19 10:57] globeone commented on #7428
Observing the current check over several scans, it's already pretty darn accurate at only showing interesting parameters and values. This is why I want to increase it's importance as it would be better to filter false positives than miss the true positives.

The most important findings are the ones with the **userid=** parameter put together with a **GET request** and an **integer value**. These a

[2022-08-19 11:06] kingthorin commented on #7428
Any field is fuzzable (no "potential" about it).

`loginToken={SHA256 HASH}` already exists if you've configured authentication for the app. https://www.zaproxy.org/docs/alerts/10057/ I guess that could be extended to look for plain text occurrences, however they'd probably still be alerted low or info because it is unsurprising to find a user's username used within an app.

You seem to have some