[2022-01-09 10:09] psiinon commented on #7013
All of the ZAP config settings can already be set via the command line: https://www.zaproxy.org/faq/how-do-you-find-out-what-key-to-use-to-set-a-config-value-on-the-command-line/

[2022-01-09 10:09] #7013 closed

[2022-01-09 20:16] thc202 commented on #7013
And the corresponding option: https://www.zaproxy.org/docs/desktop/ui/dialogs/options/connection/#use-proxy-chain

[2022-01-10 09:24] #6462 closed

[2022-01-10 10:30] psiinon commented on #7012
I would move them one level higher up and make them plural, eg
[code]
The `parameters` section is really used for `key: value` settings rather than structured data which is why `policyDefinition` is one level higher too.

Its also worth noting that setting `postData` to false will disable most of the inputVectorHandlers.
Do we want to reflect this in the structure?
Note that we dont reflect that i

[2022-01-10 10:41] ricekot commented on #6305
Was this issue resolved?

[2022-01-10 10:46] psiinon commented on #6305
I've been using Big Sur for a while now and have had no problems with ZAP panels.
If no one else reports any problems soon then I think we can close this...

[2022-01-10 13:14] dwdraju commented on #6162
This worked!

[2022-01-11 02:40] kingthorin opened #7014 "wappalyzer: potential performance tweak"
Implement something similar to https://github.com/AliasIO/wappalyzer/issues/5379#issuecomment-989454679, pre-processing rules to prevent regex scanning of huge strings.

[2022-01-11 02:41] kingthorin commented on #7014
Upstream code ref: https://github.com/AliasIO/wappalyzer/commit/91bcf03f8893c740ca553e1c2fdd7a5baaf7d038#diff-ad7c0e5878800a307cc8ca5b8b986a9565346764379d65c12a986ff0260b486dR518

[2022-01-11 04:45] mudit94 commented on #7013
Hi, @psiinon, It seems it seems the config for proxy chains is not working. I am just getting 1 url found.

[2022-01-11 06:27] thc202 commented on #7014
Worth doing some tests to verify that the same applies in Java.

[2022-01-11 07:55] mudit94 opened #7015 "Zap baseline not producing html report in gitlab"
**Describe the bug**
Zap baseline.py is not producing report in gitlab
**To Reproduce**
Steps to reproduce the behavior:
Use the -r zap_report.html in zap-baseline.py

**Expected behavior**
HTML report should get generated

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Software versions**
 - ZAP: docker image owasp/zap2docker-stable
 - Add-on: Name and version [e.

[2022-01-11 08:54] psiinon commented on #7015
What is the full command you are using (obfuscating sensitive info like the target)?
Do you get any errors, either on the command line or in the zap.log file?

[2022-01-11 09:01] psiinon commented on #7013
It seems "your config for proxy chains" is not working :)
In theory it could be a bug in ZAP but its more likely to be a mistake on your side.
Start a thread on the ZAP User Group https://groups.google.com/group/zaproxy-users giving as many details as you can.

[2022-01-11 09:44] Koploseus opened #7016 "Bad request to API endpoint"
**Describe the bug**
I'm launching a scan via the API, and i have an error with Spider :

![image](https://user-images.githubusercontent.com/25018500/148918531-81c8b87d-68b0-4f59-b9e5-0ac0a79b2c43.png)
i get this : org.zaproxy.zap.extension.api.ApiException: no_implementor

**To Reproduce**
Steps to reproduce the behavior:
1. Use docker zap2docker-stable
2. docker run -u zap -p 8080:owasp/zap2dock

[2022-01-11 09:50] psiinon commented on #7016
The wappalyzer add-on is not included by default in the stable image.
You will need to install it, eg using the command line option:
`-addoninstall wappalyzer`

[2022-01-11 09:52] psiinon commented on #7016
Thats assuming you are calling that API endpoint directly - is that the case?

[2022-01-11 09:56] Koploseus commented on #7016
Yes!

I'm gonna try with the cli option

[2022-01-11 09:59] Koploseus commented on #7016
Ok so now i have this :

![image](https://user-images.githubusercontent.com/25018500/148921453-7a7e6f4f-2603-4efb-b070-fe11f69d6c71.png)

And :

![image](https://user-images.githubusercontent.com/25018500/148921482-a5068c6b-7002-40c0-a2aa-b623b732316e.png)

[2022-01-11 10:01] psiinon commented on #7016
The first doesnt bother me, those errors can probably be ignored.
I think the second one jusy means the site you requested was not found. Try usiong the `view/listSites/` to see what sites are available.

[2022-01-11 10:06] Koploseus commented on #7016
![image](https://user-images.githubusercontent.com/25018500/148922633-0b160e3c-7619-4e94-8f2d-aa5e20c48145.png)

Well it's inside

[2022-01-11 11:11] kingthorin commented on #7016
When you called `listSite` what did you pass as params?

We need you to be specific and tell us exactly what you’ve done along with the screenshots. Expecting us to guess the exact conditions isn’t going to work.

[2022-01-11 11:14] Koploseus commented on #7016
Well i pushed the API Key (that i use also for the ZAP api scanner launch )

![image](https://user-images.githubusercontent.com/25018500/148932754-5023d474-4bf0-4823-9949-fdfd4fb5d557.png)
I can find the url that i want to reach and test

[2022-01-11 11:15] kingthorin commented on #7016
I was referring to the singular call back here https://github.com/zaproxy/zaproxy/issues/7016#issuecomment-1009781126

[2022-01-11 11:19] Koploseus commented on #7016
Well i just launched the docker (with the same command line on my initial post + -addoninstall wappalyzer .

I launched the scan via the API, it's started, and i only printed the logs of the docker and put the screenshot here.

[2022-01-11 11:29] kingthorin commented on #7016
The command in you original ticket entry is invalid, you’ve cropped something at the docker port mapping.

If what your saying is that you passed nothing to `listSite` (singular) then of course you got a does not exist exception, ZAP isn’t clairvoyant, it can’t read your mind to know which site you want the wappalyzer details for.

[2022-01-11 11:35] Koploseus commented on #7016
Yep i did saw it after.

I change it by :

docker run -d  -u  zap -p 8090:8000 -i owasp/zap2docker-stable zap.sh -daemon -host 0.0.0.0 -port 8000 -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -config api.key=bdac94643a64d66afc1a5a6a285e40e4  -addoninstall wappalyzer (like on this doc)

How can i push it correctly ? I'm using Patrowl with it

[2022-01-11 11:45] kingthorin commented on #7016
If you want the wappalyzer details for a single site you pass the `site` param with the site you want details for. (Ex: when you listed sites you had two, so pass one of those values)

If you want wappalyzer details for all sites then use the `listAll` end point.

[2022-01-11 11:52] psiinon commented on #7016
This is not looking like a bug in ZAP - lets move the discussions to the ZAP User Group: https://groups.google.com/group/zaproxy-users

[2022-01-11 11:52] #7016 closed

[2022-01-12 04:52] kingthorin commented on #7014
That makes sense, however, I think I’ll probably need advice on coming up with a practical way to do that.

[2022-01-12 07:59] de-jcup commented on #6875
@psiinon

Actually, we wanted to make the SARIF support/reporting in Owasp Zap available to everyone who uses the ZAP.

Our SARIF reporting integration does work well and the PR was created, but unfortunately, the ZAP team  had strong concerns about the inclusion of the Sarif reporting in the original reporting.

So I decided following: As before, we will integrate Sarif reporting into the reporti

[2022-01-12 09:58] priyanka-raghavan-maersk opened #7019 "Use the sql file fuzzer in the baseline scan"
**Is your feature request related to a problem? Please describe.**
I use the SQL fuzzer in owasp zapdesktop a lot after i finish writing some code.
It would be so nice if i could add this as a part of an automation suite of tests

**Describe the solution you'd like**
I would like to have the same way of doing a dockerized package baseline/apiscan and specify fuzzing of certain parameters and have

[2022-01-12 10:06] psiinon commented on #6875
Hi @de-jcup we do actually agree that this enhancement could be very useful for other ZAP users and we would like to include it in the ZAP code base.
We would just like it to be moved into a new add-on which can still live in the zap-extensions repo.
It can still be included in the ZAP Marketplace and could potentially be included as standard with ZAP.
We can help with the code restructuring if yo

[2022-01-12 10:11] psiinon commented on #7019
I'm not sure that this is a good option for the baseline scan tbh.
Just spitting out the fuzzer output will not help most users.
You can already call and ZAP API endpoint using the Scan Hooks: https://www.zaproxy.org/docs/docker/scan-hooks/
Admittedly the fuzzer doesnt support the API yet, but thats a different issue: https://github.com/zaproxy/zaproxy/issues/1689

[2022-01-12 11:52] RalphRuiz96 commented on #6162
This is to help those that still do not get @dwdraju, basically go to the application directory, where the Owasp Zapp.app is, and then run the command that was provided by dwdraju. From there you navigate to the OWASP\ ZAP.sh file and then run ./OWASP\ ZAP.sh  and thats it! I have also managed to download it using a virtual machine. I know it is a stretch to go in this route, but if this does not

[2022-01-12 13:11] nikhildougall commented on #6893
Hi, is this issue open?

[2022-01-12 13:24] kingthorin commented on #6893
Yes, and yes 👍

[2022-01-12 15:12] kingthorin commented on #6980
Thanks for letting us know. Feel free to refer your compliance team to this issue, and don't forget to read the User Group post that @psiinon mentioned.

[2022-01-12 15:18] de-jcup commented on #6875
Hi @psiinon thank you for the response.

## Current situation
At the moment we (SecHub developer team) are running out of time (not only because of ZAP integration but also other stuff) and we still need some additions/changes/improvements etc. for SecHub report integration from the implemented ZAP sarif reporting. So I think having the changes currently all done inside the fork is the best and fa

[2022-01-12 16:12] phydroxide commented on #6162
the dwdraju solution does not address the trust issue that causes the problem in the first place. What the Zap developers are saying is essentially - 'we are unable to package this up in a trustworthy form, so we'd ask our customers to please ignore this and install it anyway'. Yes working around the security does work. It remains a tad sus.

[2022-01-12 16:16] kingthorin commented on #7014
https://www.oracle.com/technical-resources/articles/java/architect-benchmarking.html

[2022-01-12 16:24] psiinon commented on #6162
Apple dont make it easy to sign Java apps. We've done some playing around and think we can get it done but these things take time and none of us are experts on MacOS signing. We are also doing _lots_ of other things. Contributions gratefully received :)

[2022-01-12 16:28] phydroxide commented on #6162
I predict that buried in the response to "What makes it hard?" is a task that relates to actual security... given there are so many ways to interfere with the integrity of a Java application. You might consider discussing here what trouble you're running into. I predict with more detail there will be more willing to help you through it.

[2022-01-12 16:54] Jeeppler commented on #6875
@psiinon my colleague @de-jcup explained the technical reason, why we have difficulties understanding the separate add-on request. However, I previously pointed out some organizational issues with a separate add-on approach: https://github.com/zaproxy/zap-extensions/pull/3253#issuecomment-1008705574.

We are more than happy to get in touch with the ZAP Core Team, to discuss this issue in more deta

[2022-01-12 18:47] desmond27 opened #7020 "Web cache deception alert triggered when testing a request that requires bearer token authorization"
**Describe the bug**
A clear and concise description of what the bug is.
In a case when sending a request that requires a bearer token based authorization, a 401 response would commonly be returned in case of an invalid or non-existent token. When running a web cache deception scan on such an endpoint, the ZAP tool triggers an alert even when receiving a 401 response.

The cause of the 401 respons

[2022-01-12 18:51] kingthorin commented on #7020
@bettercalln1ck could you look into this?

[2022-01-12 18:52] desmond27 commented on #7020
For additional context:

We use Auth0 as an authentication provider. Our frontend web app authenticates the user with Auth0 when logging in. Auth0 provides the bearer token to our web app when the user successfully authenticates. This bearer token is then passed to the backend API (which is being tested by ZAP here) to determine whether the user is authorized to access any API resource.

[2022-01-12 19:08] MrAkansh opened #7021 "Standardize risk for CSRF related scan rules (10202 & 20012)"
**Describe the bug**
We have observed that Beta alert ID 20012 seems duplicate of Release alert ID 10202. Please review, if this is correct.
https://www.zaproxy.org/docs/alerts/20012/ (Name: Anti-CSRF Tokens Check )
https://www.zaproxy.org/docs/alerts/10202/ (Name: Absence of Anti-CSRF Tokens )

Also

**Software versions**
 - ZAP: 2.11.1
 - Add-on: Name and version [e.g. Passive Scan Rules Alpha v

[2022-01-12 19:10] kingthorin commented on #7021
One is a passive scan rule, one is an active scan rule.

[2022-01-12 19:22] MrAkansh commented on #7021
Hi Kingthorin,

Thanks for quick response. Do you mean to  say 10202 is passive and 20012 is active but both rules are for checking Absence of Anti-CSRF Tokens.

[2022-01-12 19:24] kingthorin commented on #7021
Yes.

The passive one simply checks whether they seem to be present. The active one attempts to abuse forms/submissions in a way to may proove they aren't in use.

[2022-01-12 19:32] MrAkansh commented on #7021
Great Thanks for the confirmation. It's appreciated.
Since end result is same by both the rules (20012 & 10202 ) i.e. Absence of Anti-CSRF Tokens..  Should not they have the same severity? Currently, 20012 is at High, 10202  is at Low. 10202 is a release.

[2022-01-12 19:37] kingthorin commented on #7021
Arguably. I can discuss it with the team. With Firefox 96 just being released I believe all major browsers now apply samesite=lax to cookies so CSRF should be less of a concern, so perhaps there's worthy debate on that side as well.

It seems the two rules were developed at different times and likely worked on by different people. It seems reasonable that if you've confirmed (actively) that an iss

[2022-01-12 19:46] thc202 commented on #7020
Thank you for raising the issue.

[2022-01-13 05:40] mudit94 opened #7022 "ZAP Report should contain the no of urls scanned"
**Is your feature request related to a problem? Please describe.**
ZAP Report should contain the no of urls scanned
**Describe the solution you'd like**
The count of urls which is visible in log when running it in gitlab CI should be listed in report also
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2022-01-13 05:44] mudit94 commented on #7015
the issue is resolved. i added extra space character

[2022-01-13 05:44] #7015 closed

[2022-01-13 05:52] bettercalln1ck commented on #7020
Sure, I will look into it.

[2022-01-13 07:15] wrenashe commented on #6980
The new release with log4j 2.17.1 is highly appreciated.

[2022-01-13 09:22] psiinon commented on #6980
@wrenashe sponsorship of ZAP is greatly appreciated :)
https://groups.google.com/g/zaproxy-users/c/Wg-fKIZ2w6I/m/fPbI8wxuAwAJ

[2022-01-13 09:28] psiinon commented on #7022
Theres almost certainly more information like this we can usefully include in reports.
Note that we're only likely to include this info in the non-traditional reports.

[2022-01-13 10:17] thc202 commented on #7012
That sounds good. Worth tweaking the case of some entries though, for consistency start all with lower case.

[2022-01-13 10:20] vigneshgan opened #7023 "No Ajax Spider checkbox in Quick start page in Latest version of Zap(2.11.1)"
In earlier version of Zap, we could see Ajax spider checkbox which is useful to detect more URL's while running the full scan in Quick start screen. After updating to newer version i.e., 2.11.1, this option is missing, please fix this issue.

I am using Linux Fedora OS, screenshot is attached as below:

![Screen Shot 2022-01-13 at 3 46 46 PM](https://user-images.githubusercontent.com/14109606/1493

[2022-01-13 10:23] psiinon commented on #7023
Do you have the Ajax Spider installed?
Its there on my install of 2.11.1 ...

[2022-01-13 13:11] vigneshgan commented on #7023
Yes Ajax Spider is added, check the screenshot below:

[2022-01-13 13:29] psiinon commented on #7023
Thats weird, it should be there then :/
Any errors in the zap.log file? https://www.zaproxy.org/faq/somethings-not-working-what-should-i-do/
Anyone else have this problem?

[2022-01-13 13:35] kingthorin commented on #7023
Are you able to launch firefox from the toolbar?

[2022-01-13 13:47] vigneshgan commented on #7023
Yes I can Launch firefox from zap:
![Screen Shot 2022-01-13 at 7 15 58 PM](https://user-images.githubusercontent.com/14109606/149341684-ac8653c4-7b4f-4d5f-b944-9242a0dcaf69.png)

[2022-01-13 13:52] psiinon commented on #7023
As per above comment- any errors in the zap.log file?

[2022-01-13 15:35] desmond27 commented on #7020
We have been observing this same issue when we evaluate our Jenkins server as well. Could it be the same issue?

The only difference being that the Jenkins server uses SAML based authentication.

[2022-01-13 15:37] kingthorin commented on #7020
If I recall correctly the rule works by removing cookies, and checking the response vs the original. If cookies have to bearing on the session state (or if the user always failed to login) then it might generate false positives. In the first case cookies shouldn't have any impact on auth state, as the auth header/bearer token are likely verified every request.

[2022-01-13 15:53] kingthorin commented on #7021
https://groups.google.com/g/zaproxy-users/c/V6hfXbOvk5Q

[2022-01-13 18:07] vigneshgan commented on #7023
The information provided is not enough for me to understand in that link and also I tried to find in Google, didn't get any solution, since I am new to Linux, please provide more info to get the zap.log file

[2022-01-13 18:16] kingthorin commented on #7023
Goto: https://www.zaproxy.org/faq/somethings-not-working-what-should-i-do/#check-the-log-file. In the "Check the log file" section read and click the "default directory" link, read:

On your system goto `~/.ZAP`, ex: open a terminal and enter:
[code]

Review/provide whatever files are listed.

If `~/.ZAP` isn't found on your system then reach out to whoever supports your OS and ask them how they'v

[2022-01-13 21:05] denniskniep opened #7025 "Automation Framework: Extend ScriptJob"
- [x] Add a script (and enable it)
- [x] Run a script that does not exist yet. `action: run` supports a path param so that the script doesnt have to be pre configured in ZAP. If supplied then the script would be registered by ZAP when the action runs.
- [ ] Run a targeted script (Inital mentioned [here](https://github.com/zaproxy/zap-extensions/pull/3433#discussion_r783811790))
[code]
- [x] Remove

[2022-01-14 07:00] GunoH commented on #6880
I'm getting this one as well every now and then:
![image](https://user-images.githubusercontent.com/915288/149464732-e6cd7006-e897-4b0d-bbc7-6126eaab1f68.png)

I'm at the latest version (v2.11.1), so it looks like that version still has this issue.
Is there any chance that running from the latest sources will help here?

[2022-01-14 08:53] thc202 commented on #6880
I don't think it will help, there were no changes in the report templates.

[2022-01-14 12:16] psiinon commented on #2315
This is a non trivial change ... but I think I have a usable workaround to some of the nastiness ;)

[2022-01-14 13:08] #2315 closed

[2022-01-15 16:00] thc202 opened #7026 "Unable to generate "Risk and Confidence HTML" report with newer Java versions"
From OWASP ZAP User Group: https://groups.google.com/g/zaproxy-users/c/tZi6U4fbTPo/m/pzOmyJ59AQAJ

Attempting to generate a Risk and Confidence HTML report with Java 17 leads to an exception:
[code]

That's the only report failing.

Updating to latest version (`3.0.14.RELEASE`) does not address the issue, some of the unit tests start failing:
[code]

[code]

[2022-01-16 22:31] denniskniep opened #7027 "Oast"
**Describe the bug**
After solving that issue: https://github.com/zaproxy/zaproxy/issues/7004
There will be no "ZAP IO Error" with the exception visible in the response in specific ActiveScan with OAST AddOn cases:

OAST create HistRef on incoming pingback. The catch of the `send` might happen later (e.g. OAST poll is 10 sec and 15 sec read timeout). In the catch block the exception is set to the

[2022-01-16 22:44] thc202 commented on #7027
It would be better described as "OAST should cache a copy of the registered HTTP message" (or something along those lines) which is actually the problem, the current title is a side effect.

[2022-01-17 07:53] aleksandr-kk commented on #6891
Hi. No, i don't scan huge site. tried for example this sites:
https://www.itineris.net/

[2022-01-17 09:51] MrAkansh commented on #7021
Hi Kingthorin,

how are you, hoping well.

Please review if any conclusion is reached on this. I agree with your inputs that both the rules should be brought to the same risk alert level. Is valid or not valid is a

https://groups.google.com/g/zaproxy-users/c/V6hfXbOvk5Q

[2022-01-17 10:13] vigneshgan commented on #7023
Thank you @kingthorin , I got the log file. I have attached the file, please check why Ajax checkbox is not shown in GUI:
[Zaplog.txt](https://github.com/zaproxy/zaproxy/files/7880977/Zaplog.txt)

[2022-01-17 10:24] thc202 commented on #7023
The cause should be "WARN  AddOn - Invalid add-on: …" try delete the files `~/.ZAP/plugin/selenium-release-15.6.0.zap` and `~/.ZAP/plugin/webdriverlinux-release-34.zap` and install the Selenium and WebDrivers add-on again.

[2022-01-17 11:02] preetkaran20 opened #7028 "Upgrading OWASP ZAP JWT addon"
**Add-on repo**
https://github.com/SasanLabs/owasp-zap-jwt-addon/releases/tag/v1.0.2

**Your contact details**
preetkaran20@gmail.com

**Are you one of the authors**
Yes

**Licence**
Apache License 2.0

**Build instructions**
If not in the repo.

**Link to more information**

**Twitter handle for tool or author(s)**
@sasan_karan

**Promote to Beta or Release?**
Note that all new add-ons start at A

[2022-01-17 12:16] vigneshgan commented on #7023
I have uninstalled Selenium and Linux Webdriver, Linux Webdriver could able to install it from Market place but I couldn't reinstall Selenium, searched in Market place, it's not available. Can you please suggest.

[2022-01-17 12:27] thc202 commented on #7023
Maybe it's already installed? Could you provide the log again? (Just the part of a recent startup.)

[2022-01-17 12:36] #6810 closed

[2022-01-17 12:46] vigneshgan commented on #7023
It was installed, I uninstalled it since you told me to do so, I have to install it, it's not available in Market place, it's not there in Install list as well. Due to this, I cannot run Ajax scan and I cannot launch browser from zap any more. I tried to reinstall Zap once again, still Selenium is not shown in installed add on.
Can you tell me, how to uninstall Zap completely, so that I will insta

[2022-01-17 12:52] psiinon commented on #7023
Try resetting the ZAP configs - theres an option on the bottom left of the Options dialog (from memory).

[2022-01-17 12:53] psiinon commented on #7023
Just reinstalling ZAP wont necessarily help - there are configs held in the std directory that wont get cleared that way: https://www.zaproxy.org/faq/what-is-the-default-directory-that-zap-uses/

[2022-01-17 13:05] vigneshgan commented on #7023
I did the restore defaults, still couldn't find Selenium add on in the installed add ons list. Is there any other way to install Add on apart from Market place?

[2022-01-17 13:05] thc202 commented on #7023
It was not installed at least not properly as the log indicated that the add-on had errors, that's why I suggested deleting them. The latest log you provided still shows them, did you remove them?

[2022-01-17 13:07] thc202 commented on #7023
And to be clear I'm referring to the add-ons not ZAP itself.

[2022-01-17 13:09] vigneshgan commented on #7023
Yes I removed it by using uninstall select from the installed list.
![Screen Shot 2022-01-17 at 6 38 35 PM](https://user-images.githubusercontent.com/14109606/149774862-ab1f96a6-e501-4083-81a8-7ac3a25d0a00.png)

[2022-01-17 13:14] vigneshgan commented on #7023
@thc202: Please let me know, if we uninstall an add-on, how to reinstall it again. I believed it should be available in Market place but it's not there. In that situation how to reinstall it again?

[2022-01-17 13:27] preetkaran20 commented on #7028
Hi team,

I have updated the binaries with newer changes as discussed: https://github.com/SasanLabs/owasp-zap-jwt-addon/releases/tag/v1.0.2

thanks,
Karan

[2022-01-17 13:33] kingthorin commented on #7023
Goto ZAP's home directory and manually delete it from the `plugins` directory.

[2022-01-17 13:40] psiinon commented on #6891
Also, do you need to allocate more memory to the docker container on Azure? I know I had to do that on Mac OS ...

[2022-01-17 13:52] thc202 commented on #7023
Delete both files mentioned previously. Once that's done you should be able to see the add-ons in the marketplace.

[2022-01-18 00:05] kurobeats commented on #6830
Currently am working with a very large (> 8GB) session and the load times are very long. I wonder if the scope of this request be expanded to postgresql? It works well for metasploit and importing very large Nessus scans so I imagine it would be good for ZAP too.

[2022-01-18 00:19] kingthorin commented on #6830
@kurobeats it's likely that whatever is done will be DB agnostic.

[2022-01-18 04:54] vigneshgan commented on #7023
@kingthorin and @thc202  : You people are awesome:), Thank you very much, I could see the Selenium in Market place now.

[2022-01-18 04:56] kingthorin commented on #7023
Great, let us know if the checkbox is visible again once you install it and restart ZAP.

[2022-01-18 05:03] vigneshgan commented on #7023
The Ajax issue is also resolved. I could see the check box now. Thank you all for your valuable time to assist me.
![Screen Shot 2022-01-18 at 10 25 37 AM](https://user-images.githubusercontent.com/14109606/149873879-7932a8de-2b39-4418-986f-e855199d1558.png)

[2022-01-18 05:28] vigneshgan commented on #7023
The issue is resolved, will close the issue.

[2022-01-18 05:28] #7023 closed

[2022-01-18 07:54] ghostinside opened #7031 "PathTraversalScanRule rule Check 5 false positive, 100% repro"
if the database field is < 30 chars length the first request to field with value "thishouldnotexistandhopefullyitwillnot" (this is const from rule NON_EXISTANT_FILENAME) will return <> 200, as we got <> 200 the second request will be made (in our case the end of the API URL is /update, owasp makes the second request with field: "update") with value "update" in a field what leads to response 200 (j

[2022-01-18 08:15] thc202 commented on #6964
Closing, duplicate of #1364.

[2022-01-18 08:15] #6964 closed

[2022-01-18 08:16] thc202 commented on #6830
The problem is not in the underlying database but how the sessions are loaded (#1364).

[2022-01-18 08:17] thc202 commented on #7021
Could you update the issue title accordingly?

[2022-01-18 08:59] psiinon commented on #7031
Oh interesting - thanks for reporting this. I wonder if it impacts other scan rules in a similar way..

[2022-01-18 15:03] EndPositive opened #7033 "Cloud Metadata Potentially Exposed false positive"
**Describe the bug**
The Cloud Metadata Potentially Exposed active rule generates false-positives for all 200 pages that instead do errorhandling/redirect using JavaScript.

**To Reproduce**
Example (reduced) response body that triggers an alert:

[code]

**Expected behavior**
The active rule detects the redirect and does not trigger an alert.

**Software versions**
 - ZAP: v2.11.1 In Docker
 - Ad

[2022-01-18 15:10] kingthorin commented on #7033
Leverage custom error pages? They exist to facilitate this exact issue, when apps/servers don't follow industry standards.

[2022-01-18 15:23] EndPositive commented on #7033
Custom error pages would indeed be a  quick fix for this issue. It would be really cool if we can detect such scenarios automatically. There's some work for this in `paros.core.scanner.Analyser.isFileExist`, which checks if some other page redirects to the same page. In this issue, we could do the same, but then allowing javascript to run (so that we redirect).

[2022-01-18 15:53] kingthorin commented on #7033
This scan rule could do a prelim dummy request (`/somefilethatshouldnotexistandlisteklydoesnot`) and see if that response is the same as the test response. If it does then don't alert, if it doesn't then alert. In your example above both should be the 200 page doing the JS redirect. The active scanner can't execute the JS but the scenario should still pan out.

[2022-01-18 16:34] EndPositive commented on #7033
Cool, I think that would solve the issue in most cases, except when the response body contains (part of) the url, thus not being identical on a random request.

[2022-01-18 16:48] thc202 commented on #7033
@kingthorin did you check if with the custom pages the issue is addressed already? The Analyser does what's being suggested here and iirc the custom pages uses the Analyser.

[2022-01-18 16:53] kingthorin commented on #7033
I haven't checked yet. I do recall that we leveraged the analyser in some of the checks/methods I just don't recall which off the top of my head.

[2022-01-18 17:22] mudit94 commented on #7022
I am referring to the html report of zap

[2022-01-18 17:31] mudit94 opened #7034 "Support for handling oauth 2.0 type authentication in zap baseline scan"
I am using zap baseline scan via gitlab ci for testing a web application. The site uses oauth 2.0 type authentication sign-in mechanism. My application is like first it asks for username, then after username is verified, it asks for password. The authentication page is not on the same domain as that of the application

**Describe the solution you'd like**
Support for the authentication stated abov

[2022-01-18 17:44] MrAkansh commented on #7021
Thanks @kingthorin @thc202

Appreciate, your efforts on this issue.  Please confirm the conclusion on this, once ready to share.

[2022-01-18 18:15] ghostinside commented on #7031
if you can also add a request ID to the alert report, it can save a lot of time during the investigation

[2022-01-18 18:20] thc202 commented on #7031
Which report specifically?

[2022-01-18 18:28] ghostinside commented on #7031
here

![image](https://user-images.githubusercontent.com/10547793/149996616-60a39b83-33ac-4e53-969e-e6b6f5841814.png)

i can see the request which leads to the alert, but it is hard to find which one was before or after to investigate sequence (if the rule use several requests), having ID i can easily find the sequence in active scan report & investigate

[2022-01-18 19:55] kingthorin commented on #7033
If the check of the header status code was replaced with [`isPage200(HttpMessage)`](https://github.com/zaproxy/zaproxy/blob/1f69b4fafbadb341dc95dc56ba1f5f3407ac589d/zap/src/main/java/org/parosproxy/paros/core/scanner/AbstractPlugin.java#L611-L630) then this would be covered by Custom Pages and Analyser.

[2022-01-18 20:31] kingthorin commented on #7031
Check 5 purposefully re-uses the last portion of the URL path in parameter values in order to attempt a "local" traversal (perhaps inclusion would be a better word).

[2022-01-18 23:38] kurobeats commented on #1364
@preetkaran20 if you are still looking into solving this issue, I'm can try creating you a large session file? Might take me a little while as I'm dealing with client data at present (can't share that!) but I'm sure I can cook something up.

[2022-01-19 00:27] kingthorin commented on #1364
@kurobeats that would be great, we accept any and all help.

[2022-01-19 04:26] kurobeats commented on #1364
Alrighty, I have a ~10GB session to share (I spidered a lot of random sites). What's the recommended way to go about sharing this?

[2022-01-19 06:56] thc202 commented on #1364
IMO it might be easier to just run a standalone script that adds a bunch of random "sites"/data to the Sites tree and history.

[2022-01-19 06:57] kurobeats commented on #1364
Keen to know how one might achieve this.

[2022-01-19 07:34] preetkaran20 commented on #1364
I think we can share on google drive if possible.

[2022-01-19 09:14] thc202 commented on #1364
Just create `HistoryReference`s in a loop with the HTTP message contents needed, that's the same as generated traffic, random the type of the history reference, the paths, the bodies and you can have all the cases to properly test this issue.

[2022-01-19 17:06] EndPositive opened #7036 "Hidden File Finder false positive"
**Describe the bug**
In this specific case, a hidden file was found on a page that returned a 302 status code. I can imagine there are cases in which the redirect actually points to an existing file, but in this case the redirect is to an error page.

**To Reproduce**
Example (reduced) response body that triggers an alert:
[code]

**Expected behavior**
The alert it not triggered.

**Software versi

[2022-01-19 18:57] kingthorin commented on #7036
The does the call at 626 callback to statuscode though?

[2022-01-19 23:07] kurobeats commented on #1364
@preetkaran20 sounds good. Feel free to share a folder with me, we can coordinate on the discord for privacy.

[2022-01-20 00:29] elogada opened #7037 "WAF evasion by placing rate-limiting per-second feature."
**Is your feature request related to a problem? Please describe.**
Cloudflare (among other WAFs) have a rate-limit feature wherein they will hand you an error code 429 if you send too much. This is problematic for some features such as Forced Browse, especially in the case of remote cloud environments (ie staged in Azure) wherein the requests are _far too fast_ for the simple "concurrent threads"

[2022-01-20 05:59] thc202 commented on #7037
For Forced Browse it might just be a matter of exposing the option. I think there's already an issue for this.

[2022-01-20 22:01] willfarrell opened #7040 "pscanrulesAlpha/SubResourceIntegrityAttributeScanRule false positive for <link href="" rel="canonical">"
**Describe the bug**
`pscanrulesAlpha` returns a false positive  when link tag has `rel="canonical"` for `SubResourceIntegrityAttributeScanRule`

**To Reproduce**
[code]

**Expected behavior**
I expect no alert to be raised

**Screenshots**
![Screen Shot 2022-01-20 at 14 39 05](https://user-images.githubusercontent.com/1097020/150428046-57ee9a66-19b6-4461-8b9a-3718524871e5.png)

**Software version

[2022-01-20 22:07] kingthorin commented on #7040
They’re different hosts, to be sure you’re loading the resource you think you are it should have an SRI shouldn’t it?

[2022-01-20 22:09] kingthorin commented on #7040
I see your argument, yes we could/should account for rep=canonical

[2022-01-20 23:21] sgerlach commented on #7031
I DO think the regex might need to be case insensitive. Saw a payload with "error" in the body and returned 200 and FP'd
https://github.com/zaproxy/zap-extensions/blob/1feff0ca7f87d7d0fd5719b66514dee6dd800696/addOns/ascanrules/src/main/java/org/zaproxy/zap/extension/ascanrules/PathTraversalScanRule.java#L476

Not sure that's related to the original example or not...

[2022-01-21 02:45] knassar702 opened #7041 "java.lang.OutOfMemoryError on the API"
hello team, I'm using zaproxy Docker image on my server and i tried to send a simple GET request from my server (on localhost) and it works but if you try to send the same request outside the server you will get this error

[code]
i tried to change the memory size from JVM variables but it doesn't make any difference

### Env
* Docker: owasp/zap2docker-stable
* OS : Ubuntu 21
* MEM : 4 GB
* DISK:

[2022-01-21 03:34] kingthorin commented on #7041
This doesn't quite make sense.
`-config api.addrs.addr.name=0.0.0.0 -config api.addrs.addr.regex=true` isn't regex for one.

How are you trying to send the GET from outside the server? What's your API call?

Did you try setting the JVM memory settings to take more RAM? How long was the ZAP docker container running when it went OOM? How many requests had you proxied, spidered, active scanned, etc.

[2022-01-21 03:47] knassar702 commented on #7041
just a GET request to the root path via CURL, i tried `api.addrs.addr.name=` option but it doesn't work

Did you try setting the JVM memory settings to take more RAM : yes
How many requests had you proxied, spidered, active scanned : nothing

[2022-01-21 04:35] kingthorin commented on #7041
No you can't leave it blank. It needs to be an actual pattern as outlined.

[2022-01-21 06:02] thc202 commented on #7041
This is a duplicate of #3594.

[2022-01-21 11:11] thc202 commented on #6305
Closing, no reports.

[2022-01-21 11:11] #6305 closed

[2022-01-21 11:46] ricekot commented on #1879
Closing as this is now being done for most scan rules with alert tags.
https://www.zaproxy.org/docs/desktop/ui/dialogs/addalert/#alert-tags

[2022-01-21 11:46] #1879 closed

[2022-01-21 13:11] kingthorin commented on #2588
The user did indicate that changing the timeout worked, however as @thc202 pointed out it's probably "more" correct to account for round-trip-time on a few 'normalizing' requests for comparison.

This might also benefit from the idea of a follow-up check being done single threaded (I believe that's discussed in another issue WRT SQLi FPs).

[2022-01-21 13:38] fzipi commented on #6162
You can achieve the same using `--no-quarantine`:
[code]

`--no-quarantine` ~= `xattr -d com.apple.quarantine /Applications/OWASP\ ZAP.app/`

[2022-01-21 15:40] #6424 closed

[2022-01-21 21:29] sgerlach opened #7043 "Technology Selection - Java.Spring cannot be deselect without deselecting Java"
**Describe the bug**
Since Adding the Spring sub-type for Java, noticed that you cannot deselect Spring and leave Java selected. Looks like something is causing all or nothing behavior for that sub-type.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Session properties
2. Open the Technology Section and deselect Spring under Java
3. Notice, Java is deselected and cannot be selected wi

[2022-01-21 21:53] #7003 closed

[2022-01-21 23:13] phydroxide commented on #6162
... yeah but....

[2022-01-22 14:35] preetkaran20 commented on #7028
Hi @psiinon ,

When can we expect the addon release? Can you please help with releasing it early?

Thanks,
Karan

[2022-01-22 14:42] kingthorin commented on #5205
The submitting user is gone, the code seems to be gone. Closing.

[2022-01-22 14:42] #5205 closed

[2022-01-22 14:45] kingthorin commented on #6175
@gdgd009xcd sorry we lost sight of this, shall we go with 0.5.6?

[2022-01-22 14:47] kingthorin commented on #7028
Sorry we lost sight of this, will try to get this going early next week.

[2022-01-22 16:17] preetkaran20 commented on #7028
@kingthorin thankyou !!!

[2022-01-22 17:48] Anthonymcqueen21 opened #7045 "Updating ZAP to latest version on Parrot OS"
Hello everyone, I have been trying to find online way to update the latest version of ZAP on Linux. I am currently using the Parrot OS system and I have updated the tools, but the overall project needs to be updated. Any help or suggestions would be greatly appreciated, thank you for the command line.

[2022-01-22 18:01] kingthorin commented on #7045
You’ll need to reach out to Parrot OS support and get them to update their package likely.

https://community.parrotsec.org/c/support/6

[2022-01-22 18:02] #7045 closed

[2022-01-22 18:04] kingthorin commented on #7045
Seems like they do have 2.11.1 packaged, update however you normally would on Parrot.

https://deb.parrot.sh/parrot/pool/main/z/zaproxy/

[2022-01-22 18:10] Anthonymcqueen21 commented on #7045
Alright thanks ill check it out.

[2022-01-22 20:16] thc202 commented on #7028
Closing, the newer version is now available in the marketplace.

[2022-01-22 20:16] #7028 closed

[2022-01-23 01:24] preetkaran20 commented on #7028
Thankyou @thc202 @kingthorin

[2022-01-23 22:41] kingthorin commented on #7036
@EndPositive there are dev docs here: https://www.zaproxy.org/docs/developer/

Most of the core team uses Eclipse, it's easy to run ZAP in debug mode.

You can run Unit Tests from within Eclipse as well, or you can use `./gradlew :aO:ascanrulesBeta:check` (that'll run all the unit tests for the whole add-on, so really eclipse is kinda handy for specific test methods or classes).

[2022-01-24 09:24] psiinon commented on #7043
This is probably "as designed" in that previously a higher level tech with no child boxes selected didnt make sence.
But now it does, so yes this is a bug..
Relevant classes:

- https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/view/TechnologyTreePanel.java
- https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/view/JCheckBoxTree.java

[2022-01-24 13:30] #7033 closed

[2022-01-24 14:56] psiinon opened #7048 "Automation Framework: full auth script support"
The current yaml for authentication is defined on https://www.zaproxy.org/docs/desktop/addons/automation-framework/environment/

Proposed yaml for script based authentication:
[code]
Authentication scripts define the required and optional parameters they need as well as the credentials.
The yaml doesnt have to differentiate between required and optional parameters - the script will report if any r

[2022-01-24 16:15] EndPositive commented on #7033
Awesome, thanks a lot!

[2022-01-25 08:30] #6671 closed

[2022-01-25 12:03] psiinon commented on #7048
It turns out session management already supports script params - I'll update the help to reflect this:
[code]
The credentials are associated with the use rather than the auth script, so I'm thinking of changing the users section from
[code]
to
[code]
Hopefully I can change this in a backwards compatible way - so the old form will be read in but it will always be output in the new form.

The authen

[2022-01-25 12:36] thc202 commented on #7048
Sounds good to me.

[2022-01-25 13:38] maartenkuijpers commented on #7015
hi @mudit94 , I'm experiencing exactly the same thing but cannot get it solved. I cannot think of a place where I could add an extra space character... Could you please let me know what you did where?  Thanks!!

[2022-01-26 09:44] gdgd009xcd commented on #6175
Currently, i 'm busy with other work.
i will tackle this when other work is done.
so, i  close once.

[2022-01-26 09:44] #6175 closed

[2022-01-26 17:53] Anthonymcqueen21 opened #7050 "How to stop freezing or crashing."
Hello Zap world my question is whenever i am on Attack mode and testing my target how do i minimize the risk of the application freezing and or crashing. Which leads to shut down and restart my work all over again and its just an annoyance what do i need to do to limit the active scanner and test each page manually with limitations. I am sure you guys get this question a lot but some insight and h

[2022-01-26 18:46] rubyman opened #7051 "Add an API to get status of the running standalone script"
**Is your feature request related to a problem? Please describe.**
It's not a problem but when I'm running a standalone script and I'm going to run other tasks after that I don't know it's finished or not.
**Describe the solution you'd like**
It would be useful if we add another view under the script component like scriptProgress(if it's possible) or status.
**Describe alternatives you've consider

[2022-01-26 18:53] kingthorin commented on #7051
Don’t the buttons at the top of the window portray the status of the script? (Ex: isn’t the run (play) button disabled while the script is runny oh?)

[2022-01-26 19:52] kingthorin commented on #30
@SkypLabs any news?

[2022-01-26 20:48] thc202 commented on #7051
The issues seems to be about the ZAP API.

[2022-01-26 21:15] kingthorin commented on #7051
You're right.

That being said we can't really do a progress meter on a task that has an unknown completion time or progress. I guess we could add a running/not-running (or other true/false) status though.

[2022-01-26 21:16] kingthorin commented on #7051
Code ref: https://github.com/zaproxy/zap-extensions/tree/main/addOns/scripts
Dev guide: https://www.zaproxy.org/docs/developer/

[2022-01-27 06:25] thc202 commented on #7051
In that case it would have to be changed in core: https://github.com/zaproxy/zaproxy/blob/e5ffeef23fc36b87e0a3b5697343edb2e010467b/zap/src/main/java/org/zaproxy/zap/extension/script/ScriptAPI.java

[2022-01-27 09:25] mudit94 opened #7052 "Unable to execute zap authenticated scan by importing contexts (form based authentication)"
**Describe the bug**
Unable to execute zap authenticated scan by importing contexts (form based authentication)

**To Reproduce**
IN a gitlab stage
I have below config 2022-01-27 09:10:28,780 http://localhost:48009 "GET http://zap/JSON/spider/action/scanAsUser/?contextId=1&userId=323&apikey= HTTP/1.1" 400 58
Traceback (most recent call last):
  File "/zap/zap-baseline.py", line 521, in main
    za

[2022-01-27 09:28] thc202 commented on #7052
You should check ZAP's log to know the actual reason, the scan would not start if not able to access the target.

[2022-01-27 09:33] psiinon commented on #7052
This is likely to be a misconfiguration issue rather than a bug in ZAP.
In which case the User Group is a much better place to ask for assistance: https://groups.google.com/group/zaproxy-users
If it does turn out to be a bug in ZAP then we can raise a specific issue for that problem.

[2022-01-27 09:33] #7052 closed

[2022-01-27 09:39] psiinon commented on #7051
I'm all for providing as much info as we can about scripts via the API.
As @kingthorin mentioned the completion time / progress will be a problem as scripts can do anything, but if we could make the script output available via the AP{I then scripts could be implemented to report their progress...

[2022-01-27 09:52] psiinon commented on #7050
Please ask questions on the ZAP User Goup: https://groups.google.com/group/zaproxy-users

[2022-01-27 09:52] #7050 closed

[2022-01-27 15:10] mgelly-scr opened #7053 "Font / text corruption on the GUI"
Hi, this is probably an issue with my installation but I cannot find what can be the issue.
After installing the windows version of ZAP 2.11.1, I have some corruption / misrendering of the font in the GUI

Here is a screen as an example:
![image](https://user-images.githubusercontent.com/45166103/151385677-8076e2fd-b2d1-49b6-b35b-8030e343fca6.png)

I tried reinstalling completely the software, reb

[2022-01-27 15:18] kingthorin commented on #7053
Looks like you've set your language to something other than English.

You can either find this options screen and set it to English (which might mean trial and error of that menu is translated as well). Or you can just hit the restore defaults button in the bottom left:

![image](https://user-images.githubusercontent.com/7570458/151387955-989968a1-a5c8-4857-ad4a-7f2bd7ddd015.png)

[2022-01-27 15:47] mgelly-scr commented on #7053
Thank you for your response, but it seems this is not the problem.
I am a french user, so by default the language was set on french, I found the option and set it on the first value (normally english as I saw on another pc), and nothing has changed:

![image](https://user-images.githubusercontent.com/45166103/151393377-6af007f0-25ce-453a-a643-e39ff73fd236.png)

[2022-01-27 15:57] psiinon commented on #7053
Based on the file path you have given I'm guessing you are using Windows - which version?
And which JRE?

[2022-01-27 16:05] mgelly-scr commented on #7053
Indeed, as said before, I am on Windows:
- Windows 10 Pro 21H2 build 19044.1415
- JRE build 1.8.0_321-b07

@kingthorin : I did closed ZAP / start again, but nope no change and the language change was applied as some text were in english (like my screenshot above, but in english)

[2022-01-27 16:12] kingthorin commented on #7053
Could you share a screenshot of your ZAP Display settings? (You might have to resize the dialog to show all the content)
![image](https://user-images.githubusercontent.com/7570458/151398041-03a3ecf1-ba59-4c40-9c30-6fb3341d1b5a.png)

[2022-01-27 21:05] Anthonymcqueen21 commented on #7050
Thanks

[2022-01-28 07:16] mgelly-scr commented on #7053
I "hope" this is the right screen, since I cannot read anything...
(in two parts, because of the broken display, the settings modal is huge)

![image](https://user-images.githubusercontent.com/45166103/151503689-45bd9c7d-8a22-44db-943a-870c5410c913.png)
![image](https://user-images.githubusercontent.com/45166103/151503817-6918dbc0-aabf-473b-981f-2d9a68585879.png)

[2022-01-28 08:14] thc202 commented on #7053
Could you try setting a font?

[2022-01-28 08:14] mgelly-scr commented on #7053
Ok, changing the values for the font name seems to have fixed the issue.
What is the default font used by ZAP?

[2022-01-28 08:15] thc202 commented on #7053
ZAP does not set a default, great to hear that's now working. Odd that it didn't happen in previous versions.

[2022-01-29 13:19] karthanistyr opened #7055 "Doubled apostrophes in (at least) the French translation"
**Describe the bug**
All apostrophes are doubled in menus, labels and text blocks in Zaproxy when set to language `fr_FR`. This is not correct. I appears the Crowdin exports (translation files) are responsible for this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tools > Language
2. Set Language to `français`
3. Unfold the "Outils" (Tools) menu
4. First item in menu displays as `Na

[2022-01-29 13:33] thc202 commented on #7055
Setting changed in Crowdin (only core `Messages.properties` file was using the incorrect setting), next sync should have the correct content.

[2022-01-29 13:39] Sy3Omda opened #7056 "zap api spider list of urls stucked on error Checkpoint end - txts: 2986393"
**Describe the bug**
i'm running bash script to spider list of urls in text file using zap api as following

[code]
as showed in script i tried to remove results to avoid limitation of site in zap api (nodes) if there any limit in fact
but every thing is going okay till the six url in my list which is a normal website as usual but zap keeps giving error as following
[code]

THE MAIN purpose of thi

[2022-01-29 13:43] kingthorin commented on #7056
Where's the error?

[2022-01-29 13:55] Sy3Omda commented on #7056
@kingthorin
[code]
can not continue to spider other urls in list as showed in loop
when i curl api status keeps on status 7
`curl -s "http://localhost:8888/JSON/spider/view/status/?apikey=12345" |  jq -r '.status'`
7
and hanging there with provides loop of HSQLDB checkpoint

[2022-01-29 13:57] thc202 commented on #7056
Could you obtain a thread dump when hanged?

[2022-01-29 14:15] kingthorin commented on #7056
There's no error in that text, that's normal INFO messages.

[2022-01-29 14:31] Sy3Omda commented on #7056
[code]
sorry for misunderstood, this is the error was giving after info message
btw my server ram about 24 but i limit the ram used by zap as showed in script to 4GB.
is that could be a problem ?

[2022-01-29 14:35] kingthorin commented on #7056
Sorry @Sy3Omda I thought you were implying earlier that there was an error in log out put that you kept providing when it was only showing INFO messages, but it went with your additional commentary :wink:

[2022-01-29 14:35] kingthorin commented on #7056
`java.lang.OutOfMemoryError: Java heap space` kind of answers your question.

[2022-01-31 00:24] sofiyanguyen opened #7057 "False Positives for Timestamp Disclosure"
**Describe the bug**
Getting false positives for Rule 10096 Timestamp Disclosure with values that could never be timestamps - eg, those beginning/ending in the following:
 - ending in `%`, eg  `.33333333%`
 - ending in `em` , eg `.33333333em`
 - ending in `rem`, eg `.33333333rem`
 - beginning with a `.`, eg `1.1592500000000001`
 - beginning with other numbers, eg `000000000000000000000000000000001

[2022-01-31 00:44] kingthorin commented on #7057
Those three can likely be addressed.

Could be period delimited, there's nothing we can do about this.

I thought this one was already addressed, will have to check.

[2022-01-31 00:54] sofiyanguyen commented on #7057
Good point about period delimiting. That first screenshot shows the last point - `1.1592500000000001` has more than 8 digits after the dot, yet only last 8 are highlighted.

[2022-01-31 04:31] kingthorin commented on #6607
I have further handling for this ready once https://github.com/zaproxy/zap-extensions/pull/3505 is merged.

[2022-01-31 08:24] #7055 closed

[2022-01-31 16:35] psiinon commented on #6923
All done :) Well, apart from enhancements ;)

[2022-01-31 16:35] #6923 closed

[2022-02-01 03:24] kingthorin commented on #7057
I put together a UnitTest for the specific cases you mentioned, the only one that currently makes it through is the first one. Alerts are not raised for the rest.

[code]

Handling the first case is as simple as changing the regex from `\\b[0-9]{8,10}\\b` to `\\b[0-9]{8,10}\\b(?!%)`.

Would you be able to provide full responses that you got alerts on? The evidence highlighting in ZAP's alerts is b

[2022-02-01 13:14] #4984 closed

[2022-02-01 16:45] #6607 closed

[2022-02-01 20:19] tspearconquest opened #7060 "Docker image - Disabling scan rules at command line not working"
**Describe the bug**
Hi, we run zap in a docker image as: `zap-full-scan.py -t "target" -d -j -I -a -g full-scan.conf -r full-scan-report.html -z "-config 90003=IGNORE"` but the Subresource Integrity Attribute missing section still appears in our scan report.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker pull owasp/zap2docker-weekly`
2. `docker run --rm -it owasp/zap2docker-weekly`

[2022-02-01 20:24] thc202 commented on #7060
That's not a valid config. The state of the packaged scans' scan rules are configured with the configuration file.

[2022-02-01 20:52] tspearconquest commented on #7060
Ok thanks, now I have an idea for how to get this done via the config file. Could you help me understand where to find the key=value pairs that are valid for the -config flag, so that I understand its use better?

[2022-02-01 20:55] kingthorin commented on #7060
https://www.zaproxy.org/faq/how-do-you-find-out-what-key-to-use-to-set-a-config-value-on-the-command-line/

Since we've identified that there isn't actually an issue here the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions/discussion.

[2022-02-01 20:56] #7060 closed

[2022-02-01 22:55] tspearconquest opened #7061 "90003\tIGNORE does not work in zap-full-scan.py"
**Describe the bug**
In follow up to #7060 I ran the same command as I posted previously, without the -z flag, and generated a clean config file. Then I modified that config file to make 90003 show as IGNORE instead of WARN.

[code]

Then I ran zap again as: `zap-full-scan.py -t "target" -d -j -I -a -c ../full-scan.conf -r full-scan-report.html`

The report still came out with the SRI attribute mi

[2022-02-01 23:05] kingthorin commented on #7061
The config file you created controls the results of the scan, not the content of the report. These are fundamentally different things.

Related:
- https://github.com/zaproxy/zaproxy/issues/6291
- https://github.com/zaproxy/zaproxy/issues/5212
- https://github.com/zaproxy/zaproxy/issues/5019

[2022-02-01 23:05] #7061 closed

[2022-02-02 00:02] tspearconquest commented on #5019
Hi, it is not clear from looking at these other issues how to go about disabling the passive scan rules in certain situations, as there is not enough information provided for different methods of running zap.

When running zap-full-scan.py in Docker as I showed in #7061 and #7060, the API starts up on a random port. We also don't open any ports into the container, in order to keep ZAP itself secur

[2022-02-02 09:29] psiinon commented on #5019
@tspearconquest the best place to ask questions is on the ZAP User Group https://groups.google.com/group/zaproxy-users
Issues are just for bugs or enhancement requests.

[2022-02-02 11:21] #7041 closed

[2022-02-02 11:25] #1942 closed

[2022-02-02 11:29] kingthorin commented on #3113
This could be moved to the newly added Spider add-on: https://github.com/zaproxy/zap-extensions/tree/main/addOns/spider

If/when it is then the existing parsers UnitTests should be enhanced to check parsed/returned URLs: https://github.com/zaproxy/zap-extensions/pull/3474#discussion_r796281993

[2022-02-02 11:39] kingthorin commented on #6643
Is there a Listener or other mechanism by which add-ons can be aware of ZAP being shutdown?

[2022-02-02 12:02] psiinon commented on #6643
Session close event should work? So SessionChangedListener.sessionAboutToChange(session)

[2022-02-02 12:25] thc202 commented on #6643
This is already being done on stop just not for all browsers.

[2022-02-02 15:38] tspearconquest commented on #5019
Hello, is it a valid enhancement request to ask for enhanced documentation of how to stop a finding from appearing in a report? I will ask on the user group certainly regardless.

Please advise?

[2022-02-02 21:22] #7057 closed

[2022-02-02 23:23] sofiyanguyen commented on #7057
Sorry - I don't think I can provide the response, since it's the bundled js code for my application. I've tested that regex against my response body and it's not coming back with any hits. The weird thing is, I test it with the old regex and get the same result - no matches. But there are at least a hundred alerts in the ZAP GUI (with Threshold Medium/Default for that Passive scan rule). I'm not s

[2022-02-02 23:27] kingthorin commented on #7057
After the updated rule is released please let us know if you see further occurrences. Also remember to check the response(s) for multiple occurrences of the evidence string.

[2022-02-03 17:10] psiinon opened #7069 "Remove code deprecated in 2.5.0"
This is a handle turning exercise - no coding skill is needed, you just need to be thorough :)

1. Find out what needs to be removed: `grep -R deprec zap/src/main/java | grep "2.5.0"` - there should be 41 matches
2. Remove the classes / methods / fields found above
3. Add a `ZAP` header to any `paros` code changed (see examples below)
4. Add the affected classes / methods / fields to `zap/zap.grad

[2022-02-03 17:57] njmulsqb commented on #7069
Hi @psiinon,

Though I have no idea about paros, spotlessApply and japicmp but I would love to learn, if you don't mind me asking questions here about problems I face during work on this issue, please assign this to me! :)

[2022-02-03 18:02] psiinon commented on #7069
Assigned :D
You'll need to set up a ZAP development environment - more details here https://www.zaproxy.org/docs/developer/
Let us know how you get on!

[2022-02-03 20:39] thc202 commented on #7053
Should we close this? Not sure there's much we can do here.

[2022-02-03 20:43] thc202 commented on #6896
Closing, no further feedback.

[2022-02-03 20:43] #6896 closed

[2022-02-03 20:44] thc202 commented on #6893
@nikhildougall are you still working on this? Any questions?

[2022-02-04 07:29] mgelly-scr commented on #7053
Oh, sorry yes. Case close for my side. The issue seems to come from the default font used after installation. I do not know what could be the problem, but I could bypass this by using another font.
Thank you.

[2022-02-04 08:50] nikhildougall commented on #6893
Hi @thc202 , sorry got busy with another task. I am trying to find the alternative for github account login which is deprecated in the code. I got one solution that we should use PAT in that, but in that we need that token . So I am stuck in that like how to get it. Trying to find the way out.

[2022-02-04 09:02] thc202 commented on #6893
That will be provided by the user (instead of the username/password).

[2022-02-04 09:02] thc202 commented on #7053
No problem.

[2022-02-04 09:02] #7053 closed

[2022-02-04 09:37] thc202 commented on #6832
This will be provided by the Network add-on.

[2022-02-04 09:37] thc202 commented on #3594
This will be provided by the Network add-on.

[2022-02-04 09:42] thc202 commented on #2662
Labelling as add-on, the API will be served from the Network add-on going forward.

[2022-02-04 11:14] CSharmaCovalience opened #7070 "I am unable to generate a report through OWASP"
**Describe the bug**
Unable to generate a report

**To Reproduce**
Steps to reproduce the behavior:
1. Select manual testing
2. Enter the website address
3. From Reports drop-down click on generate report button
4. A pop up will open and click on generate report button.
5. A pop up modal will open that unable to generate report due to OGNL expression

**Expected behavior**
able to generate a repor

[2022-02-04 11:32] nikhildougall commented on #6893
What if instead of taking password we just oauth token and just  change this deprecated function- GitHub.connectUsingPassword(username, password) to this - GitHub.connectUsingOAuth(password)  and in this password will be oue oauth token?

[2022-02-04 11:37] kingthorin commented on #6893
As you prefer. That will mean also making changes to the UI.
Going from username/password to username/PAT seemed easiest to me but I’m not stuck on that idea.

[2022-02-04 11:45] kingthorin commented on #6893
https://docs.github.com/en/rest/overview/other-authentication-methods#via-oauth-and-personal-access-tokens seems to suggest that’s PATs are oauth tokens 🤷‍♂️

[2022-02-04 11:48] thc202 commented on #7070
Closing as duplicate of #7026. For the time being the workaround is to use an older Java version (e.g. 11).

[2022-02-04 11:48] #7070 closed

[2022-02-04 11:53] nikhildougall commented on #6893
Yeah correct.

[2022-02-04 12:01] psiinon commented on #7026
As per #7070 for the time being the workaround is to use an older Java version (e.g. 11).

[2022-02-04 16:43] njmulsqb commented on #7069
Hi, I have set up the development environment today using intelliJ IDEA, it took me way longer than I expected, I have cloned zap-hud, zaproxy and zap extensions and upon building its failing. It has took lots of time for gradle to download its dependencies

Here's the screenshot of error when I try to run ZAP.main()
![image](https://user-images.githubusercontent.com/47940898/152567863-4fd461cb-92

[2022-02-04 16:48] thc202 commented on #7069
Use Java 8 or 11 to build ZAP.

[2022-02-04 17:37] tspearconquest opened #7071 "Add a way to disable passive scan rules from plugins that doesn't require access to the API"
**Is your feature request related to a problem? Please describe.**
Hello, I've been trying to find a way to remove findings regarding missing Subresource Integrity attributes from our organization's ZAP scan reports.

It seems we need to disable scan rule 90003. The documentation and issues I've reviewed so far seem to indicate that the only way to disable this rule is via the API, but we have con

[2022-02-04 17:53] psiinon commented on #7071
Yes it is possible.
The user group is the right place for questions, you just need some patience :)

[2022-02-04 17:53] #7071 closed

[2022-02-04 23:34] sgerlach commented on #7033
I know this is closed, but this test seems to be looking for some VERY specific content. I know customer error pages work is complete, but could/should add some response content checking here given that it's targeting some well known patterns?

[2022-02-05 01:20] kingthorin commented on #7033
Sure if there are known/stable patterns to look for.

[2022-02-05 07:58] njmulsqb commented on #7069
I changed the machine and downloaded JDK 11, repeated the process all over again, now its showing this.
I have tried
1. Invalidating cache
2. Rebuilding gradle
The issue persists
![image](https://user-images.githubusercontent.com/47940898/152633669-e1e9cb71-da39-484f-b5f9-0b04c7a0a99f.png)
![image](https://user-images.githubusercontent.com/47940898/152633699-6947074c-3491-4169-848d-a6da7100a639.pn

[2022-02-05 08:09] thc202 commented on #7069
In the zap-extensions project run the Gradle task `copyMandatoryAddOns` https://www.zaproxy.org/docs/developer/quick-start-build/#installing-zap-add-ons

[2022-02-05 18:20] tspearconquest opened #7072 "Desktop automated scan checkboxes remain clickable after clicking Attach"
**Describe the bug**
The checkboxes in the image below are still clickable.

**To Reproduce**
1. Open ZAP Desktop
2. Click Automated scan
3. Check all checkboxes and enter a URL to attack
4. Click Attack
5. Click on a checkbox and see that it becomes unchecked

**Expected behavior**
They should have greyed out and become unclickable after clicking Attack.

**Screenshots**
![image](https://user-ima

[2022-02-06 00:20] kingthorin commented on #7072
Code ref: https://github.com/zaproxy/zap-extensions/tree/main/addOns/quickstart
Dev docs: https://www.zaproxy.org/docs/developer/

[2022-02-06 00:20] kingthorin commented on #7036
@EndPositive do you plan to try making these changes?

[2022-02-06 18:35] Ed87 opened #7073 "ZAP API Scan fails to parse swagger definition"
I have .NET 5 API that I am running a ZAP API scan against .

When I run this command from Windows 10 it works perfect and the report is generated - for this first  use-case I have the API hosted in IIS on Windows Server 2016 :

`docker run -v "$(pwd):/zap/wrk/:rw" -t owasp/zap2docker-weekly zap-api-scan.py -t http://10.XXX.XXX.XXX:8002/account?field4=4488082040118"&"field7=GENERIC01"&"field10=ABC

[2022-02-06 18:43] kingthorin commented on #7073
ZAP doesn’t seem to be able to retrieve the spec to parse. Likely a networking or timing issue between things starting up.

[2022-02-06 18:50] Ed87 commented on #7073
Very strange  @kingthorin  given that I am running the command on the actual server where the API is hosted.

Actually I switched to this Linux instance because the command was timing out when the API was on a remote Windows server.
What can I do , if anything , to get around this issue ?****

[2022-02-06 18:56] kingthorin commented on #7073
Does that URL actually host an OpenAPI definition because it looks as if it’s an actual direct API endpoint.

[2022-02-06 19:04] Ed87 commented on #7073
.Net 5 by default creates an API Project that is configured with the OpenAPI spec, if thats what you mean . Yes , its an API endpoint and I have been able to run ZAP scan against the same - only that this time the API was hosted on a Windows server and I was running the command from **_my Local Windows PC_**.
How can I check if the URL hosts/contains an OpenAPI definition -- not sure though what t

[2022-02-06 19:09] Ed87 commented on #7073
Can I exec into the ZAP container and try to curl the URL ? Im guessing thats a first to see the actual issue

[2022-02-06 19:11] kingthorin commented on #7073
When you access the /account end point as you have in your example does it return whatever the response is to that action or a full openapi spec? Because zap is expecting you to point to the spec not an individual endpoint with params.

I have no idea why it may have seemed to work before and not now, I don’t have access to your history or environment. You’ll have to debug it.

[2022-02-06 19:12] kingthorin commented on #7073
The [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions like this.

[2022-02-06 19:12] #7073 closed

[2022-02-07 06:37] thc202 commented on #7048
Done with zaproxy/zap-extensions#3491 ?

[2022-02-07 09:04] psiinon commented on #7048
Yes :D

[2022-02-07 09:04] #7048 closed

[2022-02-07 09:12] #7021 closed

[2022-02-07 11:53] psiinon commented on #7026
The unit test failures appear to be related to this issue: https://github.com/thymeleaf/thymeleaf-spring/issues/275

[2022-02-07 18:00] tspearconquest opened #7075 "Automation Framework - Add-On Job - Add UI - Save button - java.lang.UnsupportedOperationException: null"
**Describe the bug**
When trying to configure the automation framework via the ZAP Desktop GUI to install an addon such as ascanrulesAlpha or pscanrulesAlpha, the Save button does not save nor close the dialog, and instead produces a stack trace as per https://groups.google.com/g/zaproxy-users/c/dyQ9U9MPF20/m/ZixcQvPKAwAJ

**To Reproduce**
Steps to reproduce the behavior:
1. Open ZAP Desktop
2. Ad

[2022-02-07 18:14] kingthorin commented on #7075
What version of the automation add-on?

[2022-02-08 11:15] #7075 closed

[2022-02-08 17:36] kingthorin commented on #7072
If they just comment on the issue then you’ll be able to.

[2022-02-08 17:53] levihackerman-102 commented on #7072
Please assign this issue to me.

[2022-02-08 17:55] psiinon commented on #7072
Done :)

[2022-02-09 09:23] psiinon opened #7078 "Automation Framework - import job"
Add a new job to the [Automation Framework](https://www.zaproxy.org/docs/desktop/addons/automation-framework/) - sugested interface:
[code]
The job should be part of the [exim](https://www.zaproxy.org/docs/desktop/addons/import-export/) add-on.
The implementation will be very similar to the [soap job](https://www.zaproxy.org/docs/desktop/addons/soap-support/automation/).
Initial soap job PR: [2765

[2022-02-09 10:43] d-apurva opened #7079 "Get False Positive count using alertCountsByRisk api"
**Is your feature request related to a problem? Please describe.**
I have automated the process of scanning api and ui using zap api's and Jenkins. The automation is working fine end to end and I am creating a Github issue also attaching the reports generated by ZAP.
In Github issue description I am providing count of Low, High, Medium and Informational alerts using alertCountsByRisk api.
In some

[2022-02-09 11:49] psiinon commented on #7079
This is where the API endpoint is defined: https://github.com/zaproxy/zaproxy/blob/1f69b4fafbadb341dc95dc56ba1f5f3407ac589d/zap/src/main/java/org/zaproxy/zap/extension/alert/AlertAPI.java#L75

[2022-02-09 13:02] kingthorin commented on #6643
ExtensionSelenium seems to be quitting all web drivers it knows of that are proxied. I believe this should include DOM XSS and the Ajax Spider. It also calls super.stop() to stop any scans, etc. So unless it needs to wait and try again or to re-stop things in a finally block it "should" be working :wink: (Or there's another condition/circumstance I haven't considered :wink:)

[2022-02-09 18:24] thc202 commented on #5223
Closing, with the merge of #7080 ZAP should start to use the Network add-on to proxy.

[2022-02-09 18:24] #5223 closed

[2022-02-09 18:26] thc202 commented on #6832
Closing, with the merge of #7080 this feature should now be available.

[2022-02-09 18:26] #6832 closed

[2022-02-09 18:26] thc202 commented on #3594
Closing, with the merge of #7080 this feature should now be available.

[2022-02-09 18:26] #3594 closed

[2022-02-09 20:44] SkypLabs commented on #6832
Great news! Many thanks.

[2022-02-09 22:23] kingthorin opened #7081 "exim: Unhandled exception importing URLs"
https://groups.google.com/g/zaproxy-develop/c/k8uf5EJ5sko

[code]

[2022-02-10 00:24] kingthorin commented on #7081
Technically it isn't unhandled, it's just overly verbose.

[2022-02-10 08:26] thc202 commented on #7081
It would be better to validate if the file being chosen is readable.

[2022-02-10 11:27] thc202 commented on #521
@bunysae could you claim the bounty now?

[2022-02-10 11:47] #5497 closed

[2022-02-10 14:18] majstorki88 opened #7082 "OpenAPI can't handle multiple content types from OAS3 specification"
**Describe the bug**
We are having endpoint that can handle multiple content types, and here is the specification:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Run zap from zap weekly image:

[code]
`config.yaml` is as follows:

[code]

**Expected behavior**
Expect to run open API tests with multiple content types.

**Screenshots**
If applicable, add screenshots to help explain you

[2022-02-10 14:42] Sy3Omda opened #7083 "define scan policy rules via zap proxy api"
**Describe the bug**
it is not a bug it's just inquiry for usage
i'm automating running zap api via bash script which my methodology will
importing gathered url via
[code]
starting active scan via
[code]
as i see argument `scanPolicyName` is in url but i did not find in documentation how to set this for example if i need only
scan for High and critical Bugs and ignoring others (Medium, low, info)

[2022-02-10 14:44] kingthorin commented on #7083
Please don't ask questions as issues - the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

If you’re asking about a third party components such as the Jenkins plugin or VSTS plugin please look for their preferred support mechanism as these were not created by and are not supported by the core team.

[2022-02-10 17:03] njmulsqb commented on #7069
I really want to start work on this issue, but am just unable to build ZAP from source. I ran `copyMandatoryAddOns` many times. I have taken fresh clones from the forks I have made after fetching upstream to have the latest code but still...
![image](https://user-images.githubusercontent.com/47940898/153458421-662864ed-a79b-4fe2-8a84-88f6c4d3374e.png)
Apologies for being such a noob

[2022-02-10 17:09] psiinon commented on #7069
Are you _sure_ you have followed the instructions exactly?
I did this a couple of days ago and it worked fine :/

[2022-02-10 17:17] njmulsqb commented on #7069
Yeah I believe so, have a look at above steps I have shared, am I missing something?
I have tried three different OS now

[2022-02-10 17:26] njmulsqb commented on #7069
Yes they're
![image](https://user-images.githubusercontent.com/47940898/153462578-3e9c819f-0848-4743-9919-f07207932f89.png)

[2022-02-10 17:44] kingthorin commented on #7069
This is likely a windows issue. That's the path the copy add-ons tasks use, so if it doesn't exist they probably fail. In which case the dev version attempts to use `C:\Users\<username>\OWASP ZAP_D\`.

I don't have any further advice, IntelliJ seems to be a P.I.T.A. to work with :cry:

I think we do have one person that uses it regularly, so it does work. I just don't know what other steps they ma

[2022-02-10 17:46] njmulsqb commented on #7069
I was facing same issues on WSL Kali Linux, will switching IDE help?

[2022-02-10 18:14] kingthorin commented on #7069
Hmmm you can see at timestamp 4447 in your screenshot callhome and network were installed.

[2022-02-10 18:23] thc202 commented on #7069
If ZAP is not finding the add-ons when running from the IDE it is most likely caused by "wrong" working directory, there are instructions on how to set it for IntelliJ IDEA in: https://www.zaproxy.org/docs/developer/building-zap-with-intellij-idea/

[2022-02-10 21:15] #6783 closed

[2022-02-11 03:54] abhinav-koppula commented on #7079
Hi,
I am interested in working on this issue. Can you please assign this to me?

[2022-02-11 06:36] njmulsqb commented on #7069
This worked, thanks a much mate!

ZAP is building fine but this directory path is still not present, is it okay? Can I move on and start work on this issue?

[2022-02-11 08:14] thc202 commented on #7069
Yes, you can.

[2022-02-11 11:15] #7026 closed

[2022-02-11 11:49] psiinon commented on #7026
This problem is fixed in the latest version of the reports add-on now available via the ZAP Marketplace.

[2022-02-11 20:06] tspearconquest opened #7084 "Default focus for dialogs with a tab row"
**Is your feature request related to a problem? Please describe.**
When opening dialogs in ZAP Desktop, I've found that if there is a row of tabs at the top of the dialog, the default focus seems to be on that row of tabs instead of the contents of the selected tab.

This causes an extra click to be required in some cases, such as the Environment dialog in the Automation Framework, before interact

[2022-02-14 09:09] #7081 closed

[2022-02-14 17:13] kingthorin commented on #6617
Okay there's a couple things here.

1. Whatever you've built so far shouldn't totally undo the existing JSON handling, it should probably compliment it. Ex: While injection is JSON might not trigger you'd be a better industry player if it was handled because who knows if the upstream consumer will handle it well.
2. To the original issue you could exclude excel and other binary file types using th

[2022-02-14 17:54] jhowlett96 commented on #6617
Ok so after your comments I have reimplemented my fix because the test that is causing the problem in my application and also in my test environment is missing tests for content type however at line [709](https://github.com/zaproxy/zap-extensions/blob/1e9e2883cd3aeb4f552131788f5006bb5b900f4f/addOns/ascanrules/src/main/java/org/zaproxy/zap/extension/ascanrules/CrossSiteScriptingScanRule.java#L695)

[2022-02-14 20:36] trevor-vaughan commented on #6992
Is there a workaround for this with Java > 8 or do users need to roll back to 8 and use Nashorn?

[2022-02-14 20:41] thc202 commented on #6992
I'm not aware of a workaround, Nashorn is still available in Java 11.

[2022-02-14 20:48] trevor-vaughan commented on #6992
Ah, my system rolled to 17 and it does not appear to be available. I'll install 11 and pin to that.

It would be nice for the `zap.sh` script to tell you if things might be broken when you run the app and/or for the script loader to tell you you're using an incompatible version.

[2022-02-14 20:58] kingthorin commented on #6992
https://medium.com/swlh/porting-from-nashorn-how-to-handle-multi-threading-in-graal-js-957e359b7df5 ? 🤷‍♂️ (I'm far from versed in any of this)

[2022-02-15 03:46] levihackerman-102 commented on #7022
@psiinon I would like to work on this issue since my first issue's PR is ready to merge.

[2022-02-15 09:08] psiinon commented on #7022
@levihackerman-102 great - let us know if you'd like any pointers.

[2022-02-15 13:24] hahwul commented on #7008
Hi @thc202 @kingthorin :D
Um, I've been experiencing similar issues lately too.
In my case, `Firefox` has an `The provided browser was not found.` error. the mac I have is all the same 😭

- [X] M1 Mac macOS Monterey 12.2
- [X] Intel Mac macOS Monterey 12.2
- [X] Intel Mac macOS Monterey 12.2.1

All three are installed to ZAP 2.11.1 and Firefox, and they were already well used. Is there any good so

[2022-02-15 13:32] thc202 commented on #7008
Seems to be Eval Villain add-on causing the issue.

[2022-02-15 13:46] kingthorin commented on #7008
Seems like an issue with the update workflow. It needs to be set to follow redirects. Will send an update soon.

[2022-02-15 17:43] psiinon commented on #7008
I think this should be fixed now.
@hahwul can you confirm its working for you after you update the Eval Villian add-on?

[2022-02-16 01:55] hahwul commented on #7008
@psiinon
Yes, I just updated Addon, and Firefox is working well! Thank you so much :D

[2022-02-16 02:13] kingthorin commented on #7008
Thanks for letting us know.

[2022-02-16 02:21] kingthorin commented on #7008
To the original issue: It looks like Chromedriver for M1 is a separate binary: https://chromedriver.storage.googleapis.com/index.html?path=97.0.4692.71/

[2022-02-16 02:30] kingthorin commented on #6980
I’m going to unpin this. It seems no one was concerned enough in the end to sponsor a fix/build.

I believe the issue can actually be closed, we have upgraded dependencies to 2.17.1 and there does not currently seem to be anything newer.

[2022-02-16 05:51] thc202 commented on #6980
Sounds good.

[2022-02-16 09:09] psiinon commented on #6980
+1

[2022-02-16 11:07] b8045 opened #7091 "ZAP Error [java.net.SocketException]: Connection reset"
### Describe the bug

When trying to access when of our internal applications while proxying through ZAP, I am getting an error in the browser 'ZAP Error [java.net.SocketException]: Connection reset'.
I've tried using both the in-built browser and external browsers.
The error only occurs when proxying through ZAP.
The application I'm trying to access does not require an outgoing proxy.

### Steps

[2022-02-16 12:02] #6980 closed

[2022-02-16 12:55] psiinon commented on #7091
Does ZAP proxy browser connections when started using the .bat file?
Can ZAP scan your app when started via the exe?

[2022-02-16 13:28] b8045 commented on #7091
I think I've solved the issue.
I was using Openjdk  java version "11.0.8" 2020-07-14

I've changed this to Oracle java version "16.0.1" 2021-04-20 and everything is working as expected now.

[2022-02-16 14:24] kingthorin commented on #7091
Since the connection was actively being reset I'm going to suggest that this was more likely a Windows FW issue that was resolved when you installed a different package, it asked about access and you chose the right option :wink:

[2022-02-17 10:10] codebyshubham commented on #2000
Is anything still pending here?

[2022-02-17 11:05] kingthorin commented on #2000
Not that anyone has noted. However there is almost certainly still items lurking in the UI.

Have a look at the “How-to” section I. The original issue up top.

Keep in mind that the idea here is NOT to tackle everything at once. This is meant to be an issue for total new comers to git/zap, giving them a way  accomplish something.

[2022-02-17 13:44] codebyshubham commented on #6960
Hi @psiinon
I'm from Postman, I would like to work on this but I'm not comfortable in JAVA. If I'm not wrong, I need to work on both
**zaproxy** and the **zap-extension** repository as correct?

[2022-02-17 13:53] psiinon commented on #6960
Hiya @codebyshubham - good to hear from you!
Yes, this will need to be written in java. But only the zap-extension repo will need to be changed.
FYI we have specified this as one of the potential projects for GSoC 2022 https://owasp.org/www-community/initiatives/gsoc/gsoc2022ideas

[2022-02-17 14:00] codebyshubham commented on #6960
Okay, not an issue I'll pick up JAVA while going through the **Import openAPI** extension code and try to replicate it for the Postman API definition. You can assign this to me and I'll let you know If I get stuck.

[2022-02-17 14:01] thc202 commented on #6960
That's not a good example to base of.

[2022-02-17 14:04] codebyshubham commented on #6960
Can you suggest the right example or the right path? I've set up the code locally.

[2022-02-17 14:15] thc202 commented on #6960
I understood but replicate is not the best at least using OpenAPI add-on, if that's just for the base of the add-on that's ok otherwise the import itself better write from scratch.

[2022-02-17 14:18] codebyshubham commented on #6960
Thanks
let me go through the codebase to get a better idea.

[2022-02-17 16:54] thc202 commented on #6643
Proxied in this case are the ones that are proxying through the main proxy not proxying through any proxy (like the AJAX spider and DOM XSS which use their own).

The AJAX Spider was not actually stopping the spiders that's the main reason why they were left hanging, though `ExtensionSelenium` should quit all just in case (for DOM XSS). Will PR changes shortly.

[2022-02-17 17:01] kingthorin commented on #6643
Thanks!

[2022-02-17 21:38] levihackerman-102 commented on #7022
@psiinon @kingthorin Is there some code reference or documentation I can refer to for this issue?

[2022-02-17 21:45] kingthorin commented on #7022
Just the reports that currently exist.

[2022-02-17 22:11] thc202 commented on #7022
Check `ActiveScanJobResultData`, `HostProcess#getTestTotalCount()`, and `activeScanData` usage in the reports add-on.

[2022-02-18 08:13] JakobHaggCAB commented on #6993
Reproduced this on ubuntu 20.04 as hosting environment. Working as expected on windows host.
Image: sha256:8795269ac00b8c2989d7a1ac37b1ead4aa62b3aaefe62e347c26691a54d17f8e

Did anyone figure out a work-around for this?

[2022-02-18 09:29] psiinon commented on #6993
Try this:
`docker run -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-stable touch /zap/wrk/test.txt`

That should create a file called `test.txt` in your cwd. If it doesnt work then try:
`docker run -v $(pwd):/zap/wrk/:rw -t openjdk:8-jdk-alpine touch /zap/wrk/test.txt`

That will use the image that zal2docker-stable uses.
If that works and the previous one doesnt then theres a problem with our image.

[2022-02-18 15:12] JakobHaggCAB commented on #6993
First image, `owasp/zap2docker-stable`, failed with error below. Second image, `ubuntu:20.04`, succeeded without any problem.

Output:
[code]

[2022-02-18 15:30] kingthorin commented on #6960
@codebyshubham not to rush or pressure you, but we'd like to get a feeling for how committed to this you are? This particular idea is one of the suggestions we've made for GSoC 2022 so if you are leaning towards tackling it we should take it off the list.

[2022-02-18 15:52] psiinon commented on #6993
Interesting.
Do you get your current user if you run this:
`docker run -v $(pwd):/zap/wrk/:rw -t ubuntu:20.04 echo $USER`

And does this work?
`docker run -v $(pwd):/zap/wrk/:rw --user root -t ubuntu:20.04 touch /zap/wrk/test.txt`

[2022-02-18 16:08] psiinon opened #7093 "Stop scan and warn desktop user if auth scan fails"
### Is your feature request related to a problem? Please describe.

If an authenticated desktop scan fails authentication then it will still carry on and not give any indication to the user that there is a problem, unless they look at the auth stats.

### Describe the solution you'd like

Add an option to stop an active scan if it appears that the authentication they are using fails, based on the

[2022-02-18 21:32] JakobHaggCAB commented on #6993
I did some more testing with help of my private server (also ubuntu 20.04) on which everything worked as expected.

Our not-working servers are Microsoft hosted machines in which we have some limitations/restrictions.
So `docker run -v $(pwd):/zap/wrk/:rw -t ubuntu:20.04 echo $USER`
Outputs `$USER` and not a username.
`docker run -v $(pwd):/zap/wrk/:rw --user root -t ubuntu:20.04 touch /zap/wrk/te

[2022-02-19 15:28] MR-pentestGuy opened #7094 "Automate all the scans in the site map"
### Is your feature request related to a problem? Please describe.

Hi Zap Team, I would like to know if it is possible to scan and spider multiple sites at the same time like the burp suite

### Describe the solution you'd like

It would be better if we can scan all the sites at once

### Describe alternatives you've considered

.

### Screenshots

_No response_

### Additional context

_No respo

[2022-02-19 15:38] kingthorin commented on #7094
Add them all to a Context and scan the context as the target.

[2022-02-19 15:38] #7094 closed

[2022-02-19 15:39] kingthorin commented on #7094
The [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

[2022-02-19 16:01] psiinon commented on #7094
Also, you can start as many spiders and active scans as you want (and your machine can handle) at the same time.
Right click a node, Attack. Spider of Active scan etc
The relevant tabs have pull downs so you can select the scan you want.

[2022-02-19 17:26] caladanjc opened #7095 "The provided browser was not found"
### Describe the bug

The error message "The provided browser was not found" is returned when clicking on 'Launch Browser' in automated or manual scans. This looks to only occur when the web browser (in my case Firefox) was install through the Microsft Store in WIndows 11.

### Steps to reproduce the behavior

1. Remove any installed versions of FIrefox.
2. Install Firefox from the Microsoft Store

[2022-02-19 17:36] kingthorin commented on #7095
I’ll try to see if I can find a Win 11 VM to test this on.

[2022-02-19 17:42] caladanjc commented on #7095
I'm assuming the geckodriver driver is looking for the firefox executable in "C:\Program Files\Mozilla Firefox\" folder. But when Firefox is installed via the Microsoft store the exe is located somewhere else.

[2022-02-19 18:15] LakiG commented on #7078
Hi
I would like to work on this issue. Can you please assign this to me?

[2022-02-19 18:16] thc202 commented on #7095
The locations of the browser binaries can be specified in the options: https://www.zaproxy.org/docs/desktop/addons/selenium/options/

That `geckodriver` is not finding the binary is not really a ZAP issue (`geckodriver` checks the registry: https://firefox-source-docs.mozilla.org/testing/geckodriver/Flags.html#code-b-var-binary-var-code-code-binary-var-binary-var-code ).

[2022-02-19 18:18] thc202 commented on #7078
Assigned.

[2022-02-19 18:21] psiinon commented on #7078
Great! Let us know if you need any more advice and guidance with it.

[2022-02-19 18:23] psiinon commented on #7095
@caladanjc where was Firefox installed?
We _could_ potentially check this location on Windows as a special case...

[2022-02-19 18:27] kingthorin commented on #7095
Are you able to start Firefox from a command prompt or power shell? (Ex: is it in `%path%` ?)

[2022-02-19 18:34] thc202 commented on #7095
Better raise an issue with `geckodriver` rather than add workarounds in ZAP, IMO.

[2022-02-19 18:57] caladanjc commented on #7095
My apologies, I thought the driver was created by Zap developers. I'll inform the relevant people(s).

In the meantime however, do you think it might be an idea to mention in the install process/steps that if any browsers that have been installed via Microsoft Store that it might not work as expected and that the user will/may need to use the direct install apps instead.....just an idea :-)

[2022-02-21 08:48] barbeque-squared opened #7096 "docker: EOF occurred in violation of protocol"
### Describe the bug

When running zap2docker-weekly (probably other images are/will be affected as well), we experience the following error:

[code]

### Steps to reproduce the behavior

Minimal example that triggers this:
`docker run --pull always owasp/zap2docker-weekly zap-full-scan.py -t https://example.org`

I am able to reproduce this from a CI environment as well as my own desktop. And alt

[2022-02-21 09:02] psiinon commented on #7095
I'm always in favour for improving the docs :)
The existing help is https://www.zaproxy.org/docs/desktop/addons/selenium/options/
How do you think we could improve it?

[2022-02-21 09:11] psiinon commented on #6993
So .. anyone think we need to do anything here (apart from better docs, which I'm working on) or can we close this now?

[2022-02-21 09:25] psiinon commented on #7096
I could not reproduce this using

- `docker run --pull always owasp/zap2docker-weekly zap-baseline.py -t https://example.org`

which should be doing the same thing but without actually attacking the target site.

This could therefore be a problem with your environment.
What happens if you run:

- `docker run -t owasp/zap2docker-stable curl https://www.example.com`

[2022-02-21 09:38] JakobHaggCAB commented on #6993
In my mind @jamesregis observation is correct and it would be a lot nicer to make the `/zap/wrk/` owned and writable for executing user. But if folder is owned by root for a valid reason then all users should be allowed to write it. Wouldn't running as root break the *Principle of Least Privilege*?

In file '/zaproxy/zaproxy/blob/main/docker/Dockerfile-live' there is a part where folder permission

[2022-02-21 09:44] psiinon commented on #6993
But /zap/wrk does not (and I think cannot) exist in the docker image - it is only created as a result of mapping a drive to that path via the `-v $(pwd):/zap/wrk/:rw` part.
Or am I missing something?

[2022-02-21 10:57] barbeque-squared commented on #7096
A new image has been released in the meantime (sha256:be1601e80abddb209f5f62cf1d1541430bd57964da8f6e717587408498601099) but the issue still remains.

Interestingly, it doesn't error if I run it with your command, ie:
* `zap-baseline.py` - works, no error
* `zap-full-scan.py` - doesn't work, error

`curl` (I ran it on -weekly instead of -stable) also works just fine.

[2022-02-21 11:12] psiinon commented on #7096
I can reproduce this using

- `docker run --pull always owasp/zap2docker-weekly zap-baseline.py -t https://example.org --autooff`

[2022-02-21 11:13] JakobHaggCAB commented on #6993
My tests show that it's ok if it exists but mapping it sets the owner to root anyway so that might just swallow other errors for when people forget to map it.

Google indicates that setting a VOLUME does the trick, https://devops.stackexchange.com/questions/4540/how-to-change-the-owner-of-volume-directory-in-dockerfile. But I havn't been able to confirm that.

I'm ok with closing this, since we fo

[2022-02-21 11:16] psiinon commented on #7096
For info

- `docker run --pull always owasp/zap2docker-stable zap-baseline.py -t https://example.org --autooff`

works fine, so thats a work around for the moment

[2022-02-21 12:12] psiinon commented on #7096
This has been announced on the USer Group - if you have questions about this problem then please ask them on that thread rather than this issue.

[2022-02-21 12:12] psiinon commented on #7096
https://groups.google.com/g/zaproxy-users/c/_rEXDz_NhYE/m/ykS6_gKvAQAJ

[2022-02-21 12:52] #7096 closed

[2022-02-21 12:52] psiinon commented on #7096
We believe the above mentioned PR will fix this issue. We will regenerate the docker images as soon as that has been merged and is available.
And of course update this ticket with the progress.

[2022-02-21 13:09] psiinon commented on #7096
The docker images are being rebuilt now.

[2022-02-21 13:43] codebyshubham commented on #6960
Hi @kingthorin
Yes, You can assign this feature to me. I'll complete this feature with all the new changes in Postman collections.

[2022-02-21 14:07] psiinon commented on #7096
The Live docker image now works as expected.
We've had a hickup regenerating the weekly image but we think we've fixed that and have kicked off the generation again.

[2022-02-21 15:15] psiinon commented on #7096
And I can confirm that the weekly image is also good :)

[2022-02-22 08:17] majstorki88 commented on #7082
hello @psiinon, is there some news regarding this issue?

[2022-02-22 09:04] psiinon commented on #7082
@majstorki88 any updates would have been made to this issue and there are none, so no.
No one is assigned to it and no one has offered to work on it so far.
We are a relatively small core team so always v happy to hear from anyone who would like to work on something like this.
If you could supply a simple example of multiple content types that shows this problem then that might help anyone who is

[2022-02-23 11:17] njmulsqb commented on #7069
Hi,

First of all, I want to apologize for such slow progress from my side as always, actually I am a full time employee and also taking part in #100DaysOfHacking challenge these days so contributing actively to FOSS is getting tough for me. But that never means that I am not willing to contribute, I always love FOSS and I want to see ZAP surpassing Burp one day in every aspect#6947

Now coming to

[2022-02-23 12:20] kingthorin commented on #7069
In your example is would be 609 to 623 that you remove. Ex: The javadoc and entirety of the method it applies to.

For the zap comment in paros classes I’d suggest a generic comment like `Removed code previously deprecated in 2.5.0` or something like that.

[2022-02-23 16:50] psiinon opened #7100 "Update rules to use alert refs"
[Rules](https://www.zaproxy.org/docs/alerts/) with multiple examples

- [x] [10020/](https://www.zaproxy.org/docs/alerts/10020/) https://github.com/zaproxy/zap-extensions/pull/3608
- [x] [10032/](https://www.zaproxy.org/docs/alerts/10032/) https://github.com/zaproxy/zap-extensions/pull/3608
- [ ] [40040/](https://www.zaproxy.org/docs/alerts/40040/)
- [ ] [90004/](https://www.zaproxy.org/docs/alert

[2022-02-24 06:28] njmulsqb commented on #7069
Hi,

I have made the changes I asked for yesterday, kindly review them.

If everything is fine, give me the green signal so that I may start work on rest of the code.

Also, I have one question, I changed the code in zap repo through IDE and pushed it, but for zap-core-help I added the changes via Github Website. Is it okay?

[2022-02-24 12:01] oabuoun opened #7104 "Active scanning is scanning all websites, not only the ones in the list"
### Describe the bug

ZAP HUD is active scanning all websites referred to by the original site you want to scan, even if they are not in allow list.

Description:
I'm running ZAP 2.11.1 on Ubuntu 20.04 inside a VM (VirtualBox). I was testing ZAP on JuiceShop for one of my course. I started ZAP, then I started the preconfigured Firefox Browser. I visited 127.0.0.1:3000 (juiceshop) and then chose to

[2022-02-24 12:08] psiinon commented on #7104
No, ZAP is not actively scanning these sites, it is only passively scanning them.
Thats what ZAP does.
If you want to ask more questions about this then the User Group is the best place to ask: https://groups.google.com/group/zaproxy-users

[2022-02-24 12:08] #7104 closed

[2022-02-24 17:50] ricekot opened #7105 "Scripts as First Class Scan Rules"
### Is your feature request related to a problem? Please describe.

Elevate scripts to the same level as scan rules.

Scan Rules | Scripts
-- | --
Each scan rule has a unique ID. They are all documented [here](https://github.com/zaproxy/zaproxy/blob/main/docs/scanners.md). | Most scripts do not have a unique ID.
Active Scan Rules are categorized and can be added to [Scan Policies](https://www.zapr

[2022-02-25 12:23] njmulsqb commented on #7069
If a method is accepting `Plugin plugin` as one of its argument, how can I mention it in `zap.gradle.kts` file? I tried `Plugin` but japicmp fails

[2022-02-25 12:28] psiinon commented on #7069
Via the full class name, as per the previous PRs mentioned in the very first comment, e.g. https://github.com/psiinon/zaproxy/blob/be03aa6d1c8eceb348091ec0b7264e6ce0a696b8/zap/zap.gradle.kts#L211 :)

[2022-02-26 02:16] #7014 closed

[2022-02-26 07:51] njmulsqb commented on #7069
FYI. These are the two PRs
1. https://github.com/zaproxy/zaproxy/pull/7102
2. https://github.com/zaproxy/zap-core-help/pull/420

[2022-02-26 14:42] njmulsqb commented on #6917
Hi @psiinon, assign this issue to me!

[2022-02-26 15:49] kingthorin commented on #30
Ping @SkypLabs any news in this?

[2022-02-27 09:00] jini0x commented on #6735
Hi team, I would like to add this feature as my first issue.

[2022-02-28 08:56] psiinon commented on #6735
@jini0x assigned!
If you have any questions abou tthis issue then just ask them here :)

[2022-02-28 09:32] #5791 closed

[2022-02-28 10:03] thc202 commented on #7069
Closing, referenced PRs have been merged.

[2022-02-28 10:03] #7069 closed

[2022-02-28 10:08] psiinon opened #7106 "Remove code deprecated in 2.6.0"
This is a handle turning exercise - no coding skill is needed, you just need to be thorough :)

1. Find out what needs to be removed: `grep -R deprec zap/src/main/java | grep "2.6.0"` - there should be 41 matches
2. Remove the classes / methods / fields found above
3. Add a `ZAP` header to any `paros` code changed (see examples below)
4. Add the affected classes / methods / fields to `zap/zap.grad

[2022-02-28 10:37] d-apurva commented on #7079
@abhinav-koppula Do we have any update on this?

[2022-02-28 13:41] jini0x commented on #7106
Hi Simon, I can assist here.

[2022-02-28 14:01] jhowlett96 opened #7107 "False Positive: Server Side Code Injection - ASP Code Injection"
Hi,

I have recently ran two scans using ZAP and found two independent false positives using the 'Server Side Code Injection - ASP Code Injection' rule.

They were both found in URL '.*.png' on two seperate png files. Both outputs also have a content type of 'image/png'.

**Alert information for one of the alerts:**

**Response Body:**
[code]

**Attack:**
 "+response.write([{0}*{1})+"

**Evidence:

[2022-02-28 14:06] psiinon commented on #7107
The rule is https://www.zaproxy.org/docs/alerts/90019/ - that includes a link to the code.
One possible fix could be to not scan images or similar binary files, at least at medium strength. I think we've done that for other rules.
If so this could be an easy one to fix..

[2022-02-28 14:14] jhowlett96 commented on #7107
That is one solution but doesn't fix the root of the problem which is a multiply by 0 that causes the evidence to be '0' and so this could also happen in a .asp page with content type of text/html.

[Line](https://github.com/zaproxy/zap-extensions/blob/3717d3f02fda505eccf1a60a9b5abca00776b1ef/addOns/ascanrules/src/main/java/org/zaproxy/zap/extension/ascanrules/CodeInjectionScanRule.java#L240-L241)

[2022-02-28 15:18] #7107 closed

[2022-02-28 16:40] jini0x commented on #7106
![image](https://user-images.githubusercontent.com/53784718/156021709-4df3d2a7-a40c-4aef-b3b4-7eaa5056b69a.png)

There is @SuppressWarnings("deprecation") comment in PopupMenuRemove without the version(2.6.0)

[2022-02-28 17:18] thc202 commented on #7106
That's the suppression of the warning which had to be added because of the deprecation of the method, the call can be  removed.

[2022-02-28 17:31] jini0x commented on #7106
Any idea about this error:
![image](https://user-images.githubusercontent.com/53784718/156030254-51d75565-098a-4215-a912-4f824ef22d7a.png)

[2022-02-28 17:33] thc202 commented on #7106
That's steps 4 and 6 of the issue description.

[2022-02-28 19:00] jini0x commented on #7106
I think I need to add the path for the class and remove the parameter name...
For example: "org.zaproxy.zap.control.AddOn#AddOn(String text)" --> "org.zaproxy.zap.control.AddOn#AddOn( java.lang.String)"

[2022-02-28 20:21] sgerlach commented on #7100
90018: in fact, this one needs a break, multiple alerts are raised from this rule in a run.
40022: This one I think has two tests (exception, timing) but raises one alert and for some reason has a dynamic name...

[2022-02-28 20:52] thc202 commented on #7106
That's correct (take a look at the referenced pull requests).

[2022-02-28 20:52] kingthorin commented on #7100
90018 I'm not sure about breaking, it could very well detect multiple SQLi. :shrug:
40022 only does time based but you're right the name handling doesn't respect i18n and statically appends :cry:

[2022-02-28 21:23] jini0x commented on #7106
Yes I'm learning from that pull req, but this time it's more complex(thank you for your time), I have 3 problems :

1- [enumeration](https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/extension/brk/ExtensionBreak.java):
  fieldExcludes->"org.zaproxy.zap.extension.brk.ExtensionBreak#DialogType" **(not sure how to add an enum type)**
 methodExcludes->"org.zaproxy.zap.exte

[2022-02-28 21:57] thc202 commented on #7106
1. The `DialogType` should be added to `classExcludes`, e.g.: `"org.zaproxy.zap.extension.brk.ExtensionBreak\$DialogType"`.
2. It's missing the package for `ConnectionParam`.
3. Use the class `org.zaproxy.zap.model.ScanController`.

[2022-02-28 22:00] LakiG commented on #7079
Hi,
In case the issue is not being worked on, I would be interested in it.

[2022-02-28 22:06] jini0x commented on #7106
Finally, thank you very much
![image](https://user-images.githubusercontent.com/53784718/156066390-b7c9909b-f39d-4567-a4ff-a9a718f1ba85.png)

[2022-02-28 22:23] rugk opened #7109 "Commit message format in contribution guidelines not clear"
https://github.com/zaproxy/zaproxy/blob/main/CONTRIBUTING.md#what-we-zap-team-expect-from-you

It says there:

However, the linked site has changed apparently and the linked headline cannot be found anymore, only a line length limit can be found.

---

Personally I can BTW recommend https://www.conventionalcommits.org/ as a standard way that also has a lot of tools around e.g. for automatic Change

[2022-02-28 22:55] kingthorin commented on #7109
Good catch, thanks.

[2022-03-01 03:22] njmulsqb commented on #6917
I am using my company's laptop on which I don't have admin rights, so when I try to run `zap.bat` using `-cmd` flag to generate yml file, it fails because it doesn't have write permissions in the working directory.

I am trying to explore automation framework and understand it before actually starting to work on this issue, now my question is, how can I use automation framework on building ZAP mys

[2022-03-01 03:35] kingthorin commented on #6917
Just run ZAP from within the IDE and pass the necessary switches. I’m sure you can do it with IntelliJ … in Eclipse it’s called a run configuration.

[2022-03-01 07:41] thc202 commented on #6917
It's called the same in IntelliJ IDEA: https://www.zaproxy.org/docs/developer/building-zap-with-intellij-idea/ and should be added to "Program arguments".

[2022-03-01 08:58] psiinon commented on #7100
Added to the list.
Although I've assigned myself to this issue v happy to have more help if anyone fancies jumping in...

[2022-03-01 11:43] mokainos opened #7111 "zap docker stuck after creating CA certificate step."
### Describe the bug

We are running zap in docker container. We tried to use various image to diagnose the issue.

Running following command:
[code]

Got stuck after this stage.
[code]

### Steps to reproduce the behavior
[code]

### Expected behavior

zaproxy should be  accessible on port 1001

### Software versions

Docker Version:           20.10.12
java: 11.0.13+8-Ubuntu-0ubuntu1.20.04

### S

[2022-03-01 11:46] psiinon commented on #7111
Ports under 1024 on linux are only usable by root: https://www.staldal.nu/tech/2007/10/31/why-can-only-root-listen-to-ports-below-1024/
By default the ZAP docker images will not use root, so you either need to explicitly use root or change to use a post > 1024

[2022-03-01 12:08] kingthorin commented on #7111
Your setting allowed addresses to a single character will also be problematic `api.addrs.addr.name=.`

[2022-03-01 13:18] thc202 commented on #7111
Not sure if the command was not fully pasted, you are starting ZAP with GUI not in daemon mode (`-d` is not a valid argument).

[2022-03-01 16:30] LakiG commented on #7025
Hi,
Please assign this issue to me. I would like to work on it.

[2022-03-01 16:34] thc202 commented on #7025
Done :)

[2022-03-02 00:16] kingthorin commented on #7111
Added proper code fencing so the provided info is clear.

[2022-03-02 09:19] mokainos commented on #7111
We have been using below script for last 2 years. Starting failing recently.

`#!/bin/bash
#set -x
#echo "${SECURITYCONTEXT}" > /zap/security.context
zap-x.sh -d -host 0.0.0.0 -port 1001 -config globalexcludeurl.url_list.url.regex='^https?:\/\/.*\/(?:.*ruxitagentjs.*)+$' -config api.disablekey=true -config scanner.attackOnStart=true -config view.mode=attack -config connection.dnsTtlSuccessfulQueri

[2022-03-02 09:23] psiinon commented on #7111
@mokainos see https://github.com/zaproxy/zaproxy/issues/7111#issuecomment-1056549520

[2022-03-02 09:30] gokul-sol commented on #7111
@thc202 we tried removing -d but still no luck.. and can confirm do have the add-on, example logs from console..
[code]

[2022-03-02 10:55] psiinon commented on #1527
Closing - this is now possible via the Automation Framework.

[2022-03-02 10:55] #1527 closed

[2022-03-02 10:57] psiinon commented on #1665
This is now possible using the Automation Framework.
I think thats a better solution than adding more and more command line options :)

[2022-03-02 10:57] #1665 closed

[2022-03-02 10:58] psiinon commented on #1651
No reply since 2015, no updates. Closing.

[2022-03-02 10:58] #1651 closed

[2022-03-02 11:04] psiinon commented on #3200
The Automation Framework now supports contexts :)

[2022-03-02 11:04] #3200 closed

[2022-03-02 13:28] thc202 commented on #7111
The `/dev/null` is being passed as argument to ZAP causing other error, there' also a dialogue that the user is expected to act upon (i.e. "Do you want to persist the ZAP Session").
If you really want to use the GUI you should pass, e.g. `-config database.newsession=3 -config database.newsessionprompt=false` to not have that dialogue, although I'd suggest using daemon mode which doesn't prompt use

[2022-03-02 18:37] gokul-sol commented on #7111
@thc202 Thanks a ton and  can confirm the above change fixed our issue

[2022-03-02 21:25] BloodyIron opened #7113 "Authentication launch parameters PLEASE"
### Is your feature request related to a problem? Please describe.

I am trying to get the ZAP docker container(s) to work in our k8s environment with an initial implementation. In that, do a full-scan to a target URL, output html report, there we go.

The part that I am finding particularly obnoxious and painful to work with (and I'm being very unsuccessful with, btw) is the aspect of authenticat

[2022-03-02 21:25] BloodyIron commented on #7113
I have seriously gone to hell and back trying to figure this out. This really is problematic.

[2022-03-02 21:34] kingthorin commented on #7113
Please don't ask questions as issues - the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

You can also find all kinds of info about automating ZAP here: https://www.zaproxy.org/docs/automate/ or by using your favorite search engine.

[2022-03-02 21:34] #7113 closed

[2022-03-03 00:36] BloodyIron commented on #7113
I clicked on the "Feature Request" button when creating the ticket. How exactly is this not a feature request? PLEASE RE OPEN @kingthorin

[2022-03-03 00:46] kingthorin commented on #7113
It’s not a feature request because ZAP already handles BASIC authentication you just have to set it up and use it.

[2022-03-03 01:03] BloodyIron commented on #7113
You did not actually read my request. The request is to have the authentication as launch parameters, and the justification is also included. This is a feature request. Do you not see the problem I have? Or do you just not care?

[2022-03-03 01:33] kingthorin commented on #7113
It’s all already doable.

[2022-03-03 09:28] psiinon opened #7114 "Return script results via API"
### Is your feature request related to a problem? Please describe.

Allow scripts to be able to easily return data via API calls.
It would also be good to support parameters.

### Describe the solution you'd like

Extend the scripts API to optionally allow parameters and the option to return data.
I dont _think_ this will need a new script type.
Instead standalone scripts can be used, but they wil

[2022-03-03 09:34] psiinon commented on #7113
Yes, we care.
But this is already achievable so it is not a feature request, its a question about how to use existing functionality.
If you're having problems setting up ZAP then ask questions on the right forums, dont just raise issues.

[2022-03-03 09:46] thc202 commented on #7114
Related to #7051.

[2022-03-03 14:02] SkypLabs commented on #30
Hi @kingthorin,

Sorry about my delayed answer. I'm in the middle of a moving so I couldn't make progress on it. I am still willing to work on it though and I should have free time next week.

I'll keep you posted.

[2022-03-03 14:32] kingthorin commented on #30
Thanks!

[2022-03-03 16:08] psiinon commented on #1422
Done! https://www.zaproxy.org/docs/scans/firingrange/

[2022-03-03 16:08] #1422 closed

[2022-03-03 17:06] BloodyIron commented on #7113
It is already doable to declare HTTP authentication, username and password with launch parameters, instead of the context file? Because so far as I can tell from the documentation, and the output of --help/equivalent, it is not already doable.

[2022-03-03 17:09] BloodyIron commented on #7113
This is asking for a feature that doesn't exist, in that, the declarations are done so as a launch parameter (to the scripts/automation framework), not declared in a context file, that needs to be injected into an ephemeral docker container. The inclusion of where my frustration derives in the original post is to give functional context.

[2022-03-03 17:17] psiinon commented on #7113
Please take this discussion onto the User Group: https://groups.google.com/group/zaproxy-users
If as a result we agree that improvements are needed then we will be very happy to open new feature request issues.

[2022-03-03 19:03] #6263 closed

[2022-03-03 19:04] kingthorin commented on #6263
Done in: https://github.com/zaproxy/zap-extensions/pull/2696

[2022-03-04 10:19] d-apurva commented on #7079
@LakiG as there is no update from @abhinav-koppula .
So can you please help with this.

[2022-03-04 14:18] costelacostanza opened #7115 "Exception when importing OpenAPI definition"
### Describe the bug

When trying to import an Oauth Specification yaml file, a Null pointer exception is thrown:
[code]

[code]
Other locations that trigger NPEs are:
[code]
and
[code]

### Steps to reproduce the behavior

Import --> An openAPI definition from the local file system
select a file containing a file such as follows:
[code]

### Expected behavior

An explanation is provided stating t

[2022-03-04 14:35] thc202 commented on #7115
For the dev docs: https://www.zaproxy.org/docs/developer/

Let us know if you have any question.

[2022-03-04 14:51] thc202 commented on #7051
@rubyman do you still plan to work on this issue?

[2022-03-04 19:11] kingthorin opened #7116 "zap-extensions: ComparableResponse candidates"
The following add-ons or scan rules could probably benefit from leveraging [ComparableResponse](https://github.com/zaproxy/zap-extensions/pull/3435):

DiceMatcher
- [ ] [LdapInjectionScanRule](https://github.com/zaproxy/zap-extensions/blob/main/addOns/ascanrulesAlpha/src/test/java/org/zaproxy/zap/extension/ascanrulesAlpha/LdapInjectionScanRuleUnitTest.java) (alpha)
- [ ] [SourceCodeDisclosureFileI

[2022-03-05 13:38] thc202 commented on #7116
The `DiceMatcher` does not have performance issues, we should also take into account that `ComparableResponse` only takes into account HTML/JSON responses.

[2022-03-05 13:41] thc202 commented on #6893
@nikhildougall let us know if we can help with anything.

[2022-03-05 13:53] DiogoMRSilva commented on #7116
So maybe the `ComparableResponse` should fallback to the DiceMatcher to compare the body when the  content type isn't one of those

[2022-03-05 16:31] kingthorin commented on #7116
It could probably also easily handle XML.

[2022-03-06 09:06] LakiG commented on #7079
Sure
@zap team, is it okay if I can work on this?

[2022-03-06 10:42] jini0x commented on #7106
Help changes can be found here: [#425](https://github.com/zaproxy/zap-core-help/pull/425)

[2022-03-06 11:01] thc202 commented on #7079
It would be preferable to finish the other issue first.

[2022-03-06 11:53] thc202 commented on #7079
Reassigned.

[2022-03-07 10:44] jhowlett96 opened #7120 "CSP 'unsafe-inline' in default-src without script-src/style-src present doesn't raise alert"
### Describe the bug

If script-src or style-src isn't present in CSP then it takes the value of the default-src. Zap only tests if the script-src is present then tests for 'unsafe-inline' however there should be an else case that tests for the presence of 'unsafe-inline' in the default-src if script-src/style-src is not present.

### Steps to reproduce the behavior

create CSP without script-src

[2022-03-07 11:47] rubyman commented on #7051
@thc202 Sorry for my delay here. I'll work on it this weekend. Feb was busy month!

[2022-03-07 11:58] #7078 closed

[2022-03-07 12:24] thc202 commented on #7051
No worries, thank you!

[2022-03-07 12:35] kingthorin commented on #7120
@jhowlett96 thanks for raising this. Fix is inbound :grinning:

[2022-03-07 12:50] rugk opened #7121 "pscanrules: test error on InformationDisclosureReferrerScanRuleUnitTest with Eclipse"
### Describe the bug

The test `InformationDisclosureReferrerScanRuleUnitTest`->`shouldRaiseAlertWhenCreditCardInReferer` fails for me.
All others work.

### Steps to reproduce the behavior

0. I installed Eclipse (Java) on Linux via [Flathub](https://flathub.org/apps/details/org.eclipse.Java).
1. I accidentally opened the `zap-extensions` project just as a project dir, which kinda looked, good bu

[2022-03-07 12:58] #7120 closed

[2022-03-07 13:02] psiinon commented on #7121
From the Console stack trace `No write access to directory /tmp`...
Note that these tests run on all PRs and work fine in that environment.

[2022-03-07 13:15] rugk commented on #7121
Found https://github.com/flathub/org.eclipse.Java/issues/42 which is very similar, but it seems to be already solved, also in the latest version that flatpak has access to `/tmp`:
https://github.com/flathub/org.eclipse.Java/blob/1b5a5a2a7da75a421a37d4511fa0e6396abf5996/org.eclipse.Java.json#L11

Also I wonder why only this one test fails and all others work, does only this one run/use `/tmp`?

[2022-03-07 13:21] thc202 commented on #7121
Run just that test class and provide the whole stacktrace.

[2022-03-07 15:38] thc202 commented on #7120
I did nothing though.

[2022-03-07 17:50] psiinon opened #7122 "Firing Range: Improve Escaped XSS results"
We run ZAP against Google Firing Range (FR) using a scheduled task and publish the results on https://www.zaproxy.org/docs/scans/firingrange/

This is a tracker issue which covers improving the ZAP results against the 'Escaped XSS' section of FR.
It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather tha

[2022-03-07 17:59] psiinon opened #7123 "Firing Range: Improve Remote Inclusion XSS"
We run ZAP against Google Firing Range (FR) using a scheduled task and publish the results on https://www.zaproxy.org/docs/scans/firingrange/

This is a tracker issue which covers improving the ZAP results against the 'Remote Inclusion XSS' section of FR.
It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic r

[2022-03-07 18:02] psiinon opened #7124 "Firing Range: Improve Reflected XSS results"
We run ZAP against Google Firing Range (FR) using a scheduled task and publish the results on https://www.zaproxy.org/docs/scans/firingrange/

This is an issue which covers improving the ZAP results against the 'Reflected XSS' section of FR.
It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tai

[2022-03-07 18:05] psiinon opened #7125 "Firing Range: Improve Reverse ClickJacking results"
We run ZAP against Google Firing Range (FR) using a scheduled task and publish the results on https://www.zaproxy.org/docs/scans/firingrange/

This is a tracker issue which covers improving the ZAP results against the 'Reverse ClickJacking' section of FR.
It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic r

[2022-03-07 19:56] rugk commented on #7121
Did not I? That was a huge crazy thing? It's already linked?

I have now ran the _class_ only again.

[code]

Okay wtf this is a different error…

The installed java **on the host** is BTW this one (but AFAIK/I guess it uses the java internally in the flatpak – or maybe it does not, after all :astonished:)

[code]

[2022-03-07 20:54] rugk commented on #7121
How would one do that? [This guide](https://www.zaproxy.org/docs/developer/quick-start-build/) does not mention the tests at all…

 Wtf? And Eclipse fails your tests? What the hell is that? Is there any link/doc on that problem… or… after all… some bug in Eclipse to fix it, if it is really it's fault?

[2022-03-07 20:59] kingthorin commented on #7121
No it’s not covered I the Quick Start guide 😉 (Though off the top of my head I’ll admit I don’t know where/if it’s covered).

The Eclipse issue is fixable, though not necessarily easily explained. I’ll see if I can get a fresh dev VM setup next week and knock something together.

[2022-03-07 21:00] thc202 commented on #7121
Run the test task, e.g.: `./gradlew aO:pscanrules:test`.

It's actually called "JAR hell", different versions of the same library one has the constructor the other doesn't. Either in Eclipse or Buildship.

[2022-03-07 22:20] rugk commented on #7121
Well but is it really your task to fix it or rather Eclipse's one? Note my Java knowledge is quite limited here (at least I did not found such in-depth problems when I used it in the past.)

Welll… uuhh wtf… to me this still sounds like an issue of these IDEs and they should fix it… (note I already posted my exact configuration and the flatpak should alos make it easy to reproduce the issue)

[2022-03-07 22:21] rugk commented on #7121
Thanks, that worked. I could only run it at the host though (as it is AFAIK not easy to get a shell in a flatpak), but it worked:
[code]

ref https://github.com/zaproxy/zap-extensions/commit/81ab76ca6

[2022-03-08 04:59] happylie opened #7126 "Use log4j 2.15.0 with zap 2.11.1 ???"
### Describe the bug

Use log4j 2.15.0 with zap 2.11.1 ???

![log4j](https://user-images.githubusercontent.com/24468970/157168952-26e78c2b-3c40-4434-a075-fe48301bc419.png)

### Steps to reproduce the behavior

Use MacOS
I checked it below.

/Applications/OWASP ZAP.app/Contents/Java/lib

### Expected behavior

It would be better to proceed with the version update.

### Software versions

Zap 2.11.1

[2022-03-08 06:30] thc202 commented on #7126
Closing as duplicate of #6980.

[2022-03-08 06:30] #7126 closed

[2022-03-08 09:32] psiinon opened #7127 "Automation Framework: Technology Support"
Extend the Automation Framework to support the technology flags for a context.
First step is to propose an extension to the environment yaml: https://www.zaproxy.org/docs/desktop/addons/automation-framework/environment/
The implementation should include the UI changes as well as full unit tests.

[2022-03-08 11:33] thc202 commented on #6152
Closing, this was done as part of #6754. The user is informed when there are no servers (when importing from local definition, from remote it's used the target server), for multiple servers they are all imported.

[2022-03-08 11:33] #6152 closed

[2022-03-08 12:03] #7082 closed

[2022-03-08 12:15] unarist opened #7128 "Invalid JSON request generated from OpenAPI schema which uses "format: email""
### Describe the bug

ZAP automatically generates example values for each `type` and `format` specified in the OpenAPI definition.

However, ZAP generates invalid JSON for `format: email` property in the JSON request body:

[code]

In this example, `foo-bar@example.com` should be quoted as well as other string properties.

### Steps to reproduce the behavior

1. Click `Import > Import an OpenAPI d

[2022-03-08 12:19] kingthorin commented on #7128
This seems to be related to (if not a duplicate of): zaproxy/zaproxy#7115

[2022-03-08 13:14] #6166 closed

[2022-03-08 13:20] globeone commented on #7008
This is not only a M1 issue. The same issue started cropping up in the weekly 2022-02-28 release of ZAP and is also present in the 2022-03-08 release for Windows 10.

[2022-03-08 13:22] thc202 commented on #7008
Is that with Chrome too? Which version?

[2022-03-08 13:25] globeone commented on #7008
![image](https://user-images.githubusercontent.com/10052587/157246678-68bffeb6-0707-4a1e-8642-852f4538d3fb.png)

Version 99.0.4844.51 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/10052587/157246767-9efd85e0-ff19-4021-917c-b43190aaa089.png)

[2022-03-08 13:32] globeone commented on #7008
Does ZAP expect chrome.exe to be in the PATH environment variable? It seems like there has been an update that removes chrome.exe from the PATH.

[2022-03-08 13:41] globeone commented on #7008
Found the issue. It's the Selenium Driver. adding the correct Selenium web driver for the browser version from
https://chromedriver.chromium.org/downloads

fixes the issue.

[2022-03-08 13:44] globeone commented on #7008
drop the correct version of the chrome driver for your browser version:

![image](https://user-images.githubusercontent.com/10052587/157249850-63815fb3-6ae7-4ed9-b5f1-aeaf2e29bf50.png)

everything works normally again
![image](https://user-images.githubusercontent.com/10052587/157249589-53b5dbfe-1308-46b2-b6f8-b345db55962d.png)

[2022-03-08 15:11] #7128 closed

[2022-03-08 18:50] #7106 closed

[2022-03-09 11:14] #7079 closed

[2022-03-09 12:57] adevicq opened #7130 "Create fuzzing profile"
### Is your feature request related to a problem? Please describe.

Each time we fuzz we need to select one or several payloads. Could it be possible to create a fuzzing profile that includes a selection of payloads so that the user should have to select a fuzzing profile instead of all the payloads he wants to use?
Thanks

### Describe the solution you'd like

1. When selecting payloads to perfor

[2022-03-09 13:03] #7130 closed

[2022-03-09 15:00] kingthorin commented on #7036
@EndPostitive can you confirm this is the handling you were concerned about?

![image](https://user-images.githubusercontent.com/7570458/157467828-acd3d3cb-5a24-4687-811b-709947291cce.png)

If so the current version of the HFF seems to handle it as expected.

[2022-03-09 15:23] kingthorin commented on #7036
Hmmm I might still be wrong. It seems the few sites I found were still 404'ing properly on paths that were asp or aspx.

[2022-03-10 09:23] BukolaO opened #7133 ""The provided browser was not found" However installed and running"
On my Windows OS, running ZAP, I try to do a manual explore but each time I choose firefox, it brings out an error "The provided browser was not found" When I try to run chrome, it opens and closes immediately.

Software versions

Java version 8
Windows OS:  10 Education
ZAP: 2.11.1

Errors from log file for both chrome and Firefox;

**Chrome**;

2022-03-10 09:29:32,433 [ZAP-BrowserLauncher] ERROR

[2022-03-10 09:23] marvUta opened #7134 "Scan Policy Manager Policy multiplies while modifying the name"
### Describe the bug

When you change the Policy Name more than two Time(e.g. from upper Case to Lower-Case) then the item got duplicated, after removing one item the other cannot be modified anymore but removed.

### Steps to reproduce the behavior

1. Start Zap
2. Open Scan Policy Manager (CTRL-P)/ Analyse -> Scan Policy Manager
3. Add a new Policy
4. Name it "scan"
5. Press Ok
6. Modify the "sc

[2022-03-10 09:38] kingthorin commented on #7133
Closing as duplicate of zaproxy/zaproxy#7095

Next time you open a ticket please use one of the proper templates.

[2022-03-10 09:38] #7133 closed

[2022-03-10 09:46] psiinon commented on #7134
Ooops yeah, I can reproduce that here :)
The code for the dialog is https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/extension/ascan/PolicyManagerDialog.java
@marvUta would you like this issue assigned to you?

[2022-03-10 09:50] marvUta commented on #7134
Yeap I can take a look at it this weekend, shouldn't be big problem and I can fresh up my Java Skills :D

[2022-03-10 09:53] psiinon commented on #7134
Great - I've assigned it to you.
If you need any help or advice then just ask here.
If you havnt set up a ZAP Dev environment yet then see https://www.zaproxy.org/docs/developer/

[2022-03-10 14:29] thc202 commented on #521
Ping @bunysae

[2022-03-10 14:29] psiinon commented on #5497
@cotonne are you going to claim the bounty? Its yours for the taking :) If not we'll claim it and donate it back to OWASP...

[2022-03-10 14:32] psiinon commented on #521
@bunysae are you going to claim the bounty? Its yours for the taking :) If not we'll claim it and donate it back to OWASP...

[2022-03-10 14:34] cotonne commented on #5497
Yes, you can donate it back to OWASP as a personal contribution from me ;)

Le jeu. 10 mars 2022 à 15:29, Simon Bennetts ***@***.***> a
écrit :

[2022-03-10 14:36] psiinon commented on #5497
Many thanks!

[2022-03-10 14:39] psiinon commented on #2308
@Woolworths last chance to claim the bounty - otherwise we'll claim it and donate it back to OWASP :)

[2022-03-11 02:18] Anthonymcqueen21 commented on #7124
What is a false negative ?

[2022-03-11 02:23] kingthorin commented on #7124
A known vulnerability that isn’t identified.

[2022-03-11 09:08] #6183 closed

[2022-03-11 23:16] kingthorin commented on #521
Bounty has been claimed and approved.

[2022-03-13 17:51] volkan-ozdemir opened #7136 "Unable to send manual POST requests"
### Describe the bug

Hi,

It looks like OWASP ZAP can't craft a manual POST request from scratch and it always sends it as a GET request.

### Steps to reproduce the behavior

1. Open a website with .php form (http://example.com/example.php).
2. Create a manual request .php page. Select POST as method and fill the body with request parameters.
3. OWASP Zap will send the request as a GET.
4. Open

[2022-03-13 18:02] kingthorin commented on #7136
Please add the request you crafted and can’t send.

[2022-03-13 18:10] mir-cybernetics commented on #7136
Original Request:
GET http://10.10.102.107/challenges//chall3.php?file=test HTTP/1.1
Host: 10.10.102.107
User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Connection: keep-alive
Referer: http://10.10.102.107/challenges/chall3.php
Upgrade-Insecure-Request

[2022-03-13 18:25] volkan-ozdemir commented on #7136
Original Request:
GET http://10.10.102.107/challenges//chall3.php?file=test HTTP/1.1
Host: 10.10.102.107
User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,/;q=0.8
Accept-Language: en-US,en;q=0.5
Connection: keep-alive
Referer: http://10.10.102.107/challenges/chall3.php
Upgrade-Insecure-Requests:

[2022-03-13 19:00] thc202 commented on #7136
The log should contain the details of what's wrong.

[2022-03-13 19:30] volkan-ozdemir commented on #7136
I'm closing the issue, it looks like problem is actually related to how http server handles the Content-Type header.

ZAP doesn't automatically update the Content-Type header on original GET requests that are converted to POST requests.

Adding `Content-Type: application/x-www-form-urlencoded` to POST request fixes the issue.

[2022-03-13 19:30] #7136 closed

[2022-03-13 21:32] kingthorin commented on #7036
I’ll see if I can get something going with Apache and PHP.

[2022-03-14 07:57] AndreyMZ opened #7138 "ZAP automation framework hangs if job spiderAjax is used"
### Describe the bug

The process hangs (does not finish) after the automation plan succeeded if the job `spiderAjax` is included into the plan.

### Steps to reproduce the behavior

1. Create file `config.yaml` with the following content:
[code]
2. Run ZAP and see the output:
[code]
3. Note that the process has not finished after the automation plan succeeded.

### Expected behavior

The process

[2022-03-14 09:02] thc202 commented on #7138
Could you provide the log?

[2022-03-14 09:04] thc202 commented on #7138
Seems to be a duplicate of #6643 but the version used of Selenium add-on should fix it.

[2022-03-14 09:09] thc202 commented on #7138
Actually, seems to be zaproxy/zap-extensions#3628. We need to release a new version.

[2022-03-14 09:39] psiinon commented on #6461
I've just added an "Additional jobs" section - feel free to suggest any other jobs that could be added...

[2022-03-14 11:20] AndreyMZ commented on #7138
[~/.ZAP/zap.log](https://github.com/zaproxy/zaproxy/files/8244215/zap.log)

[2022-03-14 11:50] psiinon opened #7139 "Browser Recorder"
ZAP should already be able to cope with any form of authentication, but it can be painful to set up by the user.
An option to launch a browser to record the authentication sequence in a way that can be replayed as an auth script could be really helpful for some apps.
However recording what a browser does is non trivial.

One option it to fork and extend an existing project:

[Selenium Recorder](ht

[2022-03-14 12:04] psiinon opened #7140 "Param digger add-on (GSoC)"
[Param Miner](https://portswigger.net/bappstore/17d2949a985c4b7ca092728dba871943) is a Burp extension which identifies hidden, unlinked parameters. It's particularly useful for finding web cache poisoning vulnerabilities.
It is based on this research by James Kettle: https://portswigger.net/research/practical-web-cache-poisoning

This feature was requested via twitter: https://twitter.com/hahwul/s

[2022-03-14 13:40] kingthorin commented on #7036
Okay here's what I built:
[code]

`404.php`
[code]

`error.php`
[code]

So all 404 requests are 302d to error.php which echoes the path that wasn't found.

I discovered that Anlyser trusts the message's final response when checking things, so if it follows redirects by default then the above condition isn't caught. I'll be opening a PR to make hidden file requests not follow redirects.

[2022-03-14 13:57] thc202 commented on #7138
Thank you, there are several problems, some add-ons were not properly downloaded and the AJAX Spider is not starting (binary not found), that shouldn't cause the hang issue though.

Could you try running the plan again? The WebSockets add-on should be updated, which should fix the issue.

[2022-03-14 14:56] #7036 closed

[2022-03-14 15:26] thc202 commented on #2679
Closing for administrative tasks.

[2022-03-14 15:26] #2679 closed

[2022-03-14 16:13] kingthorin commented on #7140
Might be able to draw some ideas from this project as well: https://github.com/s0md3v/Arjun

[2022-03-14 17:44] thc202 commented on #7138
Could you provide a thread dump? e.g. `kill -3 <zap_pid>`

[2022-03-15 08:40] AndreyMZ commented on #7138
[thread-dump.txt](https://github.com/zaproxy/zaproxy/files/8251499/thread-dump.txt) (received using `kill -3 $(pidof java)`)

[2022-03-15 09:25] jhowlett96 opened #7143 "HTML validator to tests for injections from all active rules"
### Is your feature request related to a problem? Please describe.

A type of persistent XSS checker but tests to see if HTML is valid on all pages at the end of an active scan to test if an injection from any of the active scan rules was successful. I state this because XSLT injection has some HTML manipulation and the injection ( _"/><xsl:value-of select="system-property('xsl:vendor')"/><!--_ )

[2022-03-15 09:54] psiinon commented on #7143
Its a bit concerning that the persistant XSS scanner didnt find this - thats what its designed to do, and the fact there is no direct link should not matter.
I guess that could be related to https://github.com/zaproxy/zap-extensions/pull/2443 ?
I dont have a problem with adding an HTML validator but based on experience I'd guess that this would trigger for lots of pages which are not strictly vali

[2022-03-15 10:14] learnworksmart opened #7144 "'alertFilter' object has no attribute 'apply_context'"
### Describe the bug

I am trying to to trigger the apply_context attribute from alertFilter class, but it returns this error:
[code]
I am referencing [this page](https://github.com/zaproxy/zap-api-python/blob/master/src/zapv2/alertFilter.py#L156) where it shows the `apply_context` attribute.

### Steps to reproduce the behavior

Here is my affected code:
[code]

### Expected behavior

Based on [t

[2022-03-15 10:23] thc202 commented on #7144
That's only available since version 0.0.19 (latest is 0.0.20).

[2022-03-15 10:24] thc202 commented on #7138
Thank you, the hang is caused by Crawljax, checking if we can prevent that from the AJAX Spider add-on.

[2022-03-15 10:31] learnworksmart commented on #7144
It works! Thanks I now close this ticket 👍

[2022-03-15 10:40] thc202 commented on #7138
Worth noting that this only happens if there was an error when starting the browser, under normal conditions the hang should not happen.

[2022-03-15 11:06] jhowlett96 commented on #7143
Successful injection format: double quote before attack - _"<script>alert(1);</script>_

[2022-03-15 15:45] #1641 closed, assigned to nobody

[2022-03-16 12:11] montao commented on #6162
I got it going this way

`sudo xattr -d com.apple.quarantine /Applications/OWASP\ ZAP.app `

I need to solve signing for macOS with my own app as well. If I get it to work I can come back here and propose some once-and-for-all so that we don't need to manually approve it for every installation.

[2022-03-16 12:12] psiinon commented on #5571
I've just tried this again with 10 Headless Firefox instances.
It did stop after 3135 URLs found
The standard spider finds 325 URLs.
Worth keeping this open but changing the name?

[2022-03-16 12:16] psiinon commented on #6162
We definitely want to sign the Mac OS (and Windows) installers / apps, and have done some initial investigations.
But its non trivial, so if anyone could help with it then that would make it much more likely to actually happen ;)

[2022-03-16 12:52] rodneylive commented on #6017
Does this code snippet still work in the latest ZAP version (2.11.1)?  I get a "java.lang.NullPointerExceptionjava.lang.NullPointerException" when proxy.send(msg) is called.

[2022-03-16 12:57] montao opened #7145 "log4shell example not working as expected"
### Describe the bug

The description is from the article
https://www.zaproxy.org/blog/2021-12-14-log4shell-detection-with-zap/

It's not working at all the way it's described.
The report that comes out is not at all about log4shell:
[code]

### Steps to reproduce the behavior

Follow the steps in the article.

### Expected behavior

Something about log4shell in the report

### Software versions

[2022-03-16 13:18] thc202 commented on #6017
I'd expect so… let me check what's wrong.

[2022-03-16 13:21] thc202 commented on #7145
Please use the [OWASP ZAP User Group](https://groups.google.com/group/zaproxy-users) for usage questions.

[2022-03-16 13:21] #7145 closed

[2022-03-16 16:22] thc202 commented on #6017
[code]

[2022-03-16 17:14] thc202 commented on #6017
No, if you want to show them you need to call `sendAndNotify` instead of `send`.
An example that sends and notifies the message for each outgoing proxy message:
[code]

[2022-03-16 17:27] thc202 commented on #6017
Sorry, I can point to the source code: https://github.com/zaproxy/zap-extensions/tree/d8ed5d04f2a4d0ddc8598193a6c74193d73b7362/addOns/websocket/src/main/java/org/zaproxy/zap/extension/websocket

[2022-03-17 00:15] kingthorin opened #7147 "Retest doesn't reset between ZAP sessions"
### Describe the bug

Launch ZAP, scan something, open the Retest dialog. Start a new ZAP session, don't bother scanning anything, just re-open the Retest dialog. Note it still has the old alerts tree displayed.

### Steps to reproduce the behavior

1. Launch ZAP. (Ensure passive scan rules are enabled.)
2. Launch a browser via Browser launch, and navigate to scanme.nmap.org (or whatever).
3. Note

[2022-03-17 12:46] thc202 commented on #7111
Closing, this has been resolved. I'd still recommend using daemon mode.

[2022-03-17 12:46] #7111 closed

[2022-03-17 12:48] thc202 commented on #7138
Title updated to better reflect what the problem is.

[2022-03-17 12:49] thc202 commented on #7115
@costelacostanza do you still plan to work on this?

[2022-03-17 12:51] costelacostanza commented on #7115
Hi,

I'm working around it at the moment. It seems like the issues are in the external library so not much can be done I don't think. Simon emailed me and I said he could reassign.
________________________________
From: thc202 ***@***.***>
Sent: Thursday, March 17, 2022 12:49:46 PM
To: zaproxy/zaproxy ***@***.***>
Cc: costelacostanza ***@***.***>; Mention ***@***.***>
Subject: Re: [zaproxy/zaproxy

[2022-03-17 12:52] thc202 commented on #7022
@levihackerman-102 let us know if we can help with anything.

[2022-03-17 12:53] thc202 commented on #6960
@codebyshubham how are things going?

[2022-03-17 12:56] levihackerman-102 commented on #7022
@thc202 actually I had my exams and then I fell ill, will start working on the issue again

[2022-03-17 12:59] thc202 commented on #7115
OK, thank you.

[2022-03-17 13:00] thc202 commented on #6880
It would be great if someone could provide the exact steps to reproduce the issue.

[2022-03-17 13:03] kingthorin commented on #6739
I agree.

[2022-03-17 13:05] thc202 commented on #7022
Hope all is well now. Great.

[2022-03-17 13:06] thc202 commented on #6742
Closing, this is the expected/wanted behaviour.

[2022-03-17 13:06] #6742 closed

[2022-03-17 13:08] psiinon commented on #6739
Me too :)

[2022-03-17 13:08] #6739 closed

[2022-03-17 13:11] thc202 commented on #6475
Closing, not enough information. Feel free to leave a comment with the original request that reproduces the issue.

[2022-03-17 13:11] #6475 closed

[2022-03-17 13:13] thc202 commented on #6396
Closing, no further feedback.

[2022-03-17 13:13] #6396 closed

[2022-03-17 13:14] thc202 commented on #6579
We could also move the core export options (at least the ones provided in the UI).

[2022-03-17 13:25] codebyshubham commented on #6960
Even though I'm struggling in JAVA, things are going better than I expected. I might need some help for sending multipart data in request. I'll ping one of your team once I'll handle other types of request bodies and different methods.

[2022-03-17 13:26] codebyshubham commented on #6960
Even though I'm struggling in JAVA, things are going better than I expected. I might need some help for sending multipart data in request. I'll ping one of you once I'll handle other types of request bodies and different methods.

[2022-03-17 13:36] thc202 commented on #6960
Great!

[2022-03-17 15:41] psiinon commented on #7105
Re naming schemes: https://twitter.com/psiinon/status/1504475442484432897 :D

[2022-03-17 17:52] psiinon opened #7148 "Firing Range: Fix any 5 Escaped XSS results"
Fix any 5 of the currently failing Escaped XSS results on https://www.zaproxy.org/docs/scans/firingrange/

This is part of https://github.com/zaproxy/zaproxy/issues/7122 but can be assigned to an individual.

If you would like to 'reserve' up to 5 of the failures then add them in a comment and we will not accept any PRs fixing them for a 'reasonable period of time' - the exact definition of we'll

[2022-03-17 17:56] psiinon opened #7149 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

[2022-03-18 01:09] dowdot opened #7150 "Scan Report Show ZAP or add-ons version that the report was generated"
### Is your feature request related to a problem? Please describe.

Report Can Show ZAP or add-ons version that the report was generated on

1. It is convenient to Audit History  or confirm  in the future that the scan result was found in which version For.....
2. To save the scan records of different user for comparison or restore the ZAP version scanned at that time

### Describe the solution yo

[2022-03-18 01:32] thc202 commented on #7150
As is this overlaps with #1976 (also worth noting https://github.com/zaproxy/zaproxy/issues/1976#issuecomment-213343474), might be better to focus on the ZAP version for this one (which is already being included in some reports).

[2022-03-18 01:48] kurobeats opened #7151 "Proposal to retire the Directory List plugins"
### Is your feature request related to a problem? Please describe.

The Add-ons Directory List v1.0, v2.3 and v2.3 LC should be retired for the following reasons:
* Exceedingly low quality (many entries are just porn search terms with spaces)
* Extremely NSFW phrases (grep for the words rape, zoofilia or preteenage in the v2.3 lists)
* The list hasn't been updated since 2007, the web has changed a

[2022-03-18 11:08] psiinon opened #7152 "Crawl Maze Tracker"
We regularly run zap against the Google Security Crawl Maze: https://www.zaproxy.org/docs/scans/

This tracker issue records who has been assigned specific URLs to find, eg as part of the stackhack-bounty.
To be assigned URLs comment on the latest bounty issue stating which URLs you would like to be assigned.
Only one open bounty issue will be assigned to any one person at a time.

The latest unas

[2022-03-18 11:08] psiinon commented on #7149
See #7152

[2022-03-18 11:52] psiinon commented on #7152
Note that the results on https://www.zaproxy.org/docs/scans/crawlmaze/ are out of date - the latest results are shown in the Scoring Script PR: https://github.com/zaproxy/community-scripts/pull/273
I'll delete this comment when the website has been updated - working on that now...

[2022-03-18 16:26] jan-ambroz commented on #7148
I would like to work on:

- [js/html_escape](https://public-firing-range.appspot.com/escape/js/html_escape)
- [js/encodeURIComponent](https://public-firing-range.appspot.com/escape/js/encodeURIComponent)
- [/js/escape](https://public-firing-range.appspot.com/escape/js/escape)

Thank you

[2022-03-18 16:36] Leyart commented on #7152
[/test/html/body/img/dynsrc.found](https://security-crawl-maze.app/test/html/body/img/dynsrc.found)
[/test/html/body/img/lowsrc.found](https://security-crawl-maze.app/test/html/body/img/lowsrc.found)
[/test/html/body/img/src-data.found](https://security-crawl-maze.app/test/html/body/img/src-data.found)
[/test/html/body/input/src.found](https://security-crawl-maze.app/test/html/body/input/src.found

[2022-03-18 17:15] psiinon commented on #7152
@layart can you also comment (anything) on https://github.com/zaproxy/zaproxy/issues/7149 so that I can assign it to you :)

[2022-03-18 17:22] psiinon opened #7154 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

Comment on this issue with the URLs you would like to be assigned - they must not alr

[2022-03-18 17:23] psiinon opened #7155 "Crawl Maze: Fix any 5 missing URLs"
Fix any 5 of the failing results on https://www.zaproxy.org/docs/scans/crawlmaze/

It is important to note that the priority here is to improve the ZAP scan results against real work apps so any improvements should be generic rather than tailored for Crawl Maze.

As always all PRs should include full unit tests.

Comment on this issue with the URLs you would like to be assigned - they must not alr

[2022-03-18 17:44] psiinon opened #7157 "Firing Range: Fix any 5 Escaped XSS results"
Fix any 5 of the currently failing Escaped XSS results on https://www.zaproxy.org/docs/scans/firingrange/

This is part of https://github.com/zaproxy/zaproxy/issues/7122 but can be assigned to an individual.

If you would like to 'reserve' up to 5 of the failures then add them in a comment and we will not accept any PRs fixing them for a 'reasonable period of time' - the exact definition of we'll

[2022-03-18 17:45] psiinon opened #7158 "Firing Range: Fix any 5 Escaped XSS results"
Fix any 5 of the currently failing Escaped XSS results on https://www.zaproxy.org/docs/scans/firingrange/

This is part of https://github.com/zaproxy/zaproxy/issues/7122 but can be assigned to an individual.

If you would like to 'reserve' up to 5 of the failures then add them in a comment and we will not accept any PRs fixing them for a 'reasonable period of time' - the exact definition of we'll

[2022-03-18 20:52] kingthorin commented on #6893
I can confirm that the existing functionality works by simply providing a PAT where password is requested. Therefore this change should be essentially trivial. If there's no update by 2022-03-21 I'll probably go ahead with it.

[2022-03-18 21:30] Leyart commented on #7149
@psiinon I underestimated the complexity of src-data, probably the trickiest one in the list :)
It involves finding full urls and relative paths within a URLEncoded string.
I will be working on it but probably on a separate PR.
Since this is my first PR opened in ZAP and considering that there are just 2 entries for body/applet and I was the first one to create the related tests and method, I will

[2022-03-18 22:22] Leyart commented on #7154
Second batch:

/test/html/body/form/button/formaction.found
/test/html/body/form/action-get.found
/test/html/body/blockquote/cite.found
/test/html/body/audio/src.found
/test/html/body/isindex/action.found

[2022-03-19 18:09] ArkaprabhaChakraborty commented on #6727
Uhh, can I work on this?

[2022-03-19 18:43] ArkaprabhaChakraborty commented on #7148
I wanna take on:
/serverside/encodeUrl/attribute_name
/serverside/encodeUrl/attribute_quoted
/serverside/encodeUrl/attribute_script
/serverside/encodeUrl/attribute_singlequoted
/serverside/encodeUrl/attribute_unquoted

[2022-03-19 18:50] thc202 commented on #7148
Please, either comment on the tracker issue (#7122) or one that's not yet assigned (e.g. #7157).

[2022-03-19 18:51] thc202 commented on #6727
Sure.

[2022-03-19 20:19] ArkaprabhaChakraborty commented on #7122
I wanna take on:
/serverside/encodeUrl/attribute_name
/serverside/encodeUrl/attribute_quoted
/serverside/encodeUrl/attribute_script
/serverside/encodeUrl/attribute_singlequoted
/serverside/encodeUrl/attribute_unquoted

[2022-03-20 11:40] BarakMaozCIQ commented on #5212
@psiinon @AsceraJX any update if this issue is solved? if yes how I can Ignore the IGNORE in the HTML/JSON report?

[2022-03-20 11:50] kingthorin commented on #5212
If the issue was solved the ticket would be closed.

[2022-03-20 13:46] ArkaprabhaChakraborty commented on #7148
Got it

[2022-03-20 16:44] ehsandeep commented on #7003
This is now resolved with the latest release of interactsh server, i.e [v1.0.2](https://github.com/projectdiscovery/interactsh/releases/tag/v1.0.2)

[2022-03-20 20:06] Leyart commented on #7154
Note for /test/html/body/form/button/formaction.found:

ZAP is currently not able to recognize formaction attributes in button childelements.
But even with code modified to support such a scenario, the form in the CrawlMaze formaction test url does not have formdata to be sent: https://security-crawl-maze.app/html/body/form/button/formaction.html

The url is thus not processed by [org/zaproxy/zap/

[2022-03-20 20:15] Leyart commented on #7154
Note for /test/html/body/form/action-get.found

ZAP processes this endpoint correctly, but returns: https://security-crawl-maze.app/test/html/body/form/action-get.found?test1=test&test2=test

The test of CrawlMaze expects just https://security-crawl-maze.app/test/html/body/form/action-get.found
but if the form is submitted, the target url is: https://security-crawl-maze.app/test/html/body/form/act

[2022-03-21 09:17] psiinon commented on #6461
Re the Access Control job via https://groups.google.com/g/zaproxy-users/c/vQEtXQt5K-Q/m/RTonJtlQAQAJ

[2022-03-21 09:33] psiinon commented on #7154
CrawlMaze doesnt actually do any scoreing - so that could well be a bug in my scoring script :D
I'll look into that asap...

[2022-03-21 09:45] psiinon commented on #5212
@BarakMaozCIQ use the Automation Framework https://www.zaproxy.org/docs/automate/automation-framework/ :)
This issue should get fixed when we migrate the API scan to use the AF.

[2022-03-21 11:38] psiinon commented on #7149
@Leyart I've updated #7152 for src-data -> archive

[2022-03-21 11:47] jhowlett96 opened #7161 "False URLs added to site tree on second spider"
### Describe the bug

When spidering site, if ticked 'POST forms (recommended but may generate unwanted requests)'. On the second spider, URLs that were found with a POST request in the first spider are added again to Site tree as GET requests.

### Steps to reproduce the behavior

1. spider site
2. spider same site again so you know it will revisit a POST request.
3. see site tree and find GET re

[2022-03-21 11:49] psiinon commented on #6727
Just confirmed with @ArkaprabhaChakraborty that they want to be assigned #7157 so this issue is still available for anyone else to take on.

[2022-03-21 11:50] ArkaprabhaChakraborty commented on #7157
I wanna take on:
[/serverside/encodeUrl/attribute_name](https://public-firing-range.appspot.com/escape/serverside/encodeUrl/attribute_name)
[/serverside/encodeUrl/attribute_quoted](https://public-firing-range.appspot.com/escape/serverside/encodeUrl/attribute_quoted)
[/serverside/encodeUrl/attribute_script](https://public-firing-range.appspot.com/escape/serverside/encodeUrl/attribute_script)
[/serv

[2022-03-21 11:53] kingthorin commented on #7161
What scripts do you have enabled?
Are you sure you didn’t active scan? (The GET for POST rule might ‘seem’ to cause this.)

[2022-03-21 11:55] tmendo commented on #6727
@DiogoMRSilva and I have fix this issue (and other XSS ones) and will try to submit a PR this week (sorry for being late to this)

[2022-03-21 13:14] jhowlett96 commented on #7161
I have no custom scripts enabled (I do have an input vector script on my system but this bug still occurs when it is disabled)

I can confirm that I am not doing an active scan. All I am doing is spidering the same URL twice.

 Funnily enough the GET for POST rule is turned off for the scan policy that is loaded on my session anyway.

[2022-03-21 13:52] thc202 commented on #7161
That's the expected behaviour, the URLs present in the Sites tree (regardless of the method) are added as seeds when starting the spider thus later requested as GET. (Just clarifying not saying that it can't or shouldn't be changed.)

[2022-03-21 13:53] thc202 commented on #7161
Tweaked the issue to match the behaviour requested.

[2022-03-21 13:54] jhowlett96 commented on #7161
This also occurs to pages that the spider didn't start on. I was just stating that it also happens when I start using the same URL as before. It happens to all POST requests found.

[2022-03-21 14:08] thc202 commented on #7161
Yes, as mentioned in the above comment "the URLs present in the Sites tree are added as seeds", it does not matter the method or the source of those requests (whether they were accessed manually or by the spider or other tool).

[2022-03-21 14:57] jhowlett96 commented on #7161
They are removed from the exporting of the site tree and so are recognisable as 'seeds'.

Why are they present in the sites tree if they are not exported, what benefit does the user have in having these 'false' (I say false because there are no references to these URLs with these arguments as they are created by ZAP when completing multiple spiders) URLs present in the sites tree?

[2022-03-21 15:57] psiinon commented on #7154
@Leyart I've now assigned this issue to you and reserved those links on the basis that your previous PR is essentially done :)

[2022-03-21 17:33] #7147 closed

[2022-03-21 18:33] thc202 commented on #7149
Closing, all done.

[2022-03-21 18:33] #7149 closed

[2022-03-21 19:58] thc202 commented on #7121
Closing, this is not an issue with the codebase. You can reorder the classpath entries to avoid it, dev mailing list is better place for these questions.

[2022-03-21 19:58] #7121 closed

[2022-03-21 20:23] psiinon commented on #7154
The important thing is that ZAP finds the URL. If it does then we'll accept that as a fix even if the script doesnt score it - I can fix the script :)

[2022-03-21 20:37] Leyart commented on #7154
Well I didn't had to fix anything, was already recognised by Zap, just the crawlmaze test was failing.
That's why I picked another one

[2022-03-22 14:28] #7008 closed

[2022-03-22 18:44] jhowlett96 commented on #7161
Is there a way of distinguishing these seed URLs in an active scan rule?

I am trying to develop a new active scan rule but they are causing many false positives so I would like be able to detect and then ignore them for my scan rule.

[2022-03-22 19:05] kingthorin commented on #7161
Check if the method of getBaseMsg() is GET? There might be other ways too but that seems like a quick solution while you’re testing.

[2022-03-22 19:15] jhowlett96 commented on #7161
Background: looking at the feasibility of a new active CSRF scanner rule that checks response when CSRF-token value changed, to test that the second page is actually testing the CSRF-token value.

, that was my first thought but I need to test GET requests too because any type of request can modify the database, Therefore this new rule must target even GET requests. These seed URLs are lacking CSR

[2022-03-22 19:21] kingthorin commented on #7161
Check if they have any params and skip if they do not?

[2022-03-22 19:28] jhowlett96 commented on #7161
I might have to go with that for now, I hoped there was a way to distinguish these URLs but alas. That might be the best solution as it will target most URLs.
The only case that condition you proposed would exclude a valid URL would be a database edit that just cycles between values so a new value wouldn't need to be given in the request for example putting a site into maintenance mode (which woul

[2022-03-22 19:32] thc202 commented on #7161
fwiw, they are not "seed URLs" they are URLs used as seeds, there's nothing special about them nor anything that can distinguish them.

[2022-03-22 19:36] jhowlett96 commented on #7161
@thc202 What does a seed mean? I initially thought it was where ZAP would start its spider but there is only one of them for each spider being run which is set in the spider config before running

[2022-03-22 19:46] thc202 commented on #7161
It's that, but as mentioned previously what's in the Sites tree is used to seed the Spider as well: https://github.com/zaproxy/zaproxy/blob/b7f2e4c8c65db1ef96bc7a3c4c5f1c04f05ae8a0/zap/src/main/java/org/zaproxy/zap/extension/spider/SpiderThread.java#L282-L310

[2022-03-22 19:48] jhowlett96 commented on #7161
Why does ZAP try to use POST pages as seeds given that a POST request turned into a GET request will most likely throw up an error(because all the form data is lost) and not give the spider anything to spider to?

[2022-03-22 19:50] thc202 commented on #7161
A URL can be used for any method, there's no such restriction that a POST to a URL can't handle a GET.

[2022-03-22 19:55] jhowlett96 commented on #7161
yes that's true but what I'm getting at is that if the spider only found a POST with some form data as the request made to a given URL. What would be gained from making a GET request that is most likely invalid?

I can see website structures that would be using the same URLs for many different purposes and therefore a GET request from a POST request may give a valid response. I can see two sides t

[2022-03-23 08:09] ahmadfikrimasyhur opened #7163 "SQLi Report Flag is incorrect"
### Describe the bug

![image](https://user-images.githubusercontent.com/30574371/159650490-0f644c44-2d88-4c63-a2a6-40ff1a029f98.png)

The result of the scan has Red Alert Flag on the SQLi menu, that is I think is incorrect,
because when I test in Postman with the same request parameters the response has expected behavior.

### Steps to reproduce the behavior

1. go to quick start
2. fill url chec

[2022-03-23 08:43] jhowlett96 commented on #7161
@kingthorin Unfortunately checking if there are 0 params is not enough of a condition to distinguish these URLs. This is because the POSTs turned into GETs through the spider only strip the form data but keep the URL parameters and so they could have any number of params.

Why is the spider turning POSTs into GETs when determining seeds for the spider? Wouldn't it be more beneficial to use the POS

[2022-03-23 08:56] rugk commented on #7121
Besides the fact that I did not know this exists, it is certainly not, because when someone else has the same issue, they can at least find it here now and not hidden in some mailing list one cannot easily search.

[2022-03-23 09:13] psiinon commented on #7121
The mailing lists can be easily searched, you just need to join them.

[2022-03-23 09:15] psiinon commented on #7161
The POSTs should appear in the sites tree. If they dont then theres something going wrong with your setup.

[2022-03-23 09:16] psiinon commented on #7163
"SQL injection may be possible" - strictly speaking this is true :)
You havnt provided us with enough information to either determine if it is true or not or to do anything about it if it is not true.
We dont have access to your app.

[2022-03-23 09:18] jhowlett96 commented on #7161
The POSTs do appear in my site tree. The problem is that GET requests are being made that are generated from the POST requests of a previous spider. These GET requests are then being targeted by the active scan.

Why are the POST requests being turned into GET requests when generating seeds for the next spider and not left as the original POST requests?

[2022-03-23 09:21] thc202 commented on #7161
To improve coverage, just because a POST was sent to a URL does not mean it's not serving GETs.

The scan rule will have the same problem regardless of the spider behaviour. The user can be proxying/sending all kind of funny things before starting the active scan.

[2022-03-23 09:27] thc202 commented on #7121
Search works fine: https://groups.google.com/g/zaproxy-develop/search?q=eclipse

The mailing lists are linked from [Get In Touch](https://www.zaproxy.org/community/) in the Community page, they are also mentioned when trying to raise issues: https://github.com/zaproxy/zaproxy/issues/new/choose

[2022-03-23 09:28] psiinon commented on #7161
The ZAP spiders aim to explore sites as thoroughly as possible in order to scan them better. Thats how it works and its not something we are going to change.
If you want to reduce the coverage on your app then there are various options like excluding URLs, removing entries from the sites tree etc.
Also see https://blog.mozilla.org/security/2013/07/10/how-to-speed-up-owasp-zap-scans/

[2022-03-23 09:41] jhowlett96 commented on #7161
Ok I thought it might of been a bug that was causing all seeds to be GETs but if that is the intended behaviour as it can increase coverage then I can't argue with that.

Then I ask for a configurable option that could be 'use GET requests for POST requests found in site tree (recommended)' as an option that is set on by default in the spidering options.

Some people may not want these requests ge

[2022-03-23 09:47] psiinon commented on #5073
No longer relevant.

[2022-03-23 09:47] #5073 closed

[2022-03-23 16:39] psiinon opened #7164 "Add awscli to the docker images"
As per https://groups.google.com/g/zaproxy-users/c/8ysqp9vitHE/m/BiD36ve6AwAJ

[2022-03-24 09:53] psiinon opened #7165 "Do not use ZAP CA cert for untrusted certs (CVE-2022-27820)"
This was originally reported to ZAP via BugCrowd.

We rated it as a LOW vulnerability and gave the reporter permission to disclose it, which they have done as [CVE-2022-27820](https://nvd.nist.gov/vuln/detail/CVE-2022-27820).

We have rated it as LOW as we expect ZAP users to know about the sites they are testing and to know not to send any sensitive information to those sites when testing them wi

[2022-03-24 12:34] kingthorin commented on #7161
Is there a reason you’re spidering twice? Maybe that’s the issue we should be addressing 🤷‍♂️

[2022-03-24 13:10] jhowlett96 commented on #7161
I must spider twice because some pages have the same form action but send the user to a different page.

A simple example, a table of users on system next to each user there is a button 'Edit' & 'Delete' they both are on the the same form so same action but one redirects to an edit specific page and the other redirects to a delete specific page.

ZAP will go to one of these pages redirect pages bu

[2022-03-24 13:43] thc202 commented on #5562
I can confirm this is still happening, it seems we are not converting from v1 in all cases.

[2022-03-24 13:48] thc202 commented on #6547
@jporzuceksfx do you still plan to work on this?

[2022-03-24 14:21] thc202 commented on #6001
There are endpoints to get that information though, `excludedTechnologyList` and `includedTechnologyList`.

[2022-03-24 16:09] BloodyIron commented on #7164
Yay! Thanks! :D

[2022-03-25 02:55] kurobeats opened #7166 "Add a Chrome binary location option to the Selenium Options"
### Is your feature request related to a problem? Please describe.

If a Chromium-based browser is installed and isn't Chrome there's no (simple) way to point Selenium to the folder where it resides.

### Describe the solution you'd like

Add an additional option to the "Binaries" section.

### Describe alternatives you've considered

Unless I'm missing the option, it doesn't seem to exist in the

[2022-03-25 03:11] kurobeats opened #7167 "Add an option on startup to load an existing Session file"
### Is your feature request related to a problem? Please describe.

Currently, users need to select "No, I do not want to persist this session at this moment in time", click Start then File, then "Open Session..." to open an existing session, to open an existing session file.

### Describe the solution you'd like

On start up, add an option to load an existing session file to the dialog box.

###

[2022-03-25 04:59] kurobeats opened #7168 "Add functionality to Allow-list site tree contents"
### Is your feature request related to a problem? Please describe.

At present, Session logging is limited in scope by exclusion and this, if not vigorously maintained, is producing Large Site trees.

### Describe the solution you'd like

I propose adding functionality to exclude all other domains not defined in the "Include in Context" from the Site Tree.

### Describe alternatives you've conside

[2022-03-25 08:31] psiinon commented on #7167
Note that this is already possible using the `-session` command line option: https://www.zaproxy.org/docs/desktop/cmdline/

[2022-03-25 10:12] barbeque-squared commented on #6655
@thc202 it seems that CorsScanRule is/was also addressed, I get these kind of timings now:
[code]
The WebCacheDeceptionScanRule 404 behaviour still exists, but I'm less sure whether that's a feature or a bug. If you think it's worthwile to investigate, I can try to set up some kind of minimal example. I'll leave it up to you whether you want it as a separate issue or a reopening of this one (in th

[2022-03-25 10:23] kingthorin commented on #6655
The fixed WCD rule hasn't been released yet.

[2022-03-25 11:25] barbeque-squared commented on #6655
Oops, my bad. I missed that the WCD fix was recent.
About CorsScanRule: the ~400 seconds was significant at the time, but it's also the _only_ data point of something that ran _after_ WCD. It's fast now though, so it no longer needs to be addressed. Feel free to update the title if needed to reflect this.

[2022-03-27 15:39] kingthorin commented on #5887
https://github.com/zaproxy/zap-extensions/blob/15f57836e0631623fad09d739d856d88c9fda4f3/addOns/ascanrules/src/main/java/org/zaproxy/zap/extension/ascanrules/RemoteFileIncludeScanRule.java#L160-L161

https://github.com/zaproxy/zap-extensions/blob/15f57836e0631623fad09d739d856d88c9fda4f3/addOns/ascanrules/src/main/java/org/zaproxy/zap/extension/ascanrules/RemoteFileIncludeScanRule.java#L224-L248

[2022-03-27 22:11] SkypLabs commented on #30
Hi @kingthorin,

I have written a small Java test project and I could reproduce your issue. I got the same error message as the one from your IDE.

I submitted a ticket to the Kaitai Struct project: https://github.com/kaitai-io/kaitai_struct/issues/956

[2022-03-27 23:04] kingthorin commented on #30
@SkypLabs thank you!

[2022-03-28 02:43] kingthorin commented on #5887
It seems that this was actually alerting on Open Redirects, per the example provided the browser would actually be redirected to google and surprise surprise (sarcasm) find the expected content.

[2022-03-28 10:40] #7166 closed

[2022-03-28 13:10] DiogoMRSilva opened #7171 "Loss of new line chars for GZIP HTTP responses returned by the API"
### Describe the bug

When the content encoding of a message response is gzip the method `httpMessageToSet` of `ApiResponseConversionUtils.java` reads the unzipped content line by line and forgets to add the new line chars to the string is going to add to the ApiResponseConversionUtils. The code where this happen is:
[code]

### Steps to reproduce the behavior

1. Make a request to a server that r

[2022-03-28 13:17] thc202 commented on #7171
Assigned.

[2022-03-28 13:48] tmendo commented on #6727
fixed by https://github.com/zaproxy/zap-extensions/commit/06ced036bb50fabdf1f6601092f5025604cce559

[2022-03-28 13:48] #6727 closed

[2022-03-28 14:27] #7164 closed, assigned to psiinon

[2022-03-28 15:36] DiogoMRSilva opened #7174 "Don't log parsing exception when request with json content type has empty body"
### Is your feature request related to a problem? Please describe.

When a website has many requests with json content type and empty body, the logs are full of json parsing errors. Since this is not a ZAP problem I would like to clean the logs.

### Describe the solution you'd like

On `parseContent` of `VariantJSONQuery.java` return 0 parameters if the request body is empty.

### Describe altern

[2022-03-28 20:38] kingthorin opened #7176 "Secret Scanning rule"
### Is your feature request related to a problem? Please describe.

It would be nice if ZAP had a scan rule to passively check content for leaks of "secrets".

This came up recently via OWASP slack.

### Describe the solution you'd like

Create a passive scan rule that looks for secrets.

It should be based on something like gitleaks that has a set of "rules" or "patterns" that we can create a git

[2022-03-28 22:06] #7174 closed

[2022-03-29 10:02] #5887 closed

[2022-03-29 19:57] #7171 closed

[2022-03-29 22:04] tkisason opened #7178 "automation: Add save-as"
Edit: **See https://github.com/zaproxy/zaproxy/issues/7178#issuecomment-1118991263**

---

### Describe the bug

This is an issue in the ZAP GUI. When the user wants to create a new automation job, he adds the automation tab, adds the parameters, fills in the variables, etc. After the first save if an user alters the job and wants to save the new plan the interface is bugged and he cannot save the

[2022-03-29 22:18] tkisason commented on #7178
After some further testing and digging in the code, i found out that it will just dump data to the old file name which you selected the first time. This is also ok, but it's unclear from the interface that it will use the first selected file name for next saves.

[2022-03-30 00:34] kingthorin commented on #7178
Doesn’t subsequent use of save in most modern applications (like in the last 30 years) re-use the existing file?

[2022-03-30 07:42] janibashamd opened #7179 "Unable to generate testreport"
### Describe the bug

Hi Team,

I am trying to use docker image with baseline scan which is scanning fine.

But when i tried to create report using below command i don't see any testreport or conf file

_docker run -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-stable zap-baseline.py -t https://jb1.f5-hyd-demo.com/ -g gen.conf -r testreport.html_

Last few line outputs:
28187 [ZAP-PassiveScanner] INFO

[2022-03-30 07:57] kingthorin commented on #7179
You need to specify the full path for the report otherwise you’re writing it inside the container and not preserving it. Ex: `/zap/wrk/testteport.html`

Please don't ask questions as issues - the [ZAP User Group]( https://groups.google.com/group/zaproxy-users) is a much better place for questions.

[2022-03-30 07:57] #7179 closed

[2022-03-30 10:22] janibashamd commented on #7179
i thought its a issue so raised it here..

[2022-03-30 10:42] janibashamd commented on #7179
Tried below command as well but no luck:
docker run -v $(pwd):/zap/wrk/:rw -t owasp/zap2docker-stable zap-baseline.py -t https://jb1.f5-hyd-demo.com/ -g /zap/wrk/gen.conf -r /zap/wrk/testreport.html

Even documentation didn't say anything about this issue, so please give valid and full command..

[2022-03-30 10:46] psiinon commented on #7179
The docs do actually give an example: https://www.zaproxy.org/docs/docker/baseline-scan/

[code]

I've just tried that and it does write `testreport.html` to the cwd...

[2022-03-30 10:55] janibashamd commented on #7179
for some reason i tried same command but it didn't work out and i don't see any config or reports in cwd:

[root@gitlab-runner zap]# ls
[root@gitlab-runner zap]#

[2022-03-30 11:00] psiinon commented on #7179
This is likely to be an environment issue, ie related to gitlab.
Its not going to be a ZAP issue, so for more help please ask on the [ZAP User Group](https://groups.google.com/group/zaproxy-users)

[2022-03-30 11:18] psiinon commented on #7179
FYI I've submitted a PR to add to the Docker diagnostics page: https://github.com/zaproxy/zaproxy-website/pull/895/files

[2022-03-30 12:31] ezra100 opened #7180 "Divide the options tabs into different sections"
### Is your feature request related to a problem? Please describe.

Hi ZAP devs!

Currently the options window groups all the tabs under the same category named 'options'.
That makes it very hard to navigate through it and find what you want to config, given that there are 40+ tabs.
Grouping them into different categories can be very helpful.

### Describe the solution you'd like

A basic grouping

[2022-03-30 12:34] kingthorin commented on #7180
I don't necessarily disagree, but there is a search in the top left :grinning:

[2022-03-30 12:45] ezra100 commented on #7180
Yeah, that can be helpful sometimes, but not always.
For example - you search can have a few words to describe it, you term fits too many tabs, etc.
Plus, as can be seen here, the search doesn't filter the tabs it just highlights them with a not-very-noticeable color (very thin yellow stroke on a bright background doesn't really do the job).

I mean, your solution is practical, but a UI needs to b

[2022-03-30 13:00] psiinon commented on #7180
Also, most tabs have a "gear" icon which takes you to the right Options tab.
But +1 for changing the highlight colour - maybe red would be better?

[2022-03-30 13:09] ezra100 commented on #7180
That's a nice feature too, but I don't think it can be a replacement for grouping the tabs (I'm assuming that doing that change would be too difficult coding-wise, since there's a base for tab groups which is currently used to group them all under 'options', but maybe I'm wrong).

I think that changing the background instead of a stroke (like the highlights in the tab itself) can be better and ble

[2022-03-30 13:12] psiinon commented on #7180
FWIW I would have no problem grouping the options as long as we can come up with a sane set of groupings.
It will require core changes (and changes to most of the add-ons) so it might take a while...

[2022-03-30 13:51] ezra100 commented on #7180
Ok, what do you think about the categories I've suggested above?

- Internet related configs (connections, HTTP sessions, Client certificate, Dynamic SSL Certificate, WebSockets)
- App related configs (display, JVM, keyboard, Statistics, Language, Check for update, Quick start launch)
- scanners (maybe can be divided into passive and active tools)
- I'll come up with more categories of whatever's

[2022-03-30 16:49] thc202 commented on #7180
Some panels are already being moved (under a Network panel, you can check in the weeklies).

[2022-03-30 16:57] ricekot commented on #4112
@ssyms @jangelesg how are things going? do you need any help?

[2022-03-30 19:48] ssyms commented on #4112
@ricekot I'm open to this ticket being re-assigned. A lot of personal stuff has come up in the past year and I'm still busy dealing with it.

[2022-03-31 15:44] trevor-vaughan commented on #6741
I'm running into something similar where random strings that could be timestamps are being flagged but are almost always garbage.

What I would like:

* A method to dictate valid timestamp ranges of concern (+/- 1 year from today)
  * This will remove 99% of the findings that I've seen
* A default to +/- 1 year from today (because of the above)
* Possibly split the alert flag  into different bucke

[2022-03-31 16:16] trevor-vaughan commented on #6741
@kingthorin Well, I'll admit that it was in the help but I don't think I would have found that page through any of the ZAP contexts without assistance.

I walked through the menus and whatnot to see if I missed something but the link fromthe timestamp alerts to that particular help page eluded me.

Would it be possible to add some context sensitive help to the app regarding settings that can be tw

[2022-03-31 16:25] kingthorin commented on #6741
For some alerts, those adjustments are called out as part of the "Other Info" field. We probably need to be more consistent in that, or look into another option :grinning:

[2022-04-01 22:07] techbud opened #7184 "ZAP Hud not displaying"
I'm new to the tool so might be a mistake on my end. But was learning how to use it and the HUD looks pretty cool but for some reason the HUD isn't working. I'm on Firefox 91.7.0esr. Zap 2.11.1. Tried refreshing a million times, I know one of the guys in discord is on and older version and it works?

[2022-04-01 22:18] kingthorin commented on #7184
Are you launching Firefox from within ZAP?
Have you visited a site? (It won't show on about:blank or ZAPs news page.)

[2022-04-01 22:28] techbud commented on #7184
I'm launching from ZAP, but I'm visiting the site within hack the box academy, tried different sites and it doesn't load up.

[2022-04-01 22:30] kingthorin commented on #7184
On Kali?

[2022-04-01 22:49] techbud commented on #7184
Yes kali on current version. I'm trying to delete all and reinstall at the moment then reupdate the app.

[2022-04-01 23:02] kingthorin commented on #7184
I've got a VM around, I'll update and give it a shot.

[2022-04-01 23:04] techbud commented on #7184
No go after a new installation

[2022-04-02 22:37] techbud commented on #7184
Alright I got it working by the grace of god and a little luck. I was having trouble setting up re placers in the menus also, hit hit reset button in the options menu, generated a new ssl cert and the hud is up.

[2022-04-02 22:53] kingthorin commented on #7184
Oh great. Thanks for letting us know.

[2022-04-02 22:53] #7184 closed

[2022-04-03 07:55] alexhyd22 opened #7185 "unable to get DOM results"
while i scanned my website dom based  scan is skipping everytime i scan. but all the other type of scans are working fine. DOM based scan is being cancelled everytime with out my notice.

[2022-04-03 08:01] thc202 commented on #7185
You can check why it's being skipped by hovering its icon in the [Scan Progress dialogue](https://www.zaproxy.org/docs/desktop/ui/dialogs/scanprogress/), that's also [logged](https://www.zaproxy.org/faq/where-does-zap-put-its-logs/).
The scan rule is skipped if not able to start the browser, verify that you are using the latest WebDriver add-ons and that the browser is installed.

These type of us

[2022-04-03 08:01] #7185 closed

[2022-04-04 03:04] shankeerthan-kasilingam commented on #6001
Hi @kingthorin and @thc202,
I'm new to zaproxy. Can i try to fix this issue?

[2022-04-04 10:56] kingthorin commented on #6001
Absolutely!

Dev docs are here:https://www.zaproxy.org/docs/developer/
Relevant code: https://github.com/zaproxy/zaproxy/blob/main/zap/src/main/java/org/zaproxy/zap/extension/api/ContextAPI.java

[2022-04-04 13:46] learnworksmart opened #7186 "Export and Import Zap HAR (http archive file) file via API"
### Is your feature request related to a problem? Please describe.

I am trying to script my zap scan by allowing user
1. manual crawl
1. export the crawl request as HAR
1. import the HAR file for other scan

From the **Zap Desktop UI**, I can see the related features:
- Sites (right click) -> Save selected entities as HAR (HTTP archive file)
- Import -> Import HAR (HTTP archive file)

However, I

[2022-04-04 13:48] #7186 closed

[2022-04-05 09:49] jhowlett96 commented on #7161
Ok so I have done some coverage testing on my product and found that not using existing URLs as seeds has yielded a higher coverage (1870 URLS with, 1940 URLs without). Therefore I would like to ask to have a configuration option in the Spider tab of the Options Panel.

This is the code block that I "if(false) {" for testing:

https://github.com/zaproxy/zaproxy/blob/1a4af3a5678488a7d4f5559cb82cb3f

[2022-04-05 09:58] jhowlett96 commented on #7161
I mentioned this issue on https://groups.google.com/g/zaproxy-develop/c/V5FD9XKkRng

[2022-04-05 10:07] jhowlett96 commented on #7161
Obviously it is product based and someone else's product may behave differently.

I suspect it is because it is navigating the website in a slightly different way (URL request order has now changed as there are more URLs) and so the spider can reach certain URLs that are cut off when accessing the seeds (maybe its a delete user page for example and now the user details page cant be accessed anymor

[2022-04-06 08:55] ge0rg opened #7187 "Local Proxy: display aborted requests"
### Is your feature request related to a problem? Please describe.

When doing TLS MitM with the local proxy, a client that doesn't accept ZAP's served certificate will abort the connection, sometimes with an SSL-level error message sent to ZAP. Knowing about these failed requests is of tremendous help in debugging the setup / in verifying correct client-side TLS verification.

OTOH, it often happ

[2022-04-06 09:41] thc202 commented on #7187
You can already see the CONNECT requests in the History tab, not that if the following handshake was un/successful though at leat not explicitly, either a new request is sent or not.

https://www.zaproxy.org/docs/desktop/ui/dialogs/options/view/#show-local-connect-requests

[2022-04-06 10:41] 589290 opened #7188 "ModuleNotFoundError: No module named 'zap_common'"
### Describe the bug

zap_common.py does not seem to be included as part of the Linux binary package, but it should be... right?
https://github.com/zaproxy/zaproxy/releases/download/v2.11.1/ZAP_2.11.1_Linux.tar.gz

### Steps to reproduce the behavior

1. download https://github.com/zaproxy/zaproxy/releases/download/v2.11.1/ZAP_2.11.1_Linux.tar.gz
2. try to run a scan
3. zap_common.py is missing...

[2022-04-06 10:48] thc202 commented on #7188
Those are included in the Docker images: https://www.zaproxy.org/docs/docker/

[2022-04-06 11:14] 589290 commented on #7188
@thc202 right, but if you're building you own custom docker image and pulling down the Linux tar release, you will have to pull down the zap_common.py separately/independently. It would be nice if this python library was included in the Linux release so that it would be tracked/released in tandem with the Linux package.

[2022-04-06 11:20] psiinon commented on #7188
The future direction is actually to use the Automation Framework: https://www.zaproxy.org/docs/automate/automation-framework/
We have started to move the packaged scans over to use the AF under the covers - this does not depend on docker but can run in docker or any other container if required.
As such I do not anticipate us wanting to spend more time on zap_common than we need to...

[2022-04-06 11:24] psiinon commented on #7188
We are a relatively small team and so have to prioritise what we support.
Right now zap_common is "internal" and not one of the external interfaces we "officially" document or support.
If you can explain your usecase then maybe we can get a better understanding of your requirements.

[2022-04-06 11:49] ge0rg commented on #7187
Ah, thanks. I missed that (would it be possible to duplicate it in the "Local Proxy" tab?).

It would be really great to add the TLS alerts into this display / or to have a flag to only show errored-out connections (I understand that from a pure transparent proxy view it is not clear when the wrapped connection terminated in error, if there is no explicit TLS error).

[2022-04-06 17:26] ge0rg opened #7189 "WebSockets add-on: filter payload pattern only applies to *visible* part of payload (150 chars)"
### Describe the bug

The filter in the WebSockets tab allows filtering for a Payload pattern. This pattern is only matched on the *visible* first 150 characters of the payload and not on the whole text.

Example from the WebSockets tab:

![image](https://user-images.githubusercontent.com/165635/162031451-cc29cae7-80c8-46eb-bce5-81b861d99a10.png)

Actual payload displayed in the Request tab:

[cod

[2022-04-06 17:49] thc202 commented on #7189
Yes, the problem is that it's using the preview length when checking the payload.

[2022-04-07 14:38] hahwul opened #7191 "CSP does not seem to work normally in launched browser"
### Describe the bug

Hi team.
This is an issue that I experienced while solving the intigrity XSS 0322 challenge recently.
CSP exists in Response as shown below, but CSP is not processed in Pre-configured browser.

Of course, I spent a little more time and eventually bypassed CSP. However, I was excited for a while because of the alert() of the pre-configured browser at the beginning of the test.

[2022-04-07 14:45] kingthorin commented on #7191
I've added both the "add-on" and "Component-Docs" labels until we decide how we want to address this. Also I've removed "bug" and added "enhancement" as (as far as I know) this is intentional, so adding and option etc would be an enhancement.

[2022-04-07 15:00] hahwul commented on #7191
Hi @kingthorin
Thank you so very very much!
I don't know if I can be of any help, but I'll try my best to test it(If you need my help). I'm rooting for you!

[2022-04-08 02:08] shankeerthan-kasilingam commented on #6001
I fixed the issue and tested it. Sorry I missed to sign-off of the commit. Would it be ok to create a new PR with signoff? (The current PR is blocked by DCO https://github.com/zaproxy/zaproxy/pull/7194)

[2022-04-08 02:49] kingthorin commented on #6001
There’s no need for a new PR. Just do an interactive rebase and squash it all into a single commit, sign it off, force push it.

[2022-04-08 10:03] thc202 commented on #2332
Closing with zaproxy/zap-extensions#2149.

[2022-04-08 10:03] #2332 closed

[2022-04-09 02:02] shankeerthan-kasilingam commented on #6683
@psiinon and Team,May I work on this?
Your suggestion is that we need to push searching to the DB layer instead of doing it in Java. Can I check the code and other possible ways to make the search faster?

[2022-04-09 08:49] psiinon commented on #6683
@shankeerthan-kasilingam that would be great!
I've assigned the issue to you.
Let us know how you get on and if you need any advice, guidance or feedback.

[2022-04-09 09:45] thc202 commented on #6683
It would be better to finish the existing pull request though.

[2022-04-10 01:39] shankeerthan-kasilingam commented on #6683
For Sure. Currently, I'm waiting for ci builds and if there are any issues on that PR, I'll fix them.

[2022-04-10 15:04] Leyart opened #7197 "Add support for Form enctype attribute and Button formenctype attribute"
### Is your feature request related to a problem? Please describe.

Related to https://github.com/zaproxy/zaproxy/issues/7154.
We have added support for formmethod attributes in form buttons there, but we are missing the support of the enctype attributes in form.

### Describe the solution you'd like

Encode correctly the data in forms before send it to the server to increase the compatibility wit

[2022-04-10 19:43] thc202 commented on #6960
@codebyshubham let us know if there's anything we can do to help.

[2022-04-11 08:02] globeone opened #7199 "BUG: HUD "Remove CSP from target pages" doesn't appear to remove the Content-Security-Policy header"
### Describe the bug

Some sites set a Content-Security-Policy header to
`Content-Security-Policy: default-src 'self'; `

In order to use the HUD the documentation
https://www.zaproxy.org/docs/desktop/addons/hud/options/#remove-csp-from-target-pages

suggests to turn on the Remove CSP from target pages.
Unfortunately this checkbox doesn't seem to change the state of the Content-Security-Policy hea

[2022-04-11 11:30] #7025 closed

[2022-04-11 14:09] #6893 closed, assigned to kingthorin

[2022-04-11 14:35] rethab opened #7201 "make variable substitution work anywhere in yaml"
### Is your feature request related to a problem? Please describe.

I have tried to use (env) variables in my YAML file for the automation framework, but it looks like variables only work in the `env.ctx` section of that YAML.

### Describe the solution you'd like

It would be nice if I could write a YAML file like so:

[code]

Additionally, using variables defined in `env.vars` should be usable a

[2022-04-11 14:52] psiinon commented on #7201
Also none of the integers support substitution (from memory).
This was reported via IRC.

[2022-04-12 02:22] kingthorin commented on #6921
The upstream issue has been closed with an explanation that was accepted by the user. It seems the issue is caused by features which are not yet part of the spec.

[2022-04-12 02:30] kingthorin commented on #6229
Is this still occurring?

[2022-04-12 02:47] kingthorin commented on #5081
@omerlh you can already use HAR and the Import/Export add-on.

[2022-04-12 02:52] #4359 closed

[2022-04-12 03:16] kingthorin commented on #5853
As you've already noted the list can be easily Exported.
You can also highlight the table and copy then paste elsewhere.

Importing add-ons from this info isn't really practical. Add-ons can be install or updated from the CLI and API. So you could easily create a wrapper that consumes the CSV, though it isn't terribly practical because the marketplace table doesn't contain the actual add-on IDs. H

[2022-04-12 03:23] kingthorin commented on #6069
Couldn't/shouldn't this be handled outside ZAP? I don't see how we could handle all the possible auth options/combinations.

[2022-04-12 03:36] kingthorin commented on #7134
@marvUta any progress?

[2022-04-12 03:49] #7019 closed

[2022-04-12 03:52] kingthorin commented on #6981
https://docs.oracle.com/javase/7/docs/api/javax/swing/JFileChooser.html#setFileHidingEnabled(boolean)

[2022-04-12 04:04] thc202 commented on #6069
What do you mean by handle?

[2022-04-12 04:04] kingthorin commented on #6892
Can this be closed?

[2022-04-12 04:06] kingthorin commented on #6891
Can this be closed as a duplicate of 1288?

[2022-04-12 04:07] thc202 commented on #5853
Automation Framework might be a better way now, to replicate the required state.
https://www.zaproxy.org/docs/desktop/addons/automation-framework/

[2022-04-12 04:18] kingthorin commented on #6719
This is likely due to Java being out of memory.

[2022-04-12 04:23] thc202 commented on #1623
Why close?

[2022-04-12 04:24] kingthorin commented on #6069
Well if ZAP's supposed to download from some random site/source I'd expect some sort of auth to be required.
If ZAP's supposed to upload to some random site/storage I'd expect some sort of auth to be required.

To me dealing with all the possible destinations/sources/types of storage is a headache that should be handled outside of ZAP.

[2022-04-12 04:25] kingthorin commented on #1623
"This solution worked for me perfectly fine.

[2022-04-12 04:33] thc202 commented on #6229
If the imported URLs are not under the target it will happen.

[2022-04-12 04:34] kingthorin commented on #1623
ACK sorry missed it.

[2022-04-12 04:38] thc202 commented on #6626
We shouldn't try running a script if it does not have the engine (would prevent the error and disabling the script).

[2022-04-12 04:40] kingthorin commented on #6229
You mean if you override the host but it doesn’t actually host the endpoints?

[2022-04-12 06:54] rethab commented on #7201
Thanks for your comments @thc202 and @psiinon . As I said in the description, I'd be happy to take a shot at fixing this. Is that ok? If so, is there anything I should consider or shall I just go ahead and see if I can get it to work?

[2022-04-12 08:17] psiinon commented on #7201
@rethab great! I'm assigned this issue to you.
We do have a load of docs eg https://www.zaproxy.org/docs/contribute/coding/
I've labelled this as a 'good first issue' as there are already examples in the code of how to do this, but if you need any pointers then just say.
We do need unit tests for all PRs but again, if you need any advice and guidance for that then just say.
You dont have to fix ev

[2022-04-12 08:18] huornlmj commented on #6892
Unresolved.

[2022-04-12 08:18] #6892 closed, assigned to nobody

[2022-04-12 08:23] psiinon commented on #6626
But this is a packaged scan, so its not straightforward to launch ZAP to install the jython add-on and then launch it again.
Essentially it means people can not (easily) use scripting engines which are not installed by default from the packaged scans.
Thats not ideal ;)

[2022-04-12 09:18] thc202 commented on #6723
The address resolved when connecting. I'd expect this to be available in other places too (e.g. ZAP API).

[2022-04-12 09:38] thc202 commented on #6719
The first exceptions are caused by the history/websocket trying to use the session while it's being closed, later errors might be related.

[2022-04-12 09:39] globeone commented on #7008
Is it possible to reopen this issue? There are still problems opening Chrome on the Mac even with the latest chrome driver. The Chrome location field is missing and on the Mac Chrome won't open.

Even when we exclude chromedriver (mac64) from gatekeeper, chrome is not opening through ZAP.

If not then I'll make a new ticket.

![image](https://user-images.githubusercontent.com/10052587/162929596-96

[2022-04-12 09:50] thc202 commented on #7008
Make sure that the add-ons are up-to-date, if you are not seeing the Chome binary option it means you are not using the latest version.

Could you provide the log?

[2022-04-12 10:44] marvUta commented on #7134
@kingthorin Sorry I haven't updated the ticket. So far I've settep up everything, checkout a new branch and done some quick debugging but haven't found the issue yet.

[2022-04-12 11:06] globeone commented on #7008
I'm sanitizing the log at the moment. The only version of ZAP that is installable and runnable on the Mac is via Homebrew
`brew install --cask owasp-zap --no-quarantine`
and the chromedriver we got here:
`https://chromedriver.chromium.org/downloads`

[2022-04-12 11:20] globeone commented on #7008
So, here is the sanitized log from a Mac
At the start of the log the bundled Chromedriver doesn't match the version of Chrome.
There is no user interaction here with a warning pop-up ("chromedriver is outdated please update the chromedriver")

Near the end of the logging, after we replaced the Chromedriver with the version closest matching to the browser, we observe that there is a timeout warning

[2022-04-12 11:33] globeone commented on #7008
The Selenium version is 15.5.1 and there are no newer versions available

![image](https://user-images.githubusercontent.com/10052587/162951059-90d67609-ff1f-4de3-b94c-a71c87dabd97.png)

[2022-04-12 11:39] psiinon commented on #7008
It looks like you just posted a screenshot and these deleted it?
Which indicated that most of your add-ons are not on the latest version...

[2022-04-12 11:39] globeone commented on #7008
@thc202
Thanks for your help it's indeed solved through a Add On update.

Maybe we can have a user interaction when Chrome doesn't open that brings people directly to the marketplace?

![image](https://user-images.githubusercontent.com/10052587/162951789-1027e42b-e897-4e79-801d-0f0d1ce9c935.png)

![image](https://user-images.githubusercontent.com/10052587/162951902-17304277-ccdb-4614-af76-e896322f

[2022-04-12 12:13] thc202 commented on #7008
There's an option to automatically update the add-ons: https://www.zaproxy.org/docs/desktop/ui/dialogs/options/checkforupdates/

[2022-04-12 15:53] kingthorin commented on #7051
Thanks for letting us know.

[2022-04-12 23:33] 589290 commented on #7188
@psiinon our usecase is to offer a hardened container: https://repo1.dso.mil/dsop/opensource/owasp-zap/owasp-zap/-/tree/development

[2022-04-13 14:00] globeone opened #7208 "False Positive Dangerous JS Functions regex eval in HTTP Header"
### Describe the bug

When scanning with ZAP there is a test for the use of JavaScript *eval* which according to Mozilla should never ever be used. The regex to test for this vulnerability is pretty good but I found a case where the regex is searching in an inappropriate place namely the HTTP Response Header. As far as I know it's not possible to run JavaScript directly in the HTTP Response header

[2022-04-13 14:02] psiinon commented on #7208
That sounds like a good plan.

[2022-04-13 14:54] globeone commented on #7208
eval occurs nowhere in the body. hence this ticket

[2022-04-13 14:55] psiinon commented on #7188
OK, that sounds like a reasonable option.
Do you know how it will differ from ours?
We'd be happy to accept PRs which harden our images as long as they do not impact existing users.
At this stage I cant see any of us working on packaging those scripts I'm afraid :/

[2022-04-13 15:01] psiinon commented on #7208
Thats surprising :O
Can you supply the body? Can understand if not...

[2022-04-13 15:02] globeone commented on #7208
Got fooled by the highlighting but when I exported the body to Visual Studio Code, I found the eval and it's a true positive.

[2022-04-13 15:04] psiinon commented on #7208
Oh good!
Good that rule isnt broken and that it helped you find a vuln :D

[2022-04-13 15:05] psiinon commented on #7208
Ok to close this?
We are going to look at ways to allow ZAP to highlight the real evidence and not just everything that matches...

[2022-04-13 15:06] globeone commented on #7208
The body is 1812 lines so it was more difficult to find the eval in the body in ZAP. and, thanks indeed, ZAP is proving its value every day!

[2022-04-13 15:15] kingthorin commented on #7208
I believe we already have  a PR open from Diogo that is meant to address this.

[2022-04-13 15:31] thc202 commented on #7208
That's (#6578) for the name of the input vector not the evidence.

[2022-04-13 15:32] 589290 commented on #7188
The hardening process for us, so far with zaproxy, has been to been to build the image entirely offline and air gapped. This is a core requirement for all container images that reside on IronBank. Hence the need for a new Dockerfile and accompanying hardening manifest in the repo1 repository.

Unfortunately, I don't believe there is anything from our image build customizations that would be of any

[2022-04-13 15:46] #7208 closed

[2022-04-13 15:49] #7188 closed

[2022-04-13 15:51] kingthorin commented on #7208
Oh sorry, my bad.

[2022-04-13 19:03] Leyart commented on #7155
While waiting for the other PR to be merged (I assume not much work is left there), I would like to reserve the following next entries :)

/test/html/body/table/background.found
/test/html/body/table/td/background.found
/test/html/body/video/src.found
/test/html/body/video/poster.found
/test/html/body/img/srcset1x.found
/test/html/body/img/srcset2x.found

[2022-04-13 19:05] kingthorin commented on #7155
Are you picking 6 on purpose? :wink:

[2022-04-13 19:16] Leyart commented on #7155
The srcset ones are the same once you cover the srcset attribute ;) No need to leave one behind

[2022-04-13 21:24] ajit-y commented on #6444
Hi, I encountered the same problem today with ZAP on my mac (OS - Monterey) that ZAP did not have access to any content in Documents folder even after I gave Full disk access to it.

While searching for the solution I came across this thread. Maybe people already figured it out but still posting here what worked for me in case it is of any help to anyone.

Workaround:- I created a new directory un