[2017-11-19 19:15] javixeneize commented on #4051
Hi

I Just tried to retrieve messages_har and it is also unicode

headers=zap.core.messages_har(target)
print(type(headers))

-- <type 'unicode'>

I have noticed that the method messagesHAR (without _), which is defined in the API V2.6.0 (https://github.com/zaproxy/zaproxy/wiki/ApiGen_Full), doesnt exist in the python library, which is version 2.4 (python-owasp-zap-v2.4)

Is there a newer version

[2017-11-20 09:14] #3917 closed

[2017-11-20 09:31] thc202 commented on #4051
Yes, you need to parse it first:
[code]

That's the latest version, in the Python client the names of the functions/endpoints are all lower case and separated with underscores.

[2017-11-20 13:55] Calbrilliant commented on #2023
@kingthorin I've been looking into this and it seems like this functionality was purposefully disabled. Any idea why?

[2017-11-20 13:59] thc202 commented on #2023
@victorbordo not that I'm aware of.

@Calbrilliant which functionality specifically?

[2017-11-20 14:17] Calbrilliant commented on #2023
The use of client certs. at least according my understanding of the following snippet in zaproxy/src/org/parosproxy/paros/extension/option/OptionsParamCertificate.java
[code]

[2017-11-20 14:29] thc202 commented on #2023
That's because the cert options are not persisted (e.g. pin/pass, active cert...), it does not mean the cert functionality is disabled.

[2017-11-20 14:36] thc202 commented on #3830
Fixed in zaproxy/zap-extensions#1146.

[2017-11-20 14:36] #3830 closed

[2017-11-20 14:43] eoftedal opened #4054 "Zest: Double encoding URL bug when manually redirecting"
[code]
If you extract a Location-header to a variable and then try to go to it directly, ZAP will automatically add an additional round of URL encoding to all parameters. If a parameter value has already been URL encoded (%2f in the example above), the parameter will be double encoded (%252f).

[2017-11-20 14:43] thc202 commented on #2023
@Calbrilliant if you are interested in working on this issue we can help/guide with what/where needs to be one.

[2017-11-20 14:45] Calbrilliant commented on #2023
From what i can see that snippet prevents it from parsing any of the commandline options I am parsing. I would like to work on this issue, so your guidance would definitely be appreciated.

[2017-11-20 14:52] thc202 commented on #2023
Which command line options? If you want to add support through the command line (`-config` arg?), yes, that needs to be adjusted.

Great! Which part(s) of the issue do you want address? Command line, ZAP API or both? (We could split this into other issue(s), e.g. just for command line if that's what you are interested most.)

[2017-11-20 14:53] thc202 commented on #4054
Merging into #3510.

[2017-11-20 14:53] #4054 closed

[2017-11-20 15:05] Calbrilliant commented on #2023
I've been looking into it using the -config arg, but I would like to eventually work both components.

[2017-11-20 15:09] thc202 commented on #3510
@eoftedal what would be your preferred or expected behaviour, never encode and let the "script" (e.g. through another statement) encode it if/when needed?

[2017-11-20 15:30] eoftedal commented on #3510
@thc202 Yes, never encode, and fail if there are invalid characters like line feeds or spaces in the URL.

[2017-11-20 15:31] #3207 closed

[2017-11-20 16:20] kingthorin commented on #3470
Given this update (https://github.com/zaproxy/zaproxy/issues/3470#issuecomment-299879901) can we mark the "warn upstream" item as completed? Are there other distros or projects we're concerned with? (ThreadFix? _____?)

[2017-11-20 22:42] thc202 commented on #3470
I think so (https://software.opensuse.org/download.html?project=home%3Acabelo&package=owasp-zap is already using Java 8).

[2017-11-21 08:27] eoftedal opened #4060 "Duplicate elements in context menus"
In the zest editor I'm seeing duplicate elements in context menus

<img width="361" alt="screen shot 2017-11-21 at 09 25 54" src="https://user-images.githubusercontent.com/238804/33061970-23cd9cda-ce9e-11e7-9271-b77dbc3a95ab.png">

I've reinstalled ZAP, but it didn't help...

OS: MacOS
ZAP: 2.6.0 installed via .dmg

[2017-11-21 09:20] thc202 commented on #4060
Possibly a duplicate of #2106 (or related fix), leaving open until we get confirmation that it no longer happens with latest versions of Script Console and Zest.

[2017-11-21 09:52] eoftedal commented on #4060
Fixed in the latest version of the plugin

[2017-11-21 09:52] #4060 closed

[2017-11-21 10:14] thc202 commented on #4060
Thanks for the confirmation!

[2017-11-22 01:09] kingthorin commented on #3978
@davewichers when you encountered this was the issue raised with LOW confidence? Did the "other info" of the alert indicate that it was a non-HTML response?

@juhakivekas @davewichers would you rather that the alert was raised at LOW or INFORMATIONAL risk? (When the response is json.)

[2017-11-22 11:03] kingthorin opened #4065 "Deleting a parent URL in History tab should not delete all child URLs"
See animated gif below. Note on the 3rd action against a single entry/line all entries from the history table are removed. (This is based on running from within eclipse on Windows 7.)

![test](https://user-images.githubusercontent.com/7570458/33124365-aaf366c0-cf4a-11e7-855b-5f35eb3d4455.gif)

Based on what I was testing at the time (addressing https://github.com/zaproxy/community-scripts/issues/7

[2017-11-22 11:23] thc202 commented on #4065
Issue title updated, setting this to 2.7.0 (does not require much changes).

[2017-11-22 11:48] thc202 commented on #4065
For the record, this was discussed in IRC and the conclusion is that the current behaviour is unintuitive. The behaviour in History tab should be changed to just delete the selected entries independently if they are parent URLs/nodes or not. The behaviour in the Sites tree should be kept the same, deleting a parent URL/node should delete the child URLs/nodes.

[2017-11-22 18:22] davewichers commented on #3978
This was so long ago that I have no idea about the confidence or other info.

I think raising it as an informational risk would be OK if you prefer that.
And then it's more a lack of input validation than XSS concern at that
point. Although it 'could' lead to DOM XSS, of course.

-Dave

On Tue, Nov 21, 2017 at 8:10 PM, kingthorin <notifications@github.com>
wrote:

[2017-11-22 21:54] thc202 commented on #3626
This is being handled in #4065.

[2017-11-23 08:58] #3711 closed

[2017-11-23 08:58] #4065 closed

[2017-11-23 10:53] bravoman opened #4072 "openapi.json (swagger 2.0) definition file not parsed correctly in zap-api-scan.py"
My **`openapi.json`** definition file looks like this:

[code]

It gives me this inside the output when executing `zap-api-scan.py`:

[code]

See also [https://stackoverflow.com/questions/47450610/zap-api-scan-error-using-zap-api-scan-py](https://stackoverflow.com/q/47450610/839332) for more information about the issue and the command line arguments I used.

[2017-11-23 14:36] KuanCat opened #4074 "Path Traversal false positive with JAVA?"
Hi, I have a Java Servlet program.
My servlet have a filter to protect, but I run zap and get path traversal alert.

The request header

<pre>GET
https://www.newnavigate.com/navigate/presenter.jsp?ext=%7B%25%3Dentry.extension%25%7D&fi=%7B%25%3Dentry.id%25%7D&m=%7B%25%3Dentry.mode%25%7D&s=%7B%25%3Dnavigate.params.servicegateway%25%7D&t=presenter.jsp&thu=%7B%25%3Dentry.thumbnailEncType3%25%7D&w= HTT

[2017-11-23 14:54] kingthorin commented on #4074
@KuanCat could you provide the details of the alert your receiving? (A screenshot is fine)

[2017-11-23 16:02] psiinon commented on #4072
I've opened a PR to fix the NPEs: https://github.com/zaproxy/zap-extensions/pull/1153 but I still dont think its parsing the defn right :/

[2017-11-23 23:41] thc202 commented on #3075
Happened again and can reproduce it but only when using WebSockets, not sure if it's the same issue.

[2017-11-24 02:38] KuanCat commented on #4074
@kingthorin Is this ok?
![default](https://user-images.githubusercontent.com/20170510/33193427-74323e4e-d103-11e7-950f-a6ab6b26c183.png)
Thank you.

[2017-11-24 03:20] kingthorin commented on #4074
That helps a bit. Are you able to provide the text of the response body, as well as the details in the bottom part of the alert display?

Can you tell us what the `t` parameter in the request is supposed to control? It seems ZAP injected "presenter.jsp" there and got a good response, while it had previously inserted a random string there and got a failed response.
https://github.com/zaproxy/zap-ex

[2017-11-24 03:54] KuanCat commented on #4074
The following url is my response header and response body. Response body is index.html.
https://gist.github.com/KuanCat/1fbfa43143768b6a63d94625affc6d1d

The<pre>t</pre>paremeter is TOKEN to load image.

Like this <pre><img alt="" src="https://webrelay/${param.t}/${thu}.jpg"</pre>

![default](https://user-images.githubusercontent.com/20170510/33194823-a1e9eb70-d10d-11e7-99d4-5904aa742d48.png)

Use

[2017-11-24 09:33] kingthorin commented on #4074
The actual 200 after the redirect (ZAP is following the redirect in this test) [the body text that goes with the header at the bottom of your original report]

[2017-11-24 10:05] KuanCat commented on #4074
So, if the request parameter is path and redirect is 200, the Path Traversal will alert?
Thank you.

[2017-11-24 10:11] kingthorin commented on #4074
Not quite. Let's look at that response body and we'll figure out what's going on and if you gave an issue or false positive.

[2017-11-24 12:42] jmrandby opened #4079 "Cookie with unknown path is falsely rejected by ZAP"
Application is running on app.domain.com
During authentication a session cookie is set by identity provider on idp.domain.com with Path=/private and domain=.domain.com. Zap seems to try to validate the path which does not exist for idp.domain.com and rejects the cookie.
2017-11-24 06:46:09,524 [ZAP-SpiderThreadPool-0-thread-1] WARN  HttpMethodBase - Cookie rejected: "ID_TEST=yyyy". Illegal path at

[2017-11-25 13:39] KuanCat commented on #4074
Hello, I found use tomcat6 will alert, but use tomcat7 not alert.
Maybe tomcat6 and tomcat7 response something different.
Thank you.

[2017-11-25 14:39] kingthorin commented on #4074
Is there some reason you can't provide the body of the response? If there's an actual issue you should fix it, if there's a false positive we should fix it.....

[2017-11-26 09:45] KuanCat commented on #4074
Sorry, this body that is what you want? It is from zap.
https://gist.github.com/KuanCat/fedfed0fbb041c3728461ae929586e55
Thank you.

[2017-11-26 11:45] kingthorin commented on #4074
That's the body that's associated with the alert?

[2017-11-27 10:16] #4079 closed

[2017-11-27 12:07] psiinon commented on #4032
ok, so #3470 isnt quite finished, but the remaining tasks can be done post release

[2017-11-27 12:07] #4032 closed

[2017-11-27 12:45] shaneinsweden opened #4084 "Infinite loop"
Hi
   I am running my zap scan from the python api using the basic script that is available on the web. I am running the scan against the owasp juice shop which I am running as my own instance on herokuapp.

If I create a new session and run the python script everything works fine and the scan runs to 100%   -
 see attached picture.
![zap_infinity01](https://user-images.githubusercontent.com/12375

[2017-11-27 12:50] juhakivekas opened #4085 "Invoking with script invokes with wrong message"
The "Invoke with script..." option of history table entries does not work on the selected message, but the newest message which is represented by same node.

[code]

1. `curl --proxy https://127.0.0.1:8080 https://asdf.com --data '12345678'`
2. Invoke the message with the above targeted script, the scripts prints 8
3. `curl --proxy https://127.0.0.1:8080 https://asdf.com --data '1234'`
4. Invoke t

[2017-11-27 12:55] kingthorin commented on #4084
All the paths listed appear to be unique.

[2017-11-27 12:58] psiinon commented on #4084
I actually hit the same thing - it _could_ be that there are just a huge number of urls present, or it could be a loop.
Def need to investigate this, it happens with the Juice-shop docker image as well :)

[2017-11-27 21:59] thc202 commented on #4084
This happens because non-existing URLs (e.g. `http://juiceshop.example.com/bower_components/angular/ `) return the same (default?) response, which contains relative URLs (e.g. `bower_components/angular/angular.min.js`). So, each new non-existing URL will result in more and more non-existing URLs.

[2017-11-27 22:01] murradkh opened #4088 "the break option in zaproxy not available"
![ice_screenshot_20171127-235958](https://user-images.githubusercontent.com/26089554/33291630-2422ea38-d3cf-11e7-8c25-ab8bb946197c.png)

[2017-11-27 22:03] murradkh commented on #4088
i dont know why this option not clickable , can you help me with that.
regards,

[2017-11-27 22:07] thc202 commented on #4088
Which ZAP version are you using?

Note that you can always (manually) add the breakpoints with the toolbar button. [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiTltoolbar#-add-a-custom-http-break-point

[2017-11-27 22:08] thc202 commented on #4088
btw, does that happen with all nodes or just that one?

[2017-11-27 22:09] thc202 commented on #4088
Worth checking the Mode, that's disabled when in Safe or Protected. [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiTltoolbar#mode-pulldown

[2017-11-27 22:14] murradkh commented on #4088
-)zap 2.6.0
-)thats happen with all nodes.
thank you for fast reply , i will check that .

[2017-11-27 22:21] murradkh commented on #4088
the problem is solved, i changed the mode.
thanks,

[2017-11-27 22:21] #4088 closed

[2017-11-27 22:29] thc202 commented on #4088
No problem, thanks for letting us know!

[2017-11-28 06:27] KuanCat commented on #4074
Yes, I copy from ZAP.
![default](https://user-images.githubusercontent.com/20170510/33305256-3c2dd9de-d448-11e7-8387-81726e730689.png)

[2017-11-28 11:06] shaneinsweden commented on #4084
Is there any good work around? We are trying to introduce owasp zap tests as part of our continuous build and I dont want the spidering running for 15 minutes (if and only if it is not necessary - it if really needs 30 minutes then fine).

[2017-11-28 11:18] thc202 commented on #4085
Fixed in zaproxy/zap-extensions#1171.

[2017-11-28 11:18] #4085 closed

[2017-11-28 14:56] galak06 opened #4095 "exclude specific url"
i am testing we site that have embed video from youtube when i am using proxy from selenuim my site get stack. what can be the reason

[2017-11-28 20:47] murradkh opened #4096 "can i make software application to use zaproxy ?"
i know how to make the browser to use zaproxy,but i dont know if i can do that for software applications traffic.
regards,

[2017-11-28 20:50] omerlh commented on #4096
What do you mean? your question is very generic, please share more details

[2017-11-28 20:51] kingthorin commented on #4096
If you can set a proxy for it (at the app, the virtual machine [incl java], the OS) then yes.

[2017-11-28 20:54] murradkh commented on #4096
i want  all the traffic in my internet  to pass through the zaproxy , including programs in my computer which using the internet .
i hope now is more clear.

[2017-11-28 21:17] kingthorin commented on #4096
Set your system proxy, make sure you change the “no proxy for” to blank. As long as the apps aren’t using raw sockets you should be good....

[2017-11-29 00:33] kingthorin commented on #3389
Actually if `<base>` is properly defined the other controls aren't necessary. Therefore the dynamic part should be more like >=3/4 would be Low (vs. medium).

[2017-11-29 00:47] #3389 closed

[2017-11-29 08:50] eoftedal opened #4097 "python api returns the wrong content for authentication.get_authentication_method()"
I have context setup with script based auth.

When I call `authentication.get_authentication_method(contextId)` It simply returns a URI, while I would expect it to returns the server uri configured for the script. I would have expected it to return the scriptName and all parameters. Basically I would have hoped it would have returned whatever I needed to call the `set_authentication_method`.

If I

[2017-11-29 08:59] eoftedal opened #4098 "What are the correct API parameters for /JSON/authentication/action/setAuthenticationMethod/ for scriptBasedAuthentication?"
I keep getting:
``` {"code":"missing_parameter","message":"Missing Parameter"} ```

What are the expected parameters?

[2017-11-29 09:25] murradkh commented on #4096
thanks you,

[2017-11-29 09:25] #4096 closed

[2017-11-29 09:34] thc202 commented on #4098
It depends on the script (if has or not required parameters), the authentication method itself only requires the "scriptName" (as given by `/JSON/authentication/view/getAuthenticationMethodConfigParams/?authMethodName=scriptBasedAuthentication`).
If you enable the option "Report error details via API" it will give the name of the parameter missing. [1]

[1] https://github.com/zaproxy/zap-core-help

[2017-11-29 09:38] eoftedal commented on #4098
I figured out that this works:
```zap.authentication.set_authentication_method(2, 'scriptBasedAuthentication', 'server=http://example.com&scriptName=authentication.zst')```
which in turn sends:
```GET /JSON/authentication/action/setAuthenticationMethod/?contextId=3&authMethodName=scriptBasedAuthentication&authMethodConfigParams=server%3Dhttp%3A%2F%2Fexample.com%26scriptName%3Dauthentication.zst```

[2017-11-29 09:39] #4098 closed

[2017-11-29 12:00] javixeneize opened #4099 "Active scan API doesn't accept post requests without its body"
Hi

Active Scan method in the API can' find the url from POST requests. It works fine with GET, but, if you try to send the url of a post request, it doesnt work

Issue discussed here -- https://groups.google.com/forum/#!topic/zaproxy-users/dcEs5RRyN58

[2017-11-29 15:23] thc202 commented on #3338
Closing, in 2.7.0 the domain is now properly set when specified (per changes done in #4056).

[2017-11-29 15:23] #3338 closed

[2017-11-30 06:55] EnDe opened #4104 "Add "load" and/or "import" functionality to Options->External Program"
Currently all external programs need to be configured using the GUI or writing XML directly into config.xml.

Please add a "load" and/or "import" functionality, so that preconfigured settings from an .xml file can be imported.

For symetric completeness, an "export" makes sense then too ;-)

While thinking about this --importing parts of the menu-- I get the feeling that a hierachical structure in

[2017-11-30 09:05] psiinon commented on #4104
They can also be added from the command line, as per https://github.com/zaproxy/zaproxy/wiki/FAQconfigValues
I dont really like the idea of adding new command line options for things like this - the -config option might not be the prettiest and should be documented better, but its effective and covers pretty much everything.
Adding API support is another matter - I'd definitely be in favour of tha

[2017-11-30 09:28] psiinon opened #4105 "Automated authentication detection and configuration"
Have converted this issue into a tracker:

- [x] Authentication detection & configuration
- [x] Session management detection & configuration
- [x] Verification detection & configuration
- [x] Browser based authentication
- [x] Automated authentication configuration

Currently a user must manually configure ZAP to handle authentication, eg as per https://github.com/zaproxy/zaproxy/wiki/FAQformauth

[2017-11-30 09:29] ReK2Fernandez opened #4106 "new version is sometimes unresponsive under certain tasks"
Since when?
- Since I updated to  2.7.0
When?
- Dirbusting or fuzzing

When dirbustin with rockyou.txt or john.txt etc it becomes unresponsive..
sometimes doing heavy taks also becomes unresponsive
rarely had this issues before...now almost all the time if not all the time since I updated less than 24 hours a go but already go hit like 4-6 times.

[2017-11-30 09:36] kingthorin commented on #4106
What operating system?
What version of Java?

[2017-11-30 09:37] ReK2Fernandez commented on #4106
- Linux (BlackArch not on a VM, I use it as my main OS)
- Java

[2017-11-30 09:42] thc202 commented on #4106
Do you have more details when that happens? Does that happen just after starting the fuzzer or after a while? Any errors in the log?

[2017-11-30 09:56] thc202 commented on #4106
Could you also obtain some thread dumps when that happens? (`kill -3 <zap-pid>`)

[2017-11-30 09:59] ReK2Fernandez commented on #4106
@thc202 after like 30 secs to a minute..  I killed the app and is 2am here so about to head to bed but tomorrow if it happens again I will get this info for you. but you could prob replicate with rockyou.txt get it from https://github.com/danielmiessler/SecLists/tree/master/Passwords is the tar.gz file one. cheers.

[2017-11-30 10:03] thc202 commented on #4106
Thanks, will try that.

[2017-11-30 10:04] psiinon commented on #1867
Someone else has just pinged me about this.
@Albertov91 (or anyone else) do you have any example SOAP definitions we can use for testing?
We will need something to work with, however simple :)

[2017-11-30 10:06] #4097 closed

[2017-11-30 10:52] Albertov91 commented on #1867
Hi there,
I used to work with local services, but if something simple is enough, you may be using W3School's testing service: [https://www.w3schools.com/xml/tempconvert.asmx?WSDL](url)

[2017-11-30 11:44] thc202 commented on #4106
I'm not able to reproduce that (probably not doing the same), how many payloads are you using? Is the fuzzer running along with other tools (e.g. spider, scanner, dir buster)?

[2017-11-30 11:48] thc202 commented on #4104
@EnDe would the import/export (just) through UI address your use case? Or, it also needs to be by other means? (API?)

[2017-11-30 11:53] thc202 commented on #4095
Are there any errors in the zap.log? Does your Selenium tests rely on the video being loaded? If not, blocking (e.g. drop, with a Proxy script) those requests is probably better (ZAP might have problems handling bigger files).

[2017-11-30 12:39] EnDe commented on #4104
It's not for *me*, I simply want to provide an easy way to add a list of commands to the menu. If the -config option will do that once for multiple commands, I'll be happy with that and write a script (generating XML or cli options is the same:).

So my options will be like: -config "invoke.apps.app(0).command=o-saft.pl"
Question before I start: how do I get the proper index for app(), as I don't

[2017-11-30 17:04] CreativeWolf commented on #4106
Same issue here - It's unresponsive

Since When:
After 2.7.0 upgrade - Ran a scan, persisted session and tried to close ZAP
When:
Shutting down ZAP
OS:
Linux 4.10.0-40-generic #44~16.04.1-Ubuntu
Java Version? openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

Thread Dump:

java.lang.Runti

[2017-11-30 18:06] thc202 commented on #4106
@CreativeWolf how much time did it take to persist the session? When shutting down was it showing the dialogue "Shutting down server and database..."? Were the dialogues/windows painted?

It was not able to obtain the thread dump :/

[2017-11-30 18:17] CreativeWolf commented on #4106
@thc202 Took more than 15 minutes (didn't measure but definitely more than 15 minutes) to persist the session. Yes, the dialogue box with "Shutting down server and database" was visible. No the window / dialogue box wasn't painted but extremely sluggish when minimized and tried to open back.

[2017-12-01 11:49] thc202 commented on #4106
OK, that seems to be other issue (and should be present in 2.6.0 and older), I'll check that (I suspect it's related to deletion of temporary messages).

[2017-12-01 12:23] thc202 commented on #4104
OK, then allowing the user to import the options (through the UI) seems more straightforward/easier than using the command line. (The user would have to start ZAP once with the command line then remove it for following starts.)

The syntax to add new options is to use the index -1, but with existing behaviour that does not work correctly for options with multiple values (as is in this case). So yo

[2017-12-01 12:55] EnDe commented on #4104
When testing, I used all settings: .name .command .enabled .parameters ...
----
My use case is to start zap once with a special option (which includes the new menu). So I agree with Simon to keep it as simple as possible, but not simpler ;-)

[2017-12-01 14:24] thc202 commented on #4104
OK, misunderstood what you said. Which ZAP version did you use? Could you provide the command line arguments you used (even if with dummy values)?

Sounds good. Setting this issue too a UI change then.

[2017-12-01 15:17] EnDe commented on #4104
ZAP_2.7.0/zap.sh -config "invoke.apps.app(10).name"="O-Saft +cn" -config invoke.apps.app\(-1\).command=o-saft.pl -config "invoke.apps.app(-1).enabled=true" -config "invoke.apps.app(-1).output=true" -config "invoke.apps.app(-1).parameters=%site\ +cn\ --header"

[2017-12-01 15:53] juhakivekas opened #4108 "Websocket binary message rendering loses original message"
When inspecting BINARY messages in the manual editor, `<unreadable binary payload> ` is shown for payloads that are not valid UTF-8. This is fine in the preview, but when switching to hex view, the hexdump of `<unreadable binary payload> ` is shown. This change will be present in the message until the message is reloaded from the database due to paging of the table view.

A possible fix seems to b

[2017-12-03 07:12] murradkh opened #4110 "making all software applications to use proxy"
Hi,
Im trying  to make  testing for my App ,to passing through zaproxy, but useless efforts.
i know how making the browser to use the zaproxy  ,but for Appi dont know.
i tried to use proxifier, proxyCap (which i can choose specific App  to pass through specific proxy ) , and it success to pass through  zaproxy only if the protocol was http , else, it will give me error of certification .
anyone kn

[2017-12-03 09:45] kingthorin commented on #4110
Did you add ZAP's certificate to your certificate store?

[2017-12-03 09:48] kingthorin commented on #4110
This FAQ might help you as well: https://github.com/zaproxy/zaproxy/wiki/FAQmetro

[2017-12-03 10:16] murradkh commented on #4110
thanks for replying,
i did added the certification in "trusted root certification"  .
![ice_screenshot_20171203-121346](https://user-images.githubusercontent.com/26089554/33524317-b9cdcdf2-d823-11e7-9751-986d4ca340e3.png)
is that correct place?

[2017-12-03 10:30] murradkh commented on #4110
when i remove the certification , another type of error showes up .
![ice_screenshot_20171203-122819](https://user-images.githubusercontent.com/26089554/33524418-b3a20fe0-d825-11e7-85f5-ad26a590337c.png)

[2017-12-03 13:55] kingthorin commented on #4110
Yes that’s correct.

[2017-12-03 14:41] murradkh commented on #4110
@kingthorin do you have ideas about forwarding the traffic of apps through zaproxy ?
thanks,

[2017-12-04 09:23] eoftedal opened #4111 "ZAP Python API: zap.context.alerts_summary() returns 0"
Version of ZAP: 2.7.0
Version of ZAP Python API: `python-owasp-zap-v2.4 (0.0.13) - OWASP ZAP 2.7 API client`

zap.context.alerts_summary() returns 0, but if use an intermediate proxy I see the returned result is actually:
```{"High":0,"Low":2,"Medium":0,"Informational":0}```

Should have returned the dictionary, instead of just one of the numbers

[2017-12-04 11:18] psiinon commented on #3883
@kingthorin - the Top 10 has been published now, so I think its ok to publish this :)
Is it worth copying the current one to something like https://www.owasp.org/index.php/ZAPpingTheTop10-2013 ?

[2017-12-04 11:35] kingthorin commented on #3883
That’s actually where I’d done the previous mods. I guess now that 2017 is out I can build a new page and start linking it.

[2017-12-04 11:36] kingthorin commented on #3883
Second glance: yes :)

[2017-12-04 11:39] omerlh commented on #3883
A8 (insecure deserialization) might be challenging, I think there is no active scan for that - but this [tool](https://github.com/pwntester/ysoserial.net) could be a good start for that

[2017-12-04 12:09] kingthorin commented on #3883
Thanks @omerlh, are you volunteering to implement/integrate that? :)

[2017-12-04 12:11] omerlh commented on #3883
Totally on my backlog, but cannot guarantee when I'll get to it :) The main challenge IMO is how we can integrate this tool as is - but I'll open a different issue for that. Should I open it on this repo?

[2017-12-04 12:41] kingthorin commented on #3883
Cool...I was kind of joking.

Sure you can open the issue here, though there may already be one for a deserialization scanner...

There’s probably native java projects out there that might be easier to leverage or integrate.

[2017-12-04 12:43] omerlh commented on #3883
Well, I actually do have it on my board - as I want to add this to our DAST solution :) This project is mainly for C#, which is more relevant for us...

[2017-12-04 12:44] omerlh opened #4112 "Insecure deserialization active scanner"
As already discussed in #3883, this is now part of the new Top 10 - A8. Could be cool to add such an active scan rule - based on this [tool](https://github.com/pwntester/ysoserial.net) could be a good start for .NET...

[2017-12-04 13:02] kingthorin commented on #4112
Other projects or info:

- https://github.com/federicodotta/Java-Deserialization-Scanner (Includes vuln apps.)
- Java version of yoserial: https://github.com/frohoff/ysoserial

[2017-12-04 20:13] #4110 closed

[2017-12-04 20:17] kingthorin commented on #4110
@murradkh sorry I couldn't get back to your earlier (weekend, family, opensource, etc). Did you solve your issue?

[2017-12-04 22:04] thc202 commented on #4104
OK, if that's all for the same app you need to use the same index. So,
[code]

(The -1 would be used to add new entries after the latest app added, but that's not working for multiple values.)

[2017-12-04 22:06] thc202 commented on #4108
Warning and request explicit action from the user to change as text is probably the better.

[2017-12-04 23:42] EnDe commented on #4104
oops,  ...app(10).name  was a typo in my posting
anyway, your're right it works for index 0
but it only works for existing indices
I want/need to add new ones

[2017-12-04 23:55] thc202 commented on #4104
You can use new indices, but they need to be consecutive (per app) to be properly applied:
[code]

[2017-12-05 04:36] murradkh commented on #4110
hey,
its okay, i Moved on this problem , i dont want to keep hanging on it.
Anyway thank you for your help :)
regards,

On 4 December 2017 at 22:17, kingthorin <notifications@github.com> wrote:

[2017-12-05 07:00] EnDe commented on #4104
hmm, we are back to my first question

Note: the main goal is to add new entries.

[2017-12-05 10:51] thc202 commented on #4104
Right, I did answer that one:

Since ZAP was going to be started just once with the command line I assumed that it was fine to possibly overwrite existing entries. If that's not acceptable `-config` (or other arg) needs to be changed to support that use case.

[2017-12-05 15:15] royjs opened #4118 "zap-api-scan URL Error with zap2docker-weekly (2017-12-04)"
Since the latest zap2docker-weekly (2017-12-04) I have an error when using the zap-api-scan.py script.

[code]
And that prevents the scan from starting correctly.
It seems that simply adding "()" at the end of this line fixes it:
https://github.com/zaproxy/zaproxy/blob/733488f92cb26b62218a300a1c1b960af403d912/build/docker/zap-api-scan.py#L348

This file hasn't changed in a while so I'm not sure wh

[2017-12-05 15:19] thc202 commented on #4118
In the newer version of the API client that's no longer a property.

[2017-12-05 15:21] psiinon opened #4119 "Ajax Spider deadlock"
[code]

[2017-12-05 16:40] #4111 closed

[2017-12-05 16:59] psiinon commented on #4084
You could either exclude the bower_components or limit the spider to a specific time.

[2017-12-05 17:47] #4118 closed

[2017-12-06 07:55] PenelopeFudd opened #4123 "Passive Scan Tags interpolation"
I've created a Passive Scan Tag that matches a request header, and I'd like to use part of the value as a tag.

The Request Header Regex is: "X-Amz-Target: com.amazon.(.*)"
The Configuration is currently: "AmazonAPI"
I'd like it to be: "AmazonAPI $1" or "AmazonAPI \1"

Actually, it'd be awesome if I could recreate AWS command-lines from interpreting the headers.  That's starting to sound like a sc

[2017-12-06 08:00] PenelopeFudd opened #4124 "Pretty-printing JSON body view"
It's great that JSON responses are auto-detected and syntax highlighted.  I wish it could be taken one step further and pretty-printed with newlines and indentation; the output of 'jq .' would be suitable.

[2017-12-06 08:33] kingthorin commented on #4124
I believe this is covered by this pull request https://github.com/zaproxy/zap-extensions/pull/1113

[2017-12-06 09:30] psiinon opened #4125 "Allow Zest scripts to run against an existing browser instance"
Enhance Zest to allow a running webdriver instance to be passed to a client side script.
So instead of launching a browser is would be able to work with an existing browser instance thats already being controlled by selenium
We could add the option to call a Zest script whenever the tools like the ajax spider opens a new browser window - this could actually be part of selenium rather than the tool

[2017-12-06 11:18] #3979 closed

[2017-12-06 12:05] usualwyy opened #4126 "jxbrowser crash in OSX"
Always crash while starting the jxbrowser.
crash log:

Process:               java [35413]
Path:                  /Applications/OWASP ZAP.app/Contents/PlugIns/jre1.8.0_152.jre/Contents/Home/bin/java
Identifier:            org.zaproxy.zap.ZAP
Version:               1.0 (1.0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           java [35413]
User ID:

[2017-12-06 12:08] psiinon commented on #4126
Hiya,
Which versions of ZAP and the selenium and jxbrowser add-ons are you using?

[2017-12-06 12:12] usualwyy commented on #4126
@psiinon
zap: 2.7.0
selenium(zap extension): 13.0.0
jxbrowser(core): 7.0.0
jxbrowser(Mac OS): 5.0.0

[2017-12-06 12:38] usualwyy commented on #4126
Hummm,I found jxbrowser works well with a clean ZAP(no more add-on but jxbrowser + jxbrowser core + webdriver + selenium installed ).
I will do more test.

[2017-12-06 12:40] psiinon commented on #4126
Thanks, I've also asked on StackOverflow (which is how they handle their free support) https://stackoverflow.com/questions/47674491/latest-jxbrowser-crashes-on-osx

[2017-12-06 16:45] acaetano opened #4127 "Disable http request url encoding"
Providing a method for disabling the url encoding made by zap when it finds characters like " ' " (simple quote), "@" and things alike will greatly help us test applications, as shown in that "[Cracking the Lens](http://blog.portswigger.net/2017/07/cracking-lens-targeting-https-hidden.html)" blog post by James Kettle from portswigger.

I know that there are lib restrictions, but instead of replaci

[2017-12-06 23:21] PenelopeFudd opened #4128 "Duplicate requests not shown?"
I'm trying to debug an application that has a 5MB .js file, and takes 10+ seconds to load.

ZAProxy is showing the initial request/response, but when I hit reload in the browser, it's not showing the second request, even though Firebug and the Firefox developer tools both show it.

Is there an option that hides/shows duplicate requests?

Thanks

[2017-12-06 23:27] kingthorin commented on #4128
The file is probably cached by the browser. If the browser retrieves it from local memory or disk cache there is no network activity for ZAP to "see".

You can verify this by looking at the requests via the network tab of the browser dev tools.

[2017-12-06 23:58] PenelopeFudd commented on #4128
I did check, it is being downloaded again.  It takes more than ten seconds each time, which is what made it noticeable, but it's not showing up in Zap.On Dec 6, 2017 3:27 PM, kingthorin <notifications@github.com> wrote:The file is probably cached by the browser. If the browser retrieves it from local memory or disk cache there is no network activity for ZAP to "see".
You can verify this by looking

[2017-12-07 00:22] PenelopeFudd commented on #4128
I tried loading it in Chrome, and it does cache correctly there.  I must have set 'disable cache' somewhere in my settings.

But regardless, Zap should have recorded these uncached requests.

[2017-12-07 00:27] thc202 commented on #4128
They should be shown, ZAP does not check if the requests are duplicated or not (assuming the requests are not excluded/ignored, e.g. Exclude from Proxy, script).

Might worth checking the zap.log to see if there's an error.

[2017-12-07 07:01] usualwyy commented on #4126
@psiinon @thc202
After testing,the add-on "browserView-alpha-5.zap" cause this crash.
Jxbrowser only works without browserView-alpha-5.zap installed, at least in my case.

[2017-12-07 10:25] thc202 commented on #4126
That's interesting, Browser View add-on initialises JavaFX.

[2017-12-07 11:42] juhakivekas commented on #4124
yes, this is ready and i'm using it in my personal testing. However, currently this causes large messages to do a lot of processing (especially js.map files, since they are huge json objects).

The PR isn't merged yet, so currently you need to pull my branch and build it. If you do that or this gets merged, then I'm happy to hear improvement suggestions.

[2017-12-07 12:25] elenabdc opened #4129 "Connection reset making request on API"
I get a connection reset when I make a request to the api (accessing via 127.0.0.1:8080). I'm using the last version 2.7.0 on kali.

I have tried to change the api key and disable it but the result is the same. I have also checked the information in https://github.com/zaproxy/zaproxy/wiki/FAQapikey

Thank you.

[2017-12-07 12:38] kingthorin commented on #4129
Are you making the connections locally?

[2017-12-07 12:44] elenabdc commented on #4129
Yes, I'm running a kali, then I start ZAP providing command line options as indicated in the FAQ api key link and then I access 128.0.0.1:8080.

In the API page, I select (as an example) API local - httpSessions - sites () and I get the connection reset error.

<img width="934" alt="captura de pantalla 2017-12-07 a las 13 43 53" src="https://user-images.githubusercontent.com/19324403/33715992-c765

[2017-12-07 13:07] thc202 commented on #4129
Would you checking the log file (zap.log in ZAP home dir [1])? It should indicate what the problem is.

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2017-12-07 15:56] kingthorin commented on #4129
Are you sure that ZAP successfully started listening on 8080? (You're not running something else that's using the port?)

[2017-12-07 16:16] elenabdc commented on #4129
@kingthorin I'm completely sure.
@thc202 log file says the API key is incorrect. What am I doing wrong? I'm starting ZAP using command line like this:
`owasp-zap -config api.key=apikey12345 -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true`

I have also tested:
`owasp-zap -config api.key=apikey12345`
And:
`owasp-zap -config api.disablekey=true`

[2017-12-07 16:25] kingthorin commented on #4129
Are you able to browse to http://localhost:8080 and get the welcome page? (It doesn't require apikey etc)

[2017-12-07 16:30] kingthorin commented on #4129
It's failing because of the way you're starting zap "owasp-zap" whatever script/wrapper that is that kali sets up doesn't seem to be passing the CLI arguments properly. If you do the following it should work as expected:
[code]

[2017-12-07 16:33] elenabdc commented on #4129
@kingthorin yes, that's it. By doing /usr/share/zaproxy/zap.sh ... I didn't get any kind of error.

Thank you for your help @kingthorin @thc202

[2017-12-07 16:33] #4129 closed

[2017-12-07 16:44] kingthorin commented on #4129
\o/ thanks for letting us know.

[2017-12-07 19:07] claudijd opened #4131 "zap-full-scan.py help references non-existent wiki page"
~https://github.com/zaproxy/zaproxy/blob/develop/build/docker/zap-full-scan.py#L101~
https://github.com/zaproxy/zaproxy/blob/c767a320356503bdd07d83c39aa6a020acc77f05/docker/zap-full-scan.py#L101

When I go to https://github.com/zaproxy/zaproxy/wiki/ZAP-Full-Scan, I'm prompted to create the page.

I was looking for information on how to set a max run time on a zap-full-scan.

<sub>Edited by @kingth

[2017-12-07 19:19] kingthorin commented on #4131
Looks like something @psiinon intended to build and include here: https://github.com/zaproxy/zaproxy/wiki/Packaged-Scans

That's just a guess though...

[2017-12-07 19:22] kingthorin commented on #4131
@claudijd I believe you're after:
[code]

https://github.com/zaproxy/zaproxy/blob/develop/build/docker/zap-full-scan.py#L98

[2017-12-07 19:30] claudijd opened #4132 "zap-full-scan.py throwing type exceptions at the end of the scan"
I'm running command-line invoked full scans using zap-full-scan.py in the docker container setup and I'm now seeing type exceptions after the scan is complete.

The invoking command is ($i is passed in as a hostname var):

docker run -v "$(pwd)":/zap/wrk/:rw --dns 8.8.8.8 -u root -i owasp/zap2docker-weekly zap-full-scan.py -d -c ./zap/config.cfg -J report_$i.json -t https://$i/

The resulting scan

[2017-12-07 19:43] claudijd commented on #4132
This could be a dup of https://github.com/zaproxy/zaproxy/issues/4118 seems really similar.

For a work-around, we think reverting to stable will be a reasonable work around for this until weekly is released next week.

[2017-12-07 19:54] kingthorin commented on #4132
This issue was worked in IRC, see https://mozilla.logbot.info/websectools/20171207 for details.

[2017-12-07 21:51] usualwyy opened #4133 "How to scan the urls which are only in scope"
In the latest version, active scan work on all the urls except the exclude items.
How can I scan the urls only in scope?

[2017-12-07 21:55] thc202 commented on #4133
Is that through the UI or API?

With "latest version" is that compared to an older version? If so, which one?

[2017-12-07 21:57] kingthorin commented on #4133
There seems to be something missing here.

Yes exclusions won’t be scanned. (They’re excluded...)

You can set a Context as your starting point for scanning. If you have more than one context you’d have to scan them all in order to cover “all in scope”.

[2017-12-07 22:09] usualwyy commented on #4133
@thc202
1.UI
2.All the versions,not only the latest version.

@kingthorin
Yes,I can set a context,and there are both exclusion and inclusion rules in context setting.But it seems that the active scan only accept the exclusion rules which under the scan options.
Exclusion and inclusion rules in context options don’t effect the active scan,am I right?

[2017-12-07 22:27] kingthorin commented on #4133
I think this is just some terminology confusion.

Yes you can exclude things from scan (say a logout page within your context... whatever).

“In scope” implies within a context. So if you want to scan something “in scope” you have to define the scope by creating one or more contexts.

[2017-12-08 00:31] thc202 commented on #4126
Changed the issue to add-on/bug, based on the answer in SO we can workaround the crash.

[2017-12-08 01:38] johnccr commented on #1603
Yes, please add this functionality

[2017-12-08 03:59] #4133 closed

[2017-12-08 09:54] psiinon commented on #4131
Yeah, I should have written this page before ;)

[2017-12-08 15:36] compaluca opened #4135 "REST API to manage script variables"
Likely related to [https://github.com/zaproxy/zaproxy/issues/3512](https://github.com/zaproxy/zaproxy/issues/3512), but maybe more general.

Let me explain a simple use case:
* python application using ZAP REST API
* this app creates and loads different proxy rules into ZAP: both ZEST and JS ("Oracle Nashorn") proxy rules
* each rule performs a specific operation under certain conditions
* the app

[2017-12-08 16:11] psiinon commented on #4135
It should be possible to add API calls for reading script variable using the new extender scripts, at least for 'standard' scripts.
I suspect Zest scripts dont support the script variables, but I'd have thought we could enhance them to support them ina suitably generic way :)

[2017-12-08 18:06] kingthorin commented on #4095
@galak06 any update?

[2017-12-08 18:19] kingthorin commented on #3957
@ParidaPunyasloka any update?

[2017-12-08 19:49] kingthorin commented on #3879
I have no ability to test with pkcs#11 to make similar mods, however I was able to test with pkcs#12. So I propose we do something like the following. Basically, when a cert is added if it's the only cert then it is also activated.

I was torn as to activating the latest cert, but it's definitely reasonable to activate the "only" cert. I can easily see instances where a user might import more than

[2017-12-08 20:36] kingthorin commented on #1623
Is this still happening? Is anyone able to re-create? (If so, how?)

[2017-12-08 20:56] kingthorin commented on #3693
Can someone confirm (or correct) my understanding above? If so I'll start looking into implementing such a scan rule.

[2017-12-08 21:03] kingthorin commented on #3644
@jammasterj89 did you ever find anything further one this?

[2017-12-08 21:12] kingthorin commented on #4135
Yup we've got an issue for that : https://github.com/zaproxy/zaproxy/issues/3512

[2017-12-08 21:20] thc202 commented on #3879
Sounds good to me. I can test the PKCS#11 part.

[2017-12-08 21:27] kingthorin commented on #3331
Is anyone able to reproduce this?

[2017-12-08 21:28] thc202 commented on #3957
The thread in users group has new information. I guess this requires AJAX Spider?

[2017-12-08 21:40] kingthorin commented on #3879
Is the PKCS#11 functionality the same, check for a single entry and set it active, around here:
https://github.com/zaproxy/zaproxy/blob/681345bdced2e20dae869426ed22e89748292e94/src/org/parosproxy/paros/extension/option/OptionsCertificatePanel.java#L639-L643

It "looks" the same (code wise), but I don't have a way to go through the process and find out.

[2017-12-08 21:51] thc202 commented on #3879
OK, will check that.

[2017-12-08 23:43] denniskniep commented on #3358
Hi,
I like this idea an started to build something :). Can someone assign the issue to me?

Here is a first look:
![poc_zap_searchoptions](https://user-images.githubusercontent.com/3629463/33789559-a7b62e52-dc79-11e7-902f-4b6b37d07639.gif)

[2017-12-08 23:47] thc202 commented on #3358
Done.

Looks cool! May I suggest adding the filter/search text field to above the tree?

[2017-12-08 23:50] denniskniep commented on #3358
Thanks.
Sure, now on my todo :+1:

[2017-12-09 11:02] kingthorin commented on #3358
@denniskniep this PR might give you some ideas related to what @thc202 is suggesting:
https://github.com/zaproxy/zaproxy/pull/2341

[2017-12-09 14:51] usualwyy opened #4139 "Can't find resource for bundle java.util.PropertyResourceBundle, key enc2.label.unicode.escapedText"
I did a commit several days ago(a9315b7c78bbdecd95fd3b216681183fab45ac57), but I found it throw a exception: Can't find resource for bundle java.util.PropertyResourceBundle, key enc2.label.unicode.escapedText.
I have already added the key->value message in Messages.properties,why it still has error?
I make a break point at `public String getString(String key)` in l18N.java, the info shows the lang

[2017-12-09 17:28] kingthorin commented on #4139
Most likely you have a typo somewhere, I’ll pull the branch later and have a look. Is it that commit specifically that has the issue or have you made further changes locally?

[2017-12-09 17:32] kingthorin commented on #4139
BTW this is the type of thing the dev group is made for, which is much more appropriate for development questions than our issue tracker.

https://groups.google.com/forum/m/#!forum/zaproxy-develop

[2017-12-09 17:56] usualwyy commented on #4139
I did not make any local change,if you open the 'encode/decode/hash' tool after pull the branch,you will see the exception.
I will post this issue in the develop forum.

[2017-12-09 19:21] thc202 commented on #4139
For the record:
https://groups.google.com/d/topic/zaproxy-develop/OkA6lbMbWxg/discussion

Closing the issue, we can reopen it if there's a bug/issue with the code.

[2017-12-09 19:21] #4139 closed

[2017-12-10 12:59] galak06 commented on #4095
you can close the case.
%zap-cli% exclude "https://ajax.aspnetcdn.com.*"
%zap-cli% exclude "https://www.gstatic.com.*"
%zap-cli% exclude "https://www.youtube.com.*"

[2017-12-10 13:03] thc202 commented on #4095
Thanks for letting us know. Closing.

[2017-12-10 13:03] #4095 closed

[2017-12-11 12:57] thc202 commented on #4132
Closing, fixed in latest weekly Docker image.

[2017-12-11 12:57] #4132 closed

[2017-12-11 14:05] jammasterj89 commented on #3644
Hi @kingthorin, apologies for my late reply. There is no swagger / openAPI endpoint exposed on this system. However, I have found some usage of swagger inside of a javascript file with the following:

// Api service object built from Swagger.io Codegen

require('./services/api/index.js');
require('./services/api-error-handler.js');
require('./services/api-helpers.js');

I need to speak to a develo

[2017-12-11 14:42] dizeee commented on #3812
The same thing happened to me just now. It worked for 3 or 4 times, then started to time out constantly:
[code]
Image ID is 40848e80b7fb.

[2017-12-11 15:20] thc202 commented on #3812
That's working here. I'd suggest checking the zap.log file, it should contain the reason why ZAP did not start in time.

[2017-12-11 16:02] thc202 commented on #3644
The error is expected then, ZAP is trying to parse a JavaScript file as a Swagger/OpenAPI definition (which leads to that error). I guess we could change the add-on to be stricter (but we might miss valid definitions?).

[2017-12-11 19:11] alxleonov commented on #3662
@kingthorin hi, I have a very similar issue and was able to reliably reproduce it with 2.6.0. It also manifests as a 'Remote OS Command Injection' false positive with exactly the same symptoms.

First, here's the setting:

- there is a page showing a list of objects
- there is a page with the form to create one of those objects
- ZAP is configured to run 25 **parallel** scans on the same host

Now

[2017-12-11 21:51] AshleyPoole commented on #2920
Any update on this @psiinon @kingthorin, or maybe a work around? In my scenario we're scanning multiple web applications (around 15) so having a separate instance of ZAP isn't practical.

[2017-12-11 21:57] AshleyPoole commented on #2920
(Even if I could get alerts based on base url that would work, long as corrected alerts weren't displayed on new exports)

[2017-12-11 23:34] AjCaroline commented on #3362
I am having the same issue. I've been all over the net, installed the JCEs for Java 8 did not work. Installed the latest ZAP - got the latest JDK 9 version and I still can't access a specific https site. This is urgent as it's for work I dont know what else to try PLEASE HELP.

thank you.

[2017-12-11 23:39] thc202 commented on #3362
Could you provide more details about the exception that you are getting? Is it also a `handshake_failure`? Did you try enable just the newer versions of TLS? [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsConnection#security-protocols

[2017-12-11 23:55] AjCaroline commented on #3362
Yes this is the SSLHandshakeException: Fatal Alert/Access Denied, I disabled SSLv2Hello and restarted ZAP leaving SSL 3 TLS 1 TLS 1.1 TLS 1.2 all checked as it was - did not work.  Then I unchecked 1 and 1.1 leaving only 1.2 and SSL 3 checked and still the same problem. Under Certificate "Enable unsafe SSL/TLS renegotiation is checked...I have JDK 9.0.1.0 installed and ZAP 2.7.0 installed...I spen

[2017-12-12 00:15] thc202 commented on #3362
Are you able to access the server with a browser? Does it require a client certificate?

[2017-12-12 07:44] eoftedal commented on #3479
Just ran into the same problem

[2017-12-12 09:28] kingthorin commented on #3479
@eoftedal can you provide the log details? Can you provide the definition you're having issues with?

[2017-12-12 09:39] fd0 commented on #2626
FYI, openjdk-9-jre can just be installed on the latest Debian stable release ("stretch"). Maybe we can close this issue, what's your take on this?

[2017-12-12 09:56] eoftedal commented on #3479
@kingthorin It's the same swagger.json file as in the original post: http://petstore.swagger.io/v2/swagger.json
And the log only says "attribute type is unexpected" as far as I can see... Or is there a disk based log as well?

[2017-12-12 10:13] kingthorin commented on #2626
I'm good with closing it.

https://github.com/zaproxy/zaproxy/wiki/FAQsslHandshake
Can be updated with the info.

[2017-12-12 10:18] eoftedal opened #4143 "OpenAPI extensions: Allow specifying default values in a separate file"
It would be really useful to have the ability to optionally specify a file/URI with a liste of example data. This could be a JSON with:

[code]

The current data generator has some default values in https://github.com/zaproxy/zap-extensions/blob/alpha/src/org/zaproxy/zap/extension/openapi/generators/DataGenerator.java but often it would be better to be able to specify own data there, to make sure

[2017-12-12 10:27] thc202 commented on #4143
It's possible to define default values using the add-on Form Handler (probably not yet as flexibly as it should though). [1]

[1] https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsFormhandlerFormHandlerHelp

[2017-12-12 10:50] bravoman opened #4144 "[owasp/zap2docker-weekly] zap-baseline.py script always fail with the following error:"
I seem to get this error when running it in it's simplest form:
`docker run -t owasp/zap2docker-weekly zap-baseline.py -t https://some.site.to.test`

Gives me:
[code]

[2017-12-12 10:57] kingthorin commented on #4144
Which docker image are you using?

[2017-12-12 10:57] thc202 commented on #4144
The first exception (which does not cause any harm) is related to #3644. The Python error should be fixed in the latest weekly release (Image ID a8dbbe5390bb).

[2017-12-12 10:57] bravoman commented on #4144
Ok, thanx!

[2017-12-12 10:58] bravoman commented on #4144
I guess I should update my weekly image more frequently ;) Sorry for bothering you with this.

[2017-12-12 11:01] kingthorin commented on #4144
No worries, give it a whirl and let us know.

[2017-12-12 11:02] bravoman commented on #4144
My latest pull of the image works without issues as you said. Thanx!

[2017-12-12 11:02] #4144 closed

[2017-12-12 12:08] fd0 commented on #2626
I've added the info there. Thanks!

[2017-12-12 12:08] #2626 closed

[2017-12-12 12:12] kingthorin commented on #2626
Awesome. I totally didn’t mean that as a task for you (or anyone else really). Just wanted to make sure I wrote it somewhere so that I didn’t forget. Thanks!

[2017-12-12 12:24] fd0 commented on #2626
No big deal, I'm glad it's resolved ;)

[2017-12-12 13:29] eoftedal opened #4145 "OpenAPI should not call endpoints when parsing a JSON"
I was surprised to find the OpenAPI extension calling all endpoints when parsing the swagger file. This is a quite annoying feature, as it ends up calling things like DELETE on possibly existing resources.

[2017-12-12 20:52] denniskniep commented on #3358
@kingthorin you said:

My implementation looks a bit different (see the gifs in the PullRequest). It only highlights the findings. Is this okay for you or should it be filtered anyway?

The current solution already provides the ability to search for a string in all child controls.

@psiinon you said:

That is not tackled by the implementation. Maybe we should extract this into a new issue?

[2017-12-12 21:04] kingthorin commented on #3358
@denniskniep the implementation in the gifs looks good to me.

[2017-12-12 21:54] PenelopeFudd commented on #521
👍 +1  Me too: har files rule when customers are creating trouble tickets that I can reproduce!

[2017-12-12 23:54] thc202 opened #4147 "Unable to add PKCS#11 certs with Java 9"
Steps to reproduce the issue:
1. Run ZAP (with Java 9);
2. Go to Options > Certificate > PKCS#11 and try to add a cert;
3. Note that it shows a generic error (driver or pass wrong), in the log there's an exception:
[code]

ZAP
Version 2.7.0 (and older).

[2017-12-13 15:18] thc202 commented on #3479
Fixed in zaproxy/zap-extensions#1205.

[2017-12-13 15:18] #3479 closed

[2017-12-13 15:22] #3879 closed

[2017-12-13 16:50] psiinon commented on #4145
If we dont call them then we dont know what they will return - its equivalent to spidering a web app.
But I can also see why this could be a problem, so we should look into the implications of an option to not call them automatically.

[2017-12-13 18:28] kingthorin commented on #3662
This is a good point. I know of at least one commercial scanner that rechecks critical findings like this in single threaded mode to rule out such conditions.

[2017-12-13 18:35] juhakivekas opened #4149 "Editing websocket messages throws exception and kills connection"
When editing binary websockets with an extender script the underlying proxy fails:
[code]
The same behaviour is repriducible in the manual hex message editor. This also makes a blank ZAP error message box appear.
[code]
Original causing script:
[code]

ZAP 2.7.0
WebSockets 14
Debian 9

[2017-12-13 19:46] kingthorin commented on #2077
@haseebeqx could you be more specific?

[2017-12-13 19:51] kingthorin commented on #1580
It seems vulndb data hasn't been updated in 2-3 years (https://github.com/vulndb/data/tree/master/db). Can this issue be closed?

[2017-12-13 19:53] kingthorin commented on #348
We've got a JSON View PR here: https://github.com/zaproxy/zap-extensions/pull/1113

[2017-12-14 00:58] thc202 commented on #3470
Closing, all tasks done.

[2017-12-14 00:58] #3470 closed

[2017-12-14 05:24] haseebeqx commented on #2077
i am sorry, i didn't noticed your last question :( .

I mean in modern websites csrf poc's can be in multiple formats. like json POC or XML POC, multipart etc. these can be easily supported in current csrf poc generator. this can be easily added to the current one.

If you are OK I can make a contribution.

[2017-12-14 06:20] kingthorin commented on #2077
Thanks, absolutely!

[2017-12-14 09:54] nf634 opened #4152 "ZAP : unable to listen on this address and port :localhost:9080"
MY app is running on 9080, when i;m trying to add 9080 port in zap loacal proxy setting it's showing me error message  - unable to listen on this address and  port :localhost:9080

[2017-12-14 10:11] thc202 commented on #4152
You need to choose a different port (than your app, or any port already in use) for ZAP. Then use that port to proxy through with the client/browser.

[2017-12-14 10:28] nf634 commented on #4152
Ohh... it seems like i was completely in wrong assumption, it may sound like foolish still want to confirm - So my running application port is 9080 and ideally it not needed to add in local proxies of ZAP . right?

[2017-12-14 10:44] thc202 commented on #4152
Correct, the local proxy should use its own port (unrelated to the possible targets it will connect to).

[2017-12-14 13:21] mdbovo opened #4153 "ZAP doesn't ask for confirmation before overwriting an existing session"
When the user creates a new project using File->New a file dialog is opened. If you select an existing project name ZAP doesn't ask for confirmation before overwriting the project.
Because the File->New is above File->Open it's possible to overwrite important information by error.

[2017-12-15 10:17] thc202 commented on #3644
I believe that's a side effect of the changes done for #3479, now instead of printed the exception is logged.

[2017-12-15 11:46] jammasterj89 commented on #3644
Okay thanks @thc202, I'm happy to close this unless you disagree.

[2017-12-15 11:46] #3644 closed

[2017-12-15 14:14] eoftedal opened #4156 "Sequence + Active scan: Scan doesn't scan in the expected order"
To reproduce:
1. Create a new folder
2. `npm install express body-parser`
3. Run server.js from https://gist.github.com/eoftedal/09a29a8a948418ebc29bc7e6851e4b70
4. Import this sequence: https://gist.github.com/eoftedal/3acdefd342b88bbad5fb88bc1a57c0e6
5. Run the sequence and check that it works
6. Run an active scan with the sequence

The sequence invokes a REST api which creates a resource with

[2017-12-15 18:50] murradkh opened #4157 "ZAP Error"
hi,
i get an error from the zaproxy when I'm using the chrome browser .some one know what it means.
regards,

ZAP Error [java.net.UnknownHostException]: www.google.com

Stack Trace:
java.net.UnknownHostException: www.google.com
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:184)
	at java.net.PlainSocketImpl.connect(PlainSocketImpl.java:172)
	at java.net.SocksSocketImpl.c

[2017-12-15 18:57] thc202 commented on #4157
That means ZAP failed to resolve the domain `www.google.com`, do you need an outgoing proxy to connect to the internet? (If so it can be configured under Options > Connection [1]).

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsConnection#use-proxy-chain

[2017-12-15 19:30] murradkh commented on #4157
thank you ,:)

[2017-12-15 19:30] #4157 closed

[2017-12-17 18:14] quartilesoftware opened #4161 "Are these false positives?"
Hi,

I have a .Net Core1.1 App running on Azure. I’ve run ZAP and have received a report which contains two items I think are false positives.

I’m hoping to get some help or guidance here to confirm what I think, or otherwise suggest what I may be overlooking.

I’ve listed below what the ZAP alert title says about each of the issues, together with what I have already coded or configured in the Ap

[2017-12-17 20:28] kingthorin commented on #4161
This isn't enough detail to answer your questions.

For the first one, select the alert, look at the response tab...is the header there?
For the second one please provide the details of the alert and full text of the request/response (associated with the alert).

[2017-12-18 08:46] eoftedal opened #4162 "ajaxSpider doesn't report progress over REST API"
While spider and activescan reports a % done when calling status, the ajaxSpider simply returns `{"status":"running"}` with no indication on progress.

For completeness and help, ajaxspider should also return 0% done.

[2017-12-18 08:53] eoftedal opened #4163 "ajaxSpider.number_of_results is not cleared when a new session is created"
ajaxSpider seems to return an aggregated number when querying number_of_results over the REST API.

This number should be reset, at least when a new session is created.

[2017-12-18 08:56] thc202 commented on #4162
Merging into #2583.

[2017-12-18 08:56] #4162 closed

[2017-12-18 08:57] #4153 closed

[2017-12-18 09:30] psiinon opened #4164 "Update to JxBrowser 6.18"
Release notes: https://jxbrowser.support.teamdev.com/support/discussions/topics/9000039314
Includes support for Java 9, which would be good to have.

[2017-12-18 09:55] eoftedal opened #4165 ""Backup File Disclosure" (10095): reports URL even if 404"
After running an active scan on a domain, I saw active scan returning multiple findings for .bac, .backup, .bak, .jar, .log etc. even though the server returned a 404. The returned page was a standard jetty 404 page.

Expectation: 404 should exclude the result from findings and from the list of URLs in the context.

[2017-12-18 09:56] eoftedal commented on #4165
Response was:

[code]

[2017-12-18 10:05] kingthorin commented on #4165
Is the 404 returned after a redirect?
Can you provide all of the alert details?

Could you enable debug logging https://github.com/zaproxy/zaproxy/wiki/FAQlogging and provide the log details for the "BackupFileDisclosure" scanner?

[2017-12-18 10:19] thc202 commented on #4163
Which version of Ajax Spider add-on are you using? Could you provide the steps to reproduce that? The number of results is being cleared when starting a new (API) scan and when creating a new session.

[2017-12-18 10:23] thc202 commented on #4165
Was that using latest version of Active scanner rules (beta) add-on?

[2017-12-18 10:26] thc202 commented on #4152
Closing, all questions seem to be answered. Any other question, please, let us know through the [User Group](https://groups.google.com/group/zaproxy-users). Thank you.

[2017-12-18 10:26] #4152 closed

[2017-12-18 12:12] kingthorin commented on #3022
https://medium.com/@auxy233/the-design-and-implementation-of-ssrf-attack-framework-550e9fda16ea

[2017-12-18 14:41] quartilesoftware commented on #4161
Thanks for helping.

For the first point, it was in fact an effect of the second point.

The second point – file traversal was pointing me in the direction of an issue, but it was certainly not related to file traversal.  When the parameters supplied to the URL were unacceptable, the MVC model being returned to the view did not contain a populated select list, as it would if the parameters had bee

[2017-12-18 14:58] kingthorin commented on #3883
I've done an initial edit/transition for this content. A8 and A10 are currently listed as TBD.

https://www.owasp.org/index.php/ZAPpingTheTop10

[2017-12-18 15:01] kingthorin commented on #4161
Thanks for letting us know.

[2017-12-18 15:01] #4161 closed

[2017-12-18 20:17] kingthorin commented on #3572
https://www.contextis.com/blog/xslt-server-side-injection-attacks

[2017-12-18 23:10] thc202 opened #4166 "Unable to import ZAP Root CA Cert from PEM file with Java 9"
Steps to reproduce the issue:
1. Run ZAP (with Java 9);
2. Go to Options > Dynamic SSL Certificates and try to import a cert from a PEM file;
3. Note that nothing happens, in the log there's an exception:
[code]

ZAP
Version 2.7.0 (and older).

[2017-12-19 07:56] eoftedal commented on #4163
Version 20.0.0

[code]
GET /JSON/ajaxSpider/view/numberOfResults/?apikey=xxx HTTP/1.1
[code]
GET /JSON/core/action/newSession/?apikey=xxx HTTP/1.1
[code]
GET /JSON/ajaxSpider/view/numberOfResults/?apikey=xxx HTTP/1.1
[code]

[2017-12-19 08:39] eoftedal commented on #4165
Yes, this was the latest version of that plugin

[2017-12-19 08:58] eoftedal commented on #4165
1. Run this server: https://gist.github.com/eoftedal/f074ae595da29e6224a7e417ebdad881
2. Start a blank session, and import this sequence: https://gist.github.com/eoftedal/a3a8b99764913bb792f5d59e7d266564
3. Run the sequence once from script console
4. Active scan the /email/ folder with the sequence enabled in active scan

It's not 100% reliable. If it doesn't work the frist time, start with a bla

[2017-12-19 09:26] eoftedal commented on #4163
It seems to be cleared when a new scan is started, so my initial impression was wrong.
But it does not seem to be cleared when a new session is started.

[2017-12-19 09:30] thc202 commented on #4163
Thanks for the details!

[2017-12-19 09:44] #4163 closed

[2017-12-19 10:07] kingthorin commented on #4165
It seems to be a DoS issue. If the server can't consistently return a response then of course clients (scanners or otherwise) might mishandle things.

If I run a full policy then the issue manifests easily. If I reduce to just the "Backup File Disclosure" plugin (at default/Medium strength) then no problem. If I increase to Insane strength then the issue manifests again (to a lesser extent).

[2017-12-19 10:22] thc202 commented on #4164
Fixed in zaproxy/zap-extensions#1219.

[2017-12-19 10:22] #4164 closed

[2017-12-19 11:54] yilmi commented on #3553
Having the same issue here, made difficult the configuration of ZAP API for me. I tried for example to add a Whitelisted ip to the API but the 2nd level contextual pop-up is not reachable.
I had the same StackTrace as the one reported on the first issue listed by @thc202 (https://bitbucket.org/meszarv/webswing/issues/97).

I see @psiinon and @flibustier have been working on the webswing startup sc

[2017-12-19 12:27] thc202 commented on #3553
There's no release yet that have both issues fixed. We could use a dev build but that might have its issues too.

@psiinon what do you think, should we use a dev build in the meantime?

[2017-12-19 16:11] claudijd opened #4168 "False Positive: Path Traversal check has minimal evidence requirements"
I noticed a false positive in the path traversal logic of ZAP and wanted to report it such that the check can be improved upon.

        "alert": "Path Traversal",
        "name": "Path Traversal",
        "riskcode": "3",
        "confidence": "2",
        "riskdesc": "High (Medium)",
        ...SNIP...
        "instances": [
          {
            "uri": "https://bugzilla.mozilla.org/buglist.cg

[2017-12-19 16:26] claudijd opened #4169 "False Positive: SQL Injection has minimal evidence requirements"
Was doing some ZAP scanning and noticed that there are blatant false positives with how the SQL injection attack is working.  Here's an example:

        {
                "pluginid": "40018",
                "alert": "SQL Injection",
                "name": "SQL Injection",
                "riskcode": "3",
                "confidence": "2",
                "riskdesc": "High (Medium)",

[2017-12-19 17:47] claudijd commented on #4168
Here's another example of this check false positiving...

https://observatory.mozilla.org/faq.html?query=c%3A%2F

I believe it's simply matching on the presence of "etc", which is highly false positive prone.

[2017-12-19 18:19] thc202 commented on #4168
Was that with latest weekly/stable image?

[2017-12-19 18:33] thc202 commented on #3644
Fine to leave it closed, lets see what others think though. @kingthorin, @psiinon should we keep the current behaviour? Or, better stricter to avoid logging the error?

[2017-12-19 19:02] kingthorin commented on #4169
Just to be clear, that the "evidence" field isn't populated does not mean that the results required no evidence.

[2017-12-19 19:38] thc202 commented on #4168
This is once again because of the etc/bin/boot being in the response.

[2017-12-19 19:47] kingthorin commented on #4168
Refs from the last time this came up:
Issue: https://github.com/zaproxy/zaproxy/issues/3735
PR: https://github.com/zaproxy/zap-extensions/pull/1018/files

[2017-12-20 03:51] sethsaurabh commented on #3020
Hi, Has there been any work done on the bamboo addon yet?

[2017-12-20 09:30] psiinon commented on #3020
Not that I'm aware of. Offers of help gratefully received :)

[2017-12-20 09:57] thc202 commented on #2965
Fixed in #3814.

[2017-12-20 09:57] #2965 closed

[2017-12-20 13:25] kingthorin commented on #1354
Addressed in https://github.com/zaproxy/zap-extensions/pull/1191

[2017-12-20 15:14] claudijd opened #4171 "Spider/Active Scan Hangs scanning https://observatory.mozilla.org redirect to non-existent port"
I was originally starting with running zap-full-scan.py scans against a number of hosts, one of which was https://observatory.mozilla.org and the active scan was seeming running indefinitely.  I moved to the UI to try and get more information on this and I worked with @thc202 a fair bit in #websectools trying to debug this.  We ultimately didn't find a resolution, but putting all my debug informat

[2017-12-20 15:25] claudijd commented on #4171
Ok, after some looking around it appears the issue is the redirect to a non-active port.

Things I think we could do to make this work better...

1.  Restrict the scope to the service being scanned (ie. if we ask it to scan :443, it will not observe redirects and add them to the scan scope automatigally, maybe this is a prompt/alert the user somehow?)

2.) Go fix this redirect thing in Observatory

[2017-12-20 18:58] claudijd commented on #4168
I also just witnessed this on Observatory...

"  // tables on home page, such as recent best, recent worst, etc"

Matched the above comment ^^^

I'm running OWASP ZAP 2.7.0 release for Mac.

[2017-12-20 19:15] claudijd commented on #4168
FWIW, I also checked for updates on the UI and said I was up-to-date.

[2017-12-20 20:12] claudijd opened #4172 "False Positive: Cross Site Scripting (Reflected)"
I have scanned a web property with ZAP and it was throwing false positives on cross-site scripting alerts.  In the interest in preserving the source site, here's the basic idea...

**REQUEST**

https://example.com/var=javascript%3Aalert%281%29%3B

**RESPONSE**

Reflected example 1
`<title>Example.com javascript:alert(1);&#34;,</title>`

Reflected example 2
`<span id="thing">javascript:alert(1);&#3

[2017-12-20 20:14] april commented on #4171
At the very least, ZAP should definitely not hang attempting to get the resource any longer than however long it or the webserver takes to timeout.

[2017-12-20 22:37] kingthorin commented on #1354
Re-opening for related pscanBeta change.

[2017-12-22 01:33] kingthorin commented on #373
Java's zipfilesystem https://docs.oracle.com/javase/7/docs/technotes/guides/io/fsp/zipfilesystemprovider.html might help with this....

[2017-12-28 01:20] atamboli opened #4187 "API scanning script is scanning ZAP urls"
I ran the API scanning script as below:
docker run -v $(pwd):/zap/wrk/:rw --rm -t owasp/zap2docker-weekly zap-api-scan.py -t https://test.com:48080/api-docs -f openapi -r report_html
After finishing the scan i saw a few alerts for the ZAP URLS in the HTML report .e.g.

[code]

[code]

Am i doing something wrong? Why is the script scanning those urls?

[2017-12-28 11:53] fhauser84 opened #4188 "Stacktraces java.net.UnknownHostException seen over the wire"
Hi guys,

first of all awesome project! I try to upgrade my skills for the topic "zap and sdlc" (jenkins integration etc.). I want to recommend your solution to my clients such that they integrate zap into their infrastructure as a baseline security component.

During a fast security investigation with your proxy, I simply did some netcat connections and I've seen several stacktraces "over the wir

[2017-12-28 15:16] thc202 commented on #4187
No, those requests should not be being scanned.

[2017-12-29 23:37] thc202 opened #4194 "Size of the configuration file keeps increasing each time ZAP is started with Java 9+"
Steps to reproduce the issue:
1. Run ZAP (with Java 9);
2. Close ZAP and note the size of the configuration file (`config.xml` in home dir);
3. Restart ZAP several times and note that the size of the configuration file keeps increasing.

For example, starting with:
[code]
ends up in:
[code]

Remarks:
This is related to XML indentation [changes in Java 9](http://www.oracle.com/technetwork/java/java

[2017-12-29 23:37] thc202 commented on #4194
Labelled as a `third-party` issue (plan to raise a JDK issue), might worth apply the workaround in the meantime (or if in the end it's not a bug)?
Worth noting that with Apache Commons Configuration 2.x the issue does not happen (the DOM tree is "whitespace cleaned" before being indented).

[2017-12-31 18:06] Chris350F opened #4195 "Cannot install"
I am trying to install ZAP.  Win64 machine.  Java 8 (update 151).  Install advises it cannot locate 64 bit JRE and when I point it at the correct Java folder, it then tells me there is no JVM installed.  I have installed the latest Java and am stuck.  Thank you all for helping me get started with ZAP.

[2017-12-31 19:57] kingthorin commented on #4195
Are you able to run any java apps? Is java in your %PATH%? Are you sure you didn't install JDK without JRE?

[2018-01-01 23:23] thc202 opened #4196 "Supported core extensions not available when using experimental DB option"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/xOJ3Cm0N2Y4/discussion

Some of the core extensions that support the experimental DB option are not available, e.g.:
 - ExtensionAntiCSRF;
 - ExtensionAuthentication;
 - ExtensionAuthorization;
 - ExtensionCallback;
 - ExtensionHttpSessions;
 - ExtensionParams;
 - ExtensionProxies;
 - ExtensionSessionManagement

[2018-01-02 09:58] #3978 closed

[2018-01-02 10:07] #4147 closed

[2018-01-02 10:09] #4166 closed

[2018-01-02 10:22] thc202 commented on #1354
Done in zaproxy/zap-extensions#1222.

[2018-01-02 10:22] #1354 closed

[2018-01-02 14:26] #4119 closed

[2018-01-02 14:27] #4187 closed

[2018-01-02 14:30] #4196 closed

[2018-01-02 15:19] thc202 commented on #3972
Fixed in zaproxy/zap-extensions#1112.

[2018-01-02 15:19] #3972 closed

[2018-01-02 16:27] breakthesec opened #4202 "API Spider call not taking ImportedUrls as input"
Hi,

I imported set of urls in zap using API and tried to run the spider using API.  However, the spider is not taking the imported urls as input, only the scanner use it for finding vulnerability.  But, the scanner checks only the url and not processing any Forms inside the given url.

If you right click and run the spider from GUI, it is taking the imported urls as input.

Note: When i unchecked

[2018-01-02 17:09] kingthorin commented on #4202
Please provide further details, what API endpoints are you using and with what parameters? (When importing, when spidering, etc)

In general it is best to get things working as you intent to in the GUI then recreate that flow with the API. You can even run in GUI mode and execute with API then you can see what's going on.

If all of you're endpoints are within a part of the path (eg: example.com/A

[2018-01-02 19:30] kingthorin commented on #4195
@Chris350F did you get your issue resolved?

[2018-01-02 19:33] kingthorin commented on #4188
Could you elaborate on where your "server" was, what the "client" was, where ZAP was in relation to the two, and where you did the network capture?

[2018-01-02 19:35] kingthorin commented on #4165
Can someone else try this and confirm or deny what I experienced?

[2018-01-02 19:40] thc202 commented on #4165
Sure.

[2018-01-02 20:17] kingthorin commented on #4169
@claudijd can you provide the full details of the alert that was raised?

[2018-01-02 20:19] kingthorin commented on #4128
@PenelopeFudd have you checked the log for errors are @thc202 suggested?

[2018-01-03 00:43] atamboli opened #4204 "Error parsing the api-docs.json"
We are using the zap-api-scan.py to run automated scan.
Until last week the script was parsing the api-docs.json using a URL correctly.
The api-docs.json got udpated today and the script is throwing an error since then.

Below is the error thrown:
[code]
Can someone please let me know what could go wrong?
The only change in the new json file is the addition of the header fields in the parameter ob

[2018-01-03 00:53] thc202 commented on #4204
This seems to be caused by a bug in the OpenAPI add-on.

Which ZAP version (or Docker image) are you using?

[2018-01-03 05:32] breakthesec commented on #4202
I am not using any API clients.  The problem: The spider is taking Imported URLs as input when i do it in GUI but not in the API

[2018-01-03 05:51] atamboli commented on #4204
zap2docker-weekly..
Is there any workaround? What is the exact issue in openapi addon?

[2018-01-03 08:36] VadimGulich opened #4206 "Error: Export Report xhtml not generating report (official ZAP Jenkins plugin)"
### Generating not valid xhtml
ZAP: 2.6.0/2.7.0
Export Report: last build
official ZAP Jenkins plugin: last build
![image](https://user-images.githubusercontent.com/12964120/34513602-aff49ade-f071-11e7-9d46-be43c27ff0d1.png)
![image](https://user-images.githubusercontent.com/12964120/34513644-ea5f7d92-f071-11e7-81f2-4d55659f662b.png)

[2018-01-03 09:09] psiinon commented on #4188
I agree that we could display a nicer message, but I'm afraid I cant get too excited about the security implications. I'd expect most people to use ZAP locally, in which case they would know they are using ZAP and which version they are using. However if you can suggest how this might be more serious then I might reconsider ;)

[2018-01-03 09:12] psiinon commented on #4206
@VadimGulich how are you generating this report?

[2018-01-03 09:16] psiinon commented on #4202
@breakthesec you've told us that is works via the UI but not the API, so you must be using the API. We need to know which API calls you are using - it _could_ be a bug in ZAP but its possible that you are using the API incorrectly. Until we know what API calls you are making we cant tell which it is.

[2018-01-03 09:17] VadimGulich commented on #4206
Generate Reports in jenkins
![image](https://user-images.githubusercontent.com/12964120/34514773-a0a3efc0-f077-11e7-9cbb-a8a445158e2c.png)

[2018-01-03 09:20] thc202 commented on #4204
Could you provide the ID of the image? Is that the latest (`40276f9ef1fb`)?

I'm not aware of a workaround (yet, not able to reproduce the issue). Based on the stack trace one of the parameters does not have a type (or if it has one it's being lost).

Could you also provide the path where those parameters are? (The path can be obfuscated just to want to try reproduce that locally.)

[2018-01-03 09:35] breakthesec commented on #4202
I meant i am not using any API clients(like zap-api-java library), i am using the ZAP API from the browser.

**This is API call i made for spidering(i gave various input to recurse param):**
http://127.0.0.1:8081/JSON/spider/action/scan/?zapapiformat=JSON&apikey=[API_KEY]&formMethod=GET&url=http://172.18.0.80:8080/JavaVulnerableLab/&maxChildren=&recurse=&contextName=&subtreeOnly=

View the crawled

[2018-01-03 10:17] thc202 commented on #4206
Are the other formats (JSON/XHTML) correct? Is there any error/exception in the output?

What are the contents of the file `merge.xml.xsl` (in `xml` dir under ZAP home)?

[2018-01-03 10:23] thc202 commented on #4202
If the spider (through the API) is not picking the existing URLs it means the starting URL does not match an existing URL (under Sites node). Are you also importing (or accessing) `http://172.18.0.80:8080/JavaVulnerableLab/`?

[2018-01-03 10:30] VadimGulich commented on #4206
@thc202 JSON/XML report correct

**contents of the file merge.xml.xsl**
<?xml version="1.0" encoding="UTF-8"?>

<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
	<xsl:output method="XML" version="1.0"  encoding="UTF-8" indent="YES" />
	<xsl:key name="KeyItem" match="AlertItem" use="concat(ancestor::Sites/Name, '|', PluginID)" />

	<xsl:template match="/Report">
		<Re

[2018-01-03 10:59] thc202 commented on #4206
Yeah, that one looks correct. How about the file `report.html.xsl` (in the same dir), does it have the same contents as https://github.com/zaproxy/zap-extensions/blob/68e2365fca616566287ffa13090123f12e001567/src/org/zaproxy/zap/extension/exportreport/files/xml/report.html.xsl ?

[2018-01-03 11:09] VadimGulich commented on #4206
No, report.html.xsl  was
https://github.com/zaproxy/zaproxy/blob/develop/src/xml/report.html.xsl

[2018-01-03 11:10] VadimGulich commented on #4206
I replaced with  https://github.com/zaproxy/zap-extensions/blob/68e2365fca616566287ffa13090123f12e001567/src/org/zaproxy/zap/extension/exportreport/files/xml/report.html.xsl
 The report is generated, thanks

[2018-01-03 11:22] thc202 commented on #4206
Cool, we should change the file name to avoid clashes :/ Although that also means the home and installation dir are the same? It's recommended to user other dir.

[2018-01-03 11:40] fhauser84 commented on #4188
Hi both of you,

well sorry for some missing details. I wanted to be sure that this is not an old issue or discussion first even though I didn't find anything via search.

Here are the missing facts:

- I downloaded the 2.7.0 release as zip file from github.
- I started ZAP via the zap.sh script in my bash.
- ZAP is running on x64 machine with Ubuntu 16.04.3 LTS.
- ZAP config was adjusted to liste

[2018-01-03 12:30] kingthorin commented on #4188
You’re right that ZAP can listen on a non-loop back interface and that is definitely by design. However it isn’t made to be long running or support large numbers of clients (yet).

When you ask it to process an invalid request how would you like/expect it to respond?

I don’t see the issue of a stacktrace on the wire, nothing has leaked that isn’t public knowledge or already been seen on the wire.

[2018-01-03 13:02] fhauser84 commented on #4188
Alright, I wasn't aware of non-supporting (larger number of) clients in a network so far, sorry.

Well, how should a server respond to a invalid request: the HTTP code is just fine. For a network component, which ZAP is not as I understand now, it simply should not show a stacktrace. Just snip your "e.printStackTrace()" (however it is implemented?!) and just put it in your logs but never reflect b

[2018-01-03 13:20] psiinon commented on #4188
That right, ZAP is really a single user system right now.
We do have plans for a scalable multi-user option, but they havnt been progressed for a while. If and when we support that then you are right, we should not return such stack traces :)

[2018-01-03 13:20] #4188 closed

[2018-01-03 14:53] thc202 commented on #1342
Closing, per changes (#4056 and #4061) released in 2.7.0. Please raise a new issue if the latest version still does not work as expected.

[2018-01-03 14:53] #1342 closed

[2018-01-03 14:53] thc202 commented on #1602
Closing, per changes (#4056 and #4061) released in 2.7.0. Please raise a new issue if the latest version still does not work as expected.

[2018-01-03 14:53] #1602 closed

[2018-01-03 14:54] thc202 commented on #1637
Closing, per changes (#4056 and #4061) released in 2.7.0. Please raise a new issue if the latest version still does not work as expected.

[2018-01-03 14:54] #1637 closed

[2018-01-03 15:07] kingthorin commented on #2322
Closed in https://github.com/zaproxy/zap-extensions/pull/1226

[2018-01-03 15:07] #2322 closed

[2018-01-03 16:44] breakthesec commented on #4202
@thc202 Hi,  yes i imported urls under the JavaVulnerableLab only .

**For example, this is the imported URLs:**
http://172.18.0.80:8080/JavaVulnerableLab/vulnerability/Injection/xpath_login.jsp
http://172.18.0.80:8080/JavaVulnerableLab/vulnerability/idor/download.jsp
http://172.18.0.80:8080/JavaVulnerableLab/vulnerability/xss/search.jsp

**and this is the URLs i gave for spidering:**
http://172.1

[2018-01-03 18:01] kingthorin commented on #4202
But was http://172.18.0.80:8080/JavaVulnerableLab/ itself ever visited or imported?

[2018-01-03 18:21] breakthesec commented on #4202
Yes, i have accessed the main url( http://172.18.0.80:8080/JavaVulnerableLab/) using the '/core/action/accessUrl/' call.   Now also tried to include this in import url list, still not working.

[2018-01-03 18:26] atamboli commented on #4204
Yes we are using the latest image - 40276f9ef1fb
Looks like ZAP can’t handle MAP<String, String>, and I change it to plain String.

[2018-01-03 18:38] brittag commented on #4172
Thanks @claudijd for filing this! My team runs ZAP on our install of the [Kibana web application](https://github.com/elastic/kibana), and we receive a similar false positive for “Cross Site Scripting (Reflected)”. I believe your suggested improvements would help prevent our false positive too.

Example scan result:

[code]

This seems to be triggered by the application including the script tag, pr

[2018-01-03 18:41] brittag opened #4209 "False Positive: Path Traversal (for URLs including domain names)"
My team uses [Cloud Foundry UAA](https://github.com/cloudfoundry/uaa), and we receive the following Path Traversal false positive when we run ZAP on the account management application:

[code]

ZAP seems to be looking for multiple periods within the URL. If any part of the URL references a fully qualified domain name, this particular vulnerability is flagged. The scanner will report this as path t

[2018-01-03 18:43] brittag opened #4210 "False Positive: Application Error Disclosure (for JavaScript code files including error messages)"
My team uses a library that includes the file at https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.35/pdfmake.min.js (note: large file), and OWASP ZAP gives us the following Application Error Disclosure false positive:

[code]

This is a false positive because this isn’t an application error page. Instead, it’s a large JavaScript file that includes the following code to generate error messages:

[2018-01-03 18:44] kingthorin commented on #4172
https://github.com/zaproxy/zap-extensions/pull/1217 might address this.

[2018-01-03 18:47] thc202 commented on #4204
OK, no worries, thanks for the info!

[2018-01-03 18:47] brittag opened #4211 "False Positive: Format String Error (when the application returns a normal error message)"
My team has a web application that gets the following false positive when we run OWASP ZAP:

[code]

This is a false positive because the application didn't parse the string - instead, the application ignored the attempted attack and returned an error message. This is what the returned page looks like:

[code]

In our application, the URL `https://EXAMPLE.COM/?page=test` returns the exact same "Un

[2018-01-03 18:48] atamboli commented on #4204
Thanks @thc202  for the help. I am closing the issue.

[2018-01-03 18:48] #4204 closed

[2018-01-03 18:50] kingthorin commented on #4209
That seems way over generalized. How would a FQDN be distinguished from any string with multiple periods? What if the host was blah.store.com yet the entity was login.example.com? etc.

What version of ZAP? What version of the release active scan rules?

Could you provide the full details of the alert?

<sub>Code ref: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extens

[2018-01-03 18:54] kingthorin commented on #4211
Is the response code a 500 when the injection is sent?

<sub>Code ref: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/ascanrules/FormatString.java</sub>

[2018-01-03 19:44] thc202 commented on #4202
Yes, there's a usability issue here. The spider API is trying to obtain (always) a GET node instead of the "directory" as such it does not include the other child nodes/paths.

[2018-01-03 21:49] NVolcz commented on #1623
I can try to reproduce the issue I was experiencing. Will need some time tho.

[2018-01-03 22:09] brittag commented on #4209
Good point, perhaps there could be a different way to distinguish this false positive. We're using ZAP 2.7.0, release ascanrules org.zaproxy.zap.extension.ascanrules (I believe it's the default).

Here are the details for the alert:

[code]

[2018-01-03 22:45] kingthorin commented on #4209
To get the version of the add-on, just open the Marketplace and hover your cursor over the add-on name in the installed tab.

[2018-01-03 23:08] brittag commented on #4211
Yes, the response code for that error page is a 500. The Content-Type is `text/plain`.

[2018-01-03 23:32] thc202 opened #4214 "Unable to create reports with Export Report add-on and Java 9+"
Steps to reproduce the issue:
1. Run ZAP with Export Report (and Java 9);
2. Attempt to create a report through the API;
3. Note that no report is created, in the log there's an exception:
[code]

Remarks:
When done through the UI it fails silently.

Add-on:
Export Report, version 4 (and older).

[2018-01-03 23:40] brittag opened #4215 "Suggest removing the Password Autocomplete passive scan rule"
(I'd like to post the following comment as a reply to the ["Password autocomplete passive scan rule implementation" thread in the OWASP ZAP User Group](https://groups.google.com/forum/#!msg/zaproxy-users/gqQU6OH36j4/46DlW6MfEAAJ), but my workplace restricts participation in Google Groups, and we're allowed to use GitHub. I hope it's still helpful to post here! Feel free to cross-post it there.)

I

[2018-01-04 00:02] #4108 closed

[2018-01-04 00:39] kingthorin commented on #4215
@brittag we're always happy to have feedback from users, however it comes. (You've explained a working environment limitation which seems reasonable to me.)

Given recent happenings, browser functionality/handling of the attribute, etc. I'm good with removal of this rule.

@psiinon @thc202 do you agree?

[2018-01-04 00:41] thc202 commented on #4215
Yes, +1.

[2018-01-04 00:54] kingthorin commented on #4209
You can also get the info via the Help Menu > Support Info item.

[2018-01-04 01:23] brittag commented on #4209
Thanks! I've asked my US East Coast timezone teammate who ran this scan to check for the specific version number.

[2018-01-04 01:47] kingthorin commented on #4209
Thanks.

The alert you're seeing seems to be based on this part of the code: https://github.com/zaproxy/zap-extensions/blob/31589e2d0116ca42f8d712b1cdcde62ba15998ca/src/org/zaproxy/zap/extension/ascanrules/TestPathTraversal.java#L418-L473

From my reading that boils down as:
Request a URL with a filename that shouldn't exist.
Get the filename from the original URL (in your example: LOGIN.EXAMPLE.C

[2018-01-04 02:24] brittag commented on #4209
Thank you, that's a very helpful description of how this alert works.

We may have misdiagnosed the cause of the false positive - it may be unrelated to the domain name in the URL. If I go to `https://LOGIN.EXAMPLE.COM/saml/discovery/alias/LOGIN.EXAMPLE.COM?entityID=LOGIN.EXAMPLE.COM&returnIDParam=idp` while authenticated, I get redirected to the URL `https://LOGIN.EXAMPLE.COM/login?error=idp_not_

[2018-01-04 09:13] psiinon commented on #4215
yep, +1

[2018-01-04 09:23] psiinon commented on #4211
500 means its a server error, ie the server failed to handle the request gracefully. This is exactly the sort of thing I'd want to know, and I'd argue that its a good indication that there _could_ be a problem. It all comes down to what sort of potential problems you are interested in.
If you dont care about specific issues then you can just not use the specific rules.
If you do care about the iss

[2018-01-04 09:39] thc202 commented on #4206
Fixed in zaproxy/zap-extensions#1231.

[2018-01-04 09:39] #4206 closed

[2018-01-04 09:42] thc202 commented on #4210
Fixed in zaproxy/zap-extensions#1230.

[2018-01-04 09:42] #4210 closed

[2018-01-04 11:10] HarmsSingh opened #4216 "‘Failed to attack the URL: received a 403 response code’?"
Please help trying to run Owasp Zap 2.7 and error received?

[2018-01-04 11:14] kingthorin commented on #4216
Please don't ask questions as issues - the ZAP User Group https://groups.google.com/group/zaproxy-users is much better place for user questions.

Also when you ask over there please be much more specific and detailed.

[2018-01-04 11:14] #4216 closed

[2018-01-04 11:19] HarmsSingh commented on #4216
This is the error I am receiving - '‘Failed to attack the URL: received a 403 response code’? within Owasp Zap can you assist?

[2018-01-04 13:34] thc202 commented on #4216
For the record, this is being handled in the users group:
https://groups.google.com/d/topic/zaproxy-users/ylUUu53YcH0/discussion

[2018-01-04 14:08] #4215 closed

[2018-01-04 16:43] kingthorin commented on #3287
I'm wondering if the second item is actually worth implementing? Has anyone ever encountered an "in the wild" condition where nonces were **not** generated sufficiently uniquely?

[2018-01-04 16:46] psiinon commented on #3287
Would someone be able to use the tokengen add-on for this? https://github.com/zaproxy/zap-extensions/wiki/AddOn_tokengen
If so then we could say thats already covered (and maybe reference it from the help?)

[2018-01-04 16:48] brittag commented on #4210
Nice, thanks!

[2018-01-04 16:48] brittag commented on #4215
Hooray, thank you all!

[2018-01-04 16:50] kingthorin commented on #3287
I'm not a CSP authority by any stretch of the imagination, however, from my understanding the nonces are expected to be unique. So, in theory requesting the same resource repeatedly should give a new nonce (token), therefore yes TokenGen should be applicable.

[2018-01-04 16:54] psiinon commented on #3287
I guess we could make a couple of requests - but to do a thorough check we'd want to do lots, and that wouldnt be a good option for an active scan rule. So I'm fine with leaving that out.

[2018-01-04 16:55] kingthorin commented on #4211
If you send just https://EXAMPLE.COM/?page=ZAP is the response a 500?

[2018-01-04 18:28] claudijd commented on #4169
I don't have the full alert anymore, I will have to re-run the scan to get more details.

[2018-01-04 18:53] brittag commented on #4211
@kingthorin Yes, same behavior for `https://example.com/?page=ZAP` - it returns an error page, response code 500.

I can see the reasoning that a 500 response means the application maintainer should take a close look at the application behavior to ensure that nothing unexpected happened "behind the scenes". In that case, for my use case it could help to add more explanation to the "Other informati

[2018-01-04 19:37] kingthorin commented on #4211
I think I've got a way to weed out this false positive, I just discussed it on IRC and seem to have agreement.

Less specific un-handled error conditions should be caught by:

- https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsAscanrulesAscanrules#parameter-tampering
- https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsPscanrulesPscanrules#application-errors
- https://github.com/zaprox

[2018-01-04 20:02] kingthorin commented on #4074
So as I understand things this is what the particular rule is doing at the point that this alert is generated (it checks about 5 or 6 different conditions, but this seems to be one specifically):

- Request a URL with a filename that shouldn't exist. (`https://www.newnavigate.com/navigate/thishouldnotexistandhopefullyitwillnot`)
- Get the filename from the original URL (in your example: `presenter

[2018-01-05 09:36] #4202 closed

[2018-01-05 15:17] acaetano opened #4222 "Unicode payload made parosproxy lib break"
In a recent assessment, a payload containing the unicode character with code A6 ("¦") in a Fuzzer session made the parosproxy http lib completely freak out and not make the request.

I even tried to put other chars before and after it, but the result was the same.

![image](https://user-images.githubusercontent.com/4494413/34615063-a037e966-f21a-11e7-950b-08541dcbeac8.png)

[2018-01-05 15:21] thc202 commented on #4222
This has the same cause as #4127. Merging into that one.

[2018-01-05 15:21] #4222 closed

[2018-01-05 15:23] thc202 commented on #4127
Title updated to be more generic and include other related issues (e.g. #4222).

[2018-01-05 20:18] brittag commented on #4209
Update for the version of the active scan rules: it shows version 28.0.0.

[2018-01-05 20:20] kingthorin commented on #4209
Thanks, we're still looking into possible changes for this one.

[2018-01-05 23:38] GregoryPerry706 opened #4227 "owasp/zap2docker-weekly Swing Interface / Create Users Context (Add User) Not Working"
Pulled the weekly ZAP Docker tonight, using the Webswing interface.

Set up a custom context with forms-based authentication for authenticated scanning and spidering, but when I go to the Users tab to create a user to populate the Login Request POST Data with, the Add button does not work.

[2018-01-05 23:49] GregoryPerry706 opened #4228 "owasp/zap2docker-weekly Swing Interface / Fuzzer Doesn't Work"
Pulled the most recent Docker weekly image tonight, Webswing interface.

Right click -> Attack -> Fuzz does not work, nor does Menu -> Tools -> Fuzz

Is the weekly image so bleeding edge that lots of functionality isn't working? Should I be using a more conservative image instead of weekly builds?

[2018-01-05 23:50] thc202 commented on #4227
This is because of an issue in Webswing, at the moment there's no (main) release with a fix. Merging into #3553.

[2018-01-05 23:50] #4227 closed

[2018-01-05 23:59] GregoryPerry706 commented on #3553
So can these second level Swing menus be configured via the REST API with Python?

[2018-01-06 00:15] thiscantbetaken opened #4229 "owasp/zap2docker-stable http://zap API Endpoint Doesn't Exist"
Trying to get around this Swing menuing issue by using the ZAP API. owasp/zap2docker-stable API endpoint at http://zap is not found after configuring the proxy to use localhost:8080:

[code]

[2018-01-06 00:16] brittag opened #4230 "False Positive: Remote OS Command Injection (for "get-alias" in code, and an image)"
I work on a website that receives two false positives for Remote OS Command Injection.

The first false positive is a JavaScript file that gets flagged because it includes `Get-Alias`, which in this case is a keyword for syntax highlighting - see [this line](https://github.com/isagalaev/highlight.js/blob/master/src/languages/powershell.js#L73). Could there be a way to distinguish that case from a

[2018-01-06 00:25] thc202 commented on #4228
Merging into #3553, same problem as mentioned in #4227.

[2018-01-06 00:25] #4228 closed

[2018-01-06 00:25] thc202 commented on #4229
Could you provide more details on how and from where are you accessing the ZAP API? (Also, the docker command used to start ZAP.)

[2018-01-06 00:26] thc202 commented on #3553
Depends on the exact functionality, re #4227, yes, contexts can be configured through the API (Python example at [1]).

[1] https://github.com/soprasteria/zap-api-python/blob/4b7e5ddbcac9401549a6bb3c857df46b13f8814a/src/examples/zap_example_api_script.py

[2018-01-06 00:45] GregoryPerry706 commented on #4229
Just by pointing the browser at the http://zap endpoint through the proxy itself. This works fine with the standalone Java version, but fails with Docker.

$ docker run -u zap -p 8080:8080 -p 8090:8090 -i owasp/zap2docker-stable zap-webswing.sh

[2018-01-06 01:27] brittag opened #4231 "False Positive: SQL Injection (on pages where a query string has no impact)"
This may be a duplicate of https://github.com/zaproxy/zaproxy/issues/4169 or https://github.com/zaproxy/zaproxy/issues/3662, but I’ll start a new thread since it may be different.

We get a SQL Injection alert on our instance of [Kibana](https://github.com/elastic/kibana), with the following details:

[code]

I suggest ignoring the first item (`https://EXAMPLE.COM/app/kibana?query=query+AND+1%3D1+

[2018-01-06 01:50] thc202 commented on #4229
OK, it seems that the browser is proxying through 8080 instead of 8090? ZAP is listening on the latter port. But to avoid proxying any Webswing data through ZAP I'd suggest not proxying and accessing the ZAP API with its address (e.g. `http://172.17.0.2:8090` instead of `http://zap/`).

Since you are accessing the API through the host you need to give it access to the API, that's not working throu

[2018-01-06 03:54] brittag commented on #4168
My website receives a similar false positive Path Traversal alert for "etc" (scanning with ZAP 2.7.0). Alert details:

[code]

The page at  `https://cloud.gov/assets/js/main.js` includes the following lines of code that may be getting flagged:

`className: 'string', // 0'a etc.`

`//   but not by others (comment: 8; processing instruction: 7; etc.)`

`// 1. Copy private data: events, handlers, etc

[2018-01-06 14:17] kingthorin commented on #137
Since flash usage is dying off can this be closed?

[2018-01-06 18:04] kepuss commented on #3877
Hi @psiinon
I want to contribute to ZAP project. I'd like to begin with this issue.

[2018-01-06 19:40] kingthorin commented on #3877
Go for it! 👍

We look forward to your PR.

[2018-01-06 21:59] kepuss commented on #3877
@kingthorin  thanks, I managed to run everything and write simple scan, however few questions raised:
1. What file should be checked? In vulnerability examples /etc/passwd can be found, which should work for all Linux distros. What about windows machines?
2. File path is dependent on the execution location, which means that we need to manipulate path with "../". What should I do (i.e. create attem

[2018-01-07 00:07] kingthorin commented on #3877
It looks like this would actually be just a new payload in a few of the existing scan rules.

http://projects.webappsec.org/w/page/13246949/Null%20Byte%20Injection provides some decent examples.

For example: There is already a path traversal scanner.

Another option would be to enhance Zaps input variants to have the option of appending a null byte to payloads... @psiinon @thc202 what do you thin

[2018-01-07 17:13] kepuss commented on #3877
@kingthorin
1. I've seen the page and examples are based on passwd or the same level file (like "server.logs.txt" from last example)
2. Ok, I thought it should be in separate scan. So I'm waiting for your decision

[2018-01-08 01:23] kingthorin commented on #387
@psiinon can you update this checklist? I'm not 100% sure what all your entries meant.

- [x] * Active scan specified context
- [x] * Spider specified context
- [ ] * Help files and index links
- [ ] * SessionGeneralPanel - save excessive?
- [ ] * Review std menus order
- [x] * Websockets - inc/exc from contexts instead of scope
- [ ] * Auto expand session panel context tree?
- [x] * Option to del

[2018-01-08 01:29] kingthorin commented on #288
Is this still necessary/wanted given PnH and Browser Launch?

[2018-01-08 01:31] kingthorin commented on #257
Is it worth keeping this open given the other open issues such as being able to modify host headers, the core update, etc?

[2018-01-08 01:42] kingthorin commented on #258
Is this still necessary? Are we still in-sync with the 0.12 version or have we made changes that are between 0.12 and RC1?

[2018-01-08 01:47] kingthorin commented on #232
Ok so there are 3 items here and the Highlight extension handles only the first one in it's current form?

[2018-01-08 01:53] kingthorin commented on #578
The matcher comments here are straight forward. @thc202 Can you clarify the  helper class comment? I only see the patterns in one class.

[2018-01-08 03:00] GregoryPerry706 opened #4233 "Request: For ZAP History -> Request -> Open URL in Browser to open tab in current browser"
When using the History right click context menu on a request to Open URL in Browser, ZAP spawns an entire new browser instance instead of opening a new tab in the existing browser which has been launched from the Quick Start page.

This is problematic when using Chrome Developer Tools for example, as I have a different device view portal created including custom user agent strings which are not in

[2018-01-08 09:09] psiinon commented on #4233
Can see why this would be useful.
This might be one option for the implementation: https://stackoverflow.com/questions/17547473/how-to-open-a-new-tab-using-selenium-webdriver-with-java

[2018-01-08 09:12] psiinon commented on #288
I dont think so, and as I raised it I'll close it :)

[2018-01-08 09:12] #288 closed

[2018-01-08 09:15] psiinon commented on #137
I'd be fine with closing this.
Obviously if someone does want to work on this then thats good, but I dont think we need to keep this issue open.

[2018-01-08 09:16] #4135 closed

[2018-01-08 09:30] #4211 closed

[2018-01-08 09:40] GregoryPerry706 commented on #4233
ZAP is using Selenium for the external browser control isn't it?

[2018-01-08 09:45] psiinon commented on #4233
Yes, thats why I linked to that article :)
Initially it looks like it possible but non trivial, but I havnt really looked at it in detail yet.

[2018-01-08 10:02] thc202 commented on #3877
@kingthorin how would that work?

[2018-01-08 10:40] #137 closed

[2018-01-08 10:44] kingthorin commented on #3877
Similar to that script I'd been working on to inject payloads in param names. Only in this case a null byte would just be appended or prepended to the value when the messages are re-built.

[2018-01-08 11:33] kingthorin commented on #3877
I'm fine with it being additional payloads. We'll just have to decide which scan rules it should be added to.

I was just trying to come up with alternatives since it doesn't seem to require a new scan rule on its own (unless I've missed something?)

[2018-01-08 11:46] eoftedal opened #4234 "Wish for 2018: Better REST API spidering and scanning"
Current if I import a swagger-file through the OpenAPI extension, it invokes all the requests with "static" values. When running a scan, ZAP will slap on a "?query=" on URLs where it doesn't make sense, and doesn't scan path parameters unless you check URL-path, which is too broad.

Here is what I would like to see:

**OpenAPISpider**
Give it a set of starting values for some parameters, and have

[2018-01-08 13:38] thc202 commented on #578
It was not yet addressed, there are OData patterns in the following classes:
 - `SpiderODataAtomParser`;
 - `URLCanonicalizer`;
 - `VariantODataFilterQuery`;
 - `VariantODataIdQuery`.

The duplicated patterns I was referring to are in `URLCanonicalizer` and `VariantODataIdQuery`:
 - `patternResourceIdentifierUnquoted`;
 - `patternResourceMultipleIdentifier`;
 - `patternResourceMultipleIdentifierDe

[2018-01-08 13:50] kingthorin commented on #578
Thanks

[2018-01-08 13:58] kingthorin commented on #1642
@davewichers do you want it remembered in both cases?

[2018-01-08 14:02] kingthorin commented on #1429
There are various options to accomplish this. The Plugin_ID header, scripts, etc.

Can we close this one?

[2018-01-08 14:03] kingthorin commented on #1451
Between the github repo and community scripts addon is this covered sufficiently?

[2018-01-08 14:09] thc202 commented on #1429
How about adding a (template) HTTP Sender script that does that (and close the issue with it)?

[2018-01-08 14:10] thc202 commented on #1429
(We could also update the help pages to mention it.)

[2018-01-08 14:13] thc202 commented on #258
The situation is still the same, we added enhancements to 0.12 and 1.0RC has other enhancements (which might be useful to integrate, one would have to check that again though).

[2018-01-08 14:19] thc202 commented on #3877
Right, I think changing existing scanners to accommodate this case is probably better. The variant might require more changes (e.g. not all scanners would be using it(?), report the proper injected payload...).

[2018-01-08 14:21] psiinon commented on #1451
I think so

[2018-01-08 14:21] #1451 closed

[2018-01-08 14:26] kingthorin commented on #258
Ok so basically the code bases need to be diffed and things merged on a case-by-case basis.

[2018-01-08 14:28] thc202 commented on #258
Correct.

[2018-01-08 15:45] davewichers commented on #1642
Yes. I like the remember feature and would like it to be consistent in both
situations. I.e., it DOES remember across close/reopen.

On Mon, Jan 8, 2018 at 8:58 AM, kingthorin <notifications@github.com> wrote:

[2018-01-08 15:58] brittag commented on #4211
Awesome, looking forward to trying a future release with this! 🎉  💃  ✨

[2018-01-08 16:51] thc202 commented on #257
I think so, some of the issues are caused by UI related classes (which the other issues don't address AFAIK).

[2018-01-08 17:16] kingthorin commented on #257
Ok that's fair.

[2018-01-08 21:22] thc202 commented on #3491
In 2.7.0 the context can be deleted with delete key (#4001).

[2018-01-08 22:12] thc202 opened #4235 "Warn when unable to save (malformed) HTTP message in Request/Response panels"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/O18H5nV7sf0/discussion

Steps to reproduce the issue:
1. Run ZAP;
2. Send a well-formed request through the Manual Request Editor dialogue:
[code]
Note in the History tab that the GET request was sent;
3. Send a malformed request:
[code]
and note that the actual request sent (History tab) was again a GET.
In th

[2018-01-08 22:22] thc202 commented on #387
Updated the checklist with entries done. Last one is probably done too (but will check if the current order looks correct).

[2018-01-09 00:50] thc202 commented on #387
IMO the pop up menus are in right place (after `Attack`, the first) and with correct order (`Include in Context`, `Flag as Context`, and `Exclude from Context`). The menus (under `File`) also look fine.

[2018-01-09 01:11] kingthorin commented on #387
Sounds fine to me

[2018-01-09 09:11] egerod opened #4241 "Scripts Flagged as Changed when Disabling/Enabling and prompts saving."
I recently updated the way I loaded scripts into ZAP from using the API to using the script directory and then enabling the needed scripts. But this have caused all the scripts to be flagged as changed, and warns about unsaved scripts on shutdown.

**Steps to Reproduce**
Enable/Disable a script through either the API or UI.

**Outcome**
Script is  flagged as changed, allows for saving and warns ab

[2018-01-09 09:16] #3399 closed

[2018-01-09 09:17] #1429 closed

[2018-01-09 10:01] kingthorin commented on #4241
This is a duplicate of https://github.com/zaproxy/zaproxy/issues/2189

[2018-01-09 10:01] #4241 closed

[2018-01-09 10:03] thc202 commented on #4241
The enabled state is saved in the configuration file (along with the other data, name, type...).

[2018-01-09 10:05] thc202 commented on #387
Closing as done then. Thanks!

[2018-01-09 10:05] #387 closed

[2018-01-09 23:30] thiscantbetaken opened #4242 "Request for ZAP Fuzzer - Ability to Load Payloads from File"
In the ZAP Fuzzer, the Strings option seems to only allow pasted payloads. It would be super handy to allow external file loading for this option.

[2018-01-09 23:32] thiscantbetaken opened #4243 "Request for ZAP Active Scanner Reflected Payload Reporting"
I haven't been able to figure out a way of reporting reflected payloads in ZAP other than the Fuzzer report output. It would be very helpful if reflected parameters from active scanning were reported in the Issues tab.

[2018-01-09 23:34] thc202 commented on #4242
Doesn't File payload allow achieve that? (The payloads can be edited after adding them.)
https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsFuzzPayloads

[2018-01-09 23:40] thc202 commented on #4243
Just to be clear, this is not an enhancement request for the fuzzer but for the active scanner?

[2018-01-09 23:45] thiscantbetaken commented on #4242
Ah. My bad, I had been using only the Strings option. Thanks for pointing that out.

[2018-01-09 23:45] #4242 closed

[2018-01-09 23:47] thiscantbetaken commented on #4243
Yes this would be for the Active Scanner; the Fuzzer reports reflected payloads properly but I haven't yet figured out a way of reporting that from Active Scanner in the issues tab, unless the Active Scanner isn't actively looking for reflected payloads?

[2018-01-09 23:57] thc202 commented on #4242
No worries. Let us know if that way is fine (or if it can be improved).

[2018-01-10 00:06] thc202 commented on #4243
It depends on the active scanners, XSS (Reflected/Persistent) [1] and DOM XSS [2] do that but both try to check if there's a real issue or not.

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsAscanrulesAscanrules#cross-site-scripting-reflected
[2] https://github.com/zaproxy/zap-extensions/wiki/HelpAddonsDomxssDomxss

[2018-01-10 00:10] thiscantbetaken commented on #4243
Hmm I am not picking up any reflected queries during Active Scanning, but I have all of these reflection rules enabled. I get a ton of reflected alerts when using Burp Suite but haven't seen one yet in ZAP proxy. Is there a more in-depth refinement/configuration to the Active Scanner reflection rules beyond the reflection rule being enabled?

[2018-01-10 01:22] kingthorin commented on #4243
You can adjust the strength of tge scan rule in the policy, however tgat will increase requests made and scan time.

[2018-01-10 01:25] thiscantbetaken commented on #4243
I have everything cranked up to Insane with release reflection rules, but have yet to see a single reflection alert in the Issues tab while Burp Suite is picking up reflections all over the place.

________________________________
From: kingthorin <notifications@github.com>
Sent: Tuesday, January 9, 2018 8:22:26 PM
To: zaproxy/zaproxy
Cc: gp; Author
Subject: Re: [zaproxy/zaproxy] Request for ZAP A

[2018-01-10 01:58] kingthorin commented on #4243
Without specifics there's not much we can add or address at this point.

[2018-01-10 09:24] psiinon commented on #4243
@thiscantbetaken are these real vulnerabilities? Just reflecting a payload is not necessarily a vulnerability.
If some of them are vulnerabilities then can you give us some sanitized examples?

[2018-01-10 14:39] LuigiCasciaro commented on #3480
I developed in the alpha branch of [zap-extension project](https://github.com/LuigiCasciaro/zap-extensions/tree/alpha) an addon for the query injection scan of MongoDB.

[2018-01-10 16:23] thc202 opened #4247 "ZAP should accept/parse cookies without name"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/1gvzbFUTbGI/discussion

Steps to reproduce the issue:
1. Run ZAP;
2. Proxy a request with a cookie without name:
[code]
3. Note that ZAP logs some warnings:
[code]
(In some places this leads to errors, as reported in the user group.)

Remarks:
Browsers (e.g. Firefox, Chrome) accept and send the cookies without

[2018-01-10 20:18] kingthorin opened #4249 "Enhance XXE Scanner"
Once the 2.8 core is available in the extensions repo. Modify the [XXE scanner](https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/ascanrulesBeta/XXEPlugin.java) to leverage them (similar to the [LDAPi scanner](https://github.com/zaproxy/zap-extensions/blob/3cd645c3551b893a000770ce67fa183b23d1d858/src/org/zaproxy/zap/extension/ascanrulesAlpha/LDAPInjection.java#L185-

[2018-01-10 20:30] kingthorin commented on #4249
https://twitter.com/owasp_juiceshop/status/950785748193677312

Spoilers (click at your own risk) > https://github.com/bkimminich/juice-shop/search?q=xxe&type=

[2018-01-10 20:52] thc202 commented on #4249
The scanner could use the variant directly (i.e. copy/adapt the code to the add-on) in the meantime.

[2018-01-10 22:35] thc202 commented on #3480
Great! Would you mind opening pull request(s) against zaproxy repo to register the ID of the scanner and add the new technology?

(If we want release the scanner before 2.8 it can't use the new tech, not a big deal IMO.)

[2018-01-10 22:43] thc202 commented on #232
Yes.

[2018-01-11 09:22] LuigiCasciaro commented on #3480
Hi thc202. Sure! but which branch should I use for zaproxy repo? Master or
develop?.

Regarding the zap-extensions repo, I’m waiting to open a pull request
because I’m doing some tests and adding new rules but by tomorrow I will do
this.

Thanks,

Luigi Casciaro.

2018-01-10 23:35 GMT+01:00 thc202 <notifications@github.com>:

[2018-01-11 09:28] psiinon commented on #3480
The devlop branch.
Looking forward to your PR :)
Will you be including your tests with the PR or are they manual ones?

[2018-01-11 10:15] LuigiCasciaro commented on #3480
I will put some Junit tests but the main tests are against a virtual
machine that I have in local and that contains all the vulnerabilities
identified for mongo.

2018-01-11 10:28 GMT+01:00 Simon Bennetts <notifications@github.com>:

[2018-01-11 10:29] LuigiCasciaro commented on #3480
If you would i could share the vulnerabilites server-side scirpts and write
a script to populate mongo.

2018-01-11 11:15 GMT+01:00 Luigi Casciaro <luigi.casciaro91@gmail.com>:

[2018-01-11 21:16] kepuss commented on #3877
@thc202 @kingthorin
So let me summarize what should be done(correct me if wrong):
1. Look through existing scanners and find where null byte injection can be used as payload (on master/alpha/beta branches?)
2. (Example) So one of that scanners is TestPathTraversal class. It stores payloads in array WIN_LOCAL_FILE_TARGETS which gonna have additional payload with null byte.

[2018-01-12 00:33] thc202 commented on #3877
Yes, that's my understanding.

[2018-01-12 00:48] kingthorin commented on #3877
Also might require changes to conform to the strength guidelines https://github.com/zaproxy/zap-extensions/wiki/AddOnsBeta

[2018-01-12 10:37] psiinon commented on #4105
@Tisa-Segovic are you still planning on working on this?

[2018-01-12 10:59] psiinon opened #4256 "New ChromeDriver - 2.35"
https://sites.google.com/a/chromium.org/chromedriver/downloads
c/o https://visualping.io/

[2018-01-12 12:53] LuigiCasciaro commented on #3480
Hi Simon and thc202, I did a pull request for the nosql add-on. Although
there are some things to review and complete, sanning mongo should go. :)

2018-01-11 11:28 GMT+01:00 Luigi Casciaro <luigi.casciaro91@gmail.com>:

[2018-01-12 20:40] kingthorin commented on #4243
@thiscantbetaken are you able to provide further details?

[2018-01-13 04:07] thiscantbetaken commented on #4243
I've been swamped the last few days. I will see if I can take a look at it
this weekend. I have been trying to avoid re-installing Burp to be honest.

On Fri, Jan 12, 2018 at 3:59 PM, kingthorin <notifications@github.com>
wrote:

[2018-01-13 12:59] kingthorin commented on #962
@psiinon per your Sept 2014 update this has been addressed?

[2018-01-13 13:31] kingthorin commented on #709
Since we now have scripting support and custom definition (via the dialog) can this be considered addressed?

[2018-01-13 13:46] kingthorin commented on #701
Does this refer to some functionality from 1.4? I don't seem to recall a details or properties dialog that lists a size (let alone in a column).

[2018-01-13 13:54] thc202 commented on #709
It would be better to still implement this so add-ons can plug its own variants (e.g. OData, AMF, SOAP).

[2018-01-13 13:59] thc202 commented on #701
No, the "Details" is one of the views available when choosing the file.

[2018-01-13 14:01] kingthorin commented on #701
Oh I never even noticed that button...huh, thanks for clarifying.

[2018-01-14 13:44] SyCode7 opened #4262 "experimentalDb for MySQL fails in ZAP 2.7.0"
ZAP 2.6.0 worked well with the MySQL switch `zap.sh -experimentalDb` however the current version, 2.7.0 fails. Running on windows 10, with the ZAP native UI, the "creating new session file option. Please wait ..." dialog box prompts and remains forever.

[2018-01-14 13:58] thc202 commented on #4262
Would you mind checking the zap.log file?

[2018-01-14 19:23] Akumary opened #4263 "ZAP Authentication not working"
Trying to use ZAP 2.7.0 for spidering against my internal javascript based website. I used AJAX spider but I see that it is entering random username even after doing the proper configuration. Also, tried using ZEST based recording for authentication but same issue. I did following:

1) Launched firefox from ZAP and logged into Website. Now, I can see my website under the "Sites" tab.
2) Defined th

[2018-01-14 22:17] SyCode7 commented on #4262
So the error went after I dropped the old MYSQL db. However, there is another error ` Failed to add script "Copy as curl command menu.js", provided script type "extender" not found, available: [proxy, httpsender, variant, standalone, targeted, active, passive] .  ` Also, the addon for exploring OpenAPI documents and other features available via the tools menu as described in this [ZAP blog](https:

[2018-01-15 01:14] kingthorin commented on #4263
Closing, user already started a User Group thread, which is the proper place for questions.

https://groups.google.com/forum/m/?pli=1#!topic/zaproxy-users/whjTCLm_id4

[2018-01-15 01:14] #4263 closed

[2018-01-15 07:11] juhakivekas commented on #1403
For a year now there has been no active development of mittn and it lacks a maintaner. So implementing this integration would probably mean taking over the whole project.

[2018-01-15 09:36] kingthorin commented on #1403
If mittn has died off, I'm ok closing this issue. The README references Guantlt and BDD.  BDD already uses ZAP IIRC, and there's a separate ZAP issue for Guantlt (if it hasn't also died off).

[2018-01-15 09:41] thc202 commented on #4262
It seems the add-ons (Script Console and OpenAPI) are not installed. Which package did you download? (Core does not include any add-on.)
In any case you should be able to install the add-ons any time through the marketplace.

[2018-01-15 09:58] thc202 commented on #1403
+1

[2018-01-15 11:07] thc202 opened #4265 "Unable to spider with unlimited depth"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/94yf0QcUwRs/discussion

The option Spider > Maximum depth to crawl [1] does not allow to specify an unlimited value (0, like other similar options do e.g. Maximum children to crawl).

Remarks:
Same applies to Advanced > Maximum depth to crawl, in Spider dialogue.

ZAP
Version 2.7.0 (and older).

[1] https://git

[2018-01-15 13:04] #1642 closed

[2018-01-15 15:49] #4265 closed

[2018-01-15 16:12] kbonin commented on #4084
It looks like loop detection is broken.  Does anybody have a most recent recommended version that can survive a default scan of JuiceShop?

[2018-01-15 16:22] psiinon commented on #4084
I'd argue its not really looping - the app is generating 'new' content for new urls, ie its a problem with the app rather than with ZAP.
I'm not really sure how we can easily detect that without a good chance of missing real content.
But suggestions always appreciated.

[2018-01-15 16:27] thc202 commented on #4084
The AJAX Spider does not have this problem (and it's probably better for Juice Shop).

[2018-01-16 06:52] FastNinja opened #4269 "Zap2Docker API scan - how to pass override Host parameter (similar to GUI)"
Hi,
Great tool!

Trying to ran ZAP scanner using OpenAPI specification.
Using GUI all works good - as I can select URL for `swagger.json` file and then I can specify host name (www.myapi.com).
See the picture below:
![image](https://user-images.githubusercontent.com/13673826/34975271-2cdba0f6-fae5-11e7-91f9-30b4a3884c0a.png)

However, when running
[code]
I could not find a way to pass the second p

[2018-01-16 06:53] FastNinja commented on #4269
I observe similar behavior if when using GUI I do not fill `Override Host` field

[2018-01-16 07:03] FastNinja commented on #4269
Just digging a bit more into OpenAPI - it says :
[code]
https://swagger.io/docs/specification/2-0/api-host-and-base-path/

However it seems that zap-extension for OpenAPI assumes that host must be there

[2018-01-16 07:06] FastNinja commented on #4269
It looks like https://github.com/zaproxy/zap-extensions/pull/905 this commit added HostOverride - so it is relevant... could it be that host override is not exposed via `zap-api-scan.py`?

[2018-01-16 08:08] shaneinsweden commented on #4084
It sounds like we have discovered a fairly lost cost effective method for blocking some zap spider scans.

1. Set the first link on your website to an "About" web page which includes a randomly generated url called reload.
2. If you click on reload you of course get the same page with a new random reload link.
3. A human user wont notice much but the spider will endlessly reload the new "unique" a

[2018-01-16 10:19] thc202 commented on #4269
Yes, that's not yet exposed through the script.

We also need to fix the issue in the OpenAPI add-on, which should default to host of the URL.

[2018-01-16 11:08] psiinon commented on #4084
There are lots of ways to cause problems with automated scanners, not just ZAP.
And there are lots of ways to configure ZAP to get aound those things.
I'm actually ok with that.
ZAP is intended to be used to make applications safer. I'm fine with people adding features to their apps which make it harder for unauthorized people to attack them. They'll probably want to make those things switchable s

[2018-01-16 11:30] psiinon commented on #4084
Having said that, I'm all for making ZAP more resilient to such problems ;)

[2018-01-16 17:19] ebereorisi opened #4270 "Active scan and spidering stops when a session is closed"
Can a feature be created to pause all scans and spiders, when the session is closed and then resume when the session is later reopened.

[2018-01-16 20:36] FastNinja commented on #4269
I was trying to find OpenApi addon source code but only found Jar file on GitHub repo.
I don’t mind creating s Pull Request to either expose Host parameter on the script or to fix addon

[2018-01-16 20:44] thc202 commented on #4269
The source of the add-on is in the alpha branch:
https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/openapi

FYI, I already have the changes in place, still checking everything is correct but should be ready today.

[2018-01-16 22:30] thc202 opened #4271 "OpenAPI add-on should fallback to host of URI"
From #4269.

Same as with scheme (#3433), if the host is not specified in the definition it should be used the host of the requested URI.

Add-on
OpenAPI Support, version 9 (and older).

[2018-01-16 23:41] thc202 commented on #962
This still happens with latest version of Zest add-on, it's caused by byte to string conversions. This will require changes in Zest library.

[2018-01-17 03:08] YangYongZhi opened #4274 "Null pointer exception when scanning Session ID in URL"
I found an exception when the zaproxy is executing a passive scan, the exception message like this:
`2018-01-16 09:52:14,990 [ZAP-PassiveScanner] ERROR PassiveScanThread - Scanner Session ID in URL Rewrite failed on record 510490 from History table: GET http://static.sweet.com/kayak-project/??medusa/dist/medusa/pages/crowdlist/crowdlist.tpl?t=partnerpartner201801120930
java.lang.NullPointerExcepti

[2018-01-17 03:12] YangYongZhi opened #4275 "Returnning the logger level"

[2018-01-17 08:44] thc202 commented on #4274
Yeah, we need to check that's not `null` before using it (that's `null` when the `ExtensionHttpSessions` is not enabled).

Which version (or revision) are you using and which starting options?

[2018-01-17 08:45] psiinon commented on #4275
ZAP uses log4j, so the logger level can be set on a per class basis.
But it would be good to be able to get and set the logger levels via the API (and UI for that matter)

[2018-01-17 08:46] thc202 commented on #4274
(And, yes, please, go ahead with a PR.)

[2018-01-17 11:17] thc202 commented on #4271
Fixed in zaproxy/zap-extensions#1269.

[2018-01-17 11:17] #4271 closed

[2018-01-17 14:04] thc202 commented on #4271
Released in version 10 of OpenAPI Support add-on.

[2018-01-17 14:59] psiinon opened #4276 "Active Scanning WebSockets"
Just added this to https://www.owasp.org/index.php/GSOC2018_Ideas :

Also see this twitter thread: https://twitter.com/psiinon/status/953637374453600256

The expectation is that most apps that use websockets will use structured data, eg JSON, XML etc.
Hopefully we can reuse the current Input Vectors we support (including script ones) to allow us to work out what can be attacked.
Existing rules typ

[2018-01-17 15:45] twright-0x1 commented on #2593
Continuing to see this in version 2.7.

**This is a very significant problem for ZAP.**  I'm having to hand-edit HTML reports that ZAP generates in order to remove alerts that can't be deleted from the Alerts tree.  Plus, because the errant alerts don't go away from the session, when I return to the session some time later, I may not realize which alerts are legit.

[2018-01-17 16:11] psiinon opened #4277 "Warn if a # is specified in a break point URL"
If someone includes a URL fragment in a contains match then its probably not going to work as the fragment is not sent by the browser.
https://security.stackexchange.com/questions/177816/how-to-intercept-xmlhttprequest-with-owaps-zap/177825#177825

[2018-01-18 03:19] YangYongZhi commented on #4274
I build this project with the master branch.

[2018-01-18 03:23] YangYongZhi commented on #4274
My start option :
nohup ./zap.sh -daemon -port 9797 -host 192.168.8.102 -config api.key=JAXMv3A3T -config api.addrs.addr.name=.* -config api.addrs.addr.regex=true -experimentalDb -lowmem -nostdout &

[2018-01-18 03:25] YangYongZhi commented on #4274
Version : the newest version, ZAP_Dev Build_Core.tar.gz

[2018-01-18 04:08] YangYongZhi commented on #4275
Thank you first.
I mean that I wanner know which level the log4j.propertis is using.
Because sometime If you set it as DEBUG, the zaproxy is running slow perhaps there will be too many IO operations, in order to see this level on web UI, I think I need a api to get the logger level setting.

[2018-01-18 04:20] YangYongZhi commented on #4274
And zap-extensions branch is master.

[2018-01-18 09:17] psiinon commented on #4275
Yeah, I understood. But theres not actually just one level, there can be a different level per class. If we add API calls for this we should cope with the general case.

[2018-01-18 09:48] thc202 commented on #4274
Thanks for the details!

[2018-01-18 10:13] thc202 commented on #4256
Done in zaproxy/zap-extensions#1274.

[2018-01-18 10:13] #4256 closed

[2018-01-18 10:15] thc202 commented on #4274
Fixed in zaproxy/zap-extensions#1278.

[2018-01-18 10:15] #4274 closed

[2018-01-18 14:49] #1403 closed

[2018-01-18 23:12] thc202 opened #4279 "Python Passive Rules scan all message types by default"
From OWASP ZAP Scripts group: https://groups.google.com/d/topic/zaproxy-scripts/5-RPmg8PXKM/discussion

The Python Passive Rules passive scan all message types by default, this is not the expected behaviour (it should scan just a subset). This is caused by wrong implementation in the workaround for Python scripts (#3506).

ZAP
Version 2.7.0.

[2018-01-18 23:39] thc202 opened #4280 "Update docs for new name/location of Enable Session Tracking (Cookie)"
From OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/gz4ajrsJZ2I/discussion

The documentation (User Guide) still mentions the old name and location of the option Options > Connection >Enable (Global) HTTP State, moved from Edit > Enable Session Tracking (Cookie). [1]

Related to #3394.

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiTlmenuEdit

[2018-01-19 09:03] #4279 closed

[2018-01-19 15:44] zapbot opened #4284 "Addons Ready to release"
:compileJava UP-TO-DATE
:processResources UP-TO-DATE
:classes UP-TO-DATE
:pendingAddOnReleases
=============================
Unreleased add-ons (4 of 84)
=============================
alpha	HttpsInfo v11
alpha	Simple Example v1
alpha	ToDo-List v1
alpha	Wavsep report generator v2
=============================

=======================================
New versions pending release (20 of 84)
=========

[2018-01-19 15:46] psiinon commented on #4284
I raised this via a script :)
Looks like we need to play with the formatting a bit ;)

[2018-01-19 15:46] #4284 closed

[2018-01-19 15:50] zapbot opened #4285 "Addons Ready to release"
[code]

[2018-01-19 15:51] psiinon commented on #4285
another test

[2018-01-19 15:51] #4285 closed

[2018-01-20 18:15] haseebeqx commented on #2077
is there still an existing csrf poc generator in ZAP. i lost my touch since i was outside security field  for quite sometime. will this goes in zap-extensions repo or this repo

[2018-01-20 20:58] kingthorin commented on #2077
Yup it's still there. The code is in this repo.

https://github.com/zaproxy/zaproxy/tree/develop/src/org/zaproxy/zap/extension/anticsrf

[2018-01-21 17:49] kepuss commented on #3877
@thc202 @kingthorin
I looked through activescan rules in master,beta and alpha, and only ones below seems to be right rules to apply null byte:

master:
1. CommandInjectionPlugin:              (example "cat /etc/passwd\0" )
2. TestCrossSiteScriptV2:                  (example 	<[%00]script>alert("alert(1)")</script>)
3. TestExternalRedirect:                    (example  '"http://" + REDIRECT_SITE +

[2018-01-22 09:25] #4269 closed

[2018-01-22 09:25] #4247 closed

[2018-01-22 09:45] psiinon opened #4290 "Reopen websocket connection to (re)send messages"
As per: https://twitter.com/w3af/status/954441602960850944

[2018-01-22 15:06] thc202 opened #4291 "Manual Request Editor keeps using Forced User even if disabled"
Steps to reproduce the issue:
1. Run ZAP;
2. Set up context authentication, with wrong logged in/out indicators to force the re-authentication (easier to notice/reproduce the issue).
3. Enable Forced User mode;
4. Send/re-send a message with Manual Request Editor, notice that the authentication is attempted (History or Output tabs);
5. Disable Forced User mode;
6. Send the same message again, note

[2018-01-22 15:46] juhakivekas commented on #4290
One can resend an old message in a newer channel (connection) by selecting the new connection in the repeater. If there is no appropriate connection, then it actually does make sense to reopen one. Of course, this probably refers to a case where the user does not want to manually re-open a socket.

It's starting to be quite common to have authenticated websockets (JWT, uuid token, etc.) so this mi

[2018-01-22 15:51] psiinon commented on #4290
Yeah, I think this is the case where there is no newer active connection, so the request is to open a new connection.

[2018-01-22 16:40] veggiespam opened #4295 "Promote Image Location & Privacy Scanner to release"
I would like to promote my Image Location & Privacy Scanner to the release tract.  It has been around in the alpha channel for a few years and there has been no severe issues in either ZAP or Burp.  I feel it is mature enough to promote to v1.0 and to the main ZAP channel.

Both @kingthorin and someone from Portswigger assisted over the last year in getting this to v1.0.  Currently, the ZAP alpha

[2018-01-22 16:47] #4291 closed

[2018-01-22 17:53] thc202 commented on #4295
@veggiespam it would be great if the ILS was provided as library/jar, instead of copying the source.

[2018-01-22 18:50] veggiespam commented on #4295
@kingthorin - I appreciate your help.  Just email me directly and we can begin to work on the unit tests together.  Does the i18n treatment that already exists cover @psiinon concerns?

@thc202 - there is already a jar for the Burp version of this plug-in.  I would be glad to create a ZAP-compatible jar if you could point me to an example or advice.  Also, in v1.2/2.0 or whatnot, I'm going to move

[2018-01-23 00:07] binarymist commented on #4027
Hay @thc202 I'm having some trouble to get Zap to accept a source IP address. opening it up as in
`api.addrs.addr.name=.*`
is fine, but when I use `172.17.0.1` which is shown in the output from zap in container when I run your command, I just get:
`Request to API URL http://172.17.0.2:8080/ with host header 172.17.0.2 not permitted.`

[2018-01-23 00:28] thc202 commented on #4027
Right, you also need to add the address ZAP is listening to (`172.17.0.2`), ZAP also/now validates the host header. [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsApi#addresses-permitted-to-use-the-api

[2018-01-23 00:52] thc202 commented on #4027
It uses the same key (that's why `-config api.addrs.addr.name=172.17.0.*` worked, as it was including both).

[2018-01-23 04:13] binarymist commented on #4027
Oh, right. Thanks, this is what I was looking for then: `-config api.addrs.addr.name=172.17.0.[1,2]`
Is this documented anywhere other than source code? If not, do we want it documented somewhere?
Here: https://github.com/zaproxy/zaproxy/wiki/Docker
Here: https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsApi#addresses-permitted-to-use-the-api
and possibly Here: https://github.com/z

[2018-01-23 09:40] stijnvancrombrugge commented on #2593
I'm facing the same issue in version 2.7. Any updates on this ?

[2018-01-23 09:43] psiinon commented on #4027
Its in this FAQ: https://github.com/zaproxy/zaproxy/wiki/FAQapikey but maybe we need to include it elsewhere too

[2018-01-23 18:30] thc202 commented on #2021
I think it's OK to close the issue with the latest changes/versions. This can now be achieved (by default [1]) with any view (e.g.`/core/view/version/`). Thoughts?

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsApi

[2018-01-23 18:35] thc202 commented on #1560
Yes, that's correct. The response should contain the contents for the user selected.

Closing, per previous comment the authentication was working (and all questions seen to be answered).

[2018-01-23 18:35] #1560 closed

[2018-01-23 20:55] kingthorin commented on #2021
Agreed

[2018-01-23 21:37] binarymist commented on #4027
It's there for hosts that "_connect to the API_", but don't think it says that the interface that Zap is bound to must also be specified, unless I'm just missing it?

[2018-01-23 23:50] thc202 opened #4301 "Users' credentials not updated after loading an authentication script"
Steps to reproduce the issue:
1. Run ZAP;
2. Load/create the following (two) authentication scripts:
Auth1.js:
[code]
Auth2.js
[code]
3. Set up context authentication with the script `Auth1.js` and add a user;
4. Load the script `Auth2.js` and note that the user created is still requiring/using the old field names, which would fail when authenticating.

Remarks:
Ideally the (ZAP) user should be no

[2018-01-23 23:51] thc202 opened #4302 "GUI freezes while adding/removing scripts through the API"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/8SKAQnXy6z4/discussion

Steps to reproduce the issue:
1. Run ZAP (with GUI);
2. Add and remove (several times) a script through the API;
3. Note that ZAP GUI froze, a thread dump indicates that the EDT and an API request are deadlocked:
[code]
(VisualVM  thread dump.)

Remarks:
It might not happens always but h

[2018-01-23 23:55] thc202 commented on #2021
Closing, per previous comments.

[2018-01-23 23:55] #2021 closed

[2018-01-24 00:53] FastNinja commented on #4269
@thc202 great job! it works!

[2018-01-24 06:58] testerrrrrr opened #4304 "Bad Format (bad_format) API"
Hello,
I am using ZAP php class, When I tried to execute it I am getting Bad Format (bad_format), When I checked the logs I found the following:

[24-Jan-2018 07:30:42 Europe/Berlin] PHP Warning:  file_get_contents(http://localhost:8085/zap/JSON/spider/action/scan/?url=http%3A%2F%2Fexample.com%2F&amp;apikey=MYAPIKEY): failed to open stream: HTTP request failed! HTTP/1.1 400 Bad Request
 in /Applic

[2018-01-24 06:59] testerrrrrr commented on #4304
<img width="1273" alt="screen shot 2018-01-24 at 9 57 36 am" src="https://user-images.githubusercontent.com/6566816/35318637-38f4bb6c-00ed-11e8-9538-5709429f5cb8.png">

[2018-01-24 07:06] testerrrrrr commented on #4304
It turns out that the PHP class using old API, 2.4.3 and the OWASP ZAP I am using is 2.7.
Someone needs to update the class.

[2018-01-24 09:19] psiinon commented on #4304
The PHP client is not officially supported by the ZAP team.
We would be happy to adopt it, but would need someone with PHP experience to help us maintain it.
If you're that person then please let us knoe :)

[2018-01-24 09:19] #4304 closed

[2018-01-24 10:22] varshav21 commented on #4277
I am a beginner and I would like to take on the issue.Can anybody give me suggestions on how to approach this issue?

[2018-01-24 10:33] psiinon commented on #4277
@varshav21

1. Find the dialog in the UI which allows you to add break points
1. Search for some of the text in the dialog in the src folder
1. Make a note of the i18n key
1. Search for the i18n key in the src folder

You'll hopefully now have found the relevant code - have you got that far yet?

[2018-01-24 10:58] kingthorin commented on #2528
Changing title, removing second part since it's a duplicate.

[2018-01-24 12:35] thc202 commented on #4302
Fixed in zaproxy/zap-extensions#1300.

[2018-01-24 12:35] #4302 closed

[2018-01-24 13:42] varshav21 commented on #4277
Thank you so much for your response, I believe I have found the relevant code.

[2018-01-24 13:57] juhakivekas opened #4305 "Add a tab layout that does not show the sites tab"
On smaller screens and when not using fullscreen, showing requests side-by-side or using the Requester tab gets very cluttered because the Sites tab always takes up some space. The enhancement would be addition of a new layout to the top bar.

Visual hint: https://imgur.com/a/uKG6o

[2018-01-24 15:34] kingthorin commented on #4305
Perhaps the site tree could use a collapsible pane/panel?

[2018-01-24 15:40] kingthorin commented on #3362
@AjCaroline do you have further details on this? Can you answer the previous questions?

[2018-01-24 15:59] kingthorin commented on #1883
From my reading they are still tested but then excluded afterwards.

[2018-01-24 16:15] kingthorin commented on #1366
Code ref: https://github.com/zaproxy/zap-extensions/blob/master/src/org/zaproxy/zap/extension/ascanrules/TestServerSideInclude.java

[2018-01-24 19:53] psiinon commented on #4277
Where have you found the text in the dialog? Can you post a link to it here?

[2018-01-24 20:59] kingthorin commented on #4277
All strings in the ZAP UI are internationalized (translated) into various other languages. These appear in the various messages.properties files.

So if you take a few unique word from the UI (such as those displayed in the add breakpoint dialog or panel), search the code base for it, you'll find a messages.properties entry like: `core.view.add.breakpoint.label=Add Breakpoint` (or whatever....that

[2018-01-24 23:54] thc202 commented on #3978
Released in version 29 of Active scanner rules add-on.

[2018-01-24 23:54] thc202 commented on #3979
Released in version 29 of Active scanner rules add-on.

[2018-01-24 23:54] thc202 commented on #4211
Released in version 29 of Active scanner rules add-on.

[2018-01-24 23:56] thc202 commented on #4215
Released in version 22 of Passive scanner rules add-on.

[2018-01-25 00:01] thc202 commented on #1354
Released in version 18 of Passive scanner rules (beta) add-on and version 23 of Active scanner rules (beta) add-on.

[2018-01-25 00:02] thc202 commented on #4085
Released in version 23 of Script Console add-on.

[2018-01-25 00:02] thc202 commented on #4163
Released in version 21 of Ajax Spider add-on.

[2018-01-25 03:30] brittag commented on #4168
Curious to follow up on this false positive that we're seeing - it comes out as a High risk finding, despite flagging on static text in a Javascript file.

That static file includes the strings `etc`, `bin`, and `boot` as standalone words, including because they're keywords in syntax highlighting functions.

If a comparison check is impractical (I understand), I think checking for specific longer

[2018-01-25 04:42] varshav21 commented on #4277
I think this is the i18n key
break.api.action.addHttpBreakpoint=Adds a custom HTTP breakpont. The string is the string to match. Location may be one of\: url, request_header, request_body, response_header or response_body. Match may be\: contains or regex. Inverse (match) may be true or false. Lastly, ignorecase (when matching the string) may be true or false.
I've found the key in  zaproxy/src/or

[2018-01-25 06:19] juhakivekas commented on #4305
That sounds good too. Since people tend to have quite strong feelings about what layout is the best, it could be an option to make other panes/panels collapsible too.

I’m not very good at swing, but I’ll look into the options

[2018-01-25 08:07] codesahil commented on #4105
Would like to work on this project any ideas or steps to how to achieve . @psiinon

[2018-01-25 09:17] psiinon commented on #4105
@codesahil : Start one step at a time.
As mentioned above "A good start would be flagging pages with forms that have either one or two password fields - one could imply login and 2 could imply registration."
Passive scan rules would be good for that, so try writing one of those. Then try to find a good range of test sites / apops and see how well it works against them.

[2018-01-25 09:24] psiinon commented on #4277
Thats for the API, which isnt what you want in this case.
You need to be very specific when searching for strings - I cant see "Adds a custom HTTP breakpont" in the desktop UI anywhere, its only in the API UI.
A better string to look for is the title of the popup: "Add Break Point"

[2018-01-25 09:44] thc202 commented on #4305
If you just want to collapse them (instead of moving them to other place) you can set the `JSplitPane`(s) `splitVert`/`splitHoriz` (in `WorkbenchPanel`) to have `oneTouchExpandable` enabled (not sure if that works in macOS).

[2018-01-25 10:02] thc202 commented on #3383
Fixed in zaproxy/zap-extensions#1301.

[2018-01-25 10:02] #3383 closed

[2018-01-25 11:09] daudmalik06 opened #4311 "Intercept Like Burp suite"
Can we have intercept option like burp suite , i mean when intercept is on it should wait for user to click on forward to send and it should add automatically other requests in queue ,
if intercept is off it should do as it's doing now,

the same way in which burp suite's proxy works.
thanks

[2018-01-25 11:22] psiinon commented on #4311
You mean like the Break tab: https://github.com/zaproxy/zap-core-help/wiki/HelpUiTabsBreak or something different?

[2018-01-25 12:41] daudmalik06 commented on #4311
@psiinon  awesome ,
this is what i was searching for
you guys always rock , just love zap ,
thanks

[2018-01-25 12:43] #4311 closed

[2018-01-25 12:47] psiinon commented on #4311
@daudmalik06 out of interest, where did you look for the 'intercept' functionality? Might help us improve the docs ;)

[2018-01-25 12:48] kingthorin commented on #4105
@Tisa-Segovic are you still planning on working on this?

[2018-01-25 12:52] daudmalik06 commented on #4311
![burpsuiteintercept](https://user-images.githubusercontent.com/3526480/35389097-a933c0f0-01d6-11e8-906c-9112b438886f.JPG)

this is what i was looking in zap ,
before i've always used burp suite that's why i wasn't aware of break points ,

by the way i think break point is more accurate term for this,

[2018-01-25 12:57] psiinon commented on #4311
yeah, I'm aware of the burp functionality ;)
I was wondering if you looked at any ZAP docs - we mention it in the Getting Started Guide

[2018-01-25 15:04] thc202 commented on #1481
This was addressed in zaproxy/zap-extensions#696.

Released in version 18 of Script Console add-on.

[2018-01-25 15:04] #1481 closed

[2018-01-25 15:58] thc202 commented on #3383
Released in version 24 of Script Console add-on.

[2018-01-25 15:58] thc202 commented on #4302
Released in version 24 of Script Console add-on.

[2018-01-26 14:54] kingthorin commented on #3287
Closing per above.

[2018-01-26 14:54] #3287 closed

[2018-01-28 22:10] juhakivekas commented on #4000
I made an addon over the weekend that colors items based on tags. It mostly covers the automated use-cases mentioned, and should be pretty generic since tags can be added manually, by passive scanners, or by scripts. I'll see how this works at its current state and figure out improvements later.

A current workflow could be like this:
- make a pasisve scanning script to identify interesting messag

[2018-01-28 23:11] kingthorin commented on #4000
Nice work.

Ref: https://github.com/zaproxy/zap-extensions/compare/alpha...juhakivekas:neonmarker

[2018-01-28 23:30] kingthorin commented on #2279
This issue seems to have been resolved at some point:

![image](https://user-images.githubusercontent.com/7570458/35488550-f7293de2-0458-11e8-9a7c-3b22ea132f91.png)

Screenshot above based on ascan release v29.

Closing: wontfix, insufficientevidence.

[2018-01-28 23:30] #2279 closed

[2018-01-30 07:59] i4s-pserrano commented on #2593
I have the same issue here! Version 2.7

[2018-01-30 14:10] meshinator opened #4326 "how to configure ZAP for scanning when the authentication token is generated from different server"
In my application, the authentication token is generated from different server. so when I use the proxy to get the request in ZAP i get 3 branches under the sited, 1. branch a ( FRONT END :local host (where I login) ), 2. branch b ( server : server which generates authentication token, JSessionId ,nonce, etc ) , 3. branch c (back end, which uses the authentication , handles the request , and runs

[2018-01-30 23:06] thc202 opened #4327 "ZAP relies on default locale when it shouldn't"
Throughout the codebase ZAP is relying on default locale when it shouldn't, which might lead to issues. For example, in Turkish the letter `I` is converted to `ı` not `i`, does it would fail to match the expected string:
[code]
or
[code]

ZAP
Version 2.7.0 (and older).

[2018-01-31 01:52] sbzo opened #4331 "Allow to show Request and Response in the same tab"
Hi,

I think would be great if requester and request tab could share the same response tab. For laptops with a small screen, I have to change from normal layout to full layout when I'm working with the requester.

Best regards,

RLobo

[2018-01-31 04:59] varshav21 commented on #4277
I'm very sorry for the late reply and I've found the relevant code in  zaproxy/src/org/zaproxy/zap/extension/brk/impl/http/BreakAddEditDialog.java . How do I proceed further?

[2018-01-31 07:05] FastNinja opened #4332 "Struggling to Pass Authentication Header that contains space (for API ZAP scan)"
Hi There,
I am trying to pass Authorization header as described here:
https://zaproxy.blogspot.com.au/2017/06/scanning-apis-with-zap.html

However, my header must contain space i.e.`Bearer TOKEN_VALUE`
I noticed it seems that space is treated as end of value and my application receives only `Bearer `

[code]
I think I need to escape space somehow so it is taken into account as value. I tried to us

[2018-01-31 09:03] thc202 commented on #4277
Cool, you now need to add the fragment check in the method that's doing the validations.

[2018-01-31 12:03] Naramsim opened #4333 "Include ID of the HTTP message in returned HAR"
Hello, is it intentional to not have in HAR messages the id attribute?

It is strange because we can query HAR messages by id (for example at this url: http://localhost:8080/OTHER/core/other/messageHar/?formMethod=GET&id=1) but inside the HAR message returned there is no id mentioned anywhere

Thanks

[2018-01-31 12:21] thc202 commented on #4333
It was but there's no reason we can't have the ID of the message in each entry.

[2018-01-31 12:51] thc202 commented on #4332
Right, escaping the space (or quote the `-config` value) would be the way to go but the script is not taking that into account (yet).

[2018-01-31 12:53] Naramsim commented on #4333
Good to see that you have put it in the 2.8 milestone

[2018-01-31 15:07] juhakivekas commented on #4331
I see this has an add-on tag, but as this issue also affects a few other views (eg. the script console) it might be a good idea to also look at this from a different angle.

Instead of splitting the main panel into two panels for which the other always shows the response tab, what if instead the non-split Request and Response tabs would be combined into one “Response&Request” tab. This way the mai

[2018-01-31 15:33] kingthorin commented on #4331
I'd labelled it "add-on" because `Requester` was mentioned specifically and is an addon.

Whoever decides to tackle the issue can feel free to change the labels, not a major deal to me.

[2018-01-31 16:36] thc202 commented on #4331
@sbzo could you provide more details on the use case/workflow?

[2018-01-31 17:10] juhakivekas commented on #4331
@kingthorin I just wanted to suggest that this could be fixed in the core :)

Here's some "pictures" about my proposed solution. The default tabbed view:
[code]
The current side-by-side view:
[code]
A more useable side-by-side view:
[code]

This approach would give more space in other situations too (scripting) and also fix some resizing issues #3961

[2018-01-31 17:29] kingthorin commented on #4331
@juhakivekas great, collaboration is wonderful! No such thing as a bad idea :zap: I was just trying to fill in any gap as to why I'd labelled it that way etc. I'm all for a different or more holistic solution.

[2018-01-31 18:16] AndyStatic opened #4337 "Request body not sent with PUT method in Zest scripts"
Currently ZEST script recorder/editor allows GET, POST and custom method via variable
If I add custom method via variable as PUT, and part of this PUT request will be body, this body is not picked up during zest scrip run. Body only picked up for POST requests.

If I will run failed PUT via owasp zap request/response editor, it will be successfully executed.

You can see that content is not picked

[2018-01-31 18:17] thc202 commented on #4337
Which version of Zest script add-on are you using?

[2018-01-31 18:23] thc202 commented on #4337
Also, which script type?

Yes, the missing body is caused by an issue in the Zest library.

[2018-01-31 18:24] AndyStatic commented on #4337
"about": "This is a Zest script. For more details about Zest visit https://developer.mozilla.org/en-US/docs/Zest",
  "zestVersion": "0.3",

[2018-01-31 18:28] kingthorin commented on #4337
You can find the add-on version info via:

1. Hovering your cursor over the add-on's entry in Marketplace window.
2. Choosing "Support Info..." from the "Help" menu within ZAP.

[2018-01-31 18:30] AndyStatic commented on #4337
[id=zest, version=27.0.0]]

[2018-01-31 18:35] thc202 commented on #4337
Thanks!

[2018-01-31 18:38] AndyStatic commented on #4337
thank you for the awesome tool

[2018-01-31 22:20] sbzo commented on #4331
Excellent approach @juhakivekas, this solution looks acceptable and keep all cleaner.

Hope to see it in soon implementations of ZAP :)

Thanks, @kingthorin for the follow-up.

[2018-02-01 01:20] kingthorin commented on #749
https://github.com/zaproxy/zaproxy/issues/748

[2018-02-01 01:31] kingthorin commented on #1161
I don't seem to see this option in the Edit menu any more. Was it removed at some point? Or is some particular config required to see/enable it?

I do not it is still listed in the Help content.

[2018-02-01 01:46] kingthorin commented on #1161
I guess it's over here -> `Model.getSingleton().getOptionsParam().getConnectionParam().isHttpStateEnabled()`

[2018-02-01 02:39] kingthorin commented on #1366
It seems that this issue can be resolved by simply including `DOTALL` in the `patternSSIUnix`.

I also noted during testing that the alert's "attack" element seems to actually be "evidence".
![image](https://user-images.githubusercontent.com/7570458/35658403-217d718a-06cf-11e8-9b7e-8fd596bd9a6d.png)

[2018-02-01 09:54] thc202 commented on #1161
The option was moved to other place #3394 (see also, #4280).

[2018-02-01 10:50] kingthorin commented on #1161
Since it's a global option now shall we just remove the button from the resend dialog?

[2018-02-01 10:58] psiinon commented on #1161
Not if it still works (and if it doesnt then we should fix it) - being able to override a global option from a specific dialog is really useful

[2018-02-01 11:04] kingthorin commented on #1161
Ok fair enough.

[2018-02-01 11:04] psiinon commented on #1366
Yeah, that looks wrong.

[2018-02-01 11:06] thc202 commented on #1161
The behaviour between the option and the dialogue is still the same (it was already global, the difference is that the option state is now persisted).

[2018-02-01 11:13] psiinon opened #4339 "Option to launch browsers with specific profile"
It would be really useful to have an option to launch browsers with a specific profile (at least those that support them, like Firefox and Chrome).
I'd expect the most common use case would be Browser Launch' where people have specific add-ons installed that they want to use.
But there could also be cases where it would be useful for things like Ajax Spidering (although I think we'd only be able t

[2018-02-01 11:13] kingthorin commented on #1161
Will it be confusing to users if they disable a global setting while sending a single request?

[2018-02-01 11:23] #4333 closed

[2018-02-01 11:39] psiinon commented on #4331
We already have some options for reconfiguring the UI, so I think it makes sense for us to have more if thats what people want.
Probably not something that I'd work on, but v happy for anyone else to look at it.

[2018-02-01 11:49] psiinon commented on #1161
The resend dialog shouldnt change the global setting, that would be confusing. It should just override it for the requests sent from the dialog.

[2018-02-01 12:05] kingthorin commented on #1161
Will look at it again and also see if I can find somewhere we do that overriding.

[2018-02-01 12:17] thc202 commented on #1161
That's being done in `org.parosproxy.paros.extension.manualrequest.http.impl.HttpPanelSender`.

[2018-02-01 12:23] kingthorin commented on #1161
Thanks @thc202!

[2018-02-01 15:10] kingthorin commented on #1161
Ok so looking at HttpPanelSender as @thc202 suggested, it does seem the value is being used correctly:
https://github.com/zaproxy/zaproxy/blob/d61c34a0db69380def911e035f20992ba7ce78f0/src/org/parosproxy/paros/extension/manualrequest/http/impl/HttpPanelSender.java#L214-L215

I guess the state of the button was simply out of sync, for which I believe I have a fix. Overriding `windowOpened` didn't se

[2018-02-01 23:02] thc202 commented on #4337
Being handled in mozilla/zest#148.

[2018-02-02 12:27] #1366 closed

[2018-02-02 14:39] kingthorin commented on #4230
I think we can address this by doing a pre-check on the original response, as was done here: https://github.com/zaproxy/zap-extensions/pull/1342/files

[2018-02-02 14:47] kingthorin commented on #4231
For the example in which you provided full alert details if you check the "otherinfo" you can see that injecting `AND 1=1 --` (a always true condition) produced a different result vs. injecting `AND 1=2 --` (an always false condition).

[2018-02-02 15:47] thc202 commented on #4230
+1, same for #4168.

@brittag do you know what was the RTT for the timeout?

[2018-02-02 16:05] kingthorin commented on #4230
Good point, to be clear the pre-check would only resolve the get-help type issue... not the image issue.

[2018-02-02 20:20] brittag commented on #4230
That all sounds good - thank you!

I don't have a record of what the RTT was for the image timeout, but it's totally fine with me to set that aspect aside as out of scope of this issue. It was super easy for me to fix by just reducing the image size. :)

[2018-02-02 20:30] kingthorin commented on #4230
@brittag thanks for following up!

[2018-02-05 01:21] kingthorin commented on #1478
I don't think this issue exists anymore. I did notice that if you purposefully size the window too small it doesn't add a horizontal scroll but I'm not sure that matters with the majority of modern systems.

[2018-02-05 09:28] #4230 closed

[2018-02-05 09:33] #4280 closed

[2018-02-05 12:07] #4168 closed

[2018-02-05 15:10] VorTechS opened #4348 "OWASP ZAP 'stuck' 'Shutting down server and database' with large sessions"
On several occasions now, I've been running OWASP ZAP (on port 8081) against debug projects in Visual Studio 2015 and when I try to close the application after marathon sessions (over a period 2-3 days) that result in session files in excess of 2.x GB in size, the application sits with a (modal) dialog of 'Shutting down server and database'.

There's usually a flurry of disk activity which can go

[2018-02-05 15:14] thc202 commented on #4348
Could you check the zap.log [1] file? I guess it's hitting a out of memory error.

[1] https://github.com/zaproxy/zaproxy/wiki/FAQconfig

[2018-02-05 15:28] VorTechS commented on #4348
Sure.  Here's a sample of the later entries in the last ZAP log file (that's not the current one as I started a new session just a few minutes ago):

[code]

It may or may not be related, as they look like they may be related to when I was browsing to the API to look at extracting the alerts out (which I subsequently found using the Reporting option)

[2018-02-06 17:13] thc202 commented on #1366
Released in version 30 of Active scanner rules add-on.

[2018-02-06 17:13] thc202 commented on #4230
Released in version 30 of Active scanner rules add-on.

[2018-02-06 17:14] thc202 commented on #4168
Released in version 30 of Active scanner rules add-on.

[2018-02-07 03:39] tanujain opened #4353 "zap api Fails at spider scan stage"
I am trying to use ZAP API for ZAP version 2.7.
I have installed python-owasp-zap-v2.4 on the machine and using dummy code as given https://github.com/zaproxy/zaproxy/wiki/ApiPython but I am getting an error as shown below. I am not able to figure out the issue. Could anyone suggest if this is a problem with the latest version as is it something else?

STACK TRACE:
Traceback (most recent call last

[2018-02-07 04:03] #4353 closed

[2018-02-07 05:54] FastNinja opened #4354 "Zap2Docker API Scan - how to set the policy level (default is API-Minimum)"
How to set up Scan Policy?

I can see that it uses the minimal policy:
`018-02-07 05:17:41,009 Active Scan http://myHosthere:port/ with policy API-Minimal`

how to pass different level - at least how to match what UI is currently doing in Standard Mode.
As UI reported more vulnerabilities that Docker scan.

[2018-02-07 10:33] thc202 commented on #4353
Great, thanks for letting us know.

For the record, there's a FAQ entry with more details: https://github.com/zaproxy/zaproxy/wiki/FAQapikey

[2018-02-07 11:54] thc202 commented on #4354
At the moment it's not possible to specify a policy file with a command line argument. The scanners can be enabled/disabled with the configuration file though:
https://github.com/zaproxy/zaproxy/wiki/ZAP-API-Scan#configuration
If you also want to control the threshold/strength of the active scanners you need to override the policy instead, for example:
[code]
(If using a weekly/live image it shoul

[2018-02-07 14:42] kingthorin commented on #3247
Removing false negative label per most recent response.

@Prakhash can you identify the tool or provide a link to some documentation or something. I'm unclear on what you're describing.

[2018-02-07 14:44] kingthorin commented on #2290
@patrickdemasson can you confirm that the quoted error is (was) displayed back to the user?

[2018-02-07 14:45] kingthorin commented on #1852
@spinkham did you ever get anywhere with this?

[2018-02-07 18:10] kingthorin commented on #434
https://www.javaspecialists.eu/archive/Issue092.html

[2018-02-07 18:41] thc202 opened #4356 "Internal Error while obtaining URLs through the API"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/nsjH7hEThh4/discussion

Steps to reproduce the issue:
1. Run ZAP;
2. Run the spider or proxy requests (anything that creates temporary Sites tree nodes);
3. Try obtain the URLs through the API, e.g. `http://zap/JSON/core/view/urls/`, and note that it returns an `Internal Error`, in the log there's an error:
[co

[2018-02-07 20:53] kingthorin commented on #1640
https://hub.docker.com/r/psiinon/webseclab/

[2018-02-08 00:24] zqa19 opened #4359 "Need The Capability to Import Alerts"
Hi,

We're using automated tests on ZAP proxy. But of course, to make this faster, we run tests in parallel.

So here's the problem, there will be multiple alert reports and a lot of duplication. This is why if alerts can be imported through ZAP API to be merged together would be helpful.

Thanks.

[2018-02-08 01:30] spinkham commented on #1852
No, sorry, has been on my list of things to do "right after this project" for a while...  The two hard parts getting going are where everything needs to change to add a new rule (which your commit here covers), and finding a minimal set of injections for each context that will reduce false negatives without adding too much false positive noise.  Since we already know the context for each injection

[2018-02-08 01:51] kingthorin commented on #1852
@spinkham I decided to tackle the specific issue outlined in the original part of the issue.

I totally get what you’re thinking of with your description in your reply. I think we have an open issue for some kind of field enumeration (which would attempt to identify character set accepted by various or all fields). It would be somewhat separate from the active scanner. An initial and as yet un-mer

[2018-02-08 03:36] FastNinja commented on #4354
Thanks for quick answer @thc202 ! How could I  create this file so it will reflect what UI is doing by default?

[2018-02-08 03:48] iam-strings opened #4360 "Filipino Translation thru GitHub"
Hi,

I would like to contribute on this project thru translation. I would like to translate the necessary files to Filipino thru GitHub in connection to Utopian Project. Utopian dropped the support in CrowdIn at the moment.

Hoping for your response.

Thanks..

[2018-02-08 05:41] spinkham commented on #1852
The data from such an extension would be really useful to an XSS scanner, but can't really solve the XSS scanner problem itself. For example, in the original example you added a test case for recently, the application was blocking "<script" but not "<img" or "<a".  Finding this difference requires knowing what characters are allowed, but also quite a bit more.

I think the general approach I outli

[2018-02-08 06:44] kingthorin commented on #1852
Ok, in that type of case maybe it leverages the active scan functionality but gets packaged seperately so that we can be clear that in some cases it might be quite chatty.

[2018-02-08 09:15] psiinon commented on #4360
I'm afraid this will not be possible - see https://github.com/zaproxy/zap-core-help/pull/165 for more details.
Note that it looks like Utopian will support Crowdin again soon - see https://steemit.com/utopian-io/@utopian-io/crowdin-loves-utopian

[2018-02-08 09:15] #4360 closed

[2018-02-08 09:37] psiinon commented on #4359
What do you mean by running tests in parallel?
Are you running multiple ZAP instances?
Can you explain in a bit more detail what you would like?

[2018-02-08 09:41] #1852 closed

[2018-02-08 09:45] zqa19 commented on #4359
Yes, we set up multiple ZAP instances as proxies for selenium tests.
Therefore, there are multiple alert files.

I've tried to use one ZAP instance for all test segments, but since all segments are using the same hostname, they can only be run one by one using proxy chain which takes half a day for a single build.

This is why I wish to have a way to merge reports from multiple ZAP instances.

[2018-02-08 09:54] zqa19 commented on #4359
Thanks Simon.

Good to know this.

Then I need to format the reports myself for the moment.

[2018-02-08 10:15] thc202 commented on #4354
The scan policies can be exported from the Scan Policy Manager dialogue. [1] If you also want to use the same configurations for the passive scanner (in case you changed the alert threshold), you can also use the `config.xml` file [2] when starting the image:
[code]
(Worth using a copy as the container will write to it.)

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsScanpolicymgr

[2018-02-08 11:02] thc202 commented on #4124
Fixed in zaproxy/zap-extensions#1113.

[2018-02-08 11:02] #4124 closed

[2018-02-08 13:50] ch1c0hacker opened #4363 "Web/AppServers like WebLogic, WebSphere N/A while defining Scan Context"
I believe ZAP doesn't have contextual test cases for Web/AppServers like WebLogic, WebSphere as those options aren't listed while defining Scan Context.

Please can you help me in case I'm missing something. Else, I believe this can be an enhancement.
![zap_observation](https://user-images.githubusercontent.com/36267098/35976114-10d7bd04-0d05-11e8-91d9-aed196e70c08.jpg)

[2018-02-08 13:54] psiinon commented on #4363
The reason we dont have those is (probably) because none of the rules have special cases for these app servers.
Be great to have those sort of special cases, but until we do theres not much point adding the options in the Technology panel :/
PRs always welcome ;)

[2018-02-08 14:35] iam-strings commented on #4360
okay sir. thanks!

[2018-02-08 15:52] thc202 commented on #4124
The add-on, Json view, is now available in the marketplace.

[2018-02-08 16:48] juhakivekas commented on #4124
Yay!

[2018-02-08 16:51] thc202 opened #4364 "Allow to obtain context's URLs through the API"
From OWASP ZAP Developer Group: https://groups.google.com/d/topic/zaproxy-develop/HaQLAcSOZhI/discussion

It should be possible to obtain the URLs of a context through the ZAP API (similar to UI #3253).

[2018-02-08 16:52] thc202 opened #4365 "Allow to specify a name for session snapshot through the API"
From OWASP ZAP User Group: https://groups.google.com/d/msg/zaproxy-users/5HBCwJZ90sU/Ncph3QvWBAAJ

The core action `snapshotSession` does not allow to specify a name for session snapshot.

[2018-02-08 17:55] psiinon commented on #1852
@spinkham can you give us (sanitized) examples of vulnerabilities that ZAP misses? That way we can improve ZAP to find them:)
Dont worry too much about the request limits - we can implement plenty of extra checks at 'high' or 'insane' attack strengths.

[2018-02-08 18:35] kingthorin commented on #4365
Also somewhat related to:

- https://github.com/zaproxy/zaproxy/pull/3186
- https://github.com/zaproxy/zaproxy/issues/2618

[2018-02-08 21:49] Sandvasi commented on #3735
Hey ,
Is this issue resolved ?
I am still seeing the same issue in the ZAP tool .
https://mysite.com/polyfills.dll.js?query=c%3A%2F

Parameter | query
Attack | c:/
Evidence | etc
Source : Active (6 - Path Traversal)

Thanks

[2018-02-08 21:50] thc202 commented on #3735
Which version of Active scanner rules add-on?

[2018-02-08 21:53] Sandvasi commented on #3735
OWASP ZAP Version: 2.7.0
[id=ascanrules, version=28.0.0]

[2018-02-08 21:56] thc202 commented on #3735
This should be fixed in the latest version (30), could you try with that one? [1]

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsManageaddons

[2018-02-09 00:27] bjamesvERT opened #4368 "Exclude from Context not used by active scan"
Version 2.7.0, the context "Exclude from Context" URL patterns appear to have no effect on Active scans.

I've tried several very simple patterns (e.g.: ".\*source.\*") and still see many URLs with values like ".../source/... etc." in the `Active Scan` results tab.

[2018-02-09 00:29] bjamesvERT commented on #4368
(this may have been what #4133 was referencing - e.g.: more then just terminology/conflating Context-level exclude with the Active Scan level exclude options).

[2018-02-09 00:39] thc202 commented on #4368
Yeah, reading that again it seems to imply that.

[2018-02-09 09:19] #4368 closed

[2018-02-09 23:37] thc202 commented on #4149
This happens with all types of messages (binary, text), after obtain, change, and send the message. The following patch addresses the issue:
[code]

[2018-02-11 14:29] halokaya67 opened #4375 "Turkish Translation"
I want to help this project by translating it into turkish. I'm turkish and 25 years old. I'm working as an english teacher in a school. I think i can help. Please just show me which file should i translate and you will see. You won't regret because i take my job serious.

[2018-02-11 15:41] kingthorin commented on #4375
Thanks for the offer, all our translations are done by volunteers via crowdin:
https://crowdin.com/project/owasp-zap
https://crowdin.com/project/owasp-zap-help

[2018-02-11 15:41] #4375 closed

[2018-02-12 09:35] #4356 closed

[2018-02-12 14:43] p3r1c0 opened #4378 "ZAP Error [java.net.SocketTimeoutException]: Read timed out"
Hi,
I'm developing a project for my company that consists in improve the SDLC to adding a new step in the development procedure that consists in use spider and scan in the testing proces. I have the following error when try to connect to docker through an external IP address:

933119 [ZAP-ProxyThread-168] WARN org.parosproxy.paros.core.proxy.ProxyThread  - Failed to read http://b6b7c537.ngrok.io/

[2018-02-12 14:50] thc202 commented on #4378
Closing, duplicate of #3594. In the meantime If you need to access the ZAP API with external IP you can do so by proxying through ZAP and issue the requests with `zap` domain.

[2018-02-12 14:50] #4378 closed

[2018-02-12 15:05] p3r1c0 commented on #3594
Exist any solution to this problem? I have the same problem (reported in: #4378 ).

[2018-02-12 15:10] thc202 commented on #3594
As mentioned in the other issue, it's still possible to access the ZAP API with the `zap` domain.

[2018-02-12 17:31] SyCode7 commented on #4262
@thc202 I have tried your recommendations but there is no joy yet. I downloaded the core and manually installed openapi extension. I have the following errors when i attempt importing an openapi json file :
`
16532 [ZAP-BootstrapGUI] ERROR org.zaproxy.zap.extension.autoupdate.ExtensionAutoUpdate  - Unable to load the configuration
org.apache.commons.configuration.ConfigurationException: Unable to

[2018-02-12 23:04] thc202 commented on #4149
Fixed in zaproxy/zap-extensions#1362.

[2018-02-12 23:04] #4149 closed

[2018-02-13 08:58] p3r1c0 commented on #3594
Hi @thc202 ,
I'm sorry but I don't get understand what you mean. Could you explain it with more details?
Regards,

[2018-02-13 09:41] thc202 commented on #3594
Sure, if you proxy through ZAP's public address you can access the API using `http://zap/`, the same way you can do locally (most of the API clients should be already proxying and using the `zap` domain).

[2018-02-13 09:44] #4364 closed

[2018-02-13 10:55] #4365 closed

[2018-02-13 12:58] thc202 commented on #3693
Fixed in zaproxy/zap-extensions#1365.

[2018-02-13 12:58] #3693 closed

[2018-02-13 13:34] omerlh opened #4383 "JAVA_VERSION issue on Docker bare image"
Today, suddenly the Zap Docker bare image failed to start due to the following error:
[code]
Those are the relevant lines from `zap.sh`:
[code]

The image is based on Java alpine image. The [image](https://github.com/docker-library/openjdk/blob/master/8-jdk/alpine/Dockerfile) defines the following env vars:
[code]
The `JAVA_MAJOR_VERSION` is using `JAVA_VERSION` and try to extract from it the firs

[2018-02-13 13:58] thc202 commented on #4383
What's the output of `docker run --rm -i owasp/zap2docker-bare java -version`? (Or the image you are using.)
`JAVA_VERSION` is being defined in the script,

[2018-02-13 14:04] thc202 commented on #3693
Released in version 19 of Passive scanner rules (alpha) add-on.

[2018-02-13 14:15] omerlh commented on #4383
Yeah, I just found this. It was just one line above that I haven't read 🤦‍♂️ .
The real issue was because `java -version` failed with the error `Error occurred during initialization of VM`. Deleting all data and restarting docker solve it...

[2018-02-13 14:27] thc202 commented on #4383
Great! Closing per previous comment.

[2018-02-13 14:27] #4383 closed

[2018-02-13 23:24] thc202 opened #4387 "Internal Error while saving the session (again) through the API"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/5HBCwJZ90sU/discussion

Steps to reproduce the issue:
1. Run ZAP;
2. Save the session through the API (or the UI);
3. Try save the session again in another location (through the API), note that it returns an `Internal Error`. With newer (weekly) releases there's an error in the log:
[code]

ZAP
Version 2.7.0 (a

[2018-02-13 23:25] thc202 opened #4388 "Allow to configure the irrelevant parameters for the Spider"
From IRC channel: https://mozilla.logbot.info/websectools/20180207

It should be possible to configure the irrelevant parameters (e.g. session tokens)  when canonicalising the URLs found during the spider scan, currently they are hardcoded:
https://github.com/zaproxy/zaproxy/blob/fc0cbcbad2ad982de35060260e2c2ac6685f9ee3/src/org/zaproxy/zap/spider/URLCanonicalizer.java#L60-L64
and
https://github.co

[2018-02-14 02:39] kingthorin opened #4391 "Enhancement: Params Tab - Multipart Form Params"
I see that this came up in IRC the other day: https://mozilla.logbot.info/websectools/20180212

It's great that one of our users scripted a way around the current limitation, however, it may as well actually be part of the tool.

Now that the multipart form params handling has been revised (various recent PRs [1][2]). It seems pretty easy to add those params.

My question is how would we want the

[2018-02-14 06:06] CaptainFreak commented on #3572
This will be my first issue to tackle. I looked through codebase and was not able to figure out the flow of execution and the place where this should be addressed. Any directions towards understanding the project are appreciated. Looking forward to become a regular contributor.

[2018-02-14 09:09] psiinon commented on #3572
@CaptainFreak have a look at this blog post: https://zaproxy.blogspot.co.uk/2014/04/hacking-zap-4-active-scan-rules.html
Its a bit old now, but still pretty accurate.
There are lots of examples in the various zap_extensions branches (master, beta and alpha) for you to look at, and feel free to ask more questions here :)

[2018-02-14 09:12] psiinon commented on #4391
yeah, that sounds good.

[2018-02-14 09:13] #4387 closed

[2018-02-14 09:39] AleksandrPea commented on #4388
@thc202
Hi! I'd like to work on this issue. Please, confirm or reject my suggestions: to retrieve session tokens we may use `ExtensionHttpSessions.getHttpSessionTokensSet(String site)` instance of which is located in `CoreFunctionality`?

[2018-02-14 09:52] thc202 commented on #4388
The extension would be obtained from the `ExtensionLoader`, e.g.:
[code]
but might worth starting by changing `SpiderController`/`URLCanonicalizer` to allow to use custom parameters (then allow the user to configure them and include the ones from the HTTP Sessions)?

[2018-02-14 10:13] AleksandrPea commented on #4388
Ah, ok. Therefore, firstly we need to add additional spider param(class `SpiderParam`) (e.g. spider.irrelevantParameters) that would be defined somewhere in config.xml to allow to use custom parameters, don't we?

[2018-02-14 10:18] thc202 commented on #4388
Yeah, that's where the configured parameters would be.

[2018-02-14 10:21] juhakivekas commented on #3572
A thing that I found useful is to use the scripting interfaces to get famialiar with the internals of scanning. The Active Scanner scripts give a good picture of how a scanner written in Java should be written. Also for the first experiments this makes your development cycle extremly fast and agile since you won't need to build between testing and coding.

[2018-02-14 10:21] Naramsim opened #4392 "Zest dialogues not properly shown (sometimes)"
Hello I was trying to modify a Zest script, so I double-clicked a rule under an ELSE statement and the output was

![before](https://user-images.githubusercontent.com/8996268/36199223-272a1548-1179-11e8-92be-417bde43f20b.PNG)

Then I tried to resize the window and everything worked normally

![after](https://user-images.githubusercontent.com/8996268/36199214-1fc6ede4-1179-11e8-8ec1-05ae270adf8d.PN

[2018-02-14 10:31] thc202 commented on #4391
How about using other type than `form` (to differentiate them)?

[2018-02-14 11:06] kingthorin commented on #4391
Sure, I can add another type as well.

[2018-02-14 11:33] AleksandrPea commented on #4388
Does this feature need changes in UI as well?

[2018-02-14 11:33] psiinon commented on #3572
👍

1. Create a very simple test page with the vuln
1. Create a test ascan rule
1. Create a policy with just that rule
1. Run a scan against just that page with that rule
1. Keep hacking the script until it finds the vuln
1. Then start looking at more variations :)
1. Finally convert the script to java (although thats not mandatory;)

[2018-02-14 11:39] thc202 commented on #4388
Yes, it should be possible to configure them through the UI (Options and Spider dialogue) and also the ZAP API.

[2018-02-14 13:11] kingthorin opened #4393 "Enhancement: Allow "Tools" (eg: Fuzzer) to opt-in to passive scanning on a per-scan basis"
Further to:
https://github.com/zaproxy/zaproxy/issues/2528
https://github.com/zaproxy/zaproxy/pull/4318

Allow "Tools" (eg: Fuzzer) to opt-in to passive scanning on a per-scan basis.

[2018-02-14 13:17] kingthorin opened #4394 "Enhancement: Make Passive scanner thread safe"
Further to:
https://github.com/zaproxy/zaproxy/issues/2528
https://github.com/zaproxy/zaproxy/pull/4318
and along with:
https://github.com/zaproxy/zaproxy/issues/4393

To facilitate further improvements and different usage models the passive scanner should be made thread safe.

[2018-02-14 13:25] kingthorin commented on #4348
@VorTechS at what point are you persisting the session? Do you have "Compact (on exit)" set?

https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsPersistsession
https://github.com/zaproxy/zap-core-help/wiki/HelpUiTlmenuFile#persist-session
https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsDatabase#compact-on-exit

[2018-02-14 17:55] psiinon opened #4396 "Add option to include headers in Invoke parameters"
The current list of parameters supported is: https://github.com/zaproxy/zap-core-help/wiki/HelpAddonsInvokeOptions
Adding the option to include header params, eg "%header-User-Agent%" would be very useful, as would adding the history ID.
Requested via irc.
The relevant code is https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/invoke/InvokeAppWorker.java

[2018-02-14 18:27] rezen commented on #4396
##### `%msgid%`
To get the message id history reference which a script can pull from the full message data from the api `JSON/core/view/message/?zapapiformat=JSON&id=%msgid%`
The msgid would be pull from `msg.getHistoryRef().getHistoryId()`

##### `%header-{{ key }}%`
Any template tag with a header prefix would fetch the header by name of the suffix key.
`msg.getRequestHeader().getHeader(key)`

Ex

[2018-02-14 19:25] thc202 commented on #4396
Note that the source of the help page is in:
https://github.com/zaproxy/zap-extensions/blob/beta/src/org/zaproxy/zap/extension/invoke/resources/help/contents/options.html

the wiki is updated when the add-on is released.

[2018-02-15 02:28] renatofasoli opened #4403 "html report generation uses stale info relative to core/action/deleteAlert and includes deleted alerts"
ZAP 2.7.0 added the core/action/deleteAlert endpoint to delete individual alerts.  I've noticed that after deleting an alert via deleteAlert, the set of alerts shown in the ZAP GUI is correctly updated, the number of alerts returned by core/view/numberOfAlerts is revised correctly, and the set of alerts found by traversing the set of alerts via core/view/alert is revised correctly.

Unfortunately,

[2018-02-15 05:45] CaptainFreak commented on #3572
So this will be a part of Active Scanner or it will be a part of zap-extensions ?

[2018-02-15 07:50] kingthorin commented on #3572
It should be a new scan rule in the aextensions lpha branch:
https://github.com/zaproxy/zap-extensions/tree/alpha/src/org/zaproxy/zap/extension/ascanrulesAlpha

[2018-02-15 13:45] thc202 opened #4405 "NPE with Context Alert Filters in daemon mode"
Issue reported in OWASP ZAP User Group: https://groups.google.com/d/topic/zaproxy-users/6kPcTT9RqeE/discussion

Steps to reproduce the issue:
1. Run ZAP in daemon mode (and with Context Alert Filters add-on);
2. Create a context;
3. Delete that context;
4. Proxy/send HTTP messages that would raise an alert
5. There should be some exceptions in the log/output:
[code]

Add-on:
Context Alert Filters

[2018-02-15 15:42] thc202 commented on #4405
Fixed in zaproxy/zap-extensions#1377.

[2018-02-15 15:42] #4405 closed

[2018-02-15 15:48] thc202 commented on #2379
Forgot this issue... This was fixed in zaproxy/zap-extensions#939. Released in version 5.

[2018-02-15 15:48] #2379 closed

[2018-02-15 16:55] thc202 commented on #4405
Released in version 7 of Context Alert Filters add-on.

[2018-02-15 17:32] psotos opened #4406 "Curl reports proper HTTP headers but Zap indicates they are absent"
**I am using the curl command to test my site:**
[code]
**But Zap reports: (See missing X-XSS-Protection)**

[code]

What is going on here? Is this a bug in ZAP?

[2018-02-15 17:47] kingthorin commented on #4406
Target probably exhibits different behavior based on User Agent.

Or, do you have this community script enabled?
https://github.com/zaproxy/community-scripts/blob/8cdfa77d9449a00ca7fd1b67a09442e4ad319f8f/proxy/Disable%20browser%20XSS%20protection.zst

[2018-02-15 17:50] thc202 commented on #4406
The scanner is also checking if the header is set to 1.

[2018-02-15 17:56] psotos commented on #4406
@kingthorin I've just downloaded the standard ZAP application. So unless that community script is included and active by default then I do not have it.
We are using node along with expressjs 4.x to serve up the website. I am using helmet for security settings, and all other assests like static css, etc., are coming up as good to go. Its only the root URL which is flagged as not having XSS Protecti

[2018-02-15 18:18] thc202 commented on #4406
No, that's not enabled by default.

Depends on how the message is being sent, are you proxying or sending the messages from within ZAP? (e.g. Manual Request Editor [1])

Have you tried proxy through ZAP with curl?

[1] https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsMan_req

[2018-02-15 18:21] thc202 commented on #4406
The default User-Agent used by ZAP is defined in Options > Connection
https://github.com/zaproxy/zap-core-help/wiki/HelpUiDialogsOptionsConnection#default-user-agent

[2018-02-15 19:01] psotos commented on #4406
I have the answer. Helment for NodeJs Unsets this header for IE browsers, since older browsers have a known vulnerability. So the user agent comment helped me to resolve this issue. Thanks to both of you!

https://github.com/helmetjs/x-xss-protection

[2018-02-15 19:27] kingthorin commented on #4406
Thanks for letting us know.

[2018-02-15 19:27] #4406 closed

[2018-02-16 08:16] thc202 commented on #4396
Fixed in zaproxy/zap-extensions#1373.

[2018-02-16 08:16] #4396 closed

[2018-02-16 10:35] CaptainFreak commented on #3572
After Building the extensions and loading .zap file of ascan rules to the zap , Its giving following error after running scans against vulnerable host:
` Declared "ascanrule" was not found: org.zaproxy.zap.extension.ascanrulesAplha.XSLTInjection`
what am i missing here?

[2018-02-16 10:37] thc202 commented on #3572
There's a typo in the package `ascanrulesAplha`.

[2018-02-16 11:13] CaptainFreak commented on #3572
Oops ! Thanks. And also as other scan rules have used `Constant.message.getString()` for getting info about Vuln form I18n . How i can do that?

[2018-02-16 11:26] thc202 commented on #3572
You need to add the messages you want/need to the [`Messages.properties`](https://github.com/zaproxy/zap-extensions/blob/alpha/src/org/zaproxy/zap/extension/ascanrulesAlpha/resources/Messages.properties) file of the add-on.

[2018-02-16 15:36] thc202 commented on #4295
I'd suggest creating the add-on now (no need to wait for more functionality), in its own add-on it can be promoted more easily (a tweak in the add-on manifest). @kingthorin, @psiinon thoughts?

Regarding the library, it's like the `fatJar` you are already producing but without `burp-extender-api` :)

[2018-02-16 15:39] kingthorin commented on #4295
After the current PR is dealt with. If we are then happy promoting this to Beta. let's separate it out at that point? (I'm happy to tackle the work.)

[2018-02-16 15:41] thc202 commented on #4295
Sounds good to me.

[2018-02-16 16:11] thc202 opened #4408 "Reinstate locale mapping"
From zaproxy/zap-extensions#1358.

ZAP is not picking up translations from several languages (e.g. Indonesian). This is caused by an "incompatibility" in the language codes (more details in [JDK-4778440](https://bugs.java.com/view_bug.do?bug_id=4778440)). In previous ZAP versions the locale/language code mapping was being done after downloading the translations files from Crowdin, but that was rem

[2018-02-16 18:11] CaptainFreak commented on #3572
Addresed in [#1384](https://github.com/zaproxy/zap-extensions/pull/1384/commits/2a11c681c03596fcbdf8c037bec573f8ed9461a3)
Thanks @psiinon @kingthorin @thc202 @juhakivekas . Will improve it more as suggested. It Always feels good to submit first PR in your favourite tools. :)

[2018-02-17 15:49] ssnmworld opened #4411 "URL Scanning for different environments"
I am using ZAP for scanning APIs and web sites. One requirement is to create a session using the JUnit tests and other testing scripts, and have the ability to run it on different hosting environments like QA and UAT, where the baseurl would be different. Is there any way, I can only switch the baseurl of the application, but still have the ability to scan the session.

I tried exporting the urls,

[2018-02-17 16:15] veggiespam commented on #4295
I believe the current PR zaproxy/issues/4295 is ready.  After that, I'll work with @kingthorin to move this into an independent library.

[2018-02-17 16:43] thc202 commented on #4411
This is a recurrent request, it's not possible at the moment, one can workaround that by replacing the URL when ZAP sends the requests (for example, using a HTTP Sender script).

Merging into #682, please, let us know if the Copy/Paste proposal would address your use case (if not, provide more details on how you would use the feature).

[2018-02-17 16:43] #4411 closed

[2018-02-17 16:52] kingthorin commented on #4411
The other option might be to use a hosts file entry to override DNS.

[2018-02-18 05:57] CaptainFreak commented on #562
Would like to tackle this.
https://www.bugcrowd.com/discovering-subdomains/
Some methodologies stated in the blog can be used. I guess @psiinon is yet to write that post about extensions. A detailed to-do list will be really good for reference.

[2018-02-18 18:13] varshav21 commented on #4270
I would like to take on this issue. Can anybody guide me on where I must add this function?

[2018-02-19 06:10] FastNinja commented on #4332
Hi, I fixed it with the following workaround:

1. Generate token
[code]
BEARER_AUTH="Bearer "$ACCESS_TOKEN
echo $BEARER_AUTH

echo "----> Building prop file:"
echo  "replacer.full_list(0).description=auth1" >> auth.prop
echo  "replacer.full_list(0).enabled=true" >> auth.prop
echo  "replacer.full_list(0).matchtype=REQ_HEADER" >> auth.prop
echo  "replacer.full_list(0).matchstr=Authorization" >> auth

[2018-02-19 08:39] thc202 commented on #4332
Nice! Are you using stable image?

[2018-02-19 09:34] thc202 commented on #4295
That can be started once the Passive scanner rules (alpha) add-on is released.

[2018-02-19 16:21] thc202 commented on #4396
Released in version 9 of Invoke Applications add-on.

[2018-02-20 05:26] setzamora opened #4417 "Error creating new context on zap headless mode via zap python api"
Two issues:

1. Unable to remove the default context
2. Unable to create a new context

[code]

I'm getting this error. The zap daemon is confirmed to be running.

[code]

[2018-02-20 09:04] thc202 commented on #4417
Could you check the ZAP output/log? The Default Context might not be present.

I'm not able to reproduce the exception provided. Which version of the API client are you using?

[2018-02-20 09:30] FastNinja commented on #4332
I have been using -live and -weekly with the same result ...what is the problem ?

[2018-02-20 09:38] thc202 commented on #4332
That's odd, are you using the latest images? How are you escaping the header value?

[2018-02-20 11:09] kingthorin commented on #2917
@psiinon @thc202 do you think it's necessary to register a new plugin ID for this?

[2018-02-20 11:12] thc202 commented on #2917
No, if it's going to be changed the current scanner (that's the plan, right?).

[2018-02-20 11:23] Grunny commented on #2917
Yeah, I think it would just be to change the current scanner. I had a PoC for it working a while ago, but the DOM XSS scanner had issues opening browsers at the time so I left it.

[2018-02-20 11:50] kingthorin commented on #2917
Well I was going to add a second one based on AbstractAppParamPlugin. At least that was my original plan. (That’s what I’ve got setup so far: using the same name, I’d, etc)

[2018-02-20 11:51] kingthorin commented on #2917
I guess with a separate name/id then users have greater flexibility?

[2018-02-20 15:53] trallgorm commented on #4332
I had the exact same issue as OP, I'm using the owasp/zap2docker-weekly image and escaping it with single quotes but it still doesn't work.

[2018-02-20 16:08] thc202 commented on #4332
Could you provide the image ID?

[2018-02-20 18:29] trallgorm commented on #4332
I tried it with the zap2docker-live image, same issue. Image ID is 65d29d0ab1ef

[2018-02-20 18:34] thc202 commented on #4332
Thanks, reopening, the fix is not working properly (while the args are correctly parsed, when passed to docker and then ZAP they are no longer interpreted correctly).

[2018-02-21 09:30] #4332 closed

[2018-02-21 11:00] #4408 closed

[2018-02-21 12:00] thc202 commented on #4108
Released in version 15 of WebSockets add-on.

[2018-02-21 12:00] thc202 commented on #4149
Released in version 15 of WebSockets add-on.

[2018-02-21 12:19] kingthorin commented on #4295
@veggiespam are you going to put together a jar for ILS?

I’ll start putting together a PR for the beta promotion and separation from pscan. To be followed quickly by a PR removing it from alpha.

[2018-02-21 13:03] thc202 commented on #4295
The move from pscan to a new add-on can be done in just one PR (the add-on can define its own status).

[2018-02-21 13:18] kingthorin commented on #4295
But don't we want it to reside in the beta branch? Or are we really close to flattening things and it not making any difference?

[2018-02-21 13:24] thc202 commented on #4295
They no longer need to be in a specific branch (add-on status no longer depends on where they are) and the latter.

[2018-02-21 13:27] kingthorin commented on #4295
Great! :+1:

[2018-02-21 13:31] veggiespam commented on #4295
I'm trying to figure out Gradle now, to create a Burp jar and a ZAP jar.  Give me a day to learn it for myself before I cry wolf for help.

[2018-02-21 13:32] thc202 commented on #4332
@trallgorm or @FastNinja would you mind trying with latest live image? It should be working properly now. Tested with the space escaped and with the config value single quoted:
 - `-config replacer.full_list(0).replacement=Bearer\ $ACCESS_TOKEN`
 - `-config 'replacer.full_list(0).replacement=Bearer $ACCESS_TOKEN'`

[2018-02-21 13:45] thc202 commented on #4277
Fixed in #4349.

[2018-02-21 13:45] #4277 closed

[2018-02-21 15:45] qs-at-up opened #4422 "Spider Scan does not understand HTML 5 form syntax"
Using HTML 5 syntax in POST forms is not understandable for the ZAP Spider.

The BodgeIt store, for example, uses oldschool form HTML and this works with ZAP:

[code]

But there exists a different syntax according to HTML 5 (introduced 2014):
https://www.w3schools.com/tags/att_input_form.asp
It is meant for input fields located outside the HTML form (but still being part of the form).
If you chang

[2018-02-21 15:56] trallgorm commented on #4332
Seems to be working for me now, thanks a lot for a very quick fix!

[2018-02-21 16:00] thc202 commented on #4332
Cool, thanks for trying that!

[2018-02-21 17:15] kingthorin commented on #4295
See https://github.com/zaproxy/zap-extensions/pull/1408

[2018-02-21 17:50] thc202 commented on #4295
@veggiespam could you provide more details about the new features intended for the new add-on? Wondering if that will affect the name/description of the add-on/extension, package and so on.

[2018-02-21 18:08] nhegde610 commented on #2964
Hi,
I want to take up this issue. I have looked through the code and pretty much understood how to fix this issue. However, I don't know which files should I edit to create a config option in the options window. If possible, I would like to get some answers regarding this.

[2018-02-21 18:22] thc202 commented on #2964
I guess this would go under Options > Display, if so, the classes that need to be changed are [`org.parosproxy.paros.extension.option.OptionsViewPanel`](https://github.com/zaproxy/zaproxy/blob/ca3ff4cfb7d34e91ab31ccccfa7ffb03883218df/src/org/parosproxy/paros/extension/option/OptionsViewPanel.java) (this one creates the Display panel) and  `OptionsParamView` (reads and persists the corresponding op

[2018-02-22 07:34] omerlh opened #4426 "Zap's Python SDK tests failed to run in Docker"
As reported on zaproxy/zap-api-python#22, when running the testing in Docker it fails with following error:
[code]
Not sure why this happend though...